[KCM Locale]
Name=Chad
Name[af]=Chad
Name[ar]=التشاد
Name[as]=চাড
Name[ast]=Chad
Name[be]=Чад
Name[be@latin]=Čad
Name[bg]=Чад
Name[bn]=চ্যাড
Name[bn_IN]=চাড
Name[br]=Tchad
Name[bs]=Čad
Name[ca]=Txad
Name[ca@valencia]=Txad
Name[cs]=Čad
Name[csb]=Czad
Name[cy]=Tsiad
Name[da]=Tchad
Name[de]=Tschad
Name[el]=Τσαντ
Name[en_GB]=Chad
Name[eo]=Ĉado
Name[es]=Chad
Name[et]=Tšaad
Name[eu]=Txad
Name[fa]=چاد
Name[fi]=Tšad
Name[fr]=Tchad
Name[fy]=Tsjaad
Name[ga]=Sead
Name[gd]=An t-Seàd
Name[gl]=Chad
Name[gu]=ચાડ
Name[he]=צ'אד
Name[hi]=चाड
Name[hne]=चाड
Name[hr]=Čad
Name[hsb]=Čad
Name[hu]=Csád
Name[ia]=Chad
Name[id]=Chad
Name[is]=Tsjad
Name[it]=Ciad
Name[ka]=ჩადი
Name[kk]=Чад
Name[km]=ឆាដ
Name[kn]=ಚಾಡ್
Name[ko]=차드
Name[ku]=Çad
Name[lt]=Chad
Name[lv]=Čada
Name[mai]=चाड
Name[mk]=Чад
Name[ml]=ചാഡ്
Name[mr]=चाड
Name[ms]=Chad
Name[nb]=Tsjad
Name[nds]=Tschad
Name[ne]=चाड
Name[nl]=Tsjaad
Name[nn]=Tsjad
Name[oc]=Chad
Name[or]=ଚାଦ
Name[pa]=ਚਾਂਦ
Name[pl]=Czad
Name[pt]=Chade
Name[pt_BR]=Chade
Name[ro]=Ciad
Name[ru]=Чад
Name[se]=Čad
Name[si]=Chad
Name[sk]=Čad
Name[sl]=Čad
Name[sr]=Чад
Name[sr@ijekavian]=Чад
Name[sr@ijekavianlatin]=Čad
Name[sr@latin]=Čad
Name[sv]=Tchad
Name[ta]=சாட்
Name[te]=చాద్
Name[tg]=Чад
Name[th]=ชาด
Name[tr]=Çad
Name[ug]=چاد
Name[uk]=Чад
Name[uz]=Chad
Name[uz@cyrillic]=Чад
Name[vi]=Chad
Name[wa]=Tchad
Name[x-test]=xxChadxx
Name[zh_CN]=乍得
Name[zh_TW]=查德
Region=centralafrica
Languages=fr,ar
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XAF
CurrencyCode=XAF
