<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  
  <vendor>SystemService</vendor>
  <vendor_url>https://launchpad.net/system-service</vendor_url>

  <action id="com.ubuntu.systemservice.getproxy">
    <description gettext-domain="system-service">Get current global proxy</description>
    <message gettext-domain="system-service">System policy prevents querying proxy settings</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.ubuntu.systemservice.setproxy">
    <description gettext-domain="system-service">Set current global proxy</description>
    <message gettext-domain="system-service">System policy prevents setting proxy settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.ubuntu.systemservice.setnoproxy">
    <description gettext-domain="system-service">Set current global proxy exception</description>
    <message gettext-domain="system-service">System policy prevents setting no_proxy settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.ubuntu.systemservice.setkeyboard">
    <description gettext-domain="system-service">Set current global keyboard</description>
    <message gettext-domain="system-service">System policy prevents setting global keyboard settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.ubuntu.systemservice.getkeyboard">
    <description gettext-domain="system-service">Get current global keyboard</description>
    <message gettext-domain="system-service">System policy prevents querying keyboard settings</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.ubuntu.systemservice.ispkgsystemlocked">
    <description gettext-domain="system-service">Check if the package system is locked</description>
    <message gettext-domain="system-service">System policy prevents querying package system lock</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

</policyconfig>