<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Ubiquity</vendor>
  <vendor_url>https://wiki.ubuntu.com/Ubiquity</vendor_url>
  <icon_name>ubiquity</icon_name>

  <action id="com.ubuntu.ubiquity.ubiquity">
    <description>Install Ubuntu on your machine</description>
    <description xml:lang="am">ኡቡንቱን በዚህ ኮምፒዩተር ላይ መግጠሚያ</description>
    <description xml:lang="ar">ثبّت أوبونتو على جهازك</description>
    <description xml:lang="ast">Instalar Ubuntu nel to equipu</description>
    <description xml:lang="be">Усталяваць Ubuntu на ваш камп'ютар</description>
    <description xml:lang="bg">Инсталиране Ubuntu на този компютър</description>
    <description xml:lang="bn">আপনার কম্পিউটারে উবুন্টু ইন্সটল করুন</description>
    <description xml:lang="bs">Instaliraj Ubuntu na vašu mašinu</description>
    <description xml:lang="ca">Instal·lacio de l'Ubuntu en aquest ordinador</description>
    <description xml:lang="cs">Nainstalovat Ubuntu na váš počítač</description>
    <description xml:lang="da">Installér Ubuntu på din maskine</description>
    <description xml:lang="de">Ubuntu auf Ihrem Gerät installieren</description>
    <description xml:lang="el">Εγκατάσταση του Ubuntu στον υπολογιστή σας</description>
    <description xml:lang="eo">Instali Ubuntu ĉe via komputilo</description>
    <description xml:lang="es">Instalar Ubuntu en su equipo</description>
    <description xml:lang="et">Paigalda Ubuntu oma masinasse</description>
    <description xml:lang="eu">Instalatu Ubuntu zure makinan</description>
    <description xml:lang="fi">Asenna Ubuntu koneellesi</description>
    <description xml:lang="fr">Installer Ubuntu sur votre ordinateur</description>
    <description xml:lang="ga">Suiteáil Ubuntu ar do ghléas</description>
    <description xml:lang="gl">Instalar Ubuntu na súa máquina</description>
    <description xml:lang="gu">ઉબુનતું તમારા સંગણક પર સ્થાપિત કરો</description>
    <description xml:lang="he">התקנת אובונטו על המחשב שלך</description>
    <description xml:lang="hi">उबुन्टु को इस मशीन पर स्थापित करें</description>
    <description xml:lang="hr">Instaliraj Ubuntu na računalo</description>
    <description xml:lang="hu">Az Ubuntu telepítése az Ön számítógépére</description>
    <description xml:lang="id">Pasang Ubuntu di mesin Anda</description>
    <description xml:lang="it">Installa Ubuntu sul computer</description>
    <description xml:lang="ja">Ubuntuをコンピューターにインストールします</description>
    <description xml:lang="kk">Ubuntu-ны мына компьютерге орнату</description>
    <description xml:lang="km">ដំឡើង​ Ubuntu ​នៅ​លើ​ម៉ាស៊ីន​របស់​អ្នក</description>
    <description xml:lang="ko">우분투를 컴퓨터에 설치합니다.</description>
    <description xml:lang="ku">Ubuntu li makîneya xwe saz bike</description>
    <description xml:lang="lt">Įdiegti Ubuntu sistemą į kompiuterį</description>
    <description xml:lang="lv">Instalēt Ubuntu šajā datorā</description>
    <description xml:lang="ml">നിങ്ങളുടെ കമ്പ്യൂട്ടറിൽ ഉബുണ്ടു ഇൻസ്റ്റോൾ ചെയ്യുക</description>
    <description xml:lang="mr">उबुंटू तुमच्या संगणकावर स्थापित करा</description>
    <description xml:lang="ne">आफ्नो मिसिन मा उबुन्टु स्थापना गर्नुहोस्</description>
    <description xml:lang="nl">Ubuntu installeren op uw computer</description>
    <description xml:lang="pa">ਉਬਤੂੰ ਨੂੰ ਆਪਣੀ ਮਸ਼ੀਨ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ</description>
    <description xml:lang="pl">Zainstaluj Ubuntu na swoim komputerze</description>
    <description xml:lang="pt">Instalar o Ubuntu no seu computador</description>
    <description xml:lang="pt_BR">Instalar Ubuntu na sua máquina</description>
    <description xml:lang="ro">Instalează Ubuntu pe calculator</description>
    <description xml:lang="ru">Установить Ubuntu на этот компьютер</description>
    <description xml:lang="sk">Inštalovať Ubuntu na váš počítač</description>
    <description xml:lang="sl">Namestite Ubuntu na svoj računalnik</description>
    <description xml:lang="sq">Instalo Ubuntu në makinën tënde</description>
    <description xml:lang="sr">Инсталирајте Убунту на овом рачунару</description>
    <description xml:lang="sv">Installera Ubuntu på din dator</description>
    <description xml:lang="ta">உங்கள் கணினியில் உபுண்டுவை நிறுவு</description>
    <description xml:lang="th">ติดตั้ง Ubuntu บนเครื่องของคุณ</description>
    <description xml:lang="tr">Ubuntu'yu makinenize kurun</description>
    <description xml:lang="uk">Встановити Ubuntu на Вашій машині</description>
    <description xml:lang="vi">Cài đặt Ubuntu vào máy tính của bạn</description>
    <description xml:lang="zh_CN">在您的机器上安装 Ubuntu</description>
    <description xml:lang="zh_TW">將 Ubuntu 安裝至電腦</description>
    <message>Authentication is required to install your machine</message>
    <message xml:lang="am">ማረጋገጫ ያስፈልጋል በዚህ ኮምፒዩተር ላይ ለ መግጠም</message>
    <message xml:lang="ar">الاستيثاق مطلوب لتثبيت جهازك</message>
    <message xml:lang="ast">Necesítase autenticación pa instalar el to equipu</message>
    <message xml:lang="be">Для ўсталявання патрабуецца аўтэнтыфікацыя</message>
    <message xml:lang="bg">Нужна е автентификация, за да завършите инсталацията</message>
    <message xml:lang="bn">আপনার কম্পিউটারে ইন্সটল করতে অনুমতি প্রয়োজন</message>
    <message xml:lang="bs">Potrebna je autentifikacija za instalaciju na vašu mašinu</message>
    <message xml:lang="ca">Cal autenticar-se per dur a terme la instal·lació</message>
    <message xml:lang="cs">Pro instalaci na váš počítač je vyžadováno ověření</message>
    <message xml:lang="da">Der kræves godkendelse for at installere på din maskine</message>
    <message xml:lang="de">Zur Installation Ihres Gerätes ist eine Legitimierung erforderlich</message>
    <message xml:lang="el">Χρειάζεται έλεγχος αυθεντικότητας χρήστη για την εγκατάσταση στον υπολογιστή σας</message>
    <message xml:lang="eo">Aŭtentigo nepras por instali vian komputilon</message>
    <message xml:lang="es">Se requiere de autenticación para instalar su equipo</message>
    <message xml:lang="et">Masinasse paigaldamiseks on vajalik autentimine</message>
    <message xml:lang="eu">Zure makina instalatzeko autentifikazioa ezinbestekoa da</message>
    <message xml:lang="fi">Koneelle asennus vaatii tunnistautumisen</message>
    <message xml:lang="fr">Il est nécessaire de s'authentifier pour l'installer sur votre machine</message>
    <message xml:lang="ga">Tá fíordheimhniú riachtanach chun shuiteáil ar do ghléas</message>
    <message xml:lang="gl">Precísase autenticación para a instalación na súa máquina</message>
    <message xml:lang="gu">તમારા સંગણક પર સ્થાપના કરવા પ્રમાણીકરણ જોઈએ</message>
    <message xml:lang="he">נדרש אימות לצורך התקנה על המחשב שלך</message>
    <message xml:lang="hi">आपके तंत्र को स्थापित करने  के लिए प्रमाणीकरण की आवश्यकता है</message>
    <message xml:lang="hr">Ovjera je potrebna za instalaciju na računalo</message>
    <message xml:lang="hu">Azonosítás szükséges a számítógépére történő telepítéshez</message>
    <message xml:lang="id">Otentikasi diperlukan untuk pemasangan di mesin Anda</message>
    <message xml:lang="it">È richiesto autenticarsi per poter effetturare un'installazione</message>
    <message xml:lang="ja">インストールするには認証が必要です</message>
    <message xml:lang="kk">Осы компьютерге орнату үшін аутенфикация керек</message>
    <message xml:lang="km">ទាមទារ​ការ​ផ្ទៀងផ្ទាត់​ដើម្បី​ដំឡើង​ម៉ាស៊ីន​របស់​អ្នក</message>
    <message xml:lang="ko">이 컴퓨터에 설치하려면 인증이 필요합니다.</message>
    <message xml:lang="ku">Ji bo sazkirina li makîneya te de, piştrastkirin pêwîst e</message>
    <message xml:lang="lt">Sistemos įdiegimui reikia patvirtinti tapatybę</message>
    <message xml:lang="lv">Jāautentificējas, lai instalētu šajā datorā</message>
    <message xml:lang="ml">നിങ്ങളുടെ കമ്പ്യൂട്ടറിൽ ഉബുണ്ടു ഇൻസ്റ്റോൾ ചെയ്യാൻ കുറച്ചു കൂടി ആധികാരികത വരുത്താനുണ്ട്</message>
    <message xml:lang="mr">तुमच्या संगणकावर स्थापित करण्यासाठी प्रमाणीकरण आवश्यक आहे</message>
    <message xml:lang="ne">आफ्नो मिसिनमा स्थापित गर्न प्रमाणीकरण आवश्यक छ</message>
    <message xml:lang="nl">Voor installatie op uw computer is authenticatie vereist</message>
    <message xml:lang="pa">ਤੁਹਾਡੀ ਮਸ਼ੀਨ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰਨ ਲਈ ਪਰਮਾਣਿਤ ਹੋਣ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Aby kontynuować instalację, wymagana jest autoryzacja</message>
    <message xml:lang="pt">É necessária autenticação para instalar o seu computador</message>
    <message xml:lang="pt_BR">Autenticação é necessária para instalar em sua máquina</message>
    <message xml:lang="ro">Autentificare necesară pentru instalarea pe calculator</message>
    <message xml:lang="ru">Для установки на этот компьютер необходима аутентификация</message>
    <message xml:lang="sk">Na inštaláciu Ubuntu je potrebné overiť vašu totožnosť</message>
    <message xml:lang="sl">Za namestitev na računalnik je zahtevana overitev</message>
    <message xml:lang="sq">Kërkohet identifikimi për instalimin në makinën tënde</message>
    <message xml:lang="sr">Треба да потврдите идентитет да бисте инсталирали на вашем рачунару</message>
    <message xml:lang="sv">Autentisering krävs för att installera på din dator</message>
    <message xml:lang="ta">உங்கள் கணினியில் நிறுவ அனுமதி வேண்டும்</message>
    <message xml:lang="th">จำเป็นต้องยืนยันตัวตนเพื่อติดตั้งลงบนเครื่องของคุณ</message>
    <message xml:lang="tr">Makinenize kurulum için kimlik doğrulama gerekiyor</message>
    <message xml:lang="uk">Потрібна автентифікація для встановлення на Вашій машині</message>
    <message xml:lang="vi">Bạn sẽ cần xác thực để cài đặt máy tính của bạn</message>
    <message xml:lang="zh_CN">安装到机器上需要认证</message>
    <message xml:lang="zh_TW">要先核對身分才能安裝至電腦</message>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/ubiquity</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.ubuntu.ubiquity.oem-config-prepare">
    <description>Install Ubuntu on your machine</description>
    <description xml:lang="am">ኡቡንቱን በዚህ ኮምፒዩተር ላይ መግጠሚያ</description>
    <description xml:lang="ar">ثبّت أوبونتو على جهازك</description>
    <description xml:lang="ast">Instalar Ubuntu nel to equipu</description>
    <description xml:lang="be">Усталяваць Ubuntu на ваш камп'ютар</description>
    <description xml:lang="bg">Инсталиране Ubuntu на този компютър</description>
    <description xml:lang="bn">আপনার কম্পিউটারে উবুন্টু ইন্সটল করুন</description>
    <description xml:lang="bs">Instaliraj Ubuntu na vašu mašinu</description>
    <description xml:lang="ca">Instal·lacio de l'Ubuntu en aquest ordinador</description>
    <description xml:lang="cs">Nainstalovat Ubuntu na váš počítač</description>
    <description xml:lang="da">Installér Ubuntu på din maskine</description>
    <description xml:lang="de">Ubuntu auf Ihrem Gerät installieren</description>
    <description xml:lang="el">Εγκατάσταση του Ubuntu στον υπολογιστή σας</description>
    <description xml:lang="eo">Instali Ubuntu ĉe via komputilo</description>
    <description xml:lang="es">Instalar Ubuntu en su equipo</description>
    <description xml:lang="et">Paigalda Ubuntu oma masinasse</description>
    <description xml:lang="eu">Instalatu Ubuntu zure makinan</description>
    <description xml:lang="fi">Asenna Ubuntu koneellesi</description>
    <description xml:lang="fr">Installer Ubuntu sur votre ordinateur</description>
    <description xml:lang="ga">Suiteáil Ubuntu ar do ghléas</description>
    <description xml:lang="gl">Instalar Ubuntu na súa máquina</description>
    <description xml:lang="gu">ઉબુનતું તમારા સંગણક પર સ્થાપિત કરો</description>
    <description xml:lang="he">התקנת אובונטו על המחשב שלך</description>
    <description xml:lang="hi">उबुन्टु को इस मशीन पर स्थापित करें</description>
    <description xml:lang="hr">Instaliraj Ubuntu na računalo</description>
    <description xml:lang="hu">Az Ubuntu telepítése az Ön számítógépére</description>
    <description xml:lang="id">Pasang Ubuntu di mesin Anda</description>
    <description xml:lang="it">Installa Ubuntu sul computer</description>
    <description xml:lang="ja">Ubuntuをコンピューターにインストールします</description>
    <description xml:lang="kk">Ubuntu-ны мына компьютерге орнату</description>
    <description xml:lang="km">ដំឡើង​ Ubuntu ​នៅ​លើ​ម៉ាស៊ីន​របស់​អ្នក</description>
    <description xml:lang="ko">우분투를 컴퓨터에 설치합니다.</description>
    <description xml:lang="ku">Ubuntu li makîneya xwe saz bike</description>
    <description xml:lang="lt">Įdiegti Ubuntu sistemą į kompiuterį</description>
    <description xml:lang="lv">Instalēt Ubuntu šajā datorā</description>
    <description xml:lang="ml">നിങ്ങളുടെ കമ്പ്യൂട്ടറിൽ ഉബുണ്ടു ഇൻസ്റ്റോൾ ചെയ്യുക</description>
    <description xml:lang="mr">उबुंटू तुमच्या संगणकावर स्थापित करा</description>
    <description xml:lang="ne">आफ्नो मिसिन मा उबुन्टु स्थापना गर्नुहोस्</description>
    <description xml:lang="nl">Ubuntu installeren op uw computer</description>
    <description xml:lang="pa">ਉਬਤੂੰ ਨੂੰ ਆਪਣੀ ਮਸ਼ੀਨ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ</description>
    <description xml:lang="pl">Zainstaluj Ubuntu na swoim komputerze</description>
    <description xml:lang="pt">Instalar o Ubuntu no seu computador</description>
    <description xml:lang="pt_BR">Instalar Ubuntu na sua máquina</description>
    <description xml:lang="ro">Instalează Ubuntu pe calculator</description>
    <description xml:lang="ru">Установить Ubuntu на этот компьютер</description>
    <description xml:lang="sk">Inštalovať Ubuntu na váš počítač</description>
    <description xml:lang="sl">Namestite Ubuntu na svoj računalnik</description>
    <description xml:lang="sq">Instalo Ubuntu në makinën tënde</description>
    <description xml:lang="sr">Инсталирајте Убунту на овом рачунару</description>
    <description xml:lang="sv">Installera Ubuntu på din dator</description>
    <description xml:lang="ta">உங்கள் கணினியில் உபுண்டுவை நிறுவு</description>
    <description xml:lang="th">ติดตั้ง Ubuntu บนเครื่องของคุณ</description>
    <description xml:lang="tr">Ubuntu'yu makinenize kurun</description>
    <description xml:lang="uk">Встановити Ubuntu на Вашій машині</description>
    <description xml:lang="vi">Cài đặt Ubuntu vào máy tính của bạn</description>
    <description xml:lang="zh_CN">在您的机器上安装 Ubuntu</description>
    <description xml:lang="zh_TW">將 Ubuntu 安裝至電腦</description>
    <message>Authentication is required to install your machine</message>
    <message xml:lang="am">ማረጋገጫ ያስፈልጋል በዚህ ኮምፒዩተር ላይ ለ መግጠም</message>
    <message xml:lang="ar">الاستيثاق مطلوب لتثبيت جهازك</message>
    <message xml:lang="ast">Necesítase autenticación pa instalar el to equipu</message>
    <message xml:lang="be">Для ўсталявання патрабуецца аўтэнтыфікацыя</message>
    <message xml:lang="bg">Нужна е автентификация, за да завършите инсталацията</message>
    <message xml:lang="bn">আপনার কম্পিউটারে ইন্সটল করতে অনুমতি প্রয়োজন</message>
    <message xml:lang="bs">Potrebna je autentifikacija za instalaciju na vašu mašinu</message>
    <message xml:lang="ca">Cal autenticar-se per dur a terme la instal·lació</message>
    <message xml:lang="cs">Pro instalaci na váš počítač je vyžadováno ověření</message>
    <message xml:lang="da">Der kræves godkendelse for at installere på din maskine</message>
    <message xml:lang="de">Zur Installation Ihres Gerätes ist eine Legitimierung erforderlich</message>
    <message xml:lang="el">Χρειάζεται έλεγχος αυθεντικότητας χρήστη για την εγκατάσταση στον υπολογιστή σας</message>
    <message xml:lang="eo">Aŭtentigo nepras por instali vian komputilon</message>
    <message xml:lang="es">Se requiere de autenticación para instalar su equipo</message>
    <message xml:lang="et">Masinasse paigaldamiseks on vajalik autentimine</message>
    <message xml:lang="eu">Zure makina instalatzeko autentifikazioa ezinbestekoa da</message>
    <message xml:lang="fi">Koneelle asennus vaatii tunnistautumisen</message>
    <message xml:lang="fr">Il est nécessaire de s'authentifier pour l'installer sur votre machine</message>
    <message xml:lang="ga">Tá fíordheimhniú riachtanach chun shuiteáil ar do ghléas</message>
    <message xml:lang="gl">Precísase autenticación para a instalación na súa máquina</message>
    <message xml:lang="gu">તમારા સંગણક પર સ્થાપના કરવા પ્રમાણીકરણ જોઈએ</message>
    <message xml:lang="he">נדרש אימות לצורך התקנה על המחשב שלך</message>
    <message xml:lang="hi">आपके तंत्र को स्थापित करने  के लिए प्रमाणीकरण की आवश्यकता है</message>
    <message xml:lang="hr">Ovjera je potrebna za instalaciju na računalo</message>
    <message xml:lang="hu">Azonosítás szükséges a számítógépére történő telepítéshez</message>
    <message xml:lang="id">Otentikasi diperlukan untuk pemasangan di mesin Anda</message>
    <message xml:lang="it">È richiesto autenticarsi per poter effetturare un'installazione</message>
    <message xml:lang="ja">インストールするには認証が必要です</message>
    <message xml:lang="kk">Осы компьютерге орнату үшін аутенфикация керек</message>
    <message xml:lang="km">ទាមទារ​ការ​ផ្ទៀងផ្ទាត់​ដើម្បី​ដំឡើង​ម៉ាស៊ីន​របស់​អ្នក</message>
    <message xml:lang="ko">이 컴퓨터에 설치하려면 인증이 필요합니다.</message>
    <message xml:lang="ku">Ji bo sazkirina li makîneya te de, piştrastkirin pêwîst e</message>
    <message xml:lang="lt">Sistemos įdiegimui reikia patvirtinti tapatybę</message>
    <message xml:lang="lv">Jāautentificējas, lai instalētu šajā datorā</message>
    <message xml:lang="ml">നിങ്ങളുടെ കമ്പ്യൂട്ടറിൽ ഉബുണ്ടു ഇൻസ്റ്റോൾ ചെയ്യാൻ കുറച്ചു കൂടി ആധികാരികത വരുത്താനുണ്ട്</message>
    <message xml:lang="mr">तुमच्या संगणकावर स्थापित करण्यासाठी प्रमाणीकरण आवश्यक आहे</message>
    <message xml:lang="ne">आफ्नो मिसिनमा स्थापित गर्न प्रमाणीकरण आवश्यक छ</message>
    <message xml:lang="nl">Voor installatie op uw computer is authenticatie vereist</message>
    <message xml:lang="pa">ਤੁਹਾਡੀ ਮਸ਼ੀਨ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰਨ ਲਈ ਪਰਮਾਣਿਤ ਹੋਣ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Aby kontynuować instalację, wymagana jest autoryzacja</message>
    <message xml:lang="pt">É necessária autenticação para instalar o seu computador</message>
    <message xml:lang="pt_BR">Autenticação é necessária para instalar em sua máquina</message>
    <message xml:lang="ro">Autentificare necesară pentru instalarea pe calculator</message>
    <message xml:lang="ru">Для установки на этот компьютер необходима аутентификация</message>
    <message xml:lang="sk">Na inštaláciu Ubuntu je potrebné overiť vašu totožnosť</message>
    <message xml:lang="sl">Za namestitev na računalnik je zahtevana overitev</message>
    <message xml:lang="sq">Kërkohet identifikimi për instalimin në makinën tënde</message>
    <message xml:lang="sr">Треба да потврдите идентитет да бисте инсталирали на вашем рачунару</message>
    <message xml:lang="sv">Autentisering krävs för att installera på din dator</message>
    <message xml:lang="ta">உங்கள் கணினியில் நிறுவ அனுமதி வேண்டும்</message>
    <message xml:lang="th">จำเป็นต้องยืนยันตัวตนเพื่อติดตั้งลงบนเครื่องของคุณ</message>
    <message xml:lang="tr">Makinenize kurulum için kimlik doğrulama gerekiyor</message>
    <message xml:lang="uk">Потрібна автентифікація для встановлення на Вашій машині</message>
    <message xml:lang="vi">Bạn sẽ cần xác thực để cài đặt máy tính của bạn</message>
    <message xml:lang="zh_CN">安装到机器上需要认证</message>
    <message xml:lang="zh_TW">要先核對身分才能安裝至電腦</message>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/oem-config-prepare</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>