<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<vendor>SDDM</vendor>
<vendor_url>https://github.com/sddm/sddm</vendor_url>
<icon_name>kauth-example</icon_name>
   <action id="org.kde.kcontrol.kcmsddm.installtheme" >
      <description xml:lang="ar">ثبّت سمة SDDM</description>
      <description xml:lang="ast">Instalación d'un estilu pa SDDM</description>
      <description xml:lang="ca">Instal·la un tema de l'SDDM</description>
      <description xml:lang="cs">Nainstalovat motiv SDDM</description>
      <description xml:lang="da">Installér et SDDM-tema</description>
      <description xml:lang="de">SDDM-Design installieren</description>
      <description xml:lang="el">Εγκατάσταση ενός θέματος SDDM</description>
      <description>Install an SDDM theme</description>
      <description xml:lang="en_GB">Install an SDDM theme</description>
      <description xml:lang="es">Instalar un tema SDDM</description>
      <description xml:lang="eu">Instalatu SDDM gai bat</description>
      <description xml:lang="fi">Asenna SDDM-teema</description>
      <description xml:lang="fr">Installer un thème SDDM</description>
      <description xml:lang="gl">Instalar un tema de SDDM</description>
      <description xml:lang="he">התקנת ערכת נושא של SDDM</description>
      <description xml:lang="hu">SDDM téma telepítése</description>
      <description xml:lang="id">Instal sebuah tema SDDM</description>
      <description xml:lang="it">Installa un tema di SDDM</description>
      <description xml:lang="ko">SDDM 테마 설치</description>
      <description xml:lang="lt">Įdiegti SDDM apipavidalinimą</description>
      <description xml:lang="nl">SDDM-thema installeren</description>
      <description xml:lang="nn">Installer SDDM-tema</description>
      <description xml:lang="pl">Wgraj wygląd SDDM</description>
      <description xml:lang="pt">Instalar um tema do SDDM</description>
      <description xml:lang="pt_BR">Instalar um tema SDDM</description>
      <description xml:lang="ru">Установка темы SDDM</description>
      <description xml:lang="sk">Nainštalovať tému SDDM</description>
      <description xml:lang="sl">Namesti temo SDDM</description>
      <description xml:lang="sr">Инсталирај тему за СДДМ</description>
      <description xml:lang="sv">Installera ett SDDM-tema</description>
      <description xml:lang="tr">Bir SDDM teması yükle</description>
      <description xml:lang="uk">Встановити тему SDDM</description>
      <description xml:lang="zh_CN">安装 SDDM 主题</description>
      <description xml:lang="zh_TW">安裝 SDDM 主題</description>
      <message xml:lang="ar">يستخرج ملفّ ZIP يحتوي سمة SDDM في مكان سمات SDDM</message>
      <message xml:lang="ast">Estraición d'un estilu pa SDDM nel allugamientu de los estilos pa SDDM</message>
      <message xml:lang="ca">Extreu un fitxer ZIP que contingui un tema de l'SDDM a la ubicació de temes de l'SDDM</message>
      <message xml:lang="cs">Rozbalí soubor zip obsahující motiv SDDM do umístění motivů SDDM</message>
      <message xml:lang="da">Udtrækker en zip-fil som indeholder et SDDM-tema til placeringen for SDDM-temaer</message>
      <message xml:lang="de">Entpackt eine zip-Datei mit einem SDDM-Design an den Speicherplatz für SDDM-Designs</message>
      <message xml:lang="el">Εξάγει μια αρχειοθήκη zip που περιέχει ένα θέμα SDDM στην τοποθεσία θεμάτων SDDM</message>
      <message>Extracts a zip file containing an SDDM theme to the SDDM theme location</message>
      <message xml:lang="en_GB">Extracts a zip file containing an SDDM theme to the SDDM theme location</message>
      <message xml:lang="es">Extrae un archivo zip que contiene un tema SDDM en la ubicación de temas SDDM</message>
      <message xml:lang="eu">Erauzi SDDM gai bat duen zip fitxategi bat SDDM gaien kokalekura</message>
      <message xml:lang="fi">Purkaa SDDM-teeman sisältävän zip-tiedoston SDDM-teemakansioon</message>
      <message xml:lang="fr">Extrait un fichier zip contenant un thème SDDM vers l'emplacement des thèmes SDDM</message>
      <message xml:lang="gl">Extrae un ficheiro zip que contén un tema de SDDM no lugar onde se almacenan os temas de SDDM.</message>
      <message xml:lang="he">חילוץ קובץ ערכת נושא של SDDM למיקום ערכות הנושא של SDDM</message>
      <message xml:lang="hu">Kibont egy SDDM témát tartalmazó ZIP-fájlt az SDDM témák közé</message>
      <message xml:lang="id">Ekstrak sebuah file zip berisi sebuah tema SDDM ke lokasi tema SDDM</message>
      <message xml:lang="it">Estrai un file zip contenente un tema di SDDM nella posizione dei temi di SDDM</message>
      <message xml:lang="ko">SDDM 테마 설치 위치에 SDDM 테마 ZIP 압축 파일 해제</message>
      <message xml:lang="lt"></message>
      <message xml:lang="nl">Pakt een zip-bestand uit met een SDDM-thema naar de SDDM-themalocatie</message>
      <message xml:lang="nn">Pakkar ut ei zip-fil med SDDM-tema til temamappa til SDDM</message>
      <message xml:lang="pl">Wypakowuje plik zip zawierający wygląd SDDM do położenia wyglądów SDDM</message>
      <message xml:lang="pt">Extrai um ficheiro ZIP que contém um tema do SDDM para o local dos temas do SDDM</message>
      <message xml:lang="pt_BR">Extrai um arquivo ZIP contendo um tema SDDM para a localização dos temas SDDM</message>
      <message xml:lang="ru"></message>
      <message xml:lang="sk">Rozbalí zip súbor obsahujúci SDDM tému do umiestnenia tém SDDM</message>
      <message xml:lang="sl"></message>
      <message xml:lang="sr">Распакује ЗИП фајл са темом за СДДМ на одговарајућу локацију</message>
      <message xml:lang="sv">Packar upp en zip-fil som innehåller ett SDDM-tema på platsen för SDDM-teman</message>
      <message xml:lang="tr">SDDM temasını içeren bir zip dosyasını SDDM tema konumuna ayıklar.</message>
      <message xml:lang="uk"></message>
      <message xml:lang="zh_CN">解压缩包含 SDDM 主题的 ZIP 文件，保存到 SDDM 主题路径</message>
      <message xml:lang="zh_TW">解壓縮包含 SDDM 主題的 zip 檔案到 SDDM 主題位置</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
   <action id="org.kde.kcontrol.kcmsddm.reset" >
      <description xml:lang="ast">Reafitamientu d'axustes</description>
      <description xml:lang="ca">Reinicia els paràmetres</description>
      <description xml:lang="cs">Obnovit nastavení</description>
      <description xml:lang="da">Nulstil indstillinger</description>
      <description xml:lang="de">Einstellungen zurücksetzen</description>
      <description>Reset Settings</description>
      <description xml:lang="en_GB">Reset Settings</description>
      <description xml:lang="es">Reiniciar preferencias</description>
      <description xml:lang="eu">Berrezarri ezarpenak</description>
      <description xml:lang="fi">Alusta asetukset</description>
      <description xml:lang="fr">Réinitialiser les paramètres</description>
      <description xml:lang="gl">Restablecer a configuración</description>
      <description xml:lang="id">Set ulang Pengaturan</description>
      <description xml:lang="it">Ripristina le impostazioni</description>
      <description xml:lang="ko">설정 초기화</description>
      <description xml:lang="lt">Atstatyti nuostatas</description>
      <description xml:lang="nl">Instellingen resetten</description>
      <description xml:lang="nn">Tilbakestilla innstillingar</description>
      <description xml:lang="pl">Wyzeruj ustawienia</description>
      <description xml:lang="pt">Repor a Configuração</description>
      <description xml:lang="pt_BR">Restaurar configurações</description>
      <description xml:lang="ru">Сброс параметров</description>
      <description xml:lang="sk">Obnoviť nastavenia</description>
      <description xml:lang="sv">Nollställ inställningar</description>
      <description xml:lang="uk">Скинути параметри</description>
      <description xml:lang="zh_CN">重置设置</description>
      <description xml:lang="zh_TW">重設設定</description>
      <message xml:lang="ast">Reafitamientu de los axustes de SDDM</message>
      <message xml:lang="ca">Reinicia els paràmetres del SDDM de manera que no hi hagin paràmetres d'usuari</message>
      <message xml:lang="cs"></message>
      <message xml:lang="da">Nulstiller SDDM-indstillinger så der ikke er nogen brugerindstillinger</message>
      <message xml:lang="de">SDDM-Einstellungen zurücksetzen und Benutzereinstellungen verwerfen</message>
      <message>Resets SDDM settings so there are not user settings</message>
      <message xml:lang="en_GB">Resets SDDM settings so there are not user settings</message>
      <message xml:lang="es">Reinicia las preferencias de SDDM para que no sean las del usuario</message>
      <message xml:lang="eu">SDDM ezarpenak berrezartzen ditu beraz ez dago erabiltzaile ezarpenik</message>
      <message xml:lang="fi"></message>
      <message xml:lang="fr">Réinitialise les paramètres SDDM de manière à ce qu'il n'y ait pas de paramètres utilisateur</message>
      <message xml:lang="gl">Restabelece a configuración de SDDM de xeito que non teña opcións de usuario</message>
      <message xml:lang="id">Set ulang pengaturan SDDM sehingga tidak ada pengaturan pengguna</message>
      <message xml:lang="it">Ripristina le impostazioni di SDDM in modo che non ci siano impostazioni utente</message>
      <message xml:lang="ko">SDDM 설정 초기화</message>
      <message xml:lang="lt"></message>
      <message xml:lang="nl">SDDM instellingen worden gereset zodat er geen gebruikersinstellingen zijn</message>
      <message xml:lang="nn">Tilbakestill SDDM-innstillingane slik at det ikkje finst brukarinnstillingar</message>
      <message xml:lang="pl"></message>
      <message xml:lang="pt">Repõe a configuração do SDDM para que não existam definições do utilizador</message>
      <message xml:lang="pt_BR">Restaura as configurações do SDDM para não usar as do usuário</message>
      <message xml:lang="ru"></message>
      <message xml:lang="sk"></message>
      <message xml:lang="sv">Nollställer SDDM-inställningar så att det inte finns några användarinställningar</message>
      <message xml:lang="uk">Скидання параметрів SDDM до типових</message>
      <message xml:lang="zh_CN">重置 SDDM 设置，以清除用户设置</message>
      <message xml:lang="zh_TW">重設 SDDM 設定（不再是使用者設定）</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
   <action id="org.kde.kcontrol.kcmsddm.save" >
      <description xml:lang="ar">احفظ اﻹعدادات</description>
      <description xml:lang="ast">Guardáu d'axustes</description>
      <description xml:lang="bs">Sačuvaj postavke</description>
      <description xml:lang="ca">Desa l'arranjament</description>
      <description xml:lang="cs">Uložit nastavení</description>
      <description xml:lang="da">Gem indstillinger</description>
      <description xml:lang="de">Einstellungen speichern</description>
      <description xml:lang="el">Αποθήκευση ρυθμίσεων</description>
      <description>Save Settings</description>
      <description xml:lang="en_GB">Save Settings</description>
      <description xml:lang="es">Guardar preferencias</description>
      <description xml:lang="et">Seadistuste salvestamine</description>
      <description xml:lang="eu">Gorde ezarpenak</description>
      <description xml:lang="fi">Tallenna asetukset</description>
      <description xml:lang="fr">Enregistrer les paramètres</description>
      <description xml:lang="gl">Gardar a configuración</description>
      <description xml:lang="he">שמור הגדרות</description>
      <description xml:lang="hu">Beállítások mentése</description>
      <description xml:lang="ia">Salveguarda preferentias</description>
      <description xml:lang="id">Simpan Pengaturan</description>
      <description xml:lang="it">Salva impostazioni</description>
      <description xml:lang="ko">설정 저장</description>
      <description xml:lang="lt">Įrašyti nuostatas</description>
      <description xml:lang="nb">Lagre innstillinger</description>
      <description xml:lang="nl">Instellingen opslaan</description>
      <description xml:lang="nn">Lagra innstillingar</description>
      <description xml:lang="pa">ਸੈਟਿੰਗ ਸੰਭਾਲੋ</description>
      <description xml:lang="pl">Zapisz ustawienia</description>
      <description xml:lang="pt">Gravar a Configuração</description>
      <description xml:lang="pt_BR">Salvar configurações</description>
      <description xml:lang="ro">Salvează configurările</description>
      <description xml:lang="ru">Сохранение параметров</description>
      <description xml:lang="sk">Uložiť nastavenie</description>
      <description xml:lang="sl">Shrani nastavitve</description>
      <description xml:lang="sr">Сачувај поставке</description>
      <description xml:lang="sv">Spara inställningar</description>
      <description xml:lang="tr">Ayarları Kaydet</description>
      <description xml:lang="uk">Зберегти параметри</description>
      <description xml:lang="zh_CN">保存设置</description>
      <description xml:lang="zh_TW">儲存設定</description>
      <message xml:lang="ar">احفظ الإعدادات في SDDM</message>
      <message xml:lang="ast">Guardáu de los axustes en SDDM</message>
      <message xml:lang="bs">Snimi postavke u SDDM</message>
      <message xml:lang="ca">Desa l'arranjament a l'SDDM</message>
      <message xml:lang="cs">Uložit nastavení v SDDM</message>
      <message xml:lang="da">Gem indstillinger i SDDM</message>
      <message xml:lang="de">Einstellungen in SDDM speichern</message>
      <message xml:lang="el">Αποθήκευση ρυθμίσεων στο SDDM</message>
      <message>Save Settings in SDDM</message>
      <message xml:lang="en_GB">Save Settings in SDDM</message>
      <message xml:lang="es">Guardar preferencias en SDDM</message>
      <message xml:lang="et">Seadistuste salvestamine SDDM-is</message>
      <message xml:lang="eu">Gorde ezarpenak SDDM bertan</message>
      <message xml:lang="fi">Tallenna SDDM-asetukset</message>
      <message xml:lang="fr">Enregistrer les paramètres dans SDDM</message>
      <message xml:lang="gl">Gardar as configuracións en SDDM</message>
      <message xml:lang="he">שמור הגדרות ב־SDDM</message>
      <message xml:lang="hu">Az SDDM beállításainak mentése</message>
      <message xml:lang="id">Simpan Pengaturan di SDDM</message>
      <message xml:lang="it">Salva impostazioni in SDDM</message>
      <message xml:lang="ko">SDDM에 설정 저장</message>
      <message xml:lang="lt">Įrašyti nuostatas į SDDM</message>
      <message xml:lang="nb">Lagre innstillinger i SDDM</message>
      <message xml:lang="nl">Instellingen opslaan in SDDM</message>
      <message xml:lang="nn">Lagra innstillingar i SDDM</message>
      <message xml:lang="pa">SDDM ਵਿੱਚ ਸੈਟਿੰਗ ਸੰਭਾਲੋ</message>
      <message xml:lang="pl">Zapisz ustawienia w SDDM</message>
      <message xml:lang="pt">Gravar a Configuração no SDDM</message>
      <message xml:lang="pt_BR">Salvar configurações no SDDM</message>
      <message xml:lang="ro">Salvează configurările în SDDM</message>
      <message xml:lang="ru">Сохранение параметров диспетчера входа в систему SDDM</message>
      <message xml:lang="sk">Uložiť nastavenia v SDDM</message>
      <message xml:lang="sl">Shrani nastavitve v SDDM</message>
      <message xml:lang="sr">Сачувај поставке у СДДМ‑у</message>
      <message xml:lang="sv">Spara inställningar i SDDM</message>
      <message xml:lang="tr">SDDM içerisinde Ayarları Kaydet</message>
      <message xml:lang="uk">Зберегти параметри у SDDM</message>
      <message xml:lang="zh_CN">保存 SDDM 设置</message>
      <message xml:lang="zh_TW">儲存 SDDM 設定</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
   <action id="org.kde.kcontrol.kcmsddm.sync" >
      <description xml:lang="ast">Sincronización d'axustes</description>
      <description xml:lang="ca">Paràmetres de sincronització</description>
      <description xml:lang="cs">Synchronizovat nastavení</description>
      <description xml:lang="da">Synkronisér indstillinger</description>
      <description xml:lang="de">Einstellungen abgleichen</description>
      <description>Synchronize Settings</description>
      <description xml:lang="en_GB">Synchronise Settings</description>
      <description xml:lang="es">Sincronizar preferencias</description>
      <description xml:lang="eu">Sinkronizatu ezarpenak</description>
      <description xml:lang="fi">Synkronoi asetukset</description>
      <description xml:lang="fr">Synchroniser les paramètres</description>
      <description xml:lang="gl">Sincronizar a configuración</description>
      <description xml:lang="id">Sinkronkan Pengaturan</description>
      <description xml:lang="it">Impostazioni di sincronizzazione</description>
      <description xml:lang="ko">설정 동기화</description>
      <description xml:lang="lt">Sinchronizuoti nuostatas</description>
      <description xml:lang="nl">Instellingen synchroniseren</description>
      <description xml:lang="nn">Synkroniser innstillingar</description>
      <description xml:lang="pl">Synchronizuj ustawienia</description>
      <description xml:lang="pt">Sincronizar a Configuração</description>
      <description xml:lang="pt_BR">Sincronizar configurações</description>
      <description xml:lang="ru">Синхронизация параметров</description>
      <description xml:lang="sk">Synchronizovať nastavenia</description>
      <description xml:lang="sv">Synkronisera inställningar</description>
      <description xml:lang="uk">Синхронізувати параметри</description>
      <description xml:lang="zh_CN">同步设置</description>
      <description xml:lang="zh_TW">同步設定</description>
      <message xml:lang="ast">Sincronización de los axustes del usuariu colos de SDDM</message>
      <message xml:lang="ca">Sincronitza els paràmetres de l'usuari amb els paràmetres del SDDM</message>
      <message xml:lang="cs">Synchronizuje uživatelské nastavení s nastavením SDDM</message>
      <message xml:lang="da">Synkroniserer brugerindstillinger med SDDM-indstillinger</message>
      <message xml:lang="de">Benutzereinstellungen mit den SDDM-Einstellungen abgleichen</message>
      <message>Synchronizes user settings with SDDM settings</message>
      <message xml:lang="en_GB">Synchronises user settings with SDDM settings</message>
      <message xml:lang="es">Sincroniza las preferencias del usuario con las de SDDM</message>
      <message xml:lang="eu">Erabiltzaile ezarpenak SDDM ezarpenekin sinkronizatzen ditu</message>
      <message xml:lang="fi">Synkronoi käyttäjän ja SDDM:n asetukset</message>
      <message xml:lang="fr">Synchroniser les paramètres utilisateur avec les paramètres SDDM</message>
      <message xml:lang="gl">Sincroniza a configuración de usuario coa configuración de SDDM</message>
      <message xml:lang="id">Menyinkronkan pengaturan pengguna dengan pengaturan SDDM</message>
      <message xml:lang="it">Sincronizza le impostazioni utente con quelle di SDDM</message>
      <message xml:lang="ko">사용자 설정과 SDDM 설정 동기화</message>
      <message xml:lang="lt">Sinchronizuoja naudotojo nuostatas su SDDM nuostatomis</message>
      <message xml:lang="nl">Gebruikersinstellingen met SDDM instellingen worden gesynchroniseerd</message>
      <message xml:lang="nn">Synkroniser brukarinnstillingar med SDDM-innstillingar</message>
      <message xml:lang="pl">Synchronizuje ustawienia użytkownika z ustawieniami SDDM</message>
      <message xml:lang="pt">Sincroniza a configuração do utilizador com a configuração do SDDM</message>
      <message xml:lang="pt_BR">Sincroniza as configurações do usuário com as do SDDM</message>
      <message xml:lang="ru">Синхронизация парамеров SDDM с параметрами пользователя</message>
      <message xml:lang="sk">Synchronizuje používateľské nastavenia s nastaveniami SDDM</message>
      <message xml:lang="sv">Synkroniserar användarinställningar med SDDM-inställningar</message>
      <message xml:lang="uk">Синхронізація параметрів користувача із параметрами SDDM</message>
      <message xml:lang="zh_CN">同步用户设置和 SDDM 设置</message>
      <message xml:lang="zh_TW">將使用者設定與 SDDM 設定同步</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
   <action id="org.kde.kcontrol.kcmsddm.uninstalltheme" >
      <description xml:lang="ar">أزل تثبيت سمة SDDM</description>
      <description xml:lang="ast">Desinstalación d'un estilu pa SDDM</description>
      <description xml:lang="ca">Desinstal·la un tema de l'SDDM</description>
      <description xml:lang="cs">Odinstalovat motiv SDDM</description>
      <description xml:lang="da">Afinstallér et SDDM-tema</description>
      <description xml:lang="de">SDDM-Design deinstallieren</description>
      <description xml:lang="el">Απεγκατάσταση ενός θέματος SDDM</description>
      <description>Uninstall an SDDM theme</description>
      <description xml:lang="en_GB">Uninstall an SDDM theme</description>
      <description xml:lang="es">Desinstalar un tema SDDM</description>
      <description xml:lang="eu">Desinstalatu SDDM gai bat</description>
      <description xml:lang="fi">Poista SDDM-teema</description>
      <description xml:lang="fr">Désinstaller un thème SDDM</description>
      <description xml:lang="gl">Desinstalar un tema de SDDM</description>
      <description xml:lang="he">הסרת ערכת נושא של SDDM</description>
      <description xml:lang="hu">SDDM téma eltávolítása</description>
      <description xml:lang="id">Copot sebuah tema SDDM</description>
      <description xml:lang="it">Disinstalla un tema di SDDM</description>
      <description xml:lang="ko">SDDM 테마 삭제</description>
      <description xml:lang="lt">Pašalinti SDDM apipavidalinimą</description>
      <description xml:lang="nl">Een SDDM-thema deïnstalleren</description>
      <description xml:lang="nn">Avinstaller SDDM-tema</description>
      <description xml:lang="pl">Usuń wygląd SDDM</description>
      <description xml:lang="pt">Desinstalar um tema do SDDM</description>
      <description xml:lang="pt_BR">Desinstala um tema SDDM</description>
      <description xml:lang="ru">Удаление темы SDDM</description>
      <description xml:lang="sk">Odinštalovať SDDM tému</description>
      <description xml:lang="sl">Odstrani temo SDDM</description>
      <description xml:lang="sr">Деинсталирај тему за СДДМ</description>
      <description xml:lang="sv">Avinstallerar ett SDDM-tema</description>
      <description xml:lang="tr">Bir SDDM temasını kaldır</description>
      <description xml:lang="uk">Вилучити тему SDDM</description>
      <description xml:lang="zh_CN">卸载 SDDM 主题</description>
      <description xml:lang="zh_TW">解除安裝 SDDM 主題</description>
      <message xml:lang="ar">يزيل تثبيت سمة SDDM مثبّتة بالفعل</message>
      <message xml:lang="ast">Desaniciu d'un tema pa SDDM instaláu enantes</message>
      <message xml:lang="ca">Elimina un tema de l'SDDM instal·lat anteriorment</message>
      <message xml:lang="cs">Odstraní dříve nainstalovaný motiv SDDM</message>
      <message xml:lang="da">Fjerner et tidligere installeret SDDM-tema</message>
      <message xml:lang="de">Entfernt ein vorher installiertes SDDM-Design</message>
      <message xml:lang="el">Αφαίρεση ενός εγκατεστημένου θέματος SDDM</message>
      <message>Removes a previously installed SDDM theme</message>
      <message xml:lang="en_GB">Removes a previously installed SDDM theme</message>
      <message xml:lang="es">Elimina un tema SDDM instalado anteriormente</message>
      <message xml:lang="eu">Aurrez instalatutako SDDM gai bat kentzen du</message>
      <message xml:lang="fi">Poistaa aiemmin asennetun SDDM-teeman</message>
      <message xml:lang="fr">Supprime un thème SDDM précédemment installé</message>
      <message xml:lang="gl">Retira un tema de SDDM instalado previamente.</message>
      <message xml:lang="he">מסיר את ערכת נושא הקודמת של SDDM</message>
      <message xml:lang="hu">Eltávolít egy korábban telepített SDDM témát</message>
      <message xml:lang="id">Menghapus tema SDDM yang terinstal sebelumnya</message>
      <message xml:lang="it">Rimuove un tema di SDDM precedentemente installato</message>
      <message xml:lang="ko">이전에 설치한 SDDM 테마 삭제</message>
      <message xml:lang="lt">Pašalina anksčiau įdiegtą SDDM apipavidalinimą</message>
      <message xml:lang="nl">Verwijdert een eerder geïnstalleerd SDDM-thema</message>
      <message xml:lang="nn">Fjernar eit tidlegare installert SDDM-tema</message>
      <message xml:lang="pl">Usuwa poprzednio wgrany wygląd SDDM</message>
      <message xml:lang="pt">Remove um tema do SDDM instalado anteriormente</message>
      <message xml:lang="pt_BR">Remove um tema SDDM instalado anteriormente</message>
      <message xml:lang="ru">Удаление ранее установленной темы SDDM</message>
      <message xml:lang="sk">Odstráni predtým nainštalovanú tému SDDM</message>
      <message xml:lang="sl">Odstrani predhodno nameščeno temo SDDM</message>
      <message xml:lang="sr">Уклања претходно инсталирану тему за СДДМ</message>
      <message xml:lang="sv">Tar bort ett tidigare installerat SDDM-tema</message>
      <message xml:lang="tr">Daha önce yüklenmiş bir SDDM temasını kaldırır</message>
      <message xml:lang="uk">Вилучає раніше встановлену тему SDDM</message>
      <message xml:lang="zh_CN">移除已经安装的 SDDM 主题</message>
      <message xml:lang="zh_TW">移除先前安裝的 SDDM 主題</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
</policyconfig>
