<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The GNOME Project</vendor>
  <vendor_url>http://www.gnome.org/</vendor_url>
  <action id="org.gnome.controlcenter.remote-login-helper">
    <description>Enable or disable remote login</description>
    <description xml:lang="zh_TW">啟用或停用遠端登入</description>
    <description xml:lang="zh_HK">啟用或停用遠端登入</description>
    <description xml:lang="zh_CN">启用或禁用远程登录</description>
    <description xml:lang="vi">Bật hoặc tắt đăng nhập từ xa</description>
    <description xml:lang="uk">Увімкнути або вимкнути віддалений вхід</description>
    <description xml:lang="ug">يىراقتىن كىرىشنى ئىناۋەتلىك ۋە ئىناۋەتسىز قىلىدۇ</description>
    <description xml:lang="tr">Uzaktan bağlanmayı aç</description>
    <description xml:lang="th">เปิดหรือปิดการเข้าระบบผ่านเครือข่าย</description>
    <description xml:lang="tg">Фаъол ё ғайрифаъол кардани воридшавии дурдаст</description>
    <description xml:lang="te">రిమోట్ లాగిన్ చేతనం లేదా అచేతనం చేయి</description>
    <description xml:lang="ta">தொலைநிலை புகுபதிவை செயல்படுத்து அல்லது முடக்கு</description>
    <description xml:lang="sv">Aktivera eller inaktivera fjärrinloggning</description>
    <description xml:lang="sr@latin">Uključite ili isključite udaljeno prijavljivanje</description>
    <description xml:lang="sr">Укључите или искључите удаљено пријављивање</description>
    <description xml:lang="sl">Omogoči ali onemogoči oddaljene prijave</description>
    <description xml:lang="sk">Povoliť alebo zakázať vzdialené prihlásenie</description>
    <description xml:lang="ru">Включение или отключение удалённого входа в систему</description>
    <description xml:lang="ro">Activare sau dezactivare autentificare la distanță</description>
    <description xml:lang="pt_BR">Habilitar ou desabilitar sessão remota</description>
    <description xml:lang="pt">Ativar ou desativar início de sessão remoto</description>
    <description xml:lang="pl">Włączenie lub wyłączenie zdalnego logowania</description>
    <description xml:lang="pa">ਰਿਮੋਟ ਲਾਗਇਨ ਸਮਰੱਥ ਜਾਂ ਅਸਮਰੱਥ</description>
    <description xml:lang="or">ସୁଦୂର ଲଗଇନ୍‌କୁ ସକ୍ରିୟ ଅଥବା ନିଷ୍କ୍ରିୟ କରନ୍ତୁ</description>
    <description xml:lang="oc">Activar o desactivar una connexion distanta</description>
    <description xml:lang="nl">Aanmelden op afstand in- of uitschakelen</description>
    <description xml:lang="nb">Slå på eller av ekstern pålogging</description>
    <description xml:lang="ms">Memboleh atau melumpuhkan log masuk dari jauh</description>
    <description xml:lang="mr">दूरस्त प्रवेश सुरू किंवा बंद करा</description>
    <description xml:lang="ml">വിദൂര പ്രവേശിക്കല്‍ പ്രവര്‍ത്തനസജ്ജം/രഹിതം ആക്കുക</description>
    <description xml:lang="lv">Aktivēt vai deaktivēt attālināto ierakstīšanos</description>
    <description xml:lang="lt">Įjungti arba išjungti nuotolinį prisijungimą</description>
    <description xml:lang="ko">원격 로그인 사용 여부</description>
    <description xml:lang="kn">ದೂರಸ್ಥ ಪ್ರವೇಶವನ್ನು ಸಕ್ರಿಯಗೊಳಿಸಿ ಅಥವ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಿ</description>
    <description xml:lang="kk">Қашықтан кіруді іске қосу немесе сөндіру</description>
    <description xml:lang="ja">リモートログインの有効化/無効化</description>
    <description xml:lang="it">Abilita o disabilita l'accesso remoto</description>
    <description xml:lang="is">Virkja eða afvirkja fjartengda innskráningu</description>
    <description xml:lang="id">Fungsikan atau matikan log masuk jarak jauh</description>
    <description xml:lang="hu">Távoli bejelentkezés engedélyezése vagy tiltása</description>
    <description xml:lang="hr">Omogući ili onemogući udaljenu prijavu</description>
    <description xml:lang="hi">दूरस्थ लॉगिन सक्षम या अक्षम करें.</description>
    <description xml:lang="he">הפעלה או נטרול של כניסה מרוחקת</description>
    <description xml:lang="gu">દૂરસ્થ પ્રવેશને સક્રિય અથવા નિષ્ક્રિય કરો</description>
    <description xml:lang="gl">Activar ou desactivar o inicio de sesión remoto</description>
    <description xml:lang="gd">Cuir an comas no à comas clàradh a-steach cèin</description>
    <description xml:lang="fur">Abilitâ o no l'acès rimot</description>
    <description xml:lang="fr">Activer ou désactiver une connexion distante</description>
    <description xml:lang="fi">Käytä tai poista käytöstä etäkirjautuminen</description>
    <description xml:lang="fa">فعال یا غیرفعال کردن ورود به سیستم دوردست</description>
    <description xml:lang="eu">Gaitu edo desgaitu urruneko saio-hasiera</description>
    <description xml:lang="et">Kauglogimise lubamine või keelamine</description>
    <description xml:lang="es">Activar o desactivar el inicio de sesión remota</description>
    <description xml:lang="eo">Enŝalti aŭ elŝalti deforan ensaluton</description>
    <description xml:lang="en_GB">Enable or disable remote login</description>
    <description xml:lang="el">Ενεργοποίηση η απενεργοποίηση της απομακρυσμένης σύνδεσης</description>
    <description xml:lang="de">Entfernte Anmeldung ein- oder ausschalten</description>
    <description xml:lang="da">Slå fjernlogin til eller fra</description>
    <description xml:lang="cs">Povolit nebo zakázat vzdálené přihlášení</description>
    <description xml:lang="crh">Uzaqtan içeri imzalanmanı qabilleştir yaki ğayrıqabilleştir</description>
    <description xml:lang="ca@valencia">Habilita o inhabilita l'entrada remota</description>
    <description xml:lang="ca">Habilita o inhabilita l'entrada remota</description>
    <description xml:lang="bs">Omogući ili onemogući prijavu iz daljine</description>
    <description xml:lang="bn_IN">রিমোট লগিন সক্রিয় বা নিষ্ক্রিয় করুন</description>
    <description xml:lang="bg">Включване или изключване на отдалечената графична връзка</description>
    <description xml:lang="be">Уключыць ці выключыць аддалены ўваход у сістэму</description>
    <description xml:lang="as">দূৰৱৰ্তী লগিন সামৰ্থবান অথবা অসামৰ্থবান কৰক</description>
    <description xml:lang="ar">فعّل أو عطّل الولوج عن بعد</description>
    <description xml:lang="an">Activar u desactivar l'inicio de sesión remota</description>
    <description xml:lang="af">Aktiveer of deaktiveer afgeleë aanmelding</description>
    <message>Authentication is required to enable or disable remote login</message>
    <message xml:lang="zh_TW">啟用或停用遠端登入需要核對</message>
    <message xml:lang="zh_HK">啟用或停用遠端登入需要核對</message>
    <message xml:lang="zh_CN">启用或禁用远程登录需要认证</message>
    <message xml:lang="vi">Cần xác thực để bật hoặc tắt đăng nhập từ xa</message>
    <message xml:lang="uk">Потрібно засвідчення, щоб увімкнути або вимкнути віддалений вхід</message>
    <message xml:lang="ug">يىراقتىن كىرىشنى ئىناۋەتلىك ۋە ئىناۋەتسىز قىلىش ئۈچۈن سالاھىيەت دەلىللەش زۆرۈردۇر</message>
    <message xml:lang="tr">Uzaktan bağlantıyı açmak veya kapamak için kimlik doğrulaması gerekiyor</message>
    <message xml:lang="th">ต้องยืนยันตัวบุคคลเพื่อจะเปิดหรือปิดการเข้าระบบผ่านเครือข่าย</message>
    <message xml:lang="tg">Барои фаъол ё ғайрифаъол кардани вуруди дурдаст, санҷиши ҳаққоният лозим аст</message>
    <message xml:lang="te">రిమోట్ లాగిన్ చేతనం లేదా అచేతనం చేయుటకు ధృవీకరమ అవసరమైంది</message>
    <message xml:lang="ta">தொலைநிலை புகுபதிவை செயல்படுத்த அல்லது முடக்க அங்கீகாரம் தேவைப்படுகிறது</message>
    <message xml:lang="sv">Autentisering krävs för att aktivera eller inaktivera fjärrinloggning</message>
    <message xml:lang="sr@latin">Potrebno je potvrđivanje identiteta za uključivanje ili isključivanje udaljenog prijavljivanja</message>
    <message xml:lang="sr">Потребно је потврђивање идентитета за укључивање или искључивање удаљеног пријављивања</message>
    <message xml:lang="sl">Za spremembo možnosti oddaljenega prijavljanja je zahtevana overitev</message>
    <message xml:lang="sk">Na povolenie alebo zakázanie vzdialeného prihlásenia je vyžadované overenie totožnosti</message>
    <message xml:lang="ru">Для включения или выключения удалённого доступа необходимо выполнить проверку подлинности</message>
    <message xml:lang="ro">Este necesară autentificarea pentru a permite sau dezactiva autentificarea la distanță</message>
    <message xml:lang="pt_BR">É necessário autenticação para habilitar ou desabilitar sessão remota</message>
    <message xml:lang="pt">É necessária autenticação para ativar ou desativar início de sessão remoto</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby włączyć lub wyłączyć zdalne logowanie</message>
    <message xml:lang="pa">ਰਿਮੋਟ ਲਾਗਇਨ ਨੂੰ ਬੰਦ ਜਾਂ ਚਾਲੂ ਕਰਨ ਲਈ ਪਰਮਾਣਕਿਤਾ ਚਾਹੀਦੀ ਹੈ</message>
    <message xml:lang="or">ସୁଦୂର ଲଗଇନକୁ ସକ୍ରିୟ କିମ୍ବା ନିଷ୍କ୍ରିୟ କରିବା ପାଇଁ ବୈଧିକରଣ ଆବଶ୍ଯକ</message>
    <message xml:lang="oc">Autentificacion requesida per activar o desactivar una connexion distanta</message>
    <message xml:lang="nl">Er is authenticatie vereist om aanmelden op afstand in of uit te schakelen</message>
    <message xml:lang="nb">Du må autentisere deg for å slå av eller på ekstern pålogging</message>
    <message xml:lang="mr">दूरस्त प्रवेश सुरू किंवा बंद करण्यासाठी ओळख पटवणे आवश्यक</message>
    <message xml:lang="ml">വിദൂര പ്രവേശനം പ്രവര്‍ത്തനസജ്ജമാക്കാന്‍/രഹിതമാക്കാന്‍ ആധികാരികത ഉറപ്പ് വരുത്തേണ്ടതുണ്ട്</message>
    <message xml:lang="lv">Lai aktivētu vai deaktivētu attālināto ierakstīšanos, nepieciešama autentifikācija</message>
    <message xml:lang="lt">Reikia patvirtinti tapatybę nuotoliniams prisijungimui įjungti ar išjungti</message>
    <message xml:lang="ko">원격 로그인 사용 여부를 바꾸려면 인증이 필요합니다</message>
    <message xml:lang="kn">ದೂರಸ್ಥ ಪ್ರವೇಶವನ್ನು ಸಕ್ರಿಯಗೊಳಿಸಲು ಅಥವ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಲು ದೃಢೀಕರಣದ ಅಗತ್ಯವಿದೆ</message>
    <message xml:lang="kk">Қашықтан кіруді іске қосу немесе сөндіру үшін аутентификация керек</message>
    <message xml:lang="ja">リモートログインを有効化または無効化するには認証が必要になります</message>
    <message xml:lang="it">È necessario autenticarsi per abilitare o disabilitare l'accesso remoto</message>
    <message xml:lang="is">Þú þarft að auðkenna þig til að virkja eða afvirkja fjartengda innskráningu</message>
    <message xml:lang="id">Otentikasi diperlukan untuk memfungsikan atau mematikan log masuk jarak jauh</message>
    <message xml:lang="hu">Hitelesítés szükséges a távoli bejelentkezés engedélyezéséhez vagy tiltásához</message>
    <message xml:lang="hr">Potrebna je ovjera za omogućavanje ili onemogućavanje udaljene prijave</message>
    <message xml:lang="hi">उपयोक्ता दूरस्थ लॉगिन सक्षम या अक्षम करने के लिए सत्यापन आवश्यक है</message>
    <message xml:lang="he">נדרש אימות כדי להפעיל או לנטרל כניסה מרחוק</message>
    <message xml:lang="gu">દૂરસ્થ પ્રવેશને સક્રિય અથવા નિષ્ક્રિય કરવા માટે સત્તાધિકરણ જરૂરી છે</message>
    <message xml:lang="gl">Requírese autenticación para activar ou desactivar o inicio de sesión remoto</message>
    <message xml:lang="gd">Tha feum air dearbhadh mus gabh clàradh cèin a chur an comas no à comas</message>
    <message xml:lang="fur">Al è necessari autenticâsi par abilitâ o no abilitâ l'acès rimot</message>
    <message xml:lang="fr">Authentification requise pour activer ou désactiver une connexion distante</message>
    <message xml:lang="fi">Etäkirjautumisen hallinta vaatii tunnistautuminen</message>
    <message xml:lang="fa">جهت فعال یا غیرفعال کردن ورود به سیستم دوردست، تصدیق‌هویت لازم است</message>
    <message xml:lang="eu">Autentifikazioa behar da urruneko saioa gaitu edo desgaitzeko</message>
    <message xml:lang="et">Autentimine on vajalik kauglogimise lubamiseks või keelamiseks</message>
    <message xml:lang="es">Se requiere autenticación para activar o desactivar el inicio de sesión remota</message>
    <message xml:lang="en_GB">Authentication is required to enable or disable remote login</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για την ενεργοποίηση ή απενεργοποίηση της απομακρυσμένης σύνδεσης</message>
    <message xml:lang="de">Legitimierung ist erforderlich, um die entfernte Anmeldung zu aktivieren oder zu deaktivieren</message>
    <message xml:lang="da">Der kræves godkendelse for at kunne aktivere eller deaktivere fjernlogin</message>
    <message xml:lang="cs">Pro povolení nebo zakázání vzdáleného přihlášení je vyžadováno ověření totožnosti</message>
    <message xml:lang="crh">Uzaqtan içeri imzalanmanı qabilleştirmek içün sahihlenim şarttır</message>
    <message xml:lang="ca@valencia">Cal autenticació per habilitar o inhabilitar l'entrada remota</message>
    <message xml:lang="ca">Cal autenticació per habilitar o inhabilitar l'entrada remota</message>
    <message xml:lang="bs">Autentifikacija je potrebna za omogućenje ili onemogućenje prijave  iz daljine</message>
    <message xml:lang="bn_IN">রিমোট লগিন সক্রিয় বা নিষ্ক্রিয় করতে অনুমোদনের প্রয়োজন</message>
    <message xml:lang="bg">Изисква се удостоверяване за превключване на отдалечената графична връзка</message>
    <message xml:lang="be">Для ўключэння і выключэння аддаленага ўваходу ў сістэму патрабуецца ідэнтыфікацыя</message>
    <message xml:lang="as">দূৰৱৰ্তী লগিন সামৰ্থবান অথবা অসামৰ্থবান কৰিবলে প্ৰমাণীকৰণৰ প্ৰয়োজন</message>
    <message xml:lang="ar">الاستيثاق مطلوب لتفعيل أو تعطيل الولوج عن بعد</message>
    <message xml:lang="an">Se requier autenticación ta activar u desactivar l'inicio de sesión remota</message>
    <message xml:lang="af">Verifikasie is nodig om afgeleë aanmelding aan of af te skakel</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/gnome-control-center/cc-remote-login-helper</annotate>
  </action>
</policyconfig>
