<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<vendor>KDE</vendor>
<icon_name>kde</icon_name>
   <action id="org.kde.powerdevil.discretegpuhelper.hasdualgpu" >
      <description xml:lang="ca">Comprova l'existència d'una GPU dedicada</description>
      <description xml:lang="cs">Zkontrolovat přítomnost diskrétní GPU</description>
      <description xml:lang="da">Tjek om diskret GPU findes</description>
      <description xml:lang="de">Auf Vorhandensein einer eigenen GPU prüfen</description>
      <description xml:lang="el">Έλεγχος ύπαρξης ξεχωριστής κάρτας γραφικών</description>
      <description>Check existence of discrete gpu</description>
      <description xml:lang="en_GB">Check existence of discrete GPU</description>
      <description xml:lang="es">Comprobar la existencia de GPU discreta</description>
      <description xml:lang="eu">Egiaztatu bereizitako GPUrik dagoen</description>
      <description xml:lang="fi">Tarkista erillisen näytönohjaimen olemassaolo</description>
      <description xml:lang="fr">Vérifier l'existence d'une puce dédiée au GPU</description>
      <description xml:lang="gl">Comprobar se se dispón dunha GPU discreta</description>
      <description xml:lang="hu">Diszkrét GPU meglétének ellenőrzése</description>
      <description xml:lang="id">Periksa keberadaan gpu diskrit</description>
      <description xml:lang="it">Verifica l'esistenza di gpu discrete</description>
      <description xml:lang="ja">ディスクリート GPU の存在を確認</description>
      <description xml:lang="ko">외장 GPU 존재 확인</description>
      <description xml:lang="lt">Patikrinti ar yra atskira vaizdo plokštė</description>
      <description xml:lang="nb">Kontroller om det finst separat skjermkort</description>
      <description xml:lang="nl">Bestaan van aparte GPU controleren</description>
      <description xml:lang="nn">Kontroller om det finst separat skjermkort</description>
      <description xml:lang="pa">ਡਿਸਕਰੀਟ GPU ਦੀ ਮੌਜੂਦਗੀ ਜਾਂਚੋ</description>
      <description xml:lang="pl">Sprawdź istnienie dodatkowego gpu</description>
      <description xml:lang="pt">Verificar a existência de um GPU discreto</description>
      <description xml:lang="pt_BR">Verificar existência de gpu discreto</description>
      <description xml:lang="ru">Проверка наличия дискретной видеокарты</description>
      <description xml:lang="sk">Skontrolovať existenciu diskrétneho GPU</description>
      <description xml:lang="sl">Preveri obstoj ločene grafične kartice</description>
      <description xml:lang="sr">Провери постајање дискретног ГПУ‑а</description>
      <description xml:lang="sv">Kontrollera om diskret grafikprocessor finns</description>
      <description xml:lang="tr">Bağımsız gpu varlığını kontrol edin</description>
      <description xml:lang="uk">Перевірка наявності дискретного GPU</description>
      <description xml:lang="zh_CN">检查独立 GPU 是否存在</description>
      <description xml:lang="zh_TW">檢查是否有獨立顯示卡</description>
      <message xml:lang="ca">Les polítiques del sistema impedeixen que es comprovi l'existència d'una GPU dedicada.</message>
      <message xml:lang="cs">Nastavení systému vám znemožňuje zkontrolovat existenci diskrétní GPU.</message>
      <message xml:lang="da">Systempolitikker forhindrer dig i at tjek om diskret GPU findes.</message>
      <message xml:lang="de">Das Vorhandensein einer eigenen GPU kann aufgrund einer Systemrichtlinie nicht geprüft werden.</message>
      <message xml:lang="el">Οι πολιτικές του συστήματος αποτρέπουν τον έλεγχο ύπαρξης ξεχωριστής κάρτας γραφικών.</message>
      <message>System policies prevent you from checking the existence of discrete gpu.</message>
      <message xml:lang="en_GB">System policies prevent you from checking the existence of discrete GPU.</message>
      <message xml:lang="es">Las políticas del sistema le impiden comprobar la existencia de GPU discreta.</message>
      <message xml:lang="eu">Sistemako gidalerroek bereizitako GPUrik dagoen egiaztatzea galarazten dizute.</message>
      <message xml:lang="fi">Järjestelmäkäytäntö estää sinua tarkistamasta erillisen näytönohjaimen olemassaoloa.</message>
      <message xml:lang="fr">La stratégie système vous empêche de vérifier l'existence d'une puce dédiée au GPU.</message>
      <message xml:lang="gl">As políticas do sistema impídenlle comprobar se se dispón dunha GPU discreta.</message>
      <message xml:lang="hu"></message>
      <message xml:lang="id">Kebijakan sistem mencegahmu dari pemeriksaan keberadaan gpu diskrit.</message>
      <message xml:lang="it">Le politiche di sistema ti impediscono di verificare l'esistenza di gpu discrete.</message>
      <message xml:lang="ja">システムポリシーにより、ディスクリート GPU の存在を確認できません。</message>
      <message xml:lang="ko">시스템 정책 때문에 외장 GPU 존재 여부를 가져올 수 없습니다.</message>
      <message xml:lang="lt">Sistemos politika neleidžia jums patikrinti ar yra atskira vaizdo plokštė.</message>
      <message xml:lang="nb">Systemregler hindrer deg i å kontrollere om det finst et separat skjermkort.</message>
      <message xml:lang="nl">Systeembeleid voorkwam dat u het bestaan van een aparte GPU kon controleren.</message>
      <message xml:lang="nn">Systemreglane hindrar deg frå å kontrollera om det finst separat skjermkort.</message>
      <message xml:lang="pa">ਸਿਸਟਮ ਪਾਲਸੀ ਤੁਹਾਨੂੰ ਡਿਸਕਰੀਟ GPU ਦੀ ਮੌਜੂਦਾ ਪਤਾ ਲਗਾਉਣ ਤੋਂ ਰੋਕਦੀ ਹੈ।</message>
      <message xml:lang="pl">Zasady systemowe nie pozwalają ci na sprawdzenie istnienia dodatkowego gpu.</message>
      <message xml:lang="pt">As políticas do sistema impedem-no de obter verificar a existência de um GPU discreto.</message>
      <message xml:lang="pt_BR">As políticas do sistema impedem você de checar a existência de gpu discreto.</message>
      <message xml:lang="ru">Правила безопасности запрещают вам узнавать о наличии дискретной видеокарты.</message>
      <message xml:lang="sk">Systémové politiky vám zabránili zistiť existenciu diskrétneho GPU.</message>
      <message xml:lang="sl"></message>
      <message xml:lang="sr">Системске смернице спречавају проверу постојања дискретног ГПУ‑а.</message>
      <message xml:lang="sv">Systemets policy förhindrar att du kontrollerar om diskret grafikprocessor finns</message>
      <message xml:lang="tr"></message>
      <message xml:lang="uk"></message>
      <message xml:lang="zh_CN">系统安全策略不允许检查独立 GPU 是否存在.</message>
      <message xml:lang="zh_TW">系統政策不允許您檢查是否有獨立顯示卡。</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>yes</allow_active>
      </defaults>
   </action>
</policyconfig>
