<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<vendor>KDE Wallet system</vendor>
<icon_name>kwalletmanager</icon_name>
   <action id="org.kde.kcontrol.kcmkwallet5.save" >
      <description xml:lang="ar">احفظ ضبط المحفظة</description>
      <description xml:lang="bs">Snimi konfiguraciju novčanika</description>
      <description xml:lang="ca">Desa la configuració de la cartera</description>
      <description xml:lang="cs">Uložit nastavení úschovny</description>
      <description xml:lang="da">Gem konfiguration af tegnebog</description>
      <description xml:lang="de">Einstellungen des Passwortspeichers speichern</description>
      <description xml:lang="el">Αποθήκευση διαμόρφωσης πορτοφολιού KDE</description>
      <description>Save wallet configuration</description>
      <description xml:lang="en_GB">Save wallet configuration</description>
      <description xml:lang="es">Guardar la configuración de la cartera</description>
      <description xml:lang="et">Turvalaeka seadistuse salvestamine</description>
      <description xml:lang="eu">Gorde zorroaren konfigurazioa</description>
      <description xml:lang="fi">Tallenna lompakon asetukset</description>
      <description xml:lang="fr">Enregistrer la configuration du portefeuille</description>
      <description xml:lang="gl">Gardar a configuración da carteira</description>
      <description xml:lang="hu">Jelszóbeállítások mentése</description>
      <description xml:lang="ia">Salveguarda configuration de portafolio</description>
      <description xml:lang="it">Salva la configurazione del portafogli</description>
      <description xml:lang="kk">Әмиянның баптауын сақтау</description>
      <description xml:lang="ko">지갑 저장 설정</description>
      <description xml:lang="nb">Lagre lommebok-oppsett</description>
      <description xml:lang="nds">Knippinstellen sekern</description>
      <description xml:lang="nl">Portefeuille-instellingen opslaan</description>
      <description xml:lang="nn">Lagra Wallet-system</description>
      <description xml:lang="pa">ਵਾਲਿਟ ਸੰਰਚਨਾ ਸੰਭਾਲੋ</description>
      <description xml:lang="pl">Zapisz ustawienia portfela</description>
      <description xml:lang="pt">Gravar a configuração da carteira</description>
      <description xml:lang="pt_BR">Salvar a configuração da carteira</description>
      <description xml:lang="ro">Salvează configurarea portofelului</description>
      <description xml:lang="ru">Сохранение параметров бумажника</description>
      <description xml:lang="sk">Uložiť nastavenie peňaženky</description>
      <description xml:lang="sl">Shrani nastavitev listnice</description>
      <description xml:lang="sr">Сачувај поставу новчаника</description>
      <description xml:lang="sv">Spara plånboksinställning</description>
      <description xml:lang="tr">Cüzdan yapılandırmasını kaydet</description>
      <description xml:lang="uk">Збереження налаштувань KWallet</description>
      <description xml:lang="zh_CN">保存钱包配置</description>
      <description xml:lang="zh_TW">儲存錢包設定</description>
      <message xml:lang="ar">اسمح بحفظ إعدادات ضبط المحفظة</message>
      <message xml:lang="bs">Dopusti snimanje postavki novčanika</message>
      <message xml:lang="ca">Permet desar els paràmetres de configuració de la cartera</message>
      <message xml:lang="cs">Povolit uložení nastavení úschovny</message>
      <message xml:lang="da">Tillad gemning af tegnebogsindstillinger</message>
      <message xml:lang="de"></message>
      <message xml:lang="el">Να επιτρέπεται η αποθήκευση της διαμόρφωσης πορτοφολιού</message>
      <message>Allow saving wallet configuration settings</message>
      <message xml:lang="en_GB">Allow saving wallet configuration settings</message>
      <message xml:lang="es">Permitir que se guarde la configuración de la cartera</message>
      <message xml:lang="et">Turvalaeka seadistuse salvestamise lubamine</message>
      <message xml:lang="eu">Baimendu zorroaren konfigurazio ezarpenak gordetzea</message>
      <message xml:lang="fi">Salli lompakon asetusten tallentaminen</message>
      <message xml:lang="fr">Autoriser l'enregistrement les paramètres de la configuration du portefeuille</message>
      <message xml:lang="gl">Permite gardar a configuración da carteira</message>
      <message xml:lang="hu">Lehetővé teszi a jelszóbeállítások mentését</message>
      <message xml:lang="ia">Il permitte salveguardar preferentias de configuration de portafolio</message>
      <message xml:lang="it">Permette il salvataggio della configurazione del portafogli</message>
      <message xml:lang="kk">Әмиян баптау параметрлерін сақтауын рұқсат ету</message>
      <message xml:lang="ko">지갑 설정 저장 허용</message>
      <message xml:lang="nb">Kan lagre oppsettsinnstillingene for lommeboka</message>
      <message xml:lang="nds">Sekern vun Knippinstellen tolaten</message>
      <message xml:lang="nl">Opslaan van instellingen van de portefeuille toestaan</message>
      <message xml:lang="nn">Tillat lagring av lommebokinnstillingar</message>
      <message xml:lang="pa">ਵਾਲਿਟ ਸੰਰਚਨਾ ਸੈਟਿੰਗਾਂ ਸੰਭਾਲਣ ਦੀ ਮਨਜ਼ੂਰੀ</message>
      <message xml:lang="pl">Zezwól na zapisywanie ustawień portfela</message>
      <message xml:lang="pt">Permitir a gravação das definições da carteira</message>
      <message xml:lang="pt_BR">Permite salvar as configurações da carteira</message>
      <message xml:lang="ro">Permite salvarea parametrilor de configurare ai portofelului</message>
      <message xml:lang="ru">Сохранение параметров бумажника</message>
      <message xml:lang="sk">Umožniť ukladanie nastavenia peňaženky</message>
      <message xml:lang="sl">Dovoli shranjevanje nastavitev listnice</message>
      <message xml:lang="sr">Дозволи уписивање поставки новчаника</message>
      <message xml:lang="sv">Tillåt att plånboksinställningar sparas</message>
      <message xml:lang="tr">Cüzdan yapılandırma ayarlarının kaydedilmesine izin ver</message>
      <message xml:lang="uk">Дозволити зберігання параметрів налаштування KWallet</message>
      <message xml:lang="zh_CN">允许保存钱包配置设定</message>
      <message xml:lang="zh_TW">允許儲存錢包設定</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_self_keep</allow_active>
      </defaults>
   </action>
</policyconfig>
