[KCM Locale]
Name=Andorra
Name[af]=Andorra 
Name[ar]=أندورا
Name[as]=এণ্ডোৰা
Name[ast]=Andorra
Name[be]=Андора
Name[be@latin]=Andora
Name[bg]=Андора
Name[bn]=অ্যানডোরা
Name[bn_IN]=অ্যান্ডোরা
Name[br]=Andora
Name[bs]=Andora
Name[ca]=Andorra
Name[ca@valencia]=Andorra
Name[cs]=Andorra
Name[csb]=Andorra
Name[cy]=Andorra
Name[da]=Andorra
Name[de]=Andorra
Name[el]=Ανδόρα
Name[en_GB]=Andorra
Name[eo]=Andoro
Name[es]=Andorra
Name[et]=Andorra
Name[eu]=Andorra
Name[fa]=آندورا
Name[fi]=Andorra
Name[fr]=Andorre
Name[fy]=Andorra
Name[ga]=Andóra
Name[gd]=Andorra
Name[gl]=Andorra
Name[gu]=એન્ડોરા
Name[he]=אנדורה
Name[hi]=अंडोरा
Name[hne]=अंडोरा
Name[hr]=Andora
Name[hsb]=Andora
Name[hu]=Andorra
Name[ia]=Andorra
Name[id]=Andorra
Name[is]=Andorra
Name[it]=Andorra
Name[ka]=ანდორა
Name[kk]=Андорра
Name[km]=អង់ដូរ៉ា
Name[kn]=ಅಂಡೋರಾ
Name[ko]=안도라
Name[ku]=Andora
Name[lt]=Andorra
Name[lv]=Andora
Name[mai]=अंडोरा
Name[mk]=Андора
Name[ml]=ആന്‍ഡോരാ
Name[mr]=अंडोरा
Name[ms]=Andorra
Name[nb]=Andorra
Name[nds]=Andorra
Name[ne]=एन्डोर्रा
Name[nl]=Andorra
Name[nn]=Andorra
Name[oc]=Andòrra
Name[or]=Andorra
Name[pa]=ਐਂਡੋਰਾ
Name[pl]=Andorra
Name[pt]=Andorra
Name[pt_BR]=Andorra
Name[ro]=Andora
Name[ru]=Андорра
Name[se]=Andorra
Name[si]=ඇන්ඩෝර්රා
Name[sk]=Andorra
Name[sl]=Andora
Name[sr]=Андора
Name[sr@ijekavian]=Андора
Name[sr@ijekavianlatin]=Andora
Name[sr@latin]=Andora
Name[sv]=Andorra
Name[ta]=அன்டோரா
Name[te]=ఎండొర్రా
Name[tg]=Андорра
Name[th]=อันดอร์รา
Name[tr]=Andorra
Name[ug]=ئاندوررا بەگلىكى
Name[uk]=Андорра
Name[uz]=Andorra
Name[uz@cyrillic]=Андорра
Name[vi]=Andorra
Name[wa]=Andore
Name[x-test]=xxAndorraxx
Name[zh_CN]=安道尔
Name[zh_TW]=安道爾
Region=westeurope
Languages=ca,fr,es
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
