[KCM Locale]
Name=Botswana
Name[ar]=بوتسوانيا
Name[ast]=Botsuana
Name[bs]=Bocvana
Name[ca]=Botswana
Name[ca@valencia]=Botswana
Name[cs]=Botswana
Name[da]=Botswana
Name[de]=Botsuana
Name[en_GB]=Botswana
Name[es]=Botsuana
Name[et]=Botswana
Name[eu]=Botswana
Name[fa]=بوتسوانا
Name[fi]=Botswana
Name[fr]=Botswana
Name[gd]=Botsuana
Name[gl]=Botswana
Name[hr]=Botsvana
Name[hu]=Botswana
Name[ia]=Botswana
Name[id]=Botswana
Name[is]=Botsvana
Name[it]=Botswana
Name[ka]=ბოტსვანა
Name[ko]=보츠와나
Name[lt]=Botsvanos
Name[lv]=Botsvāna
Name[mr]=बोटस्वाना
Name[nb]=Botswana
Name[nds]=Botswana
Name[nl]=Botswana
Name[nn]=Botswana
Name[pa]=ਬੋਟਸਵਾਨਾ
Name[pl]=Botswana
Name[pt]=Botswana
Name[pt_BR]=Botsuana
Name[ru]=Ботсвана
Name[se]=Botswana
Name[sk]=Botswana
Name[sl]=Bocvana
Name[sr]=Боцвана
Name[sr@ijekavian]=Боцвана
Name[sr@ijekavianlatin]=Bocvana
Name[sr@latin]=Bocvana
Name[sv]=Botswana
Name[tg]=Ботсвана
Name[tr]=Botsvana
Name[uk]=Ботсвана
Name[x-test]=xxBotswanaxx
Name[zh_CN]=博茨瓦那
Name[zh_TW]=波札那
Region=southafrica
Languages=en_GB,ts
DecimalSymbol=.
ThousandsSeparator=.
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat[en_GB]=%A %d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%l.%M.%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BWP
CurrencyCode=BWP
