[KCM Locale]
Name=Assamese
Name[ar]=الأساميّة
Name[ast]=Asamés
Name[be@latin]=Asameskaja
Name[bg]=Асамезе
Name[bn_IN]=অসমীয়া
Name[bs]=asamski
Name[ca]=Assamès
Name[ca@valencia]=Assamés
Name[cs]=Ásámský
Name[csb]=Assamese
Name[da]=Assamesisk
Name[de]=Assamesisch
Name[el]=Ασσαμίσια
Name[en_GB]=Assamese
Name[eo]=Asama
Name[es]=Asamés
Name[et]=Assami
Name[eu]=Assamera
Name[fa]=آسامی
Name[fi]=Assami
Name[fr]=Assamais
Name[fy]=Assamese
Name[ga]=Asaimis
Name[gd]=Asamais
Name[gl]=Asamés
Name[gu]=આસામીઝ
Name[he]=אסאמית
Name[hi]=अस्सामी
Name[hr]=Asamski
Name[hu]=Asszámi
Name[ia]=Assamese 
Name[id]=Assamese
Name[is]=Assamíska
Name[it]=Assamese
Name[ja]=アッサム語
Name[kk]=Ассамша
Name[km]=អាសាមីស
Name[kn]=ಅಸ್ಸಾಮಿ
Name[ko]=아삼어
Name[ku]=Assamî
Name[lt]=Asamų
Name[lv]=Asamiešu
Name[mk]=Асамески
Name[ml]=ആസാമീസ്
Name[mr]=आसामी
Name[ms]=Assamese
Name[nb]=Assamesisk
Name[nds]=Assameesch
Name[nl]=Assamees
Name[nn]=Assami
Name[pa]=ਅਸਾਮੀ
Name[pl]=Assamski
Name[pt]=Assamese
Name[pt_BR]=Assamês
Name[ro]=Asameză
Name[ru]=Ассамский
Name[se]=Assamesgiella
Name[si]=ඇසෑමී
Name[sk]=Asámčina
Name[sl]=Asamščina
Name[sq]=Asamizë
Name[sr]=асамски
Name[sr@ijekavian]=асамски
Name[sr@ijekavianlatin]=asamski
Name[sr@latin]=asamski
Name[sv]=Assamesiska
Name[ta]=அசாமியம்
Name[tg]=Ассамезӣ
Name[th]=ภาษาอัสสมี
Name[tr]=Assamese
Name[tt]=Ассам
Name[ug]=ئاسسامچە
Name[uk]=Ассамська
Name[vi]=Assam
Name[wa]=Assamès
Name[x-test]=xxAssamesexx
Name[zh_CN]=阿萨姆语
Name[zh_TW]=阿薩姆語
