[KCM Locale]
Name=Kashubian
Name[ar]=الكاشوبيّة
Name[as]=কাছুবিয়ান
Name[ast]=Caxubiu
Name[be]=Сербская
Name[be@latin]=Kašubskaja
Name[bg]=Кашубски
Name[bn]=কাশুবিয়ান
Name[bn_IN]=কাশুবিয়ান
Name[br]=Kashubieg
Name[bs]=kašupski
Name[ca]=Caixubi
Name[ca@valencia]=Caixubi
Name[cs]=Kašubský
Name[csb]=Kaszëbsczi
Name[da]=Kashubisk
Name[de]=Kaschubisch
Name[el]=Κασουμπιανά
Name[en_GB]=Kashubian
Name[eo]=Kaŝuba
Name[es]=Casubio
Name[et]=Kašuubi
Name[eu]=Kaxubiera
Name[fa]=کاشوبیان
Name[fi]=Kašubi
Name[fr]=Kachoube
Name[fy]=Kashubian
Name[ga]=Caisiúibis
Name[gd]=Caisiubais
Name[gl]=Caxubo
Name[gu]=કાશુબિયન
Name[he]=קאשובית
Name[hi]=कासुबियाई
Name[hne]=कासुबियाई
Name[hr]=Kašupski
Name[hsb]=Kašubsce
Name[hu]=Kasub
Name[ia]=Kashubian 
Name[id]=Kashubia
Name[is]=Kashubian
Name[it]=Casciubico
Name[ja]=カシューブ語
Name[kk]=Кашубша
Name[km]=កាស៊ូបៀន
Name[kn]=ಕಶುಬಿಯನ್
Name[ko]=카슈비아어
Name[ku]=Kaşûbî
Name[lt]=Kašubų
Name[lv]=Kašubu
Name[mai]=काशुबिनयन
Name[mk]=Кашубски
Name[ml]=കശൂബ്യന്‍
Name[mr]=कासुबियाई
Name[ms]=Kashubian
Name[nb]=Kasjubisk
Name[nds]=Kaschuubsch
Name[ne]=कसुबियन
Name[nl]=Kasjoebisch
Name[nn]=Kasjubisk
Name[oc]=Kashbian
Name[or]=କାଶୁବେନ
Name[pa]=ਕਾਸ਼ੂਬੀਆਈ
Name[pl]=Kaszubski
Name[ps]=کشوبي
Name[pt]=Kashubian
Name[pt_BR]=Cassúbia
Name[ro]=Kashubian
Name[ru]=Кашубский
Name[se]=Kašubiagiella
Name[si]=කෂුබියානු
Name[sk]=Kašubčina
Name[sl]=Kašubščina
Name[sq]=Kashubianisht
Name[sr]=кашупски
Name[sr@ijekavian]=кашупски
Name[sr@ijekavianlatin]=kašupski
Name[sr@latin]=kašupski
Name[sv]=Kasjubiska
Name[ta]=கஷுபியன்
Name[te]=కషుబియన్
Name[tg]=Кошӯбиявӣ
Name[th]=ภาษาคาชูเบียน
Name[tr]=Kashubian
Name[tt]=Кашуб
Name[ug]=كاسزۇبىچە
Name[uk]=Кашубська
Name[uz]=Kashubiacha
Name[uz@cyrillic]=Кашубиача
Name[vi]=Kashubian
Name[wa]=Cachoube
Name[x-test]=xxKashubianxx
Name[zh_CN]=卡舒比语
Name[zh_TW]=卡舒比語
