[Desktop Entry]
Name=Report a problem...
Comment=Report a malfunction to the developers
Exec=/usr/share/apport/apport-gtk -c %f
Icon=apport
Terminal=false
Type=Application
MimeType=text/x-apport;
Categories=GNOME;GTK;Utility;
NoDisplay=true
StartupNotify=true
X-Ubuntu-Gettext-Domain=apport
