[Desktop Entry]
Name[af]=Beeldbekyker
Name[am]=የምስል ተመልካች
Name[an]=Visor d'imachens
Name[ar]=عارض الصّور
Name[as]=ছবি প্ৰদৰ্শক
Name[ast]=Visor d'Imáxenes
Name[az]=Rəsm Nümayişcisi
Name[be]=Праглядальнік выяў
Name[be@latin]=Ahladalnik vyjavaŭ
Name[bg]=Преглед на изображения
Name[bn]=ছবি প্রদর্শক
Name[bn_IN]=ছবি প্রদর্শক
Name[br]=Gweler skeudennoù
Name[bs]=Preglednik slika
Name[ca]=Visualitzador d'imatges
Name[ca@valencia]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[cy]=Gwelydd Delweddau
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[dz]=གཟུགས་བརྙན་མཐོང་བྱེད།
Name[el]=Εφαρμογή προβολής εικόνων
Name[en_CA]=Image Viewer
Name[en_GB]=Image Viewer
Name[en@shaw]=𐑦𐑥𐑦𐑡 𐑝𐑿𐑼
Name[eo]=Bildomontrilo
Name[es]=Visor de imágenes
Name[et]=Pildivaataja
Name[eu]=Irudi-ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvakatselin
Name[fr]=Visionneur d'images
Name[fur]=Visualizadôr di imagjins
Name[fy]=Ôfbyldingswerjefteprogramma
Name[ga]=Amharcán Íomhánna
Name[gd]=Sealladair dhealbhan
Name[gl]=Visor de imaxes
Name[gu]=ચિત્ર દર્શક
Name[he]=מציג תמונות
Name[hi]=छवि प्रदर्शक
Name[hr]=Preglednik slika
Name[hu]=Képmegjelenítő
Name[id]=Penampil Citra
Name[is]=Myndarýnir
Name[it]=Visualizzatore di immagini
Name[ja]=画像ビューアー
Name[ka]=სურათების გალერეა
Name[kk]=Суреттер көрсетушісі
Name[km]=កម្មវិធី​មើល​រូបភាព
Name[kn]=ಚಿತ್ರ ವೀಕ್ಷಕ
Name[ko]=이미지 보기
Name[ks]=फोटो हावनुक
Name[ku]=Nîşanderê Wêneyan
Name[lt]=Paveikslėlių peržiūros programa
Name[lv]=Attēlu skatītājs
Name[mai]=बिंब प्रदर्शक
Name[mg]=Mpizaha sary
Name[mk]=Прегледувач на слики
Name[ml]=ചിത്ര ദര്‍ശിനി
Name[mn]=Зураг харагч
Name[mr]=प्रतिमा दर्शक
Name[ms]=Pelihat Imej
Name[my]=ပုံကြည့်ရှုသည့်အရာ
Name[nb]=Bildevisning
Name[nds]=Billopwieser
Name[ne]=छवि प्रदर्शक
Name[nl]=Afbeeldingsweergave
Name[nn]=Biletevisar
Name[nso]=Selebeledi sa Seswantšho
Name[oc]=Visionador d'imatges
Name[or]=ଚିତ୍ର ଦର୍ଶକ
Name[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Obrazy
Name[ps]=انځور ليدانی
Name[pt]=Visualizador de imagens
Name[pt_BR]=Visualizador de imagens
Name[ro]=Vizualizator de imagini
Name[ru]=Просмотр изображений
Name[si]=පිළිඹිබු දසුන
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sq]=Shikues figurash
Name[sr]=Прегледач слика
Name[sr@latin]=Pregledač slika
Name[sv]=Bildvisare
Name[ta]=பிம்ப காட்டி
Name[te]=బొమ్మ వీక్షకము
Name[tg]=Бинандаи тасвирҳо
Name[th]=โปรแกรมดูรูป
Name[tk]=Resim Namaýyşçysy
Name[tr]=Resim Görüntüleyici
Name[ts]=Xikomba Swifaniso
Name[ug]=سۈرەت كۆرگۈ
Name[uk]=Перегляд зображень
Name[uz]=Rasm koʻruvchi
Name[uz@cyrillic]=Расм кўрувчи
Name[vi]=Xem ảnh
Name[wa]=Håyneu d' imådjes
Name[xh]=Isibonisi-Mfanekiso
Name[zh_CN]=图像查看器
Name[zh_HK]=影像檢視器
Name[zh_TW]=影像檢視器
Name[zu]=Umbonisi sithombe
Name=Image Viewer
Comment[af]=Bekyk en roteer beelde
Comment[an]=Examine y chire imachens
Comment[ar]=تصفح و أدر الصور
Comment[as]=ছবি ব্ৰাউছ কৰক আৰু ঘুৰাওক
Comment[ast]=Restola y voltia imáxenes
Comment[be]=Агляд і паварот выяў
Comment[be@latin]=Ahladaj i pavaročvaj vyjavy
Comment[bg]=Преглед и завъртане на изображения
Comment[bn]=ছবি ব্রাউজ করুন এবং চক্রাকারে ঘোরান
Comment[bn_IN]=ছবি ব্রাউজ করুন ও ঘুরিয়ে নিন
Comment[bs]=Pregledaj i izvrni slike
Comment[ca]=Navegueu per imatges i gireu-les
Comment[ca@valencia]=Navegueu per imatges i gireu-les
Comment[cs]=Procházení a otáčení obrázků
Comment[da]=Gennemse og rotér billeder
Comment[de]=Bilder betrachten und drehen
Comment[dz]=གཟུགས་བརྙན་ཚུ་ བརྡ་འཚོལ་འབད་དེ་བསྒྱིར་
Comment[el]=Περιηγηθείτε και περιστρέψτε εικόνες
Comment[en_CA]=Browse and rotate images
Comment[en_GB]=Browse and rotate images
Comment[en@shaw]=𐑚𐑮𐑬𐑟 𐑯 𐑮𐑴𐑑𐑱𐑑 𐑦𐑥𐑦𐑡𐑩𐑟
Comment[eo]=Foliumi kaj turni bildojn
Comment[es]=Examine y rote imágenes
Comment[et]=Piltide sirvimine ja pööramine
Comment[eu]=Arakatu eta biratu irudiak
Comment[fa]=مرور و چرخاندن تصویر
Comment[fi]=Selaa ja kierrä kuvia
Comment[fr]=Parcourir et pivoter les images
Comment[fur]=Sgarfe e zire imagjins
Comment[fy]=Bleaderje en draaie ôfbylingen
Comment[ga]=Brabhsáil agus rothlaigh íomhánna
Comment[gd]=Brabhsaich is cuairtich dealbhan
Comment[gl]=Ver e rotar imaxes
Comment[gu]=ચિત્રો શોધો અને ફેરવો
Comment[he]=צפייה וסיבוב של תמונות
Comment[hi]=ब्रॉउज करें और घुमाएँ छवियाँ
Comment[hr]=Pretražite i zakrenite slike
Comment[hu]=Képek böngészése és forgatása
Comment[id]=Ramban dan putar citra
Comment[is]=Skoða og snúa myndum
Comment[it]=Sfoglia e ruota le immagini
Comment[ja]=画像の閲覧や向きの調整をします
Comment[kk]=Суреттерді шолу мен айналдыру
Comment[km]=រកមើល និង​បង្វិល​រូបភាព
Comment[kn]=ಚಿತ್ರಗಳನ್ನು ವೀಕ್ಷಿಸು ಹಾಗು ತಿರುಗಿಸು
Comment[ko]=이미지 살펴보기 및 회전
Comment[ks]=छांड त गुमाव फोटो
Comment[lt]=Naršyti ir vartyti paveikslėlius
Comment[lv]=Pārlūkot un pagriezt attēlus
Comment[mk]=Разгледај и ротирај слики
Comment[ml]=ചിത്രങ്ങള്‍ കാണുകയും തിരിക്കുകയും ചെയ്യുക
Comment[mr]=प्रतिमाचे संचार व गोल फिरवा
Comment[nb]=Bla gjennom og roter bilder
Comment[nds]=Billers ankieken un dreihn
Comment[ne]=छविहरू ब्राउज गर्नुहोस् र घुमाउनुहोस्
Comment[nl]=Afbeeldingen doorbladeren en roteren
Comment[nn]=Bla gjennom og roter bilete
Comment[oc]=Percórrer e pivotar los imatges
Comment[or]=ପ୍ରତିଛବିକୁ ବ୍ରାଉଜ କରନ୍ତୁ ଏବଂ ଘୁରାନ୍ତୁ
Comment[pa]=ਝਲਕ ਅਤੇ ਚਿੱਤਰ ਘੁੰਮਾਓ
Comment[pl]=Przeglądanie i obracanie obrazów
Comment[ps]=انځورونه لټول او چورلول
Comment[pt]=Navegue e rode imagens
Comment[pt_BR]=Navegue e gire imagens
Comment[ro]=Navighează și rotește imagini
Comment[ru]=Просмотр и вращение изображений
Comment[si]=පිළිඹිබු ගවේශනය කිරීම සහ කරකැවීම
Comment[sk]=Prehliada a otáča obrázky
Comment[sl]=Prebrskaj in zavrti slike
Comment[sq]=Shfleto dhe rrotullo figurat
Comment[sr]=Прегледајте и окрените слике
Comment[sr@latin]=Pregledajte i okrenite slike
Comment[sv]=Bläddra och rotera bilder
Comment[ta]=பிம்பங்களை உலாவு சுழற்று
Comment[te]=బొమ్మలను విహరించు మరియు తిప్పు
Comment[tg]=Тамошо ва даврзании тасвирҳо
Comment[th]=เรียกดูและหมุนรูป
Comment[tr]=Resimleri tara ve çevir
Comment[ts]=Lavalava na ku hundzuluxa swifaniso
Comment[ug]=سۈرەتكە كۆز يۈگۈرت ۋە ئايلاندۇر
Comment[uk]=Перегляд та обертання зображень
Comment[uz]=Rasmni koʻrish va burish
Comment[uz@cyrillic]=Расмни кўриш ва буриш
Comment[vi]=Duyệt và xoay ảnh
Comment[xh]=Funda nje kwaye ujikajike umifanekiso
Comment[zh_CN]=浏览及旋转图像
Comment[zh_HK]=瀏覽及更改影像的方向
Comment[zh_TW]=瀏覽及更改影像的方向
Comment[zu]=Dlulisa amehlo bese ijikeleza isithombe
Comment=Browse and rotate images
TryExec=eog
Exec=eog %U
# TRANSLATORS: Do NOT translate or transliterate this text!
# This is an icon file name
Icon[ar]=eog
Icon[be]=eog
Icon[bg]=eog
Icon[ca]=eog
Icon[ca@valencia]=eog
Icon[cs]=eog
Icon[da]=eog
Icon[de]=eog
Icon[el]=eog
Icon[en_GB]=eog
Icon[es]=eog
Icon[eu]=eog
Icon[fa]=eog
Icon[fi]=eog
Icon[fr]=eog
Icon[fur]=eog
Icon[gd]=eog
Icon[gl]=eog
Icon[hr]=eog
Icon[hu]=eog
Icon[id]=eog
Icon[is]=eog
Icon[it]=eog
Icon[ja]=eog
Icon[kk]=eog
Icon[ko]=eog
Icon[lt]=eog
Icon[lv]=eog
Icon[ml]=eog
Icon[nb]=eog
Icon[nl]=eog
Icon[pa]=eog
Icon[pl]=eog
Icon[pt_BR]=eog
Icon[ro]=eog
Icon[ru]=eog
Icon[sk]=eog
Icon[sl]=eog
Icon[sr]=eog
Icon[sr@latin]=eog
Icon[sv]=eog
Icon[tr]=eog
Icon[vi]=eog
Icon[zh_CN]=eog
Icon[zh_TW]=eog
Icon=eog
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=EOG
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.28.1
X-GNOME-DocPath=eog/eog.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
# Extra keywords that can be used to search for eog in GNOME Shell and Unity
# TRANSLATORS: Search terms to find this application.
#              Do NOT translate or localize the semicolons!
#              The list MUST also end with a semicolon!
Keywords[an]=Foto;Diapositivas;Graficos;
Keywords[ar]=صورة;رسوميات;عرض شرائح;
Keywords[as]=ছবি;স্লাইডশ্ব;গ্ৰাফিক্স;
Keywords[be]=Выява;Слайдшоу;Графіка;
Keywords[bg]=изображение;снимка;графика;картина;разглеждане;прожекция;picture;slideshow;graphics;
Keywords[bs]=Picture;Slideshow;Graphics;
Keywords[ca]=Fotografia;Diapositives;Gràfics;
Keywords[ca@valencia]=Fotografia;Diapositives;Gràfics;
Keywords[cs]=obrázek;fotka;promítání snímků;prezentace snímků;grafika;
Keywords[da]=Billede;Foto;Fotografi;Præsentation;Slideshow;Grafik;
Keywords[de]=Bild;Diaschau;Diashow;Grafik;
Keywords[el]=Εικόνα;Προβολή διαφανειών;Γραφικά;Picture;Slideshow;Graphics;
Keywords[en_GB]=Picture;Slideshow;Graphics;
Keywords[eo]=Bildo;Lumbildprezentado;Grafiko;
Keywords[es]=Foto;Diapositivas;Gráficos;
Keywords[et]=Pilt;Foto;Slaidiesitlus;Graafika;
Keywords[eu]=Argazkia;diapositiba-aurkezpena;Grafikoak;
Keywords[fa]=عکس;نمایش اسلایدی;گرافیک;Picture;Slideshow;Graphics;
Keywords[fi]=Picture;Slideshow;Graphics;Kuva;Kuvaesitys;Grafiikka;
Keywords[fr]=Image;Diaporama;Graphiques;Photographie;
Keywords[fur]=Figure;Imagjin;Diapositive;Grafics;
Keywords[gd]=Dealbh;Taisbeanadh-shleamhnagan; Grafaigeachd;Picture;Slideshow;Graphics;
Keywords[gl]=Foto;Diapositivas;Gráficos;
Keywords[gu]=ચિત્ર;સ્લાઇડ શો;ગ્રાફિક;
Keywords[he]=תמונה;מצגת;גרפיקה;
Keywords[hi]=चित्र;स्लाइड शो;ग्राफिक्स;
Keywords[hr]=Slika;Prezentacija;Grafika;
Keywords[hu]=Kép;Diavetítés;Grafika;Bemutató;
Keywords[id]=Gambar;Slideshow;Grafis;
Keywords[is]=Mynd;Skyggnusýning;Myndefni;
Keywords[it]=Immagini;Diapositive;Grafica;
Keywords[ja]=Picture;Slideshow;Graphics;写真;画像;スライドショー;グラフィックス;ImageViewer;
Keywords[kk]=Picture;Slideshow;Graphics;Сурет;Слайдшоу;Графика;
Keywords[km]=ការ​បញ្ចាំង​ស្លាយ;
Keywords[kn]=ಚಿತ್ರ;ಜಾರುಫಲಕಪ್ರದರ್ಶನ;ಗ್ರಾಫಿಕ್ಸ್;
Keywords[ko]=Picture;그림;사진;이미지;Slideshow;슬라이드쇼;Graphics;그래픽;
Keywords[lt]=Paveikslėlis;Demonstracija;Skaidrės;Grafika;
Keywords[lv]=Attēli;Bildes;Slīdrāde;Slaidrāde;Grafika;Fotogrāfijas;Picture;Slideshow;Graphics;
Keywords[ml]=ചിത്രം;സ്ലൈഡ്ഷോ;ഗ്രാഫിക്സ്;
Keywords[mr]=Picture;Slideshow;Graphics;
Keywords[nb]=Bilde;Lysbilder;Grafikk;
Keywords[nl]=Picture;Slideshow;Graphics;Afbeelding;Diavoorstelling;Grafisch;Foto;
Keywords[oc]=Imatge ;Diaporama;Grafics;Fotografia;
Keywords[pa]=ਤਸਵੀਰ;ਫੋਟੋ,ਸਲਾਈਡ-ਸ਼ੋ;ਗਰਾਫਿਕਸ;
Keywords[pl]=Obraz;Obrazek;Pokaz;slajdów;Grafika;Przeglądarka;
Keywords[pt]=Imagem;Apresentação;Diaporama;Gráficos;
Keywords[pt_BR]=Fotos;Apresentação de slides;Gráficos;
Keywords[ro]=Picture;Slideshow;Graphics;Imagine;Fotografie;Grafică;Prezentare;Diapozitive;
Keywords[ru]=Изображение;Слайд-шоу;Графика;
Keywords[sk]=Obrázok;Prezentácia;Grafika;Prehliadanie;
Keywords[sl]=Slike;Predstavitev;Grafika;Fotografije;
Keywords[sr]=слика;покретни приказ;графика;слајдшоу;
Keywords[sr@latin]=slika;pokretni prikaz;grafika;slajdšou;
Keywords[sv]=Bild;Bildspel;Grafik;
Keywords[ta]=படங்கள்;லைட்ஷோ;வரகலை;
Keywords[te]=చిత్రం;పలకప్రదర్శన;చిత్రరూపాలు;
Keywords[tg]=Тасвир;Намоиши слайдҳо;Графика;
Keywords[th]=รูป;ภาพ;สไลด์;กราฟิกส์;
Keywords[tr]=Resim;Slayt Gösterisi;Grafikler;Görseller;
Keywords[ug]=Picture;Slideshow;Graphics;سۈرەت;تام تەسۋىر;گرافىك;
Keywords[uk]=Малюнок;Слайд;Графіки;
Keywords[vi]=Picture;Hình;ảnh;Hinh;Anh;Slideshow;Trình;diễn;Trinh;Dien;Graphics;Đồ;họa;họa;Do;Hoa;
Keywords[zh_CN]=Picture;Slideshow;Graphics;图片;幻灯片;图像;
Keywords[zh_HK]=Picture;Slideshow;Graphics;照片;投影片;影像;
Keywords[zh_TW]=Picture;Slideshow;Graphics;相片;投影片;影像;
Keywords=Picture;Slideshow;Graphics;
