[Desktop Entry]
Name=Keyboard Layout
Comment=Preview keyboard layouts
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[cs]=preferences-desktop-keyboard
Icon[da]=preferences-desktop-keyboard
Icon[de]=preferences-desktop-keyboard
Icon[es]=preferences-desktop-keyboard
Icon[fi]=preferences-desktop-keyboard
Icon[hu]=preferences-desktop-keyboard
Icon[id]=preferences-desktop-keyboard
Icon[lt]=preferences-desktop-keyboard
Icon[pl]=preferences-desktop-keyboard
Icon[pt]=preferences-desktop-keyboard
Icon[pt_BR]=preferences-desktop-keyboard
Icon[sk]=preferences-desktop-keyboard
Icon[sl]=preferences-desktop-keyboard
Icon[sr]=preferences-desktop-keyboard
Icon[sr@latin]=preferences-desktop-keyboard
Icon[sv]=preferences-desktop-keyboard
Icon[vi]=preferences-desktop-keyboard
Icon=preferences-desktop-keyboard
Exec=gkbd-keyboard-display
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=libgnomekbd
X-GNOME-Bugzilla-Component=Drawing
X-GNOME-Bugzilla-Version=3.26.0
Categories=GNOME;GTK;Core;System;
OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=libgnomekbd
