[Desktop Entry]
Name=Input Method
Name[cs]=Vstupní metoda
Name[ja]=入力メソッド
Name[zh_TW]=輸入法
Name[zh_HK]=輸入法
Name[zh_CN]=输入法
Name[ko]=입력기
Name[vi]=Trình chuyển cách nhập liệu
Name[fr]=Méthode d'entrée
Name[de]=Eingabemethode
Name[uk]=Спосіб введення
Name[ru]=Метод ввода
Comment=Set Keyboard Input Method
Comment[cs]=Nastavení vstupní metody klávesnice
Comment[ja]=キーボード入力メソッドの設定
Comment[zh_TW]=設定鍵盤輸入模式
Comment[zh_HK]=設定鍵盤輸入模式
Comment[zh_CN]=设定键盘输入模式
Comment[vi]=Chọn kiểu nhập bàn phím
Comment[uk]=Налаштування способу введення за допомогою клавіатури
Comment[ru]=Настройка метода ввода с клавиатуры
Type=Application
Keywords=keyboard;input
Exec=im-config
Terminal=false
Icon=input-keyboard
Categories=Settings
OnlyShowIn=KDE;GNOME;
