[Desktop Entry]
Name=Wallet Management Tool
Name[ar]=أداة لإدارة المحفظة
Name[bg]=Инструмент за настройване на "Портфейл"
Name[br]=Merour an doug-paperoù
Name[bs]=Alatka za upravljanje novčanicima
Name[ca]=Eina per a la gestió de carteres
Name[ca@valencia]=Eina per a la gestió de carteres
Name[cs]=Nástroj pro správu úschovny
Name[cy]=Erfyn Rheoli Waled
Name[da]=Håndteringsværktøj for tegnebog
Name[de]=Passwortverwaltung
Name[el]=Εργαλείο διαχείρισης πορτοφολιού
Name[en_GB]=Wallet Management Tool
Name[eo]=Paperuja administrilo
Name[es]=Herramienta de gestión de carteras
Name[et]=Turvalaeka haldur
Name[eu]=Zorroa kudeatzeko tresna
Name[fa]=ابزار مدیریت  Wallet
Name[fi]=Lompakonhallinta
Name[fr]=Outil de gestion de portefeuilles
Name[ga]=Uirlis Bhainisteoireachta Wallet
Name[gl]=Utilidade de xestión de carteiras
Name[he]=כלי לניהול הארנק של KDE
Name[hne]=बटुआ प्रबंधन औजार
Name[hr]=Alat za upravljanje novčanikom
Name[hu]=Jelszókezelő eszköz
Name[ia]=Instrumento de gestion de portafolio
Name[id]=Perkakas Pengelolaan Wallet
Name[is]=Tól til að stýra eiginleikum veskisins
Name[it]=Strumento per la gestione dei portafogli
Name[ja]=ウォレット管理ツール
Name[kk]=Әмиянын басқару құралы
Name[km]=ឧបករណ៍​គ្រប់គ្រង​កាបូប
Name[ko]=지갑 관리 도구
Name[lt]=Spatažodinių tvarkymo įrankis
Name[lv]=Maka pārvaldības rīks
Name[mk]=Алатка за менаџирање на паричници
Name[mr]=पाकीट व्यवस्थापन साधन
Name[nb]=Wallet administrasjonsverktøy
Name[nds]=Knippenpleger
Name[ne]=वालेट व्यवस्थापन उपकरण
Name[nl]=Portefeuillebeheer
Name[nn]=Wallet-administrasjonsverktøy
Name[pa]=ਵਾਲਿਟ ਇੰਤਜ਼ਾਮ ਟੂਲ
Name[pl]=Zarządzanie portfelem
Name[pt]=Ferramenta de Gestão da Carteira
Name[pt_BR]=Ferramenta para gerenciamento de carteiras
Name[ro]=Administrare portofel
Name[ru]=Управление бумажниками
Name[sk]=Nástroj pre správu KDE Wallet
Name[sl]=Orodje za upravljanje z listnicami
Name[sq]=Mjet i Menaxhimit të Portofolit
Name[sr]=Алатка за управљање новчаницима
Name[sr@ijekavian]=Алатка за управљање новчаницима
Name[sr@ijekavianlatin]=Alatka za upravljanje novčanicima
Name[sr@latin]=Alatka za upravljanje novčanicima
Name[sv]=Hanteringsverktyg för plånbok
Name[ta]=வாலட் மேலாண்மை கருவி  
Name[tg]=Асбоби Идоракунии Ҳамён
Name[th]=เครื่องมือจัดการกระเป๋าคุมข้อมูล
Name[tr]=Cüzdan Yönetim Aracı
Name[ug]=ھەميان باشقۇرۇش قورالى
Name[uk]=Засіб керування торбинками
Name[uz]=Qopchiq boshqarish vositasi
Name[uz@cyrillic]=Қопчиқ бошқариш воситаси
Name[vi]=Công Cụ Quản Lý Ví
Name[x-test]=xxWallet Management Toolxx
Name[zh_CN]=钱包管理工具
Name[zh_TW]=錢包管理工具
Comment=Wallet Management Tool
Comment[ar]=أداة لإدارة المحفظة
Comment[ca]=Eina per a la gestió de carteres
Comment[ca@valencia]=Eina per a la gestió de carteres
Comment[cs]=Nástroj pro správu úschovny
Comment[da]=Værktøj til håndtering af tegnebog
Comment[de]=Passwortverwaltung
Comment[el]=Εργαλείο διαχείρισης πορτοφολιού
Comment[en_GB]=Wallet Management Tool
Comment[es]=Herramienta de gestión de carteras
Comment[et]=Turvalaeka haldur
Comment[eu]=Zorroa kudeatzeko tresna
Comment[fi]=Lompakonhallinta
Comment[fr]=Outil de gestion de portefeuilles
Comment[gl]=Utilidade de xestión de carteiras
Comment[hu]=Jelszókezelő eszköz
Comment[ia]=Instrumento de gestion de portafolio
Comment[it]=Strumento per la gestione dei portafogli
Comment[ko]=지갑 관리 도구
Comment[nl]=Hulpmiddel voor portefeuillebeheer
Comment[nn]=Wallet-administrasjonsverktøy
Comment[pa]=ਵਾਲਿਟ ਇੰਤਜ਼ਾਮ ਟੂਲ
Comment[pl]=Zarządzanie portfelem
Comment[pt]=Ferramenta de Gestão da Carteira
Comment[pt_BR]=Ferramenta para gerenciamento de carteiras
Comment[ru]=Управление бумажниками
Comment[sk]=Nástroj pre správu KDE Wallet
Comment[sl]=Orodje za upravljanje z listnicami
Comment[sr]=Алатка за управљање новчаницима
Comment[sr@ijekavian]=Алатка за управљање новчаницима
Comment[sr@ijekavianlatin]=Alatka za upravljanje novčanicima
Comment[sr@latin]=Alatka za upravljanje novčanicima
Comment[sv]=Hanteringsverktyg för plånbok
Comment[tr]=Cüzdan Yönetim Aracı
Comment[uk]=Засіб керування торбинками
Comment[x-test]=xxWallet Management Toolxx
Comment[zh_CN]=钱包管理工具
Comment[zh_TW]=錢包管理工具
Exec=kwalletmanager5 --kwalletd
Icon=kwalletmanager
Type=Application
Terminal=false
X-KDE-StartupNotify=false
NoDisplay=true
X-DocPath=help:/kwallet5/index.html
