[Desktop Entry]
Type=Application
Terminal=false
Name=Nyika
GenericName=Web Browser
Icon=/usr/eXtern/systemX/apps/extern.web.app/abrowser2.svg
Exec=/usr/eXtern/NodeJs/nw /usr/eXtern/systemX extern.web.app %u
MimeType=text/plain;
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
Keywords=Internet;WWW;Browser;Web;Explorer
Comment=Explore the Web!
Name[en_AU]=Nyika
