[Desktop Entry]
Name=Disks
Comment=Manage Drives and Media
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Exec=gnome-disks
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ar]=gnome-disks
Icon[be]=gnome-disks
Icon[ca]=gnome-disks
Icon[ca@valencia]=gnome-disks
Icon[cs]=gnome-disks
Icon[da]=gnome-disks
Icon[de]=gnome-disks
Icon[el]=gnome-disks
Icon[en_GB]=gnome-disks
Icon[es]=gnome-disks
Icon[eu]=gnome-disks
Icon[fi]=gnome-disks
Icon[fr]=gnome-disks
Icon[fur]=gnome-disks
Icon[gd]=gnome-disks
Icon[gl]=gnome-disks
Icon[hr]=gnome-disks
Icon[hu]=gnome-disks
Icon[id]=gnome-disks
Icon[it]=gnome-disks
Icon[kk]=gnome-disks
Icon[ko]=gnome-disks
Icon[lt]=gnome-disks
Icon[lv]=gnome-disks
Icon[nb]=gnome-disks
Icon[nl]=gnome-disks
Icon[pl]=gnome-disks
Icon[pt]=gnome-disks
Icon[pt_BR]=gnome-disks
Icon[ru]=gnome-disks
Icon[sk]=gnome-disks
Icon[sl]=gnome-disks
Icon[sr]=gnome-disks
Icon[sr@latin]=gnome-disks
Icon[sv]=gnome-disks
Icon[tr]=gnome-disks
Icon[vi]=gnome-disks
Icon[zh_CN]=gnome-disks
Icon[zh_TW]=gnome-disks
Icon=gnome-disks
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;X-GNOME-Utilities;Settings;HardwareSettings;
DBusActivatable=true
X-Ubuntu-Gettext-Domain=gnome-disk-utility
