[Desktop Entry]
Name=KWalletManager
Name[ar]=مدير محفظتك
Name[bg]=KWalletManager
Name[bs]=KWalletManager
Name[ca]=KWalletManager
Name[ca@valencia]=KWalletManager
Name[cs]=KWalletManager
Name[da]=KWalletManager
Name[de]=KWalletManager
Name[el]=KWalletManager
Name[en_GB]=KWalletManager
Name[es]=KWalletManager
Name[et]=Turvalaeka haldur
Name[eu]=KWalletManager
Name[fi]=KWalletManager
Name[fr]=KWalletManager
Name[ga]=KWalletManager
Name[gl]=KWalletManager
Name[hne]=के-वालेट-मैनेजर
Name[hr]=KWalletManager
Name[hu]=KWalletManager
Name[ia]=Gerente KWallet
Name[id]=KWalletManager
Name[it]=KWalletManager
Name[ja]=KWalletManager
Name[kk]=KWalletManager
Name[km]=KWalletManager
Name[ko]=KWalletManager
Name[lt]=KWalletManager
Name[lv]=KWalletManager
Name[mr]=के-वॉलेट व्यवस्थापक
Name[nb]=KWalletManager
Name[nds]=KDE-Knippenpleger
Name[nl]=KWalletManager
Name[nn]=KWalletManager
Name[pa]=ਕੇਵਾਲਿਟ-ਮੈਨੇਜਰ
Name[pl]=KWalletManager
Name[pt]=KWalletManager
Name[pt_BR]=KWalletManager
Name[ro]=KWalletManager
Name[ru]=KWalletManager
Name[sk]=KWalletManager
Name[sl]=Upravljalnik Listnice za KDE
Name[sq]=KWalletManager
Name[sr]=Менаџер К‑новчаника
Name[sr@ijekavian]=Менаџер К‑новчаника
Name[sr@ijekavianlatin]=Menadžer K‑novčanika
Name[sr@latin]=Menadžer K‑novčanika
Name[sv]=Hanteringsverktyg för plånbok
Name[th]=จัดการกระเป๋าคุมข้อมูล-K
Name[tr]=KWallet Yönetim Aracı
Name[ug]=KWalletManager
Name[uk]=KWalletManager
Name[x-test]=xxKWalletManagerxx
Name[zh_CN]=KWalletManager
Name[zh_TW]=KDE 錢包管理員
Comment=KDE Wallet Management Tool
Comment[ar]=أداة لإدارة محفظة كدي
Comment[ca]=Eina per a la gestió de carteres del KDE
Comment[ca@valencia]=Eina per a la gestió de carteres del KDE
Comment[cs]=Správce úschovny KDE
Comment[da]=Værktøj til håndtering af KDE's tegnebog
Comment[de]=KDE-Dienstprogramm für Passwörter
Comment[el]=Εργαλείο διαχείρισης πορτοφολιού του KDE
Comment[en_GB]=KDE Wallet Management Tool
Comment[es]=Herramienta de gestión de carteras de KDE
Comment[et]=KDE turvalaeka haldur
Comment[eu]=KDEren zorroa kudeatzeko tresna
Comment[fi]=KDE:n lompakonhallinta
Comment[fr]=Outil de gestion de portefeuilles de KDE
Comment[gl]=Xestor de contrasinais de KDE
Comment[hu]=KDE Wallet jelszókezelő eszköz
Comment[ia]=Instrumento per gerer portafolio de KDE
Comment[it]=Strumento per la gestione dei portafogli di KDE
Comment[ko]=KDE 지갑 관리 도구
Comment[nl]=KDE hulpmiddel voor portefeuillebeheer
Comment[nn]=KDE-verktøy for å handtera lommebøker
Comment[pa]=KDE ਵਾਲਿਟ ਇੰਤਜ਼ਾਮ ਟੂਲ
Comment[pl]=Zarządzanie portfelami
Comment[pt]=Ferramenta de Gestão da Carteira do KDE
Comment[pt_BR]=Ferramenta para gerenciamento de carteiras do KDE
Comment[ru]=Управление бумажниками KDE
Comment[sk]=Nástroj pre správu KDE Wallet
Comment[sl]=Orodje za upravljanje z listnicami v KDE
Comment[sr]=КДЕ алатка за управљање новчаницима
Comment[sr@ijekavian]=КДЕ алатка за управљање новчаницима
Comment[sr@ijekavianlatin]=KDE alatka za upravljanje novčanicima
Comment[sr@latin]=KDE alatka za upravljanje novčanicima
Comment[sv]=KDE:s hanteringsverktyg för plånbok
Comment[tr]=KDE Cüzdan Yönetim Aracı
Comment[uk]=Засіб KDE для керування торбинками
Comment[x-test]=xxKDE Wallet Management Toolxx
Comment[zh_CN]=KDE 钱包管理工具
Comment[zh_TW]=KDE 錢包管理工具
GenericName=Wallet Management Tool
GenericName[ar]=أداة لإدارة المحفظة
GenericName[bg]=Управление на "Портфейл"
GenericName[bs]=Alatka za upravljanje novčanicima
GenericName[ca]=Eina per a la gestió de carteres
GenericName[ca@valencia]=Eina per a la gestió de carteres
GenericName[cs]=Nástroj pro správu úschovny
GenericName[da]=Værktøj til håndtering af tegnebog
GenericName[de]=Passwortverwaltung
GenericName[el]=Εργαλείο διαχείρισης πορτοφολιού
GenericName[en_GB]=Wallet Management Tool
GenericName[eo]=Paperuja administrilo
GenericName[es]=Herramienta de gestión de carteras
GenericName[et]=Turvalaeka haldur
GenericName[eu]=Zorroa kudeatzeko tresna
GenericName[fi]=Lompakonhallinta
GenericName[fr]=Outil de gestion de portefeuilles
GenericName[ga]=Uirlis Bhainisteoireachta Sparáin
GenericName[gl]=Utilidade de xestión de carteiras
GenericName[hne]=बटुआ प्रबंधन औजार
GenericName[hr]=Alat za upravljanje novčanikom
GenericName[hu]=Jelszókezelő eszköz
GenericName[ia]=Instrumento de gestion de portafolio
GenericName[id]=Perkakas Pengelolaan Wallet
GenericName[it]=Strumento per la gestione dei portafogli
GenericName[ja]=ウォレット管理ツール
GenericName[kk]=Әмиянын басқару құралы
GenericName[km]=ឧបករណ៍​គ្រប់គ្រង​កាបូប
GenericName[ko]=지갑 관리 도구
GenericName[lt]=Spatažodinių tvarkymo įrankis
GenericName[lv]=Maka pārvaldības rīks
GenericName[mr]=पाकीट व्यवस्थापन साधन
GenericName[nb]=Wallet administrasjonsverktøy
GenericName[nds]=Knippenpleger
GenericName[nl]=Portefeuillebeheer
GenericName[nn]=Wallet-administrasjonsverktøy
GenericName[pa]=ਵਾਲਿਟ ਇੰਤਜ਼ਾਮ ਟੂਲ
GenericName[pl]=Zarządzanie portfelem
GenericName[pt]=Ferramenta de Gestão da Carteira
GenericName[pt_BR]=Ferramenta para gerenciamento de carteiras
GenericName[ro]=Administrare portofel
GenericName[ru]=Управление бумажниками
GenericName[sk]=Nástroj pre správu KDE Wallet
GenericName[sl]=Orodje za upravljanje z listnicami
GenericName[sq]=Mjet i Menaxhimit të Portofolit
GenericName[sr]=Алатка за управљање новчаницима
GenericName[sr@ijekavian]=Алатка за управљање новчаницима
GenericName[sr@ijekavianlatin]=Alatka za upravljanje novčanicima
GenericName[sr@latin]=Alatka za upravljanje novčanicima
GenericName[sv]=Hanteringsverktyg för plånbok
GenericName[th]=เครื่องมือจัดการกระเป๋าคุมข้อมูล
GenericName[tr]=Cüzdan Yönetim Aracı
GenericName[ug]=ھەميان باشقۇرۇش قورالى
GenericName[uk]=Засіб керування торбинками
GenericName[x-test]=xxWallet Management Toolxx
GenericName[zh_CN]=钱包管理工具
GenericName[zh_TW]=錢包管理工具
Exec=kwalletmanager5 %u
MimeType=application/x-kwallet;
InitialPreference=6
Icon=kwalletmanager
Type=Application
Terminal=false
StartupNotify=false
Categories=Qt;KDE;System;Security;
X-DocPath=kwallet5/index.html
X-DBUS-ServiceName=org.kde.kwalletmanager5
