[Desktop Entry]
Name[af]=Gevorderde Instellings
Name[ar]=التطويعات
Name[as]=টুইকচ্
Name[bg]=Настройки
Name[bs]=Tuniranja
Name[ca]=Ajustaments
Name[ca@valencia]=Ajustaments
Name[cs]=Vylepšení
Name[da]=Tilpasninger
Name[de]=Optimierungen
Name[el]=Μικρορυθμίσεις
Name[en_GB]=Tweaks
Name[eo]=Optimumigoj
Name[es]=Retoques
Name[eu]=Doikuntzak
Name[fa]=سیخونک‌ها
Name[fi]=Lisäasetukset
Name[fr]=Ajustements
Name[fur]=Personalizazions
Name[gl]=Axustes
Name[he]=התאמות
Name[hr]=Prilagodbe
Name[hu]=Hangolások
Name[id]=Oprekan
Name[is]=Sérbreytingar
Name[it]=Personalizzazioni
Name[ja]=Tweaks
Name[kk]=Қосымша баптаулар
Name[ko]=기능 개선
Name[lt]=Reguliavimai
Name[lv]=Piedares
Name[ml]=ട്വീക്ക്
Name[nb]=Konfigurasjonsendringer
Name[ne]=ट्विकस्
Name[nl]=Afstellingen
Name[oc]=Reglatges
Name[pa]=ਟਵਿਕ
Name[pl]=Dostrajanie
Name[pt]=Ajustes
Name[pt_BR]=Ajustes
Name[ro]=Ajustări
Name[ru]=Доп. настройки GNOME
Name[sk]=Vyladenia
Name[sl]=Prilagoditve
Name[sr]=Лицкања
Name[sr@latin]=Lickanja
Name[sv]=Justeringar
Name[th]=รายการดัดแปลง
Name[tr]=İnce Ayarlar
Name[uk]=Коригування
Name[vi]=Tinh chỉnh
Name[zh_CN]=优化
Name[zh_HK]=調校
Name[zh_TW]=調校
Name=Tweaks
Comment[af]=Verstel gevorderde GNOME 3 instellings
Comment[ar]=طوّع إعدادات جنوم 3 المتقدمة
Comment[as]=উন্নত GNOME 3 সংহতিসমূহ টুইক কৰক
Comment[bs]=Izvlačenje naprednih GNOME 3 postavki
Comment[ca]=Configureu paràmetres avançats del GNOME 3
Comment[ca@valencia]=Configureu paràmetres avançats del GNOME 3
Comment[cs]=Vylaďte si pokročilá nastavení GNOME 3
Comment[da]=Tilpas avancerede indstillinger for GNOME 3
Comment[de]=Erweiterte Einstellungen für GNOME 3 optimieren
Comment[el]=Επεξεργαστείτε τις προχωρημένες ρυθμίσεις του GNOME 3
Comment[en_GB]=Tweak advanced GNOME 3 settings
Comment[es]=Ajustes de retoques avanzados en GNOME 3
Comment[eu]=Doitu GNOME 3ren ezarpen aurreratuak
Comment[fa]=به تنظیمات پیشرفته گنوم ۳ سیخونک بزنید
Comment[fi]=Gnome 3:n lisäasetukset
Comment[fr]=Ajuster les paramètres avancés de GNOME 3
Comment[fur]=Personalize lis impostazions avanzadis di GNOME 3
Comment[gl]=Axustes avanzados en GNOME 3
Comment[he]=התאמת הגדרות מתקדמות ב־GNOME 3
Comment[hr]=Prilagodite napredne GNOME 3 postavke
Comment[hu]=A GNOME 3 speciális beállításainak módosítása
Comment[id]=Ubah pengaturan tingkat lanjut GNOME 3
Comment[is]=Sýsla með ítarlegri GNOME 3 stillingar
Comment[it]=Personalizza le impostazioni avanzate di GNOME 3
Comment[ja]=GNOME 3 の高度な設定
Comment[kk]=GNOME 3 қосымша баптауларын өзгерту
Comment[ko]=고급 기능 개선 그놈 3 설정
Comment[ky]=GNOME 3-түн комшумча параметрлерин өзгөртүү
Comment[lt]=Reguliuokite papildomus GNOME3 nustatymus
Comment[lv]=Pieregulēt paplašinātos GNOME 3 iestatījumus
Comment[ml]=കൂടുതല്‍ ഗ്നോം 3 ക്രമീകരണങ്ങളില്‍ മാറ്റം വരുത്തുക
Comment[my]=Tweak အဆင့်မြင့် GNOME 3 ချိန်ညှိချက်များ
Comment[nb]=Endre avanserte GNOME 3 innstillinger
Comment[ne]=जिनोम ३उन्नत ट्वीक सेटिङ 
Comment[nl]=Uitgebreide instellingen voor Gnome 3
Comment[oc]=Personalizar los reglatges avançats de GNOME 3
Comment[pa]=ਤਕਨੀਕੀ ਗਨੋਮ 3 ਸੈਟਿੰਗ ਬਦਲਾਅ
Comment[pl]=Dostrajanie zaawansowanych ustawień środowiska GNOME 3
Comment[pt]=Ajustar definições avançadas do GNOME 3
Comment[pt_BR]=Ajuste configurações avançadas do GNOME 3
Comment[ro]=Ajustează setări GNOME 3 avansate
Comment[ru]=Настройка дополнительных параметров GNOME 3
Comment[sk]=Vyladenie pokročilých nastavení prostredia GNOME 3
Comment[sl]=Prilagajanje naprednih nastavitev GNOME 3
Comment[sr]=Налицкајте напредна подешавања Гнома 3
Comment[sr@latin]=Nalickajte napredna podešavanja Gnoma 3
Comment[sv]=Justera avancerade GNOME 3-inställningar
Comment[te]=ట్వీక్ అధునాతన గ్నోమ్ 3 అమరికలు
Comment[th]=ดัดแปลงค่าตั้งขั้นสูงของ GNOME 3
Comment[tr]=Gelişmiş GNOME 3 ayarlarını yapılandırın
Comment[uk]=Додаткові налаштування для GNOME 3
Comment[vi]=Tinh chỉnh nâng cao GNOME 3
Comment[zh_CN]=调整 GNOME 3 高级设置
Comment[zh_HK]=調校進階 GNOME 3 設定值
Comment[zh_TW]=調校進階 GNOME 3 設定值
Comment=Tweak advanced GNOME 3 settings
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ar]=org.gnome.tweaks
Icon[cs]=org.gnome.tweaks
Icon[da]=org.gnome.tweaks
Icon[de]=org.gnome.tweaks
Icon[el]=org.gnome.tweaks
Icon[es]=org.gnome.tweaks
Icon[fi]=org.gnome.tweaks
Icon[fr]=org.gnome.tweaks
Icon[fur]=org.gnome.tweaks
Icon[gl]=org.gnome.tweaks
Icon[hr]=org.gnome.tweaks
Icon[hu]=org.gnome.tweaks
Icon[id]=org.gnome.tweaks
Icon[it]=org.gnome.tweaks
Icon[kk]=org.gnome.tweaks
Icon[ko]=org.gnome.tweaks
Icon[lt]=org.gnome.tweaks
Icon[lv]=org.gnome.tweaks
Icon[nl]=org.gnome.tweaks
Icon[oc]=gnome-tweak-tool
Icon[pl]=org.gnome.tweaks
Icon[pt_BR]=org.gnome.tweaks
Icon[ru]=org.gnome.tweaks
Icon[sk]=org.gnome.tweaks
Icon[sl]=org.gnome.tweaks
Icon[sr]=org.gnome.tweaks
Icon[sr@latin]=org.gnome.tweaks
Icon[sv]=org.gnome.tweaks
Icon[tr]=org.gnome.tweaks
Icon[zh_CN]=org.gnome.tweaks
Icon[zh_TW]=org.gnome.tweaks
Icon=org.gnome.tweaks
Exec=gnome-tweaks
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=gnome-tweaks
Categories=GNOME;GTK;Settings;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=Instellings;Gevorderd;Voorkeure;Uitbreidings;Lettertipe;Tema;XKB;Sleutelbord;Tik;
Keywords[ar]=إعدادات;متقدم;تفضيلات;امتدادات;خطوط;سمة;لوحة مفاتيح;كتابة;
Keywords[as]=সংহতিসমূহ;উন্নত;পছন্দসমূহ;এক্সটেনষণসমূহ;ফন্টসমূহ;থীম;XKB;কিবৰ্ড;টাইপিং;
Keywords[bs]=Postavke Napredno, želje; ekstenzije, Krstionica, teme, XKB, tipkovnica, Tipkanje;
Keywords[ca]=Paràmetres;Avançat;Preferències;Extensions;Tipus de lletra;Temes;XKB;Teclat;Escriptura;
Keywords[ca@valencia]=Paràmetres;Avançat;Preferències;Extensions;Tipus de lletra;Temes;XKB;Teclat;Escriptura;
Keywords[cs]=nastavení;pokročilé;předvolby;rozšíření;písma;písmo;fonty;motiv;XKB;klávesnice;psaní;
Keywords[da]=Indstillinger;Avanceret;Egenskaber;Udvidelser;Skrifttyper;Tema;XKB;Tastatur;Indtastning;
Keywords[de]=Einstellungen;Erweiterte;Erweiterungen;Schriften;Thema;XKB;Tastatur;Eingabe;Tweak;Optimierung;
Keywords[el]=Ρυθμίσεις;προχωρημένα;προτιμήσεις;επεκτάσεις;γραμματοσειρές;θέμα;XKB;πληκτρολόγιο;πληκτρολόγηση;Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
Keywords[en_GB]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
Keywords[es]=Configuración;Avanzada;Preferencias;Extensiones:Tipografías;Tema;XKB;Teclado;Escritura;
Keywords[eu]=Ezarpenak;Aurreratua;Hobespenak;Hedapenak;Letra-tipoak;Gaia;XKB;Teklatua;Idazketa;
Keywords[fa]=تنظیمات;پیشرفته;ترجیحات;افزونه‌ها;قلم‌ها;تم;صفحه‌کلید;تایپ;Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
Keywords[fi]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;asetukset;ominaisuudet;laajennukset;kirjasimet;fontit;teema;näppäimistö;kirjoittaminen;
Keywords[fr]=paramètres;avancés;préférences;extensions;polices;thème;xkb;clavier;saisie;
Keywords[fur]=Impostazions;Avanzadis;Preferencis;Estensions;Gjenar di caratar;Temis;XKB;Tastiere;Scriture;
Keywords[gl]=Preferencias;Avanzado;Configuracións;Extensións;Tipos de letra;Tema;XKB;Teclado;Escritura;
Keywords[he]=הגדרות;מתקדם;העדפות;הרחבות;גופנים;ערכת נושא;XKB;מקלדת;הקלדה;
Keywords[hr]=Postavke;Napredno;Osobitosti;Proširenja;Slova;Teme;XKB;Tipkovnica;Tipkanje;
Keywords[hu]=Beállítások;Speciális;Tulajdonságok;Kiterjesztések;Betűkészletek;Téma;XKB;Billentyűzet;Gépelés;
Keywords[id]=Pengaturan;Tingkat Lanjut;Preferensi;Ekstensi;Fonta;Tema;XKB;Papan Tik;Mengetik;
Keywords[is]=Stillingar;Ítarlegt;Kjörstillingar;Skráarendingar;Letur;Þemu;XKB;Lyklaborð;Ritun;
Keywords[it]=Impostazioni;Avanzate;Preferenze;Estensioni;Tipi di carattere;Temi;XKB;Tastiera;Digitazione;
Keywords[ja]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;設定;高度;拡張機能;フォント;テーマ;キーボード;タイピング;customize;カスタマイズ;addon;addin;アドオン;アドイン;gnomeshell;TweakTool;
Keywords[kk]=Баптаулар;Кеңейтілген;Қалаулар;Кеңейтулер;Қаріптер;Тема;XKB;Пернетақта;Теру;
Keywords[ko]=Settings;설정;Advanced;고급;Preferences;기본 설정;Extensions;확장;Fonts;글꼴;Theme;테마;XKB;Keyboard;키보드;Typing;입력;
Keywords[lt]=Nustatymai;Sudėtingesni;Nuostatos;Plėtiniai;Šriftai;Tema;XKB;Klaviatūra;Rašymas;
Keywords[lv]=Iestatījumi;Paplašināti;Paplašinājumi;Fonti;Motīvi;XKB;Tastatūra;Rakstīšana;
Keywords[ml]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
Keywords[nb]=Innstillinger;Avansert;Brukervalg;Utvidelser;Skrifter;Tema;XKB;Tastatur;Skriving;
Keywords[nl]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;instellingen;voorkeuren;thema;toetsenbord;extensies;uitbreidingen;typen;lettertypen;geavanceerd;
Keywords[oc]=Paramètres;Avançats;Preferéncias;Extensions;Poliças;Tèma;XKB;Clavièr;Picada;
Keywords[pa]=ਸੈਟਿੰਗ;ਤਕਨੀਕੀ;ਕਾਰਗੁਜ਼ਾਰੀ;ਫੋਂਟ;ਥੀਮ;ਕੀਬੋਰਡ;ਲਿਖਣਾ;ਇਕਸਟੈਂਸ਼ਨ;Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
Keywords[pl]=Ustawienia;Zaawansowane;Preferencje;Opcje;Konfiguracja;Rozszerzenia;Czcionki;Motyw;XKB;Klawiatura;Pisanie;
Keywords[pt]=Definições;Avançadas;Preferências;Extensões;Letras;Tema;XKB;Teclado;Digitação;
Keywords[pt_BR]=Configurações;Avançado;Preferências;Extensões;Fontes;Tema;XKB;Teclado;Digitação;
Keywords[ro]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;Setări;Configurări;Avansat;Preferințe;Extensii;Fonturi;Temă;XKB;Tastatură;Tastare;
Keywords[ru]=Настройки;Дополнительные;Параметры;Расширения;Шрифты;Тема;XKB;Клавиатура;Ввод;
Keywords[sk]=Nastavenia;Pokročilé;Predvoľby;Rozšírenia;Písma;Téma;XKB;Klávesnica;Písanie;
Keywords[sl]=nastavitve;napredno;lastnosti;razširitve;pisave;teme;tipkovnica;prilagajanje;tipkanje;
Keywords[sr]=подешавања;напредно;поставке;проширења;словни ликови;фонтови;тема;икскб;тастатура;куцање;
Keywords[sr@latin]=podešavanja;napredno;postavke;proširenja;slovni likovi;fontovi;tema;ikskb;tastatura;kucanje;
Keywords[sv]=Inställningar;Avancerad;Tillägg;Typsnitt;Tema;XKB;Tangentbord;Inmatning;
Keywords[th]=ตั้งค่า;ขั้นสูง;ปรับแต่ง;ส่วนขยาย;แบบอักษร;ชุดตกแต่ง;XKB;แป้นพิมพ์;การพิมพ์;
Keywords[tr]=Ayarlar;Gelişmiş;Tercihler;Eklentiler;Yazı Tipleri;Tema;XKB;Klavye;Yazım;
Keywords[uk]=Параметри;Додаткові;Налаштування;Розширення;Шрифти;Теми;XKB;Клавіатура;Набирання;
Keywords[vi]=Settings;Cài đặt;Cai dat;Advanced;Nâng cao;Nang cao;Preferences;Extensions;Mở rộng;Mo rong;Fonts;Phông chữ;Phong chu;Theme;Chủ đề;Chu de;XKB;Keyboard;Bàn phím;Ban phim;Typing;Nhập liệu;Nhap lieu;
Keywords[zh_CN]=设置;高级;首选项;扩展;字体;主题;键盘;打字;Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
Keywords[zh_HK]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;設定值;設定;進階;偏好設定;擴充;擴展;擴充套件;字型;主題;鍵盤;打字;輸入;
Keywords[zh_TW]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;設定值;設定;進階;偏好設定;擴充;擴展;擴充套件;擴充套件;字型;主題;鍵盤;打字;輸入;
Keywords=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
OnlyShowIn=GNOME;Unity;Pantheon;
