[Desktop Entry]
Name[af]=Skermskoot
Name[an]=Captura de pantalla
Name[ar]=لقطة الشاشة
Name[as]=স্ক্ৰিনশ্বট
Name[ast]=Captura pantalla
Name[be]=Экранны здымак
Name[bg]=Снимане на екрана
Name[bn_IN]=স্ক্রিন-শট
Name[bs]=Snimak ekrana
Name[ca]=Captura
Name[ca@valencia]=Captura
Name[crh]=Ekran-körüntisi
Name[cs]=Snímek obrazovky
Name[da]=Skærmbillede
Name[de]=Bildschirmfoto
Name[el]=Στιγμιότυπο οθόνης
Name[en_GB]=Screenshot
Name[eo]=Ekrankopio
Name[es]=Captura de pantalla
Name[et]=Ekraanipilt
Name[eu]=Pantaila-argazkia
Name[fa]=عکس‌صفحه
Name[fi]=Kuvakaappaus
Name[fr]=Capture d'écran
Name[fur]=Cature de schermade
Name[ga]=Gabháil Scáileáin
Name[gd]=Glacadh-sgrìn
Name[gl]=Captura de pantalla
Name[gu]=સ્ક્રીનશોટ
Name[he]=צילום מסך
Name[hi]=स्क्रीनशॉट
Name[hr]=Slika zaslona
Name[hu]=Képernyőkép
Name[id]=Cuplikan layar
Name[is]=Skjámynd
Name[it]=Schermata
Name[ja]=スクリーンショット
Name[kk]=Скриншот
Name[km]=រូបថត​​អេក្រង់​
Name[kn]=ತೆರೆಚಿತ್ರ
Name[ko]=스크린샷
Name[lt]=Nuotrauka
Name[lv]=Ekrānattēls
Name[ml]=തിരച്ചിത്രം
Name[mr]=स्क्रीनशॉट
Name[nb]=Skjermbilde
Name[nl]=Schermafdruk
Name[oc]=Captura d'ecran
Name[or]=ଆଶୁଚିତ୍ର
Name[pa]=ਸਕਰੀਨ-ਸ਼ਾਟ
Name[pl]=Zrzut ekranu
Name[pt]=Captura de ecrã
Name[pt_BR]=Captura de tela
Name[ro]=Captură de ecran
Name[ru]=Снимок экрана
Name[sk]=Snímka obrazovky
Name[sl]=Zaslonska slika
Name[sr]=Снимач екрана
Name[sr@latin]=Snimač ekrana
Name[sv]=Skärmbild
Name[ta]=ஸ்கிரீன்ஷாட்
Name[te]=తెరపట్టు
Name[tg]=Сурати экран
Name[th]=จับภาพหน้าจอ
Name[tr]=Ekran Görüntüsü
Name[ug]=ئېكران كۆرۈنۈشى
Name[uk]=Знімок екрана
Name[vi]=Chụp màn hình
Name[xh]=Umfanekiso weskrini
Name[zh_CN]=截图
Name[zh_HK]=螢幕擷圖
Name[zh_TW]=螢幕擷圖
Name=Screenshot
Comment[af]=Stoor beelde van die skerm of individuele vensters
Comment[an]=Alce imachens d'a suya pantalla u de finestras individuals
Comment[ar]=احفظ صور لشاشتك أو للنوافذ المنفردة
Comment[as]=আপোনাৰ পৰ্দা অথবা স্বতন্ত্ৰ উইন্ডোসমূহৰ ছবি সংৰক্ষণ কৰক
Comment[be]=Захаванне здымкаў экрана ці асобных вокнаў
Comment[bg]=Запазване на снимки на екрана или индивидуални прозорци
Comment[bn_IN]=পর্দা অথবা স্বতন্ত্র উইন্ডোর ছবি সংরক্ষণ করুন
Comment[bs]=Sačuvajte slike vašeg ekrana ili pojedinačnih prozora
Comment[ca]=Desa imatges de la pantalla o de finestres individuals
Comment[ca@valencia]=Guarda imatges de la pantalla o de finestres individuals
Comment[crh]=Ekranıñız ya da ferdiy pencereleriñizniñ suretlerini saqla
Comment[cs]=Uložit obrázky pracovní plochy nebo konkrétních oken
Comment[da]=Gem billeder af din skærm eller individuelle vinduer
Comment[de]=Bildschirmfotos Ihres Bildschirms oder einzelner Fenster speichern
Comment[el]=Αποθηκεύστε στιγμιότυπα της οθόνης σας ή ξεχωριστά παράθυρα
Comment[en_GB]=Save images of your screen or individual windows
Comment[eo]=Konservi bildojn de via ekrano aŭ de unuopaj fenestroj
Comment[es]=Guarde imágenes de su pantalla o de ventanas individuales
Comment[et]=Ekraanist või üksikutest akendest pildi salvestamine
Comment[eu]=Gorde mahaigaineko edo leiho bakarren irudiak
Comment[fa]=ذخیره‌ی تصاویر رومیزی یا پنجره‌های به صورت فردی
Comment[fi]=Tallenna kuvia työpöydästä tai yksittäisistä ikkunoista
Comment[fr]=Enregistre les images de votre écran ou de vos fenêtres individuelles
Comment[fur]=Salve imagjins dal to visôr o di ugnui barcons
Comment[ga]=Sábháil íomhánna do scáileáin nó fhuinneog aonair
Comment[gd]=Sàbhail dealbhan dhen sgrìn agad no de dh'uinneagan fa leth
Comment[gl]=Gardar imaxes da súa pantalla ou de xanelas individuais
Comment[gu]=તમારા સ્ક્રીન અથવા વ્યક્તિગત વિન્ડોના ચિત્રો સંગ્રહો
Comment[he]=שמירת תמונות של שולחן העבודה או של חלונות בנפרד
Comment[hi]=अपने स्क्रीन या निजी विंडो के चित्र को सहेजें
Comment[hr]=Spremite slike vašeg zaslona ili određenih prozora
Comment[hu]=A képernyő vagy egyedi ablakok képeinek mentése
Comment[id]=Menyimpan gambar layar atau jendela tertentu
Comment[is]=Vista myndir af skjáborðinu þínu eða af einstökum gluggum
Comment[it]=Salva immagini dello schermo o di singole finestre
Comment[ja]=画面またはウィンドウの画像を保存します
Comment[kk]=Толық экран немесе бөлек терезелер скриншоттарын сақтау
Comment[km]=រក្សាទុក​រូបភាព​នៃ​អេក្រង់​របស់​អ្នក ឬ​វីនដូ​​នីមួយៗ
Comment[kn]=ನಿಮ್ಮ ತೆರೆಯನ್ನು ಅಥವ ಪ್ರತ್ಯೇಕ ಕಿಟಕಿಗಳ ಚಿತ್ರಗಳನ್ನು ಉಳಿಸಿ
Comment[ko]=화면이나 개별 창의 이미지를 저장합니다
Comment[lt]=Įrašyti jūsų darbalaukio ar atskirų langų nuotraukas
Comment[lv]=Saglabā darbvirsmas vai logu attēlus
Comment[ml]=നിങ്ങളുടെ സ്ക്രീനിന്റെ അല്ലെങ്കില്‍ ഓരോ ജാലകങ്ങളുടെ ചിത്രങ്ങള്‍ സൂക്ഷിക്കുക
Comment[mr]=पडद्याचे किंवा परस्पर पटलांची प्रतिमा साठवा
Comment[nb]=Lagre bilder av innholdet på skjermen eller i individuelle vinduer
Comment[nl]=Afbeeldingen van uw bureaublad of vensters maken
Comment[oc]=Enregistra los imatges de vòstre ecran o de vòstras fenèstras individualas
Comment[or]=ଆପଣଙ୍କ ପରଦା କିମ୍ବା ବ୍ଯକ୍ତିଗତ ୱିଣ୍ଡୋର ପ୍ରତିଛବିକୁ ସଂରକ୍ଷଣ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਸਕਰੀਨ ਜਾਂ ਅੱਡ-ਅੱਡ ਵਿੰਡੋਜ਼ ਦੇ ਚਿੱਤਰ ਸੰਭਾਲੋ
Comment[pl]=Zapisywanie obrazów pulpitu lub poszczególnych okien
Comment[pt]=Grave imagens do seu ecrã ou de janelas individuais
Comment[pt_BR]=Salvar imagens da sua tela ou de janelas individuais
Comment[ro]=Salvează imagini ale ecranului sau ale unor ferestre individuale
Comment[ru]=Сохранить изображение с экрана или отдельных окон
Comment[sk]=Ukladá obrázky vašej obrazovky alebo jednotlivých okien
Comment[sl]=Zajemanje slik zaslona ali posameznih oken
Comment[sr]=Сачувајте слике вашег екрана или појединачних прозора
Comment[sr@latin]=Sačuvajte slike vašeg ekrana ili pojedinačnih prozora
Comment[sv]=Spara bilder av din skärm eller individuella fönster
Comment[ta]=உங்கள் பணிமேடையின்  அல்லது தனித்தனி சாளரங்களின் படங்களை சேமிக்கவும்
Comment[te]=మీ తెర లేదా వ్యక్తిగత కిటికీల యొక్క బొమ్మలను భద్రపరుచుకోండి
Comment[tg]=Тасвирҳои экранҳои худ ё равзанаҳои мушаххасро захира кунед
Comment[th]=บันทึกภาพของหน้าจอหรือหน้าต่างที่กำหนด
Comment[tr]=Masaüstünüzün veya pencerelerinizin görüntülerini kaydedin
Comment[ug]=بۇ ئېكران ياكى مەلۇم بىر كۆزنەكنى سۈرەت قىلىپ ساقلايدىغان پروگراممىدۇر
Comment[uk]=Зберегти зображення екрана або окремого вікна
Comment[vi]=Ghi lại ảnh của cả màn hình hay chỉ từng cửa sổ riêng biệt
Comment[zh_CN]=将您的屏幕或单个窗口保存为图像
Comment[zh_HK]=將整個桌面或獨立的視窗儲存為影片
Comment[zh_TW]=將整個桌面或獨立的視窗儲存為影片
Comment=Save images of your screen or individual windows
Keywords[an]=pantallazo;capturar;imprentar;captura de pantalla;
Keywords[ar]=لقطة;صورة;طباعة;
Keywords[as]=snapshot;capture;print;screenshot;
Keywords[be]=здымак экрана;запіс;друк;экран;
Keywords[bg]=снимка;екран;печат;snapshot;capture;print;screenshot;
Keywords[bn_IN]=স্ন্যাপশট;ক্যাপচার;প্রিন্ট;স্ক্রিনশট;
Keywords[bs]=snimi, uslikaj, ispiši, slikaj ekran;
Keywords[ca]=instantània;captura;imprimeix;captura;
Keywords[ca@valencia]=instantània;captura;imprimeix;captura;
Keywords[cs]=snímek;zachytit;otisk;obrazovka;
Keywords[da]=billede;øjebliksbillede;indfang;print;skærmbillede;
Keywords[de]=Schnappschuss;Aufnahme;Druck;Bildschirmfoto;
Keywords[el]=στιγμιότυπο;λήψη;εκτύπωση;στιγμιότυπο οθόνης;snapshot;capture;print;screenshot;
Keywords[en_GB]=snapshot;capture;print;screenshot;
Keywords[eo]=ekkapti;ekrankopiilo;ekrankopio;ekranpresaĵo;kapti;presi;
Keywords[es]=pantallazo;capturar;imprimir;
Keywords[eu]=argazkia;kaptura;inprimatu;pantaila-argazkia;
Keywords[fa]=snapshot;capture;print;گرفتن;چاپ;عکس‌صفحه;
Keywords[fi]=snapshot;capture;print;screenshot;kuvakaappaus;kuvankaappaus;ruutukaappaus;kaappaa;tuloste;näyttökaappaus;
Keywords[fr]=cliché;capture;impression;capture d'écran;
Keywords[fur]=schermade;schermadis;cature;stampe;screenshot;snapshot;
Keywords[gd]=snapshot;capture;print;screenshot;glacadh;clò-bhualadh;glacadh-sgrìn;
Keywords[gl]=captura de pantalla;captura;imprimir;
Keywords[gu]=સ્નેપશોટ; કેપ્ચર; પ્રિન્ટ; સ્ક્રીનશોટ;
Keywords[he]=צילום;לכידה;מסך;הדפסה;הדפסה;תצלום;תמונה;
Keywords[hi]=snapshot;capture;print;screenshot;
Keywords[hr]=snimak;snimi;ispiši;slika zaslona;
Keywords[hu]=pillanatkép;rögzítés;nyomtatás;képernyőkép;
Keywords[id]=snapshot;tangkapan;cetak;cuplikan layar;
Keywords[is]=myndataka;skot;prent;skjámynd;
Keywords[it]=schermata;schermate;cattura;stampa;screenshot;snapshot;
Keywords[ja]=snapshot;capture;print;screenshot;スナップショット;キャプチャー;プリント;スクリーンショット;
Keywords[kk]=скриншот;баспа;ұстау;
Keywords[km]=រូបថត​អេក្រង់;ចាប់​យក;បោះពុម្ព;រូបថត​អេក្រង់;
Keywords[kn]=ಸ್ನ್ಯಾಪ್‌ಶಾಟ್;ಸೆರೆಹಿಡಿಯುವಿಕೆ;ಮುದ್ರಣ;ತೆರೆಚಿತ್ರ;
Keywords[ko]=snapshot;스냅샷;capture;화면;캡쳐;print;인쇄;screenshot;스크린샷;
Keywords[lt]=ekranvaizdis;nufotografuoti;spausdinti;momentinėkopija;
Keywords[lv]=uzņēmums;tvērums;šāviņš;tvert;ekrānattēls;
Keywords[mr]=स्नॅपशॉट;कॅपचर;प्रिंट;स्क्रीनशॉट;
Keywords[nb]=skjermbilde;opptak;utskrift;skjermdump;
Keywords[nl]=momentopname;vastleggen;afdrukken;schermafdruk;
Keywords[oc]=cliché;captura;impression;captura d'ecran;
Keywords[or]=ଆଶୁଚିତ୍ର;ଧାରଣ;ମୁଦ୍ରଣ;ପରଦା ପ୍ରତିଛବି;
Keywords[pa]=ਤਸਵੀਰ;ਸਨੈਪਸ਼ਾਟ;ਕੈਪਚਰ;ਪਰਿੰਟ;snapshot;capture;print;screenshot;ਸਕਰੀਨਸ਼ਾਟ;
Keywords[pl]=zrzut ekranu;migawka;przechwycenie;przechwyć;pobieranie;pobierz;druk;drukowanie;wydrukowanie;
Keywords[pt]=captura;ecrã;impressão;captura de ecrã;
Keywords[pt_BR]=captura de tela;captura;capturar;screenshot;
Keywords[ro]=snapshot;capture;print;screenshot;captură;
Keywords[ru]=снимок;захват;печать;скриншот;
Keywords[sk]=snímka;zachytenie;tlač;snímka obrazovky;
Keywords[sl]=zajemanje;zajeto;zajem;natisni;zaslonska slika;
Keywords[sr]=снимак;сними;штампај;снимак екрана;snimak;snimi,štampaj;snimak ekrana;snapshot;capture;print;screenshot;
Keywords[sr@latin]=snimak;snimi;štampaj;snimak ekrana;
Keywords[sv]=fånga;skärmbild;screenshot;
Keywords[ta]=snapshot;capture;print;screenshot;
Keywords[te]=snapshot;capture;print;screenshot;
Keywords[tg]=акс;экран;чоп;тасвир;
Keywords[th]=ภาพหน้าจอ;จับภาพ;พิมพ์;จับภาพหน้าจอ;
Keywords[tr]=enstantane;yakala;yazdır;ekran görüntüsü;
Keywords[uk]=знімок;захоплення;екран;надрукувати;
Keywords[vi]=snapshot;capture;print;screenshot;chụp;màn;hình;chup;man;hinh;in;
Keywords[zh_CN]=snapshot;capture;print;截图;抓屏;截屏;捕获;打印;
Keywords[zh_HK]=snapshot;capture;print;screenshot;螢幕擷圖;擷取;列印;
Keywords[zh_TW]=snapshot;capture;print;screenshot;螢幕擷圖;擷取;列印;
Keywords=snapshot;capture;print;screenshot;
Exec=gnome-screenshot --interactive
Terminal=false
Type=Application
Icon=applets-screenshooter
StartupNotify=true
Categories=GTK;GNOME;Utility;X-GNOME-Utilities;
NotShowIn=KDE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=screenshot
# Disable broken actions https://pad.lv/1720262
# Actions=screen-shot;window-shot;area-shot
Actions=screen-shot;
DBusActivatable=true

[Desktop Action screen-shot]
Name[af]=Neem 'n skoot van die hele skerm
Name[an]=Prener una captura de pantalla completa
Name[ar]=خذ لقطة لكل الشاشة
Name[as]=সম্পূৰ্ণ পৰ্দাৰ এটা স্ক্ৰিনশ্বট লওক
Name[be]=Здымак усяго экрана
Name[bg]=Снимка на целия екран
Name[bn_IN]=সম্পূর্ণ পর্দার একটি ছবি নিন
Name[bs]=Uzmi snimak cijelog ekrana
Name[ca]=Fes una captura de tota la pantalla
Name[ca@valencia]=Fes una captura de tota la pantalla
Name[crh]=Bütün Ekrannıñ bir Ekran Körüntisini Al
Name[cs]=Zachytit snímek celé obrazovky
Name[da]=Tag et skærmbillede af hele skærmen
Name[de]=Bildschirmfoto des gesamten Bildschirms aufnehmen
Name[el]=Λήψη στιγμιότυπου ολόκληρης της οθόνης
Name[en_GB]=Take a Screenshot of the Whole Screen
Name[eo]=Fari ekrankopion de la tuta ekrano
Name[es]=Tomar una captura de pantalla completa
Name[et]=Tervest ekraanist ekraanipildi tegemine
Name[eu]=Atera pantaila osoaren argazkia
Name[fa]=گرفتن عکس از کل صفحه‌ی نمایش
Name[fi]=Ota kuvakaappaus koko näytön sisällöstä
Name[fr]=Effectue une capture de tout l'écran
Name[fur]=Fâs une cature di dut il visôr
Name[ga]=Gabháil an Scáileán ar Fad
Name[gd]=Tog glacadh-sgrìn dhen sgrìn air fad
Name[gl]=Facer unha captura de pantalla completa
Name[gu]=આખી સ્ક્રીનનો સ્ક્રીનશોટ લો
Name[he]=צילום המסך כולו
Name[hi]=पूरे स्क्रीन का एक स्क्रीनशॉट लें
Name[hr]=Uslikajte cijeli zaslon
Name[hu]=Kép készítése a teljes képernyőről
Name[id]=Mengambil Cuplikan Seluruh Layar
Name[is]=Taka skjámynd af öllum skjánum
Name[it]=Cattura una schermata dell'interno schermo
Name[ja]=画面全体のスクリーンショットを撮る
Name[kk]=Толық экран скриншотын түсіріп алу
Name[km]=ថត​រូប​អេក្រង់​នៃ​អេក្រង់​ពេញលេញ
Name[kn]=ಪೂರ್ಣ ತೆರೆಯ ಒಂದು ಚಿತ್ರವನ್ನು ತೆಗೆದುಕೊ
Name[ko]=전체 화면의 스크린샷 찍기
Name[lt]=Padaryti viso ekrano nuotrauką
Name[lv]=Uzņem visa ekrāna attēlu
Name[ml]=സ്ക്രീന്‍ മുഴുവനും കാണുന്ന ഒരു ചിത്രം എടുക്കുക
Name[mr]=संपूर्ण पडद्याचे स्क्रीनशॉट घ्या
Name[nb]=Ta bilde av hele skjermen
Name[nl]=Schermafdruk maken van het hele scherm
Name[oc]=Efectua una captura de tot l'ecran
Name[or]=ସମ୍ପୂର୍ଣ୍ଣ ପରଦାର ଗୋଟିଏ ଆଶୁଚିତ୍ର ନିଅନ୍ତୁ
Name[pa]=ਪੂਰੀ ਸਕਰੀਨ ਦਾ ਸਕਰੀਨਸ਼ਾਟ ਲਵੋ
Name[pl]=Wykonaj zrzut całego ekranu
Name[pt]=Capturar uma imagem do ecrã completo
Name[pt_BR]=Tira uma imagem de captura da tela inteira
Name[ro]=Realizează o captură a întregului ecran
Name[ru]=Сделать снимок всего экрана
Name[sk]=Zachytiť snímku celej obrazovky
Name[sl]=Zajem zaslonske slike celotnega zaslona
Name[sr]=Направите снимак целог екрана
Name[sr@latin]=Napravite snimak celog ekrana
Name[sv]=Ta en skärmbild av hela skärmen
Name[ta]=முழுத்திரையினை ஒரு திரைவெட்டு பிடிக்கவும்
Name[te]=మొత్తం తెర యొక్క తెరపట్టుని తీయండి
Name[tg]=Гирифтани сурати экрани тамоми экран
Name[th]=จับภาพหน้าจอทั้งหน้า
Name[tr]=Tüm ekranın resmini çek
Name[ug]=پۈتۈن ئېكراننى سۈرەتكە تارت
Name[uk]=Зробити знімок усього екрана
Name[vi]=Chụp toàn màn hình
Name[zh_CN]=截取整个屏幕
Name[zh_HK]=拍下全螢幕的螢幕擷圖
Name[zh_TW]=拍下全螢幕的螢幕擷圖
Name=Take a Screenshot of the Whole Screen
Exec=gnome-screenshot

[Desktop Action window-shot]
Name[af]=Neem 'n skoot van die huidige venster
Name[an]=Prener una captura de pantalla d'a finestra actual
Name[ar]=خذ لقطة للنافذة الحالية
Name[as]=বৰ্তমান উইন্ডোৰ এটা স্ক্ৰিনশ্বট লওক
Name[be]=Здымак актыўнага акна
Name[bg]=Снимка на текущия прозорец
Name[bn_IN]=বর্তমান উইন্ডোর ছবি নিন
Name[bs]=Uzmi snimak trenutnog prozora
Name[ca]=Fes una captura de la finestra actual
Name[ca@valencia]=Fes una captura de la finestra actual
Name[crh]=Cari Pencereniñ bir Ekran Körüntisini Al
Name[cs]=Zachytit snímek aktuálního okna
Name[da]=Tag et skærmbillede af det aktuelle vindue
Name[de]=Bildschirmfoto des aktuellen Fensters aufnehmen
Name[el]=Λήψη στιγμιότυπου του τρέχοντος παραθύρου
Name[en_GB]=Take a Screenshot of the Current Window
Name[eo]=Fari ekrankopion de la aktuala fenestro
Name[es]=Tomar una captura de pantalla de la ventana actual
Name[et]=Käesolevast aknast ekraanipildi tegemine
Name[eu]=Atera uneko leihoaren pantaila-argazkia
Name[fa]=گرفتن عکس از پنجره فعلی
Name[fi]=Ota kuvakaappaus nykyisestä ikkunasta
Name[fr]=Effectue une capture d'écran de la fenêtre actuelle
Name[fur]=Fâs une cature di chest barcon
Name[ga]=Gabháil an Fhuinneog Reatha
Name[gd]=Tog glacadh-sgrìn dhen uinneag làithreach
Name[gl]=Facer unha captura de pantalla da xanela actual
Name[gu]=વર્તમાન વિન્ડોના સ્ક્રીનશોટને લો
Name[he]=צילום החלון הנוכחי
Name[hi]=मौजूदा विंडो का स्क्रीनशॉट लें
Name[hr]=Uslikajte trenutni prozor
Name[hu]=Kép készítése az aktuális ablakról
Name[id]=Mengambil Cuplikan Layar Tertentu
Name[is]=Taka mynd af glugganum sem þú ert í núna
Name[it]=Cattura una schermata della finestra corrente
Name[ja]=現在のウィンドウのスクリーンショットを撮る
Name[kk]=Ағымдағы терезенің скриншотын түсіріп алу
Name[km]=ចាប់​យក​រូបថត​​នៃ​បង្អួច​បច្ចុប្បន្ន
Name[kn]=ಸದ್ಯದ ಕಿಟಕಿಯ ಒಂದು ತೆರೆಚಿತ್ರವನ್ನು ತೆಗೆದುಕೊ
Name[ko]=현재 창의 스크린샷 찍기
Name[lt]=Padaryti dabartinio lango nuotrauką
Name[lv]=Uzņem aktīvā loga attēlu
Name[ml]=നിലവിലുളള ജാലകത്തിന്റെ ചിത്രം എടുക്കുക
Name[mr]=सध्याच्या पटलाचे स्क्रीनशॉट घ्या
Name[nb]=Ta bilde av aktivt vindu
Name[nl]=Schermafdruk maken van het huidige venster
Name[oc]=Efectua una captura d'ecran de la fenèstra actuala
Name[or]=ପ୍ରଚଳିତ ୱିଣ୍ଡୋର ଗୋଟିଏ ଆଶୁଚିତ୍ର ନିଅନ୍ତୁ
Name[pa]=ਮੌਜੂਦਾ ਵਿੰਡੋ ਦਾ ਸਕਰੀਨ-ਸ਼ਾਟ ਲਵੋ
Name[pl]=Wykonaj zrzut bieżącego okna
Name[pt]=Capturar uma imagem da janela atual
Name[pt_BR]=Tira uma imagem de captura da janela atual
Name[ro]=Realizează o captură a ferestrei curente
Name[ru]=Сделать снимок текущего окна
Name[sk]=Zachytiť snímku aktuálneho okna
Name[sl]=Zajem zaslonske slike trenutnega okna
Name[sr]=Направите снимак текућег прозора
Name[sr@latin]=Napravite snimak tekućeg prozora
Name[sv]=Ta en skärmbild av det aktuella fönstret
Name[ta]=நடப்பு சாளரத்தை திரை பிடிப்பு செய்க
Name[te]=ప్రస్తుత కిటికీ యొక్క తెరపట్టును తీయండి
Name[tg]=Гирифтани сурати экрани равзанаи ҷорӣ
Name[th]=จับภาพหน้าต่างปัจจุบัน
Name[tr]=Geçerli pencerenin ekran görüntüsünü al
Name[ug]=نۆۋەتتىكى كۆزنەكنى سۈرەتكە تارت
Name[uk]=Зробити знімок поточного вікна
Name[vi]=Chụp cửa sổ hiện tại
Name[zh_CN]=截取当前窗口
Name[zh_HK]=拍下視窗的螢幕擷圖
Name[zh_TW]=拍下視窗的螢幕擷圖
Name=Take a Screenshot of the Current Window
Exec=gnome-screenshot -w

[Desktop Action area-shot]
Name=Take a Screenshot of a Selected Area
Exec=gnome-screenshot -a
