[Desktop Entry]
Keywords=Livepatch;
Exec=/usr/bin/software-properties-gtk --open-tab=6
Icon=livepatch
Terminal=false
Type=Application
OnlyShowIn=GNOME;
Categories=GTK;Settings;HardwareSettings
X-AppStream-Ignore=true
Name=Livepatch
Comment=Manage Canonical Livepatch
Keywords=Security;Update;
X-Ubuntu-Gettext-Domain=software-properties
