[Desktop Entry]
Type=Application
Version=1.0
# Do not translate the word "RELEASE".  It is used as a marker by casper.
Name=Install RELEASE
Name[am]=የተለቀቀውን መግጠሚያ
Name[ar]=ثبّت RELEASE
Name[ast]=Instalar RELEASE
Name[be]=Усталяваць RELEASE
Name[bg]=Инсталиране RELEASE
Name[bn]=RELEASE ইনস্টল করুন
Name[bs]=Instaliraj izdanje
Name[ca]=Instal·la la versió RELEASE
Name[cs]=Nainstalovat RELEASE
Name[da]=Installér RELEASE
Name[de]=RELEASE installieren
Name[el]=Εγκατάσταση RELEASE
Name[eo]=Instali RELEASE
Name[es]=Instalar RELEASE
Name[et]=Paigalda RELEASE
Name[eu]=Instalatu RELEASE
Name[fi]=Asenna RELEASE
Name[fr]=Installer RELEASE
Name[ga]=Suiteáil RELEASE
Name[gl]=Instalar RELEASE
Name[gu]=રિલીઝ નું સ્થાપન કરો.
Name[he]=התקנת RELEASE
Name[hi]=RELEASE को संस्थापित करें।
Name[hr]=Instaliraj RELEASE
Name[hu]=RELEASE telepítése
Name[id]=Pasang RELEASE
Name[it]=Installa RELEASE
Name[ja]=RELEASE のインストール
Name[ka]=RELEASE-ის დაყენება
Name[kk]=РЕЛИЗДІ орнату
Name[km]=ដំឡើង RELEASE
Name[ko]=RELEASE 설치
Name[ku]=RELEASE saz bike
Name[lt]=Įdiegti RELEASE į kompiuterį
Name[lv]=Instalēt RELEASE
Name[mk]=Инсталирај RELEASE
Name[ml]=RELEASE സജ്ജമാക്കുക
Name[mr]=स्थापित RELEASE
Name[ne]=RELEASE लाई स्थापन गर्नुहोस्
Name[nl]=RELEASE installeren
Name[pa]=RELEASE ਇੰਸਟਾਲ ਕਰੋ
Name[pl]=Zainstaluj RELEASE
Name[pt]=Instalar RELEASE
Name[pt_BR]=Instalar o RELEASE
Name[ro]=Instalare RELEASE
Name[ru]=Установить RELEASE
Name[sk]=Inštalovať RELEASE
Name[sl]=Namesti RELEASE
Name[sq]=Instalo RELEASE
Name[sr]=Инсталирајте RELEASE
Name[sv]=Installera RELEASE
Name[ta]=RELEASE என்பதை நிறுவு
Name[th]=ติดตั้ง RELEASE
Name[tl]=Iluklok ang RELEASE
Name[tr]=RELEASE Kurulumu
Name[uk]=Встановити RELEASE
Name[vi]=Cài đặt RELEASE
Name[zh_CN]=安装 RELEASE
Name[zh_TW]=安裝 RELEASE
Comment=Install this system permanently to your hard disk
Comment[am]=ይኼን ሲስተም ሀርድ ዲስክዎ ላይ በቋሚነት ይጫኑት
Comment[ar]=ثبّت هذا النظام على القرص الصلب
Comment[ast]=Instalar permanentemente esti sistema nel to discu duru
Comment[be]=Усталяваць гэтую сістэму на ваш цвёрды дыск
Comment[bg]=Инсталиране Ubuntu трайно на твърдия диск
Comment[bn]=এই সিস্টেমটি আপনার হার্ডডিস্কে স্থায়ীভাবে ইনস্টল করুন।
Comment[bs]=Instaliraj ovaj sistem trajno na tvrdi disk
Comment[ca]=Instal·la aquest sistema permanentment al disc dur
Comment[cs]=Nainstalovat tento systém natrvalo na váš disk
Comment[da]=Installér dette system permanent på din harddisk
Comment[de]=Dieses System dauerhaft auf der Festplatte installieren
Comment[el]=Εγκαταστήστε μόνιμα το σύστημα στο σκληρό δίσκο
Comment[eo]=Instali ĉi tiun sistemon daŭre en via disko
Comment[es]=Instalar permanentemente este sistema en su disco duro
Comment[et]=Paigalda see süsteem jäädavalt oma kõvakettale
Comment[eu]=Sistema hau betiko instalatu disko gogorrean
Comment[fi]=Asenna tämä järjestelmä pysyvästi kiintolevyllesi
Comment[fr]=Installer ce système de façon permanente sur votre disque dur
Comment[ga]=Suiteáil an córas seo go buan ar do chruadhiosca
Comment[gl]=Instalar o sistema de xeito permanente no disco ríxido
Comment[gu]=આ સિસ્ટમ તમારી હાર્ડ ડિસ્ક પર હંમેશ માટે સ્થાપિત કરો
Comment[he]=התקנת המערכת באופן קבוע על הכונן הקשיח
Comment[hi]=इस तंत्र को आपके हार्ड डिस्क में स्थायी रूप से संस्थापित करें
Comment[hr]=Trajno instaliraj sustav na čvrsti disk
Comment[hu]=A rendszer telepítése merevlemezre
Comment[id]=Memasang sistem ini secara permanen pada diska Anda
Comment[it]=Installa questo sistema in modo permanente sul disco rigido
Comment[ja]=このシステムをハードディスクにインストールします
Comment[ka]=მოცემული სისტემის მყარ დისკზე ჩაყენება
Comment[kk]=Жүйені қатқыл дискіңізге тұрақты орнату
Comment[km]=ដំឡើង​ប្រព័ន្ធ​នេះ​ជា​អចិន្ត្រៃយ៍​ទៅ​កាន់​ថាស​រឹង​របស់​អ្នក
Comment[ko]=이 시스템을 하드 디스크에 설치합니다.
Comment[ku]=Sîstemê di hard dîskê xwe de saz bike
Comment[lt]=Įdiegti Linux operacinę sistemą į kompiuterio (vidinį) diską ar kitą laikmeną
Comment[lv]=Instalēt šo sistēmu cietajā diskā
Comment[mk]=Инсталирајте го системот трајно на Вашиот тврд диск
Comment[ml]=സ്ഥിരമായി ഹാര്‍ഡ് ഡിസ്കിലേക്ക് ഇന്‍സ്റ്റാള്‍ ചെയ്യുക
Comment[mr]=ही प्रणाली कायमची तुमच्या हार्ड डिस्कवर स्थापित करा
Comment[ne]=यो प्रणाली तपाईको हार्ड डिस्कमा थाई रुपमा प्रतिस्थापन गर्नुहोस्
Comment[nl]=Dit systeem definitief op uw harde schijf installeren
Comment[pa]=ਇਹ ਸਿਸਟਮ ਪੱਕੇ ਤੌਰ ਉੱਤੇ ਆਪਣੀ ਹਾਰਡ ਡਿਸਕ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Zainstaluj system na dysku twardym
Comment[pt]=Instalar este sistema permanentemente no seu disco rígido
Comment[pt_BR]=Instalar este sistema de maneira permanente no seu disco rígido
Comment[ro]=Instalați permanent acest sistem pe discul calculatorului
Comment[ru]=Установить эту систему на жёсткий диск
Comment[sk]=Nainštalovať systém natrvalo na pevný disk
Comment[sl]=Trajno namesti sistem na trdi disk
Comment[sq]=Instalo këtë sistem përgjithmonë në Hard Disk
Comment[sr]=Инсталирајте овај систем трајно на ваш чврсти диск
Comment[sv]=Installera detta system permanent på din hårddisk
Comment[ta]=இந்த நிலையை நிரந்தரமாக தங்களது கணினியில் நிறுவுக
Comment[th]=ติดตั้งระบบนี้อย่างถาวรลงบนฮาร์ดดิสก์ของคุณ
Comment[tl]=Iluklok ng permanente ang systema sa iyong hard disk
Comment[tr]=Bu sistemi sabit diskinize kalıcı olarak kurun
Comment[uk]=Встановити цю систему на жорсткий диск
Comment[vi]=Cài hệ thống vào đĩa cứng
Comment[zh_CN]=将这个系统永久安装在您的硬盘上
Comment[zh_TW]=將此系統安裝到您的硬碟中
Keywords=ubiquity;
#use sh because pkexec is broken under xfce/lxce http://pad.lv/1193526
Exec=sudo --preserve-env=DBUS_SESSION_BUS_ADDRESS,XDG_RUNTIME_DIR pkexec ubiquity gtk_ui
Icon=ubiquity
Terminal=false
Categories=GTK;System;Settings;
NotShowIn=KDE;
#X-Ubuntu-Gettext-Domain=ubiquity-desktop
X-Ayatana-Appmenu-Show-Stubs=False
