[Desktop Entry]
Type=Application
Name[cs]=Portál
Name[de]=Portal
Name[es]=Portal
Name[gl]=Portal
Name[hu]=Portál
Name[id]=Portal
Name[it]=Portale
Name[lt]=Portalas
Name[pl]=Portal
Name[pt_BR]=Portal
Name[sk]=Portál
Name[sv]=Portal
Name[tr]=Portal
Name[uk]=Портал
Name[zh_TW]=入口
Name=Portal
# TRANSLATORS: Don't translate this text (this is icon name)
Icon[de]=applications-system-symbolic
Icon[es]=applications-system-symbolic
Icon[gl]=applications-system-symbolic
Icon[hu]=applications-system-symbolic
Icon[id]=applications-system-symbolic
Icon[it]=applications-system-symbolic
Icon[lt]=applications-system-symbolic
Icon[pl]=applications-system-symbolic
Icon[pt_BR]=applications-system-symbolic
Icon[sk]=applications-system-symbolic
Icon[sv]=applications-system-symbolic
Icon[tr]=applications-system-symbolic
Icon[uk]=applications-system-symbolic
Icon[zh_TW]=applications-system-symbolic
Icon=applications-system-symbolic
Exec=/usr/libexec/xdg-desktop-portal-gtk
NoDisplay=true
