# firmware dumps from iwlmvm iwlwifi driver
DRIVER=="iwlwifi", ACTION=="change", ENV{EVENT}=="error_dump", RUN+="/usr/share/apport/iwlwifi_error_dump $env{DEVPATH}"
