# udev rules file for brltty
#

ACTION!="add", GOTO="brltty_rules_end"

SUBSYSTEM=="usb_device", GOTO="brltty_usb_begin"
SUBSYSTEM=="usb", KERNEL!="*:*", GOTO="brltty_usb_begin"
GOTO="brltty_rules_end"

LABEL="brltty_usb_begin"

# Alva
ATTRS{idVendor}=="06b0", ATTRS{idProduct}=="0001", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0798", ATTRS{idProduct}=="0624", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0798", ATTRS{idProduct}=="0640", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0798", ATTRS{idProduct}=="0680", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# Baum
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="fe70", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="fe71", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="fe72", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="fe73", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="fe74", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="fe75", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="fe76", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="fe77", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2000", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2001", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2002", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2007", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2008", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2009", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2010", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2011", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2014", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2015", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="2016", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="3000", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="3001", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="4004", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="4005", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="4007", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="4008", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6001", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6002", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6003", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6004", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6005", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6006", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6007", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6008", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6009", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="600a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6011", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6012", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6013", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6101", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6102", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0904", ATTRS{idProduct}=="6103", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# BrailleNote
ATTRS{idVendor}=="1c71", ATTRS{idProduct}=="c004", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# EuroBraille
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1122", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1123", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1124", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1125", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1126", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1127", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1128", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1129", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="112a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="112b", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="112c", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="112d", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="112e", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="112f", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1130", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1131", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1132", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# FreedomScientific
ATTRS{idVendor}=="0f4e", ATTRS{idProduct}=="0100", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0f4e", ATTRS{idProduct}=="0111", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0f4e", ATTRS{idProduct}=="0112", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0f4e", ATTRS{idProduct}=="0114", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# Hedo
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="de58", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="de59", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# HandyTech
ATTRS{idVendor}=="0921", ATTRS{idProduct}=="1200", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0003", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0044", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0054", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0055", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0064", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0074", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0081", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0082", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0083", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0084", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0086", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="0087", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="008a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1fe4", ATTRS{idProduct}=="008b", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# HIMS
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="930a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="930b", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# HumanWare
ATTRS{idVendor}=="1c71", ATTRS{idProduct}=="c005", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="1c71", ATTRS{idProduct}=="c006", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# BrailleMemo
ATTRS{idVendor}=="1148", ATTRS{idProduct}=="0301", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# Metec
ATTRS{idVendor}=="0452", ATTRS{idProduct}=="0100", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# Papenmeier
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="f208", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# Pegasus
ATTRS{idVendor}=="4242", ATTRS{idProduct}=="0001", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

# Voyager
ATTRS{idVendor}=="0798", ATTRS{idProduct}=="0001", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"
ATTRS{idVendor}=="0798", ATTRS{idProduct}=="0600", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brltty-udev.service"

LABEL="brltty_rules_end"
