#
#       hplj10xx.rules.old: udev equal or after 1.30
#
#Own udev rule for HP Laserjet 1000
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="hp LaserJet 1000", \
	SYMLINK+="hplj1000-%n", RUN+="hplj1000" 
#Own udev rule for HP Laserjet 1005
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="hp LaserJet 1005 series", \
	SYMLINK+="hplj1005-%n", RUN+="hplj1005" 
#Own udev rule for HP Laserjet 1018
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="HP LaserJet 1018", \
	SYMLINK+="hplj1018-%n", RUN+="hplj1018" 
#Own udev rule for HP Laserjet 1020
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="HP LaserJet 1020", \
	SYMLINK+="hplj1020-%n", RUN+="hplj1020" 
#Own udev rule for HP Laserjet P1005
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="HP LaserJet P1005", \
	SYMLINK+="hpljP1005-%n", RUN+="hpljP1005" 
#Own udev rule for HP Laserjet P1006
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="HP LaserJet P1006", \
	SYMLINK+="hpljP1006-%n", RUN+="hpljP1006" 
#Own udev rule for HP Laserjet P1007
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="HP LaserJet P1007", \
	SYMLINK+="hpljP1007-%n", RUN+="hpljP1007" 
#Own udev rule for HP Laserjet P1008
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="HP LaserJet P1008", \
	SYMLINK+="hpljP1008-%n", RUN+="hpljP1008" 
#Own udev rule for HP Laserjet P1505
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="HP LaserJet P1505", \
	SYMLINK+="hpljP1505-%n", RUN+="hpljP1505" 
#Own udev rule for HP Laserjet P1505n
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", \
	ATTRS{product}=="HP LaserJet P1505n", \
	SYMLINK+="hpljP1505n-%n", RUN+="hpljP1505n" 
