[KCM Locale]
Name=Romania
Name[ar]=رومانيا
Name[ast]=Rumanía
Name[bs]=Rumunija
Name[ca]=Romania
Name[ca@valencia]=Romania
Name[cs]=Rumunsko
Name[da]=Rumænien
Name[de]=Rumänien
Name[en_GB]=Romania
Name[es]=Rumanía
Name[et]=Rumeenia
Name[eu]=Errumania
Name[fa]=رومانی
Name[fi]=Romania
Name[fr]=Roumanie
Name[gd]=Romàinia
Name[gl]=Romanía
Name[hr]=Rumunjska
Name[hu]=Románia
Name[ia]=Romania
Name[id]=Rumania
Name[is]=Rúmenía
Name[it]=Romania
Name[ka]=რუმინეთი
Name[ko]=루마니아
Name[lt]=Rumunija
Name[lv]=Rumānija
Name[mr]=रोमानिया
Name[nb]=Romania
Name[nds]=Rumänien
Name[nl]=Roemenië
Name[nn]=Romania
Name[pa]=ਰੋਮਾਨੀਆ
Name[pl]=Rumunia
Name[pt]=Roménia
Name[pt_BR]=Romênia
Name[ru]=Румыния
Name[se]=Románia
Name[sk]=Rumunsko
Name[sl]=Romunija
Name[sr]=Румунија
Name[sr@ijekavian]=Румунија
Name[sr@ijekavianlatin]=Rumunija
Name[sr@latin]=Rumunija
Name[sv]=Rumänien
Name[tg]=Руминия
Name[tr]=Romanya
Name[uk]=Румунія
Name[x-test]=xxRomaniaxx
Name[zh_CN]=罗马尼亚
Name[zh_TW]=羅馬尼亞
Region=easteurope
Languages=ro
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[ro]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d %m %Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=RON
CurrencyCode=RON
