[KCM Locale]
Name=Central African Republic
Name[af]=Sentrale Afrika Republiek
Name[ar]=جمهورية أفريقيا الوسطى
Name[as]=মধ্য আফ্ৰিকান প্ৰজাতন্ত্ৰ
Name[ast]=República Centroafricana
Name[be]=Цэнтральнаафрыканская Рэспубліка
Name[be@latin]=Centralnaja Afrykanskaja Respublika
Name[bg]=ЦАР
Name[bn]=মধ্য আফ্রিকান রিপাবলিক
Name[bn_IN]=মধ্য আফ্রিকান প্রজাতন্ত্র
Name[bs]=Centralnoafrička Republika
Name[ca]=República Centreafricana
Name[ca@valencia]=República Centreafricana
Name[cs]=Středoafrická republika
Name[csb]=Repùblika Westrzédny Africzi
Name[cy]=Gweriniaeth Canolig Affrica
Name[da]=Central-afrikanske Republik
Name[de]=Zentralafrikanische Republik
Name[el]=Κεντροαφρικανική Δημοκρατία
Name[en_GB]=Central African Republic
Name[eo]=Mezafrika Respubliko
Name[es]=República Centroafricana
Name[et]=Kesk-Aafrika Vabariik
Name[eu]=Afrika Erdiko Errepublika
Name[fa]=جمهوری آفریقای مرکزی
Name[fi]=Keski-Afrikan tasavalta
Name[fr]=République Centrafricaine
Name[fy]=Sintraal Afrikaanse Republyk
Name[ga]=Poblacht na hAfraice Láir
Name[gd]=Poblachd Meadhan Afraga
Name[gl]=República Centroafricana
Name[gu]=સેન્ટ્રલ આફિક્રન રીપબ્લિક
Name[he]=הרפובליקה המרכז אפריקאית
Name[hi]=सेंट्रल अफ्रीकन रिपब्लिक
Name[hne]=सेंट्रल अफ्रीकन रिपब्लिक
Name[hr]=Srednjoafrička Republika
Name[hsb]=Centralnoafriska republik
Name[hu]=Közép-Afrikai Köztársaság
Name[ia]=Republica Central African
Name[id]=Republik Afrika Tengah
Name[is]=Mið-Afríkulýðveldið
Name[it]=Repubblica Centrafricana
Name[ka]=ცენტრალური აფრიკის რესპუბლიკა
Name[kk]=Орталық Африка Республикасы
Name[km]=សាធារណរដ្ឋ​អាហ្វ្រិក​កណ្ដាល
Name[kn]=ಮಧ್ಯ ಆಫ್ರಿಕಾ ರಿಪಬ್ಲಿಕ್
Name[ko]=중앙 아프리카 공화국
Name[ku]=Komara Afrikaya Navîn
Name[lt]=Centrinės Afrikos Respublika
Name[lv]=Centrālāfrikas republika
Name[mai]=केंद्रीय अफ्रीकी गणतंत्र
Name[mk]=Централноафриканска Република
Name[ml]=സെന്‍ട്രല്‍ ആഫ്രിക്കന്‍ റിപബ്ളിക്ക്
Name[mr]=केंद्रीय आफ्रिकी गणराज्य
Name[nb]=Den sentralafrikanske republikk
Name[nds]=Zentraalafrikaansch Republiek
Name[ne]=केन्द्रिय अफ्रिकन गणराज्य
Name[nl]=Centraal-Afrikaanse Republiek
Name[nn]=Den sentralafrikanske republikken
Name[oc]=Centrafrica
Name[or]=ମଧ୍ଯ ଆଫ୍ରିକା ଗଣତନ୍ତ୍ର
Name[pa]=ਕੇਂਦਰੀ ਅਫਰੀਕੀ ਗਣਰਾਜ
Name[pl]=Republika Środkowej Afryki
Name[pt]=República Central Africana
Name[pt_BR]=República Centro-Africana
Name[ro]=Republica Centrafricană
Name[ru]=Центрально-Африканская Республика
Name[se]=Guovddášafrihkálaš republihkka
Name[si]=මධ්‍යම අප්‍රිකානු ජනරජය
Name[sk]=Stredoafrická republika
Name[sl]=Srednjeafriška republika
Name[sr]=Централноафричка Република
Name[sr@ijekavian]=Централноафричка Република
Name[sr@ijekavianlatin]=Centralnoafrička Republika
Name[sr@latin]=Centralnoafrička Republika
Name[sv]=Centralafrikanska republiken
Name[ta]=மைய ஆப்பிரிக்க குடியரசு
Name[te]=సెంట్రల్ ఆఫ్రికన్ రిపబ్లిక్
Name[tg]=Ҷумҳурии Африқаи Марказӣ
Name[th]=สาธารณรัฐแอฟริกากลาง
Name[tr]=Orta Afrika Cumhuriyeti
Name[ug]=ئوتتۇرا ئافرىقا جۇمھۇرىيىتى
Name[uk]=Центральноафриканська Республіка
Name[uz]=Markaziy Afrika Respublikasi
Name[uz@cyrillic]=Марказий Африка Республикаси
Name[vi]=Cộng hoà Trung Phi
Name[wa]=Cintrafrike
Name[x-test]=xxCentral African Republicxx
Name[zh_CN]=中非
Name[zh_TW]=中非共和國
Region=centralafrica
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XAF
CurrencyCode=XAF
