[KCM Locale]
Name=Niger
Name[af]=Niger
Name[ar]=النيجر
Name[as]=নাইজাৰ
Name[ast]=Nixer
Name[be]=Нігер
Name[be@latin]=Nihier
Name[bg]=Нигер
Name[bn]=নাইজের
Name[bn_IN]=নাইজার
Name[br]=Nijer
Name[bs]=Niger
Name[ca]=Níger
Name[ca@valencia]=Níger
Name[cs]=Niger
Name[csb]=Niger
Name[cy]=Niger
Name[da]=Niger
Name[de]=Niger
Name[el]=Νίγηρας
Name[en_GB]=Niger
Name[eo]=Niĝero
Name[es]=Níger
Name[et]=Niger
Name[eu]=Niger
Name[fa]=نیجر
Name[fi]=Niger
Name[fr]=Niger
Name[fy]=Niger
Name[ga]=An Nígir
Name[gd]=Nìgeir
Name[gl]=Níxer
Name[gu]=નાઇજર
Name[he]=ניז'ר
Name[hi]=निगर
Name[hne]=निगर
Name[hr]=Niger
Name[hsb]=Niger
Name[hu]=Niger
Name[ia]=Niger
Name[id]=Niger
Name[is]=Níger
Name[it]=Niger
Name[ka]=ნიგერია
Name[kk]=Нигер
Name[km]=នីហ្សេរ
Name[kn]=ನೈಜರ್
Name[ko]=니제르
Name[ku]=Nîjer
Name[lt]=Niger
Name[lv]=Nigēra
Name[mai]=नाइजर
Name[mk]=Нигер
Name[ml]=നൈഗര്‍
Name[mr]=नाईजर
Name[ms]=Niger
Name[nb]=Niger
Name[nds]=Niger
Name[ne]=नाइजर
Name[nl]=Niger
Name[nn]=Niger
Name[oc]=Nigèr
Name[or]=ନାଇଜେରିଆ
Name[pa]=ਨਿਜੀਰ
Name[pl]=Niger
Name[pt]=Nigéria
Name[pt_BR]=Níger
Name[ro]=Niger
Name[ru]=Нигер
Name[se]=Niger
Name[si]=Niger
Name[sk]=Niger
Name[sl]=Niger
Name[sr]=Нигер
Name[sr@ijekavian]=Нигер
Name[sr@ijekavianlatin]=Niger
Name[sr@latin]=Niger
Name[sv]=Niger
Name[ta]=நிஜர்
Name[te]=నైజర్
Name[tg]=Нигер
Name[th]=ไนเจอร์
Name[tr]=Nijerya
Name[ug]=نېگىر
Name[uk]=Нігер
Name[uz]=Niger
Name[uz@cyrillic]=Нигер
Name[vi]=Niger
Name[wa]=Nidjer
Name[x-test]=xxNigerxx
Name[zh_CN]=尼日尔
Name[zh_TW]=尼日
Region=westafrica
Languages=fr,ar
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XOF
CurrencyCode=XOF
