
.hide {
        display: none;
}

ul.navbar {
            display: none;
}
ul.outline {
             display: none;
}

.document_header {
                   font-size: xx-large;
}

.year_header {
               font-size: x-large;
}

.entry_header {
                font-size: medium;
}

.packagelink {
              text-decoration: none;
}

.medium {
          color: orange;
}
.high,
.critical,
.emergency {
             color: red;
}

.testing,
.stable,
.testing-proposed-updates,
.stable-proposed-updates,
.frozen {
                           color: orange;
}
.stable-security,
.testing-security,
.experimental {
                color: red;
}

.trailer a {
             text-decoration: none;
}
