
.hide {
        display: none;
}

ul.navbar {
            display: inline;
            list-style-type: none;
            padding: 0;
}
ul.navbar li {
               display: inline;
               list-style-type: none;
}
ul.navbar li a:before {
                        content: '[';
}
ul.navbar li a:after {
                        content: ']';
}

ul.outline {
             position: absolute;
             top: .1em;
             right: .1em;
             padding: .5em;
             list-style-type: none;
             border: thin solid black;
             background: #ddd;
             overflow: auto;
             max-width: 30%;
}
ul.outline ul {
                list-style-type: none;
}

.document_header {
                   font-size: xx-large;
}

.year_header {
               font-size: x-large;
}

.entry_header {
                font-size: medium;
}

.packagelink {
              text-decoration: none;
}

.medium {
          color: orange;
}
.high,
.critical,
.emergency {
             color: red;
}

.testing,
.stable,
.testing-proposed-updates,
.stable-proposed-updates,
.frozen {
                           color: orange;
}
.stable-security,
.testing-security,
.experimental {
                color: red;
}

.trailer a {
             text-decoration: none;
}

.parse_error {
               font-style: italic;
               font-size: small;
               margin-top: -1em;
}

.footer address {
                  padding: .5em;
                  border-top: thin solid black;
                  background-color: #ddd;
}
