<div id="content">
<TMPL_LOOP NAME="CONTENT_YEARS">
<h2 class="year_header" id="year<TMPL_VAR NAME="CONTENT_YEAR">">
<TMPL_VAR NAME="CONTENT_YEAR">
</h2>
<TMPL_LOOP NAME="CONTENT_VERSIONS">
<h3 class="entry_header" id="version<TMPL_VAR NAME="CONTENT_VERSION_ID">">
	<a class="packagelink" href="http://packages.debian.org/src:<TMPL_VAR ESCAPE="URL" NAME="CONTENT_SOURCE">"><TMPL_VAR NAME="CONTENT_SOURCE"></a>
	 (<TMPL_VAR NAME="CONTENT_VERSION">)
	<span class="<TMPL_VAR NAME="CONTENT_DISTRIBUTION_NORM">"><TMPL_VAR NAME="CONTENT_DISTRIBUTION"></span>;
	urgency=<span class="<TMPL_VAR NAME="CONTENT_URGENCY_NORM">"><TMPL_VAR NAME="CONTENT_URGENCY"></span>
</h3>
<!-- NOTE: CONTENT_CHANGES can contain HTML -->
<pre><TMPL_VAR NAME="CONTENT_CHANGES"></pre>
<p class="trailer">&nbsp;-- <TMPL_VAR NAME="CONTENT_MAINTAINER_NAME"> &lt;<a href="http://qa.debian.org/developer.php?login=<TMPL_VAR NAME="CONTENT_MAINTAINER_EMAIL">"><TMPL_VAR NAME="CONTENT_MAINTAINER_EMAIL"></a>&gt;&nbsp;&nbsp;<TMPL_VAR NAME="CONTENT_DATE">
</p>
<!-- NOTE: CONTENT_PARSE_ERROR can contain HTML -->
<TMPL_VAR NAME="CONTENT_PARSE_ERROR">
</TMPL_LOOP>
</TMPL_LOOP>
<TMPL_IF NAME="OLDFORMAT">
<h2 class="year_header" id="oldformat">Old changelog format(s), not parsed</h2>
<pre class="oldformat">
<TMPL_VAR ESCAPE="HTML" NAME="OLDFORMAT_CHANGES">
</pre>
</TMPL_IF>
</div>
