<!--
	All parts of the default template are
	Copyright (C) 2005 Frank Lichtenheld <frank@lichtenheld.de>
	And may be used under the same license as Parse::DebianChangelog
	itself
-->
<TMPL_INCLUDE NAME="html_head.tmpl">
<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="content.tmpl">
<TMPL_INCLUDE NAME="footer.tmpl">
