<div class="footer">
	<hr class="hide">
	<address>
		Generated <TMPL_VAR NAME="GENERATED_DATE"> by <tt>
			<TMPL_VAR NAME="MODULE_NAME"> (v<TMPL_VAR NAME="MODULE_VERSION">)
		</tt>
		<br>
		Contact <a href="mailto:debian-www@lists.debian.org">debian-www@lists.debian.org</a>
		 in case of problems.
	</address>
</div>

</body>
</html>
