<p class="hide">
	<a href="#content">Skip to content</a>
</p>

<!-- Links to usefull Debian websites providing more information about
	this package -->
<ul class="navbar">
	<li>
		<a href="http://packages.debian.org/src:<TMPL_VAR NAME="SOURCE_NEWEST">">Package Information</a>
	</li>
	<li>
		<a href="http://packages.qa.debian.org/<TMPL_VAR NAME="SOURCE_NEWEST">">Package Developer Information</a>
	</li>
	<li>
		<a href="http://bugs.debian.org/src:<TMPL_VAR NAME="SOURCE_NEWEST">">Bug Information</a>
	</li>
</ul>
<h1 class="document_header">
	Debian Changelog <TMPL_VAR NAME="SOURCE_NEWEST"> (<TMPL_VAR NAME="VERSION_NEWEST">)
</h1>

<!-- Outline of the changelog with links to all versions -->
<ul class="outline">
<TMPL_LOOP NAME="NAV_YEARS">
<li>
	<a href="#year<TMPL_VAR NAME="NAV_YEAR">"><TMPL_VAR NAME="NAV_YEAR"></a>:
	<ul>
	<TMPL_LOOP NAME="NAV_VERSIONS">
		<li>
			<a title="<TMPL_VAR ESCAPE="HTML" NAME="NAV_MAINTAINER"> <TMPL_VAR NAME="NAV_DATE">" href="#version<TMPL_VAR NAME="NAV_VERSION_ID">"><TMPL_VAR NAME="NAV_VERSION"></a>
		</li>
	</TMPL_LOOP>
	</ul>
</li>
</TMPL_LOOP>
<TMPL_IF NAME="OLDFORMAT">
<li><a href="#oldformat">old format</a></li>
</TMPL_IF>
</ul>
