[KCM Locale]
Name=Swaziland
Name[af]=Swasiland
Name[ar]=سوازيلند
Name[as]=ছোৱাজিলেন্ড
Name[ast]=Suazilandia
Name[be]=Свазілэнд
Name[be@latin]=Svazyland
Name[bg]=Свазиленд
Name[bn]=সোয়াজিল্যাণ্ড
Name[bn_IN]=সোয়াজিল্যান্ড
Name[br]=Swaziland
Name[bs]=Svazilend
Name[ca]=Swazilàndia
Name[ca@valencia]=Swazilàndia
Name[cs]=Svazijsko
Name[csb]=Suazi
Name[cy]=Gwlad y Swasi
Name[da]=Swaziland
Name[de]=Swasiland
Name[el]=Σουαζιλάνδη
Name[en_GB]=Swaziland
Name[eo]=Svazilando
Name[es]=Suazilandia
Name[et]=Svaasimaa
Name[eu]=Swazilandia
Name[fa]=سوآزیلند
Name[fi]=Swazimaa
Name[fr]=Swaziland
Name[fy]=Swaziland
Name[ga]=An tSuasalainn
Name[gd]=Dùthaich nan Suasaidh
Name[gl]=Suazilandia
Name[gu]=સ્વાઝિલેન્ડ
Name[he]=סוואזילנד
Name[hi]=स्वाजीलैंड
Name[hne]=स्वाजीलैंड
Name[hr]=Svazilend
Name[hsb]=Swaziland
Name[hu]=Szváziföld
Name[ia]=Swaziland
Name[id]=Swaziland
Name[is]=Svasíland
Name[it]=Swaziland
Name[ka]=სვაზილენდი
Name[kk]=Свазиленд
Name[km]=ស្វាហ្ស៊ីឡង់
Name[kn]=ಸ್ವಾಝಿಲ್ಯಾಂಡ್
Name[ko]=스와질란드
Name[ku]=Swazîland
Name[lt]=Swaziland
Name[lv]=Svazilenda
Name[mai]=स्वाजीलैंड
Name[mk]=Свазиленд
Name[ml]=സ്വാസിലാന്‍ഡ്
Name[mr]=स्वाझीलेन्ड
Name[ms]=Swaziland
Name[nb]=Swaziland
Name[nds]=Swasiland
Name[ne]=स्वाजिल्याण्ड
Name[nl]=Swaziland
Name[nn]=Swaziland
Name[oc]=Swaziland
Name[or]=ସ୍ୱାଜିଲ୍ୟାଣ୍ଡ
Name[pa]=ਸਵਾਜ਼ੀਲੈਂਡ
Name[pl]=Suazi
Name[pt]=Suazilândia
Name[pt_BR]=Suazilândia
Name[ro]=Swaziland
Name[ru]=Свазиленд
Name[se]=Swaziland
Name[si]=Swaziland
Name[sk]=Svazijsko
Name[sl]=Svazi
Name[sr]=Свазиленд
Name[sr@ijekavian]=Свазиленд
Name[sr@ijekavianlatin]=Svazilend
Name[sr@latin]=Svazilend
Name[sv]=Swaziland
Name[ta]=ஸ்வாசிலான்ட்
Name[te]=స్వాజీలాండ్
Name[tg]=Свазиленд
Name[th]=สวาซิแลนด์
Name[tr]=Svaziland
Name[ug]=سىۋېزىلاند
Name[uk]=Свазіленд
Name[uz]=Svazilend
Name[uz@cyrillic]=Свазиленд
Name[vi]=Swaziland
Name[wa]=Suwazilande
Name[x-test]=xxSwazilandxx
Name[zh_CN]=斯威士兰
Name[zh_TW]=史瓦濟蘭
Region=southafrica
Languages=en_GB,ss
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SZL
CurrencyCode=SZL
