[KCM Locale]
Name=Tatar
Name[af]=Tatar
Name[ar]=التّتاريّة
Name[ast]=Tatar
Name[bg]=Татарски
Name[br]=Tatareg
Name[bs]=Tatarski
Name[ca]=Tàtar
Name[ca@valencia]=Tàtar
Name[cs]=Tatarský
Name[cy]=Tatar
Name[da]=Tatar
Name[de]=Tatarisch
Name[el]=Ταταρικά
Name[en_GB]=Tatar
Name[eo]=Tatara
Name[es]=Tártaro
Name[et]=Tatari
Name[eu]=Tatarera
Name[fa]=تاتاری
Name[fi]=Tataari
Name[fr]=Tatar
Name[fy]=Tataarsk
Name[ga]=Tatairis
Name[gd]=Tatarais
Name[gl]=Tártaro
Name[gu]=તાતાર
Name[he]=טטרית
Name[hi]=तातार
Name[hr]=Tatarski
Name[hu]=Tatár
Name[ia]=Tataro
Name[id]=Tatar
Name[is]=Tataríska
Name[it]=Tataro
Name[kk]=Татарша
Name[km]=តាតារ
Name[ko]=타타르어
Name[lb]=Tataresch
Name[lt]=Totorių
Name[lv]=Tatāru
Name[mr]=तातार
Name[nb]=Tatar
Name[nds]=Tataarsch
Name[nl]=Tataars
Name[nn]=Tatarisk
Name[pa]=ਤਤਾਰ
Name[pl]=Tatarski
Name[pt]=Tatar
Name[pt_BR]=Tatar
Name[ro]=Tătară
Name[ru]=Татарский
Name[se]=Tatáragiella
Name[sk]=Tatárčina
Name[sl]=Tatarščina
Name[sq]=Tatarisht
Name[sr]=татарски
Name[sr@ijekavian]=татарски
Name[sr@ijekavianlatin]=tatarski
Name[sr@latin]=tatarski
Name[sv]=Tatariska
Name[tg]=Тоторӣ
Name[tr]=Tatarca
Name[ug]=تاتارچە
Name[uk]=Татарська
Name[uz]=Totarcha
Name[uz@cyrillic]=Тотарча
Name[x-test]=xxTatarxx
Name[zh_CN]=鞑靼语
Name[zh_HK]=韃靼語
Name[zh_TW]=韃靼語
