[KCM Locale]
Name=America, Central
Name[ar]=وسط أمريكا
Name[ast]=América central
Name[bs]=Amerika, centralna
Name[ca]=Amèrica Central
Name[ca@valencia]=Amèrica Central
Name[cs]=Amerika, Střední
Name[da]=Mellemamerika
Name[de]=Amerika, Zentrales
Name[en_GB]=America, Central
Name[es]=América Central
Name[et]=Kesk-Ameerika
Name[eu]=Amerika, Erdialdekoa
Name[fa]=آمریکای مرکزی
Name[fi]=Keski-Amerikka
Name[fr]=Amérique centrale
Name[gd]=Meadhan Aimeireaga
Name[gl]=América Central
Name[hr]=Amerika, središnja
Name[hu]=Közép-Amerika
Name[ia]=America, Central
Name[id]=Amerika, Tengah
Name[is]=Ameríka, Mið-Ameríka
Name[it]=America centrale
Name[ka]=ამერიკა, ცენტრალური
Name[ko]=중앙아메리카
Name[lt]=Amerika, Centrinė
Name[lv]=Centrālamerika
Name[mr]=अमेरिका, मध्य
Name[nb]=Sentral-Amerika
Name[nds]=Amerika, Zentraal-
Name[nl]=Amerika, Centraal
Name[nn]=Sentral-Amerika
Name[pa]=ਅਮਰੀਕਾ, ਕੇਂਦਰੀ
Name[pl]=Ameryka Środkowa
Name[pt]=América Central
Name[pt_BR]=América Central
Name[ru]=Центральная Америка
Name[se]=Guovddáš Amerihká
Name[sk]=Stredná Amerika
Name[sl]=Amerika, srednja
Name[sr]=Америка, централна
Name[sr@ijekavian]=Америка, централна
Name[sr@ijekavianlatin]=Amerika, centralna
Name[sr@latin]=Amerika, centralna
Name[sv]=Amerika, central
Name[tg]=Америкаи Марказӣ
Name[tr]=Orta Amerika
Name[uk]=Америка, центральна
Name[x-test]=xxAmerica, Centralxx
Name[zh_CN]=中美
Name[zh_TW]=美洲，中部
