[KCM Locale]
Name=Asia, Central
Name[af]=Asië, Sentraal
Name[ar]=وسط آسيا
Name[as]=এছিয়া, মধ্য
Name[ast]=Asia central
Name[be]=Цэнтральная Азія
Name[be@latin]=Centralnaja Azija
Name[bg]=Централна Азия
Name[bn]=এসিয়া, মধ্য
Name[bn_IN]=এশিয়া, মধ্য
Name[bs]=Azija, centralna
Name[ca]=Àsia Central
Name[ca@valencia]=Àsia Central
Name[cs]=Asie, Střední
Name[csb]=Westrzédnô Azëjô
Name[cy]=Asia, Canolig
Name[da]=Centralasien
Name[de]=Asien, Zentrales
Name[el]=Ασία, Κεντρική
Name[en_GB]=Asia, Central
Name[eo]=Azio, Centra
Name[es]=Asia Central
Name[et]=Kesk-Aasia
Name[eu]=Asia, Erdialdekoa
Name[fa]=آسیای مرکزی
Name[fi]=Keski-Aasia
Name[fr]=Asie centrale
Name[fy]=Azië, Sintraal
Name[ga]=An Áise Láir
Name[gd]=Meadhan Àisia
Name[gl]=Asia, Central
Name[gu]=એશિયા, મધ્ય
Name[he]=אסיה, מרכז
Name[hi]=एशिया, मध्य
Name[hne]=एसिया, मध्य
Name[hr]=Azija, središnja
Name[hsb]=Aziska, Centralna
Name[hu]=Közép-Ázsia
Name[ia]=Asia, Central
Name[id]=Asia, Tengah
Name[is]=Asía, Mið-Asía
Name[it]=Asia centrale
Name[ka]=აზია, ცენტრალური
Name[kk]=Орталық Азия
Name[km]=អាស៊ី​កណ្ដាល
Name[kn]=ಏಷ್ಯಾ, ಮಧ್ಯ
Name[ko]=중앙아시아
Name[ku]=Asyaya Navîn
Name[lt]=Azija, Centrinė
Name[lv]=Centrālāzija
Name[mai]=एशिया, मध्य
Name[mk]=Централна Азија
Name[ml]=മധ്യേഷ്യ
Name[mr]=एशिया, मध्य
Name[nb]=Sentral-Asia
Name[nds]=Asien, Zentraal-
Name[ne]=मध्य एसिया
Name[nl]=Azië, Centraal
Name[nn]=Sentral-Asia
Name[or]=ମଧ୍ଯ ଏସିଆ
Name[pa]=ਏਸ਼ੀਆ, ਕੇਂਦਰੀ
Name[pl]=Azja Środkowa
Name[pt]=Ásia Central
Name[pt_BR]=Ásia Central
Name[ro]=Asia Centrală
Name[ru]=Центральная Азия
Name[se]=Guovddáš-Ásia
Name[si]=මධ්‍යම ආසියාව
Name[sk]=Stredná Ázia
Name[sl]=Azija, srednja
Name[sr]=Азија, централна
Name[sr@ijekavian]=Азија, централна
Name[sr@ijekavianlatin]=Azija, centralna
Name[sr@latin]=Azija, centralna
Name[sv]=Asien, central
Name[ta]=ஆசியா, மையப்படுத்தப்பட்ட
Name[te]=మధ్య ఆసియా
Name[tg]=Осиёи Марказӣ
Name[th]=เอเชียตอนกลาง
Name[tr]=Orta Asya
Name[ug]=ئوتتۇرا ئاسىيا
Name[uk]=Азія, центральна
Name[uz]=Osiyo, Markaziy
Name[uz@cyrillic]=Осиё, Марказий
Name[vi]=Trung Á
Name[wa]=Azeye cintråle
Name[x-test]=xxAsia, Centralxx
Name[zh_CN]=中亚
Name[zh_TW]=亞洲，中部
