[KCM Locale]
Name=Africa, Eastern
Name[ar]=شرق إفريقيا
Name[as]=আফ্ৰিকা, পূৰ্ব
Name[ast]=África oriental
Name[be@latin]=Uschodniaja Afryka
Name[bg]=Източна Африка
Name[bn]=আফ্রিকা, পূর্ব
Name[bn_IN]=আফ্রিকা, পূর্ব
Name[bs]=Afrika, istočna
Name[ca]=Àfrica Oriental
Name[ca@valencia]=Àfrica Oriental
Name[cs]=Afrika, Východní
Name[csb]=Pòrénkòwô Afrika
Name[da]=Østafrika
Name[de]=Afrika, Östliches
Name[el]=Αφρική, Ανατολική
Name[en_GB]=Africa, Eastern
Name[eo]=Afriko, Orienta
Name[es]=África Oriental
Name[et]=Ida-Aafrika
Name[eu]=Afrika, ekialdea
Name[fa]=آفریقا، شرقی
Name[fi]=Itä-Afrikka
Name[fr]=Afrique de l'Est
Name[fy]=Afrika, East
Name[ga]=An Afraic Thoir
Name[gd]=Afraga an Ear
Name[gl]=África, Leste
Name[gu]=આફિક્રા, પૂર્વીય
Name[he]=אפריקה, מזרח
Name[hi]=पूर्वी अफ्रीका
Name[hne]=अफ्रीका, पस्चिमी
Name[hr]=Afrika, istočna
Name[hsb]=Afrika, Wuchodna
Name[hu]=Kelet-Afrika
Name[ia]=Africa, Oriental
Name[id]=Aftika, Timur
Name[is]=Afríka, Austur-Afríka
Name[it]=Africa orientale
Name[kk]=Шығыс Африка
Name[km]=អាហ្វ្រិក​ខាង​កើត
Name[kn]=ಅಫ್ರಿಕಾ, ಪೂರ್ವ
Name[ko]=동아프리카
Name[ku]=Afrîka, Rojavayî
Name[lt]=Afrika, Rytų
Name[lv]=Austrumāfrika
Name[mai]=अफ्रीका, पूर्वी
Name[mk]=Источна Африка
Name[ml]=കിഴക്കേ ആഫ്രിക്ക
Name[mr]=आफ्रीका, पश्चिम
Name[nb]=Øst-Afrika
Name[nds]=Afrika, Oost-
Name[nl]=Afrika, Oost-
Name[nn]=Aust-Afrika
Name[or]=ଆଫ୍ରିକା, ପୂର୍ବି
Name[pa]=ਅਫਰੀਕਾ, ਪੂਰਬੀ
Name[pl]=Afryka Wschodnia
Name[pt]=África, Oriental
Name[pt_BR]=África Oriental
Name[ro]=Africa de Est
Name[ru]=Восточная Африка
Name[si]=නැගෙනහිර අප්‍රිකාව
Name[sk]=Východná Afrika
Name[sl]=Afrika, vzhodna
Name[sr]=Африка, источна
Name[sr@ijekavian]=Африка, источна
Name[sr@ijekavianlatin]=Afrika, istočna
Name[sr@latin]=Afrika, istočna
Name[sv]=Afrika, östra
Name[ta]=ஆப்பிரிக்கா, கிழக்கு
Name[tg]=Африкои Шарқӣ
Name[th]=แอฟริกาตะวันออก
Name[tr]=Afrika, Doğu
Name[ug]=شەرقى ئافرىقا
Name[uk]=Африка, східна
Name[vi]=Tây Phi
Name[wa]=Afrike levantrece
Name[x-test]=xxAfrica, Easternxx
Name[zh_CN]=东非
Name[zh_TW]=非洲，東部
