[KCM Locale]
Name=Middle-East
Name[af]=Midde Ooste
Name[ar]=الشرق الأوسط
Name[as]=মধ্য-প্ৰাচ্য
Name[ast]=Oriente Mediu
Name[be]=Сярэдні Ўсход
Name[be@latin]=Blizki Ŭschod
Name[bg]=Близкия изток
Name[bn]=মধ্য-প্রাচ্য
Name[bn_IN]=মধ্য-প্রাচ্য
Name[bs]=Bliski istok
Name[ca]=Orient Mitjà
Name[ca@valencia]=Orient Mitjà
Name[cs]=Blízký východ
Name[csb]=Blisczi Pòrénk
Name[cy]=Dwyrain Canol
Name[da]=Mellmøsten
Name[de]=Mittlerer Osten
Name[el]=Μέση Ανατολή
Name[en_GB]=Middle-East
Name[eo]=Oriento meza
Name[es]=Oriente Medio
Name[et]=Lähis-Ida
Name[eu]=Ekialde Ertaina
Name[fa]=خاورمیانه
Name[fi]=Lähi-itä
Name[fr]=Moyen-Orient
Name[fy]=Midden-Easten
Name[ga]=An Meánoirthear
Name[gd]=An Ear-mheadhan
Name[gl]=Oriente Medio
Name[gu]=મીડલ-ઇસ્ટ
Name[he]=המזרח התיכון
Name[hi]=मध्य-पूर्व
Name[hne]=मध्य-पूर्व
Name[hr]=Srednji istok
Name[hsb]=Srjedźny wuchod
Name[hu]=Közép-Kelet
Name[ia]=Medie Oriente
Name[id]=Timur Tengah
Name[is]=Mið-Austurlönd
Name[it]=Medio Oriente
Name[ka]=შუა აღმოსავლეთი
Name[kk]=Орта Шығыс
Name[km]=មជ្ឈឹមបូព៌ា
Name[kn]=ಮಧ್ಯ-ಪೂರ್ವ
Name[ko]=중동
Name[ku]=Rojhilata Navîn
Name[lt]=Vidurio Rytai
Name[lv]=Vidējie austrumi
Name[mai]=मध्य-पूर्व
Name[mk]=Среден Исток
Name[ml]=മിഡില്‍-ഈസ്റ്റ്
Name[mr]=मध्य-पूर्व
Name[nb]=Midtøsten
Name[nds]=Middel-Oosten
Name[ne]=मध्य-पूर्व
Name[nl]=Midden-Oosten
Name[nn]=Midt-Austen
Name[or]=ମଧ୍ଯ- ପୂର୍ବ
Name[pa]=ਮੱਧ-ਪੂਰਬ
Name[pl]=Bliski Wschód
Name[pt]=Médio Oriente
Name[pt_BR]=Oriente Médio
Name[ro]=Orientul Mijlociu
Name[ru]=Ближний Восток
Name[se]=Gaska-Nuorta
Name[si]=Middle-East
Name[sk]=Blízky východ
Name[sl]=Srednji vzhod
Name[sr]=Блиски исток
Name[sr@ijekavian]=Блиски исток
Name[sr@ijekavianlatin]=Bliski istok
Name[sr@latin]=Bliski istok
Name[sv]=Mellersta östern
Name[ta]=மைய-கிழக்கு
Name[te]=మద్యాసియా
Name[tg]=Шарқи Наздик
Name[th]=ตะวันออกกลาง
Name[tr]=Orta Doğu
Name[ug]=ئوتتۇرا شەرق
Name[uk]=Середній схід
Name[uz]=Yaqin Sharq
Name[uz@cyrillic]=Яқин Шарқ
Name[vi]=Trung Đông
Name[wa]=Moyén Levant
Name[x-test]=xxMiddle-Eastxx
Name[zh_CN]=中东
Name[zh_TW]=中東
