[KCM Locale]
Name=America, North
Name[ar]=شمال أمريكا
Name[ast]=América septentrional
Name[bs]=Amerika sjeverna
Name[ca]=Amèrica del Nord
Name[ca@valencia]=Amèrica del Nord
Name[cs]=Amerika, Severní
Name[da]=Nordamerika
Name[de]=Amerika, Nördliches
Name[en_GB]=America, North
Name[es]=América del Norte
Name[et]=Põhja-Ameerika
Name[eu]=Amerika, Iparraldea
Name[fa]=آمریکای شمالی
Name[fi]=Pohjois-Amerikka
Name[fr]=Amérique du nord
Name[gd]=Aimeireaga a Tuath
Name[gl]=América do Norte
Name[hr]=Amerika, sjeverna
Name[hu]=Észak-Amerika
Name[ia]=America del Nord
Name[id]=Amerika, Utara
Name[is]=Ameríka, Norður-Ameríka
Name[it]=America settentrionale
Name[ka]=ამერიკა, ჩრდილოეთი
Name[ko]=북아메리카
Name[lt]=Amerika, Šiaurės
Name[lv]=Ziemeļamerika
Name[mr]=अमेरिका, उत्तर
Name[nb]=Nord-Amerika
Name[nds]=Amerika, Noord-
Name[nl]=Amerika, Noord
Name[nn]=Nord-Amerika
Name[pa]=ਅਮਰੀਕਾ, ਉੱਤਰੀ
Name[pl]=Ameryka Północna
Name[pt]=América do Norte
Name[pt_BR]=América do Norte
Name[ru]=Северная Америка
Name[se]=Davvi-Amerihká
Name[sk]=Severná Amerika
Name[sl]=Amerika, severna
Name[sr]=Америка сјеверна
Name[sr@ijekavian]=Америка сјеверна
Name[sr@ijekavianlatin]=Amerika sjeverna
Name[sr@latin]=Amerika sjeverna
Name[sv]=Amerika, nord
Name[tg]=Америкаи Шимолӣ
Name[tr]=Kuzey Amerika
Name[uk]=Америка, північна
Name[x-test]=xxAmerica, Northxx
Name[zh_CN]=北美
Name[zh_TW]=美洲，北部
