[KCM Locale]
Name=Oceania
Name[af]=Oseanië
Name[ar]=أوقيانيا
Name[as]=অ'ছিয়ানা
Name[ast]=Oceanía
Name[be]=Акіянія
Name[be@latin]=Akijanija
Name[bg]=Океания
Name[bn]=ওশানিয়া
Name[bn_IN]=ওশিয়ানা
Name[br]=Oseani
Name[bs]=Okeanija
Name[ca]=Oceania
Name[ca@valencia]=Oceania
Name[cs]=Oceánie
Name[csb]=Òceanijô
Name[cy]=Ynysoedd y De
Name[da]=Oceanien
Name[de]=Ozeanien
Name[el]=Ωκεανία
Name[en_GB]=Oceania
Name[eo]=Oceanio
Name[es]=Oceanía
Name[et]=Okeaania
Name[eu]=Ozeania
Name[fa]=اقیانوسیه
Name[fi]=Oseania
Name[fr]=Océanie
Name[fy]=Oceanië
Name[ga]=An Aigéine
Name[gd]=Roinn a' Chuain Sèimh
Name[gl]=Oceanía
Name[gu]=ઓશેનિઆ
Name[he]=אוקיאניה
Name[hi]=ओसेनिया
Name[hne]=ओसेनिया
Name[hr]=Oceanija
Name[hsb]=Oceanija
Name[hu]=Óceánia
Name[ia]=Oceania
Name[id]=Oceania
Name[is]=Eyjaálfa
Name[it]=Oceania
Name[ka]=ოკეანია
Name[kk]=Океания
Name[km]=អូសេអានី
Name[kn]=ಓಷಿಯಾನಿಯಾ
Name[ko]=오세아니아
Name[ku]=Okyaniya
Name[lt]=Okeanija
Name[lv]=Okeānija
Name[mai]=ओसेनिया
Name[mk]=Океанија
Name[ml]=ഓഷ്യാനിയ
Name[mr]=ओसेनिया
Name[ms]=Oceania
Name[nb]=Oceania
Name[nds]=Ozeaanien
Name[ne]=ओसानिया
Name[nl]=Oceanië
Name[nn]=Oceania
Name[or]=ଓସେନିଆ
Name[pa]=ਓਸ਼ਨੀਆ
Name[pl]=Oceania
Name[pt]=Oceânia
Name[pt_BR]=Oceania
Name[ro]=Oceania
Name[ru]=Океания
Name[se]=Oceania
Name[si]=Oceania
Name[sk]=Oceánia
Name[sl]=Oceanija
Name[sr]=Океанија
Name[sr@ijekavian]=Океанија
Name[sr@ijekavianlatin]=Okeanija
Name[sr@latin]=Okeanija
Name[sv]=Oceanien
Name[ta]=ஒசெனியா
Name[te]=ఓసియానియా
Name[tg]=Уқёнусия
Name[th]=คาบสมุทร
Name[tr]=Okyanusya
Name[ug]=ئوكيانىيە
Name[uk]=Океанія
Name[uz]=Okeaniya
Name[uz@cyrillic]=Океания
Name[vi]=Châu Đại Dương
Name[wa]=Oceyaneye
Name[x-test]=xxOceaniaxx
Name[zh_CN]=大洋洲
Name[zh_TW]=大洋洲
