[KCM Locale]
Name=America, South
Name[ar]=جنوب أمريكا
Name[ast]=América meridional
Name[bs]=Amerika, južna
Name[ca]=Amèrica del Sud
Name[ca@valencia]=Amèrica del Sud
Name[cs]=Amerika, Jižní
Name[da]=Sydamerika
Name[de]=Amerika, Südliches
Name[en_GB]=America, South
Name[es]=América del Sur
Name[et]=Lõuna-Ameerika
Name[eu]=Amerika, Hegoaldea
Name[fa]=آمریکای جنوبی
Name[fi]=Etelä-Amerikka
Name[fr]=Amérique du Sud
Name[gd]=Aimeireaga a Deas
Name[gl]=América do Sur
Name[hr]=Amerika, južna
Name[hu]=Dél-Amerika
Name[ia]=America del Sud
Name[id]=Amerika, Selatan
Name[is]=Ameríka, Suður-Ameríka
Name[it]=America meridionale
Name[ka]=ამერიკა, სამხრეთი
Name[ko]=남아메리카
Name[lt]=Amerika, Pietų
Name[lv]=Dienvidamerika
Name[mr]=अमेरिका, दक्षिण
Name[nb]=Sør-Amerika
Name[nds]=Amerika, Sööd-
Name[nl]=Amerika, Zuid-
Name[nn]=Sør-Amerika
Name[pa]=ਅਮਰੀਕਾ, ਦੱਖਣੀ
Name[pl]=Ameryka Południowa
Name[pt]=América do Sul
Name[pt_BR]=América do Sul
Name[ru]=Южная Америка
Name[se]=Lulli-Amerihká
Name[sk]=Južná Amerika
Name[sl]=Amerika, južna
Name[sr]=Америка, јужна
Name[sr@ijekavian]=Америка, јужна
Name[sr@ijekavianlatin]=Amerika, južna
Name[sr@latin]=Amerika, južna
Name[sv]=Amerika, syd
Name[tg]=Америкаи Ҷанубӣ
Name[tr]=Güney Amerika
Name[uk]=Америка, південна
Name[x-test]=xxAmerica, Southxx
Name[zh_CN]=南美
Name[zh_TW]=美洲，南部
