[KCM Locale]
Name=Europe, Southern
Name[ar]=جنوب أوروبا
Name[ast]=Europa meridional
Name[bs]=Evropa, južna
Name[ca]=Europa del Sud
Name[ca@valencia]=Europa del Sud
Name[cs]=Evropa, Jižní
Name[da]=Sydeuropa
Name[de]=Europa, Südliches
Name[en_GB]=Europe, Southern
Name[es]=Europa del Sur
Name[et]=Lõuna-Euroopa
Name[eu]=Europa, Hegoaldea
Name[fa]=اروپای جنوبی
Name[fi]=Etelä-Eurooppa
Name[fr]=Europe du Sud
Name[gd]=An Roinn-Eòrpa a Deas
Name[gl]=Europa Meridional
Name[hr]=Europa, južna
Name[hu]=Dél-Európa
Name[ia]=Europa, Meridional
Name[id]=Eropa, Selatan
Name[is]=Evrópa, Suður-Evrópa
Name[it]=Europa meridionale
Name[ka]=ევროპა, სამხრეთი
Name[ko]=남유럽
Name[lt]=Europa, Pietų
Name[lv]=Dienvideiropa
Name[mr]=युरोप, दक्षिण
Name[nb]=Sør-Europa
Name[nds]=Europa, Sööd-
Name[nl]=Europa, Zuid
Name[nn]=Sør-Europa
Name[pa]=ਯੂਰਪ, ਦੱਖਣੀ
Name[pl]=Europa Południowa
Name[pt]=Europa (Sul)
Name[pt_BR]=Europa Meridional
Name[ru]=Южная Европа
Name[se]=Lulli-Eurohpa
Name[sk]=Južná Európa
Name[sl]=Evropa, južna
Name[sr]=Европа, јужна
Name[sr@ijekavian]=Европа, јужна
Name[sr@ijekavianlatin]=Evropa, južna
Name[sr@latin]=Evropa, južna
Name[sv]=Europa, södra
Name[tg]=Аврупои Ҷанубӣ
Name[tr]=Güney Avrupa
Name[uk]=Європа, південна
Name[x-test]=xxEurope, Southernxx
Name[zh_CN]=南欧
Name[zh_TW]=美洲，南部
