[KCM Locale]
Name=Europe, Western
Name[af]=Europa, Westelike
Name[ar]=غرب أوروبا
Name[as]=ইউৰোপ, পশ্চিম
Name[ast]=Europa occidental
Name[be]=Заходняя Еўропа
Name[be@latin]=Zachodniaja Eŭropa
Name[bg]=Западна Европа
Name[bn]=ইউরোপ, পশ্চিম
Name[bn_IN]=ইউরোপ, পশ্চিম
Name[bs]=Evropa, zapadna
Name[ca]=Europa Occidental
Name[ca@valencia]=Europa Occidental
Name[cs]=Evropa, Západní
Name[csb]=Zôpôdnô Eùropa
Name[cy]=Ewrop, Gorllewin
Name[da]=Vesteuropa
Name[de]=Europa, Westliches
Name[el]=Ευρώπη, Δυτική
Name[en_GB]=Europe, Western
Name[eo]=Eŭropo, Okcidenta
Name[es]=Europa Occidental
Name[et]=Lääne-Euroopa
Name[eu]=Europa, mendebaldea
Name[fa]=اروپای غربی
Name[fi]=Länsi-Eurooppa
Name[fr]=Europe de l'Ouest
Name[fy]=Europa, West
Name[ga]=An Eoraip, Iarthar
Name[gd]=An Roinn-Eòrpa an Iar
Name[gl]=Europa Occidental
Name[gu]=યુરોપ, પશ્ચિમ
Name[he]=אירופה, מערב
Name[hi]=यूरोप, पश्चिमी
Name[hne]=यूरोप, पस्चिमी
Name[hr]=Europa, zapadna
Name[hsb]=Europa, Zapadna
Name[hu]=Nyugat-Európa
Name[ia]=Europa, Occidental
Name[id]=Eropa, Barat
Name[is]=Evrópa, Vestur-Evrópa
Name[it]=Europa occidentale
Name[ka]=ევროპა, დასავლეთი
Name[kk]=Батыс Еуропа
Name[km]=អឺរ៉ុប​ខាង​លិច
Name[kn]=ಯೂರೋಪ್, ಪಶ್ಚಿಮ
Name[ko]=서유럽
Name[ku]=Ewropa, Rojavayî
Name[lt]=Europa, Vakarų
Name[lv]=Rietumeiropa
Name[mai]=यूरोप, पश्चिमी
Name[mk]=Западна Европа
Name[ml]=പടിഞ്ഞാറന്‍ യൂറോപ്
Name[mr]=यूरोप, पश्चिम
Name[ms]=Eropah, Barat
Name[nb]=Vest-Europa
Name[nds]=Europa, West-
Name[ne]=पश्चिमी यूरोप
Name[nl]=Europa, West
Name[nn]=Vest-Europa
Name[or]=ୟୁରୋପ, ପଶ୍ଚିମି
Name[pa]=ਯੂਰਪ, ਪੱਛਮੀ
Name[pl]=Europa Zachodnia
Name[pt]=Europa, Ocidental
Name[pt_BR]=Europa Ocidental
Name[ro]=Europa de Vest
Name[ru]=Западная Европа
Name[se]=Oarje-Eurohpa
Name[si]=යුරෝපය, බටහිර
Name[sk]=Západná Európa
Name[sl]=Evropa, zahodna
Name[sr]=Европа, западна
Name[sr@ijekavian]=Европа, западна
Name[sr@ijekavianlatin]=Evropa, zapadna
Name[sr@latin]=Evropa, zapadna
Name[sv]=Europa, västra
Name[ta]=ஐரோப்பா, மேற்கு
Name[te]=పశ్చిమ ఐరొపా
Name[tg]=Аврупои Ғарбӣ
Name[th]=ยุโรปตะวันตก
Name[tr]=Batı Avrupa
Name[ug]=غەربىي ياۋروپا
Name[uk]=Європа, західна
Name[uz]=Oyropa, Gʻarbiy
Name[uz@cyrillic]=Ойропа, Ғарбий
Name[vi]=Tây Âu
Name[wa]=Urope coûtchantrece
Name[x-test]=xxEurope, Westernxx
Name[zh_CN]=西欧
Name[zh_TW]=歐洲，西部
