[Desktop Entry]
Name=(5) File Formats
Name[af]=(5) Lêerformate
Name[ar]=(5) صيغ الملفات
Name[ast]=(5) Formatos de ficheros
Name[be]=(5) Фарматы файлаў
Name[be@latin]=(5) Farmaty fajłaŭ
Name[bg]=(5) Файлови формати
Name[bn]=(5) ফাইল ফরম্যাট
Name[bn_IN]=(৫) ফাইলের বিন্যাস
Name[br]=(5) Furmadoù ar restroù
Name[bs]=(5) Formati datoteka
Name[ca]=(5) Formats de fitxer
Name[ca@valencia]=(5) Formats de fitxer
Name[cs]=(5) Datové formáty
Name[csb]=(5) Fòrmatë lopków
Name[cy]=(5) Fformatau Ffeil
Name[da]=(5) Filformater
Name[de]=(5) Dateiformate
Name[el]=(5) Μορφές αρχείων
Name[en_GB]=(5) File Formats
Name[eo]=(5) Dosieraranĝoj
Name[es]=(5) Formatos de archivos
Name[et]=(5) Failivormingud
Name[eu]=(5) Fitxategi-formatuak
Name[fa]=(۵) قالبهای پرونده
Name[fi]=(5) Tiedostomuodot
Name[fr]=(5) Formats de fichiers
Name[fy]=(5) Triemopmaak
Name[ga]=(5) Formáidí Comhaid
Name[gl]=(5) Formatos de ficheiro
Name[gu]=(૫) ફાઇલ બંધારણો
Name[he]=תבניות קבצים (5)
Name[hi]=(5) फ़ाइल फार्मेट्स
Name[hne]=(5) फाइल फार्मेट्स
Name[hr]=(5) Oblici datoteka
Name[hsb]=(5) Datajowe formaty
Name[hu]=(5) Fájlformátumok
Name[ia]=(5) Formatos de File
Name[id]=(5) Format File
Name[is]=(5) Skráasnið
Name[it]=(5) Formati di file
Name[ja]=(5) ファイルフォーマット
Name[ka]=(5) ფაილთა ფორმატები
Name[kk]=(5) Файл пішімдері
Name[km]=(៥) ទ្រង់ទ្រាយ​ឯកសារ
Name[kn]=(೫)ಕಡತ ಕ್ರಮವ್ಯವಸ್ಥೆ (ಫಾರ್ಮಾಟ್)
Name[ko]=(5) 파일 형식
Name[ku]=(5) Formatên Pelan
Name[lt]=(5) Failų formatai
Name[lv]=(5) Failu formāti
Name[mai]=(5) फाइल फार्मेट्स
Name[mk]=(5) Формати на датотеки
Name[ml]=(5) ഫയല്‍ ഫോര്‍മാറ്റുകള്‍
Name[mr]=(5) फाईल फार्मेट्स
Name[ms]=(5) Format Fail
Name[nb]=(5) Filformat
Name[nds]=(5) Dateiformaten
Name[ne]=(५) फाइल ढाँचा
Name[nl]=(5) Bestandsformaten
Name[nn]=(5) Filformat
Name[oc]=(5) Formats de fichièrs
Name[or]=(5) ଫାଇଲ ଶୈଳୀଗୁଡ଼ିକ
Name[pa]=(5) ਫਾਇਲ ਫਾਰਮੈਟ
Name[pl]=(5) Formaty plików
Name[pt]=(5) Formatos de Ficheiros
Name[pt_BR]=(5) Formatos de arquivo
Name[ro]=(5) Formate de fișiere
Name[ru]=(5) Форматы файлов
Name[se]=(5) Fiilaformáhtat
Name[si]=(5) ගොනු සංයුති
Name[sk]=(5) Formáty súborov
Name[sl]=(5) Vrste datotek
Name[sr]=(5) Формати фајлова
Name[sr@ijekavian]=(5) Формати фајлова
Name[sr@ijekavianlatin]=(5) Formati fajlova
Name[sr@latin]=(5) Formati fajlova
Name[sv]=(5) Filformat
Name[ta]=(5) கோப்பு வடிவமைப்புகள்
Name[te]=(5) దస్త్ర ఫార్మెట్లు
Name[tg]=(5) Намудҳои файл
Name[th]=(5) รูปแบบแฟ้มต่าง ๆ
Name[tr]=(5) Dosya Biçimleri
Name[ug]=(5) ھۆججەت پىچىملىرى
Name[uk]=(5) Формати файлів
Name[uz]=(5) Fayl formatlari
Name[uz@cyrillic]=(5) Файл форматлари
Name[vi]=(5) Định dạng Tập tin
Name[wa]=(5) Sôres di fitchîs
Name[xh]=(5) Ifomati Yeefayile
Name[x-test]=xx(5) File Formatsxx
Name[zh_CN]=(5) 文件格式
Name[zh_TW]=(5) 檔案格式

X-DocPath=man:/(5)
