[Desktop Entry]
Name=(7) Miscellaneous
Name[af]=(7) Allerlei
Name[ar]=(7) متنوع
Name[ast]=(7) Miscelánea
Name[be]=(7) Рознае
Name[be@latin]=(7) Roznaje
Name[bg]=(7) Разни
Name[bn]=(7) বিবিধ
Name[bn_IN]=(৭) বিবিধ
Name[br]=(7) A bep seurt
Name[bs]=(7) Razno
Name[ca]=(7) Miscel·lània
Name[ca@valencia]=(7) Miscel·lània
Name[cs]=(7) Různé
Name[csb]=(7) Wszelejaczé
Name[cy]=(7) Amrwyiol
Name[da]=(7) Diverse
Name[de]=(7) Verschiedenes
Name[el]=(7) Διάφορα
Name[en_GB]=(7) Miscellaneous
Name[eo]=(7) Diversaĵoj
Name[es]=(7) Varios
Name[et]=(7) Muud
Name[eu]=(7) Beste zenbait
Name[fa]=(۷) متفرقه
Name[fi]=(7) Sekalaista
Name[fr]=(7) Divers
Name[fy]=(7) Ferskate
Name[ga]=(7) Rudaí éagsúla
Name[gl]=(7) Diversas
Name[gu]=(૭) અન્ય
Name[he]=שונות (7)
Name[hi]=(7) विविध
Name[hne]=(7) विविध
Name[hr]=(7) Razno
Name[hsb]=(7) Wšelake
Name[hu]=(7) Egyéb
Name[ia]=(7) Miscellanea
Name[id]=(7) Beraneka
Name[is]=(7) Ýmislegt
Name[it]=(7) Varie
Name[ja]=(7) その他
Name[ka]=(7) სხვადასხვა
Name[kk]=(7) Әр түрлі
Name[km]=(៧) ផ្សេងៗ
Name[kn]=(೭) ಇತರೆ
Name[ko]=(7) 기타
Name[ku]=(7) Cur be cur
Name[lt]=(7) Įvairūs dalykai
Name[lv]=(7) Dažādi
Name[mai]=(7) विविध
Name[mk]=(7) Разно
Name[ml]=(7) പലവക
Name[mr]=(7) किरकोळ
Name[ms]=(7) Pelbagai
Name[nb]=(7) Diverse
Name[nds]=(7) Annerswat
Name[ne]=(७) विविध
Name[nl]=(7) Diversen
Name[nn]=(7) Ymse
Name[oc]=(7) Divèrs
Name[or]=(7) ମିଶ୍ରିତ
Name[pa]=(7) ਫੁਟਕਲ
Name[pl]=(7) Różne
Name[pt]=(7) Diversos
Name[pt_BR]=(7) Diversos
Name[ro]=(7) Diverse
Name[ru]=(7) Разное
Name[se]=(7) Feará mii
Name[si]=(7) විවිධ
Name[sk]=(7) Rôzne
Name[sl]=(7) Razno
Name[sr]=(7) Разно
Name[sr@ijekavian]=(7) Разно
Name[sr@ijekavianlatin]=(7) Razno
Name[sr@latin]=(7) Razno
Name[sv]=(7) Diverse
Name[ta]=(7) மற்ற
Name[te]=(7) ఇతర
Name[tg]=(7) Барномаҳои гуногун
Name[th]=(7) เบ็ดเตล็ด
Name[tr]=(7) Çeşitli
Name[ug]=(7) باشقىلار
Name[uk]=(7) Різне
Name[uz]=(7) Har xil
Name[uz@cyrillic]=(7) Ҳар хил
Name[vi]=(7) Khác
Name[wa]=(7) Totès sôres
Name[xh]=(7) Ezixubeneyo
Name[x-test]=xx(7) Miscellaneousxx
Name[zh_CN]=(7) 杂项
Name[zh_TW]=(7) 雜項

X-DocPath=man:/(7)
