[KCM Locale]
Name=Gabon
Name[af]=Gabon
Name[ar]=الغابون
Name[as]=গেবন
Name[ast]=Gabón
Name[be]=Габон
Name[be@latin]=Habon
Name[bg]=Габон
Name[bn]=গ্যাবন
Name[bn_IN]=গেবন
Name[br]=Gabon
Name[bs]=Gabon
Name[ca]=Gabon
Name[ca@valencia]=Gabon
Name[cs]=Gabon
Name[csb]=Gabòn
Name[cy]=Gabon
Name[da]=Gabon
Name[de]=Gabun
Name[el]=Γκαμπόν
Name[en_GB]=Gabon
Name[eo]=Gabono
Name[es]=Gabón
Name[et]=Gabon
Name[eu]=Gabon
Name[fa]=گابن
Name[fi]=Gabon
Name[fr]=Gabon
Name[fy]=Gabon
Name[ga]=An Ghabúin
Name[gd]=Gabon
Name[gl]=Gabón
Name[gu]=ગેબોન
Name[he]=גבון
Name[hi]=गेबॉन
Name[hne]=गेबान
Name[hr]=Gabon
Name[hsb]=Gabun
Name[hu]=Gabon
Name[ia]=Gabon
Name[id]=Gabon
Name[is]=Gabon
Name[it]=Gabon
Name[ka]=გაბონი
Name[kk]=Габон
Name[km]=ហ្គាបុង
Name[kn]=ಗಬೋನ್
Name[ko]=가봉
Name[ku]=Gabon
Name[lt]=Gabonas
Name[lv]=Gabona
Name[mai]=गैबन
Name[mk]=Габон
Name[ml]=ഗാബണ്‍
Name[mr]=गेबन
Name[ms]=Gabon
Name[nb]=Gabon
Name[nds]=Gabun
Name[ne]=गाबोन
Name[nl]=Gabon
Name[nn]=Gabon
Name[oc]=Gabon
Name[or]=ଗେବନ
Name[pa]=ਗਾਬੋਨ
Name[pl]=Gabon
Name[pt]=Gabão
Name[pt_BR]=Gabão
Name[ro]=Gabon
Name[ru]=Габон
Name[se]=Gabon
Name[si]=ගාඩෝන්
Name[sk]=Gabon
Name[sl]=Gabon
Name[sr]=Габон
Name[sr@ijekavian]=Габон
Name[sr@ijekavianlatin]=Gabon
Name[sr@latin]=Gabon
Name[sv]=Gabon
Name[ta]=காபான்
Name[te]=గాబొన్
Name[tg]=Габон
Name[th]=กาบอน
Name[tr]=Gabon
Name[ug]=گابون
Name[uk]=Габон
Name[uz]=Gabon
Name[uz@cyrillic]=Габон
Name[vi]=Gabon
Name[wa]=Gabon
Name[x-test]=xxGabonxx
Name[zh_CN]=加蓬
Name[zh_TW]=加彭
Region=centralafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XAF
CurrencyCode=XAF
