[Desktop Entry]
Name=Filemanager Settings Modules
Name[ast]=Módulos de los axustes del xestor de ficheros
Name[bs]=UpraviteljDatotekom postavke modula
Name[ca]=Mòduls de configuració del gestor de fitxers
Name[ca@valencia]=Mòduls de configuració del gestor de fitxers
Name[cs]=Moduly nastavení správce souborů
Name[da]=Moduler til filhåndteringindstillinger
Name[de]=Dateiverwaltungs-Einstellungsmodule
Name[el]=Αρθρώματα ρυθμίσεων του διαχειριστή αρχείων
Name[en_GB]=Filemanager Settings Modules
Name[es]=Módulos de preferencias del gestor de archivos
Name[et]=Failihalduri seadistuste moodulid
Name[eu]=Fitxategi-kudeatzaile-ezarpenen moduluak
Name[fa]=پیمانه‌های تنظیمات مدیر پنجره
Name[fi]=Tiedostonhallinnan asetusosiot
Name[fr]=Modules des paramètres du gestionnaire de fichiers
Name[gl]=Módulos de configuración do xestor de ficheiros
Name[he]=מודולי הגדרות מנהל הקבצים
Name[hi]=फ़ाइलप्रबंध विन्यास घटक
Name[hu]=Fájlkezelő beállítási modulok
Name[ia]=Modulos de Preferentias de gerente de file
Name[id]=Modul Pengaturan Pengelola File
Name[is]=Stillingaeiningar skráastjóra
Name[it]=Moduli delle impostazioni del gestore dei file
Name[ko]=파일 관리자 설정 모듈
Name[lt]=Failų tvarkyklės nuostatų moduliai
Name[nb]=Moduler for filbehandler-innstillinger
Name[nds]=Dateipleger-Instellenmodulen
Name[nl]=Modules voor instellingen van de bestandsbeheerder
Name[nn]=Modular for filhandsamarinnstillingar
Name[pa]=ਫਾਇਲ-ਮੈਨੇਜਰ ਸੈਟਿੰਗਾਂ ਮੋਡੀਊਲ
Name[pl]=Moduły ustawień przeglądarki plików
Name[pt]=Módulos de Configuração do Gestor de Ficheiros
Name[pt_BR]=Módulos de configuração do Gerenciador de Arquivos
Name[ru]=Модули настройки диспетчера файлов
Name[sk]=Moduly nastavení správcu súborov
Name[sl]=Moduli nastavitev upravljalnika datotek
Name[sr]=Модули поставки менаџера фајлова
Name[sr@ijekavian]=Модули поставки менаџера фајлова
Name[sr@ijekavianlatin]=Moduli postavki menadžera fajlova
Name[sr@latin]=Moduli postavki menadžera fajlova
Name[sv]=Inställningsmoduler för filhanterare
Name[tr]=Dosya Yönetici Ayar Modülleri
Name[uk]=Модулі параметрів керування файлами
Name[x-test]=xxFilemanager Settings Modulesxx
Name[zh_CN]=文件管理器设置模块
Name[zh_TW]=檔案管理員設定模組

Icon=preferences-system

X-DOC-Weight=350

X-KDE-KHelpcenter-Special=filemanagercontrol
