[Desktop Entry]
Name=Kioslaves
Name[af]=Kioslaves
Name[ar]=خوادم دخل وخرج كدي
Name[ast]=Kioslaves
Name[be]=Kioslaves
Name[be@latin]=Słužby „kioslave”
Name[bg]=Система за вход-изход
Name[bn]=Kioslaves
Name[bn_IN]=Kioslaves
Name[br]=Kioslaves
Name[bs]=U/I zahvati
Name[ca]=Kioslaves
Name[ca@valencia]=Kioslaves
Name[cs]=Pomocné protokoly KDE
Name[csb]=wtëkôczë wéńdzeniô/wińdzeniô
Name[cy]=Kioslaves
Name[da]=Kioslaver
Name[de]=Ein-/Ausgabemodule
Name[el]=Kioslaves
Name[en_GB]=Kioslaves
Name[eo]=Kioslaves
Name[es]=Kioslaves
Name[et]=KIO-moodulid
Name[eu]=Kioslaves
Name[fa]=Kioslaves
Name[fi]=KIO-palvelut
Name[fr]=Modules d'entrées / sorties
Name[fy]=Kioslaves
Name[ga]=Sclábhaithe KIO
Name[gl]=Kioslaves
Name[gu]=Kioslaves
Name[he]=פרוטוקולים
Name[hi]=केआईओ-स्लेव्स
Name[hne]=केआईओ-स्लेव्स
Name[hr]=Kioslaves
Name[hsb]=Kioslaves
Name[hu]=KDE-protokollok
Name[ia]=Kioslaves
Name[id]=Kioslaves
Name[is]=Kioslaves
Name[it]=Kioslave
Name[ja]=Kioslave
Name[ka]=Kioslaves
Name[kk]=Kioslaves
Name[km]=Kioslaves
Name[kn]=ಕಐಓಸ್ಲೇವ್ಸ್
Name[ko]=KIO 슬레이브
Name[ku]=Kioslaves
Name[lt]=Kio protokolai
Name[lv]=KIO vergi
Name[mai]=केआईओ-स्लेव्स
Name[mk]=Kioslaves
Name[ml]=കിയോസ്ലേവുകള്‍
Name[mr]=Kioslaves
Name[ms]=Kioslaves
Name[nb]=Kioslaver
Name[nds]=In-/Utgaavmodulen
Name[ne]=किओस्लाभ
Name[nl]=Kioslaves
Name[nn]=Kioslavar
Name[oc]=Kioslaves
Name[or]=Kioslaves
Name[pa]=Kioslaves
Name[pl]=Wtyczki wejścia/wyjścia
Name[pt]=Kioslaves
Name[pt_BR]=Kioslaves
Name[ro]=Dispozitive KIO
Name[ru]=Поддержка протоколов
Name[se]=KIO-šlávat
Name[si]=Kioslaves
Name[sk]=Kioslaves
Name[sl]=Kioslaves
Name[sr]=У/И захвати
Name[sr@ijekavian]=У/И захвати
Name[sr@ijekavianlatin]=U/I zahvati
Name[sr@latin]=U/I zahvati
Name[sv]=I/O-slavar
Name[ta]=Kioslaves
Name[te]=కెఐఒ బానిసలు
Name[tg]=Kioslaves
Name[th]=Kioslaves
Name[tr]=Kioslaves
Name[ug]=Kioslaves
Name[uk]=Підлеглі В/В
Name[uz]=Kioslaves
Name[uz@cyrillic]=Kioslaves
Name[vi]=Kioslaves
Name[wa]=Vårlets d' I/R (kioslaves)
Name[x-test]=xxKioslavesxx
Name[zh_CN]=Kioslaves
Name[zh_TW]=Kioslaves
Icon=help-contents

X-DOC-Weight=500

X-KDE-KHelpcenter-Special=kioslave
