[Desktop Entry]
Name=Sound
Name[ar]=الصّوت
Name[ast]=Soníu
Name[ca]=So
Name[ca@valencia]=So
Name[cs]=Zvuk
Name[da]=Lyd
Name[de]=Klänge
Name[el]=Ήχος
Name[en_GB]=Sound
Name[es]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fi]=Ääni
Name[fr]=Son
Name[gl]=Son
Name[he]=צלילang
Name[hu]=Hang
Name[ia]=Sono
Name[id]=Sound
Name[it]=Suono
Name[ja]=サウンド
Name[ko]=소리
Name[lt]=Garsas
Name[nl]=Geluid
Name[nn]=Lyd
Name[pa]=ਆਵਾਜ਼
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ru]=Настройка звука
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sr]=Звук
Name[sr@ijekavian]=Звук
Name[sr@ijekavianlatin]=Zvuk
Name[sr@latin]=Zvuk
Name[sv]=Ljud
Name[tr]=Ses
Name[uk]=Звук
Name[x-test]=xxSoundxx
Name[zh_CN]=声音
Name[zh_TW]=音效
Comment=Configure Sound
Comment[ar]=اضبط الصّوت
Comment[ast]=Configura'l soníu
Comment[ca]=Configura el so
Comment[ca@valencia]=Configura el so
Comment[cs]=Nastavit zvuk
Comment[da]=Indstil lyd
Comment[de]=Klänge einrichten
Comment[el]=Διαμόρφωση ήχου
Comment[en_GB]=Configure Sound
Comment[es]=Configurar el sonido
Comment[et]=Heli seadistamine
Comment[eu]=Konfiguratu soinua
Comment[fi]=Äänen asetukset
Comment[fr]=Configurer le son
Comment[gl]=Configurar o son
Comment[he]=הגדרות שמע
Comment[hu]=Hangbeállítás
Comment[id]=Konfigurasikan Suara
Comment[it]=Configura suono
Comment[ja]=サウンドを設定
Comment[ko]=소리 설정
Comment[lt]=Konfigūruoti garsą
Comment[nl]=Geluid instellen
Comment[nn]=Set opp lyd
Comment[pa]=ਆਵਾਜ਼ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia dźwięku
Comment[pt]=Configurar o Som
Comment[pt_BR]=Configurar o som
Comment[ru]=Настройка звуковых устройств
Comment[sk]=Nastaviť zvuk
Comment[sl]=Nastavi zvok
Comment[sr]=Подешавање звука
Comment[sr@ijekavian]=Подешавање звука
Comment[sr@ijekavianlatin]=Podešavanje zvuka
Comment[sr@latin]=Podešavanje zvuka
Comment[sv]=Anpassa ljud
Comment[tr]=Sesi Yapılandır
Comment[uk]=Налаштовування звуку
Comment[x-test]=xxConfigure Soundxx
Comment[zh_CN]=配置声音
Comment[zh_TW]=設定音效
Icon=kmix
Type=Service
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_pulseaudio
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript
X-KDE-FormFactors=handset,tablet,mediacenter,desktop

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
