[KCM Locale]
Name=Kazakhstan
Name[ar]=كازاخستان
Name[ast]=Kazakstán
Name[bs]=Kazahstan
Name[ca]=Kazakhstan
Name[ca@valencia]=Kazakhstan
Name[cs]=Kazachstán
Name[da]=Kasakhstan
Name[de]=Kasachstan
Name[en_GB]=Kazakhstan
Name[es]=Kazajistán
Name[et]=Kasahstan
Name[eu]=Kazakhstan
Name[fa]=قزاقستان
Name[fi]=Kazakstan
Name[fr]=Kazakhstan
Name[gd]=Casachstàn
Name[gl]=Casaquistán
Name[hr]=Kazahstan
Name[hu]=Kazahsztán
Name[ia]=Kazakhstan
Name[id]=Kazakhstan
Name[is]=Kasakstan
Name[it]=Kazakistan
Name[ka]=ყაზახეთი
Name[ko]=카자흐스탄
Name[lt]=Kazachstanas
Name[lv]=Kazahstāna
Name[mr]=कझाखीस्तान
Name[nb]=Kasakhstan
Name[nds]=Kasachstan
Name[nl]=Kazachstan
Name[nn]=Kasakhstan
Name[pa]=ਕਾਜ਼ਾਕਸਤਾਨ
Name[pl]=Kazachstan
Name[pt]=Cazaquistão
Name[pt_BR]=Cazaquistão
Name[ru]=Казахстан
Name[se]=Kasakhstan
Name[sk]=Kazachstan
Name[sl]=Kazahstan
Name[sr]=Казахстан
Name[sr@ijekavian]=Казахстан
Name[sr@ijekavianlatin]=Kazahstan
Name[sr@latin]=Kazahstan
Name[sv]=Kazakstan
Name[tg]=Қазоқистон
Name[tr]=Kazakistan
Name[uk]=Казахстан
Name[x-test]=xxKazakhstanxx
Name[zh_CN]=哈萨克斯坦
Name[zh_TW]=哈薩克
Region=centralasia
Languages=kk,ru
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=KZT
CurrencyCode=KZT
