[KCM Locale]
Name=Cayman Islands
Name[af]=Cayman Eilande
Name[ar]=جزر الكيمان
Name[as]=কেমেন দ্বীপপুঞ্জ
Name[ast]=Islles Caimán
Name[be]=Кайманавы астравы
Name[be@latin]=Kajmanskija vyspy
Name[bg]=Кайманови острови
Name[bn]=কেম্যান দ্বীপপুঞ্জ
Name[bn_IN]=কেম্যান দ্বীপপুঞ্জ
Name[br]=Inizi Kaeman
Name[bs]=Kajmanska ostrva
Name[ca]=Illes Caiman
Name[ca@valencia]=Illes Caiman
Name[cs]=Kajmanské ostrovy
Name[csb]=Kajmanë
Name[cy]=Ynysoedd Caiman
Name[da]=Cayman-øerne
Name[de]=Kaimaninseln
Name[el]=Νησιά Κάυμαν
Name[en_GB]=Cayman Islands
Name[eo]=Kajmana insularo
Name[es]=Islas Caimán
Name[et]=Kaimanisaared
Name[eu]=Kaiman uharteak
Name[fa]=جزایر کایمن
Name[fi]=Caymansaaret
Name[fr]=Îles Caïman
Name[fy]=Kaaiman Eilannen
Name[ga]=Oileáin na gCadhman
Name[gd]=Na h-Eileanan Caimean
Name[gl]=Illas Caimán
Name[gu]=કેયમન ટાપુઓ
Name[he]=איי קיימן
Name[hi]=केमन आइलैंड
Name[hne]=केमन आइलैंड
Name[hr]=Kajmanski Otoci
Name[hsb]=Kaimanske kupy
Name[hu]=Kajmán-szigetek
Name[ia]=Insulas Cayman, le
Name[id]=Kepulauan Cayman
Name[is]=Cayman-eyjar
Name[it]=Isole Cayman
Name[ka]=კაიმანის კუნძულები
Name[kk]=Кайман ар-ы
Name[km]=កោះ​កៃម៉ាន
Name[kn]=ಕೇಮ್ಯಾನ್ ಐಲ್ಯಾಂಡುಗಳು
Name[ko]=케이맨 제도
Name[ku]=Giravên Kayman
Name[lt]=Kaimanų salos
Name[lv]=Kaimanu salas
Name[mai]=कैमन द्वीप
Name[mk]=Кајмански Острови
Name[ml]=കേയ്മാന്‍ ദ്വീപുകള്‍
Name[mr]=कैमन द्वीप
Name[nb]=Caymanøyene
Name[nds]=Kaiman-Eilannen
Name[ne]=क्येमन द्विप
Name[nl]=Kaaimaneilanden
Name[nn]=Caymanøyene
Name[oc]=Illas Caiman
Name[or]=କେମ୍ୟାନ ଆଇଲ୍ୟାଣ୍ଡ
Name[pa]=ਕਾਅਮਾਨ ਟਾਪੂ
Name[pl]=Kajmany
Name[pt]=Ilhas Caimão
Name[pt_BR]=Ilhas Cayman
Name[ro]=Insulele Cayman
Name[ru]=Каймановы острова
Name[se]=Caymansullot
Name[si]=කයිමන් දූපත්
Name[sk]=Kajmanské ostrovy
Name[sl]=Kajmanski otoki
Name[sr]=Кајманска острва
Name[sr@ijekavian]=Кајманска острва
Name[sr@ijekavianlatin]=Kajmanska ostrva
Name[sr@latin]=Kajmanska ostrva
Name[sv]=Caymanöarna
Name[ta]=கேமான் தீவுகள்
Name[te]=కెమెన్ ద్విపాలు
Name[tg]=Ҷазираҳои Кайман
Name[th]=หมู่เกาะเคย์แมน
Name[tr]=Cayman Adaları
Name[ug]=كايمان تاقىم ئاراللىرى
Name[uk]=Кайманові острови
Name[uz]=Kayman Orollari
Name[uz@cyrillic]=Кайман Ороллари
Name[vi]=Quần đảo Cayman
Name[wa]=Iyes Cayman
Name[x-test]=xxCayman Islandsxx
Name[zh_CN]=卡曼群岛
Name[zh_TW]=開曼群島
Region=caribbean
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=KYD
CurrencyCode=KYD
