[KCM Locale]
Name=Oman
Name[af]=Oman
Name[ar]=عمان
Name[as]=ওমান
Name[ast]=Omán
Name[be]=Аман
Name[be@latin]=Aman
Name[bg]=Оман
Name[bn]=ওমান
Name[bn_IN]=ওমান
Name[br]=Oman
Name[bs]=Oman
Name[ca]=Oman
Name[ca@valencia]=Oman
Name[cs]=Omán
Name[csb]=Òman
Name[cy]=Oman
Name[da]=Oman
Name[de]=Oman
Name[el]=Ομάν
Name[en_GB]=Oman
Name[eo]=Omano
Name[es]=Omán
Name[et]=Omaan
Name[eu]=Oman
Name[fa]=عمان
Name[fi]=Oman
Name[fr]=Oman
Name[fy]=Oman
Name[ga]=Oman
Name[gd]=Omàn
Name[gl]=Omán
Name[gu]=ઓમાન
Name[he]=עומאן
Name[hi]=ओमन
Name[hne]=ओमन
Name[hr]=Oman
Name[hsb]=Oman
Name[hu]=Omán
Name[ia]=Oman
Name[id]=Oman
Name[is]=Óman
Name[it]=Oman
Name[ka]=ომანი
Name[kk]=Оман
Name[km]=អូម៉ង់
Name[kn]=ಓಮಾನ್
Name[ko]=오만
Name[ku]=Uman
Name[lt]=Omanas
Name[lv]=Omāna
Name[mai]=ओमान
Name[mk]=Оман
Name[ml]=ഒമാന്‍
Name[mr]=ओमान
Name[ms]=Oman
Name[nb]=Oman
Name[nds]=Oman
Name[ne]=ओमन
Name[nl]=Oman
Name[nn]=Oman
Name[oc]=Oman
Name[or]=ଓମାନ
Name[pa]=ਓਮਾਨ
Name[pl]=Oman
Name[pt]=Omã
Name[pt_BR]=Omã
Name[ro]=Oman
Name[ru]=Оман
Name[se]=Oman
Name[si]=ඕමාන්
Name[sk]=Omán
Name[sl]=Oman
Name[sr]=Оман
Name[sr@ijekavian]=Оман
Name[sr@ijekavianlatin]=Oman
Name[sr@latin]=Oman
Name[sv]=Oman
Name[ta]=ஓமன்
Name[te]=ఒమాన్
Name[tg]=Умон
Name[th]=โอมาน
Name[tr]=Umman
Name[ug]=ئومان
Name[uk]=Оман
Name[uz]=Ummon
Name[uz@cyrillic]=Уммон
Name[vi]=Oman
Name[wa]=Oman
Name[xh]= Oman
Name[x-test]=xxOmanxx
Name[zh_CN]=阿曼
Name[zh_TW]=阿曼
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=OMR
CurrencyCode=OMR
