[KCM Locale]
Name=Uzbek (Cyrillic)
Name[ar]=الأوزبكيّة (السيرياليّة)
Name[as]=উজ্‌বেক (ছিৰিলিক)
Name[ast]=Uzbeku (cirílicu)
Name[be@latin]=Uzbeckaja kirylica
Name[bg]=Узбекски (кирилица)
Name[bn]=উজবেক (কিরিলিক)
Name[bn_IN]=উজবেক (সিরিলিক)
Name[bs]=uzbečki (ćirilica)
Name[ca]=Uzbek (ciríl·lic)
Name[ca@valencia]=Uzbek (ciríl·lic)
Name[cs]=Uzbecký (azbuka)
Name[csb]=Ùzbecczi (cërëlica)
Name[da]=Uzbek (Kyrillisk)
Name[de]=Usbekisch (Kyrillisch)
Name[el]=Ουζμπεκικά (Κυριλλικά)
Name[en_GB]=Uzbek (Cyrillic)
Name[eo]=Uzbeka (cirila)
Name[es]=Uzbeko (Cirílico)
Name[et]=Usbeki (kirillitsa)
Name[eu]=Uzbekera (Zirilikoa)
Name[fa]=ازبک (سیریلیک)
Name[fi]=Uzbekki (kyrillinen)
Name[fr]=Ouzbek (Cyrillique)
Name[fy]=Uzbeeks (Cyrillic)
Name[ga]=Úisbéicis (Coireallach)
Name[gd]=Usbagais (Cirilis)
Name[gl]=Uzbeko (cirílico)
Name[gu]=ઉઝબેક (સિરીલિક)
Name[he]=אוזבקית (קרילית)
Name[hi]=उज़बैक (सिरिलिक)
Name[hne]=उजबैक (सिरिलिक)
Name[hr]=Uzbečki, ćirilica
Name[hsb]=Uzbeksce (z kyriliskim pismom)
Name[hu]=Üzbég (cirill)
Name[ia]=Uzbeko (Cirillico)
Name[id]=Uzbekistan (Cyrillic)
Name[is]=Úsbekíska (Kyrilísk)
Name[it]=Usbeco (cirillico)
Name[ja]=ウズベク語 (キリル文字)
Name[kk]=Өзбекше (Кирилл жазуы)
Name[km]=អ៊ូហ្សបេគីស្តង់ (ស៊ីលីរីក)
Name[kn]=ಉಜ್ಬೆಕ್ (ಸಿರಿಲಿಕ್)
Name[ko]=우즈베크어 (키릴 문자)
Name[ku]=Ozbekî (Kîrîl)
Name[lt]=Uzbekų (kirilica)
Name[lv]=Uzbeku (Kirilica)
Name[mai]=उस्बेक (सिरिलिक)
Name[mk]=Узбекистански (кириличен)
Name[ml]=ഉസ്ബെക്ക് (സിറിലിക്)
Name[mr]=सिरीलिक
Name[ms]=Uzbek (Cyrillic)
Name[nb]=Uzbekisk (Kyrillisk)
Name[nds]=Usbeeksch (kyrillsch)
Name[nl]=Oezbeeks (Cyrilisch)
Name[nn]=Usbekisk (kyrillisk)
Name[oc]=Ozbèc (cirillic)
Name[or]=ଉଜବେକ (ସିରିଲିକ)
Name[pa]=ਯੂਬਿਕ (ਸਿਰਲਿਕ)
Name[pl]=Uzbecki (cyrlica)
Name[ps]=ازبکي (سېرېلېک)
Name[pt]=Uzbeque (Cirílico)
Name[pt_BR]=Uzbeque (Cirílico)
Name[ro]=Uzbekă (Chirilic)
Name[ru]=Узбекский (Кириллица)
Name[se]=Usbekalašgiella (Kyrillalaš)
Name[si]=උස්බක් (සිරිල්ලික්)
Name[sk]=Uzbečtina (cyrilika)
Name[sl]=Uzbeščina (cirilica)
Name[sr]=узбечки (ћирилица)
Name[sr@ijekavian]=узбечки (ћирилица)
Name[sr@ijekavianlatin]=uzbečki (ćirilica)
Name[sr@latin]=uzbečki (ćirilica)
Name[sv]=Kyrillisk Uzbekiska
Name[ta]=உஸ்பெக் (சைரிலிக்)
Name[tg]=Ӯзбакӣ (Кирилликӣ)
Name[th]=ภาษาอุซเบกิสถาน (ไซริลลิค)
Name[tr]=Özbekçe (Kiril)
Name[tt]=Үзбәк (кирилл)
Name[ug]=ئۆزبېكچە(سلاۋيان)
Name[uk]=Узбецька (кирилиця)
Name[uz]=Oʻzbekcha (kiril)
Name[uz@cyrillic]=Ўзбекча (кирил)
Name[vi]=Uzbek (Cyrillic)
Name[wa]=Ouzbeke (cirilike)
Name[x-test]=xxUzbek (Cyrillic)xx
Name[zh_CN]=乌兹别克语(西里尔语系)
Name[zh_TW]=烏茲別克（斯拉夫）
