#textEditingArea {
    height: 100%;
    font-size: 18px;
    background-color: transparent;
    border-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

li > .spinedit {
    top: 6px;
}

.color-pick > .label {
    position: absolute;
    top: 7px;
    font-size: 12px;
    font-weight: bold;
}

.backdrop, textarea {
  width: 100%;
  height: 100%;
}

/*
.highlights, textarea {
  padding: 10px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}*/

/*
.container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}*/

.backdrop {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 18px;
    font-family: open-sans-regular;
}

.highlights {
	white-space: pre-wrap;
	word-wrap: break-word;
	color: transparent;
}

textarea {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: #444;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: transform 1s;
}

mark {
  border-radius: 3px;
  color: transparent;
  background-color: #FFD600;
}

button {
  display: block;
  width: 300px;
  margin: 30px auto 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #74637f;
  font: 18px 'Opens Sans', sans-serif;
  letter-spacing: 1px;
  appearance: none;
  cursor: pointer;
}

.perspective .backdrop {
  transform:
    perspective(1500px)
    translateX(-125px)
    rotateY(45deg)
    scale(.9);
}

.perspective textarea {
  transform:
    perspective(1500px)
    translateX(155px)
    rotateY(45deg)
    scale(1.1);
}

textarea:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c6aada;
}