[KCM Locale]
Name=Algeria
Name[af]=Algerië
Name[ar]=الجزائر
Name[as]=এলজিৰিয়া
Name[ast]=Arxelia
Name[be]=Алжыр
Name[be@latin]=Alžyr
Name[bg]=Алжир
Name[bn]=অ্যালজেরিয়া
Name[bn_IN]=অ্যালজিরিয়া
Name[bs]=Alžir
Name[ca]=Algèria
Name[ca@valencia]=Algèria
Name[cs]=Alžírsko
Name[csb]=Algerzkô
Name[cy]=Algeria
Name[da]=Algeriet
Name[de]=Algerien
Name[el]=Αλγερία
Name[en_GB]=Algeria
Name[eo]=Algerio
Name[es]=Argelia
Name[et]=Alžeeria
Name[eu]=Aljeria
Name[fa]=الجزایر
Name[fi]=Algeria
Name[fr]=Algérie
Name[fy]=Algerije
Name[ga]=An Ailgéir
Name[gd]=Aildiria
Name[gl]=Alxeria
Name[gu]=અલ્જીરિઆ
Name[he]=אלג'יריה
Name[hi]=अल्जीरिया
Name[hne]=अल्जीरिया
Name[hr]=Alžir
Name[hsb]=Algeriska
Name[hu]=Algéria
Name[ia]=Algeria
Name[id]=Algeria
Name[is]=Alsír
Name[it]=Algeria
Name[ka]=ალჟირი
Name[kk]=Алжир
Name[km]=អាល់ហ្សេរី
Name[kn]=ಅಲ್ಜೀರಿಯಾ
Name[ko]=알제리
Name[ku]=Cezayîr
Name[lt]=Alžyras
Name[lv]=Alžīrija
Name[mai]=अल्जीरिया
Name[mk]=Алжир
Name[ml]=അല്‍ജീരിയ
Name[mr]=अल्जेरिया
Name[ms]=Algeria
Name[nb]=Algerie
Name[nds]=Algerien
Name[ne]=अल्जेरिया
Name[nl]=Algerije
Name[nn]=Algerie
Name[oc]=Algeria
Name[or]=ଆଲଜେରିଆ
Name[pa]=ਅਲਜੀਰੀਆ
Name[pl]=Algieria
Name[pt]=Argélia
Name[pt_BR]=Argélia
Name[ro]=Algeria
Name[ru]=Алжир
Name[se]=Algeria
Name[si]=ඇල්ගෙරියාව
Name[sk]=Alžírsko
Name[sl]=Alžirija
Name[sr]=Алжир
Name[sr@ijekavian]=Алжир
Name[sr@ijekavianlatin]=Alžir
Name[sr@latin]=Alžir
Name[sv]=Algeriet
Name[ta]=அல்ஜிரியா
Name[te]=అల్జీరియా
Name[tg]=Алҷазоир
Name[th]=แอลจีเรีย
Name[tr]=Cezayir
Name[ug]=ئالجىرىيە
Name[uk]=Алжир
Name[uz]=Jazoir
Name[uz@cyrillic]=Жазоир
Name[vi]=An-giê-ri
Name[wa]=Aldjereye
Name[x-test]=xxAlgeriaxx
Name[zh_CN]=阿尔及尔
Name[zh_TW]=阿爾及利亞
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
WorkingWeekStartDay=6
WorkingWeekEndDay=3
WeekDayOfPray=7
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=DZD
CurrencyCode=DZD
