[KCM Locale]
Author=i18n-translation@lists.linux.net.cn
Name=China
Name[ar]=الصّين
Name[ast]=China
Name[bs]=Kina
Name[ca]=Xina
Name[ca@valencia]=Xina
Name[cs]=Čína
Name[da]=Kina
Name[de]=China
Name[en_GB]=China
Name[es]=China
Name[et]=Hiina
Name[eu]=Txina
Name[fa]=چین
Name[fi]=Kiina
Name[fr]=Chine
Name[gd]=An t-Sìn
Name[gl]=China
Name[hr]=Kina
Name[hu]=Kína
Name[ia]=China
Name[id]=Cina
Name[is]=Kína
Name[it]=Cina
Name[ka]=ჩინეთი
Name[ko]=중국
Name[lt]=Kinija
Name[lv]=Ķīna
Name[mr]=चीन
Name[nb]=Kina
Name[nds]=China
Name[nl]=China
Name[nn]=Kina
Name[pa]=ਚੀਨ
Name[pl]=Chiny
Name[pt]=China
Name[pt_BR]=China
Name[ru]=Китай
Name[se]=Kiinná
Name[sk]=Čína
Name[sl]=Kitajska
Name[sr]=Кина
Name[sr@ijekavian]=Кина
Name[sr@ijekavianlatin]=Kina
Name[sr@latin]=Kina
Name[sv]=Kina
Name[tg]=Хитой
Name[tr]=Çin
Name[uk]=Китай
Name[x-test]=xxChinaxx
Name[zh_CN]=中华人民共和国
Name[zh_TW]=中國
Region=eastasia
Languages=zh_CN
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[zh_CN]=%Y年%n月%e日 %A
DateFormat[zh_TW]=%Y年%n月%e日 %A
#DateFormat[de]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
WeekStartDay=1
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=0
MeasureSystem=0
PageSize=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=CNY
CurrencyCode=CNY
