[KCM Locale]
Name=Ecuador
Name[ar]=الإكوادور
Name[as]=ইকুয়েডোৰ
Name[ast]=Ecuador
Name[be@latin]=Ekvador
Name[bg]=Еквадор
Name[bn]=ইকুয়েডর
Name[bn_IN]=ইকুয়েডোর
Name[bs]=Ekvador
Name[ca]=Equador
Name[ca@valencia]=Equador
Name[cs]=Ekvádor
Name[csb]=Ekwador
Name[da]=Ecuador
Name[de]=Ecuador
Name[el]=Ισημερινός (Εκουαδόρ)
Name[en_GB]=Ecuador
Name[eo]=Ekvadoro
Name[es]=Ecuador
Name[et]=Ecuador
Name[eu]=Ekuador
Name[fa]=اکوادور
Name[fi]=Ecuador
Name[fr]=Équateur
Name[fy]=Equador
Name[ga]=Eacuadór
Name[gd]=Eacuador
Name[gl]=Ecuador
Name[gu]=ઇક્વાડોર
Name[he]=אקוודור
Name[hi]=इक्वाडॉर
Name[hne]=इक्वेडार
Name[hr]=Ekvador
Name[hsb]=Ecuador
Name[hu]=Ecuador
Name[ia]=Ecuador
Name[id]=Ekuador
Name[is]=Ekvador
Name[it]=Ecuador
Name[kk]=Эквадор
Name[km]=អេក្វាឌ័រ
Name[kn]=ಈಕ್ವೆಡಾರ್
Name[ko]=에콰도르
Name[ku]=Ekvator
Name[lt]=Ekvadoras
Name[lv]=Ekvadora
Name[mai]=इक्वेडर
Name[mk]=Еквадор
Name[ml]=ഇക്വഡോര്‍
Name[mr]=इक्वेडॉर
Name[nb]=Ecuador
Name[nds]=Ecuador
Name[nl]=Ecuador
Name[nn]=Ecuador
Name[or]=ଇକ୍ୟୁଏଡ଼ର
Name[pa]=ਏਕਾਵੇਡਰ
Name[pl]=Ekwador
Name[pt]=Equador
Name[pt_BR]=Equador
Name[ro]=Ecuador
Name[ru]=Эквадор
Name[si]=ඉක්වදෝරය
Name[sk]=Ekvádor
Name[sl]=Ekvador
Name[sr]=Еквадор
Name[sr@ijekavian]=Еквадор
Name[sr@ijekavianlatin]=Ekvador
Name[sr@latin]=Ekvador
Name[sv]=Ecuador
Name[ta]=ஈக்வெடார்
Name[tg]=Эквадор
Name[th]=เอกวาดอร์
Name[tr]=Ekvador
Name[ug]=ئېكۋادور
Name[uk]=Еквадор
Name[vi]=Ecuador
Name[wa]=Ecwåteur
Name[x-test]=xxEcuadorxx
Name[zh_CN]=厄瓜多尔
Name[zh_TW]=厄瓜多
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
