[KCM Locale]
Name=Réunion
Name[ar]=ريونيون
Name[ast]=Reunión
Name[bg]=Остров Реюнион
Name[bn]=Réunion
Name[bs]=Reinion
Name[ca]=Reunion
Name[ca@valencia]=Reunion
Name[cs]=Réunion
Name[da]=Réunion
Name[de]=Réunion
Name[el]=Ρεγιουνιόν
Name[en_GB]=Réunion
Name[eo]=Réunion
Name[es]=Reunión
Name[et]=Réunion
Name[eu]=Réunion
Name[fa]=ریونیون
Name[fi]=Réunion
Name[fr]=Réunion
Name[fy]=Réunion
Name[ga]=Réunion
Name[gd]=Réunion
Name[gl]=Reunión
Name[he]=ראוניון
Name[hi]=रियूनियन
Name[hr]=Réunion
Name[hu]=Réunion
Name[ia]=Reunion
Name[id]=Réunion
Name[is]=Réunion
Name[it]=Riunione
Name[kk]=Реюньион
Name[km]=Réunion
Name[kn]=ರೆಯೂನಿಯನ್
Name[ko]=레위니옹
Name[lt]=Reunonas
Name[lv]=Reunjona
Name[mai]=रियूनियन
Name[mk]=Реунион
Name[ml]=റീയൂണിയന്‍
Name[mr]=रीयुनियन
Name[nb]=Réunion
Name[nds]=Réunion
Name[nl]=Réunion
Name[nn]=Réunion
Name[pa]=ਰੀਯੂਨੀਅਨ
Name[pl]=Réunion
Name[pt]=Reunião
Name[pt_BR]=Reunião
Name[ro]=Réunion
Name[ru]=Реюньон
Name[si]=Réunion
Name[sk]=Réunion
Name[sl]=Reunion
Name[sr]=Реинион
Name[sr@ijekavian]=Реинион
Name[sr@ijekavianlatin]=Reinion
Name[sr@latin]=Reinion
Name[sv]=Réunion
Name[tg]=Реюнон
Name[th]=เรอูนียง
Name[tr]=Réunion
Name[ug]=رېئونىيون(فىرانسىيە)
Name[uk]=Реюньйон
Name[vi]=Réunion
Name[wa]=Reyunion
Name[x-test]=xxRéunionxx
Name[zh_CN]=留尼汪
Name[zh_TW]=留尼旺群島

Region=southafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
