[KCM Locale]
Name=Western Sahara
Name[af]=Westelike Sahara
Name[ar]=الصحراء الشرقية
Name[as]=পশ্চীম ছাহাৰা
Name[ast]=Sáḥara Occidental
Name[be]=Заходняя Сахара
Name[be@latin]=Uschodniaja Sachara
Name[bg]=Западна Сахара
Name[bn]=পশ্চিম সাহারা
Name[bn_IN]=পশ্চীম সাহারা
Name[br]=Sahara occidental
Name[bs]=Zapadna Sahara
Name[ca]=Sàhara Occidental
Name[ca@valencia]=Sàhara Occidental
Name[cs]=Západní Sahara
Name[csb]=Zôpadnô Sahara
Name[cy]=Gorllewin Sahara
Name[da]=Vestsahara
Name[de]=Westsahara
Name[el]=Δυτική Σαχάρα
Name[en_GB]=Western Sahara
Name[eo]=Okcidenta Saharo
Name[es]=Sahara Occidental
Name[et]=Lääne-Sahara
Name[eu]=Mendebaldeko Sahara
Name[fa]=صحرای غربی
Name[fi]=Länsi-Sahara
Name[fr]=Sahara occidental
Name[fy]=West Sahara
Name[ga]=An Sahára Thiar
Name[gd]=Sathara an Iar
Name[gl]=Sáhara Occidental
Name[gu]=પશ્ચિમ સહારા
Name[he]=סהרה המערבית
Name[hi]=पश्चिमी सहारा
Name[hne]=पस्चिमी सहारा
Name[hr]=Zapadna Sahara
Name[hsb]=Zapadna Sahara
Name[hu]=Nyugat-Szahara
Name[ia]=Sahara Occidental
Name[id]=Sahara Barat
Name[is]=Vestur-Sahara
Name[it]=Sahara Occidentale
Name[ka]=დასავლეთ საჰარა
Name[kk]=Батыс Сахара
Name[km]=សាហារ៉ា​ខាង​លិច
Name[kn]=ಪಶ್ಚಿಮ ಸಹಾರಾ
Name[ko]=서사하라
Name[ku]=Sehraya Rojava
Name[lt]=Vakarų Sahara
Name[lv]=Rietumsahāra
Name[mai]=पश्चिम सहारा
Name[mk]=Западна Сахара
Name[ml]=പടിഞ്ഞാറന്‍ സഹാറ
Name[mr]=वेस्टर्न सहारा
Name[nb]=Vest-Sahara
Name[nds]=Westsahara
Name[ne]=पश्चिमी साहारा
Name[nl]=Westelijke Sahara
Name[nn]=Vest-Sahara
Name[or]=ପଶ୍ଚିମି ସାହାରା
Name[pa]=ਦੱਖਣੀ ਸਹਾਰਾ
Name[pl]=Zachodnia Sahara
Name[pt]=Sara Ocidental
Name[pt_BR]=Saara Ocidental
Name[ro]=Sahara de Vest
Name[ru]=Западная Сахара
Name[se]=Oarje-Sahara
Name[si]=බටහිර සහරා
Name[sk]=Západná Sahara
Name[sl]=Zahodna Sahara
Name[sr]=Западна Сахара
Name[sr@ijekavian]=Западна Сахара
Name[sr@ijekavianlatin]=Zapadna Sahara
Name[sr@latin]=Zapadna Sahara
Name[sv]=Västsahara
Name[ta]=மேற்கத்திய சஹாரா
Name[te]=పశ్చిమ సహారా
Name[tg]=Саҳрои Ғарбӣ
Name[th]=ซาฮาร่าตะวันตก
Name[tr]=Batı Sahara
Name[ug]=غەربىي ساخارا
Name[uk]=Західна Сахара
Name[uz]=Gʻarbiy Saxara
Name[uz@cyrillic]=Ғарбий Сахара
Name[vi]=Tây Sahara
Name[wa]=Sara Coûtchantrece
Name[x-test]=xxWestern Saharaxx
Name[zh_CN]=西撒哈拉
Name[zh_TW]=西盛哈拉
Region=northafrica
Languages=
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MAD
CurrencyCode=MAD
