[KCM Locale]
Name=North Korea
Name[af]=Noord Korea
Name[ar]=كوريا الشمالية
Name[as]=উত্তৰ কোৰিয়া
Name[ast]=Corea del Norte
Name[be]=Паўночная Карэя
Name[be@latin]=Paŭnočnaja Kareja
Name[bg]=Северна Корея
Name[bn]=উত্তর কোরিয়া
Name[bn_IN]=উত্তর কোরিয়া
Name[bs]=Sjeverna Koreja
Name[ca]=Corea del Nord
Name[ca@valencia]=Corea del Nord
Name[cs]=Severní Korea
Name[csb]=Nordowô Kòreja
Name[cy]=Gogledd Corea
Name[da]=Nordkorea
Name[de]=Nordkorea
Name[el]=Βόρεια Κορέα
Name[en_GB]=North Korea
Name[eo]=Nordkoreo
Name[es]=Corea del Norte
Name[et]=Põhja-Korea
Name[eu]=Ipar Korea
Name[fa]=کره شمالی
Name[fi]=Pohjois-Korea
Name[fr]=Corée du nord
Name[fy]=Noard-Korea
Name[ga]=An Chóiré Thuaidh
Name[gd]=Coirèa a Tuath
Name[gl]=Corea do Norte
Name[gu]=ઉત્તર કોરીઆ
Name[he]=צפון קוריאה
Name[hi]=उत्तरी कोरिया
Name[hne]=उत्तरी कोरिया
Name[hr]=Sjeverna Koreja
Name[hsb]=Sewjerna Koreja
Name[hu]=Észak-Korea
Name[ia]=Corea del Nord
Name[id]=Korea Utara
Name[is]=Norður-Kórea
Name[it]=Corea del Nord
Name[ka]=ჩრდილოეთ კორეა
Name[kk]=Солтүстік Корея (КХДР)
Name[km]=កូរ៉េ​ខាង​ជើង
Name[kn]=ಉತ್ತರ ಕೊರಿಯಾ
Name[ko]=조선민주주의인민공화국
Name[ku]=Koreya Bakûr
Name[lt]=Šiaurės Korėja
Name[lv]=Ziemeļkoreja
Name[mai]=उत्तर कोरिया
Name[mk]=Северна Кореја
Name[ml]=വടക്കന്‍ കൊറിയ
Name[mr]=उत्तर कोरिया
Name[nb]=Nord-Korea
Name[nds]=Noordkorea
Name[ne]=उत्तर कोरिया
Name[nl]=Noord-Korea
Name[nn]=Nord-Korea
Name[or]=ଉତ୍ତର କୋରିଆ
Name[pa]=ਉੱਤਰੀ ਕੋਰੀਆ
Name[pl]=Korea Północna
Name[pt]=Coreia do Norte
Name[pt_BR]=Coreia do Norte
Name[ro]=Coreea de Nord
Name[ru]=Корейская Народная Демократическая Республика
Name[se]=Davvi-Korea
Name[si]=උතුරු කොරියාව
Name[sk]=Severná Kórea
Name[sl]=Severna Koreja
Name[sr]=Северна Кореја
Name[sr@ijekavian]=Сјеверна Кореја
Name[sr@ijekavianlatin]=Sjeverna Koreja
Name[sr@latin]=Severna Koreja
Name[sv]=Nordkorea
Name[ta]=வட கொரியா
Name[te]=ఉత్తర కొరియా
Name[tg]=Кореяи Шимолӣ
Name[th]=เกาหลีเหนือ
Name[tr]=Kuzey Kore
Name[ug]=چاۋشيەن
Name[uk]=Північна Корея
Name[uz]=Shimoliy Koreya
Name[uz@cyrillic]=Шимолий Корея
Name[vi]=Bắc Triều Tiên
Name[wa]=Bijhe Corêye
Name[x-test]=xxNorth Koreaxx
Name[zh_CN]=朝鲜
Name[zh_TW]=北韓
Region=eastasia
Languages=ko
DateFormat[ko]=%Y %B %e %A
DateFormat[eo]=%A, la %ea de %B %Y
#DateFormatShort=
TimeFormat=%H:%M:%S
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=KPW
CurrencyCode=KPW
