[KCM Locale]
Name=Czechia
Name[ast]=Chequia
Name[ca]=Txèquia
Name[ca@valencia]=Txèquia
Name[cs]=Česká Republika
Name[da]=Tjekkiet
Name[de]=Tschechien
Name[en_GB]=Czechia
Name[es]=Chequia
Name[et]=Tšehhi
Name[eu]=Txekia
Name[fi]=Tšekki
Name[fr]=Tchéquie
Name[gl]=Chequia
Name[hu]=Csehország
Name[ia]=Republica Tchec
Name[id]=Czechia
Name[is]=Tékkland
Name[it]=Cechia
Name[ko]=체코
Name[nb]=Tsjekkia
Name[nl]=Tsjechië
Name[nn]=Tsjekkia
Name[pl]=Czechy
Name[pt]=República Checa
Name[pt_BR]=República Checa
Name[ru]=Чехия
Name[sk]=Česko
Name[sl]=Češka
Name[sr]=Чешка
Name[sr@ijekavian]=Чешка
Name[sr@ijekavianlatin]=Češka
Name[sr@latin]=Češka
Name[sv]=Tjeckien
Name[tg]=Чехия
Name[tr]=Çek Cumhuriyeti
Name[uk]=Чехія
Name[x-test]=xxCzechiaxx
Name[zh_CN]=捷克
Name[zh_TW]=捷克
Region=centraleurope
Languages=cs
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=−
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[cs]=%a %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e. %n. %Y
TimeFormat=%H:%M:%S
NounDeclension=true
DateMonthNamePossessive=true
AddressFormat=%0(%cm\n)%0(%n\n)%0(p. p. %p\n)%0(%s\n)%z%w%w%l
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=CZK
CurrencyCode=CZK
