[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KPeopleWidgets/Plugin
X-KDE-Derived=KPluginInfo

# mandatory, weight - give priority of display
[PropertyDef::X-KPeople-Weight]
Type=int
