[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=wbmp
X-KDE-MimeType=image/vnd.wap.wbmp
X-KDE-Read=true
X-KDE-Write=true
