[KCM Locale]
Name=Lithuania
Name[ar]=ليتوانيا
Name[ast]=Lituania
Name[bs]=Litvanija
Name[ca]=Lituània
Name[ca@valencia]=Lituània
Name[cs]=Litva
Name[da]=Litauen
Name[de]=Litauen
Name[en_GB]=Lithuania
Name[es]=Lituania
Name[et]=Leedu
Name[eu]=Lituania
Name[fa]=لیتوانی
Name[fi]=Liettua
Name[fr]=Lituanie
Name[gd]=An Liotuain
Name[gl]=Lituania
Name[hr]=Litva
Name[hu]=Litvánia
Name[ia]=Lituania
Name[id]=Lithuania
Name[is]=Litháen
Name[it]=Lituania
Name[ka]=ლიტვა
Name[ko]=리투아니아
Name[lt]=Lietuva
Name[lv]=Lietuva
Name[mr]=लिथुआनिया
Name[nb]=Litauen
Name[nds]=Litauen
Name[nl]=Litouwen
Name[nn]=Litauen
Name[pa]=ਲੀਥੂਨੀਆ
Name[pl]=Litwa
Name[pt]=Lituânia
Name[pt_BR]=Lituânia
Name[ru]=Литва
Name[se]=Lietuva
Name[sk]=Litva
Name[sl]=Litva
Name[sr]=Литванија
Name[sr@ijekavian]=Литванија
Name[sr@ijekavianlatin]=Litvanija
Name[sr@latin]=Litvanija
Name[sv]=Litauen
Name[tg]=Литва
Name[tr]=Litvanya
Name[uk]=Литва
Name[x-test]=xxLithuaniaxx
Name[zh_CN]=立陶宛
Name[zh_TW]=立陶宛
Region=northeurope
Languages=lt
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[lt]=%Y m. %B %e d., %A
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
DateMonthNamePossessive=true
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=LTL
CurrencyCode=LTL
