[KCM Locale]
Name=Germany
Name[ar]=ألمانيا
Name[ast]=Alemaña
Name[bs]=Njemačka
Name[ca]=Alemanya
Name[ca@valencia]=Alemanya
Name[cs]=Německo
Name[da]=Tyskland
Name[de]=Deutschland
Name[en_GB]=Germany
Name[es]=Alemania
Name[et]=Saksamaa
Name[eu]=Alemania
Name[fa]=آلمان
Name[fi]=Saksa
Name[fr]=Allemagne
Name[gd]=A' Ghearmailt
Name[gl]=Alemaña
Name[hr]=Njemačka
Name[hu]=Németország
Name[ia]=Germania
Name[id]=Jerman
Name[is]=Þýskaland
Name[it]=Germania
Name[ka]=გერმანია
Name[ko]=독일
Name[lt]=Vokietija
Name[lv]=Vācija
Name[mr]=जर्मनी
Name[nb]=Tyskland
Name[nds]=Düütschland
Name[nl]=Duitsland
Name[nn]=Tyskland
Name[pa]=ਜਰਮਨੀ
Name[pl]=Niemcy
Name[pt]=Alemanha
Name[pt_BR]=Alemanha
Name[ru]=Германия
Name[se]=Duiska
Name[sk]=Nemecko
Name[sl]=Nemčija
Name[sr]=Немачка
Name[sr@ijekavian]=Њемачка
Name[sr@ijekavianlatin]=Njemačka
Name[sr@latin]=Nemačka
Name[sv]=Tyskland
Name[tg]=Германия
Name[tr]=Almanya
Name[uk]=Німеччина
Name[x-test]=xxGermanyxx
Name[zh_CN]=德国
Name[zh_TW]=德國
Region=centraleurope
Languages=de,nds
DecimalSymbol=,
ThousandsSeparator=$0 $0
ThousandsSeparator[nds]=$0.$0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
MonetaryThousandsSeparator[nds]=$0.$0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[de]=%A, %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormat[nds]=%A, de %e. %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
TimeFormat[nds]=%H.%M:%S
#WeekStartDay=
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(Postfach %p\n)%0(%s\n)%z%w%l
AddressFormat[nds]=%0(%n\n)%0(- %cm -\n)%0(Postfach %p\n)%0(%s\n)%z%w%l
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
