[KCM Locale]
Name=Pitcairn
Name[af]=Pitcairn
Name[ar]=بيتكيرن
Name[as]=পিটকেয়াৰ্ন
Name[ast]=Islles Pitcairn
Name[be]=Піткерн
Name[be@latin]=Pitcairn
Name[bg]=Острови Питкерн
Name[bn]=পিটকেম
Name[bn_IN]=পিটকেয়ার্ন
Name[br]=Pitcairn
Name[bs]=Pitkarn
Name[ca]=Pitcairn
Name[ca@valencia]=Pitcairn
Name[cs]=Pitcairn
Name[csb]=Pitcairn
Name[cy]=Ynys Pitcairn
Name[da]=Pitcairn
Name[de]=Pitcairn
Name[el]=Πίτκαιρν
Name[en_GB]=Pitcairn
Name[eo]=Pitkarna insularo
Name[es]=Pitcairn
Name[et]=Pitcairn
Name[eu]=Pitcairn
Name[fa]=پیتکرن
Name[fi]=Pitcairn
Name[fr]=Pitcairn
Name[fy]=Pitcairn
Name[ga]=Pitcairn
Name[gd]=Peit a' Chàirn
Name[gl]=Pitcairn
Name[gu]=પીટર્કાન
Name[he]=פיטקרן
Name[hi]=पिटकैर्न
Name[hne]=पिटकैर्न
Name[hr]=Pitcairn
Name[hsb]=Pitcairn
Name[hu]=Pitcairn
Name[ia]=Insulas Pitcairn, le
Name[id]=Pitcairn
Name[is]=Pitcairn
Name[it]=Pitcairn
Name[ka]=პიტიკაირნი
Name[kk]=Питкэрн ар-ы
Name[km]=Pitcairn
Name[kn]=ಪಿಟ್-ಕೈರ್ನ್
Name[ko]=핏케언
Name[ku]=Pitkayirn
Name[lt]=Pitcairn
Name[lv]=Pitkērna
Name[mai]=पिटकैर्न
Name[mk]=Питкерн
Name[ml]=പിറ്റ്കെയിന്‍
Name[mr]=पिटकैर्न
Name[ms]=Pitcairn
Name[nb]=Pitcairn
Name[nds]=Pitcairn
Name[ne]=पिटक्याइरन
Name[nl]=Pitcairn
Name[nn]=Pitcairn
Name[or]=ପିଟକର୍ନ
Name[pa]=ਪੀਟਕਾਰਨ
Name[pl]=Pitcairn
Name[pt]=Pitcairn
Name[pt_BR]=Pitcairn
Name[ro]=Pitcairn
Name[ru]=Острова Питкэрн
Name[se]=Pitcairn
Name[si]=Pitcairn
Name[sk]=Pitcairnove ostrovy
Name[sl]=Pitcairnovi otoki
Name[sr]=Питкарн
Name[sr@ijekavian]=Питкарн
Name[sr@ijekavianlatin]=Pitkarn
Name[sr@latin]=Pitkarn
Name[sv]=Pitcairn
Name[ta]=பிட்காய்ன்
Name[te]=పిట్కెర్న్
Name[tg]=Питкаирн
Name[th]=เกาะพิตแคร์น
Name[tr]=Pitcairn
Name[ug]=پىتكاير تاقىم ئاراللىرى
Name[uk]=Піткерн
Name[uz]=Pitkern
Name[uz@cyrillic]=Питкерн
Name[vi]=Pitcairn
Name[wa]=Pitcairn
Name[x-test]=xxPitcairnxx
Name[zh_CN]=皮特开恩
Name[zh_TW]=匹特開恩島
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NZD
CurrencyCode=NZD
