[KCM Locale]
Name=Papua New Guinea
Name[af]=Papua New Guinea
Name[ar]=بابوا غينيا الجديدة
Name[as]=পাপুৱা নিউ গিনি
Name[ast]=Papúa Nueva Guinea
Name[be]=Папуа–Новая Гвінея
Name[be@latin]=Papua Novaja Guinea
Name[bg]=Папуа Нова Гвинея
Name[bn]=পাপুয়া নিউ গিনি
Name[bn_IN]=পাপুয়া নিউ গিনি
Name[br]=Papouazi Gine Nevez
Name[bs]=Papua nova Gvineja
Name[ca]=Papua Nova Guinea
Name[ca@valencia]=Papua Nova Guinea
Name[cs]=Papua - Nová Guinea
Name[csb]=Papua Nowô Gwinea
Name[cy]=Papwa Gini Newydd
Name[da]=Papua New Guinea
Name[de]=Papua-Neuguinea
Name[el]=Παπούα Νέα Γουινέα
Name[en_GB]=Papua New Guinea
Name[eo]=Papuo-Nov-Gvineo
Name[es]=Papúa Nueva Guinea
Name[et]=Paapua Uus-Guinea
Name[eu]=Papua Ginea Berria
Name[fa]=گینه نو پاپوا
Name[fi]=Papua-Uusi-Guinea
Name[fr]=Papouasie-Nouvelle-Guinée
Name[fy]=Papua Nij Guinea
Name[ga]=Nua-Ghuine Phapua
Name[gd]=Gini Nuadh Phaputhach
Name[gl]=Papúa Nova Guinea
Name[gu]=પાપુઆ ન્યુ ગીની
Name[he]=פפואה גינאה החדשה
Name[hi]=पापुआ न्यू गियाना
Name[hne]=पापुआ न्यू गियाना
Name[hr]=Papua Nova Gvineja
Name[hsb]=Papua Nowa Guineja
Name[hu]=Pápua Új-Guinea
Name[ia]=Papua Nove Guinea
Name[id]=Papua Nugini
Name[is]=Papúa Nýja-Gínea
Name[it]=Papua Nuova Guinea
Name[ka]=პაპუა ახალი გვინეა
Name[kk]=Папуа - Жаңа Гвинея
Name[km]=ប៉ាពូញូវហ្គីណេ
Name[kn]=ಪಪುವ ನ್ಯೂ ಗಿನಿ
Name[ko]=파푸아뉴기니
Name[ku]=Papûa Gîneya Nû
Name[lt]=Papua Naujoji Gvinėja
Name[lv]=Papua Jaungvineja
Name[mai]=पापुआ न्यू गिनी
Name[mk]=Папуа Нова Гвинеја
Name[ml]=പപുവ ന്യൂ ഗിനിയ
Name[mr]=पापुआ न्यु गिनिया
Name[ms]=Papua New Guinea
Name[nb]=Papua Ny-Guinea
Name[nds]=Papua-Niegguinea
Name[ne]=पपुआ न्यू गुइनिया
Name[nl]=Papoea-Nieuw-Guinea
Name[nn]=Papua Ny-Guinea
Name[oc]=Papoa Nòva Guinèa
Name[or]=ପାପୁଆ ନିଉ ଗିନି
Name[pa]=ਪਾਪੂਆ ਨਵਾਂ ਗੂਈਆ
Name[pl]=Papua Nowa Gwinea
Name[pt]=Papua Nova Guiné
Name[pt_BR]=Papua Nova Guiné
Name[ro]=Papua Noua Guinee
Name[ru]=Папуа-Новая Гвинея
Name[se]=Papua Ođđa-Guinea
Name[si]=පැපුවා නිව් ගිනියාව
Name[sk]=Papua Nová Guinea
Name[sl]=Papua Nova Gvineja
Name[sr]=Папуа нова Гвинеја
Name[sr@ijekavian]=Папуа нова Гвинеја
Name[sr@ijekavianlatin]=Papua nova Gvineja
Name[sr@latin]=Papua nova Gvineja
Name[sv]=Papua Nya Guinea
Name[ta]=பாப்பா நியூ ஜினியா
Name[te]=పాపువా న్యు గుయ్నియ
Name[tg]=Папуа Гвинеяи Нав
Name[th]=ปาปัวนิวกินี
Name[tr]=Papua Yeni Gine
Name[ug]=پاپۇئا يېڭى گىۋىنېيەسى
Name[uk]=Папуа-Нова Гвінея
Name[uz]=Papua Yangi Gvineya
Name[uz@cyrillic]=Папуа Янги Гвинея
Name[vi]=Papua New Guinea
Name[wa]=Papouwazeye Nouve Guinêye
Name[x-test]=xxPapua New Guineaxx
Name[zh_CN]=巴布亚新几内亚
Name[zh_TW]=巴布紐幾內亞
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=PGK
CurrencyCode=PGK
