[Desktop Entry]

Version=1.0
Type=Application
Name=Fontmatrix
Name[ast]=Fontmatrix
Name[ca]=Fontmatrix
Name[ca@valencia]=Fontmatrix
Name[cs]=Fontmatrix
Name[da]=Fontmatrix
Name[de]=Fontmatrix
Name[en_GB]=Fontmatrix
Name[es]=Fontmatrix
Name[et]=Fontmatrix
Name[eu]=Fontmatrix
Name[fi]=Fontmatrix
Name[fr]=Fontmatrix
Name[gl]=Fontmatrix
Name[hu]=Fontmatrix
Name[id]=Fontmatrix
Name[it]=Fontmatrix
Name[ko]=Fontmatrix
Name[lt]=Fontmatrix
Name[nl]=Lettertypematrix
Name[nn]=Fontmatrix
Name[pl]=Macierz czcionek
Name[pt]=Fontmatrix
Name[pt_BR]=Fontmatrix
Name[ru]=Fontmatrix
Name[sk]=Fontmatrix
Name[sl]=Fontmatrix
Name[sr]=Фонтмејтрикс
Name[sr@ijekavian]=Фонтмејтрикс
Name[sr@ijekavianlatin]=Fontmatrix
Name[sr@latin]=Fontmatrix
Name[sv]=Fontmatrix
Name[tg]=Нақшқолаби ҳуруф
Name[tr]=Fontmatrix
Name[uk]=Fontmatrix
Name[x-test]=xxFontmatrixxx
Name[zh_CN]=Fontmatrix
Name[zh_TW]=Fontmatrix
Comment=A font manager
Comment[ast]=Un xestor de fontes
Comment[ca]=Un gestor de tipus de lletra
Comment[ca@valencia]=Un gestor de tipus de lletra
Comment[cs]=Správce písem
Comment[da]=Håndtering af skrifttyper
Comment[de]=Eine Schriftartenverwaltung
Comment[en_GB]=A font manager
Comment[es]=Un gestor de tipos de letra
Comment[et]=Fondihaldur
Comment[eu]=Letra-tipo kudeatzaile bat
Comment[fi]=Fonttien hallinta
Comment[fr]=Un gestionnaire de polices
Comment[gl]=Un xestor de tipos de letra.
Comment[hu]=Betűkészlet-kezelő
Comment[id]=Sebuah pengelola fon
Comment[it]=Un gestore dei caratteri
Comment[ko]=글꼴 관리자
Comment[lt]=Šriftų tvarkytuvė
Comment[nl]=Beheerder van lettertypen
Comment[nn]=Ein skrifthandsamar
Comment[pl]=Zarządzanie czcionkami
Comment[pt]=Um gestor de tipos de letra
Comment[pt_BR]=Um gerenciador de fontes
Comment[ru]=Диспетчер шрифтов
Comment[sk]=Správca písiem
Comment[sl]=Upravljalnik pisav
Comment[sr]=Менаџер фонтова
Comment[sr@ijekavian]=Менаџер фонтова
Comment[sr@ijekavianlatin]=Menadžer fontova
Comment[sr@latin]=Menadžer fontova
Comment[sv]=En teckensnittshanterare
Comment[tg]=Идоракунандаи ҳуруф
Comment[tr]=Bir yazı tipi yöneticisi
Comment[uk]=Програма для керування шрифтами
Comment[x-test]=xxA font managerxx
Comment[zh_CN]=字体管理器
Comment[zh_TW]=字型管理員
Categories=Graphics;VectorGraphics;
Exec=fontmatrix
Icon=fontmatrix
Terminal=false
GenericName=Font Manager
GenericName[ast]=Xestor de fontes
GenericName[ca]=Gestor de tipus de lletra
GenericName[ca@valencia]=Gestor de tipus de lletra
GenericName[cs]=Správce písem
GenericName[da]=Håndtering af skrifttyper
GenericName[de]=Schriftartenverwaltung
GenericName[en_GB]=Font Manager
GenericName[es]=Gestor de tipos de letra
GenericName[et]=Fondihaldur
GenericName[eu]=Letra-tipo kudeatzailea
GenericName[fi]=Fonttien hallinta
GenericName[fr]=Gestionnaire de polices
GenericName[gl]=Xestor de tipos de letra
GenericName[hu]=Betűkészlet-kezelő
GenericName[id]=Pengelola Font
GenericName[it]=Gestore dei caratteri
GenericName[ko]=글꼴 관리자
GenericName[lt]=Šriftų tvarkytuvė
GenericName[nl]=Beheerder van lettertypen
GenericName[nn]=Skrifthandsamar
GenericName[pl]=Zarządzanie czcionkami
GenericName[pt]=Gestor de Tipos de Letra
GenericName[pt_BR]=Gerenciador de fontes
GenericName[ru]=Диспетчер шрифтов
GenericName[sk]=Správca písiem
GenericName[sl]=Upravljalnik pisav
GenericName[sr]=Менаџер фонтова
GenericName[sr@ijekavian]=Менаџер фонтова
GenericName[sr@ijekavianlatin]=Menadžer fontova
GenericName[sr@latin]=Menadžer fontova
GenericName[sv]=Teckensnittshanterare
GenericName[tg]=Идоракунандаи ҳуруф
GenericName[tr]=Yazı Tipi Yöneticisi
GenericName[uk]=Керування завданнями
GenericName[x-test]=xxFont Managerxx
GenericName[zh_CN]=字体管理器
GenericName[zh_TW]=字型管理員
TryExec=fontmatrix
X-StandardInstall=false
StartupWMClass=fontmatrix
X-KDE-SubstituteUID=false
