# Added for KMoreTools
# (this could maybe also done by using DesktopFile Actions)

[Desktop Entry]
Name=Git Cola (View History)
Name[ca]=Git Cola (vista d'historial)
Name[ca@valencia]=Git Cola (vista d'historial)
Name[da]=Git Cola (vis historik)
Name[de]=Git Cola (Verlaufsanzeige)
Name[el]=Git Cola (Προβολή ιστορικού)
Name[en_GB]=Git Cola (View History)
Name[es]=Git Cola (ver historial)
Name[et]=Git Cola (ajaloo näitamine)
Name[eu]=Git Cola (Begiratu hitoria)
Name[fi]=Git Cola (Näytä historia)
Name[fr]=Git Cola (afficher l'historique)
Name[gd]=Git Cola (Seall an eachdraidh)
Name[gl]=Git Cola (Ver o historial)
Name[hu]=Git Cola (History megtekintése)
Name[ia]=Git Cola (Vide Historia)
Name[id]=Git Cola (Histori Tampilan)
Name[it]=Git Cola (Visualizza cronologia)
Name[ko]=Git Cola(기록 보기)
Name[lt]=Git Cola (Rodyti žurnalą)
Name[nb]=Git Cola (vis historie)
Name[nl]=Git Cola (geschiedenis weergeven)
Name[nn]=Git Cola (vis logg)
Name[pl]=Git Cola (Oglądanie historii)
Name[pt]=Git Cola (Ver o Histórico)
Name[pt_BR]=Git Cola (Exibir histórico)
Name[ru]=Git Cola (просмотр журнала)
Name[sk]=Git Cola (zobraziť históriu)
Name[sl]=Git Cola (ogled zgodovine)
Name[sr]=Гит‑кола (приказ историјата)
Name[sr@ijekavian]=Гит‑кола (приказ историјата)
Name[sr@ijekavianlatin]=Git cola (prikaz istorijata)
Name[sr@latin]=Git cola (prikaz istorijata)
Name[sv]=Git Cola (visa historik)
Name[tg]=Git Cola (Дидани таърих)
Name[tr]=Git Cola (Geçmişi Göster)
Name[uk]=Git Cola (Перегляд журналу)
Name[x-test]=xxGit Cola (View History)xx
Name[zh_CN]=Git Cola (查看历史)
Name[zh_TW]=Git Cola (檢視歷史紀錄)
TryExec=git-cola

Exec=git-cola dag %f

Icon=git-cola
NoDisplay=true
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;RevisionControl;
MimeType=inode/directory;
