[Desktop Entry]
GenericName=Git repository viewer
GenericName[ar]=عارض لمستودعات «غِت»
GenericName[ast]=Visor de repositorios Git
GenericName[ca]=Visualitzador del repositori Git
GenericName[ca@valencia]=Visualitzador del repositori Git
GenericName[da]=Fremviser til Git-depoter
GenericName[de]=Anzeige von Git-Quelltextarchiven
GenericName[el]=Προβολέας αποθετηρίων git
GenericName[en_GB]=Git repository viewer
GenericName[es]=Visor del repositorio Git
GenericName[et]=Giti hoidla näitaja
GenericName[eu]=Git gordetegien erakuslea
GenericName[fi]=Git-varastokatselin
GenericName[fr]=Visualiseur de dépôt Git
GenericName[gd]=Sealladair ionadan-tasgaidh Git
GenericName[gl]=Visor de repositorios Git
GenericName[hu]=Git tároló-megjelenítő
GenericName[ia]=Visor de deposito Git
GenericName[id]=Penampil repositori Git
GenericName[it]=Visualizzatore depositi Git
GenericName[ko]=Git 저장소 뷰어
GenericName[lt]=Git saugyklų peržiūra
GenericName[nb]=Git pakkebrønnviser
GenericName[nl]=Viewer van git-repository 
GenericName[nn]=Visingsprogram for Git-lagar
GenericName[pl]=Przeglądarka repozytorium Git
GenericName[pt]=Visualizador de repositórios do Git
GenericName[pt_BR]=Visualizador de repositórios Git
GenericName[ru]=Просмотр репозиториев Git
GenericName[sk]=Prehliadač repozitárov Git
GenericName[sl]=Pregledovalnik skladišč Git
GenericName[sr]=Приказивач гит ризница
GenericName[sr@ijekavian]=Приказивач гит ризница
GenericName[sr@ijekavianlatin]=Prikazivač git riznica
GenericName[sr@latin]=Prikazivač git riznica
GenericName[sv]=Git-arkivvisning
GenericName[tg]=Намоишгари анбори додаҳои Git
GenericName[tr]=Git deposu görüntüleyici
GenericName[uk]=Перегляд сховищ Git
GenericName[x-test]=xxGit repository viewerxx
GenericName[zh_CN]=Git 仓库查看器
GenericName[zh_TW]=Git 主目錄瀏覽器
Name=gitg
Name[ast]=gitg
Name[ca]=gitg
Name[ca@valencia]=gitg
Name[cs]=gitg
Name[da]=gitg
Name[de]=gitg
Name[el]=gitg
Name[en_GB]=gitg
Name[es]=gitg
Name[et]=gitg
Name[eu]=gitg
Name[fi]=gitg
Name[fr]=gitg
Name[gd]=gitg
Name[gl]=gitg
Name[hu]=gitg
Name[ia]=gitg
Name[id]=gitg
Name[it]=gitg
Name[ko]=gitg
Name[lt]=gitg
Name[nb]=gitg
Name[nl]=gitg
Name[nn]=gitg
Name[pl]=gitg
Name[pt]=gitg
Name[pt_BR]=gitg
Name[ru]=gitg
Name[sk]=gitg
Name[sl]=gitg
Name[sr]=ГитГ
Name[sr@ijekavian]=ГитГ
Name[sr@ijekavianlatin]=gitg
Name[sr@latin]=gitg
Name[sv]=gitg
Name[tg]=gitg
Name[tr]=gitg
Name[uk]=gitg
Name[x-test]=xxgitgxx
Name[zh_CN]= 
Name[zh_TW]=gitg
Comment=Git repository browser
Comment[ar]=متصفّح لمستودعات «غِت»
Comment[ast]=Restolador de repostorios Git
Comment[ca]=Navegador pel repositori Git
Comment[ca@valencia]=Navegador pel repositori Git
Comment[da]=Gennemse Git-depoter
Comment[de]=Browser für Git-Quelltextarchive
Comment[el]=Περιηγητής αποθετηρίων git
Comment[en_GB]=Git repository browser
Comment[es]=Explorador del repositorio Git
Comment[et]=Giti hoidla sirvija
Comment[eu]=Git gordetegi arakatzailea
Comment[fi]=Git-varastokatselin
Comment[fr]=Navigateur de dépôt Git
Comment[gd]=Brabhsair ionadan-tasgaidh Git
Comment[gl]=Navegador de repositorios Git
Comment[hu]=Git tároló-megjelenítő
Comment[ia]=Navigator de deposito Git
Comment[id]=Penelusur repositori Git
Comment[it]=Navigatore depositi Git
Comment[ko]=Git 저장소 탐색기
Comment[lt]=Git saugyklų naršyklė
Comment[nb]=Bla i Git pakkebrønn
Comment[nl]=Browser van git-repository
Comment[nn]=Visingsprogram for Git-lagar
Comment[pl]=Przeglądarka repozytorium Git
Comment[pt]=Navegador de repositórios do Git
Comment[pt_BR]=Navegador de repositórios Git
Comment[ru]=Программа просмотра репозитория Git
Comment[sk]=Prehliadač repozitárov Git
Comment[sl]=Brskalnik po skladiščih Git
Comment[sr]=Прегледач гит ризница
Comment[sr@ijekavian]=Прегледач гит ризница
Comment[sr@ijekavianlatin]=Pregledač git riznica
Comment[sr@latin]=Pregledač git riznica
Comment[sv]=Git-arkivbläddrare
Comment[tg]=Мурургари анбори додаҳои Git
Comment[tr]=Git deposu tarayıcı
Comment[uk]=Засіб для перегляду сховищ Git
Comment[x-test]=xxGit repository browserxx
Comment[zh_CN]=Git 仓库浏览器
Comment[zh_TW]=Git 主目錄瀏覽器
Exec=gitg --no-wd %U
TryExec=gitg
Terminal=false
Type=Application
Icon=gitg
Categories=GNOME;GTK;Development;RevisionControl;
MimeType=x-scheme-handler/gitg;
#X-GNOME-DocPath=gitg/gitg.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gitg
X-GNOME-Bugzilla-Component=core
X-GNOME-Bugzilla-Version=3.26.0

