[Desktop Entry]
Name=HotShots
Name[ast]=HotShots
Name[ca]=HotShots
Name[ca@valencia]=HotShots
Name[cs]=HotShots
Name[da]=HotShots
Name[de]=HotShots
Name[el]=HotShots
Name[en_GB]=HotShots
Name[es]=HotShots
Name[et]=HotShots
Name[eu]=HotShots
Name[fi]=HotShots
Name[fr]=HotShots
Name[gd]=HotShots
Name[gl]=HotShots
Name[hu]=HotShots
Name[ia]=HotShots
Name[id]=HotShots
Name[it]=HotShots
Name[ko]=HotShots
Name[lt]=HotShots
Name[nb]=HotShots
Name[nl]=HotShots
Name[nn]=HotShots
Name[pl]=GorąceZrzuty
Name[pt]=HotShots
Name[pt_BR]=HotShots
Name[ru]=HotShots
Name[sk]=HotShots
Name[sl]=HotShots
Name[sr]=Хотшотс
Name[sr@ijekavian]=Хотшотс
Name[sr@ijekavianlatin]=HotShots
Name[sr@latin]=HotShots
Name[sv]=HotShots
Name[tg]=HotShots
Name[tr]=HotShots
Name[uk]=HotShots
Name[x-test]=xxHotShotsxx
Name[zh_CN]=HotShots
Name[zh_TW]=HotShots
Comment=Screenshot manager
Comment[ar]=مدير للقطات الشّاشة
Comment[ast]=Xestor de captures de pantalla
Comment[ca]=Gestor de captures de pantalla
Comment[ca@valencia]=Gestor de captures de pantalla
Comment[da]=Håndtering af skærmbilleder
Comment[de]=Bildschirmfotoverwaltung
Comment[el]=Διαχειριστής στιγμιοτύπων οθόνης
Comment[en_GB]=Screenshot manager
Comment[es]=Gestor de capturas de pantalla
Comment[et]=Ekraanipiltide haldur
Comment[eu]=Pantaila-argazki kudeatzailea
Comment[fi]=Kuvakaappausten hallinta
Comment[fr]=Gestionnaire de photos d'écran
Comment[gd]=Stiùiriche ghlacaidhean-sgrìn
Comment[gl]=Xestor de capturas de pantalla.
Comment[hu]=Képernyőkép-kezelő
Comment[ia]=Gerente de instantanee de schermo
Comment[id]=Pengelola cuplikan
Comment[it]=Gestore delle schermate
Comment[ko]=스크린샷 관리자
Comment[lt]=Ekrano kopijų tvarkytuvė
Comment[nb]=Skjermbildehåndtering
Comment[nl]=Beheerder van schermafdrukken
Comment[nn]=Skjermbilethandsaming
Comment[pl]=Zarządzanie zrzutami ekranu
Comment[pt]=Gestor de capturas de imagens
Comment[pt_BR]=Gerenciador de imagens
Comment[ru]=Создание и редактирование снимков экрана
Comment[sk]=Správca snímok obrazovky
Comment[sl]=Upravljalnik zaslonskih slik
Comment[sr]=Менаџер снимака екрана
Comment[sr@ijekavian]=Менаџер снимака екрана
Comment[sr@ijekavianlatin]=Menadžer snimaka ekrana
Comment[sr@latin]=Menadžer snimaka ekrana
Comment[sv]=Skärmbildshanterare
Comment[tg]=Мудири аксҳои экран
Comment[tr]=Ekran görüntüsü yöneticisi
Comment[uk]=Програма для керування знімками вікон
Comment[x-test]=xxScreenshot managerxx
Comment[zh_CN]=屏幕截图管理器
Comment[zh_TW]=螢幕快照管理員
Type=Application
GenericName=Screenshot manager
GenericName[ar]=مدير للقطات الشّاشة
GenericName[ast]=Xestor de captures de pantalla
GenericName[ca]=Gestor de captures de pantalla
GenericName[ca@valencia]=Gestor de captures de pantalla
GenericName[da]=Håndtering af skærmbilleder
GenericName[de]=Bildschirmfotoverwaltung
GenericName[el]=Διαχειριστής στιγμιοτύπων οθόνης
GenericName[en_GB]=Screenshot manager
GenericName[es]=Gestor de capturas de pantalla
GenericName[et]=Ekraanipiltide haldur
GenericName[eu]=Pantaila-argazki kudeatzailea
GenericName[fi]=Kuvakaappausten hallinta
GenericName[fr]=Gestionnaire de photos d'écran
GenericName[gd]=Stiùiriche ghlacaidhean-sgrìn
GenericName[gl]=Xestor de capturas de pantalla
GenericName[hu]=Képernyőkép-kezelő
GenericName[ia]=Gerente de instantanee de schermo
GenericName[id]=Pengelola cuplikan
GenericName[it]=Gestore delle schermate
GenericName[ko]=스크린샷 관리자
GenericName[lt]=Ekrano kopijų tvarkytuvė
GenericName[nb]=Skjermbildehåndtering
GenericName[nl]=Beheerder van schermafdrukken
GenericName[nn]=Skjermbilethandsaming
GenericName[pl]=Zarządzanie zrzutami ekranu
GenericName[pt]=Gestor de capturas de imagens
GenericName[pt_BR]=Gerenciador de imagens
GenericName[ru]=Управление снимками экрана
GenericName[sk]=Správca snímok obrazovky
GenericName[sl]=Upravljalnik zaslonskih slik
GenericName[sr]=Менаџер снимака екрана
GenericName[sr@ijekavian]=Менаџер снимака екрана
GenericName[sr@ijekavianlatin]=Menadžer snimaka ekrana
GenericName[sr@latin]=Menadžer snimaka ekrana
GenericName[sv]=Skärmbildshanterare
GenericName[tg]=Мудири аксҳои экран
GenericName[tr]=Ekran görüntüsü yöneticisi
GenericName[uk]=Програма для керування знімками вікон
GenericName[x-test]=xxScreenshot managerxx
GenericName[zh_CN]=屏幕截图管理器
GenericName[zh_TW]=螢幕快照管理員
TryExec=hotshots
Exec=hotshots
Categories=Utility;X-SuSE-DesktopUtility;Qt;
Icon=hotshots
MimeType=application/x-hot;

