[Desktop Entry]
Terminal=false
Name=Kaption
Name[ast]=Kaption
Name[ca]=Kaption
Name[ca@valencia]=Kaption
Name[cs]=Kaption
Name[da]=Kaption
Name[de]=Kaption
Name[el]=Kaption
Name[en_GB]=Kaption
Name[es]=Kaption
Name[et]=Kaption
Name[eu]=Kaption
Name[fi]=Kaption
Name[fr]=Kaption
Name[gd]=Kaption
Name[gl]=Kaption
Name[hu]=Kaption
Name[ia]=Kaption
Name[id]=Kaption
Name[it]=Kaption
Name[ko]=Kaption
Name[lt]=Kaption
Name[nb]=Tekster
Name[nl]=Opschrift
Name[nn]=Kaption
Name[pl]=Kaption
Name[pt]=Kaption
Name[pt_BR]=Kaption
Name[ru]=Kaption
Name[sk]=Kaption
Name[sl]=Kaption
Name[sr]=Капција
Name[sr@ijekavian]=Капција
Name[sr@ijekavianlatin]=Kapcija
Name[sr@latin]=Kapcija
Name[sv]=Kaption
Name[tg]=Kaption
Name[tr]=Kaption
Name[uk]=Kaption
Name[x-test]=xxKaptionxx
Name[zh_CN]=Kaption
Name[zh_TW]=螢幕擷取_Kaption
Comment=Screen capture and editor
Comment[ast]=Captura de pantalla y editor
Comment[ca]=Captura de pantalla i editor
Comment[ca@valencia]=Captura de pantalla i editor
Comment[da]=Skærmoptagelse- og redigering
Comment[de]=Bildschirm-Aufnahme und Bearbeitung
Comment[el]=Πρόγραμμα σύλληψης και επεξεργασίας στιγμιοτύπων οθόνης
Comment[en_GB]=Screen capture and editor
Comment[es]=Captura de pantalla y editor
Comment[et]=Ekraanipiltide tegija ja redaktor
Comment[eu]=Pantaila harrapatu eta editatu
Comment[fi]=Kuvakaappauksen ottaminen ja muokkaaminen
Comment[fr]=Capture d'écran et édition
Comment[gd]=Tog is deasaich glacaidhean-sgrìn
Comment[gl]=Editor de xerador de capturas de pantalla.
Comment[hu]=Képernyőfelvevő és szerkesztő
Comment[ia]=Captura de schermo  e editor
Comment[id]=Pengedit dan tangkapan layar
Comment[it]=Acquisizione dello schermo ed editor
Comment[ko]=화면 캡처 및 편집기
Comment[lt]=Ekrano fotografavimo ir redagavimo įrankis
Comment[nb]=Skjermbildefanger og redigerer
Comment[nl]=Schermafdruk maken en bewerker
Comment[nn]=Skjermbiletlagring og -redigering
Comment[pl]=Przechwytywanie ekranu i edycja
Comment[pt]=Captura e edição do ecrã
Comment[pt_BR]=Captura de tela e editor
Comment[ru]=Создание и редактирование снимков экрана
Comment[sk]=Zachytávanie a úprava snímok obrazovky
Comment[sl]=Zajem zaslona in urejevalnik
Comment[sr]=Хватање и уређивање екрана
Comment[sr@ijekavian]=Хватање и уређивање екрана
Comment[sr@ijekavianlatin]=Hvatanje i uređivanje ekrana
Comment[sr@latin]=Hvatanje i uređivanje ekrana
Comment[sv]=Ta och redigera skärmbilder
Comment[tg]=Гирифтани акси экран ва муҳаррир
Comment[tr]=Ekran yakalayıcı ve düzenleyici
Comment[uk]=Програма для створення і редагування знімків вікон
Comment[x-test]=xxScreen capture and editorxx
Comment[zh_CN]=屏幕捕获和编辑器
Comment[zh_TW]=螢幕擷取與編輯器
Type=Application

Exec=kaption
Categories=Qt;KDE;Graphics;2DGraphics;

