[Desktop Entry]
Type=Application
Name=KDE Partition Manager
Name[ar]=مدير كدي للأقسام
Name[ast]=Xestor de particiones de KDE
Name[ca]=Gestor de particions del KDE
Name[ca@valencia]=Gestor de particions del KDE
Name[cs]=Správce diskových oddílů pro KDE
Name[da]=KDE Partitionshåndtering
Name[de]=KDE-Partitionsverwaltung
Name[el]=Διαχειριστής κατατμήσεων του KDE
Name[en_GB]=KDE Partition Manager
Name[es]=Gestor de particiones de KDE
Name[et]=KDE partitsioonihaldur
Name[eu]=KDE partizio kudeatzailea
Name[fi]=KDE:n osionhallinta
Name[fr]=Gestionnaire de partitions KDE
Name[gd]=Manaidsear phàirteachaidhean KDE
Name[gl]=Xestor de particións de KDE
Name[hu]=KDE Partíciókezelő
Name[ia]=KDE Partition Manager (gerente de partition de KDE)
Name[id]=KDE Partition Manager
Name[it]=Gestore delle partizioni di KDE
Name[ko]=KDE 파티션 관리자
Name[lt]=KDE skaidinių tvarkytuvė
Name[nb]=KDE partisjonshåndtering
Name[nl]=KDE Partitiebeheerder
Name[nn]=Partisjonshandsaming for KDE
Name[pl]=Zarządzanie partycjami
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gerenciador de Partições do KDE
Name[ru]=Диспетчер разделов от KDE
Name[sk]=KDE Správca partícií
Name[sl]=Upravljalnik razdelkov za KDE
Name[sr]=КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=KDE‑ov menadžer particija
Name[sr@latin]=KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare
Name[tg]=Мудири қисмҳои диски KDE
Name[tr]=KDE Disk Bölümleme Yöneticisi
Name[uk]=Редактор розділів для KDE
Name[x-test]=xxKDE Partition Managerxx
Name[zh_CN]=KDE 分区管理器
Name[zh_TW]=KDE 磁碟分割區管理員
GenericName=Partition Editor
GenericName[ar]=محرّر أقسام
GenericName[ast]=Editor de particiones
GenericName[ca]=Editor de particions
GenericName[ca@valencia]=Editor de particions
GenericName[cs]=Editor diskových oddílů
GenericName[da]=Partitionerings-editor
GenericName[de]=Partition-Editor
GenericName[el]=Επεξεργαστής κατατμήσεων
GenericName[en_GB]=Partition Editor
GenericName[es]=Editor de particiones
GenericName[et]=Partitsioonihaldur
GenericName[eu]=Partizio editorea
GenericName[fi]=Osionhallinta
GenericName[fr]=Éditeur de partitions
GenericName[gd]=Deasaiche pàirteachaidh
GenericName[gl]=Editor de particións
GenericName[hu]=Partíciószerkesztő
GenericName[ia]=Partition Editor (Editor de Partition)
GenericName[id]=Pengedit Partisi
GenericName[it]=Editor delle partizioni
GenericName[ko]=파티션 편집기
GenericName[lt]=Skaidinių tvarkytuvė
GenericName[nb]=Partisjonsredigering
GenericName[nl]=Partitiebewerker
GenericName[nn]=Partisjonsredigering
GenericName[pl]=Edytor partycji
GenericName[pt]=Editor de Partições
GenericName[pt_BR]=Editor de partições
GenericName[ru]=Редактор разделов
GenericName[sk]=Editor partícií
GenericName[sl]=Urejevalnik razdelkov
GenericName[sr]=Уређивач партиција
GenericName[sr@ijekavian]=Уређивач партиција
GenericName[sr@ijekavianlatin]=Uređivač particija
GenericName[sr@latin]=Uređivač particija
GenericName[sv]=Partitionseditor
GenericName[tg]=Муҳаррири қисми диск
GenericName[tr]=Disk Bölümleme Yöneticisi
GenericName[uk]=Редактор розділів на дисках
GenericName[x-test]=xxPartition Editorxx
GenericName[zh_CN]=分区编辑器
GenericName[zh_TW]=磁碟分割區編輯器
Comment=Manage disks, partitions and file systems
Comment[ar]=أدر الأقراص والأقسام وأنظمة الملفّات
Comment[ast]=Xestiona discos, particiones y sistemes de ficheros
Comment[ca]=Gestiona discos, particions i sistemes de fitxers
Comment[ca@valencia]=Gestiona discos, particions i sistemes de fitxers
Comment[cs]=Spravujte disky, oddíly a souborové systémy
Comment[da]=Håndtér diske, partitioner og filsystemer
Comment[de]=Verwaltung von Festplatten, Partitionen und Dateisystemen
Comment[el]=Διαχείριση δίσκων, κατατμήσεων και συστημάτων αρχείων
Comment[en_GB]=Manage disks, partitions and file systems
Comment[es]=Gestionar discos, particiones y sistemas de archivos
Comment[et]=Ketaste, partitsioonide ja failisüsteemide haldamine
Comment[eu]=Kudeatu diskoak, partizioak eta fitxategi-sistemak
Comment[fi]=Hallitse levyjä, osioita ja tiedostojärjestelmiä
Comment[fr]=Gérer les disques, partitions et systèmes de fichiers
Comment[gd]=Stiùirich diosgan, pàirteachaidhean is siostaman fhaidhlichean
Comment[gl]=Xestiona os discos, particións e o sistemas de ficheiros
Comment[hu]=Lemezek, partíciók és fájlrendszerek kezelése
Comment[ia]=Gere discos, partitiones e systemas de file
Comment[id]=Kelola disk, partisi dan sistem file 
Comment[it]=Gestisci dischi, partizioni e filesystem
Comment[ko]=디스크, 파티션, 파일 시스템 관리
Comment[lt]=Tvarkyti diskus, skaidinius ir failų sistemas
Comment[nb]=Håndter disker, partisjoner og filsystemer
Comment[nl]=Beheer schijven, partities en bestandssystemen
Comment[nn]=Handsam diskar, partisjonar og filsystem
Comment[pl]=Zarządzaj dyskami, partycjami i systemami plików
Comment[pt]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[pt_BR]=Gerencia discos, partições e sistemas de arquivos
Comment[ru]=Управление дисками, разделами и файловыми системами
Comment[sk]=Spravuje disky, partície a súborové systémy
Comment[sl]=Upravljajte z diski, razdelki in datotečnimi sistemi
Comment[sr]=Управљајте дисковима, партицијама и фајл системима
Comment[sr@ijekavian]=Управљајте дисковима, партицијама и фајл системима
Comment[sr@ijekavianlatin]=Upravljajte diskovima, particijama i fajl sistemima
Comment[sr@latin]=Upravljajte diskovima, particijama i fajl sistemima
Comment[sv]=Hantera hårddiskar, partitioner och filsystem
Comment[tg]=Дискҳо, қисмҳои диск ва низомҳои файлиро идора мекунад
Comment[tr]=Diskleri, disk bölümlerini ve dosya sistemlerini yönet
Comment[uk]=Керуйте дисками, розділами та файловими системами
Comment[x-test]=xxManage disks, partitions and file systemsxx
Comment[zh_CN]=管理磁盘、分区和文件系统
Comment[zh_TW]=管理磁碟、分割區與檔案系統
Exec=partitionmanager
Icon=partitionmanager
Categories=System;Filesystem;KDE;Qt;

X-KDE-StartupNotify=true


