[Desktop Entry]
GenericName=Character Selector
GenericName[ast]=Seleutor de caráuteres
GenericName[ca]=Selector de caràcters
GenericName[ca@valencia]=Selector de caràcters
GenericName[cs]=Výběr znaků
GenericName[da]=Tegnvælger
GenericName[de]=Tabelle zur Zeichenauswahl
GenericName[en_GB]=Character Selector
GenericName[es]=Selector de caracteres
GenericName[et]=Märgivalija
GenericName[eu]=Karaktere hautatzailea
GenericName[fi]=Merkkivalitsin
GenericName[fr]=Sélecteur de caractères
GenericName[gl]=Selector de caracteres
GenericName[hu]=Karakterválasztó
GenericName[id]=Pemilih Karakter
GenericName[it]=Selettore di caratteri
GenericName[ko]=문자 선택기
GenericName[lt]=Simbolių parinkiklis
GenericName[nb]=Tegnvelger
GenericName[nl]=Speciale tekens
GenericName[nn]=Teiknveljar
GenericName[pl]=Wybór znaków
GenericName[pt]=Selector de Caracteres
GenericName[pt_BR]=Seletor de caracteres
GenericName[ru]=Выбор символа
GenericName[sk]=Nástroj na výber znakov
GenericName[sl]=Izbirnik znakov
GenericName[sr]=Бирач знакова
GenericName[sr@ijekavian]=Бирач знакова
GenericName[sr@ijekavianlatin]=Birač znakova
GenericName[sr@latin]=Birač znakova
GenericName[sv]=Teckenväljare
GenericName[tg]=Интихобкунандаи аломатҳо
GenericName[tr]=Karakter Seçici
GenericName[uk]=Вибір символів
GenericName[x-test]=xxCharacter Selectorxx
GenericName[zh_CN]=字符选择器
GenericName[zh_TW]=字元選擇器
Exec=kcharselect --qwindowtitle %c
Icon=accessories-character-map
Type=Application
Terminal=false
X-DocPath=kcharselect/index.html
Name=KCharSelect
Name[ast]=KCharSelect
Name[ca]=KCharSelect
Name[ca@valencia]=KCharSelect
Name[cs]=KCharSelect
Name[da]=KCharSelect
Name[de]=KCharSelect
Name[en_GB]=KCharSelect
Name[es]=KCharSelect
Name[et]=KCharSelect
Name[eu]=KCharSelect
Name[fi]=KCharSelect
Name[fr]=KCharSelect
Name[gl]=KCharSelect
Name[hu]=KCharSelect
Name[id]=KCharSelect
Name[it]=KCharSelect
Name[ko]=KCharSelect
Name[lt]=KCharSelect
Name[nb]=KCharSelect
Name[nl]=KCharSelect
Name[nn]=KCharSelect
Name[pl]=KCharSelect
Name[pt]=KCharSelect
Name[pt_BR]=KCharSelect
Name[ru]=KCharSelect
Name[sk]=KCharSelect
Name[sl]=KCharSelect
Name[sr]=К‑бирач-знакова
Name[sr@ijekavian]=К‑бирач-знакова
Name[sr@ijekavianlatin]=K‑birač-znakova
Name[sr@latin]=K‑birač-znakova
Name[sv]=Kcharselect
Name[tg]=KCharSelect
Name[tr]=KCharSelect
Name[uk]=KCharSelect
Name[x-test]=xxKCharSelectxx
Name[zh_CN]=KCharSelect
Name[zh_TW]=KCharSelect
StartupNotify=true
Categories=Qt;KDE;Utility;Accessibility;

