[Desktop Entry]
Comment=screencast
Comment[ca]=vídeo de captura de pantalla
Comment[ca@valencia]=vídeo de captura de pantalla
Comment[da]=skærmoptagelse
Comment[de]=Bildschirmaufnahme
Comment[en_GB]=screencast
Comment[es]=screencast
Comment[et]=ekraaniülekanne
Comment[eu]=screencast (pantaila grabaketa)
Comment[fi]=screencast
Comment[fr]=screencast
Comment[gl]=screencast
Comment[hu]=képernyőátjátszás
Comment[id]=screencast
Comment[it]=trasmissione dello schermo
Comment[ko]=스크린캐스트
Comment[lt]=ekrano įrašymas
Comment[nl]=schermopname
Comment[nn]=skjermsending
Comment[pl]=screencast
Comment[pt]=transmissão do ecrã
Comment[pt_BR]=screencast
Comment[ru]=Трансляция видео с экрана
Comment[sk]=screencast
Comment[sv]=skärminspelning
Comment[tg]=screencast
Comment[uk]=скрінкаст
Comment[x-test]=xxscreencastxx
Comment[zh_CN]=屏幕录像
Comment[zh_TW]=screencast
Exec=vokoscreen
Icon=vokoscreen
Name=vokoscreen
Name[ast]=vokoscreen
Name[ca]=vokoscreen
Name[ca@valencia]=vokoscreen
Name[da]=vokoscreen
Name[de]=vokoscreen
Name[en_GB]=vokoscreen
Name[es]=vokoscreen
Name[et]=vokoscreen
Name[eu]=vokoscreen
Name[fi]=vokoscreen
Name[fr]=vokoscreen
Name[gl]=vokoscreen
Name[hu]=vokoscreen
Name[id]=vokoscreen
Name[it]=vokoscreen
Name[ko]=vokoscreen
Name[lt]=vokoscreen
Name[nl]=vokoscreen
Name[nn]=vokoscreen
Name[pl]=vokoscreen
Name[pt]=vokoscreen
Name[pt_BR]=vokoscreen
Name[ru]=vokoscreen
Name[sk]=vokoscreen
Name[sv]=vokoscreen
Name[tg]=vokoscreen
Name[uk]=vokoscreen
Name[x-test]=xxvokoscreenxx
Name[zh_CN]=Vokoscreen
Name[zh_TW]=vokoscreen
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
Keywords=Audio;Video;Recorder;Screencast;
Keywords[ca]=Àudio;Vídeo;Enregistrador;Vídeo de captura de pantalla;
Keywords[ca@valencia]=Àudio;Vídeo;Enregistrador;Vídeo de captura de pantalla;
Keywords[da]=Lyd;Video;Optager;Screencast;Skærm;
Keywords[de]=Audio;Video;Recorder;Aufnahme;aufnehmen;Screencast;
Keywords[en_GB]=Audio;Video;Recorder;Screencast;
Keywords[es]=Sonido;Vídeo;Grabador;Screencast;
Keywords[et]=Audio;Video;Salvestaja;Ekraanijäädvustaja;
Keywords[eu]=Audio;Bideo;Grabatzaile;pantaila grabaketa;Screencast;
Keywords[fi]=Ääni;Video;Tallennin;Screencast;
Keywords[fr]=Audio;Vidéo;Enregistrement;Screencast;
Keywords[gl]=son;vídeo;gravadora;emisión de pantalla;
Keywords[hu]=Hang;Videó;Felvevő;Képernyőátjátszás;
Keywords[id]=Audio;Video;Recorder;Screencast;
Keywords[it]=Audio;Video;Registratore;Trasmissione dello schermo;
Keywords[ko]=Audio;Video;Recorder;Screencast;오디오;비디오;녹음;녹화;스크린캐스트;방송;
Keywords[lt]=Garsas;Vaizdas;Audio;Video;Rašytuvas;Įrašymo programa;Įrašymas;Ekrano įrašymas;
Keywords[nl]=Audio;Video;Opnameapparaat;Schermopname
Keywords[nn]=lyd;video;film;opptak;skjermsending;
Keywords[pl]=Dźwięk;Obraz;Audio;Video;Nagrywanie;Screencast;
Keywords[pt]=Áudio;Vídeo;Gravador;Transmissão do Ecrã;
Keywords[pt_BR]=Áudio;Vídeo;Gravador;Screencast;
Keywords[ru]=Audio;Video;Recorder;Screencast;аудио;видео;запись экрана;трансляция;
Keywords[sk]=Zvuk;Video;Nahrávač;Screencast;
Keywords[sv]=Ljud;Video;Inspelning;Skärminspelning;
Keywords[tg]=Аудио;Видео;Сабткунак;Ҷараёни экран;
Keywords[uk]=Audio;Video;Recorder;Screencast;звук;відео;записувач;скрінкаст;
Keywords[x-test]=xxAudioxx;xxVideoxx;xxRecorderxx;xxScreencastxx;
Keywords[zh_CN]=音频;视频;录音机;屏幕录像;
Keywords[zh_TW]=音訊;視訊;錄製程式;Screencast;
