[KCM Locale]
Author=zh-l10n@linux.org.tw
Name=Taiwan
Name[af]=Taiwan
Name[ar]=تايوان
Name[as]=তাইৱান
Name[ast]=Taiwán
Name[be]=Тайвань
Name[be@latin]=Tajvań
Name[bg]=Тайван
Name[bn]=তাইওয়ান
Name[bn_IN]=তাইওয়ান
Name[br]=Taiwan
Name[bs]=Tajvan
Name[ca]=Taiwan
Name[ca@valencia]=Taiwan
Name[cs]=Taiwan
Name[csb]=Tajwan
Name[cy]=Taiwan
Name[da]=Taiwan
Name[de]=Taiwan
Name[el]=Ταϊβάν
Name[en_GB]=Taiwan
Name[eo]=Tajvano
Name[es]=Taiwán
Name[et]=Taiwan
Name[eu]=Taiwan
Name[fa]=تایوان
Name[fi]=Taiwan
Name[fr]=Taïwan
Name[fy]=Taiwan
Name[ga]=An Téaváin
Name[gd]=Taidh-Bhàn
Name[gl]=Taiwán
Name[gu]=તાઇવાન
Name[he]=טיוואן
Name[hi]=ताईवान
Name[hne]=ताईवान
Name[hr]=Tajvan
Name[hsb]=Taiwan
Name[hu]=Tajvan
Name[ia]=Taiwan
Name[id]=Taiwan
Name[is]=Taívan
Name[it]=Taiwan
Name[ka]=ტაივანი
Name[kk]=Тайвань ар.
Name[km]=តៃវ៉ាន់
Name[kn]=ತೈವಾನ್
Name[ko]=대만
Name[ku]=Taywan
Name[lt]=Taivanis
Name[lv]=Taivāna
Name[mai]=ताइवान
Name[mk]=Тајван
Name[ml]=തായിവാന്‍
Name[mr]=तैवान
Name[ms]=Taiwan
Name[nb]=Taiwan
Name[nds]=Taiwan
Name[ne]=ताइवान
Name[nl]=Taiwan
Name[nn]=Taiwan
Name[oc]=Taiwan
Name[or]=ତାଇୱାନ
Name[pa]=ਤਾਈਵਾਨ
Name[pl]=Tajwan
Name[pt]=Formosa
Name[pt_BR]=Taiwan
Name[ro]=Taiwan
Name[ru]=Тайвань
Name[se]=Taiwan
Name[si]=තායිවානය
Name[sk]=Taiwan
Name[sl]=Tajvan
Name[sr]=Тајван
Name[sr@ijekavian]=Тајван
Name[sr@ijekavianlatin]=Tajvan
Name[sr@latin]=Tajvan
Name[sv]=Taiwan
Name[ta]=தாய்வான்
Name[te]=తైవాన్
Name[tg]=Тайван
Name[th]=ไต้หวัน
Name[tr]=Tayvan
Name[ug]=تەيۋەن
Name[uk]=Тайвань
Name[uz]=Tayvan
Name[uz@cyrillic]=Тайван
Name[vi]=Đài Loan
Name[wa]=Taiwan
Name[xh]=Taiwan
Name[x-test]=xxTaiwanxx
Name[zh_CN]=中国台湾
Name[zh_TW]=台灣
Region=eastasia
Languages=zh_TW
DateFormat[zh_TW]=%Y %B %e %A
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TWD
CurrencyCode=TWD
