[KCM Locale]
Name=Tajikistan
Name[ar]=طاجيكستان
Name[ast]=Taxiquistán
Name[bs]=Tadžikistan
Name[ca]=Tadjikistan
Name[ca@valencia]=Tadjikistan
Name[cs]=Tádžikistán
Name[da]=Tajikistan
Name[de]=Tadschikistan
Name[en_GB]=Tajikistan
Name[es]=Tayikistán
Name[et]=Tadžikistan
Name[eu]=Tadjikistan
Name[fa]=تاجیکستان
Name[fi]=Tadžikistan
Name[fr]=Tadjikistan
Name[gd]=Taidigeastàn
Name[gl]=Taxiquistán
Name[hr]=Tadžikistan
Name[hu]=Tádzsikisztán
Name[ia]=Tajikistan
Name[id]=Tajikistan
Name[is]=Tadsjikistan
Name[it]=Tagikistan
Name[ka]=ტაჯიკეთი
Name[ko]=타지키스탄
Name[lt]=Tadžikistanas
Name[lv]=Tadžikistāna
Name[mr]=ताजिकिस्तान
Name[nb]=Tadsjikistan
Name[nds]=Tadschikistan
Name[nl]=Tadzjikistan
Name[nn]=Tadsjikistan
Name[pa]=ਤਜ਼ਾਕਸਤਾਨ
Name[pl]=Tadżykistan
Name[pt]=Tajiquistão
Name[pt_BR]=Tadjiquistão
Name[ru]=Таджикистан
Name[se]=Tažikistan
Name[sk]=Tadžikistan
Name[sl]=Tadžikistan
Name[sr]=Таџикистан
Name[sr@ijekavian]=Таџикистан
Name[sr@ijekavianlatin]=Tadžikistan
Name[sr@latin]=Tadžikistan
Name[sv]=Tadzjikistan
Name[tg]=Тоҷикистон
Name[tr]=Tacikistan
Name[uk]=Таджикистан
Name[x-test]=xxTajikistanxx
Name[zh_CN]=塔吉克斯坦
Name[zh_TW]=塔吉克
Region=centralasia
Languages=tg
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TJS
CurrencyCode=TJS
