[KCM Locale]
Name=Jersey
Name[ar]=جيرسي
Name[ast]=Xerséi
Name[bg]=Джърси
Name[bn]=জার্সি
Name[bs]=Džerzi
Name[ca]=Jersey
Name[ca@valencia]=Jersey
Name[cs]=Jersey
Name[da]=Jersey
Name[de]=Jersey
Name[el]=Τζέρσεϊ
Name[en_GB]=Jersey
Name[eo]=Ĵersejo
Name[es]=Jersey
Name[et]=Jersey
Name[eu]=Jersey
Name[fa]=جرسی
Name[fi]=Jersey
Name[fr]=Jersey
Name[ga]=Geirsí
Name[gd]=Deàrsaidh
Name[gl]=Xersei
Name[he]=ג'רזי
Name[hi]=जर्सी
Name[hr]=Jersey
Name[hu]=Jersey
Name[ia]=Jersey
Name[id]=Jersey
Name[is]=Jersey
Name[it]=Jersey
Name[kk]=Джерси
Name[km]=ជឺស៊ី
Name[kn]=ಜರ್ಸಿ
Name[ko]=저지
Name[lt]=Džersis
Name[lv]=Džersija
Name[mr]=जर्सी
Name[nb]=Jersey
Name[nds]=Jersey
Name[nl]=Jersey
Name[nn]=Jersey
Name[pa]=ਜਰਸੀ
Name[pl]=Jersey
Name[pt]=Jersey
Name[pt_BR]=Jersey
Name[ro]=Jersey
Name[ru]=Джерси
Name[si]=ජර්සි
Name[sk]=Jersey
Name[sl]=Jersey
Name[sr]=Џерзи
Name[sr@ijekavian]=Џерзи
Name[sr@ijekavianlatin]=Džerzi
Name[sr@latin]=Džerzi
Name[sv]=Jersey
Name[tg]=Ҷерси
Name[th]=เจอร์ซีย์
Name[tr]=Jersey
Name[ug]=جېرسېي
Name[uk]=Джерсі
Name[vi]=Jersey
Name[wa]=Djerzey
Name[x-test]=xxJerseyxx
Name[zh_CN]=Jersey
Name[zh_TW]=Jersey
Region=westeurope
Languages=en_GB,fr
NegativeMonetarySignPosition=1
DateFormat=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
PageSize=0
MeasureSystem=0
WeekStartDay=7
DecimalPlaces=2
MonetaryDecimalPlaces=2
CurrencyCodesInUse=GBP
CurrencyCode=GBP
