[KCM Locale]
Name=Venezuela
Name[af]=Venezuela
Name[ar]=فينزويلا
Name[as]=ভেনেজুৱেলা
Name[ast]=Venezuela
Name[be]=Венесуэла
Name[be@latin]=Venesueła
Name[bg]=Венецуела
Name[bn]=ভেনেজুয়েলা
Name[bn_IN]=ভেনেজুয়েলা
Name[bs]=Venecuela
Name[ca]=Veneçuela
Name[ca@valencia]=Veneçuela
Name[cs]=Venezuela
Name[csb]=Wenezuela
Name[cy]=Feneswela
Name[da]=Venezuela
Name[de]=Venezuela
Name[el]=Βενεζουέλα
Name[en_GB]=Venezuela
Name[eo]=Venezuelo
Name[es]=Venezuela
Name[et]=Venetsueela
Name[eu]=Venezuela
Name[fa]=ونزوئلا
Name[fi]=Venezuela
Name[fr]=Venezuela
Name[fy]=Venezuela
Name[ga]=Veiniséala
Name[gd]=A' Bheiniseala
Name[gl]=Venezuela
Name[gu]=વેનેઝુએલા
Name[he]=ונצואלה
Name[hi]=वेनेजुएला
Name[hne]=वेनेजुएला
Name[hr]=Venecuela
Name[hsb]=Wenecuela
Name[hu]=Venezuela
Name[ia]=Venezuela
Name[id]=Venezuela
Name[is]=Venesúela
Name[it]=Venezuela
Name[ka]=ვენესუელა
Name[kk]=Венесуэла
Name[km]=វេណេហ្សុយអេឡា
Name[kn]=ವೆನಿಝುವಲಾ
Name[ko]=베네수엘라
Name[ku]=Venezûela
Name[lt]=Venesuela
Name[lv]=Venecuēla
Name[mai]=वेनेजुएला
Name[mk]=Венецуела
Name[ml]=വെനിസ്വേല
Name[mr]=वेनेझुएला
Name[ms]=Venezuela
Name[nb]=Venezuela
Name[nds]=Venezuela
Name[ne]=भेनेजुएला
Name[nl]=Venezuela
Name[nn]=Venezuela
Name[oc]=Veneçuèla
Name[or]=ଭେନିଜୁଏଲା
Name[pa]=ਵੈਂਨਜ਼ੂਏਲਾ
Name[pl]=Wenezuela
Name[pt]=Venezuela
Name[pt_BR]=Venezuela
Name[ro]=Venezuela
Name[ru]=Венесуэла
Name[se]=Venezuela
Name[si]=වෙනිසියුලාව
Name[sk]=Venezuela
Name[sl]=Venezuela
Name[sr]=Венецуела
Name[sr@ijekavian]=Венецуела
Name[sr@ijekavianlatin]=Venecuela
Name[sr@latin]=Venecuela
Name[sv]=Venezuela
Name[ta]=வெனிசுலா
Name[te]=వెనిజులా
Name[tg]=Венесуэла
Name[th]=เวเนซุเอลา
Name[tr]=Venezuela
Name[ug]=ۋېنېزۇئېلا
Name[uk]=Венесуела
Name[uz]=Venesuela
Name[uz@cyrillic]=Венесуэла
Name[vi]=Venezuela
Name[wa]=Venezwela
Name[x-test]=xxVenezuelaxx
Name[zh_CN]=委内瑞拉
Name[zh_TW]=委內瑞拉
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=VEF
CurrencyCode=VEF
