[D-BUS Service]
Name=org.gnome.Characters.BackgroundService
Exec=/snap/gnome-characters/current/usr/share/org.gnome.Characters/org.gnome.Characters.BackgroundService
