[KCM Locale]
Name=Mauritius
Name[af]=Mauritius
Name[ar]=موريشيوس
Name[as]=মৰিছিয়াচ
Name[ast]=Mauriciu
Name[be]=Маўрыцы
Name[be@latin]=Mauritius
Name[bg]=Остров Мавриций
Name[bn]=মরিশাস
Name[bn_IN]=মরিশাস
Name[br]=Mauris
Name[bs]=Mauricijus
Name[ca]=Maurici
Name[ca@valencia]=Maurici
Name[cs]=Mauricius
Name[csb]=Mauritius
Name[cy]=Mawrisiws
Name[da]=Mauritius
Name[de]=Mauritius
Name[el]=Μαυρίκιος
Name[en_GB]=Mauritius
Name[eo]=Maŭricio
Name[es]=Mauricio
Name[et]=Mauritius
Name[eu]=Maurizio
Name[fa]=جزیره موریس
Name[fi]=Mauritius
Name[fr]=Maurice
Name[fy]=Mauritius
Name[ga]=Oileán Mhuirís
Name[gd]=Na h-Eileanan Mhoiriseas
Name[gl]=Mauricio
Name[gu]=મોરિશિઅસ
Name[he]=מאוריציוס
Name[hi]=मॉरीशस
Name[hne]=मारीसस
Name[hr]=Mauricijus
Name[hsb]=Mawritius
Name[hu]=Mauritius
Name[ia]=Mauritio
Name[id]=Mauritius
Name[is]=Máritíus
Name[it]=Mauritius
Name[ka]=მაურიციუსი
Name[kk]=Маврикий
Name[km]=ម៉ូរីទុស
Name[kn]=ಮಾರಿಷಸ್
Name[ko]=모리셔스
Name[ku]=Morîtiyus
Name[lt]=Mauritius
Name[lv]=Maurīcija
Name[mai]=मारीशस
Name[mk]=Маврициус
Name[ml]=മൌറീഷ്യസ്
Name[mr]=मोरेशियस
Name[ms]=Mauritius
Name[nb]=Mauritius
Name[nds]=Mauritius
Name[ne]=माउरिटियस
Name[nl]=Mauritius
Name[nn]=Mauritius
Name[oc]=Maurici
Name[or]=ମୋରିସିଅସ
Name[pa]=ਮਾਉਰੀਟਿਸ
Name[pl]=Mauritius
Name[pt]=Mauritânia
Name[pt_BR]=Maurício
Name[ro]=Maurițius
Name[ru]=Маврикий
Name[se]=Mauritius
Name[si]=Mauritius
Name[sk]=Maurícius
Name[sl]=Mauritius
Name[sr]=Маурицијус
Name[sr@ijekavian]=Маурицијус
Name[sr@ijekavianlatin]=Mauricijus
Name[sr@latin]=Mauricijus
Name[sv]=Mauritius
Name[ta]=மௌரிடியஸ்
Name[te]=మారీషియస్
Name[tg]=Маврикия
Name[th]=มอริเชียส
Name[tr]=Mauritus
Name[ug]=ماۋرىتىئۇس
Name[uk]=Маврикій
Name[uz]=Mavrikiy
Name[uz@cyrillic]=Маврикий
Name[vi]=Mauritius
Name[wa]=Iye Môrice
Name[x-test]=xxMauritiusxx
Name[zh_CN]=毛里求斯
Name[zh_TW]=毛里求斯
Region=southafrica
Languages=en_GB,fr,hi
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MUR
CurrencyCode=MUR
