[KCM Locale]
Name=Maithili
Name[ar]=المايثيلي
Name[as]=মৈথিলি
Name[ast]=Maithili
Name[be@latin]=Maithili
Name[bg]=Маратхи
Name[bn_IN]=মৈথিলি
Name[bs]=maithili
Name[ca]=Maithili
Name[ca@valencia]=Maithili
Name[cs]=Maithili
Name[csb]=Maithili
Name[da]=Maithili
Name[de]=Maithili
Name[el]=Μαϊθίλι
Name[en_GB]=Maithili
Name[eo]=Maitila
Name[es]=Maithili
Name[et]=Maithili
Name[eu]=Maithili
Name[fa]=مایتیلی
Name[fi]=Maithili
Name[fr]=Maïthili
Name[fy]=Maithili
Name[ga]=Maitilis
Name[gd]=Maithili
Name[gl]=Maithili
Name[gu]=મૈથિલિ
Name[he]=מאיטילית
Name[hi]=मैथिली
Name[hr]=Maithilski
Name[hu]=Maithili
Name[ia]=Maithili
Name[id]=Maithili
Name[is]=Maithili
Name[it]=Maithili
Name[ja]=マイティリー語
Name[kk]=Майтхилише
Name[km]=ម៉ារ៉ាទី
Name[kn]=ಮೈಥಿಲಿ
Name[ko]=마이틸리어
Name[ku]=Zimanê Maithili
Name[lt]=Maithili
Name[lv]=Maithilu
Name[ml]=മൈഥിലി
Name[mr]=मैथिली
Name[ms]=Maithili
Name[nb]=Maithili
Name[nds]=Maithili
Name[nl]=Maithili
Name[nn]=Maithili
Name[pa]=ਮੈਥਲੀ
Name[pl]=Maithili
Name[pt]=Maithili
Name[pt_BR]=Maithili
Name[ro]=Maithili
Name[ru]=Майтхили
Name[se]=Maitiligiella
Name[si]=මයිතිලි
Name[sk]=Maithilčina
Name[sl]=Maitilščina
Name[sr]=маитхили
Name[sr@ijekavian]=маитхили
Name[sr@ijekavianlatin]=maithili
Name[sr@latin]=maithili
Name[sv]=Maithili
Name[ta]=மைதிலி
Name[tg]=Майтифил
Name[th]=ภาษาไมถิลี
Name[tr]=Maithili
Name[tt]=Майтхили
Name[ug]=مايتىلىچە
Name[uk]=Майтхілі
Name[vi]=Maithili
Name[wa]=Maithili
Name[x-test]=xxMaithilixx
Name[zh_CN]=迈蒂利语
Name[zh_TW]=Maithili 語
