[Desktop Entry]
DocumentTypes=text/man

SearchCommand=/usr/lib/x86_64-linux-gnu/libexec/khc_mansearch.pl --words=%w --maxcount=%m --method=%o --lang=%l
