# snappy u-boot env config
# its crucial that we have the two entries here
#   u-boot/tools/env/fw_env.c 
# will read only 4 header bytes if its a single
# line but our header has 5 byte. by having two
# entries like this in the config it magically
# switches to the 5 byte header type
/boot/uboot/uboot.env 0x0000 0x20000
/boot/uboot/uboot.env 0x0000 0x20000
