[KCM Locale]
Name=Tunisia
Name[af]=Tunisië
Name[ar]=تونس
Name[as]=টিউনিছিয়া
Name[ast]=Tunicia
Name[be]=Туніс
Name[be@latin]=Tunis
Name[bg]=Тунис
Name[bn]=টিউনিসিয়া
Name[bn_IN]=টিউনিশিয়া
Name[bs]=Tunis
Name[ca]=Tunísia
Name[ca@valencia]=Tunísia
Name[cs]=Tunisko
Name[csb]=Tunezëjô
Name[cy]=Tiwnisia
Name[da]=Tunesien
Name[de]=Tunesien
Name[el]=Τυνησία
Name[en_GB]=Tunisia
Name[eo]=Tunizio
Name[es]=Túnez
Name[et]=Tuneesia
Name[eu]=Tunisia
Name[fa]=تونس
Name[fi]=Tunisia
Name[fr]=Tunisie
Name[fy]=Tunisie
Name[ga]=An Túinéis
Name[gd]=Tuinisea
Name[gl]=Tunisia
Name[gu]=ટ્યુનિશિઆ
Name[he]=תוניסיה
Name[hi]=ट्यूनीशिया
Name[hne]=ट्यूनीसिया
Name[hr]=Tunis
Name[hsb]=Tuneziska
Name[hu]=Tunézia
Name[ia]=Tunisia
Name[id]=Tunisia
Name[is]=Túnis
Name[it]=Tunisia
Name[ka]=ტუნისი
Name[kk]=Тунис
Name[km]=ទុយណេស៊ី
Name[kn]=ಟುನಿಶಿಯ
Name[ko]=튀니지
Name[ku]=Tûnis
Name[lt]=Tunisas
Name[lv]=Tunisija
Name[mai]=ट्यूनीशिया
Name[mk]=Тунис
Name[ml]=ടുണീഷ്യ
Name[mr]=ट्युनीसीया
Name[ms]=Tunisia
Name[nb]=Tunisia
Name[nds]=Tunesien
Name[ne]=ट्युनिसिया
Name[nl]=Tunesië
Name[nn]=Tunisia
Name[oc]=Tunisia
Name[or]=ତୁନିସିଆ
Name[pa]=ਟੁਨੀਸ਼ੀਆ
Name[pl]=Tunezja
Name[pt]=Tunísia
Name[pt_BR]=Tunísia
Name[ro]=Tunisia
Name[ru]=Тунис
Name[se]=Tunisia
Name[si]=ටියුනීසියාව
Name[sk]=Tunisko
Name[sl]=Tunizija
Name[sr]=Тунис
Name[sr@ijekavian]=Тунис
Name[sr@ijekavianlatin]=Tunis
Name[sr@latin]=Tunis
Name[sv]=Tunisien
Name[ta]=துனிசியா
Name[te]=తునీషియా
Name[tg]=Тунис
Name[th]=ตูนีเซีย
Name[tr]=Tunus
Name[ug]=تۇنىس
Name[uk]=Туніс
Name[uz]=Tunis
Name[uz@cyrillic]=Тунис
Name[vi]=Tunisia
Name[wa]=Tunizeye
Name[xh]=Tunisia
Name[x-test]=xxTunisiaxx
Name[zh_CN]=突尼斯
Name[zh_TW]=突尼西亞
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TND
CurrencyCode=TND
