[KCM Locale]
Name=Panama
Name[af]=Panama
Name[ar]=بنما
Name[as]=পানামা
Name[ast]=Panamá
Name[be]=Панама
Name[be@latin]=Panama
Name[bg]=Панама
Name[bn]=পানামা
Name[bn_IN]=পানামা
Name[bs]=Panama
Name[ca]=Panamà
Name[ca@valencia]=Panamà
Name[cs]=Panama
Name[csb]=Panama
Name[cy]=Panama
Name[da]=Panama
Name[de]=Panama
Name[el]=Παναμάς
Name[en_GB]=Panama
Name[eo]=Panamo
Name[es]=Panamá
Name[et]=Panama
Name[eu]=Panama
Name[fa]=پاناما
Name[fi]=Panama
Name[fr]=Panama
Name[fy]=Panama
Name[ga]=Panama
Name[gd]=Panama
Name[gl]=Panamá
Name[gu]=પનામા
Name[he]=פנמה
Name[hi]=पनामा
Name[hne]=पनामा
Name[hr]=Panama
Name[hsb]=Panama
Name[hu]=Panama
Name[ia]=Panama
Name[id]=Panama
Name[is]=Panama
Name[it]=Panama
Name[ka]=პანამა
Name[kk]=Панама
Name[km]=ប៉ាណាម៉ា
Name[kn]=ಪನಾಮ
Name[ko]=파나마
Name[ku]=Panama
Name[lt]=Panama
Name[lv]=Panama
Name[mai]=पनामा
Name[mk]=Панама
Name[ml]=പനാമ
Name[mr]=पनामा
Name[ms]=Panama
Name[nb]=Panama
Name[nds]=Panama
Name[ne]=पानामा
Name[nl]=Panama
Name[nn]=Panama
Name[oc]=Panamà
Name[or]=ପାନାମା
Name[pa]=ਪੈਨਾਮਾ
Name[pl]=Panama
Name[pt]=Panamá
Name[pt_BR]=Panamá
Name[ro]=Panama
Name[ru]=Панама
Name[se]=Panama
Name[si]=පැනමා
Name[sk]=Panama
Name[sl]=Panama
Name[sr]=Панама
Name[sr@ijekavian]=Панама
Name[sr@ijekavianlatin]=Panama
Name[sr@latin]=Panama
Name[sv]=Panama
Name[ta]=பனாமா
Name[te]=పనమా
Name[tg]=Панама
Name[th]=ปานามา
Name[tr]=Panama
Name[ug]=پاناما
Name[uk]=Панама
Name[uz]=Panama
Name[uz@cyrillic]=Панама
Name[vi]=Panama
Name[wa]=Panama
Name[x-test]=xxPanamaxx
Name[zh_CN]=巴拿马
Name[zh_TW]=巴拿馬
Region=centralamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=PAB,USD
CurrencyCode=PAB
