<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The GNOME Project</vendor>
  <vendor_url>http://www.gnome.org/</vendor_url>
  <icon_name>org.gnome.SystemMonitor</icon_name>
  <action id="org.gnome.gnome-system-monitor.kill">
    <description>Kill process</description>
    <description xml:lang="zh_TW">強行終止程序</description>
    <description xml:lang="zh_HK">強行終止程序</description>
    <description xml:lang="zh_CN">杀死进程</description>
    <description xml:lang="vi">Buộc kết thúc tiến trình</description>
    <description xml:lang="uk">Вбити процес</description>
    <description xml:lang="ug">ئىجرانى ئۆلتۈر</description>
    <description xml:lang="tr">Süreci öldür</description>
    <description xml:lang="th">ฆ่าโพรเซส</description>
    <description xml:lang="tg">Қатъ кардани раванд</description>
    <description xml:lang="te">ప్రోసెస్ అంతముచేయి</description>
    <description xml:lang="ta">செயலை நிறுத்து</description>
    <description xml:lang="sv">Döda process</description>
    <description xml:lang="sr@latin">Ubij proces</description>
    <description xml:lang="sr">Убиј процес</description>
    <description xml:lang="sl">Uniči opravilo</description>
    <description xml:lang="sk">Zabitie procesu</description>
    <description xml:lang="ru">Завершить процесс</description>
    <description xml:lang="ro">Omoară procesul</description>
    <description xml:lang="pt_BR">Matar processo</description>
    <description xml:lang="pt">Matar processo</description>
    <description xml:lang="pl">Usunięcie procesu</description>
    <description xml:lang="pa">ਪਰੋਸੈੱਸ ਹੁਣੇ ਖਤਮ</description>
    <description xml:lang="or">ପ୍ରକ୍ରିୟାକୁ ବନ୍ଦକରନ୍ତୁ</description>
    <description xml:lang="oc">Tuar lo processus</description>
    <description xml:lang="nl">Proces vernietigen</description>
    <description xml:lang="ne">प्रक्रिया नष्ट</description>
    <description xml:lang="nb">Terminer prosess</description>
    <description xml:lang="mr">प्रोसेस बंद करा</description>
    <description xml:lang="ml">പ്രക്രിയ ഇല്ലാതാക്കുക</description>
    <description xml:lang="lv">Nobeigt procesu</description>
    <description xml:lang="lt">Nutraukti procesą</description>
    <description xml:lang="ky">Жараянды жок кылуу</description>
    <description xml:lang="ko">프로세스 강제 중단</description>
    <description xml:lang="kn">ಪ್ರಕ್ರಿಯೆಯನ್ನು ನಿಲ್ಲಿಸು</description>
    <description xml:lang="km">បញ្ចប់​ដំណើរការ</description>
    <description xml:lang="kk">Үрдісті өлтіру</description>
    <description xml:lang="ja">プロセスの強制終了</description>
    <description xml:lang="it">Uccidi processo</description>
    <description xml:lang="is">Drepa ferli</description>
    <description xml:lang="id">Matikan proses</description>
    <description xml:lang="hu">Folyamat kilövése</description>
    <description xml:lang="hr">Ubij proces</description>
    <description xml:lang="hi">प्रक्रिया बन्द करें</description>
    <description xml:lang="he">חיסול התהליך</description>
    <description xml:lang="gu">પ્રક્રિયા મારી નાખો</description>
    <description xml:lang="gl">Matar proceso</description>
    <description xml:lang="gd">Marbh am pròiseas</description>
    <description xml:lang="ga">Maraigh próiseas</description>
    <description xml:lang="fur">Cope procès</description>
    <description xml:lang="fr">Tuer le processus</description>
    <description xml:lang="fi">Tapa prosessi</description>
    <description xml:lang="fa">کشتن فراروند</description>
    <description xml:lang="eu">Hil prozesua</description>
    <description xml:lang="et">Tapa protsess</description>
    <description xml:lang="es">Matar proceso</description>
    <description xml:lang="eo">Ĉesigi procezon</description>
    <description xml:lang="en_GB">Kill process</description>
    <description xml:lang="el">Βίαιος τερματισμός διεργασίας</description>
    <description xml:lang="de">Prozess beenden</description>
    <description xml:lang="da">Terminér proces</description>
    <description xml:lang="cs">Zabít proces</description>
    <description xml:lang="ca@valencia">Mata el procés</description>
    <description xml:lang="ca">Mata el procés</description>
    <description xml:lang="bs">Blokiranje izvršavanja procesa</description>
    <description xml:lang="bn_IN">প্রক্রিয়াটিকে শেষ করুন</description>
    <description xml:lang="bg">Убиване на процеса</description>
    <description xml:lang="be">Забіць працэс</description>
    <description xml:lang="as">প্ৰক্ৰিয়া Kill কৰক</description>
    <description xml:lang="ar">اقتل العملية</description>
    <description xml:lang="an">Amortar o proceso</description>
    <message>Privileges are required to control other users’ processes</message>
    <message xml:lang="zh_TW">控制其他使用者的程序需要管理權限</message>
    <message xml:lang="zh_CN">控制其他用户的进程需要权限</message>
    <message xml:lang="uk">Потрібні права, щоб опанувати процеси інших користувачів</message>
    <message xml:lang="tr">Diğer kullanıcıların süreçlerini yönetmek için ayrıcalıklar gerekir</message>
    <message xml:lang="sv">Privilegier krävs för att kontrollera andra användares processer</message>
    <message xml:lang="sr@latin">Potrebna su ovlašćenja za upravljanje procesima drugih korisnika</message>
    <message xml:lang="sr">Потребна су овлашћења за управљање процесима других корисника</message>
    <message xml:lang="sl">Za nadzor uporabnikovih opravil so zahtevana skrbniška dovoljenja</message>
    <message xml:lang="sk">Na ovládanie procesov iných používateľov sú vyžadované privilégiá</message>
    <message xml:lang="ru">Привилегии, необходимые для управления процессами других пользователей</message>
    <message xml:lang="ro">Sunt necesare privilegii pentru a controla procesele celorlalți utilizatori</message>
    <message xml:lang="pt_BR">São necessários privilégios para controlar os processos de outros usuários</message>
    <message xml:lang="pt">São necessários privilégios para controlar processos de outros utilizadores</message>
    <message xml:lang="pl">Wymagane są uprawnienia, aby kontrolować procesy innych użytkowników</message>
    <message xml:lang="pa">ਹੋਰ ਵਰਤੋਂਕਾਰਾਂ ਦੇ ਪਰੋਸੈੱਸ ਲਈ ਅਧਿਕਾਰ ਚਾਹੀਦੇ ਹਨ</message>
    <message xml:lang="oc">Los dreits d'administrator son necessaris per contrarotlar los processus d'autres utilizaires</message>
    <message xml:lang="nl">U heeft beheerdersrechten nodig om processen van andere gebruikers te wijzigen</message>
    <message xml:lang="ne">अरु प्रयोगकर्ताको प्रक्रिया नियन्त्रण गर्न विशेषाधिकार आवश्यक पर्छ</message>
    <message xml:lang="nb">Rettigheter kreves for å kontrollere andre brukeres prosesser</message>
    <message xml:lang="ml">മറ്റൊരാളുടെ പ്രക്രിയ നിയന്ത്രിക്കാന്‍ അവകാശം ആവശ്യമുണ്ട്</message>
    <message xml:lang="lv">Vajadzīgas privilēģijas, lai vadītu citu lietotāju procesus</message>
    <message xml:lang="lt">Kitų naudotojų procesams valdyti reikia privilegijų</message>
    <message xml:lang="ko">다른 사용자 프로세스를 통제하려면 관리 권한이 필요합니다</message>
    <message xml:lang="kk">Басқа пайдаланушылардың үрдістерін бақылау үшін рұқсаттар керек</message>
    <message xml:lang="ja">他のユーザーのプロセスを制御するには権限が必要です。</message>
    <message xml:lang="it">Sono richiesti dei privilegi per controllare i processi di altri utenti</message>
    <message xml:lang="is">Nauðsynlegt er að hafa kerfisstjórnunarheimildir til að geta stjórnað ferlum annarra notenda</message>
    <message xml:lang="id">Hak khusus diperlukan untuk mengendalikan proses milik pengguna lain</message>
    <message xml:lang="hu">Jogosultság szükséges más felhasználó folyamatainak vezérléséhez</message>
    <message xml:lang="hr">Ovlasti su potrebne za upravljanje procesima drugih korisnika</message>
    <message xml:lang="gl">Requírense privilexios para controlar os procesos doutros usuarios</message>
    <message xml:lang="gd">Tha feum air pribhleidean mus faigh thu smachd air pròiseasan càch</message>
    <message xml:lang="fur">A coventin privileçs par controlâ i procès di altris utents</message>
    <message xml:lang="fr">Les droits d’administrateur sont nécessaires pour contrôler les processus d’autres utilisateurs</message>
    <message xml:lang="fi">Muiden käyttäjien prosessien hallinta vaatii riittävät oikeudet</message>
    <message xml:lang="fa">دسترسی‌ها جهت کنترل فراروند‌های سایر کاربران لازم است</message>
    <message xml:lang="eu">Pribilegioak behar dira beste erabiltzaileen prozesuak kontrolatzeko</message>
    <message xml:lang="es">Se necesitan privilegios para controlar procesos de otros usuarios</message>
    <message xml:lang="eo">Necesas privilegioj, por administri procezojn de aliaj uzantoj</message>
    <message xml:lang="en_GB">Privileges are required to control other users’ processes</message>
    <message xml:lang="el">Απαιτούνται δικαιώματα για τον έλεγχο διεργασιών άλλων χρηστών</message>
    <message xml:lang="de">Berechtigung zur Steuerung der Prozesse anderer Benutzer wird benötigt</message>
    <message xml:lang="da">Privilegier er påkrævet for at kontrollere andre brugeres processer</message>
    <message xml:lang="cs">K ovládání procesu jiného uživatele je nutné oprávnění</message>
    <message xml:lang="ca@valencia">Es requereixen privilegis per controlar els processos d'altres usuaris</message>
    <message xml:lang="ca">Es requereixen privilegis per controlar els processos d'altres usuaris</message>
    <message xml:lang="bg">Необходими са привилегии за управление на процесите на други потребители</message>
    <message xml:lang="be">Для кіравання працэсамі іншых карыстальнікаў патрэбны адпаведны дазвол</message>
    <message xml:lang="ar">الامتيازات مطلوبة للتحكم في عمليات المستخدمين الآخرين</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/snap/gnome-system-monitor/current/usr/libexec/gnome-system-monitor/gsm-kill</annotate>
  </action>
  <action id="org.gnome.gnome-system-monitor.renice">
    <description>Renice process</description>
    <description xml:lang="zh_TW">重設程序 nice 值</description>
    <description xml:lang="zh_HK">重設程序 nice 值</description>
    <description xml:lang="zh_CN">修改进程优先级</description>
    <description xml:lang="vi">Đổi mức ưu tiên tiến trình</description>
    <description xml:lang="uk">Змінити люб'язність процесу</description>
    <description xml:lang="ug">ئىجرانىڭ مەرتىۋىسىنى ئۆزگەرت</description>
    <description xml:lang="tr">Süreci devam ettir</description>
    <description xml:lang="th">เปลี่ยนค่า nice ของโพรเซส</description>
    <description xml:lang="tg">Анҷоми раванд</description>
    <description xml:lang="te">ప్రోసెస్ను రీనైస్ చేయి</description>
    <description xml:lang="ta">பணியை தொடரவும்</description>
    <description xml:lang="sv">Ändra prioritet för process</description>
    <description xml:lang="sr@latin">Nastavi proces</description>
    <description xml:lang="sr">Настави процес</description>
    <description xml:lang="sl">Ponovno oceni prednost delovanja</description>
    <description xml:lang="sk">Zmena ohľaduplnosti procesu</description>
    <description xml:lang="ru">Изменить уступчивость процесса</description>
    <description xml:lang="ro">Schimbă prioritatea procesului</description>
    <description xml:lang="pt_BR">Mudar prioridade do processo</description>
    <description xml:lang="pt">Repriorizar processo</description>
    <description xml:lang="pl">Zmiana priorytetu procesu</description>
    <description xml:lang="pa">ਪਰੋਸੈੱਸ ਰੀ-ਨਾਈਸ</description>
    <description xml:lang="or">Renice ପ୍ରକ୍ରିୟା</description>
    <description xml:lang="oc">Modificar la valor « nice » del processus</description>
    <description xml:lang="nl">Prioriteit proces wijzigenen</description>
    <description xml:lang="ne">प्रक्रिया पुन राम्रो</description>
    <description xml:lang="nb">Kjør renice på prosess</description>
    <description xml:lang="mr">प्रोसेस रिनाइस करा</description>
    <description xml:lang="ml">പ്രക്രിയ റീനൈസ് ചെയ്യുക</description>
    <description xml:lang="lv">Mainīt procesa prioritāti</description>
    <description xml:lang="lt">Keisti proceso prioritetą</description>
    <description xml:lang="ky">Жараян алгачкылыгын өзгөртүү</description>
    <description xml:lang="ko">프로세스 우선 순위 바꾸기</description>
    <description xml:lang="kn">ಪ್ರಕ್ರಿಯೆಯನ್ನು Renice ಮಾಡು</description>
    <description xml:lang="km">បន្ត​ដំណើរការ</description>
    <description xml:lang="kk">Үрдіс ергіштігін өзгерту</description>
    <description xml:lang="ja">プロセスの優先度の変更</description>
    <description xml:lang="it">Modifica priorità</description>
    <description xml:lang="is">Forgangsbreyting ferlis</description>
    <description xml:lang="id">Ubah nice proses</description>
    <description xml:lang="hu">Folyamat nice értékének módosítása</description>
    <description xml:lang="hr">Ponovno procjeni prioritet izvođenja</description>
    <description xml:lang="hi">प्रक्रिया री-नाइस करें</description>
    <description xml:lang="he">ביצוע Renice לתהליך</description>
    <description xml:lang="gu">Renice પ્રક્રિયા</description>
    <description xml:lang="gl">Mudar a prioridade do proceso</description>
    <description xml:lang="gd">Renice-ig am pròiseas</description>
    <description xml:lang="ga">Athraigh tosaíocht próisis</description>
    <description xml:lang="fur">Modifiche prioritât</description>
    <description xml:lang="fr">Modifier la valeur « nice » du processus</description>
    <description xml:lang="fi">Muuta prosessin prioriteettia</description>
    <description xml:lang="fa">نایس مجدد فراروند</description>
    <description xml:lang="eu">Aldatu prozesuaren lehentasuna</description>
    <description xml:lang="et">Muuda protsessi olulisust</description>
    <description xml:lang="es">Cambiar la prioridad del proceso</description>
    <description xml:lang="eo">Reasigni prioritaton de procezo</description>
    <description xml:lang="en_GB">Renice process</description>
    <description xml:lang="el">Νέα προτεραιότητα διεργασίας</description>
    <description xml:lang="de">Priorität ändern</description>
    <description xml:lang="da">Ændr procesprioritet</description>
    <description xml:lang="cs">Změnit prioritu procesu</description>
    <description xml:lang="ca@valencia">Prioritza el procés</description>
    <description xml:lang="ca">Prioritza el procés</description>
    <description xml:lang="bs">Promjena prioriteta procesa</description>
    <description xml:lang="bn_IN">প্রক্রিয়া রি-নাইস করুন</description>
    <description xml:lang="bg">Приоритет на процес</description>
    <description xml:lang="be">_Змяніць прыярытэт працэсу</description>
    <description xml:lang="as">প্ৰক্ৰিয়া Renice কৰক</description>
    <description xml:lang="ar">اضبط أولوية العملية</description>
    <description xml:lang="an">Cambiar a prioridat d'o proceso</description>
    <message>Privileges are required to change the priority of processes</message>
    <message xml:lang="zh_TW">改變程序的優先等級需要管理權限</message>
    <message xml:lang="zh_HK">改變程序的優先等級需要管理權限</message>
    <message xml:lang="zh_CN">更改进程优先级需要权限</message>
    <message xml:lang="vi">Các đặc quyền yêu cầu phải đổi mức ưu tiên của tiến trình</message>
    <message xml:lang="uk">Потрібні права, щоб змінити пріоритет процесів</message>
    <message xml:lang="tr">Sürecin öncelik sırasını değiştirmek için ayrıcalıklar gerekir</message>
    <message xml:lang="th">ต้องใช้สิทธิพิเศษในการเปลี่ยนลำดับความสำคัญของโพรเซส</message>
    <message xml:lang="tg">Барои тағйирдиҳии афзалияти равандҳо иҷозатҳо лозиманд</message>
    <message xml:lang="te">ప్రోసెస్ యొక్క ప్రాముఖ్యతను మార్చుటకు అనుమతులు కావాలి</message>
    <message xml:lang="ta">செயலின் முக்கியத்துவத்தை மாற்ற உயர் அனுமதி தேவை</message>
    <message xml:lang="sv">Privilegier krävs för att ändra prioritet för en process</message>
    <message xml:lang="sr@latin">Potrebna su ovlašćenja za promenu važnosti procesa</message>
    <message xml:lang="sr">Потребна су овлашћења за промену важности процеса</message>
    <message xml:lang="sl">Za spreminjanje prednosti opravil so zahtevana skrbniška dovoljenja</message>
    <message xml:lang="sk">Na zmenenie priority procesov sú vyžadované privilégiá</message>
    <message xml:lang="ru">Привилегии, необходимые для изменения приоритета процессов</message>
    <message xml:lang="ro">Sunt necesare privilegii pentru a putea schimba prioritatea proceselor</message>
    <message xml:lang="pt_BR">São necessários privilégios para mudar a prioridade dos processos</message>
    <message xml:lang="pt">São necessários privilégios para alterar a prioridade de processos</message>
    <message xml:lang="pl">Wymagane są uprawnienia, aby zmieniać priorytety procesów</message>
    <message xml:lang="pa">ਪਰੋਸੈੱਸ ਦੀ ਤਰਜੀਹ ਤਬਦੀਲ ਕਰਨ ਲਈ ਅਧਿਕਾਰ ਚਾਹੀਦੇ ਹਨ</message>
    <message xml:lang="oc">Los dreits d'administrator son necessaris per modificar la prioritat dels processus</message>
    <message xml:lang="nl">U heeft beheerdersrechten nodig om de prioriteit van processen te wijzigen</message>
    <message xml:lang="ne">प्रक्रियाको प्राथमिकता परिवर्तन गर्न विशेषाधिकार आवश्यक पर्छ</message>
    <message xml:lang="nb">Rettigheter kreves for å endre prioritet på prosesser</message>
    <message xml:lang="mr">प्रोसेसेसची प्राधान्यता बदलवण्याकरिता परवानगी आवश्यक आहे</message>
    <message xml:lang="ml">പ്രക്രിയയുടെ മുന്‍ഗണന മാറ്റുവാന്‍ അവകാശം ആവശ്യമുണ്ട്</message>
    <message xml:lang="lv">Vajadzīgas privilēģijas, lai mainītu procesu prioritāti</message>
    <message xml:lang="lt">Proceso prioritetui keisti reikia privilegijų</message>
    <message xml:lang="ky">Жараяндардын алгачкылыгын өзгөртүү үчүн, артыкчылыктар талап кылынат</message>
    <message xml:lang="ko">프로세스의 우선 순위를 바꾸려면 관리 권한이 필요합니다</message>
    <message xml:lang="kn">ಪ್ರಕ್ರಿಯೆಗಳ ಆದ್ಯತೆಯನ್ನು ಬದಲಾಯಿಸಲು ಅಧಿಕಾರಗಳ ಅಗತ್ಯವಿರುತ್ತದೆ</message>
    <message xml:lang="km">បាន​ទាមទារ​សិទ្ធិ​ដើម្បី​ប្ដូរ​អាទិភាព​ដំណើរការ</message>
    <message xml:lang="kk">Үрдістердің приоритеттерін өзгерту үшін рұқсаттар керек</message>
    <message xml:lang="ja">プロセスの優先度を変更するには権限が必要です。</message>
    <message xml:lang="it">Sono richiesti dei privilegi per poter modificare la priorità dei processi</message>
    <message xml:lang="is">Nauðsynlegt er að hafa kerfisstjórnunarheimildir til að breyta forgangi ferla</message>
    <message xml:lang="id">Hak khusus diperlukan untuk mengubah prioritas proses</message>
    <message xml:lang="hu">Jogosultság szükséges a folyamatok prioritásának módosításához</message>
    <message xml:lang="hr">Ovlasti su potrebne za promjenu prioriteta procesa</message>
    <message xml:lang="hi">प्रक्रिया की वरीयता बदलना जरूरी है</message>
    <message xml:lang="he">נדרשות הרשאות כדי לשנות את עדיפות התהליכים</message>
    <message xml:lang="gl">Requírense privilexios para mudar a prioridade dos procesos</message>
    <message xml:lang="gd">Tha feum air pribhleidean mus urrainn dhut am prìomhachas aig pròiseas atharrachadh</message>
    <message xml:lang="fur">A coventin privileçs par podê modificâ la prioritât dai procès</message>
    <message xml:lang="fr">Les droits d’administrateur sont nécessaires pour modifier la priorité des processus</message>
    <message xml:lang="fi">Prosessien prioriteetin muuttaminen vaatii riittävät oikeudet</message>
    <message xml:lang="fa">دسترسی‌ها جهت تغییر الویت فراروندها لازم است</message>
    <message xml:lang="eu">Pribilegioak behar dira prozesuen lehentasuna aldatzeko</message>
    <message xml:lang="et">Kasutaja protsesside olulisuse muutmiseks on vajalikud vastavad õigused</message>
    <message xml:lang="es">Se necesitan privilegios para cambiar la prioridad de los procesos</message>
    <message xml:lang="eo">Necesas privilegioj, por ŝanĝi prioritaton de procezoj</message>
    <message xml:lang="en_GB">Privileges are required to change the priority of processes</message>
    <message xml:lang="el">Απαιτούνται δικαιώματα για την αλλαγή προτεραιότητας διεργασιών</message>
    <message xml:lang="de">Berechtigung zum Ändern der Priorität der Prozesse wird benötigt</message>
    <message xml:lang="da">Privilegier er påkrævet for at ændre prioritet for processer</message>
    <message xml:lang="cs">Ke změně priority procesu je nutné oprávnění</message>
    <message xml:lang="ca@valencia">Es requereixen privilegis per canviar la prioritat dels processos</message>
    <message xml:lang="ca">Es requereixen privilegis per canviar la prioritat dels processos</message>
    <message xml:lang="bs">Privilegije koje su potrebne za promjenu prioriteta procesa</message>
    <message xml:lang="bn_IN">প্রক্রিয়াগুলির অগ্রাধিকার পরিবর্তন করতে বিশেষাধিকারের প্রয়োজন</message>
    <message xml:lang="bg">Необходими са привилегии за промяна приоритета на процес</message>
    <message xml:lang="be">Для змянення прыярытэту працэсаў патрэбны адпаведны дазвол</message>
    <message xml:lang="as">প্ৰক্ৰিয়াসমূহৰ প্ৰাথমিকতা পৰিবৰ্তন কৰিবলৈ সুবিধাসমূহৰ প্ৰয়োজন</message>
    <message xml:lang="ar">الامتيازات مطلوبة لتغيير أولوية العملية</message>
    <message xml:lang="an">S'amenesten privilechios ta cambiar a prioridat d'os procesos</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/snap/gnome-system-monitor/current/usr/libexec/gnome-system-monitor/gsm-renice</annotate>
  </action>
</policyconfig>
