[KCM Locale]
Name=Lesotho
Name[af]=Lesotho
Name[ar]=ليسوتو
Name[as]=লেছোথো
Name[ast]=Lesothu
Name[be]=Лесота
Name[be@latin]=Lesota
Name[bg]=Лесото
Name[bn]=লেসোথো
Name[bn_IN]=লেসোথো
Name[br]=Lesoto
Name[bs]=Lesoto
Name[ca]=Lesotho
Name[ca@valencia]=Lesotho
Name[cs]=Lesotho
Name[csb]=Lesoto
Name[cy]=Lesotho
Name[da]=Lesotho
Name[de]=Lesotho
Name[el]=Λεσότο
Name[en_GB]=Lesotho
Name[eo]=Lesoto
Name[es]=Lesotho
Name[et]=Lesotho
Name[eu]=Lesotho
Name[fa]=لسوتو
Name[fi]=Lesotho
Name[fr]=Lesotho
Name[fy]=Lesotho
Name[ga]=Leosóta
Name[gd]=Leasoto
Name[gl]=Lesoto
Name[gu]=લેસોથો
Name[he]=לסוטו
Name[hi]=लेसोथो
Name[hne]=लेसोथो
Name[hr]=Lesoto
Name[hsb]=Lesotho
Name[hu]=Lesotho
Name[ia]=Lesotho
Name[id]=Lesotho
Name[is]=Lesótó
Name[it]=Lesotho
Name[ka]=ლესოტო
Name[kk]=Лесото
Name[km]=ឡេសូតូ
Name[kn]=ಲೆಸೊಥೊ
Name[ko]=레소토
Name[ku]=Lesoto
Name[lt]=Lesotho
Name[lv]=Lesoto
Name[mai]=लेसोथो
Name[mk]=Лесото
Name[ml]=ലെസോത്തേ
Name[mr]=लेसेथो
Name[ms]=Lesotho
Name[nb]=Lesotho
Name[nds]=Lesotho
Name[ne]=लोसेथो
Name[nl]=Lesotho
Name[nn]=Lesotho
Name[oc]=Lesoto
Name[or]=ଲେସୋଥୋ
Name[pa]=ਲਿਉਥੂ
Name[pl]=Lesoto
Name[pt]=Lesoto
Name[pt_BR]=Lesoto
Name[ro]=Lesoto
Name[ru]=Лесото
Name[se]=Lesotho
Name[si]=Lesotho
Name[sk]=Lesotho
Name[sl]=Lesoto
Name[sr]=Лесото
Name[sr@ijekavian]=Лесото
Name[sr@ijekavianlatin]=Lesoto
Name[sr@latin]=Lesoto
Name[sv]=Lesotho
Name[ta]=லஸொதோ
Name[te]=లెసొథొ
Name[tg]=Лесото
Name[th]=เลโซโท
Name[tr]=Lesoto
Name[ug]=لېسوتو
Name[uk]=Лесото
Name[uz]=Lesoto
Name[uz@cyrillic]=Лесото
Name[vi]=Lesotho
Name[wa]=Lessoto
Name[x-test]=xxLesothoxx
Name[zh_CN]=莱索托
Name[zh_TW]=賴索扥
Region=southafrica
Languages=en_GB,zu,xh,st
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=LSL,ZAR
CurrencyCode=LSL,ZAR
