[KCM Locale]
Name=Costa Rica
Name[af]=Costa Rica
Name[ar]=كوستاريكا
Name[as]=কোস্টা ৰিকা
Name[ast]=Costa Rica
Name[be]=Коста Рыка
Name[be@latin]=Kosta Ryka
Name[bg]=Коста Рика
Name[bn]=কোস্টা রিকা
Name[bn_IN]=কোস্টা রিকা
Name[bs]=Kostarika
Name[ca]=Costa Rica
Name[ca@valencia]=Costa Rica
Name[cs]=Kostarika
Name[csb]=Kòstarëkô
Name[cy]=Costa Rica
Name[da]=Costa Rica
Name[de]=Costa Rica
Name[el]=Κόστα Ρίκα
Name[en_GB]=Costa Rica
Name[eo]=Kostariko
Name[es]=Costa Rica
Name[et]=Costa Rica
Name[eu]=Costa Rica
Name[fa]=کستاریکا
Name[fi]=Costa Rica
Name[fr]=Costa Rica
Name[fy]=Costa Rica
Name[ga]=Cósta Ríce
Name[gd]=Costa Rìcea
Name[gl]=Costa Rica
Name[gu]=કોસ્ટા રિકા
Name[he]=קוסטה ריקה
Name[hi]=कोस्टा रिका
Name[hne]=कोस्टा रिका
Name[hr]=Kostarika
Name[hsb]=Costa Rica
Name[hu]=Costa Rica
Name[ia]=Costa Rica
Name[id]=Kosta Rika
Name[is]=Kostaríka
Name[it]=Costa Rica
Name[ka]=კოსტა რიკა
Name[kk]=Коста-Рика
Name[km]=កូស្តារីកា
Name[kn]=ಕೋಸ್ಟ ರಿಕಾ
Name[ko]=코스타리카
Name[ku]=Kosta Rîka
Name[lt]=Kosta Rika
Name[lv]=Kostarika
Name[mai]=कोस्टा रिका
Name[mk]=Коста Рика
Name[ml]=കൊസ്റ്ററിക്കാ
Name[mr]=कोस्टा रिका
Name[ms]=Costa Rica
Name[nb]=Costa Rica
Name[nds]=Costa Rica
Name[ne]=कोस्टारिका
Name[nl]=Costa Rica
Name[nn]=Costa Rica
Name[oc]=Còsta Rica
Name[or]=କୋଷ୍ଟାରିକା
Name[pa]=ਕੋਸਟਾ ਰੀਕਾ
Name[pl]=Kostaryka
Name[pt]=Costa Rica
Name[pt_BR]=Costa Rica
Name[ro]=Costa Rica
Name[ru]=Коста-Рика
Name[se]=Costa Rica
Name[si]=කොස්ට රිකා
Name[sk]=Kostarika
Name[sl]=Kostarika
Name[sr]=Костарика
Name[sr@ijekavian]=Костарика
Name[sr@ijekavianlatin]=Kostarika
Name[sr@latin]=Kostarika
Name[sv]=Costa Rica
Name[ta]=கோஸ்டா ரிகா
Name[te]=కొస్టా రికా
Name[tg]=Коста Рика
Name[th]=คอสตาริกา
Name[tr]=Kosta Rika
Name[ug]=كوستارىكا
Name[uk]=Коста-Рика
Name[uz]=Kosta Rika
Name[uz@cyrillic]=Коста Рика
Name[vi]=Co-x-ta Rí-cạ
Name[wa]=Costa Rica
Name[xh]=Costa Rica
Name[x-test]=xxCosta Ricaxx
Name[zh_CN]=哥斯达黎加
Name[zh_TW]=哥斯大黎加
Region=centralamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%A, %e de %B de %Y
DateFormatShort=%d/%m/%y
TimeFormat=%I:%M:%S %p
WeekStartDay=1
PageSize=2
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=CRC
CurrencyCode=CRC
