[KCM Locale]
Name=Armenia
Name[ar]=أرمينيا
Name[ast]=Armenia
Name[bs]=Armenija
Name[ca]=Armènia
Name[ca@valencia]=Armènia
Name[cs]=Arménie
Name[da]=Armenien
Name[de]=Armenien
Name[en_GB]=Armenia
Name[es]=Armenia
Name[et]=Armeenia
Name[eu]=Armenia
Name[fa]=ارمنستان
Name[fi]=Armenia
Name[fr]=Arménie
Name[gd]=Airmeinia
Name[gl]=Armenia
Name[hr]=Armenija
Name[hu]=Örményország
Name[ia]=Armenia
Name[id]=Armenia
Name[is]=Armenía
Name[it]=Armenia
Name[ka]=სასომხეთი
Name[ko]=아르메니아
Name[lt]=Armėnija
Name[lv]=Armēnija
Name[mr]=आर्मेनिया
Name[nb]=Armenia
Name[nds]=Armenien
Name[nl]=Armeens
Name[nn]=Armenia
Name[pa]=ਅਰਮੀਨੀਆ
Name[pl]=Armenia
Name[pt]=Arménia
Name[pt_BR]=Armênia
Name[ru]=Армения
Name[se]=Armenia
Name[sk]=Arménsko
Name[sl]=Armenija
Name[sr]=Јерменија
Name[sr@ijekavian]=Јерменија
Name[sr@ijekavianlatin]=Jermenija
Name[sr@latin]=Jermenija
Name[sv]=Armenien
Name[tg]=Арманистон
Name[tr]=Ermenistan
Name[uk]=Вірменія
Name[x-test]=xxArmeniaxx
Name[zh_CN]=亚美尼亚城
Name[zh_TW]=亞美尼亞
Region=middleeast
Languages=hy
DecimalSymbol=,
ThousandsSeparator=.
# FIXME Name is Dram, symbol is unknown
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
DateFormat[hy]=%A,%B %e, %Y
DateFormatShort=%m/%d/%y
TimeFormat=%H:%M:%S
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AMD
CurrencyCode=AMD
