[KCM Locale]
Name=Senegal
Name[af]=Senegal
Name[ar]=السنغال
Name[as]=চেনেগাল
Name[ast]=Senegal
Name[be]=Сенегал
Name[be@latin]=Senehał
Name[bg]=Сенегал
Name[bn]=সেনেগল
Name[bn_IN]=সেনেগাল
Name[br]=Senegal
Name[bs]=Senegal
Name[ca]=Senegal
Name[ca@valencia]=Senegal
Name[cs]=Senegal
Name[csb]=Senegal
Name[cy]=Senegal
Name[da]=Senegal
Name[de]=Senegal
Name[el]=Σενεγάλη
Name[en_GB]=Senegal
Name[eo]=Senegalo
Name[es]=Senegal
Name[et]=Senegal
Name[eu]=Senegal
Name[fa]=سنگال
Name[fi]=Senegal
Name[fr]=Sénégal
Name[fy]=Senegal
Name[ga]=An tSeineagáil
Name[gd]=Seanagal
Name[gl]=Senegal
Name[gu]=સેનેગલ
Name[he]=סנגל
Name[hi]=सेनेगल
Name[hne]=सेनेगल
Name[hr]=Senegal
Name[hsb]=Senegal
Name[hu]=Szenegál
Name[ia]=Senegal
Name[id]=Senegal
Name[is]=Senegal
Name[it]=Senegal
Name[ka]=სენეგალი
Name[kk]=Сенегал
Name[km]=សេនេហ្គាល់
Name[kn]=ಸೆನೆಗಲ್
Name[ko]=세네갈
Name[ku]=Senegal
Name[lt]=Senegalas
Name[lv]=Senegāla
Name[mai]=सेनेगल
Name[mk]=Сенегал
Name[ml]=സെനഗല്‍
Name[mr]=सेनेगल
Name[ms]=Senegal
Name[nb]=Senegal
Name[nds]=Senegal
Name[ne]=सेनेगल
Name[nl]=Senegal
Name[nn]=Senegal
Name[oc]=Senegal
Name[or]=ସେନେଗାଲ
Name[pa]=ਸੈਨੇਗਾਲ
Name[pl]=Senegal
Name[pt]=Senegal
Name[pt_BR]=Senegal
Name[ro]=Senegal
Name[ru]=Сенегал
Name[se]=Senegal
Name[si]=සෙනගාලය
Name[sk]=Senegal
Name[sl]=Senegal
Name[sr]=Сенегал
Name[sr@ijekavian]=Сенегал
Name[sr@ijekavianlatin]=Senegal
Name[sr@latin]=Senegal
Name[sv]=Senegal
Name[ta]=சீனேகல்
Name[te]=సెనెగల్
Name[tg]=Сенегал
Name[th]=เซเนกัล
Name[tr]=Senegal
Name[ug]=سېنېگال
Name[uk]=Сенегал
Name[uz]=Senegal
Name[uz@cyrillic]=Сенегал
Name[vi]=Senegal
Name[wa]=Senegål
Name[x-test]=xxSenegalxx
Name[zh_CN]=塞纳加尔
Name[zh_TW]=塞內加爾
Region=westafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XOF
CurrencyCode=XOF
