[KCM Locale]
Author=Eugene Zelenko <greendeath@mail.ru>
Name=Belarus
Name[ar]=بيلاروسيا
Name[ast]=Bielorrusia
Name[bs]=Bjelorusija
Name[ca]=Bielorússia
Name[ca@valencia]=Bielorússia
Name[cs]=Bělorusko
Name[da]=Hviderusland
Name[de]=Weißrussland
Name[en_GB]=Belarus
Name[es]=Bielorrusia
Name[et]=Valgevene
Name[eu]=Bielorrusia
Name[fa]=بلاروس
Name[fi]=Valko-Venäjä
Name[fr]=Biélorussie
Name[gd]=A' Bhealaruis
Name[gl]=Bielorrusia
Name[hr]=Bjelorusija
Name[hu]=Fehéroroszország
Name[ia]=Bielorussia
Name[id]=Belarus
Name[is]=Hvíta-Rússland
Name[it]=Bielorussia
Name[ka]=ბელარუსი
Name[ko]=벨라루스
Name[lt]=Baltarusija
Name[lv]=Baltkrievija
Name[mr]=बेलारूस
Name[nb]=Hviterussland
Name[nds]=Wittrussland
Name[nl]=Wit-Rusland
Name[nn]=Kviterussland
Name[pa]=ਬੇਲਾਰੂਸ
Name[pl]=Białoruś
Name[pt]=Bielorrússia
Name[pt_BR]=Bielorrússia
Name[ru]=Белоруссия
Name[se]=Vilges-Ruošša
Name[sk]=Bielorusko
Name[sl]=Belorusija
Name[sr]=Белорусија
Name[sr@ijekavian]=Бјелорусија
Name[sr@ijekavianlatin]=Bjelorusija
Name[sr@latin]=Belorusija
Name[sv]=Vitryssland
Name[tg]=Белорусия
Name[tr]=Belarus
Name[uk]=Білорусь
Name[x-test]=xxBelarusxx
Name[zh_CN]=白俄罗斯
Name[zh_TW]=白俄羅斯
Region=easteurope
Languages=be,ru
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
CalendarSystem=gregorian
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BYR
CurrencyCode=BYR
