[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=Speech Dispatcher
Name[de]=Speech Dispatcher
Comment=Interface to Text to Speech services
Comment[de]=Schnittstelle zu den Text-zu-Sprache-Diensten
TryExec=speech-dispatcher
Exec=speech-dispatcher
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
