[KCM Locale]
Name=Nicaragua
Name[af]=Nikaragua
Name[ar]=نيكاراغوا
Name[as]=নিকাৰাগুৱা
Name[ast]=Nicaragua
Name[be]=Нікарагуа
Name[be@latin]=Nikarahua
Name[bg]=Никарагуа
Name[bn]=নিকারাগুয়া
Name[bn_IN]=নিকারাগুয়া
Name[bs]=Nikaragva
Name[ca]=Nicaragua
Name[ca@valencia]=Nicaragua
Name[cs]=Nikaragua
Name[csb]=Nikaragua
Name[cy]=Nicaragwa
Name[da]=Nicaragua
Name[de]=Nicaragua
Name[el]=Νικαράγουα
Name[en_GB]=Nicaragua
Name[eo]=Nikaragvo
Name[es]=Nicaragua
Name[et]=Nikaraagua
Name[eu]=Nikaragua
Name[fa]=نیکاراگوئه
Name[fi]=Nicaragua
Name[fr]=Nicaragua
Name[fy]=Nicaragua
Name[ga]=Nicearagua
Name[gd]=Niocaragua
Name[gl]=Nicaragua
Name[gu]=નિકારાગુઆ
Name[he]=ניקרגואה
Name[hi]=निकारागुआ
Name[hne]=निकारागुआ
Name[hr]=Nikaragva
Name[hsb]=Nikaraguwa
Name[hu]=Nicaragua
Name[ia]=Nicaragua
Name[id]=Nikaragua
Name[is]=Níkaragva
Name[it]=Nicaragua
Name[ka]=ნიკარაგუა
Name[kk]=Никарагуа
Name[km]=នីការ៉ាហ្គ័រ
Name[kn]=ನಿಕರಾಗುವ
Name[ko]=니카라과
Name[ku]=Nîkaragûa
Name[lt]=Nikaragva
Name[lv]=Nikaragva
Name[mai]=निकारागुआ
Name[mk]=Никарагва
Name[ml]=നിക്കരാഗ്വ
Name[mr]=निकारागुआ
Name[ms]=Nicaragua
Name[nb]=Nicaragua
Name[nds]=Nicaragua
Name[ne]=निकारागुआ
Name[nl]=Nicaragua
Name[nn]=Nicaragua
Name[oc]=Paraguai
Name[or]=ନିକାରାଗୁଆ
Name[pa]=ਨਿਕਾਰਗੁਆ
Name[pl]=Nikaragua
Name[pt]=Nicarágua
Name[pt_BR]=Nicarágua
Name[ro]=Nicaragua
Name[ru]=Никарагуа
Name[se]=Nicaragua
Name[si]=නිකරගුවාව
Name[sk]=Nikaragua
Name[sl]=Nikaragva
Name[sr]=Никарагва
Name[sr@ijekavian]=Никарагва
Name[sr@ijekavianlatin]=Nikaragva
Name[sr@latin]=Nikaragva
Name[sv]=Nicaragua
Name[ta]=நிகராகுவே
Name[te]=నికరాగువా
Name[tg]=Никарагуа
Name[th]=นิคารากัว
Name[tr]=Nikaragua
Name[ug]=نىكاراگۇئا
Name[uk]=Нікарагуа
Name[uz]=Nikaragua
Name[uz@cyrillic]=Никарагуа
Name[vi]=Nicaragua
Name[wa]=Nicaragwa
Name[x-test]=xxNicaraguaxx
Name[zh_CN]=尼加拉瓜
Name[zh_TW]=尼加拉瓜
Region=centralamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%A, %e de %B de %Y
DateFormatShort=%d-%m-%y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=2
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NIO
CurrencyCode=NIO
