[KCM Locale]
Name=Hindi
Name[af]=Hindi
Name[ar]=الهنديّة
Name[as]=হিন্দী
Name[ast]=Hindi
Name[be]=Хіндзі
Name[be@latin]=Hindzi
Name[bg]=Хинди
Name[bn]=হিন্দী
Name[bn_IN]=হিন্দি
Name[br]=Hindi
Name[bs]=hindu
Name[ca]=Hindi
Name[ca@valencia]=Hindi
Name[cs]=Hindi
Name[csb]=Hindi
Name[cy]=Hindi
Name[da]=Hindi
Name[de]=Hindi
Name[el]=Χίντι
Name[en_GB]=Hindi
Name[eo]=Hinda
Name[es]=Hindi
Name[et]=Hindi
Name[eu]=Hindi
Name[fa]=هندی
Name[fi]=Hindi
Name[fr]=Hindi
Name[fy]=Hindy
Name[ga]=Hiondúis
Name[gd]=Hindis
Name[gl]=Hindi
Name[gu]=હિન્દી
Name[he]=הינדית
Name[hi]=हिन्दी
Name[hne]=हिन्दी
Name[hr]=Hinduski
Name[hsb]=Hindi
Name[hu]=Hindi
Name[ia]=Hindi 
Name[id]=Hindi
Name[is]=Hindí
Name[it]=Hindi
Name[ja]=ヒンディー語
Name[kk]=Хинди
Name[km]=ហិណ្ឌូ
Name[kn]=ಹಿಂದಿ
Name[ko]=힌디어
Name[ku]=Hîndî
Name[lb]=Hindi
Name[lt]=Hindi
Name[lv]=Hindu
Name[mai]=हिन्दी
Name[mk]=Индијски
Name[ml]=ഹിന്ദി
Name[mr]=हिंदी
Name[ms]=Hindi
Name[nb]=Hindi
Name[nds]=Hindi
Name[ne]=हिन्दी
Name[nl]=Hindi
Name[nn]=Hindi
Name[oc]=Indi
Name[or]=ହିନ୍ଦି
Name[pa]=ਹਿੰਦੀ
Name[pl]=Hindi
Name[ps]=هندي
Name[pt]=Hindu
Name[pt_BR]=Hindi
Name[ro]=Hindi
Name[ru]=Хинди
Name[se]=Hindigiella
Name[si]=හින්දි
Name[sk]=Hindčina
Name[sl]=Hindujščina
Name[sr]=хинду
Name[sr@ijekavian]=хинду
Name[sr@ijekavianlatin]=hindu
Name[sr@latin]=hindu
Name[sv]=Hindi
Name[ta]=ஹிந்தி
Name[te]=హింది
Name[tg]=Ҳиндӣ
Name[th]=ภาษาฮินดู
Name[tr]=Hintçe
Name[tt]=Һинд
Name[ug]=ھىندىچە
Name[uk]=Хінді
Name[uz]=Hindcha
Name[uz@cyrillic]=Ҳиндча
Name[vi]=Hindi
Name[wa]=Hindi
Name[x-test]=xxHindixx
Name[zh_CN]=印地语
Name[zh_HK]=印度語
Name[zh_TW]=北印度語

