[KCM Locale]
Name=Saudi Arabia
Name[af]=Saudi Arabië
Name[ar]=السعودية
Name[as]=চাউদি আৰব
Name[ast]=Arabia Saudita
Name[be]=Саудаўская Арабія
Name[be@latin]=Saudaŭskaja Arabija
Name[bg]=Саудитска Арабия
Name[bn]=সৌদি আরব
Name[bn_IN]=সৌদি আরব
Name[bs]=Saudijska Arabija
Name[ca]=Aràbia Saudita
Name[ca@valencia]=Aràbia Saudita
Name[cs]=Saudská Arábie
Name[csb]=Saùdejskô Arabskô
Name[cy]=Sawdi Arabia
Name[da]=Saudi Arabien
Name[de]=Saudi-Arabien
Name[el]=Σαουδική Αραβία
Name[en_GB]=Saudi Arabia
Name[eo]=Saŭda Arabio
Name[es]=Arabia Saudí
Name[et]=Saudi Araabia
Name[eu]=Saudi Arabia
Name[fa]=عربستان سعودی
Name[fi]=Saudi-Arabia
Name[fr]=Arabie saoudite
Name[fy]=Saudi-Arabië
Name[ga]=An Araib Shádach
Name[gd]=Aràibia nan Sabhd
Name[gl]=Arabia Saudita
Name[gu]=સાઉદી અરેબિયા
Name[he]=ערב הסעודית
Name[hi]=सऊदी अरब
Name[hne]=सऊदी अरब
Name[hr]=Saudijska Arabija
Name[hsb]=Saudiarabska
Name[hu]=Szaúd-Arábia
Name[ia]=Arabia Saudita
Name[id]=Arab Saudi
Name[is]=Sádi-Arabía
Name[it]=Arabia Saudita
Name[ka]=საუდის არაბეთი
Name[kk]=Сауд Арабиясы
Name[km]=អារ៉ាប់ប៊ីសាអ៊ូឌីត
Name[kn]=ಸೌದಿ ಅರೇಬಿಯಾ
Name[ko]=사우디아라비아
Name[ku]=Si'ûdî Erebistan
Name[lt]=Saudo Arabija
Name[lv]=Saūda Arābija
Name[mai]=सऊदी अरब
Name[mk]=Саудиска Арабија
Name[ml]=സൌദി അറേബ്യ‌
Name[mr]=सौदी अरब
Name[nb]=Saudi-Arabia
Name[nds]=Saudi-Arabien
Name[ne]=साउदी अरब
Name[nl]=Saoedi-Arabië
Name[nn]=Saudi-Arabia
Name[oc]=Arabia saudita
Name[or]=ସାଉଦି ଆରବ
Name[pa]=ਸਾਊਦੀ ਅਰਬ
Name[pl]=Arabia Saudyjska
Name[pt]=Arábia Saudita
Name[pt_BR]=Arábia Saudita
Name[ro]=Arabia Saudită
Name[ru]=Саудовская Аравия
Name[se]=Saudi Arábia
Name[si]=සවුදි අරාබිය
Name[sk]=Saudská Arábia
Name[sl]=Saudova Arabija
Name[sr]=Саудијска Арабија
Name[sr@ijekavian]=Саудијска Арабија
Name[sr@ijekavianlatin]=Saudijska Arabija
Name[sr@latin]=Saudijska Arabija
Name[sv]=Saudiarabien
Name[ta]=சவுதி அரேபியா
Name[te]=సౌదీ అరెబియా
Name[tg]=Арабистони Саудӣ
Name[th]=ซาอุดิอาระเบีย
Name[tr]=Suudi Arabistan
Name[ug]=سەئۇدى ئەرەبىستان
Name[uk]=Саудівська Аравія
Name[uz]=Saudiya Arabistoni
Name[uz@cyrillic]=Саудия Арабистони
Name[vi]=Ả Rập - Saudi
Name[wa]=Arabeye Sawoudite
Name[x-test]=xxSaudi Arabiaxx
Name[zh_CN]=沙特阿拉伯
Name[zh_TW]=沙烏地阿拉伯
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
CalendarSystem=hijri
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SAR
CurrencyCode=SAR
