[KCM Locale]
Name=Guinea-Bissau
Name[af]=Guinea-Bissau
Name[ar]=غينيا بيساوي
Name[as]=গিনি-বিছাউ
Name[ast]=Guinea-Bisáu
Name[be]=Гвінэя-Бісаў
Name[be@latin]=Guinea-Bissau
Name[bg]=Гвинея Бисау
Name[bn]=গিনি-বিসো
Name[bn_IN]=গিনি-বিসাউ
Name[br]=Gine-Biso
Name[bs]=Gvineja Bisao
Name[ca]=Guinea Bissau
Name[ca@valencia]=Guinea Bissau
Name[cs]=Guinea-Bissau
Name[csb]=Gwinea-Bissau
Name[cy]=Gini-Bisaw
Name[da]=Guinea-Bissau
Name[de]=Guinea-Bissau
Name[el]=Γουινέα-Μπισσάου
Name[en_GB]=Guinea-Bissau
Name[eo]=Gvineo Bisaŭa
Name[es]=Guinea-Bissáu
Name[et]=Guinea-Bissau
Name[eu]=Ginea Bissau
Name[fa]=گینه بیسائو
Name[fi]=Guinea-Bissau
Name[fr]=Guinée-Bissau
Name[fy]=Guinea-Bissau
Name[ga]=Guine-Bhissau
Name[gd]=Gini-Bioso
Name[gl]=Guinea Bissau
Name[gu]=ગુએના-બિસ્સાઉ
Name[he]=גינאה ביסאו
Name[hi]=गुएना-बिसाऊ
Name[hne]=गुएना-बिसाऊ
Name[hr]=Guinea-Bissau
Name[hsb]=Guinea-Bissau
Name[hu]=Bissau-Guinea
Name[ia]=Guinea-Bissau
Name[id]=Guinea-Bissau
Name[is]=Gínea-Bissá
Name[it]=Guinea-Bissau
Name[ka]=გვინეა ბისაუ
Name[kk]=Гвинея-Бисау
Name[km]=ហ្គីណេប៊ីសៅ
Name[kn]=ಗಿನಿ-ಬಿಸ್ಸಾವು
Name[ko]=기니비사우
Name[ku]=Gîneya Bisoî
Name[lt]=Guinea-Bissau
Name[lv]=Gvineja-Bisava
Name[mai]=गाइना बिसाउ
Name[mk]=Гвинеја Бисао
Name[ml]=ഗിനിയ-ബിസ്സാവു
Name[mr]=गिनिया-बिसाऊ
Name[ms]=Guinea-Bissau
Name[nb]=Guinea-Bissau
Name[nds]=Guinea-Bissau
Name[ne]=गुयना-बिसाउ
Name[nl]=Guinee-Bissau
Name[nn]=Guinea-Bissau
Name[oc]=Guinèa-Bissau
Name[or]=ଗିନି-ବିସୁ
Name[pa]=ਗੁਇਨਿਆ-ਬਿਸ਼ਾਉ
Name[pl]=Gwinea-Bissau
Name[pt]=Guiné Bissau
Name[pt_BR]=Guiné-Bissau
Name[ro]=Guineea-Bissau
Name[ru]=Гвинея-Бисау
Name[se]=Guinea-Bissau
Name[si]=Guinea-Bissau
Name[sk]=Guinea-Bissau
Name[sl]=Gvineja Bissau
Name[sr]=Гвинеја Бисао
Name[sr@ijekavian]=Гвинеја Бисао
Name[sr@ijekavianlatin]=Gvineja Bisao
Name[sr@latin]=Gvineja Bisao
Name[sv]=Guinea-Bissau
Name[ta]=க்யுனியா-பிஸ்ஸா
Name[te]=గుయ్నియా-బిస్సౌ
Name[tg]=Гвинеяи Бисау
Name[th]=กินี-บิสเซา
Name[tr]=Gine-Biso
Name[ug]=گىۋىنېيە-بىسساۇ
Name[uk]=Гвінея-Бісау
Name[uz]=Gvineya-Bissau
Name[uz@cyrillic]=Гвинея-Биссау
Name[vi]=Guinea-Bissau
Name[wa]=Guinêye-Bissaw
Name[x-test]=xxGuinea-Bissauxx
Name[zh_CN]=几内亚比绍
Name[zh_TW]=幾內亞比紹
Region=westafrica
Languages=es
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=5
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XOF
CurrencyCode=XOF
