[Desktop Entry]
Type=Application
Name=GNOME Settings Daemon's sharing plugin
Exec=/usr/lib/gnome-settings-daemon/gsd-sharing
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-Ubuntu-Gettext-Domain=gnome-settings-daemon
