[Desktop Entry]
Name=Snap user application autostart helper
Comment=Helper program for launching snap applications that are configured to start automatically.
Exec=/usr/bin/snap userd --autostart
Type=Application
NoDisplay=true
