[Desktop Entry]
Encoding=UTF-8
Name=Update Notifier
Name[af]=Opdateringskennisgewing
Name[am]=የማሻሻያ አሳሳቢ
Name[an]=Notificador d'esvielles
Name[ar]=مشعر التحديثات
Name[ast]=Notificador d'anovamientos
Name[be]=Паведамляльнік абнаўленьняў
Name[bg]=Известяване за обновления
Name[bn]=হালনাগাদ পর্যবেক্ষক
Name[br]=Meziant da gemenn an hizivadurioù
Name[bs]=Ukazivanje na nova unaprjeđenja
Name[ca]=Gestor d'actualitzacions
Name[ca@valencia]=Gestor d'actualitzacions
Name[crh]=Yañartma Tebliğcisi
Name[cs]=Oznamování aktualizací
Name[csb]=Wiédzba ò aktualizacëjach
Name[da]=Opdateringspåmindelse
Name[de]=Aktualisierungsbenachrichtigung
Name[el]=Ειδοποίηση ενημερώσεων
Name[en_AU]=Update Notifier
Name[en_CA]=Update Notifier
Name[en_GB]=Update Notifier
Name[eo]=Atentigilo pri ĝisdatigoj
Name[es]=Notificador de actualizaciones
Name[et]=Uuendustest teataja
Name[eu]=Eguneratze berriemailea
Name[fa]=آگاه کننده‌ی به‌روز رسانی
Name[fi]=Päivitysilmoitin
Name[fo]=Frásøguforrit til dagføringar
Name[fr]=Notificateur de mises à jour
Name[fy]=Bywurkingmelder
Name[gd]=Fiosraiche nan ùrachadh
Name[gl]=Notificador de actualizacións
Name[he]=מתריע העדכונים
Name[hi]=अद्यतन अधिसूचक
Name[hr]=Update Notifier
Name[hu]=Frissítésfigyelő
Name[id]=Pemberitahu Update
Name[is]=Tilkynningar um uppfærslur
Name[it]=Notifica aggiornamenti
Name[ja]=アップデート通知
Name[ka]=განახლებების მაცნე
Name[kk]=Жаңартулар мәлімдемелері
Name[km]=កម្មវិធី​ជូន​ដំណឹង​បច្ចុប្បន្នភាព
Name[ko]=업데이트 알리미
Name[ku]=Hişyarkera Rojanekirinê
Name[lt]=Atnaujinimų pranešiklis
Name[lv]=Atjauninājumu atgādinātājs
Name[mn]=Шинэчлэл мэдээлэгч
Name[mr]=नुतनीकरण दर्शक.
Name[ms]=Pemaklum Kemaskini
Name[my]=Update Notifier
Name[nb]=Oppdateringsvarsler
Name[nds]=Opfrischenhenwies
Name[nl]=Updatemelder
Name[nn]=Oppdateringsvarslar
Name[oc]=Notificador de mesas a jorn
Name[pa]=ਅੱਪਡੇਟ ਸੂਚਨਾ
Name[pl]=Powiadamianie o aktualizacjach
Name[pt]=Notificador de Actualizações
Name[pt_BR]=Notificador de atualizações
Name[ro]=Notificare actualizări
Name[ru]=Оповещение об обновлениях
Name[si]=යාවත්කාලින නිවේදකය
Name[sk]=Upozornenie na aktualizácie
Name[sl]=Obvestilnik o posodobitvah
Name[sq]=Njoftuesi i Rifreskimeve
Name[sr]=Обавештавач освежења
Name[sv]=Uppdateringsnotifierare
Name[ta]=புதுப்பிப்பு அறிவிப்பாளர்
Name[te]=నవీకరణ-సూచిక
Name[tg]=Огоҳкунандаи навсозиҳо
Name[th]=โปรแกรมแจ้งเตือนการปรับปรุง
Name[tr]=Güncelleştirme Bildiricisi
Name[ug]=يېڭىلاش خەۋەرچىسى
Name[uk]=Сповіщення про оновлення
Name[vi]=Trình Nhắc nhở cập nhật
Name[zh_CN]=更新提示
Name[zh_HK]=更新通知程式
Name[zh_TW]=更新通告
Comment=Check for available updates automatically
Comment[af]=Kontroleer automaties vir nuwe opdaterings
Comment[an]=Comprebar automaticament os esvielles disponibles
Comment[ar]=التمس التحديثات تلقائيا
Comment[ast]=Comprobar automáticamente los anovamientos disponibles
Comment[be]=Правяраць на даступнасьць абнаўленьняў аўтаматычна
Comment[bg]=Автоматична проверка за налични актуализации
Comment[bn]=স্বয়ংক্রিয়ভাবে নতুন হালনাগাদের জন্য খোঁজ করা হবে
Comment[br]=Gwiriañ hizivadurioù hegerz emgefre
Comment[bs]=Automatski provjeriti da li ima dostupnih unaprjeđenja
Comment[ca]=Comprova si hi ha actualizacions disponibles automàticament.
Comment[ca@valencia]=Comprova si hi ha actualizacions disponibles automàticament.
Comment[crh]=Faydalanışlı yañartmalar içün avtomatik olaraq teşker
Comment[cs]=Automaticky kontrolovat dostupné aktualizace
Comment[csb]=Aùtomatné sprôwdzanié przëstãpnotë aktualizacëjów
Comment[da]=Kontrollér automatisk for tilgængelige opdateringer
Comment[de]=Automatisch nach verfügbaren Aktualisierungen suchen
Comment[el]=Αυτόματος έλεγχος για ενημερώσεις
Comment[en_AU]=Check for available updates automatically
Comment[en_CA]=Check for available updates automatically
Comment[en_GB]=Check for available updates automatically
Comment[eo]=Aŭtomate kontroli pri disponeblaj ĝisdatigoj
Comment[es]=Comprobar automáticamente las actualizaciones disponibles
Comment[et]=Olemasolevate uuenduste automaatne kontroll
Comment[eu]=Automatikoki bilatu eguneraketa berriak
Comment[fa]=بررسی خودکار برای به‌روز رسانی‌ها
Comment[fi]=Tarkista saatavilla olevat päivitykset automaattisesti
Comment[fo]=Kanna sjálvvirkandi eftir tøkum dagførslum
Comment[fr]=Vérifier automatiquement la disponibilité de mises à jour
Comment[gd]=Thoir sùil gu fèin-obrachail ach a bheil ùrachaidhean ann
Comment[gl]=Comprobar automaticamente as actualizacións dispoñíbeis
Comment[he]=בדיקה אוטומטית אחר עדכונים
Comment[hi]=स्वतः अद्यतन उपलब्धता हेतु जाँच
Comment[hr]=Automatski provjeri za dostupne nadogradnje
Comment[hu]=Frissítések keresése automatikusan
Comment[id]=Periksa keberadaan pembaruan secara otomatis
Comment[is]=Leita að uppfærslum sjálfkrafa
Comment[it]=Controlla automaticamente la disponibilità di aggiornamenti
Comment[ja]=利用可能なアップデートを自動的にチェックする
Comment[ka]=განახლებებზე ავტომატური შემოწმება
Comment[kk]=Жаңартулардың жетімдігін автоматты түрде тексеру
Comment[km]=ពិនិត្យ​មើល​បច្ចុប្បន្នភាព​ដែល​មាន​ដោយ​ស្វ័យ​ប្រវត្តិ
Comment[ko]=자동으로 사용할 수 있는 업데이트 확인
Comment[ku]=Bixweber li rojanekirinên amade bigere
Comment[lt]=Ieškoti prieinamų atnaujinimų automatiškai
Comment[lv]=Automātiski pārbaudīt pieejamos atjauninājumus
Comment[mn]=Идэвхитэй шинэчлэлийг автоматаар шалгах
Comment[mr]=उपलब्ध अपडेट्स आपोआप शोधा.
Comment[ms]=Periksa kemaskini yang sedia ada secara automatik.
Comment[my]=ရရှိနိုင်သော Updates များကိုအလိုအလျောက်စစ်ဆေးမည်။
Comment[nb]=Se etter tilgjengelige oppdateringer automatisk
Comment[nds]=Nah verfögbaren Opfrischen vun alleen söken
Comment[nl]=Automatisch op updates controleren
Comment[nn]=Sjå etter tilgjengelege oppdateringar automatisk
Comment[oc]=Verificar automaticament la disponibilitat de mesas a jorn
Comment[pa]=ਉਪਲੱਬਧ ਅੱਪਡੇਟ ਲਈ ਆਟੋਮੈਟਿਕ ਹੀ ਚੈੱਕ ਕਰੋ
Comment[pl]=Automatyczne sprawdzanie dostępności aktualizacji
Comment[pt]=Verificar actualizações disponíveis automaticamente
Comment[pt_BR]=Verificar automaticamente se há atualizações disponíveis
Comment[ro]=Verifică automat actualizările disponibile
Comment[ru]=Автоматически проверять наличие обновлений
Comment[sd]=دستياب تازگيون پاڻمرادو چڪاسجن
Comment[si]=ලබා ගත හැකි යාවත්කාලින සඳහා ස්වයංක්‍රීයව පරික්ෂා කරන්න
Comment[sk]=Automaticky kontrolovať dostupné aktualizácie
Comment[sl]=Samodejno preveri za posodobitve
Comment[sq]=Kontrollo automatikisht për përditësimet e disponueshme
Comment[sr]=Аутоматски провери да ли има доступних освежења
Comment[sv]=Leta automatiskt efter tillgängliga uppdateringar
Comment[te]=అందుబాటులోనున్న నవీకరణలను స్వయంచాలకంగా ప్రయత్నించు
Comment[tg]=Ба таври худкор санҷидани навсозиҳои дастрас
Comment[th]=ตรวจสอบการปรับปรุงที่ได้รับการอนุญาตโดยอัตโนมัติ
Comment[tr]=Güncelleştirmeleri otomatik olarak denetle
Comment[ug]=يېڭىلانمىلارنىڭ بار يوقلۇقىنى ئاپتوماتىك تەكشۈرسۇن
Comment[uk]=Автоматично перевіряти наявність оновлень
Comment[vi]=Tự động kiểm tra về các bản cập nhật đang có
Comment[zh_CN]=自动检测可用的更新
Comment[zh_HK]=自動檢查可用的更新
Comment[zh_TW]=自動檢查更新
Icon=update-notifier
Exec=update-notifier
Terminal=false
Type=Application
Categories=
NotShowIn=KDE;
NoDisplay=true
X-GNOME-Autostart-Delay=60
X-Ubuntu-Gettext-Domain=update-notifier
