[KCM Locale]
Name=Uzbek
Name[af]=Uzbek
Name[ar]=الأوزبكيّة
Name[as]=উজ্‌বেক
Name[ast]=Uzbeku (llatín)
Name[be]=Узбецкая
Name[be@latin]=Uzbeckaja
Name[bg]=Узбекски
Name[bn]=উজবেক
Name[bn_IN]=উজবেক
Name[br]=Ouzbek
Name[bs]=uzbečki
Name[ca]=Uzbek
Name[ca@valencia]=Uzbek
Name[cs]=Uzbecký
Name[csb]=Ùzbecczi
Name[cy]=Usbek
Name[da]=Uzbek
Name[de]=Usbekisch
Name[el]=Ουζμπεκικά
Name[en_GB]=Uzbek
Name[eo]=Uzbeka
Name[es]=Uzbeko
Name[et]=Usbeki
Name[eu]=Uzbekera
Name[fa]=ازبکی
Name[fi]=Uzbekki
Name[fr]=Ouzbek
Name[fy]=Oezbeeksk
Name[ga]=Úisbéicis
Name[gd]=Usbagais
Name[gl]=Usbeco
Name[gu]=ઉઝબેક
Name[he]=אוזבקית
Name[hi]=उज्बेक
Name[hne]=उज्बेक
Name[hr]=Uzbečki
Name[hsb]=Uzbekisce
Name[hu]=Üzbég
Name[ia]=Uzbeko
Name[id]=Uzbekistan
Name[is]=Úsbekíska
Name[it]=Usbeco
Name[ja]=ウズベク語
Name[kk]=Өзбекше
Name[km]=អ៊ូហ្សបេគីស្តង់
Name[kn]=ಉಜ್ಬೆಕ್
Name[ko]=우즈베크어
Name[ku]=Ozbekî
Name[lb]=Usbekesch
Name[lt]=Uzbekų
Name[lv]=Uzbeku
Name[mai]=उज्बेक
Name[mk]=Узбекистански
Name[ml]=ഉസ്ബെക്
Name[mr]=उज्बेक
Name[ms]=Uzbek
Name[nb]=Uzbekistansk
Name[nds]=Usbeeksch
Name[ne]=उज्वेक
Name[nl]=Oezbeeks
Name[nn]=Usbekisk
Name[oc]=Ozbèc
Name[or]=ଉଜବେକ
Name[pa]=ਉਜ਼ਬਕ
Name[pl]=Uzbecki
Name[ps]=ازبکي
Name[pt]=Uzbeque
Name[pt_BR]=Uzbeque
Name[ro]=Uzbecă
Name[ru]=Узбекский
Name[se]=Usbekagiella
Name[si]=උස්බෙක්
Name[sk]=Uzbečtina
Name[sl]=Uzbeščina
Name[sr]=узбечки
Name[sr@ijekavian]=узбечки
Name[sr@ijekavianlatin]=uzbečki
Name[sr@latin]=uzbečki
Name[sv]=Uzbekiska
Name[ta]=உசுபெக்
Name[te]=ఉజ్బెక్
Name[tg]=Ӯзбакӣ
Name[th]=ภาษาอุซเบกิสถาน
Name[tr]=Özbekçe
Name[tt]=Үзбәк
Name[ug]=ئۆزبېكچە
Name[uk]=Узбецька
Name[uz]=Oʻzbekcha
Name[uz@cyrillic]=Ўзбекча
Name[vi]=Uzbek
Name[wa]=Ouzbeke
Name[x-test]=xxUzbekxx
Name[zh_CN]=乌兹别克语
Name[zh_HK]=烏玆別克語
Name[zh_TW]=烏玆別克語
