[KCM Locale]
Name=Vietnam
Name[ar]=ڤيتنام
Name[ast]=Vietnam
Name[bs]=Vijetnam
Name[ca]=Vietnam
Name[ca@valencia]=Vietnam
Name[cs]=Vietnam
Name[da]=Vietnam
Name[de]=Vietnam
Name[en_GB]=Vietnam
Name[es]=Vietnam
Name[et]=Vietnam
Name[eu]=Vietnam
Name[fa]=ویتنام
Name[fi]=Vietnam
Name[fr]=Vietnam
Name[gd]=Bhiet-Nam
Name[gl]=Vietnam
Name[hr]=Vijetnam
Name[hu]=Vietnam
Name[ia]=Vietnam
Name[id]=Vietnam
Name[is]=Víetnam
Name[it]=Vietnam
Name[ka]=ვიეტნამი
Name[ko]=베트남
Name[lt]=Vietnamas
Name[lv]=Vjetnama
Name[mr]=वियेतनाम
Name[nb]=Vietnam
Name[nds]=Vietnam
Name[nl]=Vietnam
Name[nn]=Vietnam
Name[pa]=ਵੀਅਤਨਾਮ
Name[pl]=Wietnam
Name[pt]=Vietname
Name[pt_BR]=Vietnã
Name[ru]=Вьетнам
Name[se]=Vietnam
Name[sk]=Vietnam
Name[sl]=Vietnam
Name[sr]=Вијетнам
Name[sr@ijekavian]=Вијетнам
Name[sr@ijekavianlatin]=Vijetnam
Name[sr@latin]=Vijetnam
Name[sv]=Vietnam
Name[tg]=Ветнам
Name[tr]=Vietnam
Name[uk]=В'єтнам
Name[x-test]=xxVietnamxx
Name[zh_CN]=越南
Name[zh_TW]=越南
Region=southeastasia
Languages=vi
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[vi]=%A %d %n %Y
DateFormatShort=%d.%n.%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
MonetaryDecimalPlaces=0
CurrencyCodesInUse=VND
CurrencyCode=VND
