[KCM Locale]
Name=Cuba
Name[af]=Kuba
Name[ar]=كوبا
Name[as]=কিউবা
Name[ast]=Cuba
Name[be]=Куба
Name[be@latin]=Kuba
Name[bg]=Куба
Name[bn]=কিউবা
Name[bn_IN]=কিউবা
Name[br]=Kuba
Name[bs]=Kuba
Name[ca]=Cuba
Name[ca@valencia]=Cuba
Name[cs]=Kuba
Name[csb]=Kuba
Name[cy]=Ciwba
Name[da]=Cuba
Name[de]=Kuba
Name[el]=Κούβα
Name[en_GB]=Cuba
Name[eo]=Kubo
Name[es]=Cuba
Name[et]=Kuuba
Name[eu]=Kuba
Name[fa]=کوبا
Name[fi]=Kuuba
Name[fr]=Cuba
Name[fy]=Cuba
Name[ga]=Cúba
Name[gd]=Cùba
Name[gl]=Cuba
Name[gu]=ક્યુબા
Name[he]=קובה
Name[hi]=क्यूबा
Name[hne]=क्यूबा
Name[hr]=Kuba
Name[hsb]=Kuba
Name[hu]=Kuba
Name[ia]=Cuba
Name[id]=Kuba
Name[is]=Kúba
Name[it]=Cuba
Name[ka]=კუბა
Name[kk]=Куба
Name[km]=គុយបា
Name[kn]=ಕ್ಯೂಬಾ
Name[ko]=쿠바
Name[ku]=Kûba
Name[lt]=Kuba
Name[lv]=Kuba
Name[mai]=क्यूबा
Name[mk]=Куба
Name[ml]=ക്യൂബ
Name[mr]=क्यूबा
Name[ms]=Cuba
Name[nb]=Cuba
Name[nds]=Kuba
Name[ne]=क्यूबा
Name[nl]=Cuba
Name[nn]=Cuba
Name[oc]=Cubà
Name[or]=କ୍ୟୁବା
Name[pa]=ਕਿਊਬਾ
Name[pl]=Kuba
Name[pt]=Cuba
Name[pt_BR]=Cuba
Name[ro]=Cuba
Name[ru]=Куба
Name[se]=Cuba
Name[si]=කියුබාව
Name[sk]=Kuba
Name[sl]=Kuba
Name[sr]=Куба
Name[sr@ijekavian]=Куба
Name[sr@ijekavianlatin]=Kuba
Name[sr@latin]=Kuba
Name[sv]=Kuba
Name[ta]=கியுபா
Name[te]=క్యుబా
Name[tg]=Куба
Name[th]=คิวบา
Name[tr]=Küba
Name[ug]=كۇبا
Name[uk]=Куба
Name[uz]=Kuba
Name[uz@cyrillic]=Куба
Name[vi]=Cu-ba
Name[wa]=Cuba
Name[xh]=Cuba
Name[x-test]=xxCubaxx
Name[zh_CN]=古巴
Name[zh_TW]=古巴
Region=caribbean
Languages=es
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%A, %e de %B de %Y
DateFormatShort=%d/%m/%y
TimeFormat=%I:%M:%S %p
WeekStartDay=1
PageSize=2
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=CUP,CUC
CurrencyCode=CUP
