[KCM Locale]
Name=Tonga
Name[af]=Tonga
Name[ar]=التونجا
Name[as]=টঙ্গা
Name[be]=Тонга
Name[be@latin]=Tonga
Name[bg]=Тонга
Name[bn]=টংগা
Name[bn_IN]=টোঙ্গা
Name[br]=Inizi Tonga
Name[bs]=Tonga
Name[ca]=Tonga
Name[ca@valencia]=Tonga
Name[cs]=Tonga
Name[csb]=Tonga
Name[cy]=Tonga
Name[da]=Tonga
Name[de]=Tonga
Name[el]=Τόνγκα
Name[en_GB]=Tonga
Name[eo]=Tonga
Name[es]=Tonga
Name[et]=Tonga
Name[eu]=Tongera
Name[fa]=تونگا
Name[fi]=Tonga
Name[fr]=Tonga
Name[fy]=Tongaansk
Name[ga]=Tongais
Name[gd]=Tonga
Name[gl]=Tonga
Name[gu]=ટોન્ગા
Name[he]=טונגה
Name[hi]=टोन्गा
Name[hne]=टोन्गा
Name[hr]=Tonga
Name[hsb]=Tonga
Name[hu]=Tonga
Name[hy]=Թոնգաերեն
Name[ia]=Tonga
Name[id]=Tonga
Name[is]=Tonga
Name[it]=Tonga
Name[ja]=トンガ語
Name[ka]=ტონგა
Name[kk]=Тонга
Name[km]=តុងហ្គា
Name[kn]=ಟೊಂಗಾ
Name[ko]=통가어
Name[ku]=Tonga
Name[lb]=Tonga
Name[lt]=Tonga
Name[lv]=Tongiešu
Name[mai]=टोन्गा
Name[mk]=Тонга
Name[ml]=ട്വോങ്ങ
Name[mr]=टोन्गा
Name[ms]=Tonga
Name[nb]=Tonga
Name[nds]=Tonga
Name[ne]=टोङ्गा
Name[nl]=Tonga
Name[nn]=Tonga
Name[oc]=Tònga
Name[or]=Tonga
Name[pa]=ਤੋਂਗਾ
Name[pl]=Tonga
Name[ps]=ټونګا
Name[pt]=Tonga
Name[pt_BR]=Tonga
Name[ro]=Tongă
Name[ru]=Тонганский
Name[se]=Tongagiella
Name[si]=ටොන්ගා
Name[sk]=Tongčina
Name[sl]=tongaško
Name[sq]=Tonga
Name[sr]=тонга
Name[sr@ijekavian]=тонга
Name[sr@ijekavianlatin]=tonga
Name[sr@latin]=tonga
Name[sv]=Tonga
Name[ta]=டோங்கா
Name[te]=టొన్గా
Name[tg]=Тонгавӣ
Name[th]=ภาษาทองกา
Name[tr]=Tonga
Name[tt]=Тонга
Name[ug]=تونگا
Name[uk]=Тонга
Name[uz]=Tonga
Name[uz@cyrillic]=Тонга
Name[vi]=Tonga
Name[wa]=Tonga
Name[xh]=Tonga
Name[x-test]=xxTongaxx
Name[zh_CN]=汤加语
Name[zh_HK]=東加語
Name[zh_TW]=東加語
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TOP
CurrencyCode=TOP
