[KCM Locale]
Name=Greenland
Name[af]=Groenland
Name[ar]=جرينلاندا
Name[as]=গ্ৰিনল্যান্ড
Name[ast]=Groenlandia
Name[be]=Грэнландыя
Name[be@latin]=Hrenlandyja
Name[bg]=Гренландия
Name[bn]=গ্রীনল্যাণ্ড
Name[bn_IN]=গ্রিনল্যান্ড
Name[br]=Griñland
Name[bs]=Grenland
Name[ca]=Groenlàndia
Name[ca@valencia]=Groenlàndia
Name[cs]=Grónsko
Name[csb]=Grenlandzkô
Name[cy]=Y Lasynys
Name[da]=Grønland
Name[de]=Grönland
Name[el]=Ισλανδία
Name[en_GB]=Greenland
Name[eo]=Gronlando
Name[es]=Groenlandia
Name[et]=Gröönimaa
Name[eu]=Groenlandia
Name[fa]=گیریلند
Name[fi]=Grönlanti
Name[fr]=Groenland
Name[fy]=Grienlân
Name[ga]=An Ghraonlainn
Name[gd]=A' Ghraonlann
Name[gl]=Grenlandia
Name[gu]=ગ્રીનલેન્ડ
Name[he]=גרינלנד
Name[hi]=ग्रीनलैंड
Name[hne]=ग्रीनलैंड
Name[hr]=Grenland
Name[hsb]=Zelenska
Name[hu]=Grönland
Name[ia]=Groenlandia
Name[id]=Greenland
Name[is]=Grænland
Name[it]=Groenlandia
Name[ka]=გრენლანდია
Name[kk]=Гренландия
Name[km]=ហ្គ្រីនលែន
Name[kn]=ಗ್ರೀನ್-ಲ್ಯಾಂಡ್
Name[ko]=그린란드
Name[ku]=Greenland
Name[lt]=Grenlandija
Name[lv]=Grenlande
Name[mai]=ग्रीनलैंड
Name[mk]=Гренланд
Name[ml]=ഗ്രീന്‍ലാന്‍ഡ്
Name[mr]=ग्रीनलेन्ड
Name[ms]=Greenland
Name[nb]=Grønland
Name[nds]=Gröönland
Name[ne]=ग्रिनल्याण्ड
Name[nl]=Groenland
Name[nn]=Grønland
Name[oc]=Groenland
Name[or]=ଗ୍ରୀନଲ୍ୟାଣ୍ଡ
Name[pa]=ਗਰੀਨਲੈਂਡ
Name[pl]=Grenlandia
Name[pt]=Gronelândia
Name[pt_BR]=Groenlândia
Name[ro]=Groenlanda
Name[ru]=Гренландия
Name[se]=Ruonáeatnan
Name[si]=ග්‍රීන්ලන්තය
Name[sk]=Grónsko
Name[sl]=Grenlandija
Name[sr]=Гренланд
Name[sr@ijekavian]=Гренланд
Name[sr@ijekavianlatin]=Grenland
Name[sr@latin]=Grenland
Name[sv]=Grönland
Name[ta]=கிரீன்லாந்து
Name[te]=గ్రీన్ లాండ్
Name[tg]=Гренландия
Name[th]=กรีนแลนด์
Name[tr]=Grönland
Name[ug]=گىرېنلاند
Name[uk]=Гренландія
Name[uz]=Grenlandiya
Name[uz@cyrillic]=Гренландия
Name[vi]=Greenland
Name[wa]=Groenlande
Name[x-test]=xxGreenlandxx
Name[zh_CN]=格林兰
Name[zh_TW]=格陵蘭
Region=northamerica
Languages=kl,da
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
#DateFormat[gl]=%A den %e. %B %Y
DateFormat[da]=%A den %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%n-%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%0(%n\n)%0(%cm\n)%0(%s\n)%0(Postboks %p\n)%z%w%l
AddressCountryPosition=below
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=DKK
CurrencyCode=DKK
