[KCM Locale]
Name=Croatian
Name[af]=Kroatiese
Name[ar]=الكرواتيّة
Name[as]=ক্ৰোয়েচিয়ান
Name[ast]=Croata
Name[be]=Харвацкая
Name[be@latin]=Charvackaja
Name[bg]=Хърватски
Name[bn]=ক্রোয়েশীয়
Name[bn_IN]=ক্রোয়েশিয়ান
Name[br]=Kroateg
Name[bs]=hrvatski
Name[ca]=Croat
Name[ca@valencia]=Croat
Name[cs]=Chorvatský
Name[csb]=Chòrwacczi
Name[cy]=Croateg
Name[da]=Kroatisk
Name[de]=Kroatisch
Name[el]=Κροατικά
Name[en_GB]=Croatian
Name[eo]=Kroata
Name[es]=Croata
Name[et]=Horvaadi
Name[eu]=Kroaziera
Name[fa]=کرواسیایی
Name[fi]=Kroatia
Name[fr]=Croate
Name[fy]=Kroatysk
Name[ga]=Cróitis
Name[gd]=Cròthaisis
Name[gl]=Croata
Name[gu]=ક્રોએશિયન
Name[he]=קרואטית
Name[hi]=क्रोएशियाई
Name[hne]=क्रोएसियाई
Name[hr]=Hrvatski
Name[hsb]=Chorwatsce
Name[hu]=Horvát
Name[ia]=Croato 
Name[id]=Kroasia
Name[is]=Króatíska
Name[it]=Croato
Name[ja]=クロアチア語
Name[kk]=Хорватша
Name[km]=ក្រូអាត
Name[kn]=ಕ್ರೊವೇಶಿಯನ್
Name[ko]=크로아티아어
Name[ku]=Kroatî
Name[lb]=Kroatesch
Name[lt]=Kroatų
Name[lv]=Horvātu
Name[mai]=क्रोएशियाइ
Name[mk]=Хрватски
Name[ml]=ക്രോയേഷ്യന്‍
Name[mr]=क्रोएशीयन
Name[ms]=Croatia
Name[nb]=Kroatisk
Name[nds]=Kroaatsch
Name[ne]=क्रोयसियाली
Name[nl]=Kroatisch
Name[nn]=Kroatisk
Name[oc]=Croat
Name[or]=କ୍ରୋଏସିୟନ
Name[pa]=ਕਰੋਆਟੀਆਈ
Name[pl]=Chorwacki
Name[ps]=کروټيايي
Name[pt]=Croata
Name[pt_BR]=Croata
Name[ro]=Croată
Name[ru]=Хорватский
Name[se]=Kroatiagiella
Name[si]=ක්‍රොඒෂියානු
Name[sk]=Chorvátčina
Name[sl]=Hrvaščina
Name[sq]=Kroatisht
Name[sr]=хрватски
Name[sr@ijekavian]=хрватски
Name[sr@ijekavianlatin]=hrvatski
Name[sr@latin]=hrvatski
Name[sv]=Kroatiska
Name[ta]=குரொயேஷியன்
Name[te]=క్రొయెషియన్
Name[tg]=Хорватӣ
Name[th]=ภาษาโครเอเชีย
Name[tr]=Hırvatça
Name[tt]=Хорват
Name[ug]=خورۋاتچە
Name[uk]=Хорватська
Name[uz]=Xorvatcha
Name[uz@cyrillic]=Хорватча
Name[vi]=Croatia
Name[wa]=Crowåte
Name[xh]=Croatian
Name[x-test]=xxCroatianxx
Name[zh_CN]=克罗地亚语
Name[zh_HK]=克羅地亞語
Name[zh_TW]=克羅地亞語
