[Unit]
Description=Evolution calendar service

[Service]
Type=dbus
BusName=org.gnome.evolution.dataserver.Calendar7
ExecStart=/usr/lib/evolution/evolution-calendar-factory
