[Unit]
Description=Virtual filesystem service - digital camera monitor

[Service]
ExecStart=/usr/lib/gvfs/gvfs-gphoto2-volume-monitor
Type=dbus
BusName=org.gtk.vfs.GPhoto2VolumeMonitor
