[Unit]
Description=Notification regarding a crash report
PartOf=graphical-session.target

[Service]
ExecStart=/usr/lib/update-notifier/update-notifier-crash
Type=oneshot
