[Unit]
Description=sandboxed app permission store

[Service]
BusName=org.freedesktop.impl.portal.PermissionStore
ExecStart=/usr/libexec/xdg-permission-store
Type=dbus
