[KCM Locale]
Name=Albanian
Name[af]=Albanian
Name[ar]=الألبانيّة
Name[ast]=Albanés
Name[bg]=Албански
Name[br]=Albanieg
Name[bs]=Albanski
Name[ca]=Albanès
Name[ca@valencia]=Albanés
Name[cs]=Albánský
Name[cy]=Albaneg
Name[da]=Albansk
Name[de]=Albanisch
Name[el]=Αλβανικά
Name[en_GB]=Albanian
Name[eo]=Albana
Name[es]=Albanés
Name[et]=Albaania
Name[eu]=Albaniera
Name[fa]=آلبانیایی
Name[fi]=Albania
Name[fr]=Albanais
Name[fy]=Albaansk
Name[ga]=Albáinis
Name[gd]=Albàinis
Name[gl]=Albanés
Name[gu]=અલ્બેનિઅન
Name[he]=אלבנית
Name[hi]=अल्बानियाई
Name[hr]=Albanski
Name[hu]=Albán
Name[ia]=Albanese 
Name[id]=Albania
Name[is]=Albanska
Name[it]=Albanese
Name[ja]=アルバニア語
Name[kk]=Албанша
Name[km]=អាល់បានី
Name[ko]=알바니아어
Name[lb]=Albanesch
Name[lt]=Albanų
Name[lv]=Albāņu
Name[mr]=अलबानियन
Name[nb]=Albansk
Name[nds]=Albaansch
Name[nl]=Albanees
Name[nn]=Albansk
Name[pa]=ਅਲਬਾਨੀਆਈ
Name[pl]=Albański
Name[pt]=Albanês
Name[pt_BR]=Albanês
Name[ro]=Albaneză
Name[ru]=Албанский
Name[se]=Albániagiella
Name[sk]=Albánčina
Name[sl]=Albanščina
Name[sq]=Shqip
Name[sr]=албански
Name[sr@ijekavian]=албански
Name[sr@ijekavianlatin]=albanski
Name[sr@latin]=albanski
Name[sv]=Albanska
Name[tg]=Албанӣ
Name[tr]=Arnavutça
Name[tt]=Албан
Name[ug]=ئالبانچە
Name[uk]=Албанська
Name[uz]=Albancha
Name[uz@cyrillic]=Албанча
Name[vi]=Albania
Name[wa]=Albanyin
Name[x-test]=xxAlbanianxx
Name[zh_CN]=阿尔巴尼亚语
Name[zh_HK]=阿爾巴尼亞語
Name[zh_TW]=阿爾巴尼亞語
