
.primary-toolbar:not(.libreoffice-toolbar) entry,
toolbar menubar entry,
headerbar entry {
    border-image: url("assets/radiance-entry-toolbar.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

.primary-toolbar:not(.libreoffice-toolbar) entry:focus,
toolbar menubar entry:focus,
headerbar entry:focus {
    border-image: url("assets/radiance-entry-toolbar-focused.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

.primary-toolbar:not(.libreoffice-toolbar) combobox button.combo,
.primary-toolbar:not(.libreoffice-toolbar) combobox button.combo:focus:disabled,
toolbar menubar combobox button.combo,
toolbar menubar combobox button.combo:focus:disabled,
headerbar combobox button.combo,
headerbar combobox button.combo:focus:disabled {
    border-image: -gtk-scaled(url("assets/radiance-button-toolbar.png"),
                                     url("assets/radiance-button-toolbar@2.png")) 10 12 10 12 / 10px 12px 10px 12px stretch;
}

.primary-toolbar:not(.libreoffice-toolbar) combobox button.combo:focus,
toolbar menubar combobox button.combo:focus,
headerbar combobox button.combo:focus {
    border-image: -gtk-scaled(url("assets/radiance-button-toolbar-focused.png"),
                                     url("assets/radiance-button-toolbar-focused@2.png")) 10 12 10 12 / 10px 12px 10px 12px stretch;
}

.primary-toolbar:not(.libreoffice-toolbar) combobox button.combo:focus:active:focus,
toolbar menubar combobox button.combo:focus:active:focus,
headerbar combobox button.combo:focus:active:focus {
    border-image: url("assets/radiance-combobox-button-toolbar-pressed-focused.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

menubar menuitem:hover,
.menubar menuitem:hover {
    border-color: #b8ab9c;
}
