[KCM Locale]
Name=Myanmar
Name[af]=Myanmar
Name[ar]=مينماري
Name[as]=মায়ান্মাৰ
Name[ast]=Myanmar
Name[be]=М'янма
Name[be@latin]=Birma
Name[bg]=Мианмар
Name[bn]=মিয়ানমার
Name[bn_IN]=মায়ানমার
Name[br]=Myanmar
Name[bs]=Mjanmar
Name[ca]=Myanmar
Name[ca@valencia]=Myanmar
Name[cs]=Myanmar
Name[csb]=Myanmar
Name[cy]=Mianmar
Name[da]=Burma
Name[de]=Myanmar
Name[el]=Μιανμάρ
Name[en_GB]=Myanmar
Name[eo]=Mjanmao
Name[es]=Myanmar
Name[et]=Birma
Name[eu]=Myanmar
Name[fa]=میانمار
Name[fi]=Myanmar
Name[fr]=Birmanie
Name[fy]=Myanmar
Name[ga]=Maenmar
Name[gd]=Miànmar
Name[gl]=Myanmar
Name[gu]=મ્યાનમાર
Name[he]=מיאנמר
Name[hi]=म्यनमार
Name[hne]=म्यनमार
Name[hr]=Mianmar
Name[hsb]=Myanmar
Name[hu]=Mianmar
Name[ia]=Myanmar
Name[id]=Myanmar
Name[is]=Mjanmar
Name[it]=Birmania
Name[ka]=მიანმა
Name[kk]=Мьянма
Name[km]=មីយ៉ាន់ម៉ា
Name[kn]=ಮಿಯನ್ಮಾರ್
Name[ko]=미얀마
Name[ku]=Myanmar
Name[lt]=Myanmar
Name[lv]=Mjanma
Name[mai]=म्यानमार
Name[mk]=Мијанмар
Name[ml]=മ്യാന്‍മര്‍
Name[mr]=म्यानमार
Name[ms]=Myanmar
Name[nb]=Myanmar
Name[nds]=Myanmar
Name[ne]=म्यान्मार
Name[nl]=Myanmar
Name[nn]=Myanmar
Name[oc]=Panama
Name[or]=ମ୍ୟାନମାର
Name[pa]=ਮਿਆਂਮਾਰ
Name[pl]=Myanmar
Name[pt]=Myanmar
Name[pt_BR]=Mianmar
Name[ro]=Mianmar
Name[ru]=Мьянма
Name[se]=Myanmar
Name[si]=Myanmar
Name[sk]=Mjanmarsko
Name[sl]=Mjanmar
Name[sr]=Мјанмар
Name[sr@ijekavian]=Мјанмар
Name[sr@ijekavianlatin]=Mjanmar
Name[sr@latin]=Mjanmar
Name[sv]=Myanmar
Name[ta]=மயன்மார்
Name[te]=మ్యాన్మార్
Name[tg]=Мянма
Name[th]=พม่า
Name[tr]=Myanmar
Name[ug]=بىرماچە
Name[uk]=М’янма
Name[uz]=Myanmar
Name[uz@cyrillic]=Мянмар
Name[vi]=Mianma
Name[wa]=Birmaneye
Name[x-test]=xxMyanmarxx
Name[zh_CN]=缅甸文
Name[zh_TW]=緬甸
Region=southeastasia
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MMK
CurrencyCode=MMK
