[KCM Locale]
Name=French Guiana
Name[ar]=غويانا الفرنسية
Name[ast]=Guyana Francesa
Name[bs]=Francuska Gijana
Name[ca]=Guaiana Francesa
Name[ca@valencia]=Guaiana Francesa
Name[cs]=Francouzská Guyana
Name[da]=Fransk Guiana
Name[de]=Französisch-Guyana
Name[en_GB]=French Guiana
Name[es]=Guayana Francesa
Name[et]=Prantsuse Guajaana
Name[eu]=Guyana Frantsesa
Name[fa]=گویان فرانسه
Name[fi]=Ranskan Guyana
Name[fr]=Guyane française
Name[gd]=Guidheàna na Frainge
Name[gl]=Guiana Francesa
Name[hr]=Francuska Gvajana
Name[hu]=Francia Guyana
Name[ia]=Guiana Francese
Name[id]=Guyana Prancis
Name[is]=Franska Gvæjana
Name[it]=Guiana francese
Name[ko]=프랑스령 기아나
Name[lt]=Prancūzijos Gviana
Name[lv]=Franču Gviāna
Name[mr]=फ्रेंच गयाना
Name[nb]=Fransk Guyana
Name[nds]=Franzöösch Guayana
Name[nl]=Frans Guyana
Name[nn]=Fransk Guyana
Name[pa]=ਫਰੈਂਚ ਗੁਆਨਾ
Name[pl]=Gujana Francuska
Name[pt]=Guiana Francesa
Name[pt_BR]=Guiana Francesa
Name[ru]=Французская Гвиана
Name[sk]=Francúzska Guyana
Name[sl]=Francoska Gvajana
Name[sr]=Француска Гијана
Name[sr@ijekavian]=Француска Гијана
Name[sr@ijekavianlatin]=Francuska Gijana
Name[sr@latin]=Francuska Gijana
Name[sv]=Franska Guyana
Name[tg]=Гвианаи Фаронса
Name[tr]=Fransız Guinası
Name[uk]=Французька Гвіана
Name[x-test]=xxFrench Guianaxx
Name[zh_CN]=法属圭亚那
Name[zh_TW]=法屬圭亞那

Region=southamerica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
