[KCM Locale]
Name=El Salvador
Name[af]=El Salvador
Name[ar]=السّلفادور
Name[as]=এল ছালভাডোৰ
Name[ast]=El Salvador
Name[be]=Сальвадор
Name[be@latin]=El Salvador
Name[bg]=Салвадор
Name[bn]=এল সালভাডোর
Name[bn_IN]=এল সালভাডোর
Name[bs]=El Salvador
Name[ca]=El Salvador
Name[ca@valencia]=El Salvador
Name[cs]=Salvador
Name[csb]=Salwador
Name[cy]=El Salfador
Name[da]=El Salvador
Name[de]=El Salvador
Name[el]=Ελ Σαλβαδόρ
Name[en_GB]=El Salvador
Name[eo]=Salvadoro
Name[es]=El Salvador
Name[et]=Salvador
Name[eu]=El Salvador
Name[fa]=السالوادور
Name[fi]=El Salvador
Name[fr]=Salvador
Name[fy]=El Salvador
Name[ga]=An tSalvadóir
Name[gd]=An Salbhador
Name[gl]=O Salvador
Name[gu]=અલ સાલ્વાડોર
Name[he]=אל סלבדור
Name[hi]=अल सल्वाडोर
Name[hne]=अल सल्वाडोर
Name[hr]=El Salvador
Name[hsb]=El Salvador
Name[hu]=Salvador
Name[ia]=El Salvador
Name[id]=El Salvador
Name[is]=El Salvador
Name[it]=El Salvador
Name[ka]=ელ სალვადორი
Name[kk]=Сальвадор
Name[km]=អែលសាល់វ៉ាឌ័រ
Name[kn]=ಎಲ್ ಸಾಲ್ವೆಡಾರ್
Name[ko]=엘살바도르
Name[ku]=El Salvador
Name[lt]=Salvadoras
Name[lv]=Salvadora
Name[mai]=अल सल्वाडोर
Name[mk]=Ел Салвадор
Name[ml]=എല്‍ സാല്‍വഡോര്‍
Name[mr]=अल सल्वाडोर
Name[ms]=El Salvador
Name[nb]=El Salvador
Name[nds]=El Salvador
Name[ne]=एल साल्भाडोर
Name[nl]=El Salvador
Name[nn]=El Salvador
Name[oc]=El Salvador
Name[or]=ଏଲ ସାଲଭାଡ଼ୋର
Name[pa]=ਈਲ ਸਾਲਵੇਡੋਰ
Name[pl]=Salwador
Name[pt]=El Salvador
Name[pt_BR]=El Salvador
Name[ro]=Salvador
Name[ru]=Сальвадор
Name[se]=El Salvador
Name[si]=එල් සැල්වදෝරය
Name[sk]=Salvádor
Name[sl]=Salvador
Name[sr]=Ел Салвадор
Name[sr@ijekavian]=Ел Салвадор
Name[sr@ijekavianlatin]=El Salvador
Name[sr@latin]=El Salvador
Name[sv]=El Salvador
Name[ta]=எல் சால்வடோ ர்
Name[te]=ఎల్ సాల్వడార్
Name[tg]=Эл Салвадор
Name[th]=เอลซัลวาดอร์
Name[tr]=El Salvador
Name[ug]=سالۋادور
Name[uk]=Сальвадор
Name[uz]=Salvador
Name[uz@cyrillic]=Салвадор
Name[vi]=El Salvador
Name[wa]=El Salvador
Name[x-test]=xxEl Salvadorxx
Name[zh_CN]=萨尔瓦多
Name[zh_TW]=薩爾瓦多
Region=centralamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
