[Desktop Entry]
Name=Energy Information
Name[ar]=معلومات عن الطّاقة
Name[ca]=Informació de l'energia
Name[ca@valencia]=Informació de l'energia
Name[cs]=Informace o energii
Name[da]=Energiinformation
Name[de]=Energie-Information
Name[el]=Πληροφορίες για την ενέργεια
Name[en_GB]=Energy Information
Name[es]=Información sobre energía
Name[et]=Energiateave
Name[eu]=Energiari buruzko informazioa
Name[fi]=Energiatiedot
Name[fr]=Information sur l'énergie
Name[gl]=Información da enerxía
Name[he]= מידע על הספקת החשמל
Name[hu]=Energiakezelési jellemzők
Name[ia]=Information de energia
Name[id]=Informasi Energi
Name[it]=Informazioni energetiche
Name[ja]=エネルギー情報
Name[ko]=에너지 정보
Name[lt]=Energijos informacija
Name[nb]=Energiinformasjon
Name[nl]=Energie-informatie
Name[nn]=Energiinformasjon
Name[pl]=Dane o zasilaniu
Name[pt]=Informação de Energia
Name[pt_BR]=Informações de energia
Name[ru]=Энергопотребление
Name[sk]=Informácie o energii
Name[sl]=Podatki o energiji
Name[sr]=Подаци о енергији
Name[sr@ijekavian]=Подаци о енергији
Name[sr@ijekavianlatin]=Podaci o energiji
Name[sr@latin]=Podaci o energiji
Name[sv]=Information om energi
Name[tr]=Enerji Bilgisi
Name[uk]=Інформація щодо енергоспоживання
Name[x-test]=xxEnergy Informationxx
Name[zh_CN]=能源信息
Name[zh_TW]=能源資訊
Comment=Statistics about energy consumption
Comment[ar]=إحصائيّات استهلاك الطّاقة
Comment[ca]=Estadístiques quant al consum d'energia
Comment[ca@valencia]=Estadístiques quant al consum d'energia
Comment[cs]=Statistika o spotřebě energie
Comment[da]=Statistik om energiforbrug
Comment[de]=Statistiken über den Energieverbrauch
Comment[el]=Στατιστικά σχετικά με την κατανάλωση ενέργειας
Comment[en_GB]=Statistics about energy consumption
Comment[es]=Estadísticas sobre consumo de energía
Comment[et]=Teave energia tarbimise kohta
Comment[eu]=Energia kontsumoari buruzko estatistikak
Comment[fi]=Virrankulutustilastot
Comment[fr]=Statistiques de consommation d'énergie
Comment[gl]=Estatísticas de consumo enerxético.
Comment[he]=סטטיסטיקה על צריכת האנרגיה במערכת
Comment[hu]=Statisztikák az energiafogyasztásról
Comment[id]=Statistik tentang konsumsi energi
Comment[it]=Statistiche sul consumo energetico
Comment[ja]=エネルギー消費に関するの統計
Comment[ko]=에너지 소모 통계
Comment[lt]=Statistika apie energijos sunaudojimą
Comment[nb]=Statistikk om energiforbruk
Comment[nl]=Statistiek over energiegebruik
Comment[nn]=Statistikk om energiforbruk
Comment[pl]=Statystka o poborze energii
Comment[pt]=Estatísticas acerca do consumo de energia
Comment[pt_BR]=Estatística do consumo de energia
Comment[ru]=Просмотр статистики энергопотребления
Comment[sk]=Štatistiky o spotrebe energie
Comment[sl]=Statistika porabe energije
Comment[sr]=Статистика о потрошњи енергије
Comment[sr@ijekavian]=Статистика о потрошњи енергије
Comment[sr@ijekavianlatin]=Statistika o potrošnji energije
Comment[sr@latin]=Statistika o potrošnji energije
Comment[sv]=Statistik om energiförbrukning
Comment[tr]=Enerji tüketimi hakkında istatistik
Comment[uk]=Статистика щодо споживання енергії
Comment[x-test]=xxStatistics about energy consumptionxx
Comment[zh_CN]=能源消耗的统计
Comment[zh_TW]=關於能源消耗的統計
Icon=preferences-system-power-management
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_energyinfo
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/GenericQml
X-KDE-FormFactors=desktop,tablet,handset
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
