[KCM Locale]
Name=Tokelau
Name[af]=Tokelau
Name[ar]=توكلو
Name[as]=টোকেলাউ
Name[ast]=Tokeláu
Name[be]=Такелау
Name[be@latin]=Tokelaŭ
Name[bg]=Токело
Name[bn]=টোকেলো
Name[bn_IN]=টোকেলাউ
Name[br]=Tokelo
Name[bs]=Tokelau
Name[ca]=Tokelau
Name[ca@valencia]=Tokelau
Name[cs]=Tokelau
Name[csb]=Tokelau
Name[cy]=Tocelaw
Name[da]=Tokelau
Name[de]=Tokelau
Name[el]=Τοκελάου
Name[en_GB]=Tokelau
Name[eo]=Tokelao
Name[es]=Tokelau
Name[et]=Tokelau
Name[eu]=Tokelau
Name[fa]=توکلائو
Name[fi]=Tokelau
Name[fr]=Tokelau
Name[fy]=Tokelau
Name[ga]=Oileáin Tócalá
Name[gd]=Tokelau
Name[gl]=Tokelau
Name[gu]=ટોકેલાઉ
Name[he]=טוקלאו
Name[hi]=तोकेलाऊ
Name[hne]=तोकेलाऊ
Name[hr]=Tokelau
Name[hsb]=Tokelau
Name[hu]=Tokelau
Name[ia]=Tokelau
Name[id]=Tokelau
Name[is]=Tókelá
Name[it]=Tokelau
Name[ka]=ტოკელაუ
Name[kk]=Токелау
Name[km]=តូកេឡូ
Name[kn]=ಟೊಕೆಲಾವ್
Name[ko]=토켈라우
Name[ku]=Tokelau
Name[lt]=Tokelau
Name[lv]=Tokelau
Name[mai]=टोकेलाऊ
Name[mk]=Токелау
Name[ml]=തൊക്കിലൌ
Name[mr]=टोकेलाउ
Name[ms]=Tokelau
Name[nb]=Tokelau
Name[nds]=Tokelau
Name[ne]=टोकेलाउ
Name[nl]=Tokelau
Name[nn]=Tokelau
Name[or]=ତୋକେଲାଉ
Name[pa]=ਤੋਕੀਲਾਉ
Name[pl]=Tokelau
Name[pt]=Tokelau
Name[pt_BR]=Toquelau
Name[ro]=Tokelau
Name[ru]=Токелау
Name[se]=Tokelau
Name[si]=Tokelau
Name[sk]=Tokelau
Name[sl]=Tokelau
Name[sr]=Токелау
Name[sr@ijekavian]=Токелау
Name[sr@ijekavianlatin]=Tokelau
Name[sr@latin]=Tokelau
Name[sv]=Tokelau
Name[ta]=டோகேலா
Name[te]=టొకెలౌ
Name[tg]=Токелау
Name[th]=โตเกเลา
Name[tr]=Tokelau
Name[ug]=توكېلاۋچە
Name[uk]=Токелау
Name[uz]=Tokelau
Name[uz@cyrillic]=Токелау
Name[vi]=Tokelau
Name[wa]=Tokelau
Name[x-test]=xxTokelauxx
Name[zh_CN]=托克劳
Name[zh_TW]=托克勞
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NZD
CurrencyCode=NZD
