[KCM Locale]
Name=Romanian
Name[af]=Romeense
Name[ar]=الرّومانيّة
Name[as]=ৰোমানীয়
Name[ast]=Rumanu
Name[be]=Румынская
Name[be@latin]=Rumynskaja
Name[bg]=Румънски
Name[bn]=রোমানীয়
Name[bn_IN]=রোমেনিয়ান
Name[br]=Roumaneg
Name[bs]=rumunski
Name[ca]=Romanès
Name[ca@valencia]=Romanés
Name[cs]=Rumunský
Name[csb]=Rumùńsczi
Name[cy]=Romaneg
Name[da]=Rumænsk
Name[de]=Rumänisch
Name[el]=Ρουμανικά
Name[en_GB]=Romanian
Name[eo]=Rumana
Name[es]=Rumano
Name[et]=Rumeenia
Name[eu]=Errumaniera
Name[fa]=رومانیایی
Name[fi]=Romania
Name[fr]=Roumain
Name[fy]=Roemeensk
Name[ga]=Rómáinis
Name[gd]=Romàinis
Name[gl]=Romanés
Name[gu]=રોમેનિયન
Name[he]=רומנית
Name[hi]=रोमानियाई
Name[hne]=रोमानियाई
Name[hr]=Rumunjski
Name[hsb]=Rumunsce
Name[hu]=Román
Name[ia]=Romaniano
Name[id]=Rumania
Name[is]=Rúmenska
Name[it]=Rumeno
Name[ja]=ルーマニア語
Name[kk]=Румынша
Name[km]=រូម៉ានី
Name[kn]=ರೊಮೇನಿಯನ್
Name[ko]=루마니아어
Name[ku]=Romanî
Name[lb]=Rumänesch
Name[lt]=Rumunų
Name[lv]=Rumāņu
Name[mai]=रोमानियाइ
Name[mk]=Романски
Name[ml]=റൊമേനിയന്‍
Name[mr]=रोमानियन
Name[ms]=Romania
Name[nb]=Rumensk
Name[nds]=Rumäänsch
Name[ne]=रोमानियाली
Name[nl]=Roemeens
Name[nn]=Rumensk
Name[oc]=Romanian
Name[or]=ରୋମାନିୟନ
Name[pa]=ਰੋਮਾਨੀਆਈ
Name[pl]=Rumuński
Name[ps]=رومانيايي
Name[pt]=Romeno
Name[pt_BR]=Romeno
Name[ro]=Română
Name[ru]=Румынский
Name[se]=Romániagiella
Name[si]=රොමේනියානු
Name[sk]=Rumunčina
Name[sl]=Romunščina
Name[sq]=Rumanisht
Name[sr]=румунски
Name[sr@ijekavian]=румунски
Name[sr@ijekavianlatin]=rumunski
Name[sr@latin]=rumunski
Name[sv]=Rumänska
Name[ta]=ருமேனியம்
Name[te]=రొమెనియన్
Name[tg]=Руминӣ
Name[th]=ภาษาโรมาเนีย
Name[tr]=Romence
Name[tt]=Румын
Name[ug]=رۇمىنىيەچە
Name[uk]=Румунська
Name[uz]=Rumincha
Name[uz@cyrillic]=Руминча
Name[vi]=Romania
Name[wa]=Roumin
Name[xh]=Romanian
Name[x-test]=xxRomanianxx
Name[zh_CN]=罗马尼亚语
Name[zh_HK]=羅馬尼亞語
Name[zh_TW]=羅馬尼亞語
