[KCM Locale]
Name=Morocco
Name[af]=Morokko
Name[ar]=المغرب
Name[as]=মৰোক্কো
Name[ast]=Marruecos
Name[be]=Марока
Name[be@latin]=Maroka
Name[bg]=Мароко
Name[bn]=মরক্কো
Name[bn_IN]=মরোক্কো
Name[br]=Marok
Name[bs]=Maroko
Name[ca]=Marroc
Name[ca@valencia]=Marroc
Name[cs]=Maroko
Name[csb]=Marokò
Name[cy]=Moroco
Name[da]=Marokko
Name[de]=Marokko
Name[el]=Μαρόκο
Name[en_GB]=Morocco
Name[eo]=Maroko
Name[es]=Marruecos
Name[et]=Maroko
Name[eu]=Maroko
Name[fa]=مراکش
Name[fi]=Marokko
Name[fr]=Maroc
Name[fy]=Marokko
Name[ga]=Maracó
Name[gd]=Moroco
Name[gl]=Marrocos
Name[gu]=મોરોક્કો
Name[he]=מרוקו
Name[hi]=मोरक्को
Name[hne]=मोरक्को
Name[hr]=Maroko
Name[hsb]=Maroko
Name[hu]=Marokkó
Name[ia]=Marocco
Name[id]=Maroko
Name[is]=Marokkó
Name[it]=Marocco
Name[ka]=მაროკო
Name[kk]=Марокко
Name[km]=ម៉ារ៉ុក
Name[kn]=ಮೊರೊಕ್ಕೊ
Name[ko]=모로코
Name[ku]=Fas
Name[lt]=Marokas
Name[lv]=Maroka
Name[mai]=मोरोक्को
Name[mk]=Мароко
Name[ml]=മൊറോക്കോ
Name[mr]=मोरोक्को
Name[ms]=Morocco
Name[nb]=Marokko
Name[nds]=Marokko
Name[ne]=मोरक्को
Name[nl]=Marokko
Name[nn]=Marokko
Name[oc]=Marròc
Name[or]=ମୋରକ୍କୋ
Name[pa]=ਮੋਰਕੋ
Name[pl]=Maroko
Name[pt]=Marrocos
Name[pt_BR]=Marrocos
Name[ro]=Maroc
Name[ru]=Марокко
Name[se]=Marokko
Name[si]=Morocco
Name[sk]=Maroko
Name[sl]=Maroko
Name[sr]=Мароко
Name[sr@ijekavian]=Мароко
Name[sr@ijekavianlatin]=Maroko
Name[sr@latin]=Maroko
Name[sv]=Marocko
Name[ta]=மோராகோ
Name[te]=మొరాకో
Name[tg]=Марокаш
Name[th]=โมร็อกโก
Name[tr]=Morocco
Name[ug]=ماراكەش
Name[uk]=Марокко
Name[uz]=Marokash
Name[uz@cyrillic]=Марокаш
Name[vi]=Ma Rốc
Name[wa]=Marok
Name[xh]=Morocco
Name[x-test]=xxMoroccoxx
Name[zh_CN]=摩纳哥城
Name[zh_TW]=摩洛哥
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MAD
CurrencyCode=MAD
