[Desktop Entry]
Version=1.0
Name=Url Handler Script
Exec=/usr/bin/xdg-open %u
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;x-scheme-handler/help;
Type=Application
