[KCM Locale]
Author=Ramon Casha <ramon.casha@megabyte.net>
Name=Malta
Name[ar]=مالطة
Name[ast]=Malta
Name[bs]=Malta
Name[ca]=Malta
Name[ca@valencia]=Malta
Name[cs]=Malta
Name[da]=Malta
Name[de]=Malta
Name[en_GB]=Malta
Name[es]=Malta
Name[et]=Malta
Name[eu]=Malta
Name[fa]=مالت
Name[fi]=Malta
Name[fr]=Malte
Name[gd]=Malta
Name[gl]=Malta
Name[hr]=Malta
Name[hu]=Málta
Name[ia]=Malta
Name[id]=Malta
Name[is]=Malta
Name[it]=Malta
Name[ka]=მალტა
Name[ko]=몰타
Name[lt]=Malta
Name[lv]=Malta
Name[mr]=माल्टा
Name[nb]=Malta
Name[nds]=Malta
Name[nl]=Malta
Name[nn]=Malta
Name[pa]=ਮਾਲਟਾ
Name[pl]=Malta
Name[pt]=Malta
Name[pt_BR]=Malta
Name[ru]=Мальта
Name[se]=Malta
Name[sk]=Malta
Name[sl]=Malta
Name[sr]=Малта
Name[sr@ijekavian]=Малта
Name[sr@ijekavianlatin]=Malta
Name[sr@latin]=Malta
Name[sv]=Malta
Name[tg]=Малта
Name[tr]=Malta
Name[uk]=Мальта
Name[x-test]=xxMaltaxx
Name[zh_CN]=马耳他
Name[zh_TW]=馬爾他
Region=southeurope
Languages=mt,en_GB,en
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[mt]=%A, %e ta' %B %Y
DateFormat[en_GB]=%A %d %B %Y
DateFormat[en]=%A %d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
