[KCM Locale]
Name=Indonesian
Name[af]=Indonesië
Name[ar]=الإندونيسيّة
Name[ast]=Indonesiu
Name[bg]=Индонезийски
Name[br]=Indoneseg
Name[bs]=indonežanski
Name[ca]=Indonesi
Name[ca@valencia]=Indonesi
Name[cs]=Indonéský
Name[cy]=Indonesieg
Name[da]=Indonesisk
Name[de]=Indonesisch
Name[el]=Ινδονησιακά
Name[en_GB]=Indonesian
Name[eo]=Indonezia
Name[es]=Indonesio
Name[et]=Indoneesia
Name[eu]=Indonesiera
Name[fa]=اندونزیایی
Name[fi]=Indonesia
Name[fr]=Indonésien
Name[fy]=Yndonesysk
Name[ga]=Indinéisis
Name[gd]=Innd-Innsis
Name[gl]=Indonesio
Name[gu]=ઈન્ડોનેશિયન
Name[he]=אינדונזית
Name[hi]=इंडोनेशियाई
Name[hr]=Indonezijski
Name[hu]=Indonéz
Name[ia]=Indonesiano 
Name[id]=Indonesia
Name[is]=Indónesíska
Name[it]=Indonesiano
Name[ja]=インドネシア語
Name[kk]=Индонезияша
Name[km]=ឥណ្ឌូនេស៊ី
Name[ko]=인도네시아어
Name[ku]=Endonezî
Name[lb]=Indonesesch
Name[lt]=Indoneziečių
Name[lv]=Indonēziešu
Name[mk]=Индонезиски
Name[mr]=इंडोनेशियन
Name[ms]=Indonesia
Name[nb]=Indonesisk
Name[nds]=Indoneesch
Name[nl]=Indonesisch
Name[nn]=Indonesisk
Name[pa]=ਇੰਡੋਨੇਸ਼ੀਆਈ
Name[pl]=Indonezyjski
Name[pt]=Indonésio
Name[pt_BR]=Indonésio
Name[ro]=Indoneziană
Name[ru]=Индонезийский
Name[se]=Indonesiagiella
Name[sk]=Indonézština
Name[sl]=Indonezijščina
Name[sq]=Indonezisht
Name[sr]=индонежански
Name[sr@ijekavian]=индонежански
Name[sr@ijekavianlatin]=indonežanski
Name[sr@latin]=indonežanski
Name[sv]=Indonesiska
Name[ta]=இந்தோனேசியம்
Name[tg]=Индонезӣ
Name[th]=ภาษาอินโดนีเซีย
Name[tr]=Endonezya Dili
Name[tt]=Индонезия
Name[ug]=ھىندونېزىيەچە
Name[uk]=Індонезійська
Name[uz]=Indonezcha
Name[uz@cyrillic]=Индонезча
Name[vi]=Indonesia
Name[wa]=Indonezyin
Name[xh]=Indonesian
Name[x-test]=xxIndonesianxx
Name[zh_CN]=印度尼西亚语
Name[zh_HK]=印尼語
Name[zh_TW]=印尼語
