[D-BUS Service]
Name=org.gtk.vfs.GPhoto2VolumeMonitor
Exec=/usr/lib/gvfs/gvfs-gphoto2-volume-monitor
SystemdService=gvfs-gphoto2-volume-monitor.service
