[D-BUS Service]
Name=org.gnome.evolution.dataserver.AddressBook9
Exec=/usr/lib/evolution/evolution-addressbook-factory
SystemdService=evolution-addressbook-factory.service
