[D-BUS Service]
Name=org.gnome.evolution.dataserver.Sources5
Exec=/usr/lib/evolution/evolution-source-registry
SystemdService=evolution-source-registry.service
