[KCM Locale]
Name=Jamaica
Name[af]=Jamaika
Name[ar]=جامايكا
Name[as]=জামাইকা
Name[ast]=Xamaica
Name[be]=Ямайка
Name[be@latin]=Jamajka
Name[bg]=Ямайка
Name[bn]=জামাইকা
Name[bn_IN]=জামাইকা
Name[bs]=Jamajka
Name[ca]=Jamaica
Name[ca@valencia]=Jamaica
Name[cs]=Jamajka
Name[csb]=Jamajka
Name[cy]=Jamaica
Name[da]=Jamaica
Name[de]=Jamaika
Name[el]=Τζαμάικα
Name[en_GB]=Jamaica
Name[eo]=Jamajko
Name[es]=Jamaica
Name[et]=Jamaica
Name[eu]=Jamaika
Name[fa]=جامائیکا
Name[fi]=Jamaika
Name[fr]=Jamaïque
Name[fy]=Jamaica
Name[ga]=Iamáice
Name[gd]=Diameuga
Name[gl]=Xamaica
Name[gu]=જમૈકા
Name[he]=ג'מייקה
Name[hi]=जमैका
Name[hne]=जमैका
Name[hr]=Jamajka
Name[hsb]=Jamaika
Name[hu]=Jamaica
Name[ia]=Jamaica
Name[id]=Jamaika
Name[is]=Jamaíka
Name[it]=Giamaica
Name[ka]=იამაიკა
Name[kk]=Ямайка
Name[km]=ហ្សាម៉ាអ៊ិកា
Name[kn]=ಜಮೈಕಾ
Name[ko]=자메이카
Name[ku]=Jamayîka
Name[lt]=Jamaika
Name[lv]=Jamaika
Name[mai]=जमैका
Name[mk]=Јамајка
Name[ml]=ജമൈക്ക
Name[mr]=जमैका
Name[ms]=Jamaica
Name[nb]=Jamaica
Name[nds]=Jamaika
Name[ne]=जमैका
Name[nl]=Jamaica
Name[nn]=Jamaica
Name[oc]=Jamaïca
Name[or]=ଜାମାଇକା
Name[pa]=ਜੈਮੇਕਾ
Name[pl]=Jamajka
Name[pt]=Jamaica
Name[pt_BR]=Jamaica
Name[ro]=Jamaica
Name[ru]=Ямайка
Name[se]=Jamaica
Name[si]=ජැමෙයිකාව
Name[sk]=Jamajka
Name[sl]=Jamajka
Name[sr]=Јамајка
Name[sr@ijekavian]=Јамајка
Name[sr@ijekavianlatin]=Jamajka
Name[sr@latin]=Jamajka
Name[sv]=Jamaica
Name[ta]=சமெய்க்கா
Name[te]=జమైకా
Name[tg]=Ҷамайка
Name[th]=จาไมก้า
Name[tr]=Jamaika
Name[ug]=يامايكا
Name[uk]=Ямайка
Name[uz]=Yamayka
Name[uz@cyrillic]=Ямайка
Name[vi]=Jamaica
Name[wa]=Djamayike
Name[x-test]=xxJamaicaxx
Name[zh_CN]=牙买加
Name[zh_TW]=牙買加
Region=caribbean
Languages=en_GB,en_US
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[en_US]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartDay=7
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=JMD
CurrencyCode=JMD
