[KCM Locale]
Name=Virgin Islands, U.S.
Name[af]=Virgin Eilande, VSA
Name[ar]=جزر فيرجن الأمريكية.
Name[as]=মাৰ্কিন ভাৰ্জিন দ্বীপ
Name[ast]=Islles Vírxenes Americanes
Name[be]=Амерыканскія Віргінскія астравы
Name[be@latin]=Virdžynskija vyspy, ZŠA
Name[bg]=Американски Вирджински острови
Name[bn]=ভার্জিন আইল্যাণ্ডস, মার্কিন যুক্তরাষ্ট্র
Name[bn_IN]=মার্কিন ভার্জিন দ্বীপ
Name[bs]=Djevičanska ostrva, SAD
Name[ca]=Illes Verges Americanes
Name[ca@valencia]=Illes Verges Americanes
Name[cs]=Panenské ostrovy, U.S.
Name[csb]=Dzéwczëce Òstrowë (USA)
Name[cy]=Ynysoedd yr Wyryf, Americanaidd
Name[da]=Jomfruøerne
Name[de]=Virgin-Inseln, amerikanisch
Name[el]=Παρθένοι Νήσοι, Η.Π.A.
Name[en_GB]=Virgin Islands, U.S.
Name[eo]=Virgininsuloj, Usonaj
Name[es]=Islas Vírgenes Americanas
Name[et]=USA Neitsisaared
Name[eu]=Birjina uharteak (amerikarrak)
Name[fa]=جزایر ویرجین آمریکا
Name[fi]=Yhdysvaltain Neitsytsaaret
Name[fr]=Îles Vierges américaines
Name[fy]=Virgin Eilannen, U.S.
Name[ga]=Oileáin na Maighdean S.A.M.
Name[gd]=Eileanan Ameireagach na Maighdinn
Name[gl]=Illas Virxes, U.S.
Name[gu]=વર્જીન ટાપુઓ, યુ.એસ.
Name[he]=איי הבתולה, ארה"ב
Name[hi]=वर्जिन आइलैंड, यू.एस.
Name[hne]=वर्जऊन आइलैंड, यू.एस.
Name[hr]=Djevičansko otočje, SAD
Name[hsb]=Knježnowe kupy, US-ameriske
Name[hu]=Virgin-szigetek (USA)
Name[ia]=Insulas Virgine, le (SUA)
Name[id]=Kepulauan Virgin, AS
Name[is]=Bandarísku Jómfrúareyjar
Name[it]=Isole Vergini Americane
Name[ka]=ქალწულის კუნძულები, ა.შ.შ
Name[kk]=Виргин ар-ы (АҚШ)
Name[km]=កោះ​ស្មោង អាមេរិក
Name[kn]=ವರ್ಜಿನ್ ಐಲ್ಯಾಂಡುಗಳು (U.S.)
Name[ko]=미국령 버진 제도
Name[ku]=Giravên Virjin, D.Y.
Name[lt]=Virgin Islands, U.S.
Name[lv]=Virdžinu salas, ASV.
Name[mai]=वर्जिन आइलैंड, यू.एस.
Name[mk]=Девствени Острови, САД
Name[ml]=വിര്‍ജിന്‍ ഐലന്‍ഡ്സ്, യു.എസ്.
Name[mr]=वर्जिन द्वीप, U.S.
Name[ms]=Kepulauan Virgin, U.S.
Name[nb]=Jomfruøyene (USA)
Name[nds]=Amerikaansche Jumferneilannen
Name[ne]=अमेरिकी भर्जिन द्विप
Name[nl]=Maagdeneilanden, VS
Name[nn]=Jomfruøyene (USA)
Name[oc]=Finlandia
Name[or]=ଭିରଜିନ ଆଇଲ୍ୟାଣ୍ଡ, U.S.
Name[pa]=ਵੀਰਗੀਨ ਟਾਪੂ, ਅਮਰੀਕਾ
Name[pl]=Wyspy Dziewicze (USA)
Name[pt]=Ilhas Virgens, E.U.A.
Name[pt_BR]=Ilhas Virgens, EUA
Name[ro]=Insulele Virgine, S.U.A.
Name[ru]=Американские Виргинские острова
Name[se]=Virgin Islands, (USA)
Name[si]=වර්ජින් දූපත්, U.S.
Name[sk]=Panenské Ostrovy, Americké
Name[sl]=Deviški otoki, ZDA
Name[sr]=Девичанска острва, САД
Name[sr@ijekavian]=Дјевичанска острва, САД
Name[sr@ijekavianlatin]=Djevičanska ostrva, SAD
Name[sr@latin]=Devičanska ostrva, SAD
Name[sv]=Amerikanska Jungfruöarna
Name[ta]=விர்ஜின் தீவுகள், U.S.
Name[te]=వర్జిన్ ద్వీపాలు, అమెరికా
Name[tg]=Ҷазираҳои Виргин, ИМА
Name[th]=หมู่เกาะเวอร์จิน, สหรัฐอเมริกา
Name[tr]=Virgin Adaları (ABD)
Name[ug]=ۋىرجىن تاقىم ئاراللىرى، ئامېرىكا
Name[uk]=Віргінські острови (США)
Name[uz]=AQSH Virjin Orollari
Name[uz@cyrillic]=АҚШ Виржин Ороллари
Name[vi]=Quần đảo Virgin, Hoa Kỳ
Name[wa]=Iyes Viedjes, etazunyinnes
Name[x-test]=xxVirgin Islands, U.S.xx
Name[zh_CN]=美属维京群岛
Name[zh_TW]=美屬維爾京群島
Region=caribbean
Languages=en_GB
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=0
DateFormat[en_US]=%A, %B %n, %Y
DateFormatShort=%n/%e/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
