[KCM Locale]
Name=Timor-Leste
Name[ar]=تيمور الشرقية
Name[as]=পূৰ্ব টিমুৰ
Name[ast]=Timor Oriental
Name[be@latin]=Timor-Leste
Name[bg]=Тимор-Лесте
Name[bn]=টিমোর-লেস্টে
Name[bs]=Timor-Leste
Name[ca]=Timor Oriental
Name[ca@valencia]=Timor Oriental
Name[cs]=Timor-Leste
Name[csb]=Timor-Leste
Name[da]=Timor-Leste
Name[de]=Osttimor
Name[el]=Ανατολικό Τιμόρ
Name[en_GB]=Timor-Leste
Name[eo]=Orienta Timoro
Name[es]=Timor Oriental
Name[et]=Ida-Timor
Name[eu]=Ekialdeko Timor
Name[fa]=تیمور - لسته
Name[fi]=Itä-Timor
Name[fr]=Timor-Leste
Name[fy]=Timor-Leste
Name[ga]=An Tíomór Thoir
Name[gd]=Timor-Leste
Name[gl]=Timor Leste
Name[gu]=તિમોર-લેસ્તે
Name[he]=טימור־לסטה
Name[hi]=तिमोर-लेस्ते
Name[hne]=तिमोर-लेस्त
Name[hr]=Timor-Leste
Name[hsb]=Timor-Leste
Name[hu]=Timor-Leste
Name[ia]=Timor del Est (Timor-Leste)
Name[id]=Timor-Leste
Name[is]=Tímor-Leste
Name[it]=Timor Est
Name[kk]=Тимор-Лесте
Name[km]=Timor-Leste
Name[kn]=ತಿಮೋರ್-ಲೆಸ್ಟ್
Name[ko]=동티모르
Name[ku]=Tîmora Rojhilat
Name[lt]=Timor-Leste
Name[lv]=Austrumtimora
Name[mai]=तिमोर-लेस्टे
Name[mk]=Источен Тимор
Name[ml]=തിമൂര്‍-ലെസ്തെ
Name[mr]=टिमोर-लेस्टे
Name[nb]=Timor-Leste
Name[nds]=Oost-Timor
Name[nl]=Oost-Timor
Name[nn]=Aust-Timor
Name[or]=ତିମୋର-ଲେଷ୍ଟ
Name[pa]=ਤੀਮੋਰ-ਲੀਸਟੀ
Name[pl]=Timor Wschodni
Name[pt]=Timor-Leste
Name[pt_BR]=Timor-Leste
Name[ro]=Timor-Leste
Name[ru]=Тимор-Лешти
Name[si]=Timor-Leste
Name[sk]=Východný Timor
Name[sl]=Vzhodni Timor
Name[sr]=Тимор-Лесте
Name[sr@ijekavian]=Тимор-Лесте
Name[sr@ijekavianlatin]=Timor-Leste
Name[sr@latin]=Timor-Leste
Name[sv]=Östtimor
Name[ta]=Timor-Leste
Name[te]=టైమోర్-లెస్టే
Name[tg]=Тимори Лестӣ
Name[th]=ติมอร์-เลสเต
Name[tr]=Doğu Timor
Name[ug]=شەرقىي تىمور
Name[uk]=Східний Тимор
Name[vi]=Timor-Leste
Name[wa]=Timor Ess
Name[x-test]=xxTimor-Lestexx
Name[zh_CN]=东帝汶民主共和国
Name[zh_TW]=Timor-Leste
Region=southeastasia
Languages=pt,en_GB,id
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD,IDR
CurrencyCode=USD
