[KCM Locale]
Name=Thai
Name[af]=Thaise
Name[ar]=التّايلانديّة
Name[as]=থাই
Name[ast]=Tailandés
Name[be]=Тайская
Name[be@latin]=Tajskaja
Name[bg]=Тамилски
Name[bn]=থাই
Name[bn_IN]=থাই
Name[br]=Tailh
Name[bs]=tajlandski
Name[ca]=Tai
Name[ca@valencia]=Tai
Name[cs]=Thajský
Name[csb]=Tajsczi
Name[cy]=Tai
Name[da]=Thailandsk
Name[de]=Thai
Name[el]=Ταϊλανδικά
Name[en_GB]=Thai
Name[eo]=Taja
Name[es]=Tailandés
Name[et]=Tai
Name[eu]=Thailandiera
Name[fa]=تایلندی
Name[fi]=Thai
Name[fr]=Thaïlandais
Name[fy]=Taaisk
Name[ga]=Téalainnis
Name[gd]=Tàidh
Name[gl]=Tailandés
Name[gu]=થાઈ
Name[he]=תאילנדית
Name[hi]=थाई
Name[hne]=थाई
Name[hr]=Thai
Name[hsb]=Thai
Name[hu]=Thaiföldi
Name[ia]=Thai
Name[id]=Thailand
Name[is]=Tælenska
Name[it]=Thailandese
Name[ja]=タイ語
Name[kk]=Тайша
Name[km]=ថៃ
Name[kn]=ತಾಯ್
Name[ko]=타이어
Name[ku]=Tay
Name[lb]=Thailännesch
Name[lt]=Tajų
Name[lv]=Taizemiešu
Name[mai]=थाइ
Name[mk]=Тајландски
Name[ml]=തായ്
Name[mr]=थाई
Name[ms]=Thai
Name[nb]=Thai
Name[nds]=Thai
Name[ne]=थाई
Name[nl]=Thais
Name[nn]=Thai
Name[oc]=Tailandés
Name[or]=ଥାଇ
Name[pa]=ਥਾਈ
Name[pl]=Tajski
Name[ps]=ټهايي
Name[pt]=Tailandês
Name[pt_BR]=Tailandês
Name[ro]=Tailandeză
Name[ru]=Тайский
Name[se]=Thaigiella
Name[si]=තායි
Name[sk]=Thajčina
Name[sl]=Tajščina
Name[sq]=Tajlandisht
Name[sr]=тајландски
Name[sr@ijekavian]=тајландски
Name[sr@ijekavianlatin]=tajlandski
Name[sr@latin]=tajlandski
Name[sv]=Thailändska
Name[ta]=தாய்
Name[te]=థాయి
Name[tg]=Тайландӣ
Name[th]=ภาษาไทย
Name[tr]=Thai
Name[tt]=Тай
Name[ug]=تايلاندچە
Name[uk]=Таїландська
Name[uz]=Taycha
Name[uz@cyrillic]=Тайча
Name[vi]=Thái
Name[wa]=Taylandès
Name[xh]=Thai
Name[x-test]=xxThaixx
Name[zh_CN]=泰历
Name[zh_HK]=泰語
Name[zh_TW]=泰語
