[KCM Locale]
Name=San Marino
Name[af]=San Marino
Name[ar]=سانت ماركوس
Name[as]=ছান মাৰিনো
Name[ast]=San Marín
Name[be]=Сан-Марына
Name[be@latin]=San Maryna
Name[bg]=Сан Марино
Name[bn]=সান মারিনো
Name[bn_IN]=সান মারিনো
Name[br]=San Marino
Name[bs]=San Marino
Name[ca]=San Marino
Name[ca@valencia]=San Marino
Name[cs]=San Marino
Name[csb]=San Marino
Name[cy]=San Marino
Name[da]=San Marino
Name[de]=San Marino
Name[el]=Άγιος Μαρίνος
Name[en_GB]=San Marino
Name[eo]=San-Marino
Name[es]=San Marino
Name[et]=San Marino
Name[eu]=San Marino
Name[fa]=سان مارینو
Name[fi]=San Marino
Name[fr]=Saint-Marin
Name[fy]=San Marino
Name[ga]=San Mairíne
Name[gd]=San Marino
Name[gl]=San Mariño
Name[gu]=સાન મરિનો
Name[he]=סן מרינו
Name[hi]=सेन मेरिनो
Name[hne]=सेन मेरिनो
Name[hr]=San Marino
Name[hsb]=San Marino
Name[hu]=San Marino
Name[ia]=San Marino
Name[id]=San Marino
Name[is]=San Marínó
Name[it]=San Marino
Name[ka]=სან მარინო
Name[kk]=Сан-Марино
Name[km]=សាន់ម៉ារីណូ
Name[kn]=ಸಾನ್ ಮ್ಯಾರಿನೊ
Name[ko]=산마리노
Name[ku]=San Marîno
Name[lt]=San Marinas
Name[lv]=Sanmarīno
Name[mai]=सैन मेरिनो
Name[mk]=Сан Марино
Name[ml]=സാന്‍‌ മാരിനോ
Name[mr]=सॅन मरिनो
Name[ms]=San Marino
Name[nb]=San Marino
Name[nds]=San Marino
Name[ne]=सन मारिनो
Name[nl]=San Marino
Name[nn]=San Marino
Name[oc]=Panama
Name[or]=ସାନ ମେରିନୋ
Name[pa]=ਸਨ ਮਰੀਨੋ
Name[pl]=San Marino
Name[pt]=São Marino
Name[pt_BR]=San Marino
Name[ro]=San Marino
Name[ru]=Сан-Марино
Name[se]=San Marino
Name[si]=San Marino
Name[sk]=San Maríno
Name[sl]=San Marino
Name[sr]=Сан Марино
Name[sr@ijekavian]=Сан Марино
Name[sr@ijekavianlatin]=San Marino
Name[sr@latin]=San Marino
Name[sv]=San Marino
Name[ta]=சான் மரினோ
Name[te]=సాన్ మెరినో
Name[tg]=Сан Марино
Name[th]=ซานมาริโน
Name[tr]=San Marino
Name[ug]=سان-مارىنو
Name[uk]=Сан-Марино
Name[uz]=San-Marino
Name[uz@cyrillic]=Сан-Марино
Name[vi]=San Marino
Name[wa]=Sint Marin
Name[x-test]=xxSan Marinoxx
Name[zh_CN]=圣马力诺
Name[zh_TW]=聖馬力諾
Region=southeurope
Languages=it
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
