[KCM Locale]
Name=Niue
Name[af]=Nieu
Name[ar]=نييوي
Name[as]=নিউ
Name[ast]=Niue
Name[be]=Ніўэ
Name[be@latin]=Niue
Name[bg]=Ниуе
Name[bn]=নিউই
Name[bn_IN]=নিউ
Name[br]=Niue
Name[bs]=Niu
Name[ca]=Niue
Name[ca@valencia]=Niue
Name[cs]=Niue
Name[csb]=Niue
Name[cy]=Niwe
Name[da]=Niue
Name[de]=Niue
Name[el]=Νιούε
Name[en_GB]=Niue
Name[eo]=Niuo
Name[es]=Niue
Name[et]=Niue
Name[eu]=Niue
Name[fa]=نیوئه
Name[fi]=Niue
Name[fr]=Niué
Name[fy]=Niue
Name[ga]=Niue
Name[gd]=Niue
Name[gl]=Niue
Name[gu]=નિઉ
Name[he]=ניואה
Name[hi]=नियू
Name[hne]=नियू
Name[hr]=Niue
Name[hsb]=Niue
Name[hu]=Niue
Name[ia]=Niue
Name[id]=Niue
Name[is]=Niue
Name[it]=Niue
Name[ka]=ნიუე
Name[kk]=Ниуэ
Name[km]=នីវ
Name[kn]=ನಿವೆ
Name[ko]=니우에
Name[ku]=Nîûe
Name[lt]=Niue
Name[lv]=Niue
Name[mai]=निवे
Name[mk]=Није
Name[ml]=നിയൂ
Name[mr]=नियू
Name[ms]=Niue
Name[nb]=Niue
Name[nds]=Niue
Name[ne]=निउ
Name[nl]=Niue
Name[nn]=Niue
Name[or]=ନିଉ
Name[pa]=ਨੀਉਈ
Name[pl]=Niue
Name[pt]=Niue
Name[pt_BR]=Niue
Name[ro]=Niue
Name[ru]=Ниуэ
Name[se]=Niue
Name[si]=Niue
Name[sk]=Niue
Name[sl]=Niue
Name[sr]=Ниу
Name[sr@ijekavian]=Ниу
Name[sr@ijekavianlatin]=Niu
Name[sr@latin]=Niu
Name[sv]=Niue
Name[ta]=நீயு
Name[te]=నియు
Name[tg]=Ниуэ
Name[th]=นิอุเอ
Name[tr]=Nive
Name[ug]=نىيۇئې
Name[uk]=Ніуе
Name[uz]=Niue
Name[uz@cyrillic]=Ниуе
Name[vi]=Niue
Name[wa]=Niuwé
Name[x-test]=xxNiuexx
Name[zh_CN]=尼斯
Name[zh_TW]=紐鄂島
Region=oceania
Languages=es
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NZD
CurrencyCode=NZD
