[KCM Locale]
Name=Thailand
Name[ar]=تايلاند
Name[ast]=Tailandia
Name[bs]=Tajland
Name[ca]=Tailàndia
Name[ca@valencia]=Tailàndia
Name[cs]=Thajsko
Name[da]=Thailand
Name[de]=Thailand
Name[en_GB]=Thailand
Name[es]=Tailandia
Name[et]=Tai
Name[eu]=Thailandia
Name[fa]=تایلند
Name[fi]=Thaimaa
Name[fr]=Thaïlande
Name[gd]=Dùthaich nan Tàidh
Name[gl]=Tailandia
Name[hr]=Tajland
Name[hu]=Thaiföld
Name[ia]=Thailanda
Name[id]=Thailand
Name[is]=Taíland
Name[it]=Thailandia
Name[ka]=ტაილანდი
Name[ko]=타이
Name[lt]=Tailandas
Name[lv]=Taizeme
Name[mr]=थाईलंड
Name[nb]=Thailand
Name[nds]=Thailand
Name[nl]=Thailand
Name[nn]=Thailand
Name[pa]=ਥਾਈਲੈਂਡ
Name[pl]=Tajlandia
Name[pt]=Tailândia
Name[pt_BR]=Tailândia
Name[ru]=Таиланд
Name[se]=Thailand
Name[sk]=Thajsko
Name[sl]=Tajska
Name[sr]=Тајланд
Name[sr@ijekavian]=Тајланд
Name[sr@ijekavianlatin]=Tajland
Name[sr@latin]=Tajland
Name[sv]=Thailand
Name[tg]=Тайланд
Name[tr]=Tayland
Name[uk]=Таїланд
Name[x-test]=xxThailandxx
Name[zh_CN]=泰国
Name[zh_TW]=泰國
Region=southeastasia
Languages=th
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=4
NegativeMonetarySignPosition=4
DateFormat[th]=%a %e %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=THB
CurrencyCode=THB
