[KCM Locale]
Name=Anguilla
Name[af]=Anguilla
Name[ar]=أنجويلا
Name[as]=এঙ্গিলা
Name[ast]=Anguila
Name[be]=Ангілья
Name[be@latin]=Anguilla
Name[bg]=Ангила
Name[bn]=অ্যাঙ্গুইলা
Name[bn_IN]=অ্যাঙ্গিলা
Name[br]=Angilla
Name[bs]=Angvila
Name[ca]=Anguilla
Name[ca@valencia]=Anguilla
Name[cs]=Anguilla
Name[csb]=Anguilla
Name[cy]=Angwila
Name[da]=Anguilla
Name[de]=Anguilla
Name[el]=Ανγκουίλα
Name[en_GB]=Anguilla
Name[eo]=Angvilo
Name[es]=Anguila
Name[et]=Anguilla
Name[eu]=Aingira
Name[fa]=آنگوئیلا
Name[fi]=Anguilla
Name[fr]=Anguilla
Name[fy]=Anguilla
Name[ga]=Anguilla
Name[gd]=Anguilla
Name[gl]=Anguilla
Name[gu]=એન્ગુઇલા
Name[he]=אנגווילה
Name[hi]=एंगुएला
Name[hne]=वगुएला
Name[hr]=Anguilla
Name[hsb]=Anguilla
Name[hu]=Anguilla
Name[ia]=Anguilla
Name[id]=Anguilla
Name[is]=Angvilla
Name[it]=Anguilla
Name[ka]=ანგილა
Name[kk]=Ангилья
Name[km]=អង់ហ្ស៊ីឡា
Name[kn]=ಅಂಗ್ವಿಲಾ
Name[ko]=앵귈라
Name[ku]=Angîla
Name[lt]=Anguilla
Name[lv]=Angiļa
Name[mai]=एंग्विला
Name[mk]=Ангилја
Name[ml]=അന്‍ഗ്വിലാ
Name[mr]=अंगुला
Name[ms]=Anguilla
Name[nb]=Anguilla
Name[nds]=Anguilla
Name[ne]=एङ्गुइला
Name[nl]=Anguilla
Name[nn]=Anguilla
Name[oc]=Anguillà
Name[or]=ଏଙ୍ଗୁଇଲା
Name[pa]=ਐਂਨਗੁਈਲਾ
Name[pl]=Anguilla
Name[pt]=Anguilla
Name[pt_BR]=Anguila
Name[ro]=Anghila
Name[ru]=Ангилья
Name[se]=Anguilla
Name[si]=ඇන්ගියුලාව
Name[sk]=Anguilla
Name[sl]=Angvila
Name[sr]=Ангвила
Name[sr@ijekavian]=Ангвила
Name[sr@ijekavianlatin]=Angvila
Name[sr@latin]=Angvila
Name[sv]=Anguilla
Name[ta]=ஆன்கில்லா
Name[te]=ఎన్గుల్లా
Name[tg]=Ангилла
Name[th]=แองกวิลลา
Name[tr]=Anguilla
Name[ug]=ئانگۋىللا
Name[uk]=Ангілья
Name[uz]=Angvilla
Name[uz@cyrillic]=Ангвилла
Name[vi]=Anguilla
Name[wa]=Anguila
Name[x-test]=xxAnguillaxx
Name[zh_CN]=阿瓜迪利亚
Name[zh_TW]=安圭拉
Region=caribbean
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XCD
CurrencyCode=XCD
