[KCM Locale]
Name=Comoros
Name[af]=Comoros
Name[ar]=جزر القمر
Name[as]=কোমোৰোছ
Name[ast]=Comores
Name[be]=Каморы
Name[be@latin]=Kamorskija vyspy
Name[bg]=Коморски острови
Name[bn]=কমোরস
Name[bn_IN]=কোমোরোস
Name[br]=Komoros
Name[bs]=Komori
Name[ca]=Comores
Name[ca@valencia]=Comores
Name[cs]=Komory
Name[csb]=Kòmòrë
Name[cy]=Ynysoedd Y Comoros
Name[da]=Comorerne
Name[de]=Komoren
Name[el]=Κομόρες
Name[en_GB]=Comoros
Name[eo]=Komoroj
Name[es]=Comoras
Name[et]=Komoorid
Name[eu]=Komoreak
Name[fa]=کومور
Name[fi]=Komorit
Name[fr]=Comores
Name[fy]=Comoros
Name[ga]=Oileáin Chomóra
Name[gd]=Comoros
Name[gl]=Comoros
Name[gu]=કોમોરોસ
Name[he]=איי קומורו
Name[hi]=कोमोरो
Name[hne]=कोमोरो
Name[hr]=Komori
Name[hsb]=Komory
Name[hu]=Comoros
Name[ia]=Comores, le
Name[id]=Komoro
Name[is]=Kómoreyjar
Name[it]=Comore
Name[ka]=კომორები
Name[kk]=Комор ар-ы
Name[km]=កុំម៉ូរ៉ូស
Name[kn]=ಕೊಮೊರೋಸ್
Name[ko]=코모로
Name[ku]=Komoros
Name[lt]=Comoros
Name[lv]=Komoru salas
Name[mai]=कोमोरोस
Name[mk]=Коморски острови
Name[ml]=കൊമോറോസ്
Name[mr]=कोमोरोस
Name[ms]=Comoros
Name[nb]=Komorene
Name[nds]=Komoren
Name[ne]=कोमोरस
Name[nl]=Comoren
Name[nn]=Komorane
Name[oc]=Comòras
Name[or]=କେମୋରସ
Name[pa]=ਕੋਮੋਰੋਸ
Name[pl]=Komory
Name[pt]=Comoros
Name[pt_BR]=Comores
Name[ro]=Comoros
Name[ru]=Коморские Острова
Name[se]=Komorot
Name[si]=කොමොරොස්
Name[sk]=Komory
Name[sl]=Komori
Name[sr]=Комори
Name[sr@ijekavian]=Комори
Name[sr@ijekavianlatin]=Komori
Name[sr@latin]=Komori
Name[sv]=Komorerna
Name[ta]=காமாரோஸ்
Name[te]=కొమొరొస్
Name[tg]=Ҷазираҳои Комор
Name[th]=คอโมโรส
Name[tr]=Komoros
Name[ug]=كومورو
Name[uk]=Коморські острови
Name[uz]=Komoros
Name[uz@cyrillic]=Коморос
Name[vi]=Comoros
Name[wa]=Comores
Name[x-test]=xxComorosxx
Name[zh_CN]=科莫
Name[zh_TW]=葛摩
Region=southafrica
Languages=fr,ar
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
WorkingWeekStartDay=7
WorkingWeekEndDay=4
WeekDayOfPray=5
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
MonetaryDecimalPlaces=0
CurrencyCodesInUse=KMF
CurrencyCode=KMF
