[KCM Locale]
Name=Peru
Name[af]=Peru
Name[ar]=البيرو
Name[as]=পেৰু
Name[ast]=Perú
Name[be]=Перу
Name[be@latin]=Peru
Name[bg]=Перу
Name[bn]=পেরু
Name[bn_IN]=পেরু
Name[bs]=Peru
Name[ca]=Perú
Name[ca@valencia]=Perú
Name[cs]=Peru
Name[csb]=Peru
Name[cy]=Periw
Name[da]=Peru
Name[de]=Peru
Name[el]=Περού
Name[en_GB]=Peru
Name[eo]=Peruo
Name[es]=Perú
Name[et]=Peruu
Name[eu]=Peru
Name[fa]=پرو
Name[fi]=Peru
Name[fr]=Pérou
Name[fy]=Peru
Name[ga]=Peiriú
Name[gd]=Pearù
Name[gl]=Perú
Name[gu]=પેરૂ
Name[he]=פרו
Name[hi]=पेरू
Name[hne]=पेरू
Name[hr]=Peru
Name[hsb]=Peru
Name[hu]=Peru
Name[ia]=Peru
Name[id]=Peru
Name[is]=Perú
Name[it]=Perù
Name[ka]=პერუ
Name[kk]=Перу
Name[km]=ប៉េរូ
Name[kn]=ಪೆರು
Name[ko]=페루
Name[ku]=Perû
Name[lt]=Peru
Name[lv]=Peru
Name[mai]=पेरू
Name[mk]=Перу
Name[ml]=പെറു
Name[mr]=पेरू
Name[ms]=Peru
Name[nb]=Peru
Name[nds]=Peru
Name[ne]=पेरू
Name[nl]=Peru
Name[nn]=Peru
Name[oc]=Peró
Name[or]=ପେରୁ
Name[pa]=ਪੇਰੂ
Name[pl]=Peru
Name[pt]=Peru
Name[pt_BR]=Peru
Name[ro]=Peru
Name[ru]=Перу
Name[se]=Peru
Name[si]=පේරු
Name[sk]=Peru
Name[sl]=Peru
Name[sr]=Перу
Name[sr@ijekavian]=Перу
Name[sr@ijekavianlatin]=Peru
Name[sr@latin]=Peru
Name[sv]=Peru
Name[ta]=பெரு
Name[te]=పెరు
Name[tg]=Перу
Name[th]=เปรู
Name[tr]=Peru
Name[ug]=پېرۇ
Name[uk]=Перу
Name[uz]=Peru
Name[uz@cyrillic]=Перу
Name[vi]=Peru
Name[wa]=Perou
Name[x-test]=xxPeruxx
Name[zh_CN]=秘鲁
Name[zh_TW]=秘魯
Region=southamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=PEN
CurrencyCode=PEN
