[KCM Locale]
Name=Fiji
Name[ar]=فيجي
Name[ast]=Islles Fixi
Name[bs]=Fiđi
Name[ca]=Fiji
Name[ca@valencia]=Fiji
Name[cs]=Fidži
Name[da]=Fiji
Name[de]=Fidschi
Name[en_GB]=Fiji
Name[es]=Fiyi
Name[et]=Fidži
Name[eu]=Fiji
Name[fa]=فیجی
Name[fi]=Fidži
Name[fr]=Fidji
Name[gd]=Fìdi
Name[gl]=Fidxi
Name[hr]=Fiji
Name[hu]=Fidzsi
Name[ia]=Fiji
Name[id]=Fiji
Name[is]=Fídjieyjar
Name[it]=Figi
Name[ka]=ფიჯი
Name[ko]=피지
Name[lt]=Fiji
Name[lv]=Fidži
Name[mr]=फिज़ी
Name[nb]=Fiji
Name[nds]=Fidschi
Name[nl]=Fiji
Name[nn]=Fiji
Name[pa]=ਫਿੱਜੀ
Name[pl]=Fidżi
Name[pt]=Fiji
Name[pt_BR]=Fiji
Name[ru]=Фиджи
Name[se]=Fiji
Name[sk]=Fidži
Name[sl]=Fidži
Name[sr]=Фиџи
Name[sr@ijekavian]=Фиџи
Name[sr@ijekavianlatin]=Fidži
Name[sr@latin]=Fidži
Name[sv]=Fiji
Name[tg]=Фиҷӣ
Name[tr]=Fiji
Name[uk]=Фіджі
Name[x-test]=xxFijixx
Name[zh_CN]=斐济
Name[zh_TW]=菲濟
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=FJD
CurrencyCode=FJD
