[KCM Locale]
Name=Greece
Name[ar]=اليونان
Name[ast]=Grecia
Name[bs]=Grčka
Name[ca]=Grècia
Name[ca@valencia]=Grècia
Name[cs]=Řecko
Name[da]=Grækenland
Name[de]=Griechenland
Name[en_GB]=Greece
Name[es]=Grecia
Name[et]=Kreeka
Name[eu]=Grezia
Name[fa]=یونان
Name[fi]=Kreikka
Name[fr]=Grèce
Name[gd]=A' Ghreug
Name[gl]=Grecia
Name[hr]=Grčka
Name[hu]=Görögország
Name[ia]=Grecia
Name[id]=Yunani
Name[is]=Grikkland
Name[it]=Grecia
Name[ka]=საბერძნეთი
Name[ko]=그리스
Name[lt]=Graikija
Name[lv]=Grieķija
Name[mr]=ग्रीस
Name[nb]=Hellas
Name[nds]=Grekenland
Name[nl]=Griekenland
Name[nn]=Hellas
Name[pa]=ਗਰੀਸ
Name[pl]=Grecja
Name[pt]=Grécia
Name[pt_BR]=Grécia
Name[ru]=Греция
Name[se]=Greika
Name[sk]=Grécko
Name[sl]=Grčija
Name[sr]=Грчка
Name[sr@ijekavian]=Грчка
Name[sr@ijekavianlatin]=Grčka
Name[sr@latin]=Grčka
Name[sv]=Grekland
Name[tg]=Юнонӣ
Name[tr]=Yunanistan
Name[uk]=Греція
Name[x-test]=xxGreecexx
Name[zh_CN]=希腊
Name[zh_TW]=希臘
Region=southeurope
Languages=el
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
NounDeclension=true
DateMonthNamePossessive=true
DateFormat[el]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
AddressFormat=%0(%n\n)%0(%cm\n)%0(%S\n)%0(P.O. BOX %p\n)%z%w%L
AddressCountryPosition=BELOW
