[KCM Locale]
Name=Guatemala
Name[af]=Gautemala
Name[ar]=جواتيمالا
Name[as]=গুয়াতেমালা
Name[ast]=Guatemala
Name[be]=Гватэмала
Name[be@latin]=Guatemała
Name[bg]=Гватемала
Name[bn]=গুয়াতেমালা
Name[bn_IN]=গুয়াতেমালা
Name[bs]=Gvatemala
Name[ca]=Guatemala
Name[ca@valencia]=Guatemala
Name[cs]=Guatemala
Name[csb]=Gwatemala
Name[cy]=Gwatemala
Name[da]=Guatemala
Name[de]=Guatemala
Name[el]=Γουατεμάλα
Name[en_GB]=Guatemala
Name[eo]=Gvatemalo
Name[es]=Guatemala
Name[et]=Guatemala
Name[eu]=Guatemala
Name[fa]=گواتمالا
Name[fi]=Guatemala
Name[fr]=Guatemala
Name[fy]=Guatemala
Name[ga]=Guatamala
Name[gd]=Guatamala
Name[gl]=Guatemala
Name[gu]=ગ્વાટેમાલા
Name[he]=גואטמלה
Name[hi]=ग्वाटेमाला
Name[hne]=ग्वाटेमाला
Name[hr]=Gvatemala
Name[hsb]=Guatemala
Name[hu]=Guatemala
Name[ia]=Guatemala
Name[id]=Guatemala
Name[is]=Gvatemala
Name[it]=Guatemala
Name[ka]=გვატემალა
Name[kk]=Гватемала
Name[km]=ហ្គាតេម៉ាឡា
Name[kn]=ಗ್ವಾಟೆಮಾಲ
Name[ko]=과테말라
Name[ku]=Guatemala
Name[lt]=Gvatemala
Name[lv]=Gvatemala
Name[mai]=गुआटेमाला
Name[mk]=Гватемала
Name[ml]=ഗോട്ടിമാല
Name[mr]=गुआटेमाला
Name[ms]=Guatemala
Name[nb]=Guatemala
Name[nds]=Guatemala
Name[ne]=ग्वाटेमाला
Name[nl]=Guatemala
Name[nn]=Guatemala
Name[oc]=Guatemala
Name[or]=ଗୁଆଟେମାଲା
Name[pa]=ਗੁਆਟੇਮਾਲਾ
Name[pl]=Gwatemala
Name[pt]=Guatemala
Name[pt_BR]=Guatemala
Name[ro]=Guatemala
Name[ru]=Гватемала
Name[se]=Guatemala
Name[si]=ග්වාතමාලාව
Name[sk]=Guatemala
Name[sl]=Gvatemala
Name[sr]=Гватемала
Name[sr@ijekavian]=Гватемала
Name[sr@ijekavianlatin]=Gvatemala
Name[sr@latin]=Gvatemala
Name[sv]=Guatemala
Name[ta]=குவாத்தமாலா
Name[te]=గౌటెమాలా
Name[tg]=Гватемала
Name[th]=กัวเตมาลา
Name[tr]=Guatemala
Name[ug]=گىۋاتېمالا
Name[uk]=Гватемала
Name[uz]=Gvatemala
Name[uz@cyrillic]=Гватемала
Name[vi]=Guatemala
Name[wa]=Gwatemala
Name[x-test]=xxGuatemalaxx
Name[zh_CN]=危地马拉
Name[zh_TW]=瓜地馬拉
Region=centralamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=GTQ
CurrencyCode=GTQ
