[KCM Locale]
Name=Vanuatu
Name[af]=Vanuatu
Name[ar]=فانواتو
Name[as]=ভানুয়াটু
Name[ast]=Vanuatu
Name[be]=Вануату
Name[be@latin]=Vanuatu
Name[bg]=Вануату
Name[bn]=ভানুয়াটু
Name[bn_IN]=ভানুয়াটু
Name[br]=Vanuatu
Name[bs]=Vanuatu
Name[ca]=Vanuatu
Name[ca@valencia]=Vanuatu
Name[cs]=Vanuatu
Name[csb]=Vanuatu
Name[cy]=Fanwatw
Name[da]=Vanuatu
Name[de]=Vanuatu
Name[el]=Βανουάτου
Name[en_GB]=Vanuatu
Name[eo]=Vanuatuo
Name[es]=Vanuatu
Name[et]=Vanuatu
Name[eu]=Vanuatu
Name[fa]=وانواتو
Name[fi]=Vanuatu
Name[fr]=Vanuatu
Name[fy]=Vanuatu
Name[ga]=Vanuatú
Name[gd]=Vanuatu
Name[gl]=Vanuatu
Name[gu]=વાનુટાઉ
Name[he]=ונואטו
Name[hi]=वनौतू
Name[hne]=वनौतू
Name[hr]=Vanuatu
Name[hsb]=Vanuatu
Name[hu]=Vanuatu
Name[ia]=Vanuatu
Name[id]=Vanuatu
Name[is]=Vanúatú
Name[it]=Vanuatu
Name[ka]=ვანაუტუ
Name[kk]=Вануату
Name[km]=វ៉ានុយអាទុយ
Name[kn]=ವನೌಟು
Name[ko]=바누아투
Name[ku]=Vanûatû
Name[lt]=Vanuatu
Name[lv]=Vanuatu
Name[mai]=वैनुआटु
Name[mk]=Вануату
Name[ml]=വന്വാട്ടു
Name[mr]=वानुआटु
Name[ms]=Vanuatu
Name[nb]=Vanuatu
Name[nds]=Vanuatu
Name[ne]=भानुएटु
Name[nl]=Vanuatu
Name[nn]=Vanuatu
Name[oc]=Vanuatu
Name[or]=ଭାନୁତୁ
Name[pa]=ਵਾਨੁਆਟੂ
Name[pl]=Vanuatu
Name[pt]=Vanuatu
Name[pt_BR]=Vanuatu
Name[ro]=Vanuatu
Name[ru]=Вануату
Name[se]=Vanuatu
Name[si]=වානුටු
Name[sk]=Vanuatu
Name[sl]=Vanuatu
Name[sr]=Вануату
Name[sr@ijekavian]=Вануату
Name[sr@ijekavianlatin]=Vanuatu
Name[sr@latin]=Vanuatu
Name[sv]=Vanuatu
Name[ta]=வனடு
Name[te]=వనువాటు
Name[tg]=Вануату
Name[th]=วานูอาตู
Name[tr]=Vanuatu
Name[ug]=ۋانۇئاتۇ
Name[uk]=Вануату
Name[uz]=Vanuatu
Name[uz@cyrillic]=Вануату
Name[vi]=Vanuatu
Name[wa]=Vanuatu
Name[x-test]=xxVanuatuxx
Name[zh_CN]=瓦努阿图
Name[zh_TW]=萬那杜
Region=oceania
Languages=en_GB,fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=VUV
CurrencyCode=VUV
