[KCM Locale]
Name=Macau SAR(China)
Name[af]=Macau SAR (China)
Name[as]=মেকাউ SAR(চীন)
Name[ast]=Macáu
Name[be]=Макаў (Кітай)
Name[be@latin]=Makaŭ SAR (Kitaj)
Name[bg]=Макао (Китай)
Name[bn]=মাকাউ SAR(চীন)
Name[bn_IN]=ম্যাকাউ SAR(চীন)
Name[br]=Makav SAR(Sina)
Name[bs]=Makao SAR (Kina)
Name[ca]=Macau (Xina)
Name[ca@valencia]=Macau (Xina)
Name[cs]=Macau SAR (Čína)
Name[csb]=Makao SAR (Chinë)
Name[da]=Macau SAR(Kina)
Name[de]=Macao SAR (China)
Name[el]=Μακάο SAR (Κίνα)
Name[en_GB]=Macau SAR(China)
Name[eo]=Makao SAR(Ĉino)
Name[es]=Macao SAR (China)
Name[et]=Macau
Name[eu]=Macau SAR(Txina)
Name[fa]=منطقه صنعتی ویژه ماکائو )چین(
Name[fi]=Macao – Kiinan e.h.a.
Name[fr]=Macao RAS (Chine)
Name[fy]=Macau SAR(China)
Name[ga]=Macao SAR(An tSín)
Name[gd]=Macàthu SAR na Sìne
Name[gl]=Macau SAR(China)
Name[gu]=મકાઉ SAR(ચીન)
Name[he]=מקאו (סין)
Name[hi]=मकाऊ एसएआर (चीन)
Name[hne]=मकाऊ एसएआर (चीन)
Name[hr]=Makao SAR (Kina)
Name[hsb]=Makaw SAR(Chinska)
Name[hu]=Makaó (Kína)
Name[ia]=Macau SAR (China)
Name[id]=Macau SAR(China)
Name[is]=Makaó (sjálfstjórnarhérað í Kína)
Name[it]=Macao (Cina)
Name[ka]=მაკაო (ჩინეთი)
Name[kk]=Аомынь (Макао)
Name[km]=ម៉ាកាវ (ចិន)
Name[kn]=ಮಕಾವು SAR (ಚೈನಾ)
Name[ko]=마카오
Name[ku]=Macaû (Çîn)
Name[lt]=Macau SAR(Kinija)
Name[lv]=Makao SAR (Ķīna)
Name[mai]=मकाऊ एसएआर (चीन)
Name[mk]=Макао САР(Кина)
Name[ml]=മക്കാവു സാര്‍(ചൈന)
Name[mr]=मकाऊ एसएआर (चीन)
Name[ms]=Macau SAR(China)
Name[nb]=Macao SAR (Kina)
Name[nds]=Makao (SVR vun China)
Name[ne]=मकाउ SAR(चीन)
Name[nl]=Macau SAR(China)
Name[nn]=Macao SAR (Kina)
Name[or]=ମାକାଉ SAR(ଚାଇନା)
Name[pa]=ਮੈਕਿਉ SAR(ਚੀਨ)
Name[pl]=Makao SAR (Chiny)
Name[pt]=Macau SAR(China)
Name[pt_BR]=Macau SAR (China)
Name[ro]=Macao (China)
Name[ru]=Макао
Name[se]=Macau SAR (Kiinná)
Name[si]=Macau SAR(China)
Name[sk]=Makao (Čína)
Name[sl]=Macao SAR (Kitajska)
Name[sr]=Макао САР (Кина)
Name[sr@ijekavian]=Макао САР (Кина)
Name[sr@ijekavianlatin]=Makao SAR (Kina)
Name[sr@latin]=Makao SAR (Kina)
Name[sv]=Macao (Kina)
Name[ta]=Macau SAR(சீனா)
Name[te]=మకావు (చైనా)
Name[tg]=Макао (Хитой)
Name[th]=มาเก๊า
Name[tr]=Macau SAR(China)
Name[ug]=ئاۋمېن ئالاھىدە مەمۇرىي رايونى (جۇڭگو)
Name[uk]=Macau SAR(Китай)
Name[uz]=Makau (Xitoy)
Name[uz@cyrillic]=Макау (Хитой)
Name[vi]=Ma Cao SAR (Trung Quốc)
Name[wa]=Macawo
Name[x-test]=xxMacau SAR(China)xx
Name[zh_CN]=中国澳门特别行政区
Name[zh_TW]=澳門 SAR(中國)
Region=eastasia
Languages=pt_PT,zh_CN
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=0
#DateFormat[??]=
#DateFormatShort=
TimeFormat=%H:%M:%S
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MOP
CurrencyCode=MOP
