[KCM Locale]
Name=Wallis and Futuna
Name[af]=Wallis en Futuna
Name[ar]=والس وفوتونا
Name[as]=ৱালিছ আৰু ফুটুনা
Name[ast]=Wallis y Futuna
Name[be]=Ўоліс і Футуна
Name[be@latin]=Wallis i Futuna
Name[bg]=Острови Уолис и Футина
Name[bn]=ওয়ালিস এবং ফুটুনা
Name[bn_IN]=ওয়ালিস ও ফুটুনা
Name[br]=Wallis ha Futuna
Name[bs]=Valis i Futuna
Name[ca]=Wallis i Futuna
Name[ca@valencia]=Wallis i Futuna
Name[cs]=Wallis a Futuna
Name[csb]=Wallis ë Futuna
Name[cy]=Ynysoedd Walis a Ffwtwna
Name[da]=Wallis- og Futuna-øerne
Name[de]=Wallis und Futuna
Name[el]=Βαλίς και Φουτούνα
Name[en_GB]=Wallis and Futuna
Name[eo]=Valiso kaj Futuno
Name[es]=Wallis y Futuna
Name[et]=Wallis ja Futuna
Name[eu]=Wallis eta Futuna
Name[fa]=والیس و فوتونا
Name[fi]=Wallis ja Futuna
Name[fr]=Wallis-et-Futuna
Name[fy]=Wallis en Futuna
Name[ga]=Bhailís agus Futúna
Name[gd]=Uallas agus Futuna
Name[gl]=Wallis e Futuna
Name[gu]=વાલીસ અને ફુટુના
Name[he]=ואליס ופוטונה
Name[hi]=वालिस तथा फुतुना
Name[hne]=वालिस अउ फुतुना
Name[hr]=Wallis i Futuna
Name[hsb]=Wallis a Futuna
Name[hu]=Wallis és Futuna
Name[ia]=Insulas Wallis e Futuna
Name[id]=Wallis dan Futuna
Name[is]=Wallis- og Fútúnaeyjar
Name[it]=Wallis e Futuna
Name[ka]=ვალისი და ფუტუნა
Name[kk]=Уоллис және Футуна
Name[km]=វ៉ាលីស និង​ហ្វ៊ូ​ទុយណា
Name[kn]=ವಾಲಿಸ್ ಮತ್ತು ಫುಟುವಾನ ಐಲ್ಯಾಂಡ್ಸ್
Name[ko]=월리스퓌튀나
Name[ku]=Walis û Futuna
Name[lt]=Wallis and Futuna
Name[lv]=Volisa salas un Futuna
Name[mai]=वालिस आओर फुतुना
Name[mk]=Валис и Футуна
Name[ml]=വാലിസും ഫ്യൂചുനയും
Name[mr]=वालिस व फुतुना
Name[ms]=Wallis dan Futuna
Name[nb]=Wallis og Futuna
Name[nds]=Wallis un Futuna
Name[ne]=वालिस र फुतुना
Name[nl]=Wallis en Futuna
Name[nn]=Wallis og Futuna
Name[or]=ୱାଲିସ ଏବଂ ଫୁତୁନା
Name[pa]=ਵਾਲਿਸ਼ ਤੇ ਫੂਟੂਨਾ
Name[pl]=Wallis i Futuna
Name[pt]=Wallis e Futuna
Name[pt_BR]=Wallis e Futuna
Name[ro]=Wallis și Futuna
Name[ru]=Уоллис и Футуна
Name[se]=Wallis ja Futuna
Name[si]=Wallis and Futuna
Name[sk]=Wallis a Futuna
Name[sl]=Wallis in Futuna
Name[sr]=Валис и Футуна
Name[sr@ijekavian]=Валис и Футуна
Name[sr@ijekavianlatin]=Valis i Futuna
Name[sr@latin]=Valis i Futuna
Name[sv]=Wallis och Futuna
Name[ta]=வாலிஸ் மற்றும் ப்யுடனா
Name[te]=వాల్లిస్ మరయూ ఫుటునా
Name[tg]=Уоллис ва Футуна
Name[th]=วาลลิสและหมู่เกาะฟุตูนา
Name[tr]=Wallis ve Futuna
Name[ug]=ۋالىس ۋە فۇتۇنا
Name[uk]=Волліс і Футуна
Name[uz]=Uollis va Futuna Orollari
Name[uz@cyrillic]=Уоллис ва Футуна Ороллари
Name[vi]=Wallis và Futuna
Name[wa]=Wallis et Futuna
Name[x-test]=xxWallis and Futunaxx
Name[zh_CN]=瓦利斯和富图纳群岛
Name[zh_TW]=瓦利斯群島和富圖納群島
Region=oceania
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XPF
CurrencyCode=XPF
