[KCM Locale]
Name=Kyrgyzstan
Name[af]=Kyrgyzstan
Name[ar]=قيرغيزستان
Name[as]=কিৰ্গিজস্তান
Name[ast]=Kirguistán
Name[be]=Кыргызстан
Name[be@latin]=Kirhizija
Name[bg]=Киргизстан
Name[bn]=কির্গিজস্তান
Name[bn_IN]=কির্গিজস্তান
Name[br]=Kirgistan
Name[bs]=Kirgistan
Name[ca]=Kirguizistan
Name[ca@valencia]=Kirguizistan
Name[cs]=Kyrgyzstán
Name[csb]=Kirgistón
Name[cy]=Cyrgystan
Name[da]=Kirgizistan
Name[de]=Kirgisistan
Name[el]=Κιργιζία
Name[en_GB]=Kyrgyzstan
Name[eo]=Kirgizio
Name[es]=Kirguistán
Name[et]=Kõrgõzstan
Name[eu]=Kirgizistan
Name[fa]=قرقیزستان
Name[fi]=Kirgisia
Name[fr]=Kirghizistan
Name[fy]=Kyrgyzstan
Name[ga]=An Chirgeastáin
Name[gd]=Cìorgastan
Name[gl]=Kirguizistán
Name[gu]=કિર્ગીસ્તાન
Name[he]=קירגיזסטן
Name[hi]=किर्गिजिस्तान
Name[hne]=किर्गिजिस्तान
Name[hr]=Kirgistan
Name[hsb]=Kirgiska
Name[hu]=Kirgizisztán
Name[ia]=Kirghizistan
Name[id]=Kyrgyzstan
Name[is]=Kirgisistan
Name[it]=Kirghizistan
Name[ka]=ყირგიზეთი
Name[kk]=Қырғызстан
Name[km]=គៀរហ្គីស្តង់
Name[kn]=ಕಿರ್ಗಿಸ್ತಾನ್
Name[ko]=키르기스스탄
Name[ku]=Kirgîsistan
Name[lt]=Kirgistanas
Name[lv]=Kirgizstāna
Name[mai]=किर्गीस्तान
Name[mk]=Киргистан
Name[ml]=കിര്‍ഗിസ്ഥാന്‍
Name[mr]=कीर्गीझस्तान
Name[ms]=Kyrgyzstan
Name[nb]=Kirgisistan
Name[nds]=Kirgisien
Name[ne]=किर्किस्थान
Name[nl]=Kirgizië
Name[nn]=Kirgisistan
Name[oc]=Kirguizistan
Name[or]=କିରଗିସ୍ଥାନ
Name[pa]=ਕਿਰਗਸਤਾਨ
Name[pl]=Kirgistan
Name[pt]=Quirguistão
Name[pt_BR]=Quirguistão
Name[ro]=Kârgâzstan
Name[ru]=Киргизия
Name[se]=Kirgisistan
Name[si]=කිර්ගිස්තානය
Name[sk]=Kirgizsko
Name[sl]=Kirgizistan
Name[sr]=Киргистан
Name[sr@ijekavian]=Киргистан
Name[sr@ijekavianlatin]=Kirgistan
Name[sr@latin]=Kirgistan
Name[sv]=Kirgizistan
Name[ta]=கிர்கிஸ்தான்
Name[te]=కిర్గిస్థాన్
Name[tg]=Қирғизистон
Name[th]=คีกีซสถาน
Name[tr]=Kırgızistan
Name[ug]=قىرغىزىستان
Name[uk]=Киргизстан
Name[uz]=Qirgʻiziston
Name[uz@cyrillic]=Қирғизистон
Name[vi]=Kyrgyzstan
Name[wa]=Kirguiztan
Name[x-test]=xxKyrgyzstanxx
Name[zh_CN]=吉尔吉斯
Name[zh_TW]=吉爾吉斯
Region=centralasia
Languages=ru
#DecimalSymbol=,
#ThousandsSeparator=
# FIXME Currency is som, symbol is unkonwn
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=5
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=KGS
CurrencyCode=KGS
