[KCM Locale]
Name=Slovenia
Name[ar]=سلوفينيا
Name[ast]=Eslovenia
Name[bs]=Slovenija
Name[ca]=Eslovènia
Name[ca@valencia]=Eslovènia
Name[cs]=Slovinsko
Name[da]=Slovenien
Name[de]=Slowenien
Name[en_GB]=Slovenia
Name[es]=Eslovenia
Name[et]=Sloveenia
Name[eu]=Eslovenia
Name[fa]=اسلوونی
Name[fi]=Slovenia
Name[fr]=Slovénie
Name[gd]=An t-Slòbhain
Name[gl]=Eslovenia
Name[hr]=Slovenija
Name[hu]=Szlovénia
Name[ia]=Slovenia
Name[id]=Slovenia
Name[is]=Slóvenía
Name[it]=Slovenia
Name[ka]=სლოვენია
Name[ko]=슬로베니아
Name[lt]=Slovėnija
Name[lv]=Slovēnija
Name[mr]=स्लोवेनिया
Name[nb]=Slovenia
Name[nds]=Slowenien
Name[nl]=Slovenië
Name[nn]=Slovenia
Name[pa]=ਸਲੋਵੀਨੀਆ
Name[pl]=Słowenia
Name[pt]=Eslovénia
Name[pt_BR]=Eslovênia
Name[ru]=Словения
Name[se]=Slovenia
Name[sk]=Slovinsko
Name[sl]=Slovenija
Name[sr]=Словенија
Name[sr@ijekavian]=Словенија
Name[sr@ijekavianlatin]=Slovenija
Name[sr@latin]=Slovenija
Name[sv]=Slovenien
Name[tg]=Словения
Name[tr]=Slovenya
Name[uk]=Словенія
Name[x-test]=xxSloveniaxx
Name[zh_CN]=斯洛文尼亚
Name[zh_TW]=斯洛伐尼亞
Author=lugos-slo@lugos.si
Region=centraleurope
Languages=sl
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=−
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sl]=%A, %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d. %m. %y
TimeFormat=%H:%M:%S
WeekDayOfPray=0
NounDeclension=true
DateMonthNamePossessive=true
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
AddressFormat=%n\n%s\n%0(p.p. %p\n)%z %l
