[KCM Locale]
Name=Sri Lanka
Name[af]=Sri Lanka
Name[ar]=سري لانكا
Name[as]=শ্ৰীলঙ্কা
Name[ast]=Sri Lanka
Name[be]=Шры-Ланка
Name[be@latin]=Šry Lanka
Name[bg]=Шри Ланка
Name[bn]=শ্রীলঙ্কা
Name[bn_IN]=শ্রীলঙ্কা
Name[br]=Sri Lanka
Name[bs]=Šri Lanka
Name[ca]=Sri Lanka
Name[ca@valencia]=Sri Lanka
Name[cs]=Srí Lanka
Name[csb]=Sri Lanka
Name[cy]=Sri Lanca
Name[da]=Sri Lanka
Name[de]=Sri Lanka
Name[el]=Σρι Λάνκα
Name[en_GB]=Sri Lanka
Name[eo]=Sri-Lanko
Name[es]=Sri Lanka
Name[et]=Sri Lanka
Name[eu]=Sri Lanka
Name[fa]=سری لانکا
Name[fi]=Sri Lanka
Name[fr]=Sri Lanka
Name[fy]=Sri Lanka
Name[ga]=Srí Lanca
Name[gd]=Sri Lanca
Name[gl]=Sri Lanka
Name[gu]=શ્રીલંકા
Name[he]=סרי לנקה
Name[hi]=श्री लंका
Name[hne]=स्री लंका
Name[hr]=Šri Lanka
Name[hsb]=Sri Lanka
Name[hu]=Sri Lanka
Name[ia]=Sri Lanka
Name[id]=Sri Lanka
Name[is]=Srí Lanka
Name[it]=Sri Lanka
Name[ka]=შრი ლანკა
Name[kk]=Шри-Ланка
Name[km]=ស្រីលង្កា
Name[kn]=ಶ್ರೀಲಂಕಾ
Name[ko]=스리랑크
Name[ku]=Srî Lanka
Name[lt]=Šri Lanka
Name[lv]=Šrilanka
Name[mai]=श्रीलंका
Name[mk]=Шри Ланка
Name[ml]=ശ്രീലങ്ക
Name[mr]=श्री लंका
Name[ms]=Sri Lanka
Name[nb]=Sri Lanka
Name[nds]=Sri Lanka
Name[ne]=श्रीलङ्का
Name[nl]=Sri Lanka
Name[nn]=Sri Lanka
Name[oc]=Sri Lanka
Name[or]=ଶ୍ରୀଲଙ୍କା
Name[pa]=ਸ੍ਰੀਲੰਕਾ
Name[pl]=Sri Lanka
Name[pt]=Sri Lanka
Name[pt_BR]=Sri Lanka
Name[ro]=Sri Lanka
Name[ru]=Шри-Ланка
Name[se]=Sri Lanka
Name[si]=ශ්‍රී ලංකාව
Name[sk]=Srí Lanka
Name[sl]=Šrilanka
Name[sr]=Шри Ланка
Name[sr@ijekavian]=Шри Ланка
Name[sr@ijekavianlatin]=Šri Lanka
Name[sr@latin]=Šri Lanka
Name[sv]=Sri Lanka
Name[ta]=இலங்கை
Name[te]=శ్రీ లంక
Name[tg]=Шри Ланка
Name[th]=ศรีลังกา
Name[tr]=Sri Lanka
Name[ug]=سىرىلانكا
Name[uk]=Шрі-Ланка
Name[uz]=Shri Lanka
Name[uz@cyrillic]=Шри Ланка
Name[vi]=Sri Lanka
Name[wa]=Sri Lanka
Name[x-test]=xxSri Lankaxx
Name[zh_CN]=斯里兰卡
Name[zh_TW]=斯里蘭卡
Region=southasia
Languages=ta,en_GB,en_US
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=LKR
CurrencyCode=LKR
