[KCM Locale]
Name=Serbian
Name[af]=Serbiese
Name[ar]=الصّربيّة
Name[as]=ছাৰ্বিয়ান
Name[ast]=Serbiu
Name[be]=Сербская
Name[be@latin]=Serbskaja
Name[bg]=Сръбски
Name[bn]=সার্বীয়
Name[bn_IN]=সার্বিয়ান
Name[br]=Serbeg
Name[bs]=srpski
Name[ca]=Serbi
Name[ca@valencia]=Serbi
Name[cs]=Srbský
Name[csb]=Serbsczi
Name[cy]=Serbieg
Name[da]=Serbisk
Name[de]=Serbisch
Name[el]=Σερβικά
Name[en_GB]=Serbian
Name[eo]=Serba
Name[es]=Serbio
Name[et]=Serbia
Name[eu]=Serbiera
Name[fa]=صربی
Name[fi]=Serbia
Name[fr]=Serbe
Name[fy]=Servysk
Name[ga]=Seirbis
Name[gd]=Sèirbis
Name[gl]=Serbio
Name[gu]=સર્બિયન
Name[he]=סרבית
Name[hi]=सर्बियाई
Name[hne]=सर्बियाई
Name[hr]=Srpski
Name[hsb]=Serbisce
Name[hu]=Szerb
Name[ia]=Serbo
Name[id]=Serbia
Name[is]=Serbneska
Name[it]=Serbo
Name[ja]=セルビア語
Name[kk]=Сербше
Name[km]=ស៊ែប៊ី
Name[kn]=ಸರ್ಬಿಯನ್
Name[ko]=세르비아어
Name[ku]=Sirbî
Name[lb]=Serbesch
Name[lt]=Serbų
Name[lv]=Serbu
Name[mai]=सर्बियन
Name[mk]=Српски
Name[ml]=സെര്‍ബിയന്‍
Name[mr]=सर्बियाई
Name[ms]=Serbia
Name[nb]=Serbisk
Name[nds]=Serbsch
Name[ne]=सर्बियाली
Name[nl]=Servisch
Name[nn]=Serbisk
Name[oc]=Serbian
Name[or]=ସରବିୟନ
Name[pa]=ਸਰਬੀਆਈ
Name[pl]=Serbski
Name[ps]=سربي
Name[pt]=Sérvio
Name[pt_BR]=Sérvio
Name[ro]=Sârbă
Name[ru]=Сербский
Name[se]=Serbiágiella
Name[si]=සර්බියානු
Name[sk]=Srbčina
Name[sl]=Srbščina
Name[sq]=Serbisht
Name[sr]=српски
Name[sr@ijekavian]=српски
Name[sr@ijekavianlatin]=srpski
Name[sr@latin]=srpski
Name[sv]=Serbiska
Name[ta]=செர்பியன்
Name[te]=సెర్బియన్
Name[tg]=Сербӣ
Name[th]=ภาษาเซอร์เบีย
Name[tr]=Sırpça
Name[tt]=Сербия
Name[ug]=سېربچە
Name[uk]=Сербська
Name[uz]=Serbcha
Name[uz@cyrillic]=Сербча
Name[vi]=Serbia
Name[wa]=Siebe
Name[xh]=Serbian
Name[x-test]=xxSerbianxx
Name[zh_CN]=塞尔维亚语
Name[zh_HK]=塞爾維亞語
Name[zh_TW]=塞族語
