[KCM Locale]
Name=Serbian Latin
Name[af]=Serbiese Latyn
Name[ar]=الصّربيّة اللاتينيّة
Name[as]=ছাৰ্বিয়ান লেটিন
Name[ast]=Serbiu llatín
Name[be]=Сербская (лацінка)
Name[be@latin]=Serbskaja łacinka
Name[bg]=Сръбски (латиница)
Name[bn]=সার্বীয় লাতিন
Name[bn_IN]=সার্বিয়ান লাতিন
Name[br]=Serbeg latin
Name[bs]=srpski (latinica)
Name[ca]=Serbi llatí
Name[ca@valencia]=Serbi llatí
Name[cs]=Srbský (latinka)
Name[csb]=Serbsczi (łacëńsczi)
Name[cy]=Serbieg Lladin
Name[da]=Serbisk latin
Name[de]=Serbisch (lat. Alphabet)
Name[el]=Σερβικά
Name[en_GB]=Serbian Latin
Name[eo]=Latina serba
Name[es]=Serbio latino
Name[et]=Serbia (ladina)
Name[eu]=Serbiera latinoa
Name[fa]=صربی لاتین
Name[fi]=Serbia latinalainen
Name[fr]=Serbe latin
Name[fy]=Servysk latynsk
Name[ga]=Seirbis (aibítir Laidineach)
Name[gd]=Sèirbis (Laideann)
Name[gl]=Serbio latino
Name[gu]=સર્બિયન લેટિન
Name[he]=סרבית לטינית
Name[hi]=सर्बियाई लातिनी
Name[hne]=सर्बियाई लातिनी
Name[hr]=Srpski, latinica
Name[hsb]=Serbisce (latinica)
Name[hu]=Szerb latin
Name[ia]=Serbo Latino
Name[id]=Latin Serbia
Name[is]=Latnesk serbneska
Name[it]=Serbo latino
Name[ja]=セルビア語 (ラテン文字)
Name[kk]=Латындагы сербше
Name[km]=ស៊ែប៊ី ឡាតាំង
Name[kn]=ಸರ್ಬಿಯನ್ ಲಾಟಿನ್
Name[ko]=세르비아어 (라틴)
Name[ku]=Sirbî bi tîpên latînî
Name[lb]=Serbesch (latäinescht Alphabet)
Name[lt]=Serbų lotynų
Name[lv]=Serbu latīņu
Name[mai]=सर्बियाई लातिनी
Name[mk]=Српски латиничен
Name[ml]=സെര്‍ബിയന്‍  ലാറ്റിന്‍
Name[mr]=लॅटिन
Name[ms]=Latin Serbia
Name[nb]=Serbisk, latin
Name[nds]=Serbsch (latiensch Schrift)
Name[ne]=सर्बियाली ल्यटिन
Name[nl]=Servisch latijn
Name[nn]=Serbisk (romanisert)
Name[or]=ସର୍ବିୟନ ଲାଟିନ
Name[pa]=ਸਰਬੀਆਈ ਲੈਟਿਨ
Name[pl]=Serbski (skrypt łaciński)
Name[ps]=سربيايي لاټيني
Name[pt]=Sérvio Latino
Name[pt_BR]=Sérvio latino
Name[ro]=Sârbă latină
Name[ru]=Сербский (латиница)
Name[se]=Serbialaš latiidna
Name[si]=සර්බියානු ලතින්
Name[sk]=Srbčina (latinka)
Name[sl]=Srbščina (latinica)
Name[sq]=Serbisht Latine
Name[sr]=српски (латиница)
Name[sr@ijekavian]=српски (латиница)
Name[sr@ijekavianlatin]=srpski (latinica)
Name[sr@latin]=srpski (latinica)
Name[sv]=Latinsk serbiska
Name[ta]=செர்பியன் லத்தீன்
Name[te]=సెర్బియన్ లాటిన్
Name[tg]=Сербии Лотинӣ
Name[th]=ภาษาละตินเซอร์เบีย
Name[tr]=Latin Sırpça
Name[tt]=Сербия (Латин)
Name[ug]=سېربچە لاتىن
Name[uk]=Сербська (латиниця)
Name[uz]=Serbcha (lotin)
Name[uz@cyrillic]=Сербча (лотин)
Name[vi]=Serbia Latin
Name[wa]=Siebe (alfabet latén)
Name[x-test]=xxSerbian Latinxx
Name[zh_CN]=塞尔维亚拉丁语
Name[zh_HK]=塞爾維亞拉丁語
Name[zh_TW]=塞爾維亞拉丁語
