[KCM Locale]
Name=Paraguay
Name[af]=Paraguaai
Name[ar]=البراغواي
Name[as]=পেৰাগুৱে
Name[ast]=Paraguái
Name[be]=Парагвай
Name[be@latin]=Parahvaj
Name[bg]=Парагвай
Name[bn]=প্যারাগুয়ে
Name[bn_IN]=প্যারাগুয়ে
Name[bs]=Paragvaj
Name[ca]=Paraguai
Name[ca@valencia]=Paraguai
Name[cs]=Paraguay
Name[csb]=Paragwaj
Name[cy]=Paragw?i
Name[da]=Paraguay
Name[de]=Paraguay
Name[el]=Παραγουάη
Name[en_GB]=Paraguay
Name[eo]=Paragvajo
Name[es]=Paraguay
Name[et]=Paraguai
Name[eu]=Paraguai
Name[fa]=پاراگوئه
Name[fi]=Paraguay
Name[fr]=Paraguay
Name[fy]=Paraguay
Name[ga]=Paragua
Name[gd]=Paraguaidh
Name[gl]=Paraguai
Name[gu]=પારાગ્વે
Name[he]=פרגואי
Name[hi]=पैरागुए
Name[hne]=पैरागुए
Name[hr]=Paragvaj
Name[hsb]=Paraguay
Name[hu]=Paraguay
Name[ia]=Paraguay
Name[id]=Paraguay
Name[is]=Paragvæ
Name[it]=Paraguay
Name[ka]=პარაგვაი
Name[kk]=Парагвай
Name[km]=ប៉ារ៉ាហ្គាយ
Name[kn]=ಪರಾಗ್ವೆ
Name[ko]=파라과이
Name[ku]=Paraguay
Name[lt]=Paragvajus
Name[lv]=Paragvaja
Name[mai]=पराग्वे
Name[mk]=Парагвај
Name[ml]=പരാഗ്വേ
Name[mr]=पराग्वे
Name[ms]=Paraguay
Name[nb]=Paraguay
Name[nds]=Paraguay
Name[ne]=पाराग्वे
Name[nl]=Paraguay
Name[nn]=Paraguay
Name[oc]=Paraguai
Name[or]=ପାରାଗୁଆ
Name[pa]=ਪਾਰਾਗੁਆ
Name[pl]=Paragwaj
Name[pt]=Paraguai
Name[pt_BR]=Paraguai
Name[ro]=Paraguai
Name[ru]=Парагвай
Name[se]=Paraguay
Name[si]=පැරගුවේ
Name[sk]=Paraguaj
Name[sl]=Paragvaj
Name[sr]=Парагвај
Name[sr@ijekavian]=Парагвај
Name[sr@ijekavianlatin]=Paragvaj
Name[sr@latin]=Paragvaj
Name[sv]=Paraguay
Name[ta]=பராகுவே
Name[te]=పెరాగ్వె
Name[tg]=Парагвай
Name[th]=ปารากวัย
Name[tr]=Paraguay
Name[ug]=پاراگۋاي
Name[uk]=Парагвай
Name[uz]=Paragvay
Name[uz@cyrillic]=Парагвай
Name[vi]=Paraguay
Name[wa]=Paragway
Name[x-test]=xxParaguayxx
Name[zh_CN]=巴拉圭
Name[zh_TW]=巴拉圭
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=PYG
CurrencyCode=PYG
