[KCM Locale]
Name=Argentina
Name[af]=Argentinië
Name[ar]=الأرجنتين
Name[as]=আৰ্জেনটিনা
Name[ast]=Arxentina
Name[be]=Аргентына
Name[be@latin]=Arhientyna
Name[bg]=Аржентина
Name[bn]=আর্জেন্টিনা
Name[bn_IN]=আর্জেনটিনা
Name[bs]=Argentina
Name[ca]=Argentina
Name[ca@valencia]=Argentina
Name[cs]=Argentina
Name[csb]=Argentińskô
Name[cy]=Ariannin
Name[da]=Argentina
Name[de]=Argentinien
Name[el]=Αργεντινή
Name[en_GB]=Argentina
Name[eo]=Argentino
Name[es]=Argentina
Name[et]=Argentina
Name[eu]=Argentina
Name[fa]=آرژانتین
Name[fi]=Argentiina
Name[fr]=Argentine
Name[fy]=Argentinië
Name[ga]=An Airgintín
Name[gd]=An Argantain
Name[gl]=Arxentina
Name[gu]=આર્જેન્ટિના
Name[he]=ארגנטינה
Name[hi]=अर्जेंटीना
Name[hne]=अर्जेंटीना
Name[hr]=Argentina
Name[hsb]=Argentina
Name[hu]=Argentína
Name[ia]=Argentina
Name[id]=Argentina
Name[is]=Argentína
Name[it]=Argentina
Name[ka]=არგენტინა
Name[kk]=Аргентина
Name[km]=អាហ្សង់ទីន
Name[kn]=ಅರ್ಜಂಟೀನಾ
Name[ko]=아르헨티나
Name[ku]=Arjantîn
Name[lt]=Argentina
Name[lv]=Argentīna
Name[mai]=अर्जेन्टिना
Name[mk]=Аргентина
Name[ml]=അര്‍ജന്റീന
Name[mr]=अर्जेन्टिना
Name[ms]=Argentina
Name[nb]=Argentina
Name[nds]=Argentinien
Name[ne]=अर्जेन्टिना
Name[nl]=Argentinië
Name[nn]=Argentina
Name[oc]=Argentina
Name[or]=ଆର୍ଜେଣ୍ଟିନା
Name[pa]=ਅਰਜ਼ਨਟੀਨਾ
Name[pl]=Argentyna
Name[pt]=Argentina
Name[pt_BR]=Argentina
Name[ro]=Argentina
Name[ru]=Аргентина
Name[se]=Argentina
Name[si]=අර්ජන්ටිනාව
Name[sk]=Argentína
Name[sl]=Argentina
Name[sr]=Аргентина
Name[sr@ijekavian]=Аргентина
Name[sr@ijekavianlatin]=Argentina
Name[sr@latin]=Argentina
Name[sv]=Argentina
Name[ta]=ஆர்சென்டினா
Name[te]=అర్జెంటినా
Name[tg]=Аргентина
Name[th]=อาร์เจนตินา
Name[tr]=Arjantin
Name[ug]=ئارگېنتىنا
Name[uk]=Аргентина
Name[uz]=Argentina
Name[uz@cyrillic]=Аргентина
Name[vi]=Argentina
Name[wa]=Årdjintene
Name[x-test]=xxArgentinaxx
Name[zh_CN]=阿根廷
Name[zh_TW]=阿根廷
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
WeekStartDay=7
PageSize=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(Casilla de Correo %p\n)%0(%s\n)%z%w%l
AddressCountryPosition=below
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ARS
CurrencyCode=ARS
