[KCM Locale]
Name=Malawi
Name[ar]=ملاوي
Name[ast]=Malaui
Name[bs]=Malavi
Name[ca]=Malawi
Name[ca@valencia]=Malawi
Name[cs]=Malawi
Name[da]=Malawi
Name[de]=Malawi
Name[en_GB]=Malawi
Name[es]=Malaui
Name[et]=Malawi
Name[eu]=Malawi
Name[fa]=مالاوی
Name[fi]=Malawi
Name[fr]=Malawi
Name[gd]=Malabhaidh
Name[gl]=Malawi
Name[hr]=Malavi
Name[hu]=Malawi
Name[ia]=Malawi
Name[id]=Malawi
Name[is]=Malaví
Name[it]=Malawi
Name[ka]=მალავი
Name[ko]=말라위
Name[lt]=Malavis
Name[lv]=Malvi
Name[mr]=मलाबि
Name[nb]=Malawi
Name[nds]=Malawi
Name[nl]=Malawi
Name[nn]=Malawi
Name[pa]=ਮਾਲਾਵੀ
Name[pl]=Malawi
Name[pt]=Malawi
Name[pt_BR]=Malawi
Name[ru]=Малави
Name[se]=Malawi
Name[sk]=Malawi
Name[sl]=Malavi
Name[sr]=Малави
Name[sr@ijekavian]=Малави
Name[sr@ijekavianlatin]=Malavi
Name[sr@latin]=Malavi
Name[sv]=Malawi
Name[tg]=Малавӣ
Name[tr]=Malavi
Name[uk]=Малаві
Name[x-test]=xxMalawixx
Name[zh_CN]=马拉维
Name[zh_TW]=馬拉威
Region=southafrica
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MWK
CurrencyCode=MWK
