/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
/* old syntax is for broken firefox */
check,
.check {
    -gtk-icon-source: -gtk-scaled(url("assets/check-unselected.png"),
                                  url("assets/check-unselected@2.png"));
}

check:hover,
.check:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-unselected-hover.png"),
                                  url("assets/check-unselected-hover@2.png"));
}

row check,
row:selected check,
row:selected:focus check {
    -gtk-icon-source: -gtk-scaled(url("assets/check-unselected-alt.png"),
                                  url("assets/check-unselected-alt@2.png"));
}

row check:hover,
row:selected check:hover,
row:selected:focus check:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-unselected-hover-alt.png"),
                                  url("assets/check-unselected-hover-alt@2.png"));
}

check:disabled,
.check:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/check-unselected-disabled.png"),
                                  url("assets/check-unselected-disabled@2.png"));
}

row check:disabled,
row:selected check:disabled,
row:selected:focus check:disabled {
    background-color: transparent;
    -gtk-icon-source: -gtk-scaled(url("assets/check-unselected-disabled-alt.png"),
                                  url("assets/check-unselected-disabled-alt@2.png"));
}

check:backdrop,
.check:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-unselected.png"),
                                  url("assets/backdrop-check-unselected@2.png"));
}

check:hover:backdrop,
.check:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-unselected-hover.png"),
                                  url("assets/backdrop-check-unselected-hover@2.png"));
}

row:backdrop check,
row:selected:backdrop check {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-unselected-alt.png"),
                                  url("assets/backdrop-check-unselected-alt@2.png"));
}

row:backdrop check:hover,
row:selected:backdrop check:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-unselected-hover-alt.png"),
                                  url("assets/backdrop-check-unselected-hover-alt@2.png"));
}

check:disabled:backdrop,
.check:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-unselected-disabled.png"),
                                  url("assets/backdrop-check-unselected-disabled@2.png"));
}

row:selected check:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-unselected-disabled-alt.png"),
                                  url("assets/backdrop-check-unselected-disabled-alt@2.png"));
}

check:checked,
.check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/check-selected.png"),
                                  url("assets/check-selected@2.png"));
}

check:checked:hover,
.check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-selected-hover.png"),
                                  url("assets/check-selected-hover@2.png"));
}

row check:checked,
row:selected check:checked,
row:selected:focus check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/check-selected-alt.png"),
                                  url("assets/check-selected-alt@2.png"));
}

row check:checked:hover,
row:selected check:checked:hover,
row:selected:focus check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-selected-hover-alt.png"),
                                  url("assets/check-selected-hover-alt@2.png"));
}

check:checked:disabled,
.check:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/check-selected-disabled.png"),
                                  url("assets/check-selected-disabled@2.png"));
}

row check:checked:disabled,
row:selected check:checked:disabled,
row:selected:focus check:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/check-selected-disabled-alt.png"),
                                  url("assets/check-selected-disabled-alt@2.png"));
}

check:checked:backdrop,
.check:checked:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-selected.png"),
                                  url("assets/backdrop-check-selected@2.png"));
}

check:checked:hover:backdrop,
.check:checked:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-selected-hover.png"),
                                  url("assets/backdrop-check-selected-hover@2.png"));
}

row check:checked:hover:backdrop,
row:selected check:checked:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-selected-alt.png"),
                                  url("assets/backdrop-check-selected-alt@2.png"));
}

row check:checked:hover:backdrop,
row:selected check:checked:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-selected-hover-alt.png"),
                                  url("assets/backdrop-check-selected-hover-alt@2.png"));
}

check:checked:disabled:backdrop,
.check:checked:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-selected-disabled.png"),
                                  url("assets/backdrop-check-selected-disabled@2.png"));
}

row:selected check:checked:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-selected-disabled-alt.png"),
                                  url("assets/backdrop-check-selected-disabled-alt@2.png"));
}

check:indeterminate,
.check:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/check-mixed.png"),
                                  url("assets/check-mixed@2.png"));
}

check:indeterminate:hover,
.check:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-mixed-hover.png"),
                                  url("assets/check-mixed-hover@2.png"));
}

row check:indeterminate,
row:selected check:indeterminate,
row:selected:focus check:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/check-mixed-alt.png"),
                                  url("assets/check-mixed-alt@2.png"));
}

row check:indeterminate:hover,
row:selected check:indeterminate:hover,
row:selected:focus check:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-mixed-hover-alt.png"),
                                  url("assets/check-mixed-hover-alt@2.png"));
}

check:indeterminate:disabled,
.check:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/check-mixed-disabled.png"),
                                  url("assets/check-mixed-disabled@2.png"));
}

row check:indeterminate:disabled,
row:selected check:indeterminate:disabled,
row:selected:focus check:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/check-mixed-disabled-alt.png"),
                                  url("assets/check-mixed-disabled-alt@2.png"));
}

check:indeterminate:backdrop,
.check:indeterminate:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-mixed.png"),
                                  url("assets/backdrop-check-mixed@2.png"));
}

check:indeterminate:hover:backdrop,
.check:indeterminate:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-mixed-hover.png"),
                                  url("assets/backdrop-check-mixed-hover@2.png"));
}

row check:indeterminate:backdrop,
row:selected check:indeterminate:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-mixed-alt.png"),
                                  url("assets/backdrop-check-mixed-alt@2.png"));
}

row check:indeterminate:hover:backdrop,
row:selected check:indeterminate:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-mixed-hover-alt.png"),
                                  url("assets/backdrop-check-mixed-hover-alt@2.png"));
}

check:indeterminate:disabled:backdrop,
.check:indeterminate:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-mixed-disabled.png"),
                                  url("assets/backdrop-check-mixed-disabled@2.png"));
}

row:selected check:indeterminate:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-check-mixed-disabled-alt.png"),
                                  url("assets/backdrop-check-mixed-disabled-alt@2.png"));
}

radio,
.radio {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected.png"),
                                  url("assets/radio-unselected@2.png"));
}

radio:hover,
.radio:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-hover.png"),
                                  url("assets/radio-unselected-hover@2.png"));
}

row radio,
row:selected radio,
row:selected:focus radio {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-alt.png"),
                                  url("assets/radio-unselected-alt@2.png"));
}

row radio:hover,
row:selected radio:hover,
row:selected:focus radio:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-hover-alt.png"),
                                  url("assets/radio-unselected-hover-alt@2.png"));
}

radio:disabled,
.radio:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-disabled.png"),
                                  url("assets/radio-unselected-disabled@2.png"));
}

row radio:disabled,
row:selected radio:disabled,
row:selected:focus radio:disabled {
    background-color: transparent;
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-disabled-alt.png"),
                                  url("assets/radio-unselected-disabled-alt@2.png"));
}

radio:backdrop,
.radio:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-unselected.png"),
                                  url("assets/backdrop-radio-unselected@2.png"));
}

radio:hover:backdrop,
.radio:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-unselected-hover.png"),
                                  url("assets/backdrop-radio-unselected-hover@2.png"));
}

row radio:backdrop,
row:selected radio:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-unselected-alt.png"),
                                  url("assets/backdrop-radio-unselected-alt@2.png"));
}

row radio:hover:backdrop,
row:selected radio:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-unselected-hover-alt.png"),
                                  url("assets/backdrop-radio-unselected-hover-alt@2.png"));
}

radio:disabled:backdrop,
.radio:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-unselected-disabled.png"),
                                  url("assets/backdrop-radio-unselected-disabled@2.png"));
}

row:selected radio:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-unselected-disabled-alt.png"),
                                  url("assets/backdrop-radio-unselected-disabled-alt@2.png"));
}

radio:checked,
.radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected.png"),
                                  url("assets/radio-selected@2.png"));
}

radio:checked:hover,
.radio:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-hover.png"),
                                  url("assets/radio-selected-hover@2.png"));
}

row radio:checked,
row:selected radio:checked,
row:selected:focus radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-alt.png"),
                                  url("assets/radio-selected-alt@2.png"));
}

row radio:checked:hover,
row:selected radio:checked:hover,
row:selected:focus radio:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-hover-alt.png"),
                                  url("assets/radio-selected-hover-alt@2.png"));
}

radio:checked:disabled,
.radio:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-disabled.png"),
                                  url("assets/radio-selected-disabled@2.png"));
}

row radio:checked:disabled,
row:selected radio:checked:disabled,
row:selected:focus radio:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-disabled-alt.png"),
                                  url("assets/radio-selected-disabled-alt@2.png"));
}

radio:checked:backdrop,
.radio:checked:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-selected.png"),
                                  url("assets/backdrop-radio-selected@2.png"));
}

radio:checked:hover:backdrop,
.radio:checked:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-selected-hover.png"),
                                  url("assets/backdrop-radio-selected-hover@2.png"));
}

row radio:checked:backdrop,
row:selected radio:checked:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-selected-alt.png"),
                                  url("assets/backdrop-radio-selected-alt@2.png"));
}

row radio:checked:hover:backdrop,
row:selected radio:checked:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-selected-hover-alt.png"),
                                  url("assets/backdrop-radio-selected-hover-alt@2.png"));
}

radio:checked:disabled:backdrop,
.radio:checked:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-selected-disabled.png"),
                                  url("assets/backdrop-radio-selected-disabled@2.png"));
}

row:selected radio:checked:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-selected-disabled-alt.png"),
                                  url("assets/backdrop-radio-selected-disabled-alt@2.png"));
}

radio:indeterminate,
.radio:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"),
                                  url("assets/radio-mixed@2.png"));
}

radio:indeterminate:hover,
.radio:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-hover.png"),
                                  url("assets/radio-mixed-hover@2.png"));
}

row radio:indeterminate,
row:selected radio:indeterminate,
row:selected:focus radio:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-alt.png"),
                                  url("assets/radio-mixed-alt@2.png"));
}

row radio:indeterminate:hover,
row:selected radio:indeterminate:hover,
row:selected:focus radio:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-hover-alt.png"),
                                  url("assets/radio-mixed-hover-alt@2.png"));
}

radio:indeterminate:disabled,
.radio:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-disabled.png"),
                                  url("assets/radio-mixed-disabled@2.png"));
}

row radio:indeterminate:disabled,
row:selected radio:indeterminate:disabled,
row:selected:focus radio:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-disabled-alt.png"),
                                  url("assets/radio-mixed-disabled-alt@2.png"));
}

radio:indeterminate:backdrop,
.radio:indeterminate:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-mixed.png"),
                                  url("assets/backdrop-radio-mixed@2.png"));
}

radio:indeterminate:hover:backdrop,
.radio:indeterminate:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-mixed-hover.png"),
                                  url("assets/backdrop-radio-mixed-hover@2.png"));
}

row radio:indeterminate:backdrop,
row:selected radio:indeterminate:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-mixed-alt.png"),
                                  url("assets/backdrop-radio-mixed-alt@2.png"));
}

row radio:indeterminate:hover:backdrop,
row:selected radio:indeterminate:hover:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-mixed-hover-alt.png"),
                                  url("assets/backdrop-radio-mixed-hover-alt@2.png"));
}

radio:indeterminate:disabled:backdrop,
.radio:indeterminate:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-mixed-disabled.png"),
                                  url("assets/backdrop-radio-mixed-disabled@2.png"));
}

row radio:indeterminate:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/backdrop-radio-mixed-disabled-alt.png"),
                                  url("assets/backdrop-radio-mixed-disabled-alt@2.png"));
}

.primary-toolbar:not(.libreoffice-toolbar) menu menuitem check,
toolbar menubar menu menuitem check,
headerbar menu menuitem check,
menu menuitem check,
menu menuitem .check,
.primary-toolbar:not(.libreoffice-toolbar) menu menuitem check:hover,
toolbar menubar menu menuitem check:hover,
headerbar menu menuitem check:hover,
menu menuitem check:hover,
menu menuitem .check:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-menuitem-unselected.png"),
                                  url("assets/check-menuitem-unselected@2.png"));
}

.primary-toolbar:not(.libreoffice-toolbar) menu menuitem radio,
toolbar menubar menu menuitem radio,
headerbar menu menuitem radio,
menu menuitem radio,
menu menuitem .radio,
.primary-toolbar:not(.libreoffice-toolbar) menu menuitem radio:hover,
toolbar menubar menu menuitem radio:hover,
headerbar menu menuitem radio:hover,
menu menuitem radio:hover,
menu menuitem .radio:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-menuitem-unselected.png"),
                                  url("assets/check-menuitem-unselected@2.png"));
}

.primary-toolbar:not(.libreoffice-toolbar) menu menuitem check:checked,
toolbar menubar menu menuitem check:checked,
headerbar menu menuitem check:checked,
toolbar menu menuitem check:checked:hover,
menu menuitem check:checked,
menu menuitem check:checked:hover,
menu menuitem .check:checked,
menu menuitem .check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/check-menuitem.png"),
                                  url("assets/check-menuitem@2.png"));
}

.primary-toolbar:not(.libreoffice-toolbar) menu menuitem check:checked:disabled,
toolbar menubar menu menuitem check:checked:disabled,
headerbar menu menuitem check:checked:disabled,
toolbar menu menuitem check:checked:hover:disabled,
menu menuitem check:checked:disabled,
menu menuitem check:checked:hover:disabled,
menu menuitem .check:checked:disabled,
menu menuitem .check:checked:hover:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/check-menuitem-insensitive.png"),
                                  url("assets/check-menuitem-insensitive@2.png"));
}

.primary-toolbar:not(.libreoffice-toolbar) menu menuitem radio:checked,
toolbar menubar menu menuitem radio:checked,
headerbar menu menuitem radio:checked,
toolbar menu menuitem radio:checked:hover,
menu menuitem radio:checked,
menu menuitem radio:checked:hover,
menu menuitem .radio:checked,
menu menuitem .radio:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-menuitem.png"),
                                  url("assets/radio-menuitem@2.png"));
}

.primary-toolbar:not(.libreoffice-toolbar) menu menuitem radio:checked:disabled,
toolbar menubar menu menuitem radio:checked:disabled,
headerbar menu menuitem radio:checked:disabled,
toolbar menu menuitem radio:checked:hover:disabled,
menu menuitem radio:checked:disabled,
menu menuitem radio:checked:hover:disabled,
menu menuitem .radio:checked:disabled,
menu menuitem .radio:checked:hover:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-menuitem-insensitive.png"),
                                  url("assets/radio-menuitem-insensitive@2.png"));
}

toolbar menu menuitem check {
    -gtk-icon-source: -gtk-scaled(url("assets/check-menuitem-unselected.png"),
                                  url("assets/check-menuitem-unselected@2.png"));
}

toolbar menu menuitem radio {
    -gtk-icon-source: -gtk-scaled(url("assets/check-menuitem-unselected.png"),
                                  url("assets/check-menuitem-unselected@2.png"));
}

toolbar menu menuitem check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/check-menuitem-dark.png"),
                                  url("assets/check-menuitem-dark@2.png"));
}

toolbar menu menuitem check:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/check-menuitem-insensitive-dark.png"),
                                  url("assets/check-menuitem-insensitive-dark@2.png"));
}

toolbar menu menuitem radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-menuitem-dark.png"),
                                  url("assets/radio-menuitem-dark@2.png"));
}

toolbar menu menuitem radio:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-menuitem-insensitive-dark.png"),
                                  url("assets/radio-menuitem-insensitive-dark@2.png"));
}

/*********************
 * GtkScale's slider *
 *********************/
scale slider,
scale.horizontal slider,
scale slider:backdrop,
scale.horizontal slider:backdrop {
    background-image: -gtk-scaled(url("assets/slider-horizontal.png"),
                                  url("assets/slider-horizontal@2.png"));
    background-repeat: no-repeat;
}
/*
scale slider:backdrop,
scale.horizontal slider:backdrop {
    background-image: -gtk-scaled(url("assets/slider-horizontal-disabled.png"),
                                  url("assets/slider-horizontal-disabled@2.png"));
}
*/
scale slider:hover,
scale.horizontal slider:hover {
    background-image: -gtk-scaled(url("assets/slider-horizontal-hover.png"),
                                  url("assets/slider-horizontal-hover@2.png"));
    background-repeat: no-repeat;
}

scale slider:focus,
scale.horizontal slider:focus {
    background-image: -gtk-scaled(url("assets/slider-horizontal-focused.png"),
                                  url("assets/slider-horizontal-focused@2.png"));
}

scale slider:hover:focus,
scale.horizontal slider:hover:focus {
    background-image: -gtk-scaled(url("assets/slider-horizontal-focused-hover.png"),
                                  url("assets/slider-horizontal-focused-hover@2.png"));
}

scale slider:disabled,
scale.horizontal slider:disabled,
scale slider:disabled:backdrop,
scale.horizontal slider:disabled:backdrop {
    background-image: -gtk-scaled(url("assets/slider-horizontal-disabled.png"),
                                  url("assets/slider-horizontal-disabled@2.png"));
}
/*
scale slider:disabled:backdrop,
scale.horizontal slider:disabled:backdrop {
    background-image: url("assets/slider-horizontal-backdrop-disabled.png");
}
*/
scale.vertical slider,
scale.vertical slider:backdrop {
    background-image: -gtk-scaled(url("assets/slider-vertical.png"),
                                  url("assets/slider-vertical@2.png"));
}
/*
scale.vertical slider:backdrop {
    background-image: url("assets/slider-vertical-backdrop.png");
}
*/
scale.vertical slider:hover {
    background-image: -gtk-scaled(url("assets/slider-vertical-hover.png"),
                                  url("assets/slider-vertical-hover@2.png"));
}

scale.vertical slider:focus {
    background-image: -gtk-scaled(url("assets/slider-vertical-focused.png"),
                                  url("assets/slider-vertical-focused@2.png"));
}

scale.vertical slider:hover:focus {
    background-image: -gtk-scaled(url("assets/slider-vertical-focused-hover.png"),
                                  url("assets/slider-vertical-focused-hover@2.png"));
}

scale.vertical slider:disabled,
scale.vertical slider:disabled:backdrop {
    background-image: -gtk-scaled(url("assets/slider-vertical-disabled.png"),
                                  url("assets/slider-vertical-disabled@2.png"));
}

/*
scale.vertical slider:disabled:backdrop {
    background-image: url("assets/slider-vertical-backdrop-disabled.png");
}
*/
/*scale.horizontal.marks-before slider {
    background-image: url("assets/slider-up.png");
}

scale.horizontal.marks-before slider:disabled {
    background-image: url("assets/slider-up-disabled.png");
}

scale.horizontal.marks-before slider:backdrop {
    background-image: url("assets/slider-up-backdrop.png");
}

scale.horizontal.marks-before slider:backdrop:disabled {
    background-image: url("assets/slider-up-backdrop-disabled.png");
}

scale.vertical.marks-before slider {
    background-image: url("assets/slider-left.png");
}

scale.vertical.marks-before slider:disabled {
    background-image: url("assets/slider-left-disabled.png");
}

scale.vertical.marks-before slider:backdrop {
    background-image: url("assets/slider-left-backdrop.png");
}

scale.vertical.marks-before slider:backdrop:disabled {
    background-image: url("assets/slider-left-backdrop-disabled.png");
}

scale.horizontal.marks-after slider {
    background-image: url("assets/slider-down.png");
}

scale.horizontal.marks-after slider:disabled {
    background-image: url("assets/slider-down-disabled.png");
}

.scale.scale-has-marks-below.slider.horizontal:backdrop {
    background-image: url("assets/slider-down-backdrop.png");
}

scale.horizontal.marks-after slider:backdrop:disabled {
    background-image: url("assets/slider-down-backdrop-disabled.png");
}

scale.vertical.marks-after slider {
    background-image: url("assets/slider-right.png");
}

scale.vertical.marks-after slider:disabled {
    background-image: url("assets/slider-right-disabled.png");
}

scale.vertical.marks-after slider:backdrop {
    background-image: url("assets/slider-right-backdrop.png");
}

scale.vertical.marks-after slider:backdrop:disabled {
    background-image: url("assets/slider-right-backdrop-disabled.png");
}*/

/*************
 * scrollbar *
 *************/

scrollbar.vertical button.up,
scrollbar.vertical .button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scrollbar.vertical button.down,
scrollbar.vertical .button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.horizontal button.up,
scrollbar.horizontal .button.up {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

scrollbar.horizontal button.down,
scrollbar.horizontal .button.down {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

