[KCM Locale]
Author=Rinse de Vries <rinse@kde.nl>
Name=Netherlands
Name[af]=Nederland
Name[ar]=هولندا
Name[as]=নেদাৰলেন্ড
Name[ast]=Países Baxos
Name[be]=Галандыя
Name[be@latin]=Halandyja
Name[bg]=Холандия
Name[bn]=হল্যাণ্ড
Name[bn_IN]=নেদারল্যান্ড
Name[bs]=Holandija
Name[ca]=Països Baixos
Name[ca@valencia]=Països Baixos
Name[cs]=Nizozemí
Name[csb]=Néderlandzkô
Name[cy]=Yr Iseldiroedd
Name[da]=Holland
Name[de]=Niederlande
Name[el]=Κάτω Χώρες
Name[en_GB]=Netherlands
Name[eo]=Nederlando
Name[es]=Países Bajos
Name[et]=Holland
Name[eu]=Herbehereak
Name[fa]=هلند
Name[fi]=Alankomaat
Name[fr]=Pays-Bas
Name[fy]=Nederlân
Name[ga]=An Ísiltír
Name[gd]=Na Tìrean Ìsle
Name[gl]=Países Baixos
Name[gu]=નેધરલેન્ડસ
Name[he]=הולנד
Name[hi]=नीदरलैंड्स
Name[hne]=नीदरलैंड्स
Name[hr]=Nizozemska
Name[hsb]=Nižozemska
Name[hu]=Hollandia
Name[ia]=Nederland
Name[id]=Belanda
Name[is]=Holland
Name[it]=Paesi Bassi
Name[ka]=ჰოლანდია
Name[kk]=Нидерландия
Name[km]=ហុល្លង់
Name[kn]=ನೆದರ್ಲ್ಯಾಂಡ್ಸ್
Name[ko]=네덜란드
Name[ku]=Holanda
Name[lt]=Olandija
Name[lv]=Nīderlande
Name[mai]=नीदरलैंड्स
Name[mk]=Холандија
Name[ml]=നെഥര്‍ലാന്‍ഡ്സ്
Name[mr]=नेदरलँड्स
Name[nb]=Nederland
Name[nds]=Nedderlannen
Name[ne]=नेदरल्याण्ड
Name[nl]=Nederland
Name[nn]=Nederland
Name[oc]=Holanda
Name[or]=ନେଦରଲ୍ୟାଣ୍ଡ
Name[pa]=ਨੀਂਦਰਲੈਂਡ
Name[pl]=Holandia
Name[pt]=Holanda
Name[pt_BR]=Holanda
Name[ro]=Olanda
Name[ru]=Нидерланды
Name[se]=Hollánda
Name[si]=නෙදර්ලන්තය
Name[sk]=Holandsko
Name[sl]=Nizozemska
Name[sr]=Холандија
Name[sr@ijekavian]=Холандија
Name[sr@ijekavianlatin]=Holandija
Name[sr@latin]=Holandija
Name[sv]=Nederländerna
Name[ta]=நெதர்லாந்து
Name[te]=నెదర్లెండ్స్
Name[tg]=Нидерландия
Name[th]=เนเธอร์แลนด์
Name[tr]=Hollanda
Name[ug]=گوللاندىيە
Name[uk]=Нідерланди
Name[uz]=Niderlandlar
Name[uz@cyrillic]=Нидерландлар
Name[vi]=Hà Lan
Name[wa]=Bas Payis
Name[x-test]=xxNetherlandsxx
Name[zh_CN]=荷兰
Name[zh_TW]=荷蘭
Region=westeurope
Languages=nl
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[nl]=%A %e %B %Y
DateFormatShort=%d/%m/%y
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%n\n%0(%cm\n)%0(Postbus %p\n)%0(%s\n)%z%w%l
AddressCountryPosition=below
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
