[KCM Locale]
Name=Ireland
Name[ar]=أيرلندا
Name[ast]=Irlanda
Name[bs]=Irska
Name[ca]=Irlanda
Name[ca@valencia]=Irlanda
Name[cs]=Irsko
Name[da]=Irland
Name[de]=Irland
Name[en_GB]=Ireland
Name[es]=Irlanda
Name[et]=Iirimaa
Name[eu]=Irlanda
Name[fa]=ایرلند
Name[fi]=Irlanti
Name[fr]=Irlande
Name[gd]=Èirinn
Name[gl]=Irlanda
Name[hr]=Irska
Name[hu]=Írország
Name[ia]=Irlanda
Name[id]=Irlandia
Name[is]=Írland
Name[it]=Irlanda
Name[ka]=ირლანდია
Name[ko]=아일랜드
Name[lt]=Airija
Name[lv]=Īrija
Name[mr]=आयलॅंड
Name[nb]=Irland
Name[nds]=Irland
Name[nl]=Ierland
Name[nn]=Irland
Name[pa]=ਆਈਰਲੈਂਡ
Name[pl]=Irlandia
Name[pt]=Irlanda
Name[pt_BR]=Irlanda
Name[ru]=Ирландия
Name[se]=Irlánda
Name[sk]=Írsko
Name[sl]=Irska
Name[sr]=Ирска
Name[sr@ijekavian]=Ирска
Name[sr@ijekavianlatin]=Irska
Name[sr@latin]=Irska
Name[sv]=Irland
Name[tg]=Исландия
Name[tr]=İrlanda
Name[uk]=Ірландія
Name[x-test]=xxIrelandxx
Name[zh_CN]=伊朗
Name[zh_TW]=愛爾蘭
Region=westeurope
Languages=en_GB,ga
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[ga]=%a %d %b %Y
DateFormat[en_GB]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
