[KCM Locale]
Name=Default
Name[af]=Standaard
Name[ar]=الافتراضي
Name[as]=অবিকল্পিত
Name[ast]=Por defeutu
Name[be]=Прадвызначаны
Name[be@latin]=Zmoŭčany
Name[bg]=По подразбиране
Name[bn]=ডিফল্ট
Name[bn_IN]=ডিফল্ট
Name[bs]=Podrazumijevano
Name[ca]=Omissió
Name[ca@valencia]=Omissió
Name[cs]=Výchozí
Name[csb]=Domëslno
Name[cy]=Rhagosodedig
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[en_GB]=Default
Name[eo]=Apriora
Name[es]=Por omisión
Name[et]=Vaikimisi
Name[eu]=Lehenetsia
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[fy]=Standert
Name[ga]=Réamhshocrú
Name[gd]=Tùsail
Name[gl]=Predeterminado
Name[gu]=મૂળભુત
Name[he]=ברירת מחדל
Name[hi]=डिफ़ॉल्ट
Name[hne]=डिफाल्ट
Name[hr]=Zadano
Name[hsb]=Standard
Name[hu]=Alapértelmezett
Name[ia]=Predefinite
Name[id]=Baku
Name[is]=Sjálfgefið
Name[it]=Predefinito
Name[ka]=ნაგულისხმევი
Name[kk]=Әдетті
Name[km]=លំនាំ​ដើម
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ
Name[ko]=기본값
Name[ku]=Standard
Name[lt]=Numatyta
Name[lv]=Noklusētais
Name[mai]=पूर्वनिर्धारित
Name[mk]=Стандардно
Name[ml]=സഹജമായ
Name[mr]=मूलभूत
Name[ms]=Default
Name[nb]=Standard
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Defaut
Name[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ
Name[pa]=ਡਿਫਾਲਟ
Name[pl]=Domyślnie
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[se]=Standárda
Name[si]=පෙරනිමිය
Name[sk]=Predvolené
Name[sl]=Privzeto
Name[sr]=Подразумевано
Name[sr@ijekavian]=Подразумијевано
Name[sr@ijekavianlatin]=Podrazumijevano
Name[sr@latin]=Podrazumevano
Name[sv]=Förval
Name[ta]=முன்னிருப்பு
Name[te]=అప్రమెయం
Name[tg]=Стандартӣ
Name[th]=ค่าปริยาย
Name[tr]=Öntanımlı
Name[ug]=كۆڭۈلدىكى
Name[uk]=Типова
Name[uz]=Andoza
Name[uz@cyrillic]=Андоза
Name[vi]=Mặc định
Name[wa]=Prémetou
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設

Region=
Languages=en_US
Transcript=true
NounDeclension=false
LanguageSensitiveDigits=true

DecimalPlaces=2
DecimalSymbol=.
DigitGroupFormat=3
ThousandsSeparator=,
PositiveSign=
NegativeSign=-
DigitSet=0

CurrencyCode=USD
CurrencyCodesInUse=USD
#CurrencySymbol=$ Don't default as will use default for CurrencyCode
MonetaryDecimalPlaces=2
MonetaryDecimalSymbol=.
MonetaryDigitGroupFormat=3
MonetaryThousandsSeparator=,
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
MonetaryDigitSet=0

CalendarSystem=gregorian

TimeFormat=%H:%M:%S
DateFormat=%A %d %B %Y
DateFormatShort=%Y-%m-%d
DateMonthNamePossessive=false
WeekStartDay=1
WorkingWeekStartDay=1
WorkingWeekEndDay=5
WeekDayOfPray=7
WeekNumberSystem=0
DateTimeDigitSet=0

BinaryUnitDialect=0
PageSize=0
MeasureSystem=0

[KCM Locale][KCalendarSystem gregorian]
UseCommonEra=false
ShortYearWindowStartYear=2000
