[KCM Locale]
Name=Benin
Name[af]=Denin
Name[ar]=بنن
Name[as]=বেনিন
Name[ast]=Benín
Name[be]=Бенін
Name[be@latin]=Benin
Name[bg]=Бенин
Name[bn]=বেনিন
Name[bn_IN]=বেনিন
Name[br]=Benin
Name[bs]=Benin
Name[ca]=Benín
Name[ca@valencia]=Benín
Name[cs]=Benin
Name[csb]=Benin
Name[cy]=Benin
Name[da]=Benin
Name[de]=Benin
Name[el]=Μπενίν
Name[en_GB]=Benin
Name[eo]=Benino
Name[es]=Benin
Name[et]=Benin
Name[eu]=Benin
Name[fa]=بنین
Name[fi]=Benin
Name[fr]=Bénin
Name[fy]=Benin
Name[ga]=Beinin
Name[gd]=Beinin
Name[gl]=Benin
Name[gu]=બેનિન
Name[he]=בנין
Name[hi]=बेनिन
Name[hne]=बेनिन
Name[hr]=Benin
Name[hsb]=Benin
Name[hu]=Benin
Name[ia]=Benin
Name[id]=Benin
Name[is]=Benín
Name[it]=Benin
Name[ka]=ბენინი
Name[kk]=Бенин
Name[km]=បេណាំង
Name[kn]=ಬೆನಿನ್
Name[ko]=베냉
Name[ku]=Benîn
Name[lt]=Benin
Name[lv]=Benina
Name[mai]=बेनिन
Name[mk]=Бенин
Name[ml]=ബെനിന്‍
Name[mr]=बेनिन
Name[ms]=Benin
Name[nb]=Benin
Name[nds]=Benin
Name[ne]=बेनिन
Name[nl]=Benin
Name[nn]=Benin
Name[oc]=Benin
Name[or]=ବେନିନ
Name[pa]=ਬੀਨਿਨ
Name[pl]=Benin
Name[pt]=Benim
Name[pt_BR]=Benim
Name[ro]=Benin
Name[ru]=Бенин
Name[se]=Benin
Name[si]=බෙනින්
Name[sk]=Benin
Name[sl]=Benin
Name[sr]=Бенин
Name[sr@ijekavian]=Бенин
Name[sr@ijekavianlatin]=Benin
Name[sr@latin]=Benin
Name[sv]=Benin
Name[ta]=பெனின்
Name[te]=బెనిన్
Name[tg]=Бенин
Name[th]=เบนิน
Name[tr]=Benin
Name[ug]=بېنىن
Name[uk]=Бенін
Name[uz]=Benin
Name[uz@cyrillic]=Бенин
Name[vi]=Benin
Name[wa]=Benin
Name[x-test]=xxBeninxx
Name[zh_CN]=贝宁
Name[zh_TW]=貝南
Region=westafrica
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XOF
CurrencyCode=XOF
