[KCM Locale]
Name=Guyana
Name[af]=Guyana
Name[ar]=غيانا
Name[as]=গায়ানা
Name[ast]=Guyana
Name[be]=Гвіяна
Name[be@latin]=Guyana
Name[bg]=Гуайана
Name[bn]=গায়ানা
Name[bn_IN]=গায়ানা
Name[br]=Gwiana
Name[bs]=Gvajana
Name[ca]=Guyana
Name[ca@valencia]=Guyana
Name[cs]=Guyana
Name[csb]=Gujana
Name[cy]=Giana
Name[da]=Guyana
Name[de]=Guyana
Name[el]=Γουιάνα
Name[en_GB]=Guyana
Name[eo]=Gvajano
Name[es]=Guyana
Name[et]=Guyana
Name[eu]=Guyana
Name[fa]=گویان
Name[fi]=Guyana
Name[fr]=Guyanne
Name[fy]=Guyana
Name[ga]=An Ghuáin
Name[gd]=Guidheàna
Name[gl]=Guiana
Name[gu]=ગુયાના
Name[he]=גויאנה
Name[hi]=गुयाना
Name[hne]=गुयाना
Name[hr]=Gijana
Name[hsb]=Guyana
Name[hu]=Guyana
Name[ia]=Guyana
Name[id]=Guyana
Name[is]=Gvæjana
Name[it]=Guyana
Name[ka]=გვიანა
Name[kk]=Гайана
Name[km]=ហ្គីយ៉ាណា
Name[kn]=ಗಯಾನ
Name[ko]=가이아나
Name[ku]=Guyana
Name[lt]=Gviana
Name[lv]=Gajana
Name[mai]=गुयाना
Name[mk]=Гвајана
Name[ml]=ഗയാന
Name[mr]=गुयाना
Name[ms]=Guyana
Name[nb]=Guyana
Name[nds]=Guyana
Name[ne]=गुयाना
Name[nl]=Guyana
Name[nn]=Guyana
Name[oc]=Guianà
Name[or]=ଗୁଆନା
Name[pa]=ਗੁਆਨਾ
Name[pl]=Gujana
Name[pt]=Guiana
Name[pt_BR]=Guiana
Name[ro]=Guiana
Name[ru]=Гайана
Name[se]=Guyana
Name[si]=ගුයනා
Name[sk]=Guyana
Name[sl]=Gvajana
Name[sr]=Гвајана
Name[sr@ijekavian]=Гвајана
Name[sr@ijekavianlatin]=Gvajana
Name[sr@latin]=Gvajana
Name[sv]=Guyana
Name[ta]=கானா
Name[te]=గయానా
Name[tg]=Гайана
Name[th]=กายอานา
Name[tr]=Guana
Name[ug]=گىۋىيانا
Name[uk]=Гайана
Name[uz]=Gviana
Name[uz@cyrillic]=Гвиана
Name[vi]=Guyana
Name[wa]=Guyana
Name[x-test]=xxGuyanaxx
Name[zh_CN]=圭亚那
Name[zh_TW]=蓋亞納
Region=southamerica
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=GYD
CurrencyCode=GYD
