[KCM Locale]
Name=Punjabi
Name[af]=Punjabi
Name[ar]=البنجابيّة
Name[as]=পাঞ্জাবী
Name[ast]=Panyabín
Name[be]=Панджабі
Name[be@latin]=Pandžabi
Name[bg]=Панджаби
Name[bn]=পাঞ্জাবী
Name[bn_IN]=পাঞ্জাবি
Name[br]=Punjabi
Name[bs]=pandžabi
Name[ca]=Panjabi
Name[ca@valencia]=Panjabi
Name[cs]=Pandžábský
Name[csb]=Pendżabsczi
Name[cy]=Punjabi
Name[da]=Punjabi
Name[de]=Pandschabi
Name[el]=Αραβικά
Name[en_GB]=Punjabi
Name[eo]=Panĝaba
Name[es]=Punjabí
Name[et]=Pandžabi
Name[eu]=Punjabera
Name[fa]=پنجابی
Name[fi]=Pandžabi
Name[fr]=Pendjabi
Name[fy]=Punjabysk
Name[ga]=Painseáibis
Name[gd]=Panjabi
Name[gl]=Punjabi
Name[gu]=પંજાબી
Name[he]=פנג'בית
Name[hi]=पंजाबी
Name[hne]=पंजाबी
Name[hr]=Pandžabski
Name[hsb]=Pandźabsce
Name[hu]=Pandzsabi
Name[ia]=Punjabi 
Name[id]=Punjabi
Name[is]=Punjabi
Name[it]=Panjabi
Name[ja]=パンジャーブ語
Name[kk]=Панджаби
Name[km]=ពូនយ៉ាប៊ី
Name[kn]=ಪಂಜಾಬಿ
Name[ko]=펀자브어
Name[ku]=Pêncabî
Name[lb]=Pandjabi
Name[lt]=Pundžabi
Name[lv]=Pandžabu
Name[mai]=पंजाबी
Name[mk]=Пунџаби
Name[ml]=പഞ്ചാബി
Name[mr]=पंजाबी
Name[ms]=Punjabi
Name[nb]=Punjabi
Name[nds]=Pandschaabsch
Name[ne]=पन्जाबी
Name[nl]=Punjabi
Name[nn]=Panjabi
Name[oc]=Punjabi
Name[or]=ପଞ୍ଜାବି
Name[pa]=ਪੰਜਾਬੀ
Name[pl]=Pundżabi
Name[ps]=پنجابي
Name[pt]=Punjabi
Name[pt_BR]=Panjabi
Name[ro]=Punjabi
Name[ru]=Панджаби
Name[se]=Punjabi
Name[si]=පන්ජාබි
Name[sk]=Pandžábčina
Name[sl]=Pandžabščina
Name[sq]=Punxhabisht
Name[sr]=панџаби
Name[sr@ijekavian]=панџаби
Name[sr@ijekavianlatin]=pandžabi
Name[sr@latin]=pandžabi
Name[sv]=Punjabi
Name[ta]=பஞ்சாபி
Name[te]=పంజాబి
Name[tg]=Панҷобӣ
Name[th]=ภาษาปัญจาบี
Name[tr]=Punjabi
Name[tt]=Пәнҗәби
Name[ug]=پەنجابچە
Name[uk]=Панджабі
Name[uz]=Panjabcha
Name[uz@cyrillic]=Панжабча
Name[vi]=Punjabi
Name[wa]=Pundjabi
Name[x-test]=xxPunjabixx
Name[zh_CN]=旁遮普语
Name[zh_HK]=旁遮普語
Name[zh_TW]=旁遮普語
