# run before 80-networking.rules to run before ifupdown
SUBSYSTEM=="net", ACTION=="add", RUN+="/lib/resolvconf/net-interface-handler start"
SUBSYSTEM=="net", ACTION=="remove", RUN+="/lib/resolvconf/net-interface-handler stop"
