[Desktop Entry]
Name[an]=Rechistros
Name[ar]=سجلّات
Name[as]=লগসমূহ
Name[be]=Журналы
Name[bg]=Журнали
Name[bs]=Dnevnik
Name[ca]=Registres
Name[ca@valencia]=Registres
Name[cs]=Záznamy
Name[da]=Logge
Name[de]=Protokolle
Name[el]=Καταγραφές
Name[en_GB]=Logs
Name[eo]=Protokoloj
Name[es]=Registros
Name[eu]=Egunkariak
Name[fa]=تاریخچه‌وقایع
Name[fi]=Lokit
Name[fr]=Journaux
Name[fur]=Regjistris
Name[ga]=Logaí
Name[gd]=Logaichean
Name[gl]=Rexistros
Name[he]=יומנים
Name[hr]=Zapisi
Name[hu]=Naplók
Name[id]=Log
Name[it]=Registri
Name[ja]=ログ
Name[kk]=Логтар
Name[ko]=기록
Name[lt]=Žurnalai
Name[lv]=Žurnāli
Name[ml]=ലോഗുകള്‍
Name[nb]=Logger
Name[ne]=लग
Name[nl]=Logboeken
Name[oc]=Jornals
Name[pa]=ਲਾਗ
Name[pl]=Dzienniki
Name[pt]=Registos
Name[pt_BR]=Logs
Name[ro]=Înregistrări
Name[ru]=Журналы
Name[sk]=Záznamy
Name[sl]=Dnevniki
Name[sr]=Записници
Name[sr@latin]=Zapisnici
Name[sv]=Loggar
Name[te]=చిట్టాలు
Name[tg]=Сабтҳо
Name[th]=ปูม
Name[tr]=Günlükler
Name[uk]=Журнали
Name[vi]=Nhật ký máy
Name[zh_CN]=日志
Name[zh_HK]=紀錄檔
Name[zh_TW]=紀錄檔
Name=Logs
GenericName[an]=Visor de rechistros
GenericName[ar]=عارض سجلّات
GenericName[as]=লগ দৰ্শক
GenericName[be]=Прагладальнік журнала
GenericName[bg]=Преглед на журналите
GenericName[bs]=Pregled dnevnika
GenericName[ca]=Visualitzador de registres
GenericName[ca@valencia]=Visualitzador de registres
GenericName[cs]=Prohlížeč záznamů o provozu
GenericName[da]=Logfremviser
GenericName[de]=Protokollbetrachter
GenericName[el]=Εφαρμογή προβολής καταγραφών
GenericName[en_GB]=Log Viewer
GenericName[eo]=Protokola vidigilo
GenericName[es]=Visor de registros
GenericName[eu]=Erregistroen ikustailea
GenericName[fa]=نمایشگر وقایع
GenericName[fi]=Lokikatselin
GenericName[fr]=Visionneur de journaux
GenericName[fur]=Visualizadôr di regjistri
GenericName[ga]=Amharcán Logaí
GenericName[gd]=Sealladair logaichean
GenericName[gl]=Visor de rexistros
GenericName[he]=מציג יומנים
GenericName[hr]=Preglednik zaspisa
GenericName[hu]=Naplómegjelenítő
GenericName[id]=Penilik Log
GenericName[it]=Visualizzatore di registro
GenericName[kk]=Логтар көрсетушісі
GenericName[ko]=기록 보기
GenericName[lt]=Žurnalų žiūryklė
GenericName[lv]=Žurnālu skatītājs
GenericName[ml]=ലോഗ് ദര്‍ശിനി
GenericName[nb]=Loggvisning
GenericName[ne]=लग प्रदर्शक
GenericName[nl]=Logboekviewer
GenericName[oc]=Visualizador de jornals
GenericName[pa]=ਲਾਗ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka dzienników
GenericName[pt]=Visualizador de registos
GenericName[pt_BR]=Visualizador de registros
GenericName[ro]=Jurnal de înregistrări
GenericName[ru]=Журнал событий
GenericName[sk]=Prehliadač záznamov
GenericName[sl]=Pregledovalnik dnevnikov
GenericName[sr]=Прегледач записника
GenericName[sr@latin]=Pregledač zapisnika
GenericName[sv]=Loggvisare
GenericName[te]=చిట్టా చూపకం
GenericName[tg]=Барномаи намоиши сабтҳои рӯйдодҳо
GenericName[th]=เครื่องมือดูปูม
GenericName[tr]=Günlük Görüntüleyici
GenericName[uk]=Переглядач журналу
GenericName[vi]=Xem nhật ký máy
GenericName[zh_CN]=日志查看器
GenericName[zh_HK]=紀錄檔檢視器
GenericName[zh_TW]=紀錄檔檢視器
GenericName=Log Viewer
Comment[an]=Veyer rechistros detallaus d'eventos d'o sistema
Comment[ar]=يعرض سجلّات مفصّلة عن أحداث النظام
Comment[as]=চিস্টেমৰ বাবে বিৱৰিত ঘটনা লগসমূহ দৰ্শন কৰক
Comment[be]=Прагляд падрабязных запісаў сістэмы
Comment[bg]=Визуализация на журналите на събитията в системата
Comment[bs]=Pogledaj detaljne zapisnike o događajima u sistemu
Comment[ca]=Mostra els registres detallats d'esdeveniments del sistema
Comment[ca@valencia]=Mostra els registres detallats d'esdeveniments del sistema
Comment[cs]=Zobrazte si podrobné záznamy událostí v systému
Comment[da]=Vis detaljerede begivenhedslogge for systemet
Comment[de]=Detaillierte Ereignisprotokolle des Systems ansehen
Comment[el]=Δείτε λεπτομερείς καταγραφές συμβάντων για το σύστημα σας
Comment[en_GB]=View detailed event logs for the system
Comment[eo]=Vidi detalajn eventprotokolojn de la sistemo
Comment[es]=Ver registros detallados de eventos del sistema
Comment[eu]=Ikusi sistemako erregistroen gertaera xeheak
Comment[fa]=نمایش جزئیات وقایع برای سیستم
Comment[fi]=Katsele järjestelmän yksityiskohtaisia tapahtumalokeja
Comment[fr]=Afficher en détail les évènements du système
Comment[fur]=Mostre il regjistri detaiât dai events di sisteme
Comment[gd]=Seall logaichean mionaideach air tachartasan an t-siostaim
Comment[gl]=Ver rexistros de eventos detallados para o seu sistema
Comment[he]=הצגת יומני אירועים מפורטים למערכת
Comment[hr]=Pogledajte opširnije događaje svojeg sustava
Comment[hu]=A rendszer részletes eseménynaplóinak megtekintése
Comment[id]=Tilik log kejadian terinci bagi sistem
Comment[it]=Visualizza il registro degli eventi di sistema
Comment[kk]=Жүйенің толығырақ ақпараты бар оқиғалар логын қарау
Comment[ko]=시스템의 자세한 이벤트 기록을 봅니다
Comment[lt]=Matykite sistemos įvykių detalius žurnalus
Comment[lv]=Skatīt detalizētu informāciju par žurnāliem datorā
Comment[ml]=സിസ്റ്റത്തിന്റെ വിശദമായ ഇവന്റ് ലോഗ് പ്രദര്‍ശിപ്പിക്കുക
Comment[nb]=Vis detaljerte hendelseslogger for systemet
Comment[ne]=प्रणालीबाट लग विवरण हेर्नुहोस्
Comment[nl]=Inzage in de logboeken van het systeem
Comment[oc]=Veire en detalh los eveniments del sistèma
Comment[pa]=ਸਿਸਟਮ ਲਈ ਵੇਰਵੇ ਸਮੇਤ ਈਵੈਂਟ ਲਾਗ ਵੇਖੋ
Comment[pl]=Wyświetlanie szczegółowych dzienników zdarzeń w systemie
Comment[pt]=Ver registos detalhados de eventos do seu sistema
Comment[pt_BR]=Veja registros detalhados de eventos do sistema
Comment[ro]=Vizualizați jurnale de evenimente detaliate ale sistemului
Comment[ru]=Просмотр подробной информации о событиях в системе
Comment[sk]=Zobrazuje podrobné záznamy o udalostiach v systéme
Comment[sl]=Pokaži podrobne dnevniške zapise dogodkov sistema
Comment[sr]=Прегледајте опширне записнике догађаја на систему
Comment[sr@latin]=Pregledajte opširne zapisnike događaja na sistemu
Comment[sv]=Visa detaljerade händelseloggar för systemet
Comment[te]=వ్యవస్థ కోసం వివరణాత్మకమైన కార్యక్రమ చిట్టాలను చూడండి
Comment[tg]=Намоиш додни сабтҳои рӯйдодҳои ботафсил барои система
Comment[th]=ดูปูมเหตุการณ์ของระบบอย่างละเอียด
Comment[tr]=Sistem için ayrıntılı olay günlüklerini görüntüle
Comment[uk]=Переглянути детальний журнал подій для системи
Comment[vi]=Xem nhật ký sự kiện chi tiết của hệ thống
Comment[zh_CN]=查看系统详细的事件日志
Comment[zh_HK]=檢視詳細的系統事件紀錄檔
Comment[zh_TW]=檢視詳細的系統事件紀錄檔
Comment=View detailed event logs for the system
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[an]=rechistro;diario;depurar;error;
Keywords[ar]=log;سجلّ;سجل;journal;يوميات;يوميّات;debug;تنقيح;error;خطأ;
Keywords[as]=log;journal;debug;error;
Keywords[be]=запісы;журнал;адладка;памылка;
Keywords[bg]=журнал;дневник;грешка;предупреждение;съобщение;трасиране;дебъгер;log;journal;debug;error;
Keywords[bs]=log;časopis;debug;greška;
Keywords[ca]=registre;diari;depuració;error;
Keywords[ca@valencia]=registre;diari;depuració;error;
Keywords[cs]=log;záznam;protokol;evidence;žurnál;ladění;chyba;
Keywords[da]=log;journal;fejlsøgning;fejlsøg;debug;fejl;
Keywords[de]=log;journal;debug;error;Protokoll;Fehler;Fehlersuche;
Keywords[el]=καταγραφή;ημερολόγιο;αποσφαλμάτωση;σφάλμα;log;journal;debug;error;
Keywords[en_GB]=log;journal;debug;error;
Keywords[eo]=protokolo;sencimigi;eraro;
Keywords[es]=registro;diario;depurar;error;
Keywords[eu]=erregistroa;egunkaria;arazketa;errorea;
Keywords[fa]=وقایع;رفع اشکال;خطا;log;journal;debug;error;
Keywords[fi]=log;journal;debug;error;loki;vianetsintä;virhe;
Keywords[fr]=log;journal;journaux;debug;erreur;
Keywords[fur]=regjistri;diari;gjornâl;debug;erôr;
Keywords[gd]=log;journal;debug;error;loga;logaichean;leabhar-latha;leabhar-là;leabhar-aithris;dì-bhugaich;dì-bhugachadh;mearachd;
Keywords[gl]=rexistro;diario;depuración;erro;
Keywords[he]=יומן;יומנים;לוגים;journal;ניפוי שגיאות;שגיאות;שגיאה;רישום;
Keywords[hr]=zapis;dnevnik;otklanjanje grešaka;greška;
Keywords[hu]=napló;naplózás;hibakeresés;hiba;
Keywords[id]=log;jurnal;awakutu;galat;
Keywords[it]=registro;log;journal;diario;debug;errore;
Keywords[kk]=log;journal;debug;error;лог;журнал;жөндеу;қате;
Keywords[ko]=log;로그;기록;journal;저널;debug;디버깅;error;오류;
Keywords[lt]=žurnalas;derinimas;klaida;
Keywords[lv]=žurnāls;atkļūdot;kļūda;
Keywords[ml]=log;journal;debug;error;
Keywords[nb]=logg;journal;feilsøking;feil;
Keywords[nl]=log;journal;debug;error;logboek;fout;meldingen;foutmeldingen;event;gebeurtenis;
Keywords[oc]=log;jornal;jornals;debug;error;
Keywords[pa]=log;journal;debug;error;
Keywords[pl]=dziennik;logi;journal;journald;debugowanie;debuggowanie;błąd;błędy;komunikaty;error;
Keywords[pt]=registo;jornal;depurar;erro;
Keywords[pt_BR]=registro;registros;log;journal;depuração;debug;erro;
Keywords[ro]=log;journal;debug;error;jurnal;eroare;depanare;înregistrare;înregistrări;
Keywords[ru]=логи;журнал;debug;ошибка;отладка;
Keywords[sk]=log;záznam;žurnál;denník;ladenie;chyba;
Keywords[sl]=dnevnik;razhroščevanje;hrošči;napaka;napake;težave;težava;problem;problemi;
Keywords[sr]=дневник;записник;запис;прочишћавање;грешка;лог;dnevnik;zapisnik;zapis;pročišćavanje;greška;prociscavanje;greska;log;journal;debug;error;
Keywords[sr@latin]=dnevnik;zapisnik;zapis;pročišćavanje;greška;log;dnevnik;zapisnik;zapis;pročišćavanje;greška;prociscavanje;greska;log;journal;debug;error;
Keywords[sv]=logg;journal;debug;avlusning;fel;felsökning;
Keywords[te]=చిట్టా;జర్నల్;దోషశోధన;దోషంచ;
Keywords[tg]=сабт;маҷалла;ислоҳи хато;хато;
Keywords[th]=ปูม;บันทึก;ดีบั๊ก;ข้อผิดพลาด;
Keywords[tr]=log;kayıt;journal;günlük;dergi;debug;hata ayıklama;error;hata;
Keywords[uk]=журнал;зневадження;помилки;
Keywords[vi]=log;nhật;ký;nhat;ky;journal;debug;gỡ;lỗi;go;loi;error;
Keywords[zh_CN]=log;journal;debug;error;日志;记录;调试;错误;
Keywords[zh_HK]=log;journal;debug;error;紀錄;日誌;除錯;錯誤;
Keywords[zh_TW]=log;journal;debug;error;紀錄;日誌;除錯;錯誤;
Keywords=log;journal;debug;error;
Type=Application
Categories=GTK;GNOME;System;Monitor;Utility;X-GNOME-Utilities;
Exec=gnome-logs
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=${SNAP}/meta/gui/org.gnome.Logs.svg
Terminal=false
StartupNotify=true
DBusActivatable=true
