[KCM Locale]
Name=Libya
Name[af]=Libië
Name[ar]=ليبيا
Name[as]=লাইবেৰিয়া
Name[ast]=Libia
Name[be]=Лівія
Name[be@latin]=Libija
Name[bg]=Либия
Name[bn]=লিবিয়া
Name[bn_IN]=লাইবেরিয়া
Name[br]=Julia
Name[bs]=Libija
Name[ca]=Líbia
Name[ca@valencia]=Líbia
Name[cs]=Libye
Name[csb]=Libijô
Name[cy]=Libia
Name[da]=Libyen
Name[de]=Libyen
Name[el]=Λιβύη
Name[en_GB]=Libya
Name[eo]=Libio
Name[es]=Libia
Name[et]=Liibüa
Name[eu]=Libia
Name[fa]=لیبی
Name[fi]=Libya
Name[fr]=Libye
Name[fy]=Libië
Name[ga]=An Libia
Name[gd]=Libia
Name[gl]=Libia
Name[gu]=લિબિયા
Name[he]=לוב
Name[hi]=लीबिया
Name[hne]=लीबिया
Name[hr]=Libija
Name[hsb]=Libyska
Name[hu]=Líbia
Name[ia]=Libya
Name[id]=Libya
Name[is]=Líbía
Name[it]=Libia
Name[ka]=ლიბია
Name[kk]=Ливия
Name[km]=លីប៊ី
Name[kn]=ಲಿಬಿಯಾ
Name[ko]=리비아
Name[ku]=Lîbiya
Name[lt]=Libija
Name[lv]=Lībija
Name[mai]=लीबिया
Name[mk]=Либија
Name[ml]=ലിബിയ
Name[mr]=लीबिया
Name[ms]=Libya
Name[nb]=Libya
Name[nds]=Libyen
Name[ne]=लिब्या
Name[nl]=Libië
Name[nn]=Libya
Name[or]=ଲିବ୍ୟା
Name[pa]=ਲੀਬੀਆ
Name[pl]=Libia
Name[pt]=Líbia
Name[pt_BR]=Líbia
Name[ro]=Libia
Name[ru]=Ливия
Name[se]=Libya
Name[si]=Libya
Name[sk]=Líbya
Name[sl]=Libija
Name[sr]=Либија
Name[sr@ijekavian]=Либија
Name[sr@ijekavianlatin]=Libija
Name[sr@latin]=Libija
Name[sv]=Libyen
Name[ta]=லிபியா
Name[te]=లిబియా
Name[tg]=Либия
Name[th]=ลิเบีย
Name[tr]=Libya
Name[ug]=لىۋىيە
Name[uk]=Лівія
Name[uz]=Libiya
Name[uz@cyrillic]=Либия
Name[vi]=Li-bi
Name[wa]=Libeye
Name[xh]=Libya
Name[x-test]=xxLibyaxx
Name[zh_CN]=利比亚
Name[zh_TW]=利比亞
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
WorkingWeekStartDay=7
WorkingWeekEndDay=4
WeekDayOfPray=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=LYD
CurrencyCode=LYD
