[KCM Locale]
Name=Puerto Rico
Name[af]=Puerto Rico
Name[ar]=بورتوريكو
Name[as]=পুয়েৰ্তো ৰিকো
Name[ast]=Puertu Ricu
Name[be]=Пуэрта Рыка
Name[be@latin]=Puerta Ryka
Name[bg]=Порто Рико
Name[bn]=পুয়ের্তো রিকো
Name[bn_IN]=পুয়ের্তো রিকো
Name[br]=Porto Rico
Name[bs]=Portoriko
Name[ca]=Puerto Rico
Name[ca@valencia]=Puerto Rico
Name[cs]=Portoriko
Name[csb]=Puerto Rico
Name[cy]=Pwerto Rico
Name[da]=Puerto Rico
Name[de]=Puerto Rico
Name[el]=Πουέρτο Ρίκο
Name[en_GB]=Puerto Rico
Name[eo]=Puerto-Riko
Name[es]=Puerto Rico
Name[et]=Puerto Rico
Name[eu]=Puerto Rico
Name[fa]=پورتوریکو
Name[fi]=Puerto Rico
Name[fr]=Porto-Rico
Name[fy]=Puerto Rico
Name[ga]=Portó Ríce
Name[gd]=Porto Rìceo
Name[gl]=Porto Rico
Name[gu]=પુએર્ટો રીકો
Name[he]=פורטו ריקו
Name[hi]=प्यूर्टो रिको
Name[hne]=प्यूर्टो रिको
Name[hr]=Portoriko
Name[hsb]=Puerto Rico
Name[hu]=Puerto Rico
Name[ia]=Porto Rico
Name[id]=Puerto Rico
Name[is]=Púertó Ríkó
Name[it]=Porto Rico
Name[ka]=პუერტო რიკო
Name[kk]=Пуэрто-Рико
Name[km]=ព័រតូរីកូ
Name[kn]=ಪೋರ್ಟೋ ರಿಕೊ
Name[ko]=푸에르토리코
Name[ku]=Porto Rîko
Name[lt]=Puerto Rikas
Name[lv]=Puertoriko
Name[mai]=प्यूरिटो रिको
Name[mk]=Порто Рико
Name[ml]=പ്യൂര്‍ട്ടോ റിക്കോ
Name[mr]=प्यूरिटो रिको
Name[ms]=Puerto Rico
Name[nb]=Puerto Rico
Name[nds]=Puerto Rico
Name[ne]=पुर्टोरिका
Name[nl]=Puerto Rico
Name[nn]=Puerto Rico
Name[or]=ପୁଏର୍ତ୍ତୋ ରିକୋ
Name[pa]=ਰੂਇਰਟੂ ਰੀਕੋ
Name[pl]=Puerto Rico
Name[pt]=Porto Rico
Name[pt_BR]=Porto Rico
Name[ro]=Puerto Rico
Name[ru]=Пуэрто-Рико
Name[se]=Puerto Rico
Name[si]=පුවටෝ රිකෝ
Name[sk]=Portoriko
Name[sl]=Portoriko
Name[sr]=Порторико
Name[sr@ijekavian]=Порторико
Name[sr@ijekavianlatin]=Portoriko
Name[sr@latin]=Portoriko
Name[sv]=Puerto Rico
Name[ta]=ப்யுர்டோ ரிகோ
Name[te]=ప్యుర్టో రికొ
Name[tg]=Пуэрто Рико
Name[th]=เปอร์โตริโก
Name[tr]=Porta Riko
Name[ug]=پۇئېرتو-رىكو
Name[uk]=Пуерто-Рико
Name[uz]=Puerto-Riko
Name[uz@cyrillic]=Пуэрто-Рико
Name[vi]=Puerto Rico
Name[wa]=Porto Rico
Name[x-test]=xxPuerto Ricoxx
Name[zh_CN]=波多黎各
Name[zh_TW]=波多黎各
Region=caribbean
Languages=es,en_GB
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=0
DateFormat[es]=%A %e de %B de %Y
DateFormatShort=%m/%d/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=1
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
