/* gnome-terminal */

/* vte use hardcoded colors as upstream, ubuntu is patched */
vte-terminal {
    -TerminalScreen-background-darkness: 0.95;
    background-color: @notebook_bg_color;
    color: @dark_fg_color;
}
