/* nemo */

.sidebar > NemoPlacesSidebar,
.sidebar > NemoPlacesSidebar > .frame > GtkBox.vertical .view.places-treeview,
.sidebar > FMTreeView.frame .view {
    background-color: shade (@bg_color, 0.98);
}

/***********
 * Lightdm *
 ***********/

.lightdm-gtk-greeter,
#login_window.background,
#login_window.background.lightdm-gtk-greeter {
    border-radius: 5px;
    background-color: @theme_bg_color;
}

.lightdm-gtk-greeter,
.lightdm-gtk-greeter box.vertical,
#login_window.background.lightdm-gtk-greeter,
#login_window.background.lightdm-gtk-greeter box.vertical {
	border-radius: 5px;
    border-style: none;
    border-width: 0px;
    background-color: @theme_bg_color;
}

.lightdm-gtk-greeter frame,
#login_window.background.lightdm-gtk-greeter frame {
	border-style: none;
}

.lightdm-gtk-greeter entry,
.lightdm-gtk-greeter button.combo,
.lightdm-gtk-greeter button.text-button,
.lightdm-gtk-greeter button.text-button.default,
#login_window.background.lightdm-gtk-greeter #prompt_entry,
#login_window.background.lightdm-gtk-greeter button.combo,
#login_window.background.lightdm-gtk-greeter button.text-button,
#login_window.background.lightdm-gtk-greeter button.text-button.default {
	padding: 8px 4px;
}

/* the weird panel */
.lightdm-gtk-greeter separator {
    border-style: none;
    border-width: 0px;
    color: @theme_fg_color;
}

/************
 * Ubiquity *
 ************/

#live_installer.background #wizard #page_mode,
#live_installer.background #wizard #page_mode #page_section #steps {
    background-color: @theme_bg_color;
}

#live_installer.background #wizard #progress_eventbox #progress_section #progress_mode {
    background-color: @dark_bg_color;
}