[KCM Locale]
Name=Turkmenistan
Name[ar]=توركمنستان
Name[ast]=Turkmenistán
Name[bs]=Turkmenistan
Name[ca]=Turkmenistan
Name[ca@valencia]=Turkmenistan
Name[cs]=Turkmenistán
Name[da]=Turkmenistan
Name[de]=Turkmenistan
Name[en_GB]=Turkmenistan
Name[es]=Turkmenistán
Name[et]=Türkmenistan
Name[eu]=Turkmenistan
Name[fa]=ترکمنستان
Name[fi]=Turkmenistan
Name[fr]=Turkmenistan
Name[gd]=Turcmanastàn
Name[gl]=Turcomenistán
Name[hr]=Turkmenistan
Name[hu]=Türkmenisztán
Name[ia]=Turkmenistan
Name[id]=Turkmenistan
Name[is]=Túrkmenistan
Name[it]=Turkmenistan
Name[ka]=თურქმენეთი
Name[ko]=투르크메니스탄
Name[lt]=Turkmėnistanas
Name[lv]=Turkmenistāna
Name[mr]=तुर्कमेनिस्तान
Name[nb]=Turkmenistan
Name[nds]=Turkmenistan
Name[nl]=Turkmenistan
Name[nn]=Turkmenistan
Name[pa]=ਤੁਰਕੇਮਸਤਾਨ
Name[pl]=Turkmenistan
Name[pt]=Turquemenistão
Name[pt_BR]=Turcomenistão
Name[ru]=Туркменистан
Name[se]=Turkmenistan
Name[sk]=Turkménsko
Name[sl]=Turkmenistan
Name[sr]=Туркменистан
Name[sr@ijekavian]=Туркменистан
Name[sr@ijekavianlatin]=Turkmenistan
Name[sr@latin]=Turkmenistan
Name[sv]=Turkmenistan
Name[tg]=Туркманистон
Name[tr]=Türkmenistan
Name[uk]=Туркменістан
Name[x-test]=xxTurkmenistanxx
Name[zh_CN]=土库曼斯坦
Name[zh_TW]=土庫曼
Region=centralasia
Languages=ru
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TMT
CurrencyCode=TMT
