[KCM Locale]
Author=Pedro Morais <morais@kde.org>
Name=Portugal
Name[ar]=البرتغال
Name[ast]=Portugal
Name[bs]=Portugal
Name[ca]=Portugal
Name[ca@valencia]=Portugal
Name[cs]=Portugalsko
Name[da]=Portugal
Name[de]=Portugal
Name[en_GB]=Portugal
Name[es]=Portugal
Name[et]=Portugal
Name[eu]=Portugal
Name[fa]=پرتغال
Name[fi]=Portugali
Name[fr]=Portugal
Name[gd]=A' Phortagail
Name[gl]=Portugal
Name[hr]=Portugal
Name[hu]=Portugália
Name[ia]=Portugal
Name[id]=Portugal
Name[is]=Portúgal
Name[it]=Portogallo
Name[ka]=პორტუგალია
Name[ko]=포르투갈
Name[lt]=Portugalija
Name[lv]=Portugāle
Name[mr]=पोर्तुगाल
Name[nb]=Portugal
Name[nds]=Portugal
Name[nl]=Portugal
Name[nn]=Portugal
Name[pa]=ਪੁਰਤਗਾਲ
Name[pl]=Portugalia
Name[pt]=Portugal
Name[pt_BR]=Portugal
Name[ru]=Португалия
Name[se]=Portugal
Name[sk]=Portugalsko
Name[sl]=Portugalska
Name[sr]=Португал
Name[sr@ijekavian]=Португал
Name[sr@ijekavianlatin]=Portugal
Name[sr@latin]=Portugal
Name[sv]=Portugal
Name[tg]=Португалия
Name[tr]=Portekiz
Name[uk]=Португалія
Name[x-test]=xxPortugalxx
Name[zh_CN]=葡萄牙
Name[zh_TW]=葡萄牙
Region=westeurope
Languages=pt
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
TimeFormat=%H:%M:%S
DateFormat[pt]=%A, %e de %B de %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
WeekStartDay=7
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
