[KCM Locale]
Name=Ghana
Name[af]=Ghana
Name[ar]=غانا
Name[as]=ঘানা
Name[ast]=Ghana
Name[be]=Гана
Name[be@latin]=Hana
Name[bg]=Гана
Name[bn]=ঘানা
Name[bn_IN]=ঘানা
Name[br]=Gwana
Name[bs]=Gana
Name[ca]=Ghana
Name[ca@valencia]=Ghana
Name[cs]=Ghana
Name[csb]=Ghana
Name[cy]=Ghana
Name[da]=Ghana
Name[de]=Ghana
Name[el]=Γκάνα
Name[en_GB]=Ghana
Name[eo]=Ganao
Name[es]=Ghana
Name[et]=Ghana
Name[eu]=Ghana
Name[fa]=غنا
Name[fi]=Ghana
Name[fr]=Ghana
Name[fy]=Ghana
Name[ga]=Gána
Name[gd]=Gàna
Name[gl]=Gana
Name[gu]=ઘાના
Name[he]=גאנה
Name[hi]=घाना
Name[hne]=घाना
Name[hr]=Gana
Name[hsb]=Ghana
Name[hu]=Ghána
Name[ia]=Ghana
Name[id]=Ghana
Name[is]=Gana
Name[it]=Ghana
Name[ka]=განა
Name[kk]=Гана
Name[km]=ហ្កាណា
Name[kn]=ಘಾನಾ
Name[ko]=가나
Name[ku]=Gana
Name[lt]=Gana
Name[lv]=Gana
Name[mai]=घाना
Name[mk]=Гана
Name[ml]=ഘാന
Name[mr]=घाना
Name[ms]=Ghana
Name[nb]=Ghana
Name[nds]=Ghana
Name[ne]=घाना
Name[nl]=Ghana
Name[nn]=Ghana
Name[oc]=Gana
Name[or]=ଘାନା
Name[pa]=ਘਾਨਾ
Name[pl]=Ghana
Name[pt]=Gana
Name[pt_BR]=Gana
Name[ro]=Gana
Name[ru]=Гана
Name[se]=Ghana
Name[si]=ඝානාව
Name[sk]=Ghana
Name[sl]=Gana
Name[sr]=Гана
Name[sr@ijekavian]=Гана
Name[sr@ijekavianlatin]=Gana
Name[sr@latin]=Gana
Name[sv]=Ghana
Name[ta]=கானா
Name[te]=ఘానా
Name[tg]=Гана
Name[th]=กานา
Name[tr]=Ghana
Name[ug]=گانا
Name[uk]=Гана
Name[uz]=Gana
Name[uz@cyrillic]=Гана
Name[vi]=Ghana
Name[wa]=Gana
Name[xh]=Ghana
Name[x-test]=xxGhanaxx
Name[zh_CN]=加纳
Name[zh_TW]=迦納
Region=westafrica
Languages=en_GB
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[en_GB]=%A, %e %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=GHS
CurrencyCode=GHS
