[Unit]
Description=Daemon to make IPP-over-USB printers available as network printers (%i)

[Service]
Type=forking
GuessMainPID=true
ExecStart=/usr/sbin/ippusbxd --bus-device %I --from-port 60000 --logging
# ExecStop= Not needed, ippusbxd stops by itself on shutdown of the printer
