[KCM Locale]
Name=Syria
Name[af]=Sirië
Name[ar]=سورية
Name[as]=চিৰিয়া
Name[ast]=Siria
Name[be]=Сірыя
Name[be@latin]=Syryja
Name[bg]=Сирия
Name[bn]=সিরিয়া
Name[bn_IN]=সিরিয়া
Name[br]=Siri
Name[bs]=Sirija
Name[ca]=Síria
Name[ca@valencia]=Síria
Name[cs]=Sýrie
Name[csb]=Syrëjô
Name[cy]=Syria
Name[da]=Syrien
Name[de]=Syrien
Name[el]=Συρία
Name[en_GB]=Syria
Name[eo]=Sirio
Name[es]=Siria
Name[et]=Süüria
Name[eu]=Siria
Name[fa]=سوریه
Name[fi]=Syyria
Name[fr]=Syrie
Name[fy]=Syrië
Name[ga]=An tSiria
Name[gd]=Siridhea
Name[gl]=Siria
Name[gu]=સિરિઆ
Name[he]=סוריה
Name[hi]=सीरिया
Name[hne]=सीरिया
Name[hr]=Sirija
Name[hsb]=Syriska
Name[hu]=Szíria
Name[ia]=Syria
Name[id]=Suriah
Name[is]=Sýrland
Name[it]=Siria
Name[ka]=სირია
Name[kk]=Сирия
Name[km]=ស៊ីរី
Name[kn]=ಸಿರಿಯಾ
Name[ko]=시리아
Name[ku]=Sûriye
Name[lt]=Sirija
Name[lv]=Sīrija
Name[mai]=सीरिया
Name[mk]=Сирија
Name[ml]=സിറിയ
Name[mr]=सीरीया
Name[ms]=Syria
Name[nb]=Syria
Name[nds]=Syrien
Name[ne]=साइरिया
Name[nl]=Syrië
Name[nn]=Syria
Name[or]=ସିରିଆ
Name[pa]=ਸੀਰੀਆ
Name[pl]=Syria
Name[pt]=Síria
Name[pt_BR]=Síria
Name[ro]=Siria
Name[ru]=Сирия
Name[se]=Syria
Name[si]=සිරියාව
Name[sk]=Sýria
Name[sl]=Sirija
Name[sr]=Сирија
Name[sr@ijekavian]=Сирија
Name[sr@ijekavianlatin]=Sirija
Name[sr@latin]=Sirija
Name[sv]=Syrien
Name[ta]=சிரியா
Name[te]=సిరియా
Name[tg]=Сурия
Name[th]=ซีเรีย
Name[tr]=Suriye
Name[ug]=سۈرىيە
Name[uk]=Сирія
Name[uz]=Suriya
Name[uz@cyrillic]=Сурия
Name[vi]=Syria
Name[wa]=Sireye
Name[xh]=Syria
Name[x-test]=xxSyriaxx
Name[zh_CN]=叙利亚
Name[zh_TW]=敘利亞
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SYP
CurrencyCode=SYP
