[KCM Locale]
Name=Turkey
Name[ar]=تركيّا
Name[ast]=Turquía
Name[bs]=Turska
Name[ca]=Turquia
Name[ca@valencia]=Turquia
Name[cs]=Turecko
Name[da]=Tyrkiet
Name[de]=Türkei
Name[en_GB]=Turkey
Name[es]=Turquía
Name[et]=Türgi
Name[eu]=Turkia
Name[fa]=ترکیه
Name[fi]=Turkki
Name[fr]=Turquie
Name[gd]=An Tuirc
Name[gl]=Turquía
Name[hr]=Turska
Name[hu]=Törökország
Name[ia]=Turchia
Name[id]=Turki
Name[is]=Tyrkland
Name[it]=Turchia
Name[ka]=თურქეთი
Name[ko]=터키
Name[lt]=Turkija
Name[lv]=Turcija
Name[mr]=तुर्कस्तान
Name[nb]=Tyrkia
Name[nds]=Törkei
Name[nl]=Turkije
Name[nn]=Tyrkia
Name[pa]=ਤੁਰਕੀ
Name[pl]=Turcja
Name[pt]=Turquia
Name[pt_BR]=Turquia
Name[ru]=Турция
Name[se]=Durka
Name[sk]=Turecko
Name[sl]=Turčija
Name[sr]=Турска
Name[sr@ijekavian]=Турска
Name[sr@ijekavianlatin]=Turska
Name[sr@latin]=Turska
Name[sv]=Turkiet
Name[tg]=Туркия
Name[tr]=Türkiye
Name[uk]=Туреччина
Name[x-test]=xxTurkeyxx
Name[zh_CN]=土耳其
Name[zh_TW]=土耳其
Region=southeurope
Languages=tr
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
NegativePrefixCurrencySymbol=false
PositivePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[tr]=%d %B %Y %A
DateFormat[eo]=%A,la %ea de %B %Y
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
WeekDayOfPray=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TRY
CurrencyCode=TRY
