[Unit]
Description=Process error reports when automatic reporting is enabled
ConditionPathExists=/var/lib/apport/autoreport
Wants=whoopsie.service
After=whoopsie.service

[Service]
Type=oneshot
ExecStart=/usr/share/apport/whoopsie-upload-all
