[Unit]
Description=Detect the available GPUs and deal with any system changes
Before=display-manager.service
Before=oem-config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/gpu-manager --log /var/log/gpu-manager.log

[Install]
WantedBy=display-manager.service
WantedBy=oem-config.service
