[Unit]
Description=Restore /etc/resolv.conf if the system crashed before the ppp link was shut down

[Service]
Type=oneshot
ExecStart=/etc/ppp/ip-down.d/0000usepeerdns

[Install]
WantedBy=multi-user.target

