[Unit]
Description=Stop ureadahead data collection
DefaultDependencies=false
After=default.target
Conflicts=shutdown.target
Before=shutdown.target
ConditionVirtualization=no

[Service]
Type=oneshot
ExecStart=/bin/systemctl --no-block stop ureadahead
