[KCM Locale]
Name=Indonesia
Name[ar]=إندونيسيا
Name[ast]=Indonesia
Name[bs]=Indonezija
Name[ca]=Indonèsia
Name[ca@valencia]=Indonèsia
Name[cs]=Indonésie
Name[da]=Indonesien
Name[de]=Indonesien
Name[en_GB]=Indonesia
Name[es]=Indonesia
Name[et]=Indoneesia
Name[eu]=Indonesia
Name[fa]=اندونزی
Name[fi]=Indonesia
Name[fr]=Indonésie
Name[gd]=Na h-Innd Innse
Name[gl]=Indonesia
Name[hr]=Indonezija
Name[hu]=Indonézia
Name[ia]=Indonesia
Name[id]=Indonesia
Name[is]=Indónesía
Name[it]=Indonesia
Name[ka]=ინდონეზია
Name[ko]=인도네시아
Name[lt]=Indonezija
Name[lv]=Indonēzija
Name[mr]=इंडोनेशिया
Name[nb]=Indonesia
Name[nds]=Indonesien
Name[nl]=Indonesië
Name[nn]=Indonesia
Name[pa]=ਇੰਡੋਨੇਸ਼ੀਆ
Name[pl]=Indonezja
Name[pt]=Indonésia
Name[pt_BR]=Indonésia
Name[ru]=Индонезия
Name[se]=Indonesia
Name[sk]=Indonézia
Name[sl]=Indonezija
Name[sr]=Индонезија
Name[sr@ijekavian]=Индонезија
Name[sr@ijekavianlatin]=Indonezija
Name[sr@latin]=Indonezija
Name[sv]=Indonesien
Name[tg]=Индонезия
Name[tr]=Endonezya
Name[uk]=Індонезія
Name[x-test]=xxIndonesiaxx
Name[zh_CN]=印度尼西亚
Name[zh_TW]=印尼
Region=southeastasia
Languages=id
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
NegativeMonetarySignPosition=1
DateFormat[id]=%A, %d %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%m/%Y
TimeFormat=%H:%M:%S
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=IDR
CurrencyCode=IDR
