[KCM Locale]
Name=Croatia
Name[ar]=كرواتيا
Name[ast]=Croacia
Name[bs]=Hrvatska
Name[ca]=Croàcia
Name[ca@valencia]=Croàcia
Name[cs]=Chorvatsko
Name[da]=Kroatien
Name[de]=Kroatien
Name[en_GB]=Croatia
Name[es]=Croacia
Name[et]=Horvaatia
Name[eu]=Kroazia
Name[fa]=کرواسی
Name[fi]=Kroatia
Name[fr]=Croatie
Name[gd]=A' Chròthais
Name[gl]=Croacia
Name[hr]=Hrvatska
Name[hu]=Horvátország
Name[ia]=Croatia
Name[id]=Kroasia
Name[is]=Króatía
Name[it]=Croazia
Name[ka]=ხორვატია
Name[ko]=크로아티아
Name[lt]=Kroatija
Name[lv]=Horvātija
Name[mr]=क्रोएशीया
Name[nb]=Kroatia
Name[nds]=Kroatien
Name[nl]=Kroatië
Name[nn]=Kroatia
Name[pa]=ਕਰੋਆਟਿਆ
Name[pl]=Chorwacja
Name[pt]=Croácia
Name[pt_BR]=Croácia
Name[ru]=Хорватия
Name[se]=Kroátia
Name[sk]=Chorvátsko
Name[sl]=Hrvaška
Name[sr]=Хрватска
Name[sr@ijekavian]=Хрватска
Name[sr@ijekavianlatin]=Hrvatska
Name[sr@latin]=Hrvatska
Name[sv]=Kroatien
Name[tg]=Хорватия
Name[tr]=Hırvatistan
Name[uk]=Хорватія
Name[x-test]=xxCroatiaxx
Name[zh_CN]=克罗地亚
Name[zh_TW]=克羅埃西亞
Region=southeurope
Languages=hr
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[hr]=%a %d %B %Y.
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y.
TimeFormat=%H:%M:%S
DateMonthNamePossessive=true
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=HRK
CurrencyCode=HRK
