[KCM Locale]
Name=Breton
Name[af]=Breton
Name[ar]=البرتونيّة
Name[as]=ব্ৰিট'ন
Name[ast]=Bretón
Name[be]=Брэтонская
Name[be@latin]=Bretonskaja
Name[bg]=Бретонски
Name[bn]=ব্রেটন
Name[bn_IN]=ব্রেটন
Name[br]=Brezhoneg
Name[bs]=bretonski
Name[ca]=Bretó
Name[ca@valencia]=Bretó
Name[cs]=Bretonský
Name[csb]=Bretońsczi
Name[cy]=Llydaweg
Name[da]=Bretonsk
Name[de]=Bretonisch
Name[el]=Βρετονικά
Name[en_GB]=Breton
Name[eo]=Bretona
Name[es]=Bretón
Name[et]=Bretooni
Name[eu]=Bretoiera
Name[fa]=برتونی
Name[fi]=Bretoni
Name[fr]=Breton
Name[fy]=Bretonsk
Name[ga]=Briotáinis
Name[gd]=Breatnais
Name[gl]=Bretón
Name[gu]=બ્રેટોન
Name[he]=ברטונית
Name[hi]=ब्रेटन
Name[hne]=ब्रेटन
Name[hr]=Bretonski
Name[hsb]=Bretonsce
Name[hu]=Breton
Name[ia]=Bretone 
Name[id]=Inggris
Name[is]=Bretónska
Name[it]=Bretone
Name[ja]=ブルトン語
Name[kk]=Бретонша
Name[km]=ប្រេតុង
Name[kn]=ಬ್ರೆಟನ್
Name[ko]=브르타뉴어
Name[ku]=Bretonî
Name[lb]=Bretonesch
Name[lt]=Bretonų
Name[lv]=Bretoņu
Name[mai]=ब्रेटन
Name[mk]=Бретонски
Name[ml]=ബ്രെട്ടോണ്‍
Name[mr]=ब्रेटन
Name[ms]=Breton
Name[nb]=Bretonsk
Name[nds]=Bretoonsch
Name[ne]=बेलायती
Name[nl]=Bretons
Name[nn]=Bretonsk
Name[oc]=Breton
Name[or]=ବ୍ରେଟନ
Name[pa]=ਬਾਰਟਨ
Name[pl]=Bretoński
Name[ps]=برېټون
Name[pt]=Bretão
Name[pt_BR]=Bretão
Name[ro]=Bretonă
Name[ru]=Бретонский
Name[se]=Bretonagiella
Name[si]=බ්‍රෙටන්
Name[sk]=Bretónčina
Name[sl]=Bretonščina
Name[sq]=Bretonisht
Name[sr]=бретонски
Name[sr@ijekavian]=бретонски
Name[sr@ijekavianlatin]=bretonski
Name[sr@latin]=bretonski
Name[sv]=Bretonska
Name[ta]=பிரிடான்
Name[te]=బ్రెటన్
Name[tg]=Бритонӣ
Name[th]=ภาษาเบร็ตตัน
Name[tr]=Britanya Dili
Name[tt]=Бретон
Name[ug]=بىرېتونچە
Name[uk]=Бретонська
Name[uz]=Bretoncha
Name[uz@cyrillic]=Бретонча
Name[vi]=Breton
Name[wa]=Burton
Name[xh]=Breton
Name[x-test]=xxBretonxx
Name[zh_CN]=布里多尼语
Name[zh_HK]=不列塔尼語
Name[zh_TW]=布里多尼語
