[Desktop Entry]
Name=Thunderbolt
Name[ca]=Thunderbolt
Name[ca@valencia]=Thunderbolt
Name[cs]=Thunderbolt
Name[da]=Thunderbolt
Name[de]=Thunderbolt
Name[en_GB]=Thunderbolt
Name[es]=Thunderbolt
Name[eu]=Thunderbolt
Name[fi]=Thunderbolt
Name[fr]=Thunderbolt
Name[gl]=Thunderbolt
Name[id]=Thunderbolt
Name[it]=Thunderbolt
Name[ko]=Thunderbolt
Name[lt]=Thunderbolt
Name[nl]=Thunderbolt
Name[nn]=Thunderbolt
Name[pl]=Thunderbolt
Name[pt]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[ru]=Thunderbolt
Name[sk]=Thunderbolt
Name[sv]=Thunderbolt
Name[uk]=Thunderbolt
Name[x-test]=xxThunderboltxx
Name[zh_CN]=Thunderbolt
Name[zh_TW]=Thunderbolt
Comment=Thunderbolt Device Management
Comment[ca]=Gestió del dispositiu Thunderbolt
Comment[ca@valencia]=Gestió del dispositiu Thunderbolt
Comment[cs]=Správa zařízení Thunderbolt
Comment[de]=Thunderbolt-Geräteverwaltung
Comment[en_GB]=Thunderbolt Device Management
Comment[es]=Gestión de dispositivos Thunderbolt
Comment[eu]=Thunderbolt gailu kudeaketa
Comment[fi]=Thunderbolt-laitehallinta
Comment[fr]=Gestionnaire de périphériques Thunderbolt
Comment[gl]=Xestión de dispositivos de Thunderbolt
Comment[id]=Pengelolaan Perangkat Thunderbolt
Comment[it]=Gestione dei dispositivi Thunderbolt
Comment[ko]=Thunderbolt 장치 관리
Comment[lt]=Thunderbolt įrenginių tvarkymas
Comment[nl]=Thunderbolt apparaatbeheer
Comment[nn]=Handsaming av Thunderbolt-einingar
Comment[pl]=Zarządzanie urządzeniem Thunderbolt
Comment[pt]=Gestão de Dispositivos Thunderbolt
Comment[pt_BR]=Gerenciamento de dispositivos Thunderbolt
Comment[ru]=Управление устройствами Thunderbolt
Comment[sk]=Správa zariadenia Thunderbolt
Comment[sv]=Thunderbolt enhetshantering
Comment[uk]=Керування пристроями Thunderbolt
Comment[x-test]=xxThunderbolt Device Managementxx
Comment[zh_CN]=Thunderbolt 设备管理
Comment[zh_TW]=Thunderbolt 裝置管理
Icon=preferences-desktop-thunderbolt
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_bolt
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
