[KCM Locale]
Name=Tamil
Name[af]=Tamiliese
Name[ar]=التّاميليّة
Name[as]=তামিল
Name[ast]=Tamil
Name[be]=Тамільская
Name[be@latin]=Tamilskaja
Name[bg]=Тамилски
Name[bn]=তামিল
Name[bn_IN]=তামিল
Name[br]=Tamouleg
Name[bs]=tamilski
Name[ca]=Tàmil
Name[ca@valencia]=Tàmil
Name[cs]=Tamilsky
Name[csb]=Tamilsczi
Name[cy]=Tamil
Name[da]=Tamil
Name[de]=Tamil
Name[el]=Ταμίλ
Name[en_GB]=Tamil
Name[eo]=Tamila
Name[es]=Tamil
Name[et]=Tamili
Name[eu]=Tamilera
Name[fa]=تامیلی
Name[fi]=Tamil
Name[fr]=Tamoul
Name[fy]=Tamil
Name[ga]=Tamailis
Name[gd]=Taimilis
Name[gl]=Tamil
Name[gu]=તમિલ
Name[he]=טמילית
Name[hi]=तमिल
Name[hne]=तमिल
Name[hr]=Tamilski
Name[hsb]=Tamilsce
Name[hu]=Tamil
Name[ia]=Tamil
Name[id]=Tamil
Name[is]=Tamílska
Name[it]=Tamil
Name[ja]=タミル語
Name[kk]=Тамилша
Name[km]=តាមីល
Name[kn]=ತಮಿಳು
Name[ko]=타밀어
Name[ku]=Tamîl
Name[lb]=Tamil
Name[lt]=Tamilų
Name[lv]=Tamilu
Name[mai]=तमिल
Name[mk]=Тамилски
Name[ml]=തമിഴ്
Name[mr]=तामिळ
Name[ms]=Tamil
Name[nb]=Tamil
Name[nds]=Tamielsch
Name[ne]=तामिल
Name[nl]=Tamil
Name[nn]=Tamil
Name[oc]=Tamil
Name[or]=ତାମିଲ
Name[pa]=ਤਾਮਿਲ
Name[pl]=Tamiljski
Name[ps]=ټامېل
Name[pt]=Tamil
Name[pt_BR]=Tâmil
Name[ro]=Tamilă
Name[ru]=Тамильский
Name[se]=Tamilagiella
Name[si]=දෙමළ
Name[sk]=Tamilčina
Name[sl]=Tamilščina
Name[sq]=Tamilisht
Name[sr]=тамилски
Name[sr@ijekavian]=тамилски
Name[sr@ijekavianlatin]=tamilski
Name[sr@latin]=tamilski
Name[sv]=Tamil
Name[ta]=தமிழ்
Name[te]=తమిళం
Name[tg]=Тамилӣ
Name[th]=ภาษาทมิฬ
Name[tr]=Tamil Dili
Name[tt]=Тамиль
Name[ug]=تامىلچە
Name[uk]=Тамільська
Name[uz]=Tamilcha
Name[uz@cyrillic]=Тамилча
Name[vi]=Tamil
Name[wa]=Tamoul
Name[xh]=Tamil
Name[x-test]=xxTamilxx
Name[zh_CN]=泰米尔语
Name[zh_HK]=坦米爾語
Name[zh_TW]=泰米爾語
