[KCM Locale]
Name=Djibouti
Name[af]=Djibouti
Name[ar]=جيبوتي
Name[as]=জিবুতি
Name[ast]=Xibuti
Name[be]=Джыбуці
Name[be@latin]=Djibouti
Name[bg]=Джибути
Name[bn]=জিবৌতি
Name[bn_IN]=জিবুতি
Name[bs]=Džibuti
Name[ca]=Djibouti
Name[ca@valencia]=Djibouti
Name[cs]=Džibutsko
Name[csb]=Dżibuti
Name[cy]=Jib?ti
Name[da]=Djibouti
Name[de]=Dschibuti
Name[el]=Τζιμπουτί
Name[en_GB]=Djibouti
Name[eo]=Ĝibutio
Name[es]=Yibuti
Name[et]=Djibouti
Name[eu]=Djibuti
Name[fa]=جیبوتی
Name[fi]=Djibouti
Name[fr]=Djibouti
Name[fy]=Djibouti
Name[ga]=Djibouti
Name[gd]=Diobùtaidh
Name[gl]=Xibutí
Name[gu]=જીબુટિ
Name[he]=ג'יבוטי
Name[hi]=डिबौती
Name[hne]=डिबौती
Name[hr]=Džibuti
Name[hsb]=Dźibuti
Name[hu]=Dzsibuti
Name[ia]=Djibouti
Name[id]=Djibouti
Name[is]=Djíbútí
Name[it]=Gibuti
Name[ka]=ჯიბუტი
Name[kk]=Джибути
Name[km]=ហ្ស៊ីបូទី
Name[kn]=ಜಿಬೌಟಿ
Name[ko]=지부티
Name[ku]=Cîbutî
Name[lt]=Džibutis
Name[lv]=Džibutija
Name[mai]=दिबाती
Name[mk]=Џибути
Name[ml]=ജിബൂട്ടി
Name[mr]=डिज्बूयटी
Name[ms]=Djibouti
Name[nb]=Djibouti
Name[nds]=Dschibuti
Name[ne]=डिज्बोटी
Name[nl]=Djibouti
Name[nn]=Djibouti
Name[oc]=Jiboti
Name[or]=ଜିବୌତି
Name[pa]=ਡਜੀਬੁਉਟੀ
Name[pl]=Dżibuti
Name[pt]=Djibouti
Name[pt_BR]=Djibuti
Name[ro]=Djibuti
Name[ru]=Джибути
Name[se]=Djibuhti
Name[si]=Djibouti
Name[sk]=Džibutsko
Name[sl]=Džibuti
Name[sr]=Џибути
Name[sr@ijekavian]=Џибути
Name[sr@ijekavianlatin]=Džibuti
Name[sr@latin]=Džibuti
Name[sv]=Djibouti
Name[ta]=டிஜிபொடி
Name[te]=జిబౌటి
Name[tg]=Ҷибути
Name[th]=จิบูติ
Name[tr]=Cibuti
Name[ug]=جىبۇتى
Name[uk]=Джибуті
Name[uz]=Jibuti
Name[uz@cyrillic]=Жибути
Name[vi]=Gi-bu-ti
Name[wa]=Djibouti
Name[x-test]=xxDjiboutixx
Name[zh_CN]=吉布提
Name[zh_TW]=吉布地
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
WorkingWeekStartDay=6
WorkingWeekEndDay=4
WeekDayOfPray=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=DJF
CurrencyCode=DJF
