[KCM Locale]
Name=Azerbaijan
Name[ar]=أذربيجان
Name[ast]=Azerbaixán
Name[bs]=Azerbejdžan
Name[ca]=Azerbaidjan
Name[ca@valencia]=Azerbaidjan
Name[cs]=Ázerbájdžán
Name[da]=Azerbajdjan
Name[de]=Aserbaidschan
Name[en_GB]=Azerbaijan
Name[es]=Azerbaiyán
Name[et]=Aserbaidžaan
Name[eu]=Azerbaijan
Name[fa]=آذربایجان
Name[fi]=Azerbaidžan
Name[fr]=Azerbaïdjan
Name[gd]=Asarbaideàn
Name[gl]=Acerbaixán
Name[hr]=Azerbejdžan
Name[hu]=Azerbajdzsán
Name[ia]=Azerbaijan
Name[id]=Azerbaijan
Name[is]=Aserbaídsjan
Name[it]=Azerbaijan
Name[ka]=აზერბაიჯანი
Name[ko]=아제르바이잔
Name[lt]=Azerbaidžanas
Name[lv]=Azerbaidžāna
Name[mr]=अजरबेजान
Name[nb]=Aserbajdsjan
Name[nds]=Aserbaidschan
Name[nl]=Azerbeidzjan
Name[nn]=Aserbajdsjan
Name[pa]=ਅਜ਼ਰਬਾਈਜਾਨ
Name[pl]=Azerbejdżan
Name[pt]=Azerbaijão
Name[pt_BR]=Azerbaijão
Name[ru]=Азербайджан
Name[se]=Aserbaižan
Name[sk]=Azerbajdžan
Name[sl]=Azerbajdžan
Name[sr]=Азербејџан
Name[sr@ijekavian]=Азербејџан
Name[sr@ijekavianlatin]=Azerbejdžan
Name[sr@latin]=Azerbejdžan
Name[sv]=Azerbaijan
Name[tg]=Озарбойҷон
Name[tr]=Azerbaycan
Name[uk]=Азербайджан
Name[x-test]=xxAzerbaijanxx
Name[zh_CN]=阿塞拜疆
Name[zh_TW]=亞塞拜然

Region=middleeast
Languages=az
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[az]=%A %d %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AZN
CurrencyCode=AZN
