[KCM Locale]
Name=Sierra Leone
Name[ar]=سيراليون
Name[as]=ছিয়াৰা লিয়োনে
Name[ast]=Sierra Lleona
Name[be@latin]=Sierra Leone
Name[bg]=Сиера Леоне
Name[bn]=সিয়েরা লিয়োন
Name[bs]=Sijera Leone
Name[ca]=Sierra Leone
Name[ca@valencia]=Sierra Leone
Name[cs]=Sierra Leone
Name[csb]=Sierra Leone
Name[da]=Sierra Leone
Name[de]=Sierra Leone
Name[el]=Σιέρα Λεόνε
Name[en_GB]=Sierra Leone
Name[eo]=Siera-Leono
Name[es]=Sierra Leona
Name[et]=Sierra Leone
Name[eu]=Sierra Leona
Name[fa]=سیرا لئون
Name[fi]=Sierra Leone
Name[fr]=Sierra Leone
Name[fy]=Sierra Leone
Name[ga]=Siarra Leon
Name[gd]=Siarra Leòmhann
Name[gl]=Serra Leoa
Name[gu]=સિએરા લિઓન
Name[he]=סיירה לאון
Name[hi]=सिएरा लिओन
Name[hne]=सिएरा लिओन
Name[hr]=Sierra Leone
Name[hsb]=Sierra Leone
Name[hu]=Sierra Leone
Name[ia]=Sierra Leone
Name[id]=Sierra Leone
Name[is]=Síerra Leóne
Name[it]=Sierra Leone
Name[kk]=Съера-Леоне
Name[km]=សេរ៉ាឡេអូន
Name[kn]=ಸಿಯೆರಾ ಲಿಯೋನ್
Name[ko]=시에라리온
Name[ku]=Sîera Leone
Name[lt]=Siera Leonė
Name[lv]=Sjerra Leone
Name[mai]=सियरा लियोन
Name[mk]=Сиера Леоне
Name[ml]=സിയേറ ലിയോണ്‍
Name[mr]=सीयारा लिओन
Name[nb]=Sierra Leone
Name[nds]=Sierra Leone
Name[nl]=Sierra Leone
Name[nn]=Sierra Leone
Name[or]=ସିଏରା ଲିଓନ
Name[pa]=ਸਿਆਰਾ ਲਿਓਨ
Name[pl]=Sierra Leone
Name[pt]=Serra Leoa
Name[pt_BR]=Serra Leoa
Name[ro]=Sierra Leone
Name[ru]=Сьерра-Леоне
Name[si]=සියෙරා ලියෝන්
Name[sk]=Sierra Leone
Name[sl]=Sierra Leone
Name[sr]=Сијера Леоне
Name[sr@ijekavian]=Сијера Леоне
Name[sr@ijekavianlatin]=Sijera Leone
Name[sr@latin]=Sijera Leone
Name[sv]=Sierra Leone
Name[ta]=Sierra Leone
Name[te]=సైరా లియాన్
Name[tg]=Сиерра Леоне
Name[th]=เซียร์ราลีโอน
Name[tr]=Sierra Leone
Name[ug]=سېررالېئون
Name[uk]=Сьєрра-Леоне
Name[vi]=Sierra Leone
Name[wa]=Siera Leyone
Name[x-test]=xxSierra Leonexx
Name[zh_CN]=塞拉利昂
Name[zh_TW]=Sierra Leone（獅子山）
Region=westafrica
Languages=en_GB,en
NegativeMonetarySignPosition=1
DateFormat[en_GB]=%A %d %b %Y
DateFormat[en]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
PageSize=0
WeekStartDay=7
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SLL
CurrencyCode=SLL
