[KCM Locale]
Author=Danko Ilik <danko@mindless.com>
Name=Macedonia
Name[ar]=مقدونيا
Name[ast]=Macedonia del Norte
Name[bs]=Makedonija
Name[ca]=Macedònia
Name[ca@valencia]=Macedònia
Name[cs]=Makedonie
Name[da]=Makedonien
Name[de]=Mazedonien
Name[en_GB]=Macedonia
Name[es]=Macedonia
Name[et]=Makedoonia
Name[eu]=Mazedonia
Name[fa]=مقدونیه
Name[fi]=Makedonia
Name[fr]=Macédoine
Name[gd]=A' Mhasadon
Name[gl]=Macedonia
Name[hr]=Makedonija
Name[hu]=Macedónia
Name[ia]=Macedonia
Name[id]=Macedonia
Name[is]=Makedónía
Name[it]=Macedonia
Name[ka]=მაკედონია
Name[ko]=마케도니아
Name[lt]=Makedonija
Name[lv]=Maķedonija
Name[mr]=मेसीडोनिया
Name[nb]=Makedonia
Name[nds]=Makedonien
Name[nl]=Macedonië
Name[nn]=Makedonia
Name[pa]=ਮੈਕਡੋਨੀਆ
Name[pl]=Macedonia
Name[pt]=Macedónia
Name[pt_BR]=Macedônia
Name[ru]=Македония
Name[se]=Makedonia
Name[sk]=Macedónsko
Name[sl]=Makedonija
Name[sr]=Македонија
Name[sr@ijekavian]=Македонија
Name[sr@ijekavianlatin]=Makedonija
Name[sr@latin]=Makedonija
Name[sv]=Makedonien
Name[tg]=Македония
Name[tr]=Makedonya
Name[uk]=Македонія
Name[x-test]=xxMacedoniaxx
Name[zh_CN]=马其顿
Name[zh_TW]=馬其頓
Languages=mk
Region=southeurope
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[mk]=%A %e. %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MKD
CurrencyCode=MKD
