[KCM Locale]
Name=Cote d'ivoire
Name[af]=Cote d'ivoire
Name[ar]=ساحل العاج
Name[as]=আইভৰি কোস্ট
Name[ast]=Costa de Marfil
Name[be]=Кот Д'івуар
Name[be@latin]=Cote d'ivoire
Name[bg]=Кот Дивоар
Name[bn]=Cote d'ivoire
Name[bn_IN]=আইভরি কোস্ট
Name[br]=Aod an Olifant
Name[bs]=Obala slonovače
Name[ca]=Costa d'Ivori
Name[ca@valencia]=Costa d'Ivori
Name[cs]=Pobřeží slonoviny
Name[csb]=Ùbrzég Słoniowegò Gnôta
Name[cy]=Y Traeth Ifori
Name[da]=Elfenbenskysten
Name[de]=Cote d'ivoire
Name[el]=Ακτή Ελεφαντοστού
Name[en_GB]=Cote d'ivoire
Name[eo]=Eburio
Name[es]=Costa de Marfil
Name[et]=Elevandiluurannik
Name[eu]=Boli Kosta
Name[fa]=ساحل عاج
Name[fi]=Norsunluurannikko
Name[fr]=Côte d'Ivoire
Name[fy]=Ivoorkust
Name[ga]=An Cósta Eabhair
Name[gd]=Côte d'Ivoire
Name[gl]=Costa do Marfil
Name[gu]=કોટે ડિઆઇવરી
Name[he]=חוף השנהב
Name[hi]=कोट डि'वॉरे
Name[hne]=कोट डि'वारे
Name[hr]=Obala bjelokosti
Name[hsb]=Słonowinowy pobrjóh
Name[hu]=Elefántcsontpart
Name[ia]=Costa de Ebore
Name[id]=Pantai Gading
Name[is]=Fílabeinsströndin
Name[it]=Costa d'Avorio
Name[ka]=კოტ დიუვარი
Name[kk]=Кот д'Ивуар
Name[km]=កូដឌីវ័រ
Name[kn]=ಕೊಟೆ ಡಿ ಲ್ವೊಯರ್
Name[ko]=코트디부아르
Name[ku]=Perava Diranfîlê
Name[lt]=Cote d'ivoire
Name[lv]=Kotdivuāra
Name[mai]=कोट डि'वारे
Name[mk]=Брегот на Слоновата Коска
Name[ml]=കോട്ടേ ഡെവോയി
Name[mr]=कोट डि'वॉरे
Name[ms]=Cote d'ivoire
Name[nb]=Elfenbenskysten
Name[nds]=Elfenbeenküst
Name[ne]=आईभरी डी कोट
Name[nl]=Ivoorkust
Name[nn]=Elfenbeinskysten
Name[or]=Cote d'ivoire
Name[pa]=ਕਾਂਟੋ ਡੀਵੋਇਰੀ
Name[pl]=Wybrzeże Kości Słoniowej
Name[pt]=Costa do Marfim
Name[pt_BR]=Costa do Marfim
Name[ro]=Coasta de Azur
Name[ru]=Кот Д'Ивуар
Name[se]=Elfenčalánriddu
Name[si]=Cote d'ivoire
Name[sk]=Pobrežie Slonoviny
Name[sl]=Slonokoščena obala
Name[sr]=Обала слоноваче
Name[sr@ijekavian]=Обала слоноваче
Name[sr@ijekavianlatin]=Obala slonovače
Name[sr@latin]=Obala slonovače
Name[sv]=Elfenbenskusten
Name[ta]=Cote d'ivoire
Name[te]=కొటె దైవొయిర్
Name[tg]=Кот д'Ивуар
Name[th]=อ่าวไอวอรี
Name[tr]=Cote d'ivoire
Name[ug]=كوتېدىۋويرې
Name[uk]=Кот-д'Івуар
Name[uz]=Kot d'Ivuar
Name[uz@cyrillic]=Кот д'Ивуар
Name[vi]=Bờ Biển Ngà
Name[wa]=Coisse d' Ivwere
Name[x-test]=xxCote d'ivoirexx
Name[zh_CN]=科特迪瓦
Name[zh_TW]=象牙海岸
Region=westafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XOF
CurrencyCode=XOF
