[KCM Locale]
Name=Åland Islands
Name[af]=Åland Eilande
Name[ar]=جزر أولاند
Name[as]=এলেন্ড দ্বীপপুঞ্জ
Name[ast]=Islles Aland
Name[be]=Аландавыя астравы
Name[be@latin]=Vyspy Åland
Name[bg]=Острови Аланд
Name[bn]=Åland Islands
Name[bn_IN]=অ্যাল্যান্ড দ্বীপপুঞ্জ
Name[bs]=Alandska ostrva
Name[ca]=Illes Aland
Name[ca@valencia]=Illes Aland
Name[cs]=Ålandské ostrovy
Name[csb]=Òstrowë Åland
Name[da]=Åland-øerne
Name[de]=Aland
Name[el]=Νησιά Åland
Name[en_GB]=Åland Islands
Name[eo]=Alando
Name[es]=Islas Aland
Name[et]=Ahvenamaa
Name[eu]=Aland uharteak
Name[fa]=جزایر آلاند
Name[fi]=Ahvenanmaan saaret
Name[fr]=Îles Åland
Name[fy]=Åland-eilannen
Name[ga]=Oileáin Åland
Name[gd]=Na h-Eileanan Åland
Name[gl]=Illas Aland
Name[gu]=અલેન્ડ ટાપુઓ
Name[he]=איי אולנד
Name[hi]=आलैंड आइलैंड
Name[hne]=आलैंड आइलैंड
Name[hr]=Otoci Åland
Name[hsb]=Ålandske kupy
Name[hu]=Åland-szigetek
Name[ia]=Insulas Åland, le
Name[id]=Kepulauan Åland
Name[is]=Álandseyjar
Name[it]=Isole Åland
Name[ka]=ალანდის კუნძულები
Name[kk]=Аланд ар-ы
Name[km]=កោះ​អាឡាំង
Name[kn]=ಆಲಾಂಡ್ ದ್ವೀಪಗಳು
Name[ko]=올란드 제도
Name[ku]=Giravên Åland
Name[lt]=Åland salos
Name[lv]=Ālandu salas
Name[mai]=आलैंड आइलैंड
Name[mk]=Острови Оланд
Name[ml]=ലണ്ട് ദ്വീപുകള്‍
Name[mr]=आलँड द्वीप
Name[nb]=Åland-øyene
Name[nds]=Åland-Eilannen
Name[ne]=Åland द्विप
Name[nl]=Åland-eilanden
Name[nn]=Åland-øyene
Name[oc]=Irlanda
Name[or]=ଆଲାଣ୍ଡ ଆଇଲ୍ୟାଣ୍ଡ
Name[pa]=ਅਮਾਨ ਟਾਪੂ
Name[pl]=Wyspy Åland
Name[pt]=Ilhas Åland
Name[pt_BR]=Ilhas Åland
Name[ro]=Insulele Åland
Name[ru]=Аландские острова
Name[se]=Åland sullot
Name[si]=ආලන්ඩ් දිවයින
Name[sk]=Ålandy
Name[sl]=Ålandsko otočje
Name[sr]=Аландска острва
Name[sr@ijekavian]=Аландска острва
Name[sr@ijekavianlatin]=Alandska ostrva
Name[sr@latin]=Alandska ostrva
Name[sv]=Åland
Name[ta]=Åland Islands
Name[te]=ఆలండ్ ద్విపాలు
Name[tg]=Ҷазираҳои Аланд
Name[th]=หมู่เกาะอาลันด์
Name[tr]=Cayman Adaları
Name[ug]=ئالاند تاقىم ئاراللىرى
Name[uk]=Аландські острови
Name[uz]=Aland Orollari
Name[uz@cyrillic]=Аланд Ороллари
Name[vi]=Quần đảo Åland
Name[wa]=Iyes Ålande
Name[x-test]=xxÅland Islandsxx
Name[zh_CN]=阿兰群岛
Name[zh_TW]=奧蘭群島
Region=northeurope
Languages=sv,se
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sv]=%Aen den %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormat[se]=%A, %B %e. b. %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H.%M.%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(PB %p\n)%0(%s\n)%z%w%L
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
