[KCM Locale]
Name=Trinidad and Tobago
Name[af]=Trinidad en Tobago
Name[ar]=ترينيداد و توباغو
Name[as]=ত্ৰিনিদাদ আৰু টোবাগো
Name[ast]=Trinidá y Tobagu
Name[be]=Трынідад і Табага
Name[be@latin]=Trynidad i Tabaha
Name[bg]=Тринидад и Тобаго
Name[bn]=ত্রিনিদাদ এবং টোবাগো
Name[bn_IN]=ত্রিনিদাদ ও টোবাগো
Name[bs]=Trinidad i Tobago
Name[ca]=Trinitat i Tobago
Name[ca@valencia]=Trinitat i Tobago
Name[cs]=Trinidad a Tobago
Name[csb]=Trinidad ë Tobagò
Name[cy]=Ynysoedd Trinidad a Thobago
Name[da]=Trinidad og Tobago
Name[de]=Trinidad und Tobago
Name[el]=Τρινιντάντ και Τομπάγκο
Name[en_GB]=Trinidad and Tobago
Name[eo]=Trinidado kaj Tobago
Name[es]=Trinidad y Tobago
Name[et]=Trinidad ja Tobago
Name[eu]=Trinidad eta Tobago
Name[fa]=ترینیداد و توباگو
Name[fi]=Trinidad ja Tobago
Name[fr]=Trinité-et-Tobago
Name[fy]=Trinidad en Tobago
Name[ga]=Oileán na Tríonóide agus Tobága
Name[gd]=Trianaid agus Tobago
Name[gl]=Trindade e Tobago
Name[gu]=ટ્રીનિડાડ અને ટોબેગો
Name[he]=טרינידד וטובגו
Name[hi]=ट्रिनिडाड और टोबैगो
Name[hne]=ट्रिनिडाड अउ टोबैगो
Name[hr]=Trinidad i Tobago
Name[hsb]=Trinidad a Tobago
Name[hu]=Trinidad és Tobago
Name[ia]=Trinidad e Tobago
Name[id]=Trinidad dan Tobago
Name[is]=Trínidad og Tóbagó
Name[it]=Trinidad e Tobago
Name[ka]=ტრინიდადი და ტობაგო
Name[kk]=Тринидад және Тобаго
Name[km]=ទ្រីនីដាដ និងតូបាហ្គោ
Name[kn]=ಟ್ರಿನಿಡಾಡ್ ಮತ್ತು ಟೊಬ್ಯಾಗೊ
Name[ko]=트리니다드토바고
Name[ku]=Trînîdad û Tobago
Name[lt]=Trinidadas ir Tobagas
Name[lv]=Trinidada un Tobago
Name[mai]=ट्रिनिदाद आओर टोबेगो
Name[mk]=Тринидад и Тобаго
Name[ml]=ട്രിനിഡാഡും ടൊബാഗോയും
Name[mr]=त्रिनिदाद व टोबेगो
Name[ms]=Trinidad dan Tobago
Name[nb]=Trinidad og Tobago
Name[nds]=Trinidad un Tobago
Name[ne]=ट्रिनिडाड र टोबागो
Name[nl]=Trinidad en Tobago
Name[nn]=Trinidad og Tobago
Name[oc]=Trinitat e Tobago
Name[or]=ତ୍ରିନିଦାଦ ଏବଂ ଟୋବାଗୋ
Name[pa]=ਤਰੀਨੀਡਾਡ ਤੇ ਤੋਬਾਗੋ
Name[pl]=Trinidad i Tobago
Name[pt]=Trindade e Tobago
Name[pt_BR]=Trinidad e Tobago
Name[ro]=Trinidad și Tobago
Name[ru]=Тринидад и Тобаго
Name[se]=Trinidad ja Tobago
Name[si]=Trinidad හා Tobago
Name[sk]=Trinidad a Tobago
Name[sl]=Trinidad in Tobago
Name[sr]=Тринидад и Тобаго
Name[sr@ijekavian]=Тринидад и Тобаго
Name[sr@ijekavianlatin]=Trinidad i Tobago
Name[sr@latin]=Trinidad i Tobago
Name[sv]=Trinidad och Tobago
Name[ta]=ட்ரினிடாட் & டொபாகோ
Name[te]=ట్రినిడాడ్ మరయూ టొబాగొ
Name[tg]=Тринадад ва Тобаго
Name[th]=ตรินิแดดและโตบาโก
Name[tr]=Trinidad ve Tobago
Name[ug]=تىرىنىداد ۋە توباگو
Name[uk]=Тринідад та Тобаго
Name[uz]=Trinidad va Tobago
Name[uz@cyrillic]=Тринидад ва Тобаго
Name[vi]=Trinidad và Tobago
Name[wa]=Trinité et Tobago
Name[x-test]=xxTrinidad and Tobagoxx
Name[zh_CN]=特立尼达和多巴哥岛
Name[zh_TW]=千里達及托貝哥
Region=caribbean
Languages=en_GB,en_US
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[en_US]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartDay=7
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TTD
CurrencyCode=TTD
