@define-color bg_menu_row shade (@bg_color, 0.6);

.boxes-menu-row,
.boxes-menu-row:selected {
    color: inherit;
}

button.boxes-menu-row {
  border-radius: 3px;
}

.boxes-menu-row > .dim-label {
    color: shade (@bg_menu_row, 0.6);
}
