[KCM Locale]
Name=Malay
Name[af]=Malay
Name[ar]=الماليزيّة
Name[as]=মালাই
Name[ast]=Malasiu
Name[be]=Малайская
Name[be@latin]=Malajskaja
Name[bg]=Малайски
Name[bn]=মালয়
Name[bn_IN]=মালায়
Name[br]=Maya
Name[bs]=malajski
Name[ca]=Malai
Name[ca@valencia]=Malai
Name[cs]=Malajský
Name[csb]=Malajsczi
Name[cy]=Maleieg
Name[da]=Malay
Name[de]=Malaiisch
Name[el]=Μαλέι
Name[en_GB]=Malay
Name[eo]=Malaja
Name[es]=Malayo
Name[et]=Malai
Name[eu]=Malaysiera
Name[fa]=مالایایی
Name[fi]=Malaiji
Name[fr]=Malais
Name[fy]=Maleisk
Name[ga]=Malaeis
Name[gd]=Malaidhis
Name[gl]=Malaio
Name[gu]=મલય
Name[he]=מלאית
Name[hi]=मलय
Name[hne]=मलय
Name[hr]=Malajski
Name[hsb]=Malaisce
Name[hu]=Maláj
Name[ia]=Malay
Name[id]=Malaysia
Name[is]=Malay
Name[it]=Malese
Name[ja]=マレー語
Name[kk]=Малайша
Name[km]=ម៉ាឡេស៊ី
Name[kn]=ಮಲೇಯ್
Name[ko]=말레이어
Name[ku]=Malayî
Name[lb]=Malayesch
Name[lt]=Malajų
Name[lv]=Malajiešu
Name[mai]=मलय
Name[mk]=Малајски
Name[ml]=മലയ്
Name[mr]=मलय
Name[ms]=Malay
Name[nb]=Malayisk
Name[nds]=Malaiisch
Name[ne]=मले
Name[nl]=Maleis
Name[nn]=Malayisk
Name[oc]=Malés
Name[or]=ମଳୟ
Name[pa]=ਮਲਾਯੇ
Name[pl]=Malajski
Name[ps]=ملای
Name[pt]=Malaio
Name[pt_BR]=Malaio
Name[ro]=Malaeză
Name[ru]=Малайский
Name[se]=Malayagiella
Name[si]=මැලේ
Name[sk]=Malajčina
Name[sl]=Malajščina
Name[sr]=малајски
Name[sr@ijekavian]=малајски
Name[sr@ijekavianlatin]=malajski
Name[sr@latin]=malajski
Name[sv]=Malajiska
Name[ta]=மலாய்
Name[te]=మలయ
Name[tg]=Малаӣ
Name[th]=ภาษามลายู
Name[tr]=Mala Dili
Name[tt]=Малай
Name[ug]=مالايچە
Name[uk]=Малайська
Name[uz]=Malaycha
Name[uz@cyrillic]=Малайча
Name[vi]=Mã lai
Name[wa]=Malay
Name[x-test]=xxMalayxx
Name[zh_CN]=马来西亚语
Name[zh_HK]=馬來語
Name[zh_TW]=馬來語
