[KCM Locale]
Name=Moldova
Name[ar]=مولدوفيا
Name[ast]=Moldavia
Name[bs]=Moldavija
Name[ca]=Moldàvia
Name[ca@valencia]=Moldàvia
Name[cs]=Moldávie
Name[da]=Moldova
Name[de]=Moldawien
Name[en_GB]=Moldova
Name[es]=Moldavia
Name[et]=Moldova
Name[eu]=Moldavia
Name[fa]=مولداوی
Name[fi]=Moldova
Name[fr]=Moldavie
Name[gd]=A' Mholdobha
Name[gl]=Moldavia
Name[hr]=Moldova
Name[hu]=Moldova
Name[ia]=Moldova
Name[id]=Moldova
Name[is]=Moldóva
Name[it]=Moldavia
Name[ka]=მოლდოვა
Name[ko]=몰도바
Name[lt]=Moldova
Name[lv]=Moldova
Name[mr]=मोल्दाविया
Name[nb]=Moldova
Name[nds]=Moldawien
Name[nl]=Moldavië
Name[nn]=Moldova
Name[pa]=ਮੋਡੋਵਾ
Name[pl]=Mołdawia
Name[pt]=Moldávia
Name[pt_BR]=Moldávia
Name[ru]=Молдавия
Name[se]=Moldova
Name[sk]=Moldavsko
Name[sl]=Moldavija
Name[sr]=Молдавија
Name[sr@ijekavian]=Молдавија
Name[sr@ijekavianlatin]=Moldavija
Name[sr@latin]=Moldavija
Name[sv]=Moldavien
Name[tg]=Молдова
Name[tr]=Moldova
Name[uk]=Молдова
Name[x-test]=xxMoldovaxx
Name[zh_CN]=摩尔多瓦
Name[zh_TW]=摩爾多瓦
Region=easteurope
Languages=ro,ru
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MDL
CurrencyCode=MDL
