[Currency Code]
CurrencyCodeIsoAlpha3=ADF
CurrencyCodeIsoNumeric3=
#Context for Name: Adjectival Country Name and Currency Name
Name=Andorran Franc
Name[ar]=الفرنك الأندوري
Name[ast]=Francu andorranu
Name[bs]=Andorski franak
Name[ca]=Franc andorrà
Name[ca@valencia]=Franc andorrà
Name[cs]=Andorský frank
Name[da]=Andorransk franc
Name[de]=Andoranische Franc
Name[en_GB]=Andorran Franc
Name[es]=Franco andorrano
Name[et]=Andorra frank
Name[eu]=Andorrako libera
Name[fa]=آندورا فرانک
Name[fi]=Andorran frangi
Name[fr]=Franc andorran
Name[gd]=Franc Andorrach
Name[gl]=Franco andorrano
Name[he]=פרנק אנדוראי
Name[hu]=Andorrai frank
Name[ia]=Franc Andorran
Name[id]=Franc Andorra
Name[is]=Andorra franki
Name[it]=Franco andorrano
Name[ko]=안도라 프랑
Name[lt]=Andoros frankas
Name[mr]=अंडोरा फ्रांक
Name[nb]=Andorranske franc
Name[nds]=Andorraansch Franc
Name[nl]=Andorrese Frank
Name[nn]=Andorransk franc
Name[pa]=ਐਂਡੋਰਾ ਫਰੈਂਕ
Name[pl]=Frank andorski
Name[pt]=Franco Andorrenho
Name[pt_BR]=Franco andorrano
Name[ro]=Franc andorez
Name[ru]=Андоррский франк
Name[sk]=Andorský frank
Name[sl]=andorski frank
Name[sr]=андорски франак
Name[sr@ijekavian]=андорски франак
Name[sr@ijekavianlatin]=andorski franak
Name[sr@latin]=andorski franak
Name[sv]=Andorranska franc
Name[tg]=Франки Андорра
Name[tr]=Andorra Frankı
Name[uk]=Андоррський франк
Name[x-test]=xxAndorran Francxx
Name[zh_CN]=安道尔法郎
Name[zh_TW]=安道爾─法郎（Franc）
CurrencyNameIso=Andorran franc
CurrencyUnitSymbols=F,ADF
CurrencyUnitSymbolDefault=F
CurrencyUnitSymbolUnambiguous=ADF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
#CurrencyCountriesInUse=
