[Currency Code]
CurrencyCodeIsoAlpha3=ADP
CurrencyCodeIsoNumeric3=020
#Context for Name: Adjectival Country Name and Currency Name
Name=Andorran Peseta
Name[ar]=البيزيتا الأندوري
Name[ast]=Peseta andorrana
Name[bs]=Andorska pezeta
Name[ca]=Pesseta andorrana
Name[ca@valencia]=Pesseta andorrana
Name[cs]=Andorská peseta
Name[da]=Andorransk peseta
Name[de]=Andoranische Peseta
Name[en_GB]=Andorran Peseta
Name[es]=Peseta andorrana
Name[et]=Andorra peseeta
Name[eu]=Andorrako pezeta
Name[fa]=پزتای آندورا
Name[fi]=Andorran peseta
Name[fr]=Peseta andorrane
Name[gd]=Peseta Andorrach
Name[gl]=Peseta de Andorra
Name[he]=פזטה אנדורה
Name[hu]=Andorrai peseta
Name[ia]=Peseta Andorran
Name[id]=Peseta Andorra
Name[is]=Andorra peseti
Name[it]=Peseta andorrana
Name[ko]=안도라 페세타
Name[lt]=Andoros peseta
Name[mr]=अंडोरा पेसेटा
Name[nb]=Andorranske peseta
Name[nds]=Andorraansch Peseet
Name[nl]=Andorrese Peseta
Name[nn]=Andorransk peseta
Name[pa]=ਐਂਡੋਰਾ ਪੀਸੀਟਾ
Name[pl]=Peseta andorska
Name[pt]=Peseta Andorrenha
Name[pt_BR]=Peseta andorrana
Name[ro]=Peseta andoreză
Name[ru]=Андоррская песета
Name[sk]=Andorská peseta
Name[sl]=andorska pezeta
Name[sr]=андорска пезета
Name[sr@ijekavian]=андорска пезета
Name[sr@ijekavianlatin]=andorska pezeta
Name[sr@latin]=andorska pezeta
Name[sv]=Andorranska pesetas
Name[tg]=Песетаи Андорра
Name[tr]=Andora Pesetası
Name[uk]=Андоррська песета
Name[x-test]=xxAndorran Pesetaxx
Name[zh_CN]=安道尔比塞塔
Name[zh_TW]=安道爾─陪士特（Peseta）
CurrencyNameIso=Andorran peseta
CurrencyUnitSymbols=Pt,Pta,Pts,Ptas,₧,ADP
CurrencyUnitSymbolDefault=Pt
CurrencyUnitSymbolUnambiguous=Pt
CurrencyUnitSingular=peseta
CurrencyUnitPlural=pesetas
CurrencySubunitSymbol=
CurrencySubunitSingular=céntimo
CurrencySubunitPlural=céntimos
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
