[Currency Code]
CurrencyCodeIsoAlpha3=AED
CurrencyCodeIsoNumeric3=784
#Context for Name: Adjectival Country Name and Currency Name
Name=United Arab Emirates Dirham
Name[ar]=الدرهم الإماراتي
Name[ast]=Dirham d'Emiratos Árabes Xuníos
Name[bs]=Dirham Ujedinjenih Arapskih Emirata
Name[ca]=Dírham de la Unió dels Emirats Àrabs
Name[ca@valencia]=Dírham de la Unió dels Emirats Àrabs
Name[cs]=Dirham Spojených arabských emirátů
Name[da]=Forenende Arabiske Emirater dirham
Name[de]=VAE-Dirham
Name[en_GB]=United Arab Emirates Dirham
Name[es]=Dírham de los Emiratos Árabes Unidos
Name[et]=Araabia Ühendemiraatide dirham
Name[eu]=Arabiar Emirerri Batuetako dirham
Name[fa]=امارات متحده عربی دیرهام
Name[fi]=Arabiemiirikuntien dirhami
Name[fr]=Dirham des émirats arabes unis
Name[gd]=Dirham nan Iomaratan Arabach Aonaichte
Name[gl]=Dirham dos Emiratos Árabes Unidos
Name[he]=דירהם של איחוד האמירויות הערביות
Name[hu]=Egyesült Arab Emirátusbeli dirham
Name[ia]=Dirham de Emirates Unite Arabe
Name[id]=Dirham Uni Emirat Arab
Name[is]=Sameinaða arabíska furstadæmið Dirham
Name[it]=Dirham degli Emirati Arabi Uniti
Name[ko]=아랍에미리트 디르함
Name[lt]=Jungtinių Arabų Emiratų dirhamas
Name[mr]=संयुक्त अरब अमीरात दिरहाम
Name[nb]=UAE Dirham
Name[nds]=VAE-Dirham
Name[nl]=Verenigde Arabische Emiraten Dirham
Name[nn]=Emiratarabisk dirham
Name[pa]=ਸੰਯੁਕਤ ਅਰਬ ਅਮੀਰਾਤ ਦੀਰਹਮ
Name[pl]=Dirham Zjednoczonych Emiratów Arabskich
Name[pt]=Diram dos Emiratos Árabes Unidos
Name[pt_BR]=Dirham emiradense
Name[ro]=Dirham Emiratele Arabe Unite
Name[ru]=Дирхам ОАЭ
Name[sk]=Spojené arabské emiráty dirham
Name[sl]=dirham Združenih arabskih emiratov
Name[sr]=уједињеноарапскоемиратски дирхам
Name[sr@ijekavian]=уједињеноарапскоемиратски дирхам
Name[sr@ijekavianlatin]=ujedinjenoarapskoemiratski dirham
Name[sr@latin]=ujedinjenoarapskoemiratski dirham
Name[sv]=Förenade arabemiraten dirham
Name[tg]=Дирами Аморатҳои Муттаҳидаи Араб
Name[tr]=Birleşik Arap Emirlikleri Dirhemi
Name[uk]=Діргем Об’єднаних Арабських Еміратів
Name[x-test]=xxUnited Arab Emirates Dirhamxx
Name[zh_CN]=阿联酋迪拉姆
Name[zh_TW]=阿拉伯聯合大公國─迪爾漢（Dirham）
CurrencyNameIso=United Arab Emirates dirham
CurrencyUnitSymbols=د.إ,DH,Dhs,AED
CurrencyUnitSymbolDefault=د.إ
CurrencyUnitSymbolUnambiguous=د.إ
CurrencyUnitSingular=dirham
CurrencyUnitPlural=dirhams
CurrencySubunitSymbol=
CurrencySubunitSingular=fils
CurrencySubunitPlural=fils
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AE
