[Currency Code]
CurrencyCodeIsoAlpha3=AFA
CurrencyCodeIsoNumeric3=004
#Context for Name: Adjectival Country Name and Currency Name
Name=Afghan Afghani
Name[ar]=الأفغاني
Name[ast]=Afgani afganu
Name[bs]=Avganistanski afgani
Name[ca]=Afghani afganès
Name[ca@valencia]=Afghani afganés
Name[cs]=Afghánský afghání
Name[da]=Afghansk afghani
Name[de]=Afghanischer Afghani
Name[en_GB]=Afghan Afghani
Name[es]=Afgani afgano
Name[et]=Afganistani afghani
Name[eu]=Afganistango afgani
Name[fa]=افغانی افغانستان
Name[fi]= Afganistanin afgaani
Name[fr]=Afghani afghan
Name[gd]=Afghani Afghanach
Name[gl]=Afganí afgao
Name[he]=אפגני של אפגניסטן
Name[hu]=Afgán afgáni
Name[ia]=Afghani de Afghanistan
Name[id]=Afghani Afghan
Name[is]=Afganskur afghan
Name[it]=Afgani afgano
Name[ko]=아프가니스탄 아프가니
Name[lt]=Afganistano afganis
Name[mr]=अफगाणिस्तान अफगाणि
Name[nb]=Afghanske afghani
Name[nds]=Afghaansch Afghani
Name[nl]=Afghaanse Afghani
Name[nn]=Afghansk afghani
Name[pa]=ਅਫਗਾਨ ਅਫਗਾਨੀ
Name[pl]=Afgani afgański
Name[pt]=Afghani Afegão
Name[pt_BR]=Afegani afegão
Name[ru]=Афганистанский афгани
Name[sk]=Afgánske afgani
Name[sl]=afganistanski afgan
Name[sr]=авганистански авгани
Name[sr@ijekavian]=авганистански авгани
Name[sr@ijekavianlatin]=avganistanski avgani
Name[sr@latin]=avganistanski avgani
Name[sv]=Afghanska afghani
Name[tg]=Афғонии Афғонистон
Name[tr]=Afgan Afganisi
Name[uk]=Афганське афгані
Name[x-test]=xxAfghan Afghanixx
Name[zh_CN]=阿富汗尼
Name[zh_TW]=阿富汗─阿富汗尼（Afghani）
CurrencyNameIso=Afghan afghani
CurrencyUnitSymbols=؋,AFA
CurrencyUnitSymbolDefault=؋
CurrencyUnitSymbolUnambiguous=؋
CurrencyUnitSingular=afghani
CurrencyUnitPlural=afghani
CurrencySubunitSymbol=
CurrencySubunitSingular=pul
CurrencySubunitPlural=pul
CurrencyIntroducedDate=1925,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2003,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
#CurrencyCountriesInUse=
