[Currency Code]
CurrencyCodeIsoAlpha3=AMD
CurrencyCodeIsoNumeric3=051
#Context for Name: Adjectival Country Name and Currency Name
Name=Armenian Dram
Name[ar]=الدرهم الأرميني
Name[ast]=Dram armeniu
Name[bs]=Jermenski dram
Name[ca]=Dram armeni
Name[ca@valencia]=Dram armeni
Name[cs]=Arménský dram
Name[da]=Armensk dram
Name[de]=Armenischer Dram
Name[en_GB]=Armenian Dram
Name[es]=Dram armenio
Name[et]=Armeenia drahm
Name[eu]=Armeniako dram
Name[fa]=درام ارمنستان
Name[fi]=Armenian dram
Name[fr]=Dram arménienne
Name[gd]=Dram Airmeineach
Name[gl]=Dram da Armenia
Name[he]=דראם של ארמניה
Name[hu]=Örmény dram
Name[ia]=Dram Armenio 
Name[id]=Dram Armenia
Name[is]=Armenskt dram
Name[it]=Dram armeno
Name[ko]=아르메니아 드람
Name[lt]=Armėnijos dramas
Name[mr]=आर्मेनिअन ड्राम
Name[nb]=Armenske Dram
Name[nds]=Armeensch Dram
Name[nl]=Armeense Dram
Name[nn]=Armensk dram
Name[pa]=ਅਰਮੀਨੀਆ ਡਰਾਮ
Name[pl]=Dram armeński
Name[pt]=Dram Arménio
Name[pt_BR]=Dram armeno
Name[ru]=Армянский драм
Name[sk]=Arménsky dram
Name[sl]=armenski dram
Name[sr]=јерменски драм
Name[sr@ijekavian]=јерменски драм
Name[sr@ijekavianlatin]=jermenski dram
Name[sr@latin]=jermenski dram
Name[sv]=Armeniska dram
Name[tg]=Драми Арманистон
Name[tr]=Ermeni Dramı
Name[uk]=Вірменський драм
Name[x-test]=xxArmenian Dramxx
Name[zh_CN]=亚美尼亚德拉姆
Name[zh_TW]=亞美尼亞─德拉姆（Dram）
CurrencyNameIso=Armenian dram
CurrencyUnitSymbols=դր,AMD
CurrencyUnitSymbolDefault=դր
CurrencyUnitSymbolUnambiguous=դր
CurrencyUnitSingular=dram
CurrencyUnitPlural=dram
CurrencySubunitSymbol=
CurrencySubunitSingular=luma
CurrencySubunitPlural=luma
CurrencyIntroducedDate=1993,11,22
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AM
