[Currency Code]
CurrencyCodeIsoAlpha3=AOA
CurrencyCodeIsoNumeric3=973
#Context for Name: Adjectival Country Name and Currency Name
Name=Angolan Kwanza
Name[ar]=الكوانزا الأنغولي
Name[ast]=Kwanza angolanu
Name[bs]=Angolska kvanca
Name[ca]=Kwanza d'Angola
Name[ca@valencia]=Kwanza d'Angola
Name[cs]=Angolská kwanza
Name[da]=Angolsk kwanza
Name[de]=Angolanischer Kwanza
Name[en_GB]=Angolan Kwanza
Name[es]=Kwanza angoleño
Name[et]=Angola kwanza
Name[eu]=Angolako kwanza
Name[fa]=Angolan Kwanza
Name[fi]=Angolan kwanza
Name[fr]=Kwanza angolais
Name[gd]=Kwanza Angòlach
Name[gl]=Kwanza angolano
Name[he]=קוואנזה
Name[hu]=Angolai kwanza
Name[ia]=Kwanza Angolan
Name[id]=Kwanza Angola
Name[is]=Angólskt Kwanza
Name[it]=Kwanza angolano
Name[ko]=앙골라 콴자
Name[lt]=Angolos kvanza
Name[mr]=अंगोलीयन क्वांझा
Name[nb]=Angolanske Kwanza
Name[nds]=Angolaansch Kwanza
Name[nl]=Angolese Kwanza
Name[nn]=Angolansk kwanza
Name[pa]=ਅੰਗੋਲਾ ਕਵਾਂਜਾ
Name[pl]=Kwanza angolska
Name[pt]=Kuanza Angolano
Name[pt_BR]=Kwanza angolano
Name[ru]=Ангольская кванза
Name[sk]=Angolská kwanza
Name[sl]=angolska kwanza
Name[sr]=анголска кванза
Name[sr@ijekavian]=анголска кванза
Name[sr@ijekavianlatin]=angolska kvanza
Name[sr@latin]=angolska kvanza
Name[sv]=Angolanska kwanza
Name[tg]=Кванзаи Муғулистон
Name[tr]=Angola Kuanzası
Name[uk]=Ангольська кванза
Name[x-test]=xxAngolan Kwanzaxx
Name[zh_CN]=安哥拉宽扎
Name[zh_TW]=安哥拉─寬札（Kwanza）
CurrencyNameIso=Angolan kwanza
CurrencyUnitSymbols=Kz,AOA
CurrencyUnitSymbolDefault=Kz
CurrencyUnitSymbolUnambiguous=Kz
CurrencyUnitSingular=kwanza
CurrencyUnitPlural=kwanzas
CurrencySubunitSymbol=
CurrencySubunitSingular=cêntimo
CurrencySubunitPlural=cêntimos
CurrencyIntroducedDate=1999,12,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AO
