[Currency Code]
CurrencyCodeIsoAlpha3=ARS
CurrencyCodeIsoNumeric3=032
#Context for Name: Adjectival Country Name and Currency Name
Name=Argentine Peso
Name[ar]=البيزو الأرجنتيني
Name[ast]=Pesu arxentín
Name[bs]=Argentinski pezos
Name[ca]=Peso argentí
Name[ca@valencia]=Peso argentí
Name[cs]=Argentinské peso
Name[da]=Argentinsk peso
Name[de]=Argentinischer Peso
Name[en_GB]=Argentine Peso
Name[es]=Peso argentino
Name[et]=Argentina peeso
Name[eu]=Argentinako peso
Name[fa]=پزوی آرژانتین
Name[fi]=Argentiinan peso
Name[fr]=Peso argentin
Name[gd]=Peso Argantaineach
Name[gl]=Peso arxentino
Name[he]=פזו של ארגנטינה
Name[hu]=Argentin peso
Name[ia]=Peso Argentin
Name[id]=Peso Argentina
Name[is]=Argentínskur pesó
Name[it]=Peso argentino
Name[ko]=아르헨티나 페소
Name[lt]=Argentinos pesas
Name[lv]=Argentīnas peso
Name[mr]=अर्जेन्टिना पेसो
Name[nb]=Argentinske pesos
Name[nds]=Argentiensch Peso
Name[nl]=Argentijnse Peso
Name[nn]=Argentinsk peso
Name[pa]=ਅਰਜ਼ਨਟੀਨਾ ਪਿਸੋ
Name[pl]=Peso argentyńskie
Name[pt]=Peso Argentino
Name[pt_BR]=Peso argentino
Name[ru]=Аргентинское песо
Name[sk]=Argentínske peso
Name[sl]=argentinski peso
Name[sr]=аргентински пезос
Name[sr@ijekavian]=аргентински пезос
Name[sr@ijekavianlatin]=argentinski pezos
Name[sr@latin]=argentinski pezos
Name[sv]=Argentinska peso
Name[tg]=Песои Аргентина
Name[tr]=Arjantin Pesosu
Name[uk]=Аргентинське песо
Name[x-test]=xxArgentine Pesoxx
Name[zh_CN]=阿根廷比索
Name[zh_TW]=阿根廷─披索（Peso）
CurrencyNameIso=Argentine peso
CurrencyUnitSymbols=$,ARS
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=A$
CurrencyUnitSingular=peso
CurrencyUnitPlural=pesos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1992,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AR
