[Currency Code]
CurrencyCodeIsoAlpha3=AUD
CurrencyCodeIsoNumeric3=036
#Context for Name: Adjectival Country Name and Currency Name
Name=Australian Dollar
Name[ar]=الدولار الأسترالي
Name[ast]=Dólar australianu
Name[bs]=Australijski dolar
Name[ca]=Dòlar australià
Name[ca@valencia]=Dòlar australià
Name[cs]=Australský dolar
Name[da]=Australsk dollar
Name[de]=Australischer Dollar
Name[en_GB]=Australian Dollar
Name[es]=Dólar australiano
Name[et]=Austraalia dollar
Name[eu]=Australiako dolar
Name[fa]=دلار استرالیا
Name[fi]=Australian dollari
Name[fr]=Dollar australien
Name[gd]=Dolar Astràilianach
Name[gl]=Dólar australiano
Name[he]=דולאר של אוסטרליה
Name[hu]=Ausztrál dollár
Name[ia]=Dollar Australian
Name[id]=Dollar Australia
Name[is]=Ástralskur dollari
Name[it]=Dollaro australiano
Name[ko]=오스트레일리아 달러
Name[lt]=Australijos doleris
Name[lv]=Austrālijas dolārs
Name[mr]=इतालवी  डॉलर
Name[nb]=Australske dollar
Name[nds]=Austraalsch Dollar
Name[nl]=Australische Dollar
Name[nn]=Australsk dollar
Name[pa]=ਅਸਟਰੇਲੀਆਈ ਡਾਲਰ
Name[pl]=Dolar australijski
Name[pt]=Dólar Australiano
Name[pt_BR]=Dólar australiano
Name[ru]=Австралийский доллар
Name[sk]=Austrálsky dolár
Name[sl]=avstralski dolar
Name[sr]=аустралијски долар
Name[sr@ijekavian]=аустралијски долар
Name[sr@ijekavianlatin]=australijski dolar
Name[sr@latin]=australijski dolar
Name[sv]=Australiska dollar
Name[tg]=Доллари Австралия
Name[tr]=Avusturalya Doları
Name[uk]=Австралійський долар
Name[x-test]=xxAustralian Dollarxx
Name[zh_CN]=澳大利亚元
Name[zh_TW]=澳大利亞─澳元（Australian Dollar）
CurrencyNameIso=Australian dollar
CurrencyUnitSymbols=$,A$,AU$,AUD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=AU$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=c
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1966,02,14
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AU,CX,CC,HM,NF,KI,NR,TV
