[Currency Code]
CurrencyCodeIsoAlpha3=AWG
CurrencyCodeIsoNumeric3=533
#Context for Name: Adjectival Country Name and Currency Name
Name=Aruban Florin
Name[ar]=الفلورن الأروبي
Name[ast]=Florín arubanu
Name[bg]=Арубийски флорин
Name[bn]=Aruban Florin
Name[bs]=arupski florin
Name[ca]=Florí d'Aruba
Name[ca@valencia]=Florí d'Aruba
Name[cs]=Arubský florin
Name[csb]=Arubańsczi Florin
Name[da]=Arubisk florin
Name[de]=Aruba-Florin
Name[el]=Φλορίνι Αρούμπας
Name[en_GB]=Aruban Florin
Name[eo]=Aruba guldeno
Name[es]=Florín arubeño
Name[et]=Aruba floriin
Name[eu]=Arubako florin
Name[fa]=فلورین آروبانی
Name[fi]=Aruban floriini
Name[fr]=Florin d'Aruba
Name[fy]=Arubaanske gûne
Name[ga]=Flóirín Aruba
Name[gd]=Florin Arùbach
Name[gl]=Florín de Aruba
Name[gu]=અરુબાન ફ્લોરિઅન
Name[he]=פלורין של ארובה
Name[hi]=अरुबां फ्लोरिं
Name[hr]=Aruban Florin
Name[hu]=Arubai florin
Name[ia]=Aruban Florin
Name[id]=Florin Aruba
Name[is]=Arúbínskt florin
Name[it]=Fiorino arubano
Name[kk]=Аруби флорині
Name[km]=Aruban Florin
Name[kn]=ಅರುಬಾನ್ ಫ್ಲೋರಿನ್
Name[ko]=아루바 플로린
Name[lt]=Arubos florinas
Name[lv]=Arubas florīns
Name[mai]=अरूबन फ्लोरिन
Name[ml]=അറുബന്‍ ഫ്ലൊറിന്‍
Name[mr]=आरुबान फ्लोरिन
Name[nb]=Arubisk gylden
Name[nds]=Aruba-Florin
Name[nl]=Arubaanse Gulden
Name[nn]=Arubisk gylden
Name[pa]=ਅਰੁਬਨ ਫਲੋਰੀਨ
Name[pl]=Florin arubański
Name[pt]=Florim de Aruba
Name[pt_BR]=Florim arubano
Name[ro]=Florin Aruba
Name[ru]=Арубанский флорин
Name[si]=අරූබන් ෆ්ලොරින්
Name[sk]=Arubanský florin
Name[sl]=arubski gulden
Name[sr]=арупски флорин
Name[sr@ijekavian]=арупски флорин
Name[sr@ijekavianlatin]=arupski florin
Name[sr@latin]=arupski florin
Name[sv]=Arubiska florin
Name[tg]=Флорини Аруба
Name[tr]=Aruba Florini
Name[ug]=Aruban Florin
Name[uk]=Гульден Аруби
Name[vi]=Florin của Aruba
Name[wa]=Florin da l' Arouba
Name[x-test]=xxAruban Florinxx
Name[zh_CN]=阿鲁巴岛弗罗林
Name[zh_TW]=阿魯巴─弗羅林（Florin）
CurrencyNameIso=Aruban guilder
CurrencyUnitSymbols=Afl,ƒ,AWG
CurrencyUnitSymbolDefault=Afl
CurrencyUnitSymbolUnambiguous=Afl
CurrencyUnitSingular=florin
CurrencyUnitPlural=florin
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1986,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AW
