[Currency Code]
CurrencyCodeIsoAlpha3=AZN
CurrencyCodeIsoNumeric3=944
#Context for Name: Adjectival Country Name and Currency Name
Name=Azerbaijani Manat
Name[ar]=المانات الأذربيجاني
Name[ast]=Manat azerbaixanu
Name[bs]=Azerbejdžanski manat
Name[ca]=Manat d'Azerbaidjan
Name[ca@valencia]=Manat d'Azerbaidjan
Name[cs]=Ázerbájdžánský manat
Name[da]=Aserbajdsjansk manat
Name[de]=Aserbaidschan-Manat
Name[en_GB]=Azerbaijani Manat
Name[es]=Manat azerbaiyano
Name[et]=Aserbaidžaani manat
Name[eu]=Azerbaijaneko manat
Name[fa]=Azerbaijani Manat
Name[fi]=Azerbaidžanin manat
Name[fr]=Manat d'Azerbaïdjan
Name[gd]=Manat Asarbaideànach
Name[gl]=Manat acerbaixano
Name[he]=מאנאט אזרבייג'ני
Name[hu]=Azerbajdzsáni manat
Name[ia]=Manat Azerbaijano
Name[id]=Manat Azerbaijan
Name[is]=Aserbaídsjanskt manat
Name[it]=Manat azero
Name[ko]=아제르바이잔 마나트
Name[lt]=Azerbaidžano manatas
Name[mr]=अजरबेजानी मनत
Name[nb]=Aserbajdsjanske Manat
Name[nds]=Aserbaidschaansch Manat
Name[nl]=Azerbeidzjaanse Manat
Name[nn]=Aserbajdsjansk manat
Name[pa]=ਅਜ਼ਰਬਾਈਜਾਨ ਮਨਟ
Name[pl]=Manat azerbejdżański
Name[pt]=Manat do Azerbaijão
Name[pt_BR]=Manat azeri
Name[ro]=Manat azer
Name[ru]=Азербайджанский манат
Name[sk]=Azerbajdžánsky manat
Name[sl]=azerbajdžanski manat
Name[sr]=азербејџански манат
Name[sr@ijekavian]=азербејџански манат
Name[sr@ijekavianlatin]=azerbejdžanski manat
Name[sr@latin]=azerbejdžanski manat
Name[sv]=Azeriska manat
Name[tg]=Манати Озарбойҷон
Name[tr]=Azerbaycan Manatı
Name[uk]=Азербайджанський манат
Name[x-test]=xxAzerbaijani Manatxx
Name[zh_CN]=阿塞拜疆马纳特
Name[zh_TW]=亞塞拜然─馬納特（Manat）
CurrencyNameIso=Azerbaijani manat
CurrencyUnitSymbols=m,man,AZM
CurrencyUnitSymbolDefault=m
CurrencyUnitSymbolUnambiguous=m
CurrencyUnitSingular=manat
CurrencyUnitPlural=manat
CurrencySubunitSymbol=
CurrencySubunitSingular=qəpik
CurrencySubunitPlural=qəpik
CurrencyIntroducedDate=2006,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AZ
