[Currency Code]
CurrencyCodeIsoAlpha3=BBD
CurrencyCodeIsoNumeric3=052
#Context for Name: Adjectival Country Name and Currency Name
Name=Barbados Dollar
Name[ar]=الدولار البربادوسي
Name[ast]=Dólar barbadianu
Name[bs]=Barbadoski dolar
Name[ca]=Dòlar de Barbados
Name[ca@valencia]=Dòlar de Barbados
Name[cs]=Barbadoský dolar
Name[da]=Barbadisk dollar
Name[de]=Barbados-Dollar
Name[en_GB]=Barbados Dollar
Name[es]=Dólar de Barbados
Name[et]=Barbadose dollar
Name[eu]=Barbadoseko dolar
Name[fa]=دلار باربادوس
Name[fi]=Barbadosin dollari
Name[fr]=Dollar de Barbade
Name[gd]=Dolar Barbadach
Name[gl]=Dólar das Barbados
Name[he]=דולר של ברבדוס
Name[hu]=Barbadosi dollár
Name[ia]=Dollar de Barbados
Name[id]=Dollar Barbados
Name[is]=Barbados dollari
Name[it]=Dollaro di Barbados
Name[ko]=바베이도스 달러
Name[lt]=Barbadoso doleris
Name[mr]=बार्बुडोस  डॉलर
Name[nb]=Barbados-dollar
Name[nds]=Barbados-Dollar
Name[nl]=Barbadiaanse Dollar
Name[nn]=Barbadisk dollar
Name[pa]=ਬਾਰਬਾਡੋਸ ਡਾਲਰ
Name[pl]=Dolar barbadoski
Name[pt]=Dólar dos Barbados
Name[pt_BR]=Dólar barbadiano
Name[ro]=Dolar Barbados
Name[ru]=Барбадосский доллар
Name[sk]=Barbadoský dolár
Name[sl]=barbadoški dolar
Name[sr]=барбадоски долар
Name[sr@ijekavian]=барбадоски долар
Name[sr@ijekavianlatin]=barbadoski dolar
Name[sr@latin]=barbadoski dolar
Name[sv]=Barbadiska dollar
Name[tg]=Доллари Барбадос
Name[tr]=Barbados Doları
Name[uk]=Барбадоський долар
Name[x-test]=xxBarbados Dollarxx
Name[zh_CN]=巴巴多斯岛元
Name[zh_TW]=巴貝多─元（Dollar）
CurrencyNameIso=Barbados dollar
CurrencyUnitSymbols=$,Bds$,BBD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=Bds$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BB
