[Currency Code]
CurrencyCodeIsoAlpha3=BDT
CurrencyCodeIsoNumeric3=050
#Context for Name: Adjectival Country Name and Currency Name
Name=Bangladeshi Taka
Name[ar]=التاكا البنغلاديشي
Name[ast]=Taka bangladexín
Name[bs]=Bangladeška taka
Name[ca]=Taka de Bangla Desh
Name[ca@valencia]=Taka de Bangla Desh
Name[cs]=Bangladéšská taka
Name[da]=Bangladeshisk taka
Name[de]=Taka von Bangladesch
Name[en_GB]=Bangladeshi Taka
Name[es]=Taka bangladesí
Name[et]=Bangladeshi taka
Name[eu]=Bangladesheko taka
Name[fa]=Bangladeshi Taka
Name[fi]=Bangladeshin taka
Name[fr]=Taka bangladeshi
Name[gd]=Taka Bangladaiseach
Name[gl]=Taka bangladechiano
Name[he]=טאקה באנגלדשית
Name[hu]=Bangladesi taka
Name[ia]=Taka de Bangladesh
Name[id]=Taka Bangladesh
Name[is]=Bangladeskt taka
Name[it]=Taka bengalese
Name[ko]=방글라데시 타카
Name[lt]=Bangladešo taka
Name[mr]=बांग्लादेशी टाका
Name[nb]=Bangladesh Taka
Name[nds]=Bangladeschisch Taka
Name[nl]=Bengalese Taka
Name[nn]=Bangladeshisk taka
Name[pa]=ਬੰਗਲਾਦੇਸ਼ ਟਕਾ
Name[pl]=Taka bangladeska
Name[pt]=Taka do Bangladesh
Name[pt_BR]=Taka bengali
Name[ro]=Taka Bangladeș
Name[ru]=Бангладешская така
Name[sk]=Bangladéžska taka
Name[sl]=bangladeška taka
Name[sr]=бангладешка така
Name[sr@ijekavian]=бангладешка така
Name[sr@ijekavianlatin]=bangladeška taka
Name[sr@latin]=bangladeška taka
Name[sv]=Bangladeshiska taka
Name[tg]=Такаи Бангладеш
Name[tr]=Bangladeş Takası
Name[uk]=Бангладешська така
Name[x-test]=xxBangladeshi Takaxx
Name[zh_CN]=孟加拉塔卡
Name[zh_TW]=孟加拉─塔卡（Taka）
CurrencyNameIso=Bangladeshi taka
CurrencyUnitSymbols=Tk,BDT
CurrencyUnitSymbolDefault=Tk
CurrencyUnitSymbolUnambiguous=Tk
CurrencyUnitSingular=taka
CurrencyUnitPlural=taka
CurrencySubunitSymbol=
CurrencySubunitSingular=poisha
CurrencySubunitPlural=poisha
CurrencyIntroducedDate=1972,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BD
