[Currency Code]
CurrencyCodeIsoAlpha3=BEF
CurrencyCodeIsoNumeric3=056
#Context for Name: Adjectival Country Name and Currency Name
Name=Belgian Franc
Name[ar]=الفرنك البلغاري
Name[ast]=Francu belga
Name[bg]=Белгийски франк
Name[bn]=Belgian Franc
Name[bs]=belgijski franak
Name[ca]=Franc belga
Name[ca@valencia]=Franc belga
Name[cs]=Belgický frank
Name[csb]=Belgijsczi Frank
Name[da]=Belgisk franc
Name[de]=Belgischer Franken
Name[el]=Βελγικό φράγκο
Name[en_GB]=Belgian Franc
Name[eo]=Belga franko
Name[es]=Franco belga
Name[et]=Belgia frank
Name[eu]=Belgikako frankoa
Name[fa]=فرانک بلژیک
Name[fi]=Belgian frangi
Name[fr]=Franc belge
Name[fy]=Belgyske  frank
Name[ga]=Franc na Beilge
Name[gd]=Franc Beilgeach
Name[gl]=Franco belga
Name[gu]=બેલ્જીયન ફ્રાન્ક
Name[he]=פרנק בלגי
Name[hi]=बेलजियाई फ्रांक
Name[hr]=Belgijski franak
Name[hu]=Belga frank
Name[ia]=Belgian Franc
Name[id]=Franc Belgia
Name[is]=Belgískur franki
Name[it]=Franco belga
Name[kk]=Бельгия франкі
Name[km]=Belgian Franc
Name[kn]=ಬೆಲ್ಜಿಯನ್ ಫ್ರಾಂಕ್
Name[ko]=벨기에 프랑
Name[lt]=Belgijos frankas
Name[lv]=Beļģijas franks
Name[mai]=बेल्जियन फ्रान्क 
Name[mk]=Белгиски франк
Name[ml]=ബെല്‍ജിയന്‍ ഫ്രാങ്കു്
Name[mr]=बेल्जियन फ्रांक
Name[nb]=Belgiske Franc
Name[nds]=Belgsch Franc
Name[nl]=Belgische Frank
Name[nn]=Belgisk franc
Name[pa]=ਬੈਲਜੀਅਮ ਫਰੈਕ
Name[pl]=Frank belgijski
Name[pt]=Franco Belga
Name[pt_BR]=Franco belga
Name[ro]=Franc belgian
Name[ru]=Бельгийский франк
Name[si]=බෙල්ජියානු ෆ්‍රෑන්ක්
Name[sk]=Belgický frank
Name[sl]=belgijski frank
Name[sr]=белгијски франак
Name[sr@ijekavian]=белгијски франак
Name[sr@ijekavianlatin]=belgijski franak
Name[sr@latin]=belgijski franak
Name[sv]=Belgiska franc
Name[tg]=Франки Белгия
Name[th]=ฟรังก์เบลเยียม
Name[tr]=Belçika Frankı
Name[ug]=بېلگىيە فرانكى
Name[uk]=Бельгійський франк
Name[vi]=Frăng Bỉ
Name[wa]=Franc beldje
Name[x-test]=xxBelgian Francxx
Name[zh_CN]=比利时法郎
Name[zh_TW]=比利時─法郎（Franc）
CurrencyNameIso=Belgian franc
CurrencyUnitSymbols=fr.,BEF
CurrencyUnitSymbolDefault=fr.
CurrencyUnitSymbolUnambiguous=BEF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=c.
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1832,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
