[Currency Code]
CurrencyCodeIsoAlpha3=BHD
CurrencyCodeIsoNumeric3=048
#Context for Name: Adjectival Country Name and Currency Name
Name=Bahraini Dinar
Name[ar]=الدينار البحريني
Name[ast]=Dinar baḥreiní
Name[bs]=Bahreinski dinar
Name[ca]=Dinar de Bahrain
Name[ca@valencia]=Dinar de Bahrain
Name[cs]=Bahrajnský dinár
Name[da]=Bahrainsk dinar
Name[de]=Bahrain-Dinar
Name[en_GB]=Bahraini Dinar
Name[es]=Dinar bareiní
Name[et]=Bahreini dinaar
Name[eu]=Bahraineko dolar
Name[fa]=دینار بحرین
Name[fi]=Bahrainin dinaari
Name[fr]=Dinar bahreïni
Name[gd]=Dinar Bachraineach
Name[gl]=Dinar do Barén
Name[he]=דינר של בחריין
Name[hu]=Bahreini dínár
Name[ia]=Dinar de Bahrain
Name[id]=Dinar Bahrain
Name[is]=Bareinskur dínar
Name[it]=Dinaro del Bahrain
Name[ko]=바레인 디나르
Name[lt]=Bahreino dinaras
Name[mr]=बहरीन दिनार
Name[nb]=Bahrainske dinarer
Name[nds]=Bahrainsch Dinaar
Name[nl]=Bahreinse Dinar
Name[nn]=Bahrainsk dinar
Name[pa]=ਬਹਿਰੀਨੀ ਦੀਨਾਰ
Name[pl]=Dinar bahrański
Name[pt]=Dinar do Bahrain
Name[pt_BR]=Dinar baremense
Name[ro]=Dinar Bahrein
Name[ru]=Бахрейнский динар
Name[sk]=Bahrajnský dinár
Name[sl]=bahrajnski dinar
Name[sr]=бахреински динар
Name[sr@ijekavian]=бахреински динар
Name[sr@ijekavianlatin]=bahreinski dinar
Name[sr@latin]=bahreinski dinar
Name[sv]=Bahrainska dinar
Name[tg]=Динари Баҳрайн
Name[tr]=Bahreyn Dinarı
Name[uk]=Бахрейнський динар
Name[x-test]=xxBahraini Dinarxx
Name[zh_CN]=巴林第纳尔
Name[zh_TW]=巴林─巴林第納爾（Bahraini Dinar）
CurrencyNameIso=Bahraini dinar
CurrencyUnitSymbols=.د.ب,BD,BHD
CurrencyUnitSymbolDefault=.د.ب
CurrencyUnitSymbolUnambiguous=.د.ب
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=fils
CurrencySubunitPlural=fils
CurrencyIntroducedDate=1965,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=BH
