[Currency Code]
CurrencyCodeIsoAlpha3=BIF
CurrencyCodeIsoNumeric3=108
#Context for Name: Adjectival Country Name and Currency Name
Name=Burundian Franc
Name[ar]=الفرنك البوروندي
Name[ast]=Francu burundianu
Name[bs]=Rundi
Name[ca]=Franc de Burundi
Name[ca@valencia]=Franc de Burundi
Name[cs]=Burundský frank
Name[da]=Burundisk franc
Name[de]=Burundi-Franc
Name[en_GB]=Burundian Franc
Name[es]=Franco de Burundi
Name[et]=Burundi frank
Name[eu]=Burundiko franko
Name[fa]=Burundian Franc
Name[fi]=Burundin frangi
Name[fr]=Franc burundais
Name[gd]=Franc Burundaidheach
Name[gl]=Franco burundiano
Name[he]=פרנק בורונדי
Name[hu]=Burundi frank
Name[ia]=Franc de Burundi
Name[id]=Franc Burundi
Name[is]=Búrúndískur franki
Name[it]=Franco del Burundi
Name[ko]=부룬디 프랑
Name[lt]=Burundžio frankas
Name[mr]=रून्डी फ्रांक
Name[nb]=Burundi-franc
Name[nds]=Burundsch Franc
Name[nl]=Burundese Frank
Name[nn]=Burundisk franc
Name[pa]=ਬੁਰੁਨਡੀ ਫਰੈਂਕ
Name[pl]=Frank Burundi
Name[pt]=Franco do Burundi
Name[pt_BR]=Franco burundiano
Name[ro]=Franc Burundi
Name[ru]=Бурундийский франк
Name[sk]=Burundský frank
Name[sl]=burundski frank
Name[sr]=бурундски франак
Name[sr@ijekavian]=бурундски франак
Name[sr@ijekavianlatin]=burundski franak
Name[sr@latin]=burundski franak
Name[sv]=Burundiska franc
Name[tg]=Франки Бурундӣ
Name[tr]=Burundi Frankı
Name[uk]=Бурундійський франк
Name[x-test]=xxBurundian Francxx
Name[zh_CN]=布隆迪法郎
Name[zh_TW]=浦隆地─法郎（Franc）
CurrencyNameIso=Burundian franc
CurrencyUnitSymbols=FBu,BIF
CurrencyUnitSymbolDefault=FBu
CurrencyUnitSymbolUnambiguous=FBu
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BI
