[Currency Code]
CurrencyCodeIsoAlpha3=BND
CurrencyCodeIsoNumeric3=096
#Context for Name: Adjectival Country Name and Currency Name
Name=Brunei Dollar
Name[ar]=الدولار البرواني
Name[ast]=Dólar bruneyanu
Name[bs]=brunejski dolar
Name[ca]=Dòlar de Brunei
Name[ca@valencia]=Dòlar de Brunei
Name[cs]=Brunejský dolar
Name[da]=Brunei dollar
Name[de]=Brunei-Dollar
Name[en_GB]=Brunei Dollar
Name[es]=Dólar de Brunéi
Name[et]=Brunei dollar
Name[eu]=Bruneiko dolar
Name[fa]=دلار برونئی
Name[fi]=Brunein dollari
Name[fr]=Dollar de Brunei
Name[gd]=Dolar Brùnaigheach
Name[gl]=Dólar de Brunei
Name[he]=דולר ברוניי
Name[hu]=Brunei dollár
Name[ia]=Dollar de Brunei
Name[id]=Dollar Brunei
Name[is]=Brúnei dollari
Name[it]=Dollaro del Brunei
Name[ko]=브루나이 달러
Name[lt]=Brunėjaus doleris
Name[mr]=ब्रुनेई  डॉलर
Name[nb]=Brunei-dollar (Ringgit)
Name[nds]=Brunei-Dollar
Name[nl]=Bruneise Dollar
Name[nn]=Bruneisk dollar
Name[pa]=ਬਰੂਨੀ ਡਾਲਰ
Name[pl]=Dolar brunejski
Name[pt]=Dólar do Brunei
Name[pt_BR]=Dólar bruneano
Name[ru]=Брунейский доллар
Name[sk]=Brunejský dolár
Name[sl]=brunejski dolar
Name[sr]=брунејски долар
Name[sr@ijekavian]=брунејски долар
Name[sr@ijekavianlatin]=brunejski dolar
Name[sr@latin]=brunejski dolar
Name[sv]=Bruneidollar
Name[tg]=Доллари Бруней Даруссалом
Name[tr]=Brunei Doları
Name[uk]=Брунейський долар
Name[x-test]=xxBrunei Dollarxx
Name[zh_CN]=文莱元
Name[zh_TW]=汶萊─元（Dollar）
CurrencyNameIso=Brunei dollar
CurrencyUnitSymbols=$,B$,BND
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=B$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1967,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BN,SG
