[Currency Code]
CurrencyCodeIsoAlpha3=BOV
CurrencyCodeIsoNumeric3=984
#Context for Name: Adjectival Country Name and Currency Name
Name=Bolivian Mvdol
Name[ast]=MVDOL bolivianu
Name[bs]=bolivijski mvdol
Name[ca]=Mvdol de Bolívia
Name[ca@valencia]=Mvdol de Bolívia
Name[cs]=Bolívijský mvdol
Name[da]=Boliviansk mvdol
Name[de]=Bolivianischer Mvdol
Name[en_GB]=Bolivian Mvdol
Name[es]=MVDOL boliviano
Name[et]=Boliivia mvdol
Name[eu]=Boliviako Mvdol
Name[fa]=Bolivian Mvdol
Name[fi]=Bolivian mvdol
Name[fr]=Mydol bolivien
Name[gd]=Mvdol Boilibhiach
Name[gl]=Mvdol boliviano
Name[he]=Mvdol
Name[hu]=Bolíviai mvdol
Name[ia]=Mvdol de Bolivia
Name[id]=Mvdol Bolivia
Name[is]=Bólivískur mvdol
Name[it]=Mvdol boliviano
Name[ko]=볼리비아 Mvdol
Name[lt]=Bolivijos bolivianas
Name[mr]=बोलीविया Mvdol
Name[nb]=Bolivianske Mydol
Name[nds]=Boliviaansch Mvdol
Name[nl]=Boliviaanse Mvdol
Name[nn]=Boliviansk mvdol
Name[pa]=ਬੋਲਵੀਆ ਮਵਡੋਲ
Name[pl]=Mvdol boliwijski
Name[pt]=Mvdol da Bolívia
Name[pt_BR]=Mvdol boliviano
Name[ru]=Боливийский мвдол
Name[sk]=Bolívijské Mvdol
Name[sl]=bolivijski mvdol
Name[sr]=боливијски мвдол
Name[sr@ijekavian]=боливијски мвдол
Name[sr@ijekavianlatin]=bolivijski mvdol
Name[sr@latin]=bolivijski mvdol
Name[sv]=Bolivianska mvdol
Name[tg]=Доллари Боливианои Боливия
Name[tr]=Bolivya Mvdolu
Name[uk]=Болівійський MVDOL
Name[x-test]=xxBolivian Mvdolxx
Name[zh_CN]=玻利维亚姆多
Name[zh_TW]=玻利維亞─幕多（Mvdol）
CurrencyNameIso=Bolivian Mvdol
CurrencyUnitSymbols=BOV
CurrencyUnitSymbolDefault=BOV
CurrencyUnitSymbolUnambiguous=BOV
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BO
