[Currency Code]
CurrencyCodeIsoAlpha3=BTN
CurrencyCodeIsoNumeric3=064
#Context for Name: Adjectival Country Name and Currency Name
Name=Bhutanese Ngultrum
Name[ar]=النغولترم البوتاني
Name[ast]=Ngultrum butanés
Name[bg]=Бутански нгултрум
Name[bn]=ভূটানী Ngultrum
Name[bs]=butanski ngultrum
Name[ca]=Ngultrum de Bhutan
Name[ca@valencia]=Ngultrum de Bhutan
Name[cs]=Bhútánský ngultrum
Name[csb]=Bùtańsczi Ngultrum
Name[da]=Bhutansk ngultrum
Name[de]=Ngultrum von Bhutan
Name[el]=Bhutanese Νγκούλτρουμ
Name[en_GB]=Bhutanese Ngultrum
Name[eo]=Butana ngultrumo
Name[es]=Ngultrum butanés
Name[et]=Bhutani ngultrum
Name[eu]=Buthango ngultrum
Name[fa]=انگولتروم بوتانیزی
Name[fi]=Bhutanin ngultrum
Name[fr]=Ngultrum bouthanais
Name[fy]=Bhutaneeske ngultrum
Name[ga]=Ngultrum na Bútáine
Name[gd]=Ngultrum Butànach
Name[gl]=Ngultrum butanés
Name[gu]=ભુટાનીઝ ગુલ્ટ્રુમ
Name[he]=נגולטורם בהוטני
Name[hi]=भुटानी न्गुलट्रम
Name[hr]=Bhutanese Ngultrum
Name[hu]=Bhutáni ngultrum
Name[ia]=Bhutanese Ngultrum
Name[id]=Ngultrum Bhutan
Name[is]=Bhútanskur ngultrum
Name[it]=Ngultrum bhutanese
Name[kk]=Бутан нгултрумы
Name[km]=Bhutanese Ngultrum
Name[ko]=부탄 눌트럼
Name[lt]=Butano ngultrumas
Name[lv]=Butānas ngultrums
Name[mai]=भुटानी न्गुलट्रम
Name[ml]=ഭൂട്ടാനിലെ ഗള്‍ട്ടറം
Name[mr]=भूतानी नगुल्त्रम
Name[nb]=Butanske Ngultrum
Name[nds]=Bhutaansch Ngultrum
Name[nl]=Bhutaanse Ngultrum
Name[nn]=Bhutansk ngultrum
Name[pa]=ਭੁਟਾਨੀ ਨਗੁਲਟਰੁਮ
Name[pl]=Ngultrum (Bhutan)
Name[pt]=Ngultrum do Butão
Name[pt_BR]=Ngultrum butanês
Name[ro]=Ngultrum Bhutanez
Name[ru]=Бутанский нгултрум
Name[si]=බූතානිස් න්ගුල්ට්‍රම්
Name[sk]=Bhutánsky ngultrum
Name[sl]=butanski ngultrum
Name[sr]=бутански нгултрум
Name[sr@ijekavian]=бутански нгултрум
Name[sr@ijekavianlatin]=butanski ngultrum
Name[sr@latin]=butanski ngultrum
Name[sv]=Bhutanska ngultrum
Name[tg]=Нгултруми Бутон
Name[th]=เอ็งกุลตรัมภูฏาน
Name[tr]=Buhutan Ngultrumu
Name[ug]=Bhutanese Ngultrum
Name[uk]=Бутанський нгультрум
Name[vi]=Ngultrum của Bhutan
Name[wa]=Ngultrum boutanès
Name[x-test]=xxBhutanese Ngultrumxx
Name[zh_CN]=不丹努尔特鲁姆
Name[zh_TW]=不丹─努紮姆（Ngultrum）
CurrencyNameIso=Ngultrum
CurrencyUnitSymbols=Nh.,BTN
CurrencyUnitSymbolDefault=Nh.
CurrencyUnitSymbolUnambiguous=Nh.
CurrencyUnitSingular=ngultrum
CurrencyUnitPlural=ngultrum
CurrencySubunitSymbol=Ch.
CurrencySubunitSingular=chhertum
CurrencySubunitPlural=chhertum
CurrencyIntroducedDate=1974,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BT
