[Currency Code]
CurrencyCodeIsoAlpha3=BZD
CurrencyCodeIsoNumeric3=084
#Context for Name: Adjectival Country Name and Currency Name
Name=Belize Dollar
Name[ar]=الدولار البيليزي
Name[ast]=Dólar belizianu
Name[bs]=beliski dolar
Name[ca]=Dòlar de Belize
Name[ca@valencia]=Dòlar de Belize
Name[cs]=Belizský dolar
Name[da]=Belizisk dollar
Name[de]=Belize-Dollar
Name[en_GB]=Belize Dollar
Name[es]=Dólar beliceño
Name[et]=Belize dollar
Name[eu]=Belizeko dolar
Name[fa]=دلار بلیز
Name[fi]=Belizen dollari
Name[fr]=Dollar de Belize
Name[gd]=Dolar Beilìseach
Name[gl]=Dólar de Belice
Name[he]=דולאר בליזע
Name[hu]=Belizei dollár
Name[ia]=Dollar de Belize
Name[id]=Dollar Belize
Name[is]=Belísdollari
Name[it]=Dollaro del Belize
Name[ko]=벨리즈 달러
Name[lt]=Belizo doleris
Name[mr]=बेलाइज  डॉलर
Name[nb]=Belize-dollar
Name[nds]=Belize-Dollar
Name[nl]=Beliziaanse Dollar
Name[nn]=Belizisk dollar
Name[pa]=ਬੀਲੀਜ਼ਿ ਡਾਲਰ
Name[pl]=Dolar Belize
Name[pt]=Dólar do Belize
Name[pt_BR]=Dólar belizenho
Name[ru]=Белизский доллар
Name[sk]=Belizský dolár
Name[sl]=belizejski dolar
Name[sr]=белиски долар
Name[sr@ijekavian]=белиски долар
Name[sr@ijekavianlatin]=beliski dolar
Name[sr@latin]=beliski dolar
Name[sv]=Beliziska dollar
Name[tg]=Доллари Белиз
Name[tr]=Belize Doları
Name[uk]=Белізький долар
Name[x-test]=xxBelize Dollarxx
Name[zh_CN]=伯利兹元
Name[zh_TW]=貝里斯─元（Dollar）
CurrencyNameIso=Belize dollar
CurrencyUnitSymbols=$,BZ$,BZD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=BZ$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BZ
