[Currency Code]
CurrencyCodeIsoAlpha3=CAD
CurrencyCodeIsoNumeric3=124
#Context for Name: Adjectival Country Name and Currency Name
Name=Canadian Dollar
Name[ar]=الدولار الكندي
Name[ast]=Dólar canadianu
Name[bg]=Канадски долар
Name[bn]=কানাডিয়ান ডলার
Name[bs]=kanadski dolar
Name[ca]=Dòlar canadenc
Name[ca@valencia]=Dòlar canadenc
Name[cs]=Kanadský dolar
Name[csb]=Kanadëjsczi Dolar
Name[da]=Canadisk dollar
Name[de]=Kanadischer Dollar
Name[el]=Δολάριο Καναδά
Name[en_GB]=Canadian Dollar
Name[eo]=Kanada Dolaro
Name[es]=Dólar canadiense
Name[et]=Kanada dollar
Name[eu]=Kanadako dolar
Name[fa]=دلار کانادا
Name[fi]=Kanadan dollari
Name[fr]=Dollar canadien
Name[fy]=Kanadeeske dollar
Name[ga]=Dollar Cheanada
Name[gd]=Dolar Canadach
Name[gl]=Dólar canadiano
Name[gu]=કેનેડિઅન ડોલર
Name[he]=דולר קנדי
Name[hi]=केनॉडा डॉलर
Name[hr]=Kanadski dolar
Name[hu]=Kanadai dollár
Name[ia]=Canadian Dollar
Name[id]=Dollar Kanada
Name[is]=Kanadískur dollari
Name[it]=Dollaro canadese
Name[kk]=Канада доллары
Name[km]=Canadian Dollar
Name[kn]=ಕೆನಡಾದ ಡಾಲರ್
Name[ko]=캐나다 달러
Name[lt]=Kanados doleris
Name[lv]=Kanādas dolārs
Name[mai]=कनाडा डालर
Name[mk]=Канадски долар
Name[ml]=കനഡയിലെ ഡോളര്‍
Name[mr]=केनेडियन डॉलर
Name[nb]=Kanadiske dollar
Name[nds]=Kanaadsch Dollar
Name[nl]=Canadese Dollar
Name[nn]=Kanadisk dollar
Name[pa]=ਕੈਨੇਡੀਆਈ ਡਾਲਰ
Name[pl]=Dolar kanadyjski
Name[pt]=Dólar Canadiano
Name[pt_BR]=Dólar canadense
Name[ro]=Dolar canadian
Name[ru]=Канадский доллар
Name[si]=කැනේඩියානු ඩොලර්
Name[sk]=Kanadský dolár
Name[sl]=kanadski dolar
Name[sr]=канадски долар
Name[sr@ijekavian]=канадски долар
Name[sr@ijekavianlatin]=kanadski dolar
Name[sr@latin]=kanadski dolar
Name[sv]=Kanadensiska dollar
Name[tg]=Доллари Канада
Name[th]=ดอลลาร์แคนาดา
Name[tr]=Kanada Doları
Name[ug]=كانادا دوللىرى
Name[uk]=Канадський долар
Name[vi]=Đôla Canada
Name[wa]=Dolår canadyin
Name[x-test]=xxCanadian Dollarxx
Name[zh_CN]=加元
Name[zh_TW]=加拿大─元（Dollar）
CurrencyNameIso=Canadian dollar
CurrencyUnitSymbols=$,C$,CAD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=C$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=¢
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1871,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CA,PM
