[Currency Code]
CurrencyCodeIsoAlpha3=CDF
CurrencyCodeIsoNumeric3=976
#Context for Name: Adjectival Country Name and Currency Name
Name=Congolese Franc
Name[ar]=الفرنك الكونغولي
Name[ast]=Francu congolés
Name[bg]=Конгийски франк
Name[bn]=কঙ্গোলীজ ফ্রাঙ্ক
Name[bs]=kongoanski franak
Name[ca]=Franc congolès
Name[ca@valencia]=Franc congolés
Name[cs]=Konžský frank
Name[da]=Congolesisk franc
Name[de]=Kongo-Franc
Name[el]=Φράγκο Κονγκολέζικο
Name[en_GB]=Congolese Franc
Name[eo]=Konga franko
Name[es]=Franco congolés
Name[et]=Kongo frank
Name[eu]=Kongoko franko
Name[fa]=فرانک کونگولیزی
Name[fi]=Kongon frangi
Name[fr]=Franc congolais
Name[ga]=Franc Congólach
Name[gd]=Franc Congothach
Name[gl]=Franco congolés
Name[gu]=કોન્ગોલીઝ ફ્રાન્ક
Name[he]=פרנק קונגולזי
Name[hi]=कोंगोली फ्रांक
Name[hr]=Kongoanski franak
Name[hu]=Kongói frank
Name[ia]=Congolese Franc
Name[id]=Franc Kongo
Name[is]=Kongóskur franki
Name[it]=Franco congolese
Name[kk]=Конгоның франкі
Name[km]=Congolese Franc
Name[kn]=ಕೊಂಗೊಲೀಸ್ ಫ್ರಾಂಕ್
Name[ko]=콩고 프랑
Name[lt]=Kongo frankas
Name[lv]=Kongo franks
Name[mai]=कांगलेज फ्रैंक
Name[ml]=കോങ്കോളീസ് ഫ്രാങ്ക്
Name[mr]=कोंगोलीज फ्रांक
Name[nb]=Kongolesiske franc
Name[nds]=Kongo-Franc
Name[nl]=Kongolese franc
Name[nn]=Kongolesisk franc
Name[pa]=ਕਾਂਗੋਲੀਸੀ ਫਰੈਕ
Name[pl]=Frank kongijski
Name[pt]=Franco Congolês
Name[pt_BR]=Franco congolanos
Name[ro]=Franc congolez
Name[ru]=Конголезский франк
Name[si]=කොන්ගෝලීස් ෆ්‍රෑන්ක්
Name[sk]=Konžský frank
Name[sl]=kongoški frank
Name[sr]=конгоански франак
Name[sr@ijekavian]=конгоански франак
Name[sr@ijekavianlatin]=kongoanski franak
Name[sr@latin]=kongoanski franak
Name[sv]=Kongolesiska franc
Name[tg]=Франки Конго
Name[th]=ฟรังก์คองโก
Name[tr]=Kongo Frankı
Name[ug]=كونگو فرانكى
Name[uk]=Конголезький франк
Name[vi]=Frăng Congo
Name[wa]=Franc congolès
Name[x-test]=xxCongolese Francxx
Name[zh_CN]=科摩罗法郎
Name[zh_TW]=剛果─法郎（Franc）
CurrencyNameIso=Franc Congolais
CurrencyUnitSymbols=F,CDF
CurrencyUnitSymbolDefault=F
CurrencyUnitSymbolUnambiguous=CDF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1997,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CD
