[Currency Code]
CurrencyCodeIsoAlpha3=CHF
CurrencyCodeIsoNumeric3=756
#Context for Name: Adjectival Country Name and Currency Name
Name=Swiss Franc
Name[ar]=الفرنك السويسري
Name[ast]=Francu suizu
Name[bg]=Швейцарски франк
Name[bn]=সুইস ফ্রাঙ্ক
Name[bs]=švajcarski franak
Name[ca]=Franc suís
Name[ca@valencia]=Franc suís
Name[cs]=Švýcarský frank
Name[csb]=Szwajcarsczi Frank
Name[da]=Schweizerfranc
Name[de]=Schweizer Franken
Name[el]=Φράγκο Ελβετίας
Name[en_GB]=Swiss Franc
Name[eo]=Svisa franko
Name[es]=Franco suizo
Name[et]=Šveitsi frank
Name[eu]=Suitzako franko
Name[fa]=فرانک سوئیس
Name[fi]=Sveitsin frangi
Name[fr]=Franc suisse
Name[fy]=Switserske frank
Name[ga]=Franc na hEilvéise
Name[gd]=Franc Eilbheiseach
Name[gl]=Franco suízo
Name[gu]=સ્વિસ ફ્રાન્ક
Name[he]=פרנק שוויצי
Name[hi]=स्विस फ्रांक
Name[hr]=Švicarski frank
Name[hu]=Svájci frank
Name[ia]=Franc de Suissa
Name[id]=Franc Swiss
Name[is]=Svissneskur franki
Name[it]=Franco svizzero
Name[kk]=Швецария франкі
Name[km]=Swiss Franc
Name[kn]=ಸ್ವಿಸ್ ಫ್ರಾಂಕ್
Name[ko]=스위스 프랑
Name[lt]=Šveicarijos frankas
Name[lv]=Šveices franks
Name[mai]=स्विस फ्रैंक
Name[mk]=Швајцарски франк
Name[ml]=സ്വിസ്സ് ഫ്രാങ്ക്
Name[mr]=स्विस फ्रांक
Name[nb]=Sveitiske franc
Name[nds]=Swiezer Franken
Name[nl]=Zwitserse Frank
Name[nn]=Sveitisk franc
Name[pa]=ਸਵਿੱਸ ਫਰੈਸ
Name[pl]=Frank szwajcarski
Name[pt]=Franco Suíço
Name[pt_BR]=Franco suíço
Name[ro]=Franc elvețian
Name[ru]=Швейцарский франк
Name[si]=ස්විස් ෆ්‍රෑන්ක්
Name[sk]=Švajčiarsky frank
Name[sl]=švicarski frank
Name[sr]=швајцарски франак
Name[sr@ijekavian]=швајцарски франак
Name[sr@ijekavianlatin]=švajcarski franak
Name[sr@latin]=švajcarski franak
Name[sv]=Schweiziska franc
Name[tg]=Франки Швейсария
Name[th]=ฟรังก์สวิส
Name[tr]=İsviçre Frankı
Name[ug]=شىۋېتسىيە فرانكى
Name[uk]=Швейцарський франк
Name[vi]=Frăng Thụy Điển
Name[wa]=Franc swisse
Name[x-test]=xxSwiss Francxx
Name[zh_CN]=瑞士法郎
Name[zh_TW]=瑞士─法郎（Franc）
CurrencyNameIso=Swiss franc
CurrencyUnitSymbols=Fr.,SFr.,CHF
CurrencyUnitSymbolDefault=Fr.
CurrencyUnitSymbolUnambiguous=Fr.
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1850,05,07
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CH
