[Currency Code]
CurrencyCodeIsoAlpha3=CNY
CurrencyCodeIsoNumeric3=156
#Context for Name: Adjectival Country Name and Currency Name
Name=Chinese Yuan
Name[ar]=الين الصيني
Name[ast]=Renminbi chinu
Name[bs]=kineski juan
Name[ca]=Iuan xinès
Name[ca@valencia]=Iuan xinés
Name[cs]=Čínský juan
Name[da]=Kinesisk yuan
Name[de]=Chinesischer Yuan
Name[en_GB]=Chinese Yuan
Name[es]=Yuan chino
Name[et]=Hiina jüaan
Name[eu]=Txinako yuan
Name[fa]=یوان چین
Name[fi]=Kiinan yuan
Name[fr]=Yuan chinois
Name[gd]=Yuan Sìneach
Name[gl]=Yuán chinés
Name[he]=יין סיני
Name[hu]=Kínai jüan
Name[ia]=Yuan Chinese
Name[id]=Yuan Cina
Name[is]=Kínverskt júan
Name[it]=Yuan cinese
Name[ko]=중국 위안
Name[lt]=Kinijos juanis
Name[mr]=चायनिज युआन
Name[nb]=Kinesiske yuan
Name[nds]=Chineesch Yuan
Name[nl]=Chinese Yuan
Name[nn]=Kinesisk yuan
Name[pa]=ਚੀਨੀ ਯੇਨ
Name[pl]=Juan chiński
Name[pt]=Yuan Chinês
Name[pt_BR]=Yuan chinês
Name[ru]=Китайский юань
Name[sk]=Čínsky juan
Name[sl]=kitajski juan
Name[sr]=кинески јуан
Name[sr@ijekavian]=кинески јуан
Name[sr@ijekavianlatin]=kineski juan
Name[sr@latin]=kineski juan
Name[sv]=Kinesiska yuan
Name[tg]=Енаи Хитоӣ
Name[tr]=Çin Yuanı
Name[uk]=Китайський юань
Name[x-test]=xxChinese Yuanxx
Name[zh_CN]=人民币
Name[zh_TW]=中國─人民幣（RMB，Yuan）
CurrencyNameIso=Chinese Yuan
CurrencyUnitSymbols=¥,RMB,CNY
CurrencyUnitSymbolDefault=¥
CurrencyUnitSymbolUnambiguous=CNY
CurrencyUnitSingular=yuan
CurrencyUnitPlural=yuan
#CurrencySubunitSymbol=
CurrencySubunitSingular=jiǎo
CurrencySubunitPlural=jiǎo
#Revalued on 1955-04-01?
CurrencyIntroducedDate=1948,12,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
CurrencySubunits=2
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=10
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CN,HK,MO,KP,MM
