[Currency Code]
CurrencyCodeIsoAlpha3=COP
CurrencyCodeIsoNumeric3=170
#Context for Name: Adjectival Country Name and Currency Name
Name=Colombian Peso
Name[ar]=البيزو الكولومبي
Name[ast]=Pesu colombianu
Name[bs]=kolumbijski pezos
Name[ca]=Peso colombià
Name[ca@valencia]=Peso colombià
Name[cs]=Kolumbijské peso
Name[da]=Colombiansk peso
Name[de]=Kolumbianischer Peso
Name[en_GB]=Colombian Peso
Name[es]=Peso colombiano
Name[et]=Colombia peeso
Name[eu]=Kolonbiako peso
Name[fa]=پزوی کلمبیا
Name[fi]=Kolumbian peso
Name[fr]=Peso colombien
Name[gd]=Peso Coloimbeach
Name[gl]=Peso colombiano
Name[he]=פזו קולומביאני
Name[hu]=Kolumbiai peso
Name[ia]=Peso de Colombia
Name[id]=Peso Kolombia
Name[is]=Kólumbískur pesó
Name[it]=Peso colombiano
Name[ko]=콜롬비아 페소
Name[lt]=Kolumbijos pesas
Name[mr]=कोलंबिया पेसो
Name[nb]=Colombiske pesos
Name[nds]=Kolumbiaansch Peso
Name[nl]=Colombiaanse Peso
Name[nn]=Colombiansk peso
Name[pa]=ਕੋਲੰਬੀਆ ਪੀਸੋ
Name[pl]=Peso kolumbijskie
Name[pt]=Peso Colombiano
Name[pt_BR]=Peso colombiano
Name[ru]=Колумбийское песо
Name[sk]=Kolumbijské peso
Name[sl]=kolumbijski peso
Name[sr]=колумбијски пезос
Name[sr@ijekavian]=колумбијски пезос
Name[sr@ijekavianlatin]=kolumbijski pezos
Name[sr@latin]=kolumbijski pezos
Name[sv]=Colombianska peso
Name[tg]=Песои Колумбия
Name[tr]=Kolombiya Pezosu
Name[uk]=Колумбійське песо
Name[x-test]=xxColombian Pesoxx
Name[zh_CN]=哥伦比亚比索
Name[zh_TW]=哥倫比亞─披索（Peso）
CurrencyNameIso=Colombian peso
CurrencyUnitSymbols=$,COL$,COP
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=COP$
CurrencyUnitSingular=peso
CurrencyUnitPlural=pesos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1915,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CO
