[Currency Code]
CurrencyCodeIsoAlpha3=COU
CurrencyCodeIsoNumeric3=970
#Context for Name: Adjectival Country Name and Currency Name
Name=Colombian Unidad de Valor Real
Name[ast]=Unidá de valor real colombiana
Name[bg]=Колумбийски реал (обменна единица)
Name[bn]=Colombian Unidad de Valor Real
Name[bs]=kolumbijski unidad di valor real
Name[ca]=Unidad de Valor Real colombiana
Name[ca@valencia]=Unidad de Valor Real colombiana
Name[cs]=Kolumbijský Unidad de Valor Real
Name[csb]=Kòlumbijsczi Real
Name[da]=Colombiansk unidad de valor real
Name[de]=Kolumbianischer Unidad de Valor Real
Name[el]=Γιουνιντάτ ντε Φομέντο Κολομβίας
Name[en_GB]=Colombian Unidad de Valor Real
Name[es]=Unidad de Valor Real colombiana
Name[et]=Colombia Unidad de Valor Real
Name[eu]=Kolonbiako unidad de valor real
Name[fa]=یونیداد د والور واقعی کلمبیا
Name[fi]=Kolumbian unidad de valor real
Name[fr]=Unité de valeur réelle colombienne
Name[fy]=Kolombiaanske Unidad de Valor Real
Name[ga]=Unidad de Valor Real na Colóime
Name[gd]=Aonad fìor-luach Coloimbeach
Name[gl]=Unidade de Valor Real de Colombia
Name[gu]=કોલંબિઅન યુનિડાડ ડી વેલોર રીઅલ
Name[he]=Unidad de Valor אמיתי קולומביאני
Name[hi]=कोलम्बियाई Unidad de वास्तविक वीरता
Name[hr]=Colombian Unidad de Valor Real
Name[hu]=Kolumbiai real
Name[ia]=Colombian Unidad de Valor Real
Name[id]=Unidad de Valor Real Kolombia
Name[is]=Kólumbískt Unidad de Valor Real
Name[it]=Unidad de Valor Real colombiana
Name[kk]=Колумбияның Unidad de Valor Real-ы
Name[km]=Colombian Unidad de Valor Real
Name[ko]=콜롬비아 UVR
Name[lt]=Kolumbijos Unidad de Valor Real
Name[lv]=Kolumbijas Unidad de Valor Real
Name[mai]=Colombian Unidad de Valor Real
Name[ml]=കൊളംബിയയിലെ യുനിദാദ് ദെ വാലര്‍ റിയല്‍
Name[mr]=कोलंबियन उनिनाद दे वेलोर रिआल
Name[nb]=Colombiske Unidad de Valor Real
Name[nds]=Kolumbiaansch Unidad de Valor Real
Name[nl]=Colombiaanse unidad de valor real
Name[nn]=Colombiansk unidad de valor real
Name[pa]=ਕੋਲੰਬੀਅਨ ਯੂਨੀਡੇਡ ਡੇ ਵਾਲੋਰ ਰੀਅਲ
Name[pl]=Unidad de Valor Real kolumbijski
Name[pt]=Unidade de Valor Real da Colômbia
Name[pt_BR]=Unidade de Valor Real colombiano
Name[ro]=Unidad de Valor Real columbian
Name[ru]=Колумбийская индексируемая у.е. (UVR)
Name[si]=කොලොම්බියන් යුනිඩෑඩ් ඩි වැලර් රියාල්
Name[sk]=Kolumbijský real
Name[sl]=kolumbijska obračunska enota
Name[sr]=колумбијски унидад де валор реал
Name[sr@ijekavian]=колумбијски унидад де валор реал
Name[sr@ijekavianlatin]=kolumbijski unidad de valor real
Name[sr@latin]=kolumbijski unidad de valor real
Name[sv]=Colombianska unidad de valor real
Name[tg]=Реали Юнидади Колумбия де Валор
Name[tr]=Kolombiya Unidad  de Valor  Real
Name[ug]=كولومبىيە UDVR
Name[uk]=Колумбійський Unidad de Valor Real
Name[vi]=Unidad de Valor Real của Colombia
Name[wa]=Unidad de Valor Real colombyinne
Name[x-test]=xxColombian Unidad de Valor Realxx
Name[zh_CN]=哥伦比亚 COU
Name[zh_TW]=哥倫比亞─真正價值單位（Unidad de Valor Real）
CurrencyNameIso=Unidad de Valor Real
CurrencyUnitSymbols=COU
CurrencyUnitSymbolDefault=COU
CurrencyUnitSymbolUnambiguous=COU
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CO
