[Currency Code]
CurrencyCodeIsoAlpha3=CRC
CurrencyCodeIsoNumeric3=188
#Context for Name: Adjectival Country Name and Currency Name
Name=Costa Rican Colon
Name[ar]=الكولون الكوستاريكي
Name[ast]=Colón costarricanu
Name[bs]=kostarikanski kolon
Name[ca]=Colon costa-riqueny
Name[ca@valencia]=Colon costa-riqueny
Name[cs]=Kostarický colón
Name[da]=Costaricansk colon
Name[de]=Costa-Rica-Colón
Name[en_GB]=Costa Rican Colon
Name[es]=Colón costarricense
Name[et]=Costa Rica colon
Name[eu]=Costa Ricako colon
Name[fa]=کولون کاستاریکا
Name[fi]=Costa Rican colon
Name[fr]=Colon costaricain
Name[gd]=Colón Costa Rìceach
Name[gl]=Colón costarriqueño
Name[he]=קולון
Name[hu]=Costa Rica-i colón
Name[ia]=Colon de Costa Rica
Name[id]=Colon Kosta Rika
Name[is]=Kostaríkanskur kólon
Name[it]=Colón costaricano
Name[ko]=코스타리카 콜론
Name[lt]=Kosta Rikos kolonas
Name[mr]=कोस्टा रिका कोलोन
Name[nb]=Costa Rica-Colon
Name[nds]=Costa-Ricaansch Colón
Name[nl]=Costa Ricaanse Colon
Name[nn]=Kostarikansk colon
Name[pa]=ਕੋਸਟਾ ਰੀਕਾ ਕੋਲੋਨ
Name[pl]=Colon kostarykański
Name[pt]=Colombo da Costa Rica
Name[pt_BR]=Colón costa-riquenho
Name[ru]=Костариканский колон
Name[sk]=Kostarický colón
Name[sl]=kostariški kolon
Name[sr]=костарикански колон
Name[sr@ijekavian]=костарикански колон
Name[sr@ijekavianlatin]=kostarikanski kolon
Name[sr@latin]=kostarikanski kolon
Name[sv]=Costarikanska colón
Name[tg]=Колони Коста Рика
Name[tr]=Kosta Rika Kolonu
Name[uk]=Костариканський колон
Name[x-test]=xxCosta Rican Colonxx
Name[zh_CN]=哥斯达黎加Colon
Name[zh_TW]=哥斯大黎加─科郎（Colon）
CurrencyNameIso=Costa Rican colon
CurrencyUnitSymbols=₡,CRC
CurrencyUnitSymbolDefault=₡
CurrencyUnitSymbolUnambiguous=₡
CurrencyUnitSingular=colon
CurrencyUnitPlural=colons
CurrencySubunitSymbol=
CurrencySubunitSingular=centimo
CurrencySubunitPlural=centimos
CurrencyIntroducedDate=1896,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CR
