[Currency Code]
CurrencyCodeIsoAlpha3=CUP
CurrencyCodeIsoNumeric3=192
#Context for Name: Adjectival Country Name and Currency Name
Name=Cuban Peso
Name[ar]=البيزو الكوبي
Name[ast]=Pesu cubanu
Name[bg]=Кубинско песо
Name[bn]=কিউবার পেসো
Name[bs]=kubanski pezos
Name[ca]=Peso cubà
Name[ca@valencia]=Peso cubà
Name[cs]=Kubánské peso
Name[csb]=Kùbańsczé Peso
Name[da]=Cubansk peso
Name[de]=Kubanischer Peso
Name[el]=Πέσο Κούβας
Name[en_GB]=Cuban Peso
Name[eo]=Kuba peseto
Name[es]=Peso cubano
Name[et]=Kuuba peeso
Name[eu]=Kubako peso
Name[fa]=پزوی کوبا
Name[fi]=Kuuban peso
Name[fr]=Peso cubain
Name[fy]=Kubaanske peso
Name[ga]=Peso Cúba
Name[gd]=Peso Cùbach
Name[gl]=Peso cubano
Name[gu]=ક્યુબન પેસો
Name[he]=פסו קובני
Name[hi]=क्यूबाई पीसो
Name[hr]=Kubanski peso
Name[hu]=Kubai peso
Name[ia]=Cuban Peso
Name[id]=Peso Kuba
Name[is]=Kúbanskur pesó
Name[it]=Peso cubano
Name[kk]=Куба песосы
Name[km]=Cuban Peso
Name[kn]=ಕ್ಯೂಬನ್ ಪೆಸೊ
Name[ko]=쿠바 페소
Name[lt]=Kubos pesas
Name[lv]=Kubas peso
Name[mai]=क्यूबान पेसो
Name[mk]=Кубански пезос
Name[ml]=ക്യൂബയിലെ പെസൊ
Name[mr]=क्युबन पेसो
Name[nb]=Cubanske pesos
Name[nds]=Kubaansch Peso
Name[nl]=Cubaanse Peso
Name[nn]=Cubansk peso
Name[pa]=ਕਿਊਬਾ ਪੀਸੋ
Name[pl]=Peso kubańskie
Name[pt]=Peso Cubano
Name[pt_BR]=Peso cubano
Name[ro]=Peso cubanez
Name[ru]=Кубинское песо
Name[si]=කියුබානු පෙසෝ
Name[sk]=Kubánske peso
Name[sl]=kubanski peso
Name[sr]=кубански пезос
Name[sr@ijekavian]=кубански пезос
Name[sr@ijekavianlatin]=kubanski pezos
Name[sr@latin]=kubanski pezos
Name[sv]=Kubanska peso
Name[tg]=Песои Куба
Name[th]=เปโซคิวบา
Name[tr]=Küba Pesosu
Name[ug]=كۇبا پېسوسى
Name[uk]=Кубинське песо
Name[vi]=Peso Cuba
Name[wa]=Peso cubin
Name[x-test]=xxCuban Pesoxx
Name[zh_CN]=古巴比索
Name[zh_TW]=古巴─披索（Peso）
CurrencyNameIso=Cuban peso
CurrencyUnitSymbols=$,$MN,CUP
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=$MN
CurrencyUnitSingular=peso
CurrencyUnitPlural=pesos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1857,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CU
