[Currency Code]
CurrencyCodeIsoAlpha3=CVE
CurrencyCodeIsoNumeric3=132
#Context for Name: Adjectival Country Name and Currency Name
Name=Cape Verde Escudo
Name[ar]=اسكودو الرأس الأخضر
Name[ast]=Escudu cabuverdianu
Name[bs]=zelenortski eskudo
Name[ca]=Escut de Cap Verd
Name[ca@valencia]=Escut de Cap Verd
Name[cs]=Kapverdské escudo
Name[da]=Kapverdisk escudo
Name[de]=Kap-Verde-Escudo
Name[en_GB]=Cape Verde Escudo
Name[es]=Escudo de Cabo Verde
Name[et]=Roheneemesaarte eskuudo
Name[eu]=Cabo Verdeko eskudo
Name[fa]=اسکودوی کیپ ورده
Name[fi]=Kap Verden escudo
Name[fr]=Escudo cap-verdien
Name[gd]=Escudo a’ Chip Uaine
Name[gl]=Escudo de Cabo Verde
Name[hu]=Zöld-foki köztársasági escudo
Name[ia]=Escudo de Capo Verde
Name[id]=Escudo Tanjung Verde
Name[is]=Grænhöfðaeyskur eskúdó
Name[it]=Escudo capoverdiano
Name[ko]=카보베르데 이스쿠두
Name[lt]=Žaliojo Kyšulio eskudas
Name[mr]=केप वर्डे एस्क्युदो
Name[nb]=Kapp Verde-escudo
Name[nds]=Kap-Verde-Escudo
Name[nl]=Kaapverdische Escudo
Name[nn]=Kappverdisk escudo
Name[pa]=ਕੇਪ ਵੀਰਡੀ ਈਸੁਡੋ
Name[pl]=Escudo Zielonego Przylądka
Name[pt]=Escudo do Cabo Verde
Name[pt_BR]=Escudo cabo-verdiano
Name[ru]=Эскудо Кабо-Верде
Name[sk]=Kapverdské escudo
Name[sl]=zelenortski escudo
Name[sr]=зеленортски ескудо
Name[sr@ijekavian]=зеленортски ескудо
Name[sr@ijekavianlatin]=zelenortski eskudo
Name[sr@latin]=zelenortski eskudo
Name[sv]=Kapverdiska escudo
Name[tg]=Эскудои Кабо Верде
Name[tr]=Cape Verde Eskudosu
Name[uk]=Ескудо Кабо-Верде
Name[x-test]=xxCape Verde Escudoxx
Name[zh_CN]=佛得角埃斯库多
Name[zh_TW]=維德角─埃斯庫多（Escudo）
CurrencyNameIso=Cape Verde escudo
CurrencyUnitSymbols=$,Esc,CVE
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=Esc
CurrencyUnitSingular=escudo
CurrencyUnitPlural=escudos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1914,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CV
