[Currency Code]
CurrencyCodeIsoAlpha3=CZK
CurrencyCodeIsoNumeric3=203
#Context for Name: Adjectival Country Name and Currency Name
Name=Czech Koruna
Name[ar]=الكرونة التشيكية
Name[ast]=Corona checa
Name[bg]=Чешка крона
Name[bn]=চেক কোরুনা
Name[bs]=češka kruna
Name[ca]=Corona txeca
Name[ca@valencia]=Corona txeca
Name[cs]=Česká koruna
Name[csb]=Czëskô Kòróna
Name[da]=Tjekkisk koruna
Name[de]=Tschechische Krone
Name[el]=Κορόνα Τσεχίας
Name[en_GB]=Czech Koruna
Name[eo]=Ĉeĥa krono
Name[es]=Corona checa
Name[et]=Tšehhi kroon
Name[eu]=Txekiako koroa 
Name[fa]=کرونای چک
Name[fi]=Tšekin koruna
Name[fr]=Couronne tchèque
Name[fy]=Tsjechyske koruna
Name[ga]=Koruna na Seice
Name[gd]=Koruna Seiceach
Name[gl]=Coroa checa
Name[gu]=ચેઝ કોરુના
Name[he]=קורונה צ'כית
Name[hi]=चेक कोरुना
Name[hr]=Češke krune
Name[hu]=Cseh korona
Name[ia]=Czech Koruna
Name[id]=Koruna Ceko
Name[is]=Tékknesk korúna
Name[it]=Corona ceca
Name[kk]=Чех кронасы
Name[km]=Czech Koruna
Name[kn]=ಜೆಕ್ ಕೊರುನಾ
Name[ko]=체코 코루나
Name[lt]=Čekų krona
Name[lv]=Čehu krona
Name[ml]=ചെക്ക് കൊറുണാ
Name[mr]=झेक कोरुना
Name[nb]=Tsjekkiske koruna
Name[nds]=Tschechsch Kroon
Name[nl]=Tsjechische Kroon
Name[nn]=Tsjekkisk koruna
Name[pa]=ਚੈੱਕ ਕੋਰੁਨਾ
Name[pl]=Korona czeska
Name[pt]=Coroa Checa
Name[pt_BR]=Coroa checa
Name[ro]=Coroană cehă
Name[ru]=Чешская крона
Name[si]=චෙකොස්ලොවැකියානු කොරුනා
Name[sk]=Česká koruna
Name[sl]=češka krona
Name[sr]=чешка круна
Name[sr@ijekavian]=чешка круна
Name[sr@ijekavianlatin]=češka kruna
Name[sr@latin]=češka kruna
Name[sv]=Tjeckiska koruna
Name[tg]=Корунаи Чехия
Name[th]=โครูนาเช็ก
Name[tr]=Çek Korunası
Name[ug]=چېخ كورۇناسى
Name[uk]=Чеська крона
Name[vi]=Koruna của Czech
Name[wa]=Corone tcheke
Name[x-test]=xxCzech Korunaxx
Name[zh_CN]=捷克克朗
Name[zh_TW]=捷克─克朗（Koruna）
CurrencyNameIso=Czech Koruna
CurrencyUnitSymbols=Kč,CZK
CurrencyUnitSymbolDefault=Kč
CurrencyUnitSymbolUnambiguous=Kč
CurrencyUnitSingular=koruna
CurrencyUnitPlural=korun
CurrencySubunitSymbol=h
CurrencySubunitSingular=haler
CurrencySubunitPlural=haleru
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CZ
