[Currency Code]
CurrencyCodeIsoAlpha3=DEM
CurrencyCodeIsoNumeric3=276
#Context for Name: Adjectival Country Name and Currency Name
Name=German Mark
Name[ar]=المارك الألماني
Name[ast]=Marcu alemán
Name[bs]=njemačka marka
Name[ca]=Marc alemany
Name[ca@valencia]=Marc alemany
Name[cs]=Německá marka
Name[da]=Tysk mark
Name[de]=Deutsche Mark
Name[en_GB]=German Mark
Name[es]=Marco alemán
Name[et]=Saksa mark
Name[eu]=Alemaniako marko
Name[fa]=مارک آلمان
Name[fi]=Saksan markka
Name[fr]=Mark allemand
Name[gd]=Mark Gearmailteach
Name[gl]=Marco alemán
Name[hu]=Német márka
Name[ia]=Marc German
Name[id]=Mark Jerman
Name[is]=Þýskt mark
Name[it]=Marco tedesco
Name[ko]=독일 마르크
Name[lt]=Vokietijos markė
Name[mr]=जर्मन मार्क
Name[nb]=Tyske mark
Name[nds]=Düütsch Mark
Name[nl]=Duitse Mark
Name[nn]=Tysk mark
Name[pa]=ਜਰਮਨ ਮਾਰਕ
Name[pl]=Marka niemiecka
Name[pt]=Marco Alemão
Name[pt_BR]=Marco alemão
Name[ru]=Немецкая марка
Name[sk]=Nemecká marka
Name[sl]=nemška marka
Name[sr]=немачка марка
Name[sr@ijekavian]=њемачка марка
Name[sr@ijekavianlatin]=njemačka marka
Name[sr@latin]=nemačka marka
Name[sv]=Tyska mark
Name[tg]=Маркаи Германия
Name[tr]=Alman Markı
Name[uk]=Німецька марка
Name[x-test]=xxGerman Markxx
Name[zh_CN]=德国马克
Name[zh_TW]=德國─馬克（Mark）
CurrencyNameIso= German mark
CurrencyUnitSymbols=DM,DEM
CurrencyUnitSymbolDefault=DM
CurrencyUnitSymbolUnambiguous=DM
CurrencyUnitSingular=mark
CurrencyUnitPlural=mark
CurrencySubunitSymbol=Pf.
CurrencySubunitSingular=pfennig
CurrencySubunitPlural=pfennig
CurrencyIntroducedDate=1948,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
