[Currency Code]
CurrencyCodeIsoAlpha3=DJF
CurrencyCodeIsoNumeric3=262
#Context for Name: Adjectival Country Name and Currency Name
Name=Djibouti Franc
Name[ar]=الفرنك الجيبوتي
Name[ast]=Francu xibutianu
Name[bs]=džibutski franak
Name[ca]=Franc de Djibouti
Name[ca@valencia]=Franc de Djibouti
Name[cs]=Džibutský frank
Name[da]=Djiboutisk franc
Name[de]=Dschibuti-Franc
Name[en_GB]=Djibouti Franc
Name[es]=Franco yibutiano
Name[et]=Djibouti frank
Name[eu]=Djibutiko franko
Name[fa]=فرانک جیبوتی
Name[fi]=Djiboutin frangi
Name[fr]=Franc de Djibouti
Name[gd]=Franc Diobùtaidheach
Name[gl]=Franco de Xibutí
Name[hu]=Dzsibuti frank
Name[ia]=Franc de Djibouti
Name[id]=Franc Djibouti
Name[is]=Djíbútí franki
Name[it]=Franco gibutiano
Name[ko]=지부티 프랑
Name[lt]=Džibučio frankas
Name[mr]=डिज्बूयटी फ्रांक
Name[nb]=Djiboutiske franc
Name[nds]=Dschibuti-Franc
Name[nl]=Djiboutiaanse Frank
Name[nn]=Djiboutisk franc
Name[pa]=ਡਜੀਬੁਉਟੀ ਫਰੈਂਕ
Name[pl]=Frank dżibutyjski
Name[pt]=Franco do Djibouti
Name[pt_BR]=Franco djibutiense
Name[ru]=Франк Джибути
Name[sk]=Džibutský frank
Name[sl]=džibuški frank
Name[sr]=џибутски франак
Name[sr@ijekavian]=џибутски франак
Name[sr@ijekavianlatin]=džibutski franak
Name[sr@latin]=džibutski franak
Name[sv]=Djiboutiska franc
Name[tg]=Франки Ҷибути
Name[tr]=Cibuti Frankı
Name[uk]=Франк Джибуті
Name[x-test]=xxDjibouti Francxx
Name[zh_CN]=吉布提法郎
Name[zh_TW]=吉布地─法郎（Franc）
CurrencyNameIso=Djibouti franc
CurrencyUnitSymbols=Fdj,DJF
CurrencyUnitSymbolDefault=Fdj
CurrencyUnitSymbolUnambiguous=Fdj
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1949,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=DJ
