[Currency Code]
CurrencyCodeIsoAlpha3=DOP
CurrencyCodeIsoNumeric3=214
#Context for Name: Adjectival Country Name and Currency Name
Name=Dominican Peso
Name[ar]=البيزو الدومينيكاني
Name[ast]=Pesu dominicanu
Name[bs]=dominikanski pezos
Name[ca]=Peso dominicà
Name[ca@valencia]=Peso dominicà
Name[cs]=Dominikánské peso
Name[da]=Dominikansk peso
Name[de]=Dominikanischer Peso
Name[en_GB]=Dominican Peso
Name[es]=Peso dominicano
Name[et]=Dominikaani peeso
Name[eu]=Dominikako peso
Name[fa]=پزوی دومینیک
Name[fi]=Dominikaanisen tasavallan peso
Name[fr]=Peso dominicain
Name[gd]=Peso Doiminiceach
Name[gl]=Peso dominicano
Name[hu]=Dominikai peso
Name[ia]=Peso Dominican
Name[id]=Peso Dominika
Name[is]=Dóminíkanskur pesó
Name[it]=Peso dominicano
Name[ko]=도미니카 페소
Name[lt]=Dominikos pesas
Name[mr]=डोमीनीका पेसो
Name[nb]=Dominikanske pesos
Name[nds]=Dominikaansch Peso
Name[nl]=Dominicaanse Peso
Name[nn]=Dominikansk peso
Name[pa]=ਡੋਮਾਨੀਕਾ ਪੀਸੋ
Name[pl]=Peso dominikańskie
Name[pt]=Peso Dominicano
Name[pt_BR]=Peso dominicano
Name[ru]=Доминиканское песо
Name[sk]=Dominikánske peso
Name[sl]=dominikanski peso
Name[sr]=доминикански пезос
Name[sr@ijekavian]=доминикански пезос
Name[sr@ijekavianlatin]=dominikanski pezos
Name[sr@latin]=dominikanski pezos
Name[sv]=Dominikanska peso
Name[tg]=Песои Доминика
Name[tr]=Dominik Pezosu
Name[uk]=Домініканське песо
Name[x-test]=xxDominican Pesoxx
Name[zh_CN]=多米尼加比索
Name[zh_TW]=多明尼加─披索（Peso）
CurrencyNameIso=Dominican peso
CurrencyUnitSymbols=$,RD$,DOP
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=RD$
CurrencyUnitSingular=peso
CurrencyUnitPlural=peso
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1937,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=DO
