[Currency Code]
CurrencyCodeIsoAlpha3=DZD
CurrencyCodeIsoNumeric3=012
#Context for Name: Adjectival Country Name and Currency Name
Name=Algerian Dinar
Name[ar]=الدينار الجزائري
Name[ast]=Dinar arxelín
Name[bs]=alžirski dinar
Name[ca]=Dinar algerià
Name[ca@valencia]=Dinar algerià
Name[cs]=Alžírský dinár
Name[da]=Algerisk dinar
Name[de]=Algerischer Dinar
Name[en_GB]=Algerian Dinar
Name[es]=Dinar argelino
Name[et]=Alžeeria dinaar
Name[eu]=Aljeriako dinar
Name[fa]=دینار الجزایری
Name[fi]=Algerian dinaari
Name[fr]=Dinar algérien
Name[gd]=Dinar Aildireach
Name[gl]=Dinar alxerino
Name[hu]=Algériai dinár
Name[ia]=Dinar de Algeria
Name[id]=Dinar Aljazair
Name[is]=Alsírskur dínar
Name[it]=Dinaro algerino
Name[ko]=알제리 디나르
Name[lt]=Alžyro dinaras
Name[mr]=अल्जेरिया दिनार
Name[nb]=Algirske dinarer
Name[nds]=Algeersch Dinaar
Name[nl]=Algerijnse Dinar
Name[nn]=Algerisk dinar
Name[pa]=ਅਲਜੀਰੀਆ ਦਿਨਾਰ
Name[pl]=Dinar algierski
Name[pt]=Dinar Argelino
Name[pt_BR]=Dinar argelino
Name[ru]=Алжирский динар
Name[sk]=Alžírsky dinár
Name[sl]=alžirski dinar
Name[sr]=алжирски динар
Name[sr@ijekavian]=алжирски динар
Name[sr@ijekavianlatin]=alžirski dinar
Name[sr@latin]=alžirski dinar
Name[sv]=Algeriska dinar
Name[tg]=Динари Алҷазоир
Name[tr]=Cezayir Dinarı
Name[uk]=Алжирський динар
Name[x-test]=xxAlgerian Dinarxx
Name[zh_CN]=阿尔及利亚第纳尔
Name[zh_TW]=阿爾及利亞─第納爾（Dinar）
CurrencyNameIso=Algerian dinar
CurrencyUnitSymbols=دج,DA,DZD
CurrencyUnitSymbolDefault=دج
CurrencyUnitSymbolUnambiguous=دج
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=santeem
CurrencySubunitPlural=santeem
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=DZ
