[Currency Code]
CurrencyCodeIsoAlpha3=EEK
CurrencyCodeIsoNumeric3=233
#Context for Name: Adjectival Country Name and Currency Name
Name=Estonian Kroon
Name[ar]=الكرونة الإستونية
Name[ast]=Corona estoniana
Name[bs]=estonska kruna
Name[ca]=Corona estoniana
Name[ca@valencia]=Corona estoniana
Name[cs]=Estonská koruna
Name[da]=Estisk kroon
Name[de]=Estnische Krone
Name[en_GB]=Estonian Kroon
Name[es]=Corona estonia
Name[et]=Eesti kroon
Name[eu]=Estoniako koroa
Name[fa]=Estonian Kroon
Name[fi]=Viron kruunu
Name[fr]=Couronne estonienne
Name[gd]=Kroon Eastoineach
Name[gl]=Coroa estonia
Name[hu]=Észt korona
Name[ia]=Kroon Estonian 
Name[id]=Kroon Estonia
Name[is]=Eistneskt kroon
Name[it]=Corona estone
Name[ko]=에스토니아 크론
Name[lt]=Estijos krona
Name[mr]=एस्तोनियाई क्रून
Name[nb]=Estiske kroon
Name[nds]=Eestlannsch Kroon
Name[nl]=Estse Kroon
Name[nn]=Estisk kroon
Name[pa]=ਈਸਟੋਨੀਆ ਕਰੂਨ
Name[pl]=Korona estońska
Name[pt]=Coroa Estoniana
Name[pt_BR]=Coroa estoniana
Name[ru]=Эстонская крона
Name[sk]=Estónska koruna
Name[sl]=estonska krona
Name[sr]=естонска круна
Name[sr@ijekavian]=естонска круна
Name[sr@ijekavianlatin]=estonska kruna
Name[sr@latin]=estonska kruna
Name[sv]=Estniska kronor
Name[tg]=Крунаи Эстония
Name[tr]=Estonya Kronu
Name[uk]=Естонська крона
Name[x-test]=xxEstonian Kroonxx
Name[zh_CN]=爱沙尼亚亚克朗
Name[zh_TW]=愛沙尼亞─克朗（Kroon）
CurrencyNameIso=Kroon
CurrencyUnitSymbols=KR,EEK
CurrencyUnitSymbolDefault=KR
CurrencyUnitSymbolUnambiguous=KR
CurrencyUnitSingular=kroon
CurrencyUnitPlural=krooni
CurrencySubunitSymbol=
CurrencySubunitSingular=sent
CurrencySubunitPlural=senti
CurrencyIntroducedDate=1928,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2011,01,14
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
