[Currency Code]
CurrencyCodeIsoAlpha3=EGP
CurrencyCodeIsoNumeric3=818
#Context for Name: Adjectival Country Name and Currency Name
Name=Egyptian Pound
Name[ar]=الجنيه المصري
Name[ast]=Llibra exipciana
Name[bg]=Египетска лира
Name[bn]=মিশরীয় পাউন্ড
Name[bs]=egipatska funta
Name[ca]=Lliura egípcia
Name[ca@valencia]=Lliura egípcia
Name[cs]=Egyptská libra
Name[csb]=Egipsczi Fùnt
Name[da]=Egyptisk pund
Name[de]=Ägyptisches Pfund
Name[el]=Λίρα Αιγύπτου
Name[en_GB]=Egyptian Pound
Name[eo]=Egiptia pundo
Name[es]=Libra egipcia
Name[et]=Egiptuse nael
Name[eu]=Egiptoko libra
Name[fa]=پوند مصر
Name[fi]=Egyptin punta
Name[fr]=Livre égyptienne
Name[fy]=Egyptyske pûn
Name[ga]=Punt na hÉigipte
Name[gd]=Punnd Èipheiteach
Name[gl]=Libra exipcia
Name[gu]=ઈજીપ્શિઅન પાઉન્ડ
Name[he]=לירה מצרית
Name[hi]=मिस्र पोंड
Name[hr]=Egipatska funta
Name[hu]=Egyiptomi font
Name[ia]=Egyptian Pound
Name[id]=Pound Mesir
Name[is]=Egypskt pund
Name[it]=Lira egiziana
Name[kk]=Мысыр фунты
Name[km]=Egyptian Pound
Name[kn]=ಈಜಿಪ್ಟಿಯನ್ ಪೌಂಡ್
Name[ko]=이집트 파운드
Name[lt]=Egipto svaras
Name[lv]=Ēģiptes mārciņa
Name[mai]=मिश्र पोंड
Name[mk]=Египетска фунта
Name[ml]=ഈജിപ്റ്റിലെ പൌണ്ട്
Name[mr]=इजिप्शियन पाउंड
Name[nb]=Egyptiske pund
Name[nds]=Ägyptsch Pund
Name[nl]=Egyptisch Pond
Name[nn]=Egyptisk pund
Name[pa]=ਮਿਸਰੀ ਪਾਊਂਡ
Name[pl]=Funt egipski
Name[pt]=Libra Egípcia
Name[pt_BR]=Libra egípcia
Name[ro]=Liră egiptieană
Name[ru]=Египетский фунт
Name[si]=ඊජිප්තියානු පවුම්
Name[sk]=Egyptská libra
Name[sl]=egiptovski funt
Name[sr]=египатска фунта
Name[sr@ijekavian]=египатска фунта
Name[sr@ijekavianlatin]=egipatska funta
Name[sr@latin]=egipatska funta
Name[sv]=Egyptiska pund
Name[tg]=Фунти Миср
Name[th]=ปอนด์อียิปต์
Name[tr]=Mısır Poundu
Name[ug]=مىسىر فوند سىتېرلىڭى
Name[uk]=Єгипетський фунт
Name[vi]=Bảng Ai Cập
Name[wa]=Live edjipsyinne
Name[x-test]=xxEgyptian Poundxx
Name[zh_CN]=埃及镑
Name[zh_TW]=埃及─鎊（Pound）
CurrencyNameIso=Egyptian pound
CurrencyUnitSymbols=£,LE,ج.م,EGP
CurrencyUnitSymbolDefault=LE
CurrencyUnitSymbolUnambiguous=LE
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=Pt.
CurrencySubunitSingular=piastres
CurrencySubunitPlural=piastres
CurrencyIntroducedDate=1834,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=EG
