[Currency Code]
CurrencyCodeIsoAlpha3=ERN
CurrencyCodeIsoNumeric3=232
#Context for Name: Adjectival Country Name and Currency Name
Name=Eritrean Nakfa
Name[ar]=النقفة الإيريتيرية
Name[ast]=Nakfa eritréu
Name[bs]=eritrejska nakfa
Name[ca]=Nakfa d'Eritrea
Name[ca@valencia]=Nakfa d'Eritrea
Name[cs]=Eritrejská nakfa
Name[da]=Eritreansk nakfa
Name[de]=Eritreischer Nakfa
Name[en_GB]=Eritrean Nakfa
Name[es]=Nakfa de Eritrea
Name[et]=Eritrea nakfa
Name[eu]=Eritreako nakfa
Name[fa]=Eritrean Nakfa
Name[fi]=Eritrean nakfa
Name[fr]=Nakfa érythréen
Name[gd]=Nakfa Eartrach
Name[gl]=Nakfa eritreo
Name[hu]=Eritreai nakfa
Name[ia]=Nafka de Eritrea
Name[id]=Nakfa Eritrea
Name[is]=Erítresk nafka
Name[it]=Nakfa eritreo
Name[ko]=에리트레아 낙파
Name[lt]=Eritrėjos nakfa
Name[mr]=एरिट्रिआ नाक्फा
Name[nb]=Eritreiske Nakfa
Name[nds]=Eritreesch Nakfa
Name[nl]=Eritrese Nakfa
Name[nn]=Eritreisk nakfa
Name[pa]=ਈਰੀਟਰੀਆ ਨਾਕਾਫਾ
Name[pl]=Nakfa Erytrei
Name[pt]=Nakfa da Eritreia
Name[pt_BR]=Nakfa eritreu
Name[ru]=Эритрейская накфа
Name[sk]=Eritrejská nafka
Name[sl]=eritrejska nakfa
Name[sr]=еритрејска накфа
Name[sr@ijekavian]=еритрејска накфа
Name[sr@ijekavianlatin]=eritrejska nakfa
Name[sr@latin]=eritrejska nakfa
Name[sv]=Eritreanska nakfa
Name[tg]=Накфаи Эритрея
Name[tr]=Eritre Nakfası
Name[uk]=Еритрейська накфа
Name[x-test]=xxEritrean Nakfaxx
Name[zh_CN]=厄立特里亚纳克法
Name[zh_TW]=厄利垂亞─奈克法（Nakfa）
CurrencyNameIso=Nakfa
CurrencyUnitSymbols=Nfk,ERN
CurrencyUnitSymbolDefault=Nfk
CurrencyUnitSymbolUnambiguous=Nfk
CurrencyUnitSingular=nafka
CurrencyUnitPlural=nafka
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1997,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ER
