[Currency Code]
CurrencyCodeIsoAlpha3=ESP
CurrencyCodeIsoNumeric3=724
#Context for Name: Adjectival Country Name and Currency Name
Name=Spanish Peseta
Name[ar]=البيزيتا الإسبانية
Name[ast]=Peseta española
Name[bs]=španska pezeta
Name[ca]=Pesseta espanyola
Name[ca@valencia]=Pesseta espanyola
Name[cs]=Španělská peseta
Name[da]=Spansk peseta
Name[de]=Spanische Peseta
Name[en_GB]=Spanish Peseta
Name[es]=Peseta española
Name[et]=Hispaania peseeta
Name[eu]=Espainiako pezeta
Name[fa]=پزتای اسپانیایی
Name[fi]=Espanjan peseta
Name[fr]=Peseta espagnole
Name[gd]=Peseta Spàinnteach
Name[gl]=Peseta española
Name[hu]=Spanyol peseta
Name[ia]=Peseta Espaniol 
Name[id]=Peseta Spanyol
Name[is]=Spænskur peseti
Name[it]=Peseta spagnola
Name[ko]=스페인 페세타
Name[lt]=Ispanijos peseatas
Name[mr]=स्पॅनिश पेसेटा
Name[nb]=Spanske pesetas
Name[nds]=Spaansch Peseet
Name[nl]=Spaanse Peseta
Name[nn]=Spansk peseta
Name[pa]=ਸਪੇਨੀ ਪੀਸੀਟਾ
Name[pl]=Peseta hiszpańska
Name[pt]=Peseta Espanhola
Name[pt_BR]=Peseta espanhola
Name[ru]=Испанская песета
Name[sk]=Španielska peseta
Name[sl]=španska pezeta
Name[sr]=шпанска пезета
Name[sr@ijekavian]=шпанска пезета
Name[sr@ijekavianlatin]=španska pezeta
Name[sr@latin]=španska pezeta
Name[sv]=Spanska pesetas
Name[tg]=Песетои Испания
Name[tr]=İspanyol Pezetası
Name[uk]=Іспанська песета
Name[x-test]=xxSpanish Pesetaxx
Name[zh_CN]=西班牙比塞塔
Name[zh_TW]=西班牙─比塞塔（Peseta）
CurrencyNameIso=Spanish peseta
CurrencyUnitSymbols=Pta.,Pts.,Ptas,₧,ESP
CurrencyUnitSymbolDefault=Pta.
CurrencyUnitSymbolUnambiguous=Pta.
CurrencyUnitSingular=peseta
CurrencyUnitPlural=pesetas
CurrencySubunitSymbol=centimo
CurrencySubunitSingular=centimos
CurrencySubunitPlural=
CurrencyIntroducedDate=1869,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
