[Currency Code]
CurrencyCodeIsoAlpha3=EUR
CurrencyCodeIsoNumeric3=978
CurrencyNameIso=euro
#Context for Name: Adjectival Country Name and Currency Name
Name=Euro
Name[ar]=اليورو
Name[ast]=Euru
Name[bg]=Евро
Name[bn]=ইউরো
Name[bs]=evro
Name[ca]=Euro
Name[ca@valencia]=Euro
Name[cs]=Euro
Name[csb]=Eùro
Name[da]=Euro
Name[de]=Euro
Name[el]=Ευρώ
Name[en_GB]=Euro
Name[eo]=Eŭro
Name[es]=Euro
Name[et]=Euro
Name[eu]=Euro
Name[fa]=یورو
Name[fi]=Euro
Name[fr]=Euro
Name[fy]=Euro
Name[ga]=Eoró
Name[gd]=Eòro
Name[gl]=Euro
Name[gu]=યુરો
Name[he]=אירו
Name[hi]=यूरो
Name[hr]=Euro
Name[hu]=Euró
Name[ia]=Euro
Name[id]=Euro
Name[is]=Evra
Name[it]=Euro
Name[kk]=Еуро
Name[km]=អឺរ៉ូ
Name[kn]=ಯೂರೊ
Name[ko]=유로
Name[lt]=Euras
Name[lv]=Eiro
Name[mai]=यूरो
Name[mk]=Евро
Name[ml]=യൂറോ
Name[mr]=युरो
Name[nb]=Euro
Name[nds]=Euro
Name[nl]=Euro
Name[nn]=Euro
Name[pa]=ਯੂਰੋ
Name[pl]=Euro
Name[pt]=Euro
Name[pt_BR]=Euro
Name[ro]=Euro
Name[ru]=Евро
Name[si]=යූරෝ
Name[sk]=Euro
Name[sl]=evro
Name[sr]=евро
Name[sr@ijekavian]=евро
Name[sr@ijekavianlatin]=evro
Name[sr@latin]=evro
Name[sv]=Euro
Name[tg]=Евро
Name[th]=ยูโร
Name[tr]=Avro
Name[ug]=ياۋرو
Name[uk]=Євро
Name[vi]=Euro
Name[wa]=Uro
Name[x-test]=xxEuroxx
Name[zh_CN]=欧元
Name[zh_TW]=歐洲─歐元（Euro）
CurrencyUnitSymbols=€,EUR
CurrencyUnitSymbolDefault=€
#CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=euro
CurrencyUnitPlural=euros
CurrencySubunitSymbol=c
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
#Use accounting date
CurrencyIntroducedDate=1999,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AT,BE,CY,FI,FR,DE,EE,GR,IE,IT,LT,LU,LV,MT,NL,PT,SK,SI,ES,MC,SM,VA,AD,ME,ZW
