[Currency Code]
CurrencyCodeIsoAlpha3=FJD
CurrencyCodeIsoNumeric3=242
#Context for Name: Adjectival Country Name and Currency Name
Name=Fijian Dollar
Name[ar]=الدولار الفيجي
Name[ast]=Dólar fixanu
Name[bs]=fidžijski dolar
Name[ca]=Dòlar de Fiji
Name[ca@valencia]=Dòlar de Fiji
Name[cs]=Fidžijský dolar
Name[da]=Fijiansk dollar
Name[de]=Fidschi-Dollar
Name[en_GB]=Fijian Dollar
Name[es]=Dólar fiyiano
Name[et]=Fidži dollar
Name[eu]=Fijietako dolar
Name[fa]=دلار فیجی
Name[fi]=Fidžin dollari
Name[fr]=Dollar de Fidji
Name[gd]=Dolar Fìditheach
Name[gl]=Dólar fixiano
Name[hu]=Fidzsi dollár
Name[ia]=Dollar Fijian
Name[id]=Dollar Fiji
Name[is]=Fidjí-dollari
Name[it]=Dollaro delle Figi
Name[ko]=피지 달러
Name[lt]=Fidži doleris
Name[mr]=फिज़ी  डॉलर
Name[nb]=Fiji-dollar
Name[nds]=Fidschi-Dollar
Name[nl]=Fiji-Dollar
Name[nn]=Fijiansk dollar
Name[pa]=ਫਿਜੀ ਡਾਲਰ
Name[pl]=Dolar Fidżi
Name[pt]=Dólar das Fiji
Name[pt_BR]=Dólar fijiano
Name[ru]=Доллар Фиджи
Name[sk]=Fidžijský dolár
Name[sl]=fidžijski dolar
Name[sr]=фиџијски долар
Name[sr@ijekavian]=фиџијски долар
Name[sr@ijekavianlatin]=fidžijski dolar
Name[sr@latin]=fidžijski dolar
Name[sv]=Fijianska dollar
Name[tg]=Доллари Фиҷӣ
Name[tr]=Fiji Doları
Name[uk]=Фіджійський долар
Name[x-test]=xxFijian Dollarxx
Name[zh_CN]=斐济元
Name[zh_TW]=斐濟─元（Dollar）
CurrencyNameIso=Fiji dollar
CurrencyUnitSymbols=$,FJ$,FJD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=FJ$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1969,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=FJ
