[Currency Code]
CurrencyCodeIsoAlpha3=FKP
CurrencyCodeIsoNumeric3=238
#Context for Name: Adjectival Country Name and Currency Name
Name=Falkland Islands Pound
Name[ar]=جنيه جزر الفوكلاند
Name[ast]=Llibra malviniana
Name[bs]=foklandska funta
Name[ca]=Lliura de les Malvines
Name[ca@valencia]=Lliura de les Malvines
Name[cs]=Falklandská libra
Name[da]=Falklandsøerne pund
Name[de]=Falkland-Pfund
Name[en_GB]=Falkland Islands Pound
Name[es]=Libra malvinense
Name[et]=Falklandi saarte nael
Name[eu]=Malvinak Falkland uharteetako libra
Name[fa]=پوند جزایر فالک‌لند
Name[fi]=Falklandinsaarten punta
Name[fr]=Livre des Îles Falkland
Name[gd]=Punnd Fàclannach
Name[gl]=Libra das Illas Falkland
Name[hu]=Falkland-szigeteki font
Name[ia]=Libre del Insulas Falkland (Malvinas)
Name[id]=Pound Kepulauan Falkland
Name[is]=Falklandseyjapund
Name[it]=Sterlina delle Falkland
Name[ko]=포클랜드 제도 파운드
Name[lt]=Falklandų salų (Malvinų) svaras
Name[mr]=फाकलँड द्वीप पाउंड
Name[nb]=Falklandsøy-pund
Name[nds]=Falkland-Pund
Name[nl]=Falklandeilands Pond
Name[nn]=Falklandspund
Name[pa]=ਫਾਕਲੈਂਡ ਟਾਪੂ ਪਾਊਂਡ
Name[pl]=Funt falklandzki
Name[pt]=Libra das Ilhas Falkland
Name[pt_BR]=Libra malvina
Name[ru]=Фунт Фолклендских островов
Name[sk]=Falklandská libra
Name[sl]=falklandski funt
Name[sr]=фокландска фунта
Name[sr@ijekavian]=фокландска фунта
Name[sr@ijekavianlatin]=foklandska funta
Name[sr@latin]=foklandska funta
Name[sv]=Falklandspund
Name[tg]=Фунти Ҷазираҳои Фолкленд
Name[tr]=Falkland Adaları Poundu
Name[uk]=Фунт Фолклендських островів
Name[x-test]=xxFalkland Islands Poundxx
Name[zh_CN]=马尔维纳斯群岛镑
Name[zh_TW]=福克蘭群島─鎊（Pound）
CurrencyNameIso=Falkland Islands pound
CurrencyUnitSymbols=£,FK£,FKP
CurrencyUnitSymbolDefault=£
CurrencyUnitSymbolUnambiguous=FK£
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=p
CurrencySubunitSingular=penny
CurrencySubunitPlural=pence
CurrencyIntroducedDate=1971,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=FK
