[Currency Code]
CurrencyCodeIsoAlpha3=FRF
CurrencyCodeIsoNumeric3=250
#Context for Name: Adjectival Country Name and Currency Name
Name=French Franc
Name[ar]=الفرنك الفرنسي
Name[ast]=Francu francés
Name[bs]=francuski franak
Name[ca]=Franc francès
Name[ca@valencia]=Franc francés
Name[cs]=Francouzský frank
Name[da]=Fransk franc
Name[de]=Französischer Franc
Name[en_GB]=French Franc
Name[es]=Franco francés
Name[et]=Prantsuse frank
Name[eu]=Frantziako libera
Name[fa]=فرانک فرانسوی
Name[fi]=Ranskan frangi
Name[fr]=Franc français
Name[gd]=Franc Frangach
Name[gl]=Franco francés
Name[hu]=Francia frank
Name[ia]=FrancFrancese
Name[id]=Franc Perancis
Name[is]=Franskur franki
Name[it]=Franco francese
Name[ko]=프랑스 프랑
Name[lt]=Prancūzijos frankas
Name[mr]=फ्रेंच फ्रांक
Name[nb]=Franske franc
Name[nds]=Franzöösch Franc
Name[nl]=Franse Frank
Name[nn]=Franske franc
Name[pa]=ਫਰੈਂਚ ਫਰੈਂਕ
Name[pl]=Frank francuski
Name[pt]=Franco Francês
Name[pt_BR]=Franco francês
Name[ru]=Французский франк
Name[sk]=Francúzsky frank
Name[sl]=francoski frank
Name[sr]=француски франак
Name[sr@ijekavian]=француски франак
Name[sr@ijekavianlatin]=francuski franak
Name[sr@latin]=francuski franak
Name[sv]=Franska franc
Name[tg]=Франки Франсия
Name[tr]=Fransız Frangı
Name[uk]=Французький франк
Name[x-test]=xxFrench Francxx
Name[zh_CN]=法国法郎
Name[zh_TW]=法國─法郎（Franc）
CurrencyNameIso=French franc
CurrencyUnitSymbols=F,FF,₣,FRF
CurrencyUnitSymbolDefault=F
CurrencyUnitSymbolUnambiguous=FF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1960,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
