[Currency Code]
CurrencyCodeIsoAlpha3=GBP
CurrencyCodeIsoNumeric3=826
#Context for Name: Adjectival Country Name and Currency Name
Name=British Pound Sterling
Name[ar]=جنيه إسترليني بريطاني
Name[ast]=Llibra esterlina británica
Name[bg]=Британска лира
Name[bn]=বৃটিশ পাউন্ড স্টারলিং
Name[bs]=britanska funta sterlinga
Name[ca]=Lliura esterlina britànica
Name[ca@valencia]=Lliura esterlina britànica
Name[cs]=Britské libra šterlinků
Name[csb]=Britëjsczi Fùnt
Name[da]=Britisk pund sterling
Name[de]=Pfund Sterling
Name[el]=Λίρα στερλίνα
Name[en_GB]=British Pound Sterling
Name[eo]=Brita pundo
Name[es]=Libra esterlina británica
Name[et]=Briti naelsterling
Name[eu]=Britainiako Handiko libra esterlina
Name[fa]=پوند استرلینگ بریتانیا
Name[fi]=Englannin punta
Name[fr]=Livre sterling britannique
Name[fy]=Britske pûn
Name[ga]=Punt Sasanach
Name[gd]=Punnd Sasannach
Name[gl]=Libra esterlina
Name[gu]=બ્રિટિશ પાઉન્ડ સ્ટ્રલિંગ
Name[he]=לירה סטרלינג
Name[hi]=ब्रिटिश पोंड स्टर्लिंग
Name[hr]=Britanska funta
Name[hu]=Brit font
Name[ia]=Libra Sterling Britannic
Name[id]=Pound Sterling Inggris
Name[is]=Breskt sterlingspund
Name[it]=Sterlina britannica
Name[kk]=Британия стерлинг фунты
Name[km]=British Pound Sterling
Name[kn]=ಬ್ರಿಟಿಷ್ ಪೌಂಡ್ ಸ್ಟರ್ಲಿಂಗ್
Name[ko]=영국 파운드
Name[lt]=Britų svaras sterlingų
Name[lv]=Britu mārciņa
Name[ml]=ബ്രിട്ടീഷ് പൌണ്ട് സ്റ്റര്‍ലിങ്
Name[mr]=ब्रिटिश पाउंड स्टर्लिंग
Name[nb]=Britiske Pund Sterling
Name[nds]=Britsch Pund Sterling
Name[nl]=Britse pond sterling
Name[nn]=Britisk pund
Name[pa]=ਬਰਤਾਨਵੀ ਪੌਂਡ ਸਟਰਲਿੰਗ
Name[pl]=Funt szterling brytyjski
Name[pt]=Libra Esterlina Britânica
Name[pt_BR]=Libra esterlina britânica
Name[ro]=Liră sterlină britanică
Name[ru]=Британский фунт стерлингов
Name[si]=බ්‍රිතාන්‍ය පවුම් ස්ටාර්ලින්
Name[sk]=Britská libra
Name[sl]=angleški funt
Name[sr]=британска фунта стерлинга
Name[sr@ijekavian]=британска фунта стерлинга
Name[sr@ijekavianlatin]=britanska funta sterlinga
Name[sr@latin]=britanska funta sterlinga
Name[sv]=Brittiska pund
Name[tg]=Фунт-стерлинги Британия
Name[th]=ปอนด์สเตอร์ลิงอังกฤษ
Name[tr]=İngiliz Sterlini
Name[ug]=ئەنگلىيە فوندسىتېرلىڭى
Name[uk]=Британський фунт стерлінгів
Name[vi]=Bảng Anh
Name[wa]=Live sterling britanike
Name[x-test]=xxBritish Pound Sterlingxx
Name[zh_CN]=英镑先令
Name[zh_TW]=英國─英鎊先令（Pound Sterling）
CurrencyNameIso=Pound sterling
CurrencyUnitSymbols=£,GBP
CurrencyUnitSymbolDefault=£
#CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=p
CurrencySubunitSingular=penny
CurrencySubunitPlural=pence
#Use decimalisation day?
CurrencyIntroducedDate=1971,02,15
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=UK,FK,GI,GG,IM,JE,SH,GS,ZW
