[Currency Code]
CurrencyCodeIsoAlpha3=GHC
CurrencyCodeIsoNumeric3=288
#Context for Name: Adjectival Country Name and Currency Name
Name=Ghanaian Cedi
Name[ar]=السيدي الجورجي
Name[ast]=Cedi ghanianu (anterior)
Name[bg]=Ганайско седи
Name[bn]=ঘানার সেডি
Name[bs]=ganski sjedi raniji
Name[ca]=Cedi de Ghana
Name[ca@valencia]=Cedi de Ghana
Name[cs]=Ghanský cedi
Name[csb]=Ghanańsczé Cedi
Name[da]=Ghanesisk cedi
Name[de]=Ghanaischer Cedi
Name[el]=Σέντι Γκάνας
Name[en_GB]=Ghanaian Cedi
Name[eo]=Ganaa cedio
Name[es]=Cedi ghanés
Name[et]=Ghana cedi
Name[eu]=Ghanako cedi
Name[fa]=سه‌دی قنا
Name[fi]=Ghanan cedi (1979–2007)
Name[fr]=Cedi ghanéen
Name[fy]=Ghaneeske Cedi
Name[ga]=Cedi Gánach
Name[gd]=Cedi Gànach
Name[gl]=Cedi ganaiano
Name[gu]=ઘાનાઈન સેડી
Name[he]=סדי גאני
Name[hi]=घानी सेदी
Name[hr]=Ganski cedi
Name[hu]=Ghánai cedi (régi)
Name[ia]=Ghanaian Cedi
Name[id]=Cedi Ghana
Name[is]=Ganaískt cedí
Name[it]=Cedi ghanese
Name[kk]=Гананың седиі
Name[km]=Ghanaian Cedi
Name[kn]=ಘಾನಿಯನ್ ಸೆಡಿ
Name[ko]=가나 세디
Name[lt]=Ganos cedis
Name[lv]=Ganas sedi
Name[ml]=ഘാനൈയന്‍ സെഡി
Name[mr]=घानायन सेडी
Name[nb]=Ghanesiske Cedi
Name[nds]=Ghanaasch Cedi
Name[nl]=Ghanese Cedi
Name[nn]=Ghanesisk cedi
Name[pa]=ਘਾਨਾ ਸਿਡੇ
Name[pl]=Cedi ghańskie
Name[pt]=Cedi do Gana
Name[pt_BR]=Cedi ganense
Name[ro]=Cedi ghanez
Name[ru]=Ганский седи
Name[si]=ගානා සෙඩි
Name[sk]=Ghanský cedi
Name[sl]=ganski cedi (stari)
Name[sr]=гански седи ранији
Name[sr@ijekavian]=гански седи ранији
Name[sr@ijekavianlatin]=ganski sedi raniji
Name[sr@latin]=ganski sedi raniji
Name[sv]=Ghananska cedi
Name[tg]=Седи Гана
Name[th]=เซดีกานา
Name[tr]=Gana Sedisi
Name[ug]=گانا سېدىسى
Name[uk]=Ганійське седі
Name[vi]=Cedi của Ghana
Name[wa]=Cedi do Gana
Name[x-test]=xxGhanaian Cedixx
Name[zh_CN]=加纳塞地
Name[zh_TW]=迦納─舊塞地（Cedi）
CurrencyNameIso=Ghanaian cedi
CurrencyUnitSymbols=₵,GHC
CurrencyUnitSymbolDefault=₵
CurrencyUnitSymbolUnambiguous=₵
CurrencyUnitSingular=cedi
CurrencyUnitPlural=cedi
CurrencySubunitSymbol=
CurrencySubunitSingular=pesewa
CurrencySubunitPlural=pesewa
CurrencyIntroducedDate=1967,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,06,30
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
