[Currency Code]
CurrencyCodeIsoAlpha3=GNF
CurrencyCodeIsoNumeric3=324
#Context for Name: Adjectival Country Name and Currency Name
Name=Guinean Franc
Name[ar]=الفرنك الغيني
Name[ast]=Francu guineanu
Name[bs]=gvinejski franak
Name[ca]=Franc de Guinea
Name[ca@valencia]=Franc de Guinea
Name[cs]=Guinejský frank
Name[da]=Guineansk franc
Name[de]=Franc Guinéen
Name[en_GB]=Guinean Franc
Name[es]=Franco guineano
Name[et]=Guinea frank
Name[eu]=Gineako franko
Name[fa]=فرانک گینه
Name[fi]=Guinean frangi
Name[fr]=Franc guinéen
Name[gd]=Franc Ginitheach
Name[gl]=Franco guineano
Name[hu]=Guineai frank
Name[ia]=Franc de Guinea
Name[id]=Franc Guyana
Name[is]=Gíneanskur franki
Name[it]=Franco guineano
Name[ko]=기니 프랑
Name[lt]=Gvinėjos frankas
Name[mr]=गिनिया फ्रांक
Name[nb]=Guinea-franc
Name[nds]=Guineesch Franc
Name[nl]=Guinea Franc
Name[nn]=Guineansk franc
Name[pa]=ਗੁਇਨੀਆ ਫਰੈਂਕ
Name[pl]=Frank gwinejski
Name[pt]=Franco Guineense
Name[pt_BR]=Franco guineano
Name[ru]=Гвинейский франк
Name[sk]=Guinejský frank
Name[sl]=gvinejski sajli
Name[sr]=гвинејски франак
Name[sr@ijekavian]=гвинејски франак
Name[sr@ijekavianlatin]=gvinejski franak
Name[sr@latin]=gvinejski franak
Name[sv]=Guinesiska franc
Name[tg]=Франки Гвинея
Name[tr]=Gine Frankı
Name[uk]=Гвінейський франк
Name[x-test]=xxGuinean Francxx
Name[zh_CN]=几内亚法郎
Name[zh_TW]=幾內亞─法郎（Franc）
CurrencyNameIso=Guinea franc
CurrencyUnitSymbols=FG,Fr,GFr,GNF
CurrencyUnitSymbolDefault=FG
CurrencyUnitSymbolUnambiguous=FG
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1985,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GN
