[Currency Code]
CurrencyCodeIsoAlpha3=GRE
CurrencyCodeIsoNumeric3=300
#Context for Name: Adjectival Country Name and Currency Name
Name=Greek Drachma
Name[ar]=الدراخما اليوناني
Name[ast]=Dracma griegu
Name[bg]=Гръцка драхма
Name[bn]=গ্রীক ড্রাকমা
Name[bs]=grčka drahma
Name[ca]=Dracma grega
Name[ca@valencia]=Dracma grega
Name[cs]=Řecká drachma
Name[csb]=Greckô Drachma
Name[da]=Græsk drakme
Name[de]=Griechische Drachme
Name[el]=Ελληνική δραχμή
Name[en_GB]=Greek Drachma
Name[eo]=Greka drakmo
Name[es]=Dracma griego
Name[et]=Kreeka drahm
Name[eu]=Greziako drakma
Name[fa]=درخمای یونان
Name[fi]=Kreikan drakma
Name[fr]=Drachme grecque
Name[fy]=Grykse drachma
Name[ga]=Drachma na Gréige
Name[gd]=Drachma Greugach
Name[gl]=Dracma grego
Name[gu]=ગ્રીક ડ્રાચમા
Name[he]=דרכמה יוונית
Name[hi]=यूनानी द्राचमा
Name[hr]=Grčka drahma
Name[hu]=Görög drachma
Name[ia]=Drachma Grec
Name[id]=Drachma Yunani
Name[is]=Grísk drakma
Name[it]=Dracma greca
Name[kk]=Грекия драхмасы
Name[km]=Greek Drachma
Name[kn]=ಗ್ರೀಕ್ ಡ್ರಾಚ್ಮಾ
Name[ko]=그리스 드라크마
Name[lt]=Graikijos drachma
Name[lv]=Grieķijas drahma
Name[mai]=ग्रीक ड्राक्मा
Name[mk]=Грчка драхма
Name[ml]=ഗ്രീക് ഡറാചമാ
Name[mr]=ग्रीक ड्राच्मा
Name[nb]=Greske Drakmer
Name[nds]=Greeksch Drachme
Name[nl]=Griekse Drachme
Name[nn]=Gresk drakme
Name[pa]=ਗਰੀਕ ਡਰਾਚਮਾ
Name[pl]=Drachma grecka
Name[pt]=Dracma Grego
Name[pt_BR]=Dracma grego
Name[ro]=Drahmă grecească
Name[ru]=Греческая драхма
Name[si]=ග්‍රීක ඩ්‍රැච්මා
Name[sk]=Grécka drachma
Name[sl]=grška drahma
Name[sr]=грчка драхма
Name[sr@ijekavian]=грчка драхма
Name[sr@ijekavianlatin]=grčka drahma
Name[sr@latin]=grčka drahma
Name[sv]=Grekiska drachma
Name[tg]=Драхмаи Юнон
Name[tr]=Yunan Drahmisi
Name[ug]=گىرېتسىيە دراخماسى
Name[uk]=Грецька драхма
Name[vi]=Drachma của Hi Lạp
Name[wa]=Dracme greke
Name[x-test]=xxGreek Drachmaxx
Name[zh_CN]=希腊德拉克马
Name[zh_TW]=希臘─德拉馬克（Drachma）
CurrencyNameIso=Greek drachma
CurrencyUnitSymbols=Δρχ.,Δρ.,₯,GRE
CurrencyUnitSymbolDefault=Δρ.
CurrencyUnitSymbolUnambiguous=Δρ.
CurrencyUnitSingular=drachma
CurrencyUnitPlural=drachmas
CurrencySubunitSymbol=
CurrencySubunitSingular=lepton
CurrencySubunitPlural=leptons
CurrencyIntroducedDate=1954,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
