[Currency Code]
CurrencyCodeIsoAlpha3=GTQ
CurrencyCodeIsoNumeric3=320
#Context for Name: Adjectival Country Name and Currency Name
Name=Guatemalan Quetzal
Name[ar]=الكتزال الغواتيمالي
Name[ast]=Quetzal guatemalianu
Name[bs]=gvatemalski kvecal
Name[ca]=Quetzal de Guatemala
Name[ca@valencia]=Quetzal de Guatemala
Name[cs]=Guatemalský quetzal
Name[da]=Guatemalansk quetzal
Name[de]=Guatemaltekischer Quetzal
Name[en_GB]=Guatemalan Quetzal
Name[es]=Quetzal guatemalteco
Name[et]=Guatemala quetzal
Name[eu]=Guatemalako ketzal
Name[fa]=کوتزال گواتمالا
Name[fi]=Guatemalan quetzal
Name[fr]=Quetzal guatémaltèque
Name[gd]=Quetzal Guatamalach
Name[gl]=Quetzal guatemalteco
Name[hu]=Guatemalai quetzal
Name[ia]=Quetzal de Guatemala
Name[id]=Quetzal Guatemala
Name[is]=Gvatemala quetzal
Name[it]=Quetzal guatemalteco
Name[ko]=과테말라 케찰
Name[lt]=Gvatemalos ketsalis
Name[mr]=गुआटेमाला क्वेट्झाल
Name[nb]=Guatemala-Quetzal
Name[nds]=Guatemalteeksch Quetzal
Name[nl]=Guatemalaanse Quetzal
Name[nn]=Guatemalansk quetzal
Name[pa]=ਗੁਆਟੇਮਾਲਾ ਕਿਉਟਜਲ
Name[pl]=Quetzal gwatemalski
Name[pt]=Quetzal Guatemalteco
Name[pt_BR]=Quetzal guatemalteca
Name[ru]=Гватемальский кетсаль
Name[sk]=Guatemalský quetzal
Name[sl]=gvatemalški quetzal
Name[sr]=гватемалски квецал
Name[sr@ijekavian]=гватемалски квецал
Name[sr@ijekavianlatin]=gvatemalski kvecal
Name[sr@latin]=gvatemalski kvecal
Name[sv]=Guatemalanska quetzal
Name[tg]=Қетзали Гватемала
Name[tr]=Guatemala Kuetzalı
Name[uk]=Гватемальський кетцаль
Name[x-test]=xxGuatemalan Quetzalxx
Name[zh_CN]=危地马拉格查尔
Name[zh_TW]=瓜地馬拉─格查爾（Quetzal）
CurrencyNameIso=Quetzal
CurrencyUnitSymbols=Q,GTQ
CurrencyUnitSymbolDefault=Q
CurrencyUnitSymbolUnambiguous=Q
CurrencyUnitSingular=quetzal
CurrencyUnitPlural=quetzals
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1925,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GT
