[Currency Code]
CurrencyCodeIsoAlpha3=GWP
CurrencyCodeIsoNumeric3=624
#Context for Name: Adjectival Country Name and Currency Name
Name=Guinea-Bissau Peso
Name[ar]=بيزو غينيا-بيساو
Name[ast]=Pesu de Guinea-Bisáu
Name[bs]=gvinejabisajski pezos
Name[ca]=Pes de Guinea Bissau
Name[ca@valencia]=Pes de Guinea Bissau
Name[cs]=Guinea Bissau peso
Name[da]=Guinea-Bissau peso
Name[de]=Guinea-Bissau-Peso
Name[en_GB]=Guinea-Bissau Peso
Name[es]=Peso de Guinea-Bisáu
Name[et]=Guinea-Bissau peeso
Name[eu]=Ginea Bissauko peso
Name[fa]=پزوی گینه-بیساو
Name[fi]=Guinea-Bissaun peso
Name[fr]=Peso de Guinée-Bissau
Name[gd]=Peso Gini-Biosothach
Name[gl]=Peso de Guinea-Bisau
Name[hu]=Bissau-Guineai peso
Name[ia]=Peso de Guinea-Bissau
Name[id]=Peso Guyana-Bissau
Name[is]=Gínea-Bissá pesó
Name[it]=Peso della Guinea-Bissau
Name[ko]=기니비사우 페소
Name[lt]=Gvinėjos-Bisau pesas
Name[mr]=गिनिया-बिसाऊ पेसो
Name[nb]=Guinea-Bissau-pesos
Name[nds]=Guinea-Bissau-Peso
Name[nl]=Guinee-Bissause Peso
Name[nn]=Guinea-Bissau-pesos
Name[pa]=ਗੁਇਨਿਆ-ਬਿਸ਼ਾਉ ਪੀਸੋ
Name[pl]=Peso Gwinea Bissau
Name[pt]=Peso de Guiné-Bissau
Name[pt_BR]=Peso guineense
Name[ru]=Песо Гвинеи-Бисау
Name[sk]=Guinea-Bissau peso
Name[sl]=gvineja-bissauski peso
Name[sr]=гвинејабисајски пезос
Name[sr@ijekavian]=гвинејабисајски пезос
Name[sr@ijekavianlatin]=gvinejabisajski pezos
Name[sr@latin]=gvinejabisajski pezos
Name[sv]=Guinea-Bissau peso
Name[tg]=Песои Гвинеяи Бисау
Name[tr]=Gine-Biso Pezosu
Name[uk]=Песо Гвінеї-Бісау
Name[x-test]=xxGuinea-Bissau Pesoxx
Name[zh_CN]=几内亚比绍比索
Name[zh_TW]=幾內亞─比索披索（Bissau Peso）
CurrencyNameIso=Guinea-Bissau peso
CurrencyUnitSymbols=GWP
CurrencyUnitSymbolDefault=GWP
CurrencyUnitSymbolUnambiguous=GWP
CurrencyUnitSingular=peso
CurrencyUnitPlural=pesos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1975,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=1997,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
