[Currency Code]
CurrencyCodeIsoAlpha3=HKD
CurrencyCodeIsoNumeric3=344
#Context for Name: Adjectival Country Name and Currency Name
Name=Hong Kong Dollar
Name[ar]=الدولار الهونغ كونغي
Name[ast]=Dólar ḥongkonés
Name[bs]=hongkonški dolar
Name[ca]=Dòlar de Hong Kong
Name[ca@valencia]=Dòlar de Hong Kong
Name[cs]=Hong Kongský dolar
Name[da]=Hongkong dollar
Name[de]=Hongkong-Dollar
Name[en_GB]=Hong Kong Dollar
Name[es]=Dólar de Hong Kong
Name[et]=Hongkongi dollar
Name[eu]=Hong Kong-eko dolar
Name[fa]=دلار هنگ کنگ
Name[fi]=Hongkongin dollari
Name[fr]=Dollar de Hong-Kong
Name[gd]=Dolar Hong Kong
Name[gl]=Dólar de Hong Kong
Name[hu]=Hongkongi dollár
Name[ia]=Dollar de Hong Kong
Name[id]=Dollar Hong Kong
Name[is]=Hong-kong dollari
Name[it]=Dollaro di Hong Kong
Name[ko]=홍콩 달러
Name[lt]=Hong Kongo doleris
Name[mr]=हांगकांग  डॉलर
Name[nb]=Hongkong-dollar
Name[nds]=Hongkong-Dollar
Name[nl]=Hongkongse Dollar
Name[nn]=Hongkongdollar
Name[pa]=ਹਾਂਗ-ਕਾਂਗ ਡਾਲਰ
Name[pl]=Dolar hongkoński
Name[pt]=Dólar de Hong Kong
Name[pt_BR]=Dólar de Hong Kong
Name[ru]=Гонконгский доллар
Name[sk]=Hongkongský dolár
Name[sl]=hongkonški dolar
Name[sr]=хонгконшки долар
Name[sr@ijekavian]=хонгконшки долар
Name[sr@ijekavianlatin]=hongkonški dolar
Name[sr@latin]=hongkonški dolar
Name[sv]=Hongkongdollar
Name[tg]=Доллари Ҳонконг
Name[tr]=Hong Kong Doları
Name[uk]=Гонконгський долар
Name[x-test]=xxHong Kong Dollarxx
Name[zh_CN]=港币
Name[zh_TW]=香港─港幣（HK Dollar）
CurrencyNameIso=Hong Kong dollar
CurrencyUnitSymbols=$,HK$,HKD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=HK$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=¢
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=HK,MO,CN
