[Currency Code]
CurrencyCodeIsoAlpha3=HRK
CurrencyCodeIsoNumeric3=191
#Context for Name: Adjectival Country Name and Currency Name
Name=Croatian Kuna
Name[ar]=الكونا الكرواتية
Name[ast]=Kuna croata
Name[bs]=hrvatska kuna
Name[ca]=Kuna croat
Name[ca@valencia]=Kuna croat
Name[cs]=Chorvatská kuna
Name[da]=Kroatisk kuna
Name[de]=Kroatische Kuna
Name[en_GB]=Croatian Kuna
Name[es]=Corona croata
Name[et]=Horvaatia kuna
Name[eu]=Kroaziako kuna
Name[fa]=کونای کرواسی
Name[fi]=Kroatian kuna
Name[fr]=Kuna croate
Name[gd]=Kuna Cròthaiseach
Name[gl]=Kuna croata
Name[hu]=Horvát kuna
Name[ia]=Kuna Croate
Name[id]=Kuna Kroasia
Name[is]=Króatísk kruna
Name[it]=Kuna croata
Name[ko]=크로아티아 쿠나
Name[lt]=Kroatijos kuna
Name[mr]=क्रोएशीयन कुना
Name[nb]=Kroatiske Kuna
Name[nds]=Kroaatsch Kuna
Name[nl]=Kroatische Kuna
Name[nn]=Kroatisk kuna
Name[pa]=ਕਰੋਆਟਿਆ ਕੁਨਾ
Name[pl]=Kuna chorwacka
Name[pt]=Coroa Croata
Name[pt_BR]=Kuna croata
Name[ru]=Хорватская куна
Name[sk]=Chorvátska kuna
Name[sl]=hrvaška kuna
Name[sr]=хрватска куна
Name[sr@ijekavian]=хрватска куна
Name[sr@ijekavianlatin]=hrvatska kuna
Name[sr@latin]=hrvatska kuna
Name[sv]=Kroatiska kuna
Name[tg]=Кунаи Хорватия
Name[tr]=Hırvat Kunası
Name[uk]=Хорватська куна
Name[x-test]=xxCroatian Kunaxx
Name[zh_CN]=克罗地亚库纳
Name[zh_TW]=克羅埃西亞─庫納（Kuna）
CurrencyNameIso=Croatian kuna
CurrencyUnitSymbols=kn,HRK
CurrencyUnitSymbolDefault=kn
CurrencyUnitSymbolUnambiguous=kn
CurrencyUnitSingular=kuna
CurrencyUnitPlural=kuna
CurrencySubunitSymbol=lp
CurrencySubunitSingular=lipa
CurrencySubunitPlural=lipa
CurrencyIntroducedDate=1994,05,30
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=HR
