[Currency Code]
CurrencyCodeIsoAlpha3=HUF
CurrencyCodeIsoNumeric3=348
#Context for Name: Adjectival Country Name and Currency Name
Name=Hungarian Forint
Name[ar]=الفورنت المجري
Name[ast]=Florín húngaru
Name[bs]=mađarska forinta
Name[ca]=Fòrint hongarès
Name[ca@valencia]=Fòrint hongarés
Name[cs]=Maďarský forint
Name[da]=Ungarnsk forint
Name[de]=Ungarischer Forint
Name[en_GB]=Hungarian Forint
Name[es]=Florín húngaro
Name[et]=Ungari forint
Name[eu]=Hungariako forint
Name[fa]=فورینت مجاری
Name[fi]=Unkarin forintti
Name[fr]=Forint hongrois
Name[gd]=Forint Ungaireach
Name[gl]=Florín húngaro
Name[hu]=Magyar forint
Name[ia]=Forint Hungare
Name[id]=Forint Hungaria
Name[is]=Ungversk forinta
Name[it]=Fiorino ungherese
Name[ko]=헝가리 포린트
Name[lt]=Vengrijos forintas
Name[mr]=हंगेरियाई फोरिंट
Name[nb]=Ungarske forint
Name[nds]=Ungaarsch Forint
Name[nl]=Hongaarse Forint
Name[nn]=Ungarsk forint
Name[pa]=ਹੰਗਰੀਆਈ ਫੋਰਿਨਟ
Name[pl]=Forint węgierski
Name[pt]=Forint Húngaro
Name[pt_BR]=Florim húngaro
Name[ru]=Венгерский форинт
Name[sk]=Maďarský forint
Name[sl]=madžarski forint
Name[sr]=мађарска форинта
Name[sr@ijekavian]=мађарска форинта
Name[sr@ijekavianlatin]=mađarska forinta
Name[sr@latin]=mađarska forinta
Name[sv]=Ungerska forint
Name[tg]=Форинти Венгрия
Name[tr]=Macar Forinti
Name[uk]=Угорський форинт
Name[x-test]=xxHungarian Forintxx
Name[zh_CN]=匈牙利福林
Name[zh_TW]=匈牙利─福林（Forint）
CurrencyNameIso=Forint
CurrencyUnitSymbols=Ft,HUF
CurrencyUnitSymbolDefault=Ft
CurrencyUnitSymbolUnambiguous=Ft
CurrencyUnitSingular=forint
CurrencyUnitPlural=forint
CurrencySubunitSymbol=
CurrencySubunitSingular=filler
CurrencySubunitPlural=fillers
CurrencyIntroducedDate=1946,08,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=HU
