[Currency Code]
CurrencyCodeIsoAlpha3=IDR
CurrencyCodeIsoNumeric3=360
#Context for Name: Adjectival Country Name and Currency Name
Name=Indonesian Rupiah
Name[ar]=الروبية الإندونيسية
Name[ast]=Rupia indonesia
Name[bs]=indonezijska rupija
Name[ca]=Rupia d'Indonèsia
Name[ca@valencia]=Rupia d'Indonèsia
Name[cs]=Indonéská rupie
Name[da]=Indonesisk rupiah
Name[de]=Indonesische Rupiah
Name[en_GB]=Indonesian Rupiah
Name[es]=Rupia indonesia
Name[et]=Indoneesia ruupia
Name[eu]=Indonesiako errupia
Name[fa]=روپیه اندونزی
Name[fi]=Indonesian rupia
Name[fr]=Roupie indonésienne
Name[gd]=Rupiah Innd-Innseach
Name[gl]=Rupía indonesia
Name[hu]=Indonéz rúpia
Name[ia]=Rupia Indonesian
Name[id]=Rupiah Indonesia
Name[is]=Indónesísk rúpía
Name[it]=Rupia indonesiana
Name[ko]=인도네시아 루피아
Name[lt]=Indonezijos rupija
Name[mr]=इंडोनेशियाई रुपिया
Name[nb]=Indonesiske rupier
Name[nds]=Indoneesch Rupje
Name[nl]=Indonesische Roepia
Name[nn]=Indonesisk rupiah
Name[pa]=ਇੰਡੋਨੇਸ਼ੀਆ ਰੁਪਇਆ
Name[pl]=Rupia indonezyjska
Name[pt]=Rupia Indonésia
Name[pt_BR]=Rúpia indonésia
Name[ru]=Индонезийская рупия
Name[sk]=Indonézska rupia
Name[sl]=indonezijska rupija
Name[sr]=индонезијска рупија
Name[sr@ijekavian]=индонезијска рупија
Name[sr@ijekavianlatin]=indonezijska rupija
Name[sr@latin]=indonezijska rupija
Name[sv]=Indonesiska rupie
Name[tg]=Рупияи Индонезия
Name[tr]=Endonezya Rupisi
Name[uk]=Індонезійська рупія
Name[x-test]=xxIndonesian Rupiahxx
Name[zh_CN]=印度尼西亚卢比
Name[zh_TW]=印尼─盾（Rupiah）
CurrencyNameIso=Rupiah
CurrencyUnitSymbols=Rp,IDR
CurrencyUnitSymbolDefault=Rp
CurrencyUnitSymbolUnambiguous=IDR
CurrencyUnitSingular=rupiah
CurrencyUnitPlural=rupiah
CurrencySubunitSymbol=
CurrencySubunitSingular=sen
CurrencySubunitPlural=sen
CurrencyIntroducedDate=1965,12,13
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ID,TL
