[Currency Code]
CurrencyCodeIsoAlpha3=ILS
CurrencyCodeIsoNumeric3=376
#Context for Name: Adjectival Country Name and Currency Name
Name=Israeli New Sheqel
Name[ar]=الشيكل الإسرائيلي الجديد
Name[ast]=Nuevu xéquel israelín
Name[bg]=Израелски нов шекел
Name[bn]=ইজরায়েলের নতুন শেকেল
Name[bs]=izraelski novi šekel
Name[ca]=Nou xéquel israelià
Name[ca@valencia]=Nou xéquel israelià
Name[cs]=Nový izraelský šekel
Name[csb]=Izraelsczi Nowi Szeczél
Name[da]=Israelsk ny shekel
Name[de]=Israelischer Schekel
Name[el]=Νέο σέκελ Ισραήλ
Name[en_GB]=Israeli New Sheqel
Name[eo]=Nova israela siklo
Name[es]=Nuevo shéquel israelí
Name[et]=Iisraeli uus seekel
Name[eu]=Israelgo shekel berria
Name[fa]=شه‌کل نوی اسرائیلی
Name[fi]=Israelin uusi sekeli
Name[fr]=Nouveau shekel israélien
Name[fy]=Isreaelyske nij sheqel
Name[ga]=Seiceal Nua Iosraelach
Name[gd]=Sheqel ùr Iosraeleach
Name[gl]=Novo shekel israelita
Name[gu]=ઈઝરાયેલી ન્યુ શેકેલ
Name[he]=שקל חדש ישראלי
Name[hi]=इसरायली न्यू Sheqel
Name[hr]=Izraelski novi šekel
Name[hu]=Izraeli új sékel
Name[ia]=Israeli Nove Sheqel
Name[id]=New Sheqel Israel
Name[is]=Ísraelskt nýtt sheqel
Name[it]=Nuovo siclo israeliano
Name[kk]=Израильдің жаңа шекелі
Name[km]=Israeli New Sheqel
Name[kn]=ಇಸ್ರೇಲ್‌ನ ಹೊಸ ಶೆಕೆಲ್
Name[ko]=이스라엘 신 셰켈
Name[lt]=Izraelio naujasis šekelis
Name[lv]=Izraēlas jaunais šekelis
Name[mk]=Израелски Нов шекел
Name[ml]=ഇസ്രായേലിലെ പുതിയ ഷേകേല്‍
Name[mr]=इस्राएली न्यु शेक्वेल
Name[nb]=Ny israelsk shekel
Name[nds]=Israeelsch nieg Schekel
Name[nl]=Israëlische Nieuwe Shekel
Name[nn]=Israelsk ny shekel
Name[pa]=ਇਜ਼ਰਾਇਲੀ ਨਵਾਂ ਸ਼ੇਕੇਲ
Name[pl]=Nowy szekl izraelski
Name[pt]=Sheqel Novo Israelita
Name[pt_BR]=Novo sheqel israelita
Name[ro]=Șekel nou israelian
Name[ru]=Израильский новый шекель
Name[si]=ඊස්‍රායල නව ශෙකුල්
Name[sk]=Izraelský nový šekel
Name[sl]=izraelski novi šekel
Name[sr]=израелски нови шекел
Name[sr@ijekavian]=израелски нови шекел
Name[sr@ijekavianlatin]=izraelski novi šekel
Name[sr@latin]=izraelski novi šekel
Name[sv]=Nya israeliska shekel
Name[tg]=Шекели Нави Исроил
Name[th]=เชเกลอิสราเอล
Name[tr]=İsrail Yeni Şekeli
Name[ug]=ئىسرائىل يېڭى شېكېلى
Name[uk]=Ізраїльський новий шекель
Name[vi]=Shequel mới của Israel
Name[wa]=Noû Chekel israyelyin
Name[x-test]=xxIsraeli New Sheqelxx
Name[zh_CN]=新谢克尔
Name[zh_TW]=以色列─新舍克（New Sheqel）
CurrencyNameIso=Israeli new sheqel
CurrencyUnitSymbols=₪,ILS
CurrencyUnitSymbolDefault=₪
CurrencyUnitSymbolUnambiguous=₪
CurrencyUnitSingular=shekel
CurrencyUnitPlural=shekalim
CurrencySubunitSymbol=
CurrencySubunitSingular=agora
CurrencySubunitPlural=agorot
CurrencyIntroducedDate=1986,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=IL,PL
