[Currency Code]
CurrencyCodeIsoAlpha3=INR
CurrencyCodeIsoNumeric3=356
#Context for Name: Adjectival Country Name and Currency Name
Name=Indian Rupee
Name[ar]=الروبية الهندية
Name[ast]=Rupia india
Name[bg]=Индийска рупия
Name[bn]=ভারতীয় রূপিয়া
Name[bs]=indijska rupija
Name[ca]=Rupia índia
Name[ca@valencia]=Rupia índia
Name[cs]=Indická rupie
Name[csb]=Indijskô Rupia
Name[da]=Indisk rupee
Name[de]=Indische Rupie
Name[el]=Ινδικό ρούπε
Name[en_GB]=Indian Rupee
Name[eo]=Barata rupio
Name[es]=Rupia india
Name[et]=India ruupia
Name[eu]=Indiako errupia
Name[fa]=روپیه هند
Name[fi]=Intian rupia
Name[fr]=Roupie indienne
Name[fy]=Indyske rupee
Name[ga]=Rúipí na hIndia
Name[gd]=Rupee Innseanach
Name[gl]=Rupia da India
Name[gu]=ભારતીય રુપી
Name[he]=רופיה הודית
Name[hi]= सूची बनाना निलंबित
Name[hr]=Indijska rupija
Name[hu]=Indiai rúpia
Name[ia]=Indian Rupee
Name[id]=Rupee India
Name[is]=Indversk rúpía
Name[it]=Rupia indiana
Name[kk]=Үндістан рупиясы
Name[km]=រ៉ូពី​ឥណ្ឌា
Name[kn]=ಭಾರತದ ರುಪಾಯಿ
Name[ko]=인도 루피
Name[lt]=Indijos rupija
Name[lv]=Indijas rūpija
Name[ml]=ഇന്ത്യയിലെ രൂപ
Name[mr]=भारतीय रुपया
Name[nb]=Indiske rupier
Name[nds]=Indsch Rupje
Name[nl]=Indiase roepie
Name[nn]=Indisk rupi
Name[pa]=ਭਾਰਤੀ ਰੁਪਇਆ
Name[pl]=Rupia indyjska
Name[pt]=Rupia Indiana
Name[pt_BR]=Rúpia indiana
Name[ro]=Rupie indiană
Name[ru]=Индийская рупия
Name[si]=ඉන්දියානු රුපියල්
Name[sk]=Indická rupia
Name[sl]=indijska rupija
Name[sr]=индијска рупија
Name[sr@ijekavian]=индијска рупија
Name[sr@ijekavianlatin]=indijska rupija
Name[sr@latin]=indijska rupija
Name[sv]=Indiska rupie
Name[tg]=Рупияи Ҳиндустон
Name[th]=รูปีอินเดีย
Name[tr]=Hindistan Rupisi
Name[ug]=ھىندىستان رۇپىيىسى
Name[uk]=Індійська рупія
Name[vi]=Rupi Ấn Độ
Name[wa]=Roupeye indiyinne
Name[x-test]=xxIndian Rupeexx
Name[zh_CN]=印度卢比
Name[zh_TW]=印度─盧比（Rupee）
CurrencyNameIso=Indian rupee
CurrencyUnitSymbols=₹,Rs.,रू,INR
CurrencyUnitSymbolDefault=₹
CurrencyUnitSymbolUnambiguous=₹
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=paisa
CurrencySubunitPlural=paise
CurrencyIntroducedDate=1957,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=IN,BT,NP
