[Currency Code]
CurrencyCodeIsoAlpha3=IRR
CurrencyCodeIsoNumeric3=364
#Context for Name: Adjectival Country Name and Currency Name
Name=Iranian Rial
Name[ar]=الريال الإيراني
Name[ast]=Rial iranín
Name[bg]=Ирански риал
Name[bn]=ইরানীয় রিয়াল
Name[bs]=iranski rijal
Name[ca]=Rial iranià
Name[ca@valencia]=Rial iranià
Name[cs]=Íránský rial
Name[csb]=Irańsczi Rial
Name[da]=Iransk rial
Name[de]=Iranischer Rial
Name[el]=Ριάλ Ιράν
Name[en_GB]=Iranian Rial
Name[eo]=Irana rialo
Name[es]=Rial iraní
Name[et]=Iraani riaal
Name[eu]=Irango rial
Name[fa]=ریال ایرانی
Name[fi]=Iranin rial
Name[fr]=Rial iranien
Name[fy]=Iraanse rial
Name[ga]=Rial na hIaráine
Name[gd]=Rial Iorànach
Name[gl]=Rial iraniano
Name[gu]=ઈરાનીઅલ રીઆલ
Name[he]=ריאל איראני
Name[hi]=इरानी रियाल
Name[hr]=Iranski rijal
Name[hu]=Iráni rial
Name[ia]=Iranian Rial
Name[id]=Rial Iran
Name[is]=Íranskur ríal
Name[it]=Rial iraniano
Name[kk]=Иран риалы
Name[km]=Iranian Rial
Name[kn]=ಇರಾನಿಯನ್ ರಿಯಾಲ್
Name[ko]=이란 리알
Name[lt]=Irano rialas
Name[lv]=Irānas riāls
Name[ml]=ഇറാനിലെ റിയാല്‍
Name[mr]=इराणीयन रिआल
Name[nb]=Iranske rial
Name[nds]=Iraansch Rial
Name[nl]=Iraanse Rial
Name[nn]=Iransk rial
Name[pa]=ਇਰਾਨੀ ਰੁਆਲ
Name[pl]=Rial irański
Name[pt]=Rial Iraniano
Name[pt_BR]=Rial iraniano
Name[ro]=Rial iranian
Name[ru]=Иранский риал
Name[si]=ඉරාන රියාල්
Name[sk]=Iránsky rial
Name[sl]=iranski rial
Name[sr]=ирански ријал
Name[sr@ijekavian]=ирански ријал
Name[sr@ijekavianlatin]=iranski rijal
Name[sr@latin]=iranski rijal
Name[sv]=Iranska rial
Name[tg]=Риали Эрон
Name[th]=เรียลอิหร่าน
Name[tr]=İran Riyali
Name[ug]=ئىران رىيالى
Name[uk]=Іранський ріал
Name[vi]=Rial Iran
Name[wa]=Rial iranyin
Name[x-test]=xxIranian Rialxx
Name[zh_CN]=伊朗里亚尔
Name[zh_TW]=伊朗─里亞爾（Rial）
CurrencyNameIso=Iranian rial
CurrencyUnitSymbols=﷼,IRR
CurrencyUnitSymbolDefault=﷼
CurrencyUnitSymbolUnambiguous=﷼
CurrencyUnitSingular=rial
CurrencyUnitPlural=rials
CurrencySubunitSymbol=
CurrencySubunitSingular=dinar
CurrencySubunitPlural=dinars
CurrencyIntroducedDate=1932,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=IR
