[Currency Code]
CurrencyCodeIsoAlpha3=ITL
CurrencyCodeIsoNumeric3=380
#Context for Name: Adjectival Country Name and Currency Name
Name=Italian Lira
Name[ar]=الليرة الإيطالية
Name[ast]=Llira italiana
Name[bs]=italijanska lira
Name[ca]=Lira Italiana
Name[ca@valencia]=Lira Italiana
Name[cs]=Italská lira
Name[da]=Italiensk lire
Name[de]=Italienische Lira
Name[en_GB]=Italian Lira
Name[es]=Lira italiana
Name[et]=Itaalia liir
Name[eu]=Italiako lira
Name[fa]=لیره ایتالیایی
Name[fi]=Italian liira
Name[fr]=Lire italienne
Name[gd]=Lira Eadailteach
Name[gl]=Lira italiana
Name[hu]=Olasz líra
Name[ia]=Lira Italian
Name[id]=Lira Italia
Name[is]=Ítölsk líra
Name[it]=Lira italiana
Name[ko]=이탈리아 리라
Name[lt]=Italijos lira
Name[mr]=इतालवी लिरा
Name[nb]=Italienske lire
Name[nds]=Italieensch Lira
Name[nl]=Italiaanse Lire
Name[nn]=Italiensk lire
Name[pa]=ਇਟਲੀ ਲੀਰਾ
Name[pl]=Lira włoska
Name[pt]=Lira Italiana
Name[pt_BR]=Lira italiana
Name[ru]=Итальянская лира
Name[sk]=Talianska líra
Name[sl]=italijanska lira
Name[sr]=италијанска лира
Name[sr@ijekavian]=италијанска лира
Name[sr@ijekavianlatin]=italijanska lira
Name[sr@latin]=italijanska lira
Name[sv]=Italienska lire
Name[tg]=Лираи Италия
Name[tr]=İtalyan Lirası
Name[uk]=Італійська ліра
Name[x-test]=xxItalian Liraxx
Name[zh_CN]=意大利里拉
Name[zh_TW]=義大利─里拉（Lira）
CurrencyNameIso=Italian lira
CurrencyUnitSymbols=₤,L,ITL
CurrencyUnitSymbolDefault=₤
CurrencyUnitSymbolUnambiguous=₤
CurrencyUnitSingular=lira
CurrencyUnitPlural=lire
CurrencySubunitSymbol=
CurrencySubunitSingular=centesimo
CurrencySubunitPlural=centesimi
CurrencyIntroducedDate=1861,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
