[Currency Code]
CurrencyCodeIsoAlpha3=JMD
CurrencyCodeIsoNumeric3=388
#Context for Name: Adjectival Country Name and Currency Name
Name=Jamaican Dollar
Name[ar]=الدولار الجامايكي
Name[ast]=Dólar xamaicanu
Name[bs]=jamajčanski dolar
Name[ca]=Dòlar jamaicà
Name[ca@valencia]=Dòlar jamaicà
Name[cs]=Jamajský dolar
Name[da]=Jamaicansk dollar
Name[de]=Jamaika-Dollar
Name[en_GB]=Jamaican Dollar
Name[es]=Dólar jamaicano
Name[et]=Jamaica dollar
Name[eu]=Jamaikako dolar
Name[fa]=دلار جامائیکائی
Name[fi]=Jamaikan dollari
Name[fr]=Dollar jamaïquain
Name[gd]=Dolar Diameugach
Name[gl]=Dólar xamaicano
Name[hu]=Jamaicai dollár
Name[ia]=Dollar de Jamaica
Name[id]=Dollar Jamaika
Name[is]=Jamaíkudollari
Name[it]=Dollaro giamaicano
Name[ko]=자메이카 달러
Name[lt]=Jamaikos doleris
Name[mr]=जमैका  डॉलर
Name[nb]=Jamaica-dollar
Name[nds]=Jamaikaansch Dollar
Name[nl]=Jamaicaanse Dollar
Name[nn]=Jamaikansk dollar
Name[pa]=ਜੈਮੇਕਾ ਡਾਲਰ
Name[pl]=Dolar jamajski
Name[pt]=Dólar Jamaicano
Name[pt_BR]=Dólar jamaicano
Name[ru]=Ямайский доллар
Name[sk]=Jamajský dolár
Name[sl]=jamajški dolar
Name[sr]=јамајчански долар
Name[sr@ijekavian]=јамајчански долар
Name[sr@ijekavianlatin]=jamajčanski dolar
Name[sr@latin]=jamajčanski dolar
Name[sv]=Jamaikanska dollar
Name[tg]=Доллари Ҷамайка
Name[tr]=Jamaika Doları
Name[uk]=Ямайський долар
Name[x-test]=xxJamaican Dollarxx
Name[zh_CN]=牙买加元
Name[zh_TW]=牙買加─元（Dollar）
CurrencyNameIso=Jamaican dollar
CurrencyUnitSymbols=$,J$,JA$,JMD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=J$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1969,09,08
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=JM
