[Currency Code]
CurrencyCodeIsoAlpha3=JOD
CurrencyCodeIsoNumeric3=400
#Context for Name: Adjectival Country Name and Currency Name
Name=Jordanian Dinar
Name[ar]=الدينار الأردني
Name[ast]=Dinar xordanu
Name[bg]=Йордански динар
Name[bn]=জর্ডানের দিনার
Name[bs]=jordanski dinar
Name[ca]=Dinar jordà
Name[ca@valencia]=Dinar jordà
Name[cs]=Jordánský dinár
Name[csb]=Jordańsczi Dolar
Name[da]=Jordansk dinar
Name[de]=Jordan-Dinar
Name[el]=Δηνάριο Ιορδανίας
Name[en_GB]=Jordanian Dinar
Name[eo]=Jordania dinaro
Name[es]=Dinar jordano
Name[et]=Jordaania dinaar
Name[eu]=Jordaniako dinar
Name[fa]=دینار اردنی
Name[fi]=Jordanian dinaari
Name[fr]=Dinar jordanien
Name[fy]=Jordaanske dinar
Name[ga]=Dinar na hIordáine
Name[gd]=Dinar Iòrdanach
Name[gl]=Dinar xordano
Name[gu]=જોર્ડીઅન દિનાર
Name[he]=דינר ירדני
Name[hi]=जोर्दानी दिनार
Name[hr]=Jordanian Dinar
Name[hu]=Jordán dínár
Name[ia]=Jordanian Dinar
Name[id]=Dinar Jordania
Name[is]=Jórdanskur dínar
Name[it]=Dinaro giordano
Name[kk]=Иордания динары
Name[km]=Jordanian Dinar
Name[kn]=ಜೋರ್ಡಾನಿಯನ್ ದಿನಾರ್
Name[ko]=요르단 디나르
Name[lt]=Jordanijos dinaras
Name[lv]=Jordānijas dolārs
Name[mk]=Јордански динар
Name[ml]=ജൊര്‍ദാനിലെ ദിനാര്‍
Name[mr]=जोर्डनियन दिनार
Name[nb]=Jordanske dinarer
Name[nds]=Jordaansch Dinaar
Name[nl]=Jordaanse Dinar
Name[nn]=Jordansk dinar
Name[pa]=ਜਾਰਡੀਅਨ ਦੀਨਾਰ
Name[pl]=Dinar jordański
Name[pt]=Dinar Jordano
Name[pt_BR]=Dinar jordaniano
Name[ro]=Dinar iordanian
Name[ru]=Иорданский динар
Name[si]=ජෝර්දාන ඩිනාර්
Name[sk]=Jordánsky dinár
Name[sl]=jordanski dinar
Name[sr]=јордански динар
Name[sr@ijekavian]=јордански динар
Name[sr@ijekavianlatin]=jordanski dinar
Name[sr@latin]=jordanski dinar
Name[sv]=Jordanska dinar
Name[tg]=Динори Иордания
Name[th]=ดีนาร์จอร์แดน
Name[tr]=Ürdün Dinarı
Name[ug]=ئىيوردانىيە دىنارى
Name[uk]=Йорданський динар
Name[vi]=Dinar Jordan
Name[wa]=Dinår djordanyin
Name[x-test]=xxJordanian Dinarxx
Name[zh_CN]=约旦第纳尔
Name[zh_TW]=約旦─第納爾（Dinar）
CurrencyNameIso=Jordanian dinar
CurrencyUnitSymbols=JD,JOD
CurrencyUnitSymbolDefault=JD
CurrencyUnitSymbolUnambiguous=JD
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=piastre
CurrencySubunitPlural=piastres
CurrencyIntroducedDate=1949,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
CurrencySubunits=3
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=JO,PS
