[Currency Code]
CurrencyCodeIsoAlpha3=KES
CurrencyCodeIsoNumeric3=404
#Context for Name: Adjectival Country Name and Currency Name
Name=Kenyan Shilling
Name[ar]=الشيلينغ الكيني
Name[ast]=Xilin kenianu
Name[bg]=Кенийски шилинг
Name[bn]=কেনিয়ার শিলিং
Name[bs]=kenijski šiling
Name[ca]=Xíling kenyà
Name[ca@valencia]=Xíling kenyà
Name[cs]=Keňský šilink
Name[csb]=Keńjańsczi Sziling
Name[da]=Kenyansk shilling
Name[de]=Kenia-Schilling
Name[el]=Σελίνι Κένυας
Name[en_GB]=Kenyan Shilling
Name[eo]=Kenja ŝilingo
Name[es]=Chelín keniano
Name[et]=Keenia šilling
Name[eu]=Kenyako txelin
Name[fa]=شیلینگ کنیائی
Name[fi]=Kenian šillinki
Name[fr]=Shilling kényan
Name[fy]=Kenyaanske schilling
Name[ga]=Scilling na Céine
Name[gd]=Shilling Ceineach
Name[gl]=Xilín queniano
Name[gu]=કેન્યન શીલિંગ
Name[he]=שילינג קנייאתי
Name[hi]=केन्याई शिल्लिंग
Name[hr]=Kenijski šiling
Name[hu]=Kenyai shilling
Name[ia]=Kenyan Shilling
Name[id]=Shilling Kenya
Name[is]=Kenískur skildingur
Name[it]=Scellino keniota
Name[kk]=Кения шиллингі
Name[km]=Kenyan Shilling
Name[kn]=ಕೀನ್ಯಾದ ಶಿಲಿಂಗ್
Name[ko]=케냐 실링
Name[lt]=Kenijos šilingas
Name[lv]=Kenijas šiliņš
Name[ml]=കെനിയയിലെ ഷില്ലിങ്ങ്
Name[mr]=केनयन शिलिंग
Name[nb]=Kenyanske shilling
Name[nds]=Keniaansch Schilling
Name[nl]=Keniaanse Shilling
Name[nn]=Kenyansk shilling
Name[pa]=ਕਿਨਯਾਨ ਸ਼ਿੱਲਿੰਗ
Name[pl]=Shilling kenijski
Name[pt]=Xelim Queniano
Name[pt_BR]=Xelim queniano
Name[ro]=Șiling kenyan
Name[ru]=Кенийский шиллинг
Name[si]=කෙන්යානු ශිලිං
Name[sk]=Keňský šiling
Name[sl]=kenijski šiling
Name[sr]=кенијски шилинг
Name[sr@ijekavian]=кенијски шилинг
Name[sr@ijekavianlatin]=kenijski šiling
Name[sr@latin]=kenijski šiling
Name[sv]=Kenyanska shilling
Name[tg]=Шиллинги Кения
Name[th]=ชิลลิงเคนยา
Name[tr]=Kenya Şilini
Name[ug]=كېنىيە شىللىڭى
Name[uk]=Кенійський шилінг
Name[vi]=Siling Kenya
Name[wa]=Chelin kenyan
Name[x-test]=xxKenyan Shillingxx
Name[zh_CN]=肯尼亚先令
Name[zh_TW]=肯亞─先令（Shilling）
CurrencyNameIso=Kenyan shilling
CurrencyUnitSymbols=KSh,KES
CurrencyUnitSymbolDefault=KSh
CurrencyUnitSymbolUnambiguous=KSh
CurrencyUnitSingular=shilling
CurrencyUnitPlural=shillings
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1966,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KE
