[Currency Code]
CurrencyCodeIsoAlpha3=KGS
CurrencyCodeIsoNumeric3=417
#Context for Name: Adjectival Country Name and Currency Name
Name=Kyrgyzstani Som
Name[ar]=السوم القرغيزستاني
Name[ast]=Som kirguistanín
Name[bs]=kirgistanski som
Name[ca]=Som de Kirguizistan
Name[ca@valencia]=Som de Kirguizistan
Name[cs]=Kyrgyzský som
Name[da]=Kirgisisk som
Name[de]=Som
Name[en_GB]=Kyrgyzstani Som
Name[es]=Som kirguís
Name[et]=Kõrgõzstani som
Name[eu]=Kirgizistango som
Name[fa]=سم قرقیزستان
Name[fi]=Kirgisian som
Name[fr]=Som kirghiz
Name[gd]=Som Cìorgasach
Name[gl]=Som quirguiz
Name[hu]=Kirgiz szom
Name[ia]=Som de Kirghizistan
Name[id]=Som Kyrgyzstan
Name[is]=Kirgisistanskt som
Name[it]=Som kirghizo
Name[ko]=키르기스스탄 솜
Name[lt]=Kirgistano somas
Name[mr]=कीर्गीझस्तान सोम
Name[nb]=Kirgisisk Som
Name[nds]=Kirgiisch Som
Name[nl]=Kirgizische som
Name[nn]=Kirgisisk som
Name[pa]=ਕਿਰਗਸਤਾਨ ਸੋਮ
Name[pl]=Som kirgiski
Name[pt]=Som do Quirguistão
Name[pt_BR]=Som quirguiz
Name[ru]=Киргизский сом
Name[sk]=Kirgijský som
Name[sl]=kirgizistanski som
Name[sr]=киргистански сом
Name[sr@ijekavian]=киргистански сом
Name[sr@ijekavianlatin]=kirgistanski som
Name[sr@latin]=kirgistanski som
Name[sv]=Kirgizistanska som
Name[tg]=Соми Қирғизистон
Name[tr]=Kırgızistan Somu
Name[uk]=Киргизький сом
Name[x-test]=xxKyrgyzstani Somxx
Name[zh_CN]=吉尔吉斯斯坦索姆
Name[zh_TW]=吉爾吉斯─薩姆（Som）
CurrencyNameIso=Som
CurrencyUnitSymbols=KGS
CurrencyUnitSymbolDefault=KGS
CurrencyUnitSymbolUnambiguous=KGS
CurrencyUnitSingular=som
CurrencyUnitPlural=som
CurrencySubunitSymbol=
CurrencySubunitSingular=tyiyn
CurrencySubunitPlural=tyiyn
CurrencyIntroducedDate=1993,05,10
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KG
