[Currency Code]
CurrencyCodeIsoAlpha3=KMF
CurrencyCodeIsoNumeric3=174
#Context for Name: Adjectival Country Name and Currency Name
Name=Comorian Franc
Name[ar]=فرنك جزر القمر
Name[ast]=Francu comoranu
Name[bg]=Коморийски франк
Name[bn]=কোমোরিয় ফ্রাঙ্ক
Name[bs]=komorski franak
Name[ca]=Franc de Comores
Name[ca@valencia]=Franc de Comores
Name[cs]=Komorský frank
Name[csb]=Kòmòrjańsczi Frank
Name[da]=Comorer-franc
Name[de]=Komoren-Franc
Name[el]=Φράγκο Comorian
Name[en_GB]=Comorian Franc
Name[eo]=Komora franko
Name[es]=Franco comorano
Name[et]=Komoori frank
Name[eu]=komoreetako franko
Name[fa]=فرانک کومور
Name[fi]=Komorien frangi
Name[fr]=Franc comorien
Name[fy]=Komoreeske frank
Name[ga]=Franc an Oileánraigh Chomóir
Name[gd]=Franc Comorosach
Name[gl]=Franco das Illas Comoros
Name[gu]=કોમોરીઅન ફ્રાન્ક
Name[he]=פרנק קמארוני
Name[hi]=कोमोरीयाई फ्रांक
Name[hr]=Komori frank
Name[hu]=Comore-szigeteki frank
Name[ia]=Comorian Franc
Name[id]=Franc Komoro
Name[is]=Komorra franki
Name[it]=Franco delle Comore
Name[kk]=Комор франкі
Name[km]=Comorian Franc
Name[kn]=ಕೊಮೊರಿಯನ್ ಫ್ರಾಂಕ್
Name[ko]=코모로 프랑
Name[lt]=Komorų frankas
Name[lv]=Komoras franks
Name[mk]=Коморски франк
Name[ml]=കൊമോരിയാന്‍ ഫ്രാങ്ക് 
Name[mr]=कोमोरियन फ्रांक
Name[nb]=Komorisk franc
Name[nds]=Komoorsch Franc
Name[nl]=Comorese franc
Name[nn]=Komorisk franc
Name[pa]=ਕੋਮੋਰੀਅਨ ਫਰੈਕ
Name[pl]=Frank komorski
Name[pt]=Franco Camaronês
Name[pt_BR]=Franco camaronês
Name[ro]=Franc comorian
Name[ru]=Коморский франк
Name[si]=කොමොරියන් ෆ්‍රෑන්ක්
Name[sk]=Komorský frank
Name[sl]=komorski frank
Name[sr]=коморски франак
Name[sr@ijekavian]=коморски франак
Name[sr@ijekavianlatin]=komorski franak
Name[sr@latin]=komorski franak
Name[sv]=Komoranska franc
Name[tg]=Франки Ҷазираҳои Камор
Name[th]=ฟรังก์โกโมเรีย
Name[tr]=Komoro Frankı
Name[ug]=كومورو فرانكى
Name[uk]=Франк Коморських островів
Name[vi]=Frăng Comoro
Name[wa]=Franc comoryin
Name[x-test]=xxComorian Francxx
Name[zh_CN]=科摩罗法郎
Name[zh_TW]=葛摩─法郎（Franc）
CurrencyNameIso=Comoro franc
CurrencyUnitSymbols=CF,KMF
CurrencyUnitSymbolDefault=CF
CurrencyUnitSymbolUnambiguous=CF
CurrencyUnitSingular=franc
CurrencyUnitPlural=franc
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KM
