[Currency Code]
CurrencyCodeIsoAlpha3=KPW
CurrencyCodeIsoNumeric3=408
#Context for Name: Adjectival Country Name and Currency Name
Name=North Korean Won
Name[ar]=وون كوريا الشمالية
Name[ast]=Won norcoreanu
Name[bs]=sjevernokorejski von
Name[ca]=Won nord-coreà
Name[ca@valencia]=Won nord-coreà
Name[cs]=Severokorejský won
Name[da]=Nordkoreansk won
Name[de]=Nordkoreanischer Won
Name[en_GB]=North Korean Won
Name[es]=Won norcoreano
Name[et]=Põhja-Korea won
Name[eu]=Ipar Koreako won
Name[fa]=کره شمالی ون
Name[fi]=Pohjois-Korean won
Name[fr]=Won nord-coréen
Name[gd]=Won Choirèa a Tuath
Name[gl]=Won norcoreano
Name[hu]=Észak-Koreai won
Name[ia]=Won de Corea del Nord
Name[id]=Won Korea Utara
Name[is]=Norður-Kóreskt von
Name[it]=Won nordcoreano
Name[ko]=조선민주주의인민공화국 원
Name[lt]=Šiaurės Korėjos vona
Name[mr]=उत्तर कोरिया वोन
Name[nb]=Nordkoreansk won
Name[nds]=Noordkoreaansch Won
Name[nl]=Noord-Koreaanse Won
Name[nn]=Nordkoreansk won
Name[pa]=ਉੱਤਰੀ ਕੋਰੀਆ ਵੋਨ
Name[pl]=Won północnokoreański
Name[pt]=Won da Coreia do Norte
Name[pt_BR]=Won norte-coreano
Name[ru]=Северокорейская вона
Name[sk]=Severokórejský won
Name[sl]=severnokorejski von
Name[sr]=севернокорејски вон
Name[sr@ijekavian]=сјевернокорејски вон
Name[sr@ijekavianlatin]=sjevernokorejski von
Name[sr@latin]=severnokorejski von
Name[sv]=Nordkoreanska won
Name[tg]=Вони Кореяи Шимолӣ
Name[tr]=Kuzey Kore Wonu
Name[uk]=Північнокорейська вона
Name[x-test]=xxNorth Korean Wonxx
Name[zh_CN]=朝鲜元
Name[zh_TW]=北韓─圜（Won）
CurrencyNameIso=North Korean won
CurrencyUnitSymbols=₩,KPW
CurrencyUnitSymbolDefault=₩
CurrencyUnitSymbolUnambiguous=₩
CurrencyUnitSingular=won
CurrencyUnitPlural=won
CurrencySubunitSymbol=
CurrencySubunitSingular=chon
CurrencySubunitPlural=chon
CurrencyIntroducedDate=1959,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KP
