[Currency Code]
CurrencyCodeIsoAlpha3=KRW
CurrencyCodeIsoNumeric3=410
#Context for Name: Adjectival Country Name and Currency Name
Name=South Korean Won
Name[ar]=وون كوريا الجنوبية
Name[ast]=Won surcoreanu
Name[bs]=južnokorejski von
Name[ca]=Won sud-coreà
Name[ca@valencia]=Won sud-coreà
Name[cs]=Jihokorejský won
Name[da]=Sydkoreansk won
Name[de]=Südkoreanischer Won
Name[en_GB]=South Korean Won
Name[es]=Won surcoreano
Name[et]=Lõuna-Korea won
Name[eu]=Hego Koreako won
Name[fa]=ون کره شمالی
Name[fi]=Etelä-Korean won
Name[fr]=Won sud-coréen
Name[gd]=Won Choirèa a Deas
Name[gl]=Won surcoreano
Name[hu]=Dél-Koreai won
Name[ia]=Won de Corea del Sud
Name[id]=Won Korea Selatan
Name[is]=Suður-Kóreskt von
Name[it]=Won sudcoreano
Name[ko]=대한민국 원
Name[lt]=Pietų Korėjos vona
Name[mr]=दक्षिण कोरिया वोन
Name[nb]=Sørkoreansk won
Name[nds]=Söödkoreaansch Won
Name[nl]=Zuid-Koreaanse Won
Name[nn]=Sørkoreansk won
Name[pa]=ਦੱਖਣੀ ਕੋਰੀਆ ਵੋਨ
Name[pl]=Won południowokoreański
Name[pt]=Won da Coreia do Sul
Name[pt_BR]=Won sul-coreano
Name[ru]=Южнокорейская вона
Name[sk]=Juhokórejský won
Name[sl]=južnokorejski von
Name[sr]=јужнокорејски вон
Name[sr@ijekavian]=јужнокорејски вон
Name[sr@ijekavianlatin]=južnokorejski von
Name[sr@latin]=južnokorejski von
Name[sv]=Sydkoreanska won
Name[tg]=Вони Кореяи Ҷанубӣ
Name[tr]=Güney Kore Vonu
Name[uk]=Південнокорейська вона
Name[x-test]=xxSouth Korean Wonxx
Name[zh_CN]=韩元
Name[zh_TW]=南韓─圜（Won）
CurrencyNameIso=South Korean won
CurrencyUnitSymbols=₩,KRW
CurrencyUnitSymbolDefault=₩
CurrencyUnitSymbolUnambiguous=₩
CurrencyUnitSingular=won
CurrencyUnitPlural=won
CurrencySubunitSymbol=
CurrencySubunitSingular=jeon
CurrencySubunitPlural=jeon
CurrencyIntroducedDate=1962,06,09
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KR
