[Currency Code]
CurrencyCodeIsoAlpha3=KZT
CurrencyCodeIsoNumeric3=398
#Context for Name: Adjectival Country Name and Currency Name
Name=Kazakhstani Tenge
Name[ar]=التينغ الكازاخستاني
Name[ast]=Tenge kazaquistanín
Name[bs]=kazahstanski tenge
Name[ca]=Tenge de Kazakhstan
Name[ca@valencia]=Tenge de Kazakhstan
Name[cs]=Kazašské tenge
Name[da]=Kasakhisk tenge
Name[de]=Tenge
Name[en_GB]=Kazakhstani Tenge
Name[es]=Tenge kazajo
Name[et]=Kasahstani tenge
Name[eu]=Kazakhstango tenge
Name[fa]=تنگه قزاقستان
Name[fi]=Kazakstanin tenge
Name[fr]=Tengue kazakhe
Name[gd]=Tenge Casachach
Name[gl]=Tenge cazaquistanés
Name[hu]=Kazah tenge
Name[ia]=Tenge de Kazakhstan
Name[id]=Tenge Kazakhstan
Name[is]=Kasakstanskt tenge
Name[it]=Tenge kazako
Name[ko]=카자흐스탄 텡게
Name[lt]=Kazachstano tengė
Name[mr]=कज़ाख टेन्गे
Name[nb]=Kasakhstansk tenge
Name[nds]=Kasachsch Tenge
Name[nl]=Kazachstaanse tenge
Name[nn]=Kasakhstansk tenge
Name[pa]=ਕਾਜ਼ਾਕਸਤਾਨ ਟਿਨਗੀ
Name[pl]=Tenge kazachskie
Name[pt]=Tenge do Cazaquistão
Name[pt_BR]=Tenge cazaque
Name[ru]=Казахстанский тенге
Name[sk]=Kazachstanský tenge
Name[sl]=kazahstanski tenge
Name[sr]=казахстански тенге
Name[sr@ijekavian]=казахстански тенге
Name[sr@ijekavianlatin]=kazahstanski tenge
Name[sr@latin]=kazahstanski tenge
Name[sv]=Kazakhstanska tenge
Name[tg]=Тенгеи Қазоқистон
Name[tr]=Kazak Tengesi
Name[uk]=Казахське тенґе
Name[x-test]=xxKazakhstani Tengexx
Name[zh_CN]=哈萨克斯坦腾格
Name[zh_TW]=哈薩克─騰格（Tenge）
CurrencyNameIso=Tenge
CurrencyUnitSymbols=T,KZT
CurrencyUnitSymbolDefault=T
CurrencyUnitSymbolUnambiguous=T
CurrencyUnitSingular=tenge
CurrencyUnitPlural=tenge
CurrencySubunitSymbol=
CurrencySubunitSingular=tiyn
CurrencySubunitPlural=tiyn
CurrencyIntroducedDate=1993,11,15
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KZ
