[Currency Code]
CurrencyCodeIsoAlpha3=LKR
CurrencyCodeIsoNumeric3=144
#Context for Name: Adjectival Country Name and Currency Name
Name=Sri Lankan Rupee
Name[ar]=الروبية السيرلانكية
Name[ast]=Rupia de Sri Lanka
Name[bs]=šrilankanska rupija
Name[ca]=Rupia de Sri Lanka
Name[ca@valencia]=Rupia de Sri Lanka
Name[cs]=Srílanská rupie
Name[da]=Srilankansk rupee
Name[de]=Sri-Lanka-Rupie
Name[en_GB]=Sri Lankan Rupee
Name[es]=Rupia de Sri Lanka
Name[et]=Sri Lanka ruupia
Name[eu]=Sri Lankako errupia
Name[fa]=روپیه سریلانکا
Name[fi]=Sri Lankan rupia
Name[fr]=Roupie srilankaise
Name[gd]=Rupee Sri Lancach
Name[gl]=Rupia de Sri Lanka
Name[hu]=Srí Lanka-i rúpia
Name[ia]=Rupia de Sri Lanka
Name[id]=Rupee Sri Lanka
Name[is]=Srí Lanka rúpía
Name[it]=Rupia singalese
Name[ko]=스리랑카 루피
Name[lt]=Šri Lankos rupija
Name[mr]=श्री लंका रुपी
Name[nb]=Srilankisk rupi
Name[nds]=Sri-lankeesch Rupje
Name[nl]=Srilankaanse roepie
Name[nn]=Srilankisk rupi
Name[pa]=ਸ੍ਰੀਲੰਕਾ ਰੁਪਇਆ
Name[pl]=Rupia lankijska
Name[pt]=Rupia do Sri Lanka
Name[pt_BR]=Rúpia cingalesa
Name[ru]=Шри-Ланкийская рупия
Name[sk]=Srílanská rupia
Name[sl]=šrilanška rupija
Name[sr]=шриланканска рупија
Name[sr@ijekavian]=шриланканска рупија
Name[sr@ijekavianlatin]=šrilankanska rupija
Name[sr@latin]=šrilankanska rupija
Name[sv]=Srilankesiska rupie
Name[tg]=Рупияи Шри-Ланка
Name[tr]=Sri Lanka Rupisi
Name[uk]=Рупія Шрі-Ланки
Name[x-test]=xxSri Lankan Rupeexx
Name[zh_CN]=斯里兰卡卢比
Name[zh_TW]=斯里蘭卡─盧比（Rupee）
CurrencyNameIso=Sri Lanka rupee
CurrencyUnitSymbols=Rs,₨,SL₨s,SLRs,LKR
CurrencyUnitSymbolDefault=Rs
CurrencyUnitSymbolUnambiguous=SLRs
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=LK
