[Currency Code]
CurrencyCodeIsoAlpha3=LTL
CurrencyCodeIsoNumeric3=440
#Context for Name: Adjectival Country Name and Currency Name
Name=Lithuanian Litas
Name[ar]=الليتاس اللتواني
Name[ast]=Litas lituanu
Name[bs]=litvanski litas
Name[ca]=Litas lituà
Name[ca@valencia]=Litas lituà
Name[cs]=Litevský litas
Name[da]=Litauisk litas
Name[de]=Litauischer Litas
Name[en_GB]=Lithuanian Litas
Name[es]=Litas lituana
Name[et]=Leedu litt
Name[eu]=Lituaniako litas
Name[fa]=لیتاس لیتو‌انی
Name[fi]=Liettuan liti
Name[fr]=Litas lituanien
Name[gd]=Litas Liotuaineach
Name[gl]=Litas lituana
Name[hu]=Litván litas
Name[ia]=Lithas Lituan
Name[id]=Litas Lithuania
Name[is]=Litháenskar litas
Name[it]=Litas lituano
Name[ko]=리투아니아 리타스
Name[lt]=Lietuvos litas
Name[mr]=लिथुआनियाई लिटास
Name[nb]=Litauisk litas
Name[nds]=Litausch Litas
Name[nl]=Litouwse Litas
Name[nn]=Litauisk litas
Name[pa]=ਲੀਥੂਨੀਆ ਲਿਟਸ
Name[pl]=Lit litewski
Name[pt]=Litas da Lituânia
Name[pt_BR]=Lita lituana
Name[ru]=Литовский лит
Name[sk]=Litovský litas
Name[sl]=litvanski litus
Name[sr]=литвански литас
Name[sr@ijekavian]=литвански литас
Name[sr@ijekavianlatin]=litvanski litas
Name[sr@latin]=litvanski litas
Name[sv]=Lettländska litas
Name[tg]=Литаи Литва
Name[tr]=Litvanya Litası
Name[uk]=Литовський лит
Name[x-test]=xxLithuanian Litasxx
Name[zh_CN]=立陶宛里塔斯
Name[zh_TW]=立陶宛─立特（Litas）
CurrencyNameIso=Lithuanian litas
CurrencyUnitSymbols=Lt,LTL
CurrencyUnitSymbolDefault=Lt
CurrencyUnitSymbolUnambiguous=Lt
CurrencyUnitSingular=litas
CurrencyUnitPlural=litai
CurrencySubunitSymbol=
CurrencySubunitSingular=centas
CurrencySubunitPlural=centai
CurrencyIntroducedDate=1993,06,25
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=LT
