[Currency Code]
CurrencyCodeIsoAlpha3=LUF
CurrencyCodeIsoNumeric3=442
#Context for Name: Adjectival Country Name and Currency Name
Name=Luxembourgish Franc
Name[ar]=الفرنك اللوكسبورجي
Name[ast]=Francu luxemburgués
Name[bs]=luksemburški franak
Name[ca]=Franc luxemburguès
Name[ca@valencia]=Franc luxemburgués
Name[cs]=Lucemburský frank
Name[da]=Luxembourgsk franc
Name[de]=Luxemburgischer Franc
Name[en_GB]=Luxembourgish Franc
Name[es]=Franco luxemburgués
Name[et]=Luksemburgi frank
Name[eu]=Luxenburgoko franko
Name[fa]=فرانک لوکزامبورگ
Name[fi]=Luxemburgin frangi
Name[fr]=Franc luxembourgeois
Name[gd]=Franc Lugsamburgach
Name[gl]=Franco luxemburgués
Name[hu]=Luxemburgi frank
Name[ia]=Franc Luxemburgese 
Name[id]=Franc Luxembourgish
Name[is]=Lúxembúrgískur franki
Name[it]=Franco lussemburghese
Name[ko]=룩셈부르크 프랑
Name[lt]=Liuksemburgo frankas
Name[mr]=लक्जमबर्गिश फ्रांक
Name[nb]=Luxemburgsk franc
Name[nds]=Luxemborgsch Franc
Name[nl]=Luxemburgse frank
Name[nn]=Luxemburgsk franc
Name[pa]=ਲਕਸ਼ਮਬਰਗ ਫਰੈਂਸ
Name[pl]=Frank luksemburski
Name[pt]=Franco Luxemburguês
Name[pt_BR]=Franco luxemburguês
Name[ru]=Люксембургский франк
Name[sk]=Luxemburský frank
Name[sl]=luksemburški frank
Name[sr]=луксембуршки франак
Name[sr@ijekavian]=луксембуршки франак
Name[sr@ijekavianlatin]=luksemburški franak
Name[sr@latin]=luksemburški franak
Name[sv]=Luxemburgisk franc
Name[tg]=Франки Люксембург
Name[tr]=Lüksemburg Frankı
Name[uk]=Люксембурзький франк
Name[x-test]=xxLuxembourgish Francxx
Name[zh_CN]=卢森堡法郎
Name[zh_TW]=盧森堡─法郎（Franc）
CurrencyNameIso=Luxembourg franc
CurrencyUnitSymbols=fr.,F,LUF
CurrencyUnitSymbolDefault=fr.
CurrencyUnitSymbolUnambiguous=LUF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1944,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
