[Currency Code]
CurrencyCodeIsoAlpha3=LVL
CurrencyCodeIsoNumeric3=482
#Context for Name: Adjectival Country Name and Currency Name
Name=Latvian Lats
Name[ar]=اللاتس اللاتفي
Name[ast]=Lats letón
Name[bs]=letonski lat
Name[ca]=Lats letó
Name[ca@valencia]=Lats letó
Name[cs]=Lotyšský lats
Name[da]=Lettisk lats
Name[de]=Lettischer Lats
Name[en_GB]=Latvian Lats
Name[es]=Lats letón
Name[et]=Läti latt
Name[eu]=Letoniako lats
Name[fa]=لاتس لاتویانی
Name[fi]=Latvian lati
Name[fr]=Lats letton
Name[gd]=Lats Laitbheach
Name[gl]=Lats letón
Name[hu]=Lett lat
Name[ia]=Lats Letton
Name[id]=Lats Latvia
Name[is]=Lettnesk lats
Name[it]=Lats lettone
Name[ko]=라트비아 라츠
Name[lt]=Latvijos latas
Name[mr]=लातवियाई लाट्स
Name[nb]=Latvisk lats
Name[nds]=Lettsch Lats
Name[nl]=Letse Lats
Name[nn]=Latvisk lats
Name[pa]=ਲਾਟਵੀਆ ਲਟਸ
Name[pl]=Łat łotewski
Name[pt]=Lats da Letónia
Name[pt_BR]=Lats letão
Name[ru]=Латвийский лат
Name[sk]=Lotyšský lat
Name[sl]=latvijski lats
Name[sr]=летонски лат
Name[sr@ijekavian]=летонски лат
Name[sr@ijekavianlatin]=letonski lat
Name[sr@latin]=letonski lat
Name[sv]=Lettländska lats
Name[tg]=Латаи Латвия
Name[tr]=Letonya Latı
Name[uk]=Латвійський лат
Name[x-test]=xxLatvian Latsxx
Name[zh_CN]=拉脱维亚拉图
Name[zh_TW]=拉脫維亞─拉茲（Lats）
CurrencyNameIso=Latvian lats
CurrencyUnitSymbols=Ls,LVL
CurrencyUnitSymbolDefault=Ls
CurrencyUnitSymbolUnambiguous=Ls
CurrencyUnitSingular=lats
CurrencyUnitPlural=lati
CurrencySubunitSymbol=s
CurrencySubunitSingular=santims
CurrencySubunitPlural=santimi
CurrencyIntroducedDate=1993,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2014,01,14
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
