[Currency Code]
CurrencyCodeIsoAlpha3=LYD
CurrencyCodeIsoNumeric3=434
#Context for Name: Adjectival Country Name and Currency Name
Name=Libyan Dinar
Name[ar]=الدينار الليبي
Name[ast]=Dinar libiu
Name[bg]=Либийски динар
Name[bn]=লিবিয়ার দিনার
Name[bs]=libijski dinar
Name[ca]=Dinar libi
Name[ca@valencia]=Dinar libi
Name[cs]=Libyjský dinár
Name[csb]=Libańsczi Dinar
Name[da]=Libysk dinar
Name[de]=Libyscher Dinar
Name[el]=Δηνάριο Λιβύης
Name[en_GB]=Libyan Dinar
Name[eo]=Libana dinaro
Name[es]=Dinar libio
Name[et]=Liibüa dinaar
Name[eu]=Libiako dinar
Name[fa]=دینار لیبی
Name[fi]=Libyan dinaari
Name[fr]=Dinar libyen
Name[fy]=Lybyske dinar
Name[ga]=Dinar na Libia
Name[gd]=Dinar Libitheach
Name[gl]=Dinar libio
Name[gu]=લિબિઅન દિનાર
Name[he]=דינר לובי
Name[hi]=लिबयाई दिनार
Name[hr]=Libijski dinar
Name[hu]=Líbiai dollár
Name[ia]=Libyan Dinar
Name[id]=Dinar Libia
Name[is]=Líbískur dínar
Name[it]=Dinaro libico
Name[kk]=Ливия динары
Name[km]=Libyan Dinar
Name[kn]=ಲಿಬಿಯನ್ ದಿನಾರ್
Name[ko]=리비아 디나르
Name[lt]=Libijos dinaras
Name[lv]=Lībijas dinārs
Name[mk]=Либијски динар
Name[ml]=ലിബിയന്‍ ദിനാര്‍
Name[mr]=लिबियन दिनार
Name[nb]=Libysk dinar
Name[nds]=Libysch Dinaar
Name[nl]=Libische Dinar
Name[nn]=Libysk dinar
Name[pa]=ਲਿਬਾਨੀ ਦੀਨਾਰ
Name[pl]=Dinar libijski
Name[pt]=Dinar Líbio
Name[pt_BR]=Dinar líbio
Name[ro]=Dinar libian
Name[ru]=Ливийский динар
Name[si]=ලිබියන් ඩිනාර්
Name[sk]=Líbyjský dinár
Name[sl]=libijski dinar
Name[sr]=либијски динар
Name[sr@ijekavian]=либијски динар
Name[sr@ijekavianlatin]=libijski dinar
Name[sr@latin]=libijski dinar
Name[sv]=Libyska dinar
Name[tg]=Динори Либия
Name[th]=ดีนาร์ลิเบีย
Name[tr]=Libya Dinarı
Name[ug]=لىۋىيە دىنارى
Name[uk]=Лівійський динар
Name[vi]=Dinar Libya
Name[wa]=Dinår libyin
Name[x-test]=xxLibyan Dinarxx
Name[zh_CN]=利比亚第纳尔
Name[zh_TW]=利比亞─第納爾（Dinar）
CurrencyNameIso=Libyan dinar
CurrencyUnitSymbols=ل.د,LD,LYD
CurrencyUnitSymbolDefault=ل.د
CurrencyUnitSymbolUnambiguous=ل.د
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinars
CurrencySubunitSymbol=
CurrencySubunitSingular=dirham
CurrencySubunitPlural=dirhams
CurrencyIntroducedDate=1971,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=LY
