[Currency Code]
CurrencyCodeIsoAlpha3=MDL
CurrencyCodeIsoNumeric3=498
#Context for Name: Adjectival Country Name and Currency Name
Name=Moldovan Leu
Name[ar]=الليو المولدوفي
Name[bs]=moldavski lej
Name[ca]=Leu moldau
Name[ca@valencia]=Leu moldau
Name[cs]=Moldavská leva
Name[da]=Moldovisk leu
Name[de]=Moldau-Leu
Name[en_GB]=Moldovan Leu
Name[es]=Leu moldavo
Name[et]=Moldova leu
Name[eu]=Moldaviako leu
Name[fa]=لئو مولداوی
Name[fi]=Moldovan leu
Name[fr]=Leu moldave
Name[gd]=Leu Moldobhach
Name[gl]=Leu moldavo
Name[hu]=Moldován lej
Name[ia]=Leu de Moldova
Name[id]=Leu Moldova
Name[is]=Moldóvanskt leu
Name[it]=Leu moldavo
Name[ko]=몰도바 레우
Name[lt]=Moldovos lėja
Name[mr]=मोल्दावियन लिउ
Name[nb]=Moldovisk leu
Name[nds]=Moldaawsch Leu
Name[nl]=Moldavische Leu
Name[nn]=Moldovisk leu
Name[pa]=ਮੋਡੋਵਾ ਲੀਵ
Name[pl]=Lej mołdawski
Name[pt]=Leu da Moldávia
Name[pt_BR]=Leu moldávio
Name[ru]=Молдавский лей
Name[sk]=Moldavský lei
Name[sl]=moldavski lev
Name[sr]=молдавски леј
Name[sr@ijekavian]=молдавски леј
Name[sr@ijekavianlatin]=moldavski lej
Name[sr@latin]=moldavski lej
Name[sv]=Moldavisk leu
Name[tg]=Лейи Молдова
Name[tr]=Moldovya Leusu
Name[uk]=Молдовська лея
Name[x-test]=xxMoldovan Leuxx
Name[zh_CN]=摩尔多瓦列伊
Name[zh_TW]=摩爾多瓦─列伊（Leu）
CurrencyNameIso=Moldovan leu
CurrencyUnitSymbols=MDL
CurrencyUnitSymbolDefault=MDL
CurrencyUnitSymbolUnambiguous=MDL
CurrencyUnitSingular=leu
CurrencyUnitPlural=lei
CurrencySubunitSymbol=
CurrencySubunitSingular=ban
CurrencySubunitPlural=bani
CurrencyIntroducedDate=1993,11,29
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MD
