[Currency Code]
CurrencyCodeIsoAlpha3=MGA
CurrencyCodeIsoNumeric3=969
#Context for Name: Adjectival Country Name and Currency Name
Name=Malagasy Ariary
Name[ar]=الأرياري المدغشقري
Name[ast]=Ariary malgaxe
Name[bs]=madagaskarski arijari
Name[ca]=Ariary malgaix
Name[ca@valencia]=Ariary malgaix
Name[cs]=Malgašský ariary
Name[da]=Malagassisk ariary
Name[de]=Ariary
Name[en_GB]=Malagasy Ariary
Name[es]=Ariary malgache
Name[et]=Madagaskari ariary
Name[eu]=Madagaskarko ariary
Name[fa]=آریاری مالاگازی
Name[fi]=Madagaskarin ariary
Name[fr]=Ariary malgache
Name[gd]=Ariary Madagasgarach
Name[gl]=Ariari malgaxe
Name[hu]=Madagaszkári ariary
Name[ia]=Ariary de Madagascar
Name[id]=Ariary Malagasy
Name[is]=Malagaskur ariarí
Name[it]=Ariary malgascio
Name[ko]=마다가스카르 아리아리
Name[lt]=Madagaskaro ariaris
Name[mr]=मलागासी अरियारी
Name[nb]=Madagassisk Ariary
Name[nds]=Madagass'sch Ariary
Name[nl]=Madagaskarse Ariary
Name[nn]=Madagassisk franc
Name[pa]=ਮੈਡਾਗਾਸਕਰ ਅਰੀਰੇ
Name[pl]=Ariary malgaskie
Name[pt]=Ariary Malgaxe
Name[pt_BR]=Ariary malgaxe
Name[ru]=Малагасийский ариари
Name[sk]=Malgašský ariary
Name[sl]=malgaški ariarij
Name[sr]=мадагаскарски аријари
Name[sr@ijekavian]=мадагаскарски аријари
Name[sr@ijekavianlatin]=madagaskarski arijari
Name[sr@latin]=madagaskarski arijari
Name[sv]=Madagaskiska ariary
Name[tg]=Ариари Малагасӣ
Name[tr]=Malagaskar Ariarisi
Name[uk]=Малагасійське аріарі
Name[x-test]=xxMalagasy Ariaryxx
Name[zh_CN]=马达加斯加阿里亚里
Name[zh_TW]=馬達加斯加─阿里亞里（Ariary）
CurrencyNameIso=Malagasy ariary
CurrencyUnitSymbols=MGA
CurrencyUnitSymbolDefault=MGA
CurrencyUnitSymbolUnambiguous=MGA
CurrencyUnitSingular=ariary
CurrencyUnitPlural=ariary
#CurrencySubunitSymbol=
CurrencySubunitSingular=iraimbilanja
CurrencySubunitPlural=iraimbilanja
#Exact date in July uncertain
CurrencyIntroducedDate=2003,07,31
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=5
CurrencyDecimalPlacesDisplay=1
CurrencyCountriesInUse=MG
