[Currency Code]
CurrencyCodeIsoAlpha3=MGF
CurrencyCodeIsoNumeric3=450
#Context for Name: Adjectival Country Name and Currency Name
Name=Malagasy Franc
Name[ar]=الفرنك المدغشقري
Name[ast]=Francu malgaxe
Name[bs]=madagaskarski franak
Name[ca]=Franc malgaix
Name[ca@valencia]=Franc malgaix
Name[cs]=Madagaskarský frank
Name[da]=Malagassisk franc
Name[de]=Madagaskar-Franc
Name[en_GB]=Malagasy Franc
Name[es]=Franco malgache
Name[et]=Madagaskari frank
Name[eu]=Madagaskarko franko
Name[fa]=فرانک مالاگاسی
Name[fi]=Madagaskarin frangi
Name[fr]=Franc malgache
Name[gd]=Franc Madagasgarach
Name[gl]=Franco malgaxe
Name[hu]=Malagazi frank
Name[ia]=Franc de Madagascar
Name[id]=Franc Malagasy
Name[is]=Malagaskur franki
Name[it]=Franco malgascio
Name[ko]=마다가스카르 프랑
Name[lt]=Malagasių frankas
Name[mr]=मलागासी फ्रांक
Name[nb]=Madagassisk franc
Name[nds]=Madagass'sch Franc
Name[nl]=Madagaskarse Frank
Name[nn]=Madagassisk franc
Name[pa]=ਮਾਲਾਗਾਸਆ ਫਰੈਂਕ
Name[pl]=Frank malgaski
Name[pt]=Franco Malgaxe
Name[pt_BR]=Franco malgaxe
Name[ru]=Малагасийский франк
Name[sk]=Malgašský frank
Name[sl]=malgaški frank
Name[sr]=мадагаскарски франак
Name[sr@ijekavian]=мадагаскарски франак
Name[sr@ijekavianlatin]=madagaskarski franak
Name[sr@latin]=madagaskarski franak
Name[sv]=Madagaskiska franc
Name[tg]=Франки Малагасӣ
Name[tr]=Malezya Frangı
Name[uk]=Малагасійський франк
Name[x-test]=xxMalagasy Francxx
Name[zh_CN]=马达加斯加法郎
Name[zh_TW]=馬達加斯加─法郎（Franc）
CurrencyNameIso=Malagasy franc
CurrencyUnitSymbols=fr.,F,MGF
CurrencyUnitSymbolDefault=fr.
CurrencyUnitSymbolUnambiguous=MGF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1963,07,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2005,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
