[Currency Code]
CurrencyCodeIsoAlpha3=MKD
CurrencyCodeIsoNumeric3=807
#Context for Name: Adjectival Country Name and Currency Name
Name=Macedonian Denar
Name[ar]=الدينار المقدوني
Name[ast]=Denar macedoniu
Name[bs]=makedonski dinar
Name[ca]=Denar macedoni
Name[ca@valencia]=Denar macedoni
Name[cs]=Makedonský denár
Name[da]=Makedonsk denar
Name[de]=Mazedonischer Denar
Name[en_GB]=Macedonian Denar
Name[es]=Denar macedonio
Name[et]=Makedoonia denar
Name[eu]=Mazedoniako dinarra
Name[fa]=دنار مقدونی
Name[fi]=Makedonian denaari
Name[fr]=Denar macédonien
Name[gd]=Denar Masadonach
Name[gl]=Denar macedonio
Name[hu]=Macedón dinár
Name[ia]=Denar Macedone
Name[id]=Denar Macedonia
Name[is]=Makedónskur denar
Name[it]=Dinaro macedone
Name[ko]=마케도니아 디나르
Name[lt]=Makedonijos dinaras
Name[mr]=मेसीडोनियन देनार
Name[nb]=Makedonsk denar
Name[nds]=Makedoonsch Dinaar
Name[nl]=Macedonische Denar
Name[nn]=Makedonsk denar
Name[pa]=ਮੈਕਡੋਨੀਆ ਦੀਨਾਰ
Name[pl]=Denar macedoński
Name[pt]=Dinar Macedónio
Name[pt_BR]=Dinar macedônio
Name[ru]=Македонский денар
Name[sk]=Macedónsky denár
Name[sl]=makedonski dinar
Name[sr]=македонски денар
Name[sr@ijekavian]=македонски денар
Name[sr@ijekavianlatin]=makedonski denar
Name[sr@latin]=makedonski denar
Name[sv]=Makedonisk denar
Name[tg]=Динори Мақдунӣ
Name[tr]=Makedonya Dinarı
Name[uk]=Македонський денар
Name[x-test]=xxMacedonian Denarxx
Name[zh_CN]=马其顿第纳尔
Name[zh_TW]=馬其頓─第納爾（Denar）
CurrencyNameIso=Denar
CurrencyUnitSymbols=ден,MKD
CurrencyUnitSymbolDefault=ден
CurrencyUnitSymbolUnambiguous=ден
CurrencyUnitSingular=denar
CurrencyUnitPlural=denari
CurrencySubunitSymbol=
CurrencySubunitSingular=deni
CurrencySubunitPlural=deni
CurrencyIntroducedDate=1993,05,05
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MK
