[Currency Code]
CurrencyCodeIsoAlpha3=MNT
CurrencyCodeIsoNumeric3=496
#Context for Name: Adjectival Country Name and Currency Name
Name=Mongolian Tugrik
Name[ar]=التوغروغ المنغولي
Name[ast]=Tugrik mongol
Name[bs]=mongolski tugrik
Name[ca]=Tugrik de Mongòlia
Name[ca@valencia]=Tugrik de Mongòlia
Name[cs]=Mongolský tugrik
Name[da]=Mongolsk tugrik
Name[de]=Tögrög
Name[en_GB]=Mongolian Tugrik
Name[es]=Tugrik mongol
Name[et]=Mongoolia tugrik
Name[eu]=Mongoliako tugrik
Name[fa]=توگریک مغولستان
Name[fi]=Mongolian tugrik
Name[fr]=Tugrik mongol
Name[gd]=Tugrik Mongolach
Name[gl]=Tugrik mongol
Name[hu]=Mongol tugrik
Name[ia]=Tugrik Mongolic
Name[id]=Tugrik Mongolia
Name[is]=Mongólskt tugrík
Name[it]=Tugrik mongolo
Name[ko]=몽골 투그릭
Name[lt]=Mongolijos tugrikas
Name[mr]=मंगोलीयन तुग्रिक
Name[nb]=Mongolsk tugrik
Name[nds]=Mongoolsch Tögrög
Name[nl]=Mongoolse Tugrik
Name[nn]=Mongolsk tugrik
Name[pa]=ਮੰਗੋਲੀਆ ਤੁਗਰਿਕ
Name[pl]=Tugrik mongolski
Name[pt]=Tugrik da Mongólia
Name[pt_BR]=Tugrik mongol
Name[ru]=Монгольский тугрик
Name[sk]=Mongolský tugrik
Name[sl]=mongolski tugrik
Name[sr]=монголски тугрик
Name[sr@ijekavian]=монголски тугрик
Name[sr@ijekavianlatin]=mongolski tugrik
Name[sr@latin]=mongolski tugrik
Name[sv]=Mongoliska tugrik
Name[tg]=Тугрики Муғулистон
Name[tr]=Moğolistan Tugriki
Name[uk]=Монгольський тугрик
Name[x-test]=xxMongolian Tugrikxx
Name[zh_CN]=蒙古格里克
Name[zh_TW]=蒙古─圖格裡克（Tugrik）
CurrencyNameIso=Tugrik
CurrencyUnitSymbols=₮,MNT
CurrencyUnitSymbolDefault=₮
CurrencyUnitSymbolUnambiguous=₮
CurrencyUnitSingular=tugrik
CurrencyUnitPlural=tugrik
CurrencySubunitSymbol=
CurrencySubunitSingular=mongo
CurrencySubunitPlural=mongo
CurrencyIntroducedDate=1925,12,09
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MN
