[Currency Code]
CurrencyCodeIsoAlpha3=MRO
CurrencyCodeIsoNumeric3=478
#Context for Name: Adjectival Country Name and Currency Name
Name=Mauritanian Ouguiya
Name[ar]=الأوقية الموريتانية
Name[ast]=Ouguiya mauritana
Name[bs]=mauritanijska ugija
Name[ca]=Ouguiya de Mauritània
Name[ca@valencia]=Ouguiya de Mauritània
Name[cs]=Mauretánský ouguiya
Name[da]=Mauretansk ouguiya
Name[de]=Ouguiya
Name[en_GB]=Mauritanian Ouguiya
Name[es]=Uquiya mauritana
Name[et]=Mauritaania ouguiya
Name[eu]=Mauritaniako ouguiya
Name[fa]=اوگوی‌یای موریتانی
Name[fi]=Mauritanian ouguiya
Name[fr]=Ouguiya mauritanien
Name[gd]=Ouguiya Moratàineach
Name[gl]=Ouguiya mauritano
Name[hu]=Mauritániai ouguiya
Name[ia]=Ouguya de Mauritania
Name[id]=Ouguiya Mauritania
Name[is]=Máritanísk ouguiya
Name[it]=Ouguiya mauritana
Name[ko]=모리타니 우기야
Name[lt]=Mauritanijos ugija
Name[mr]=लिथुआनियाई औगुयिया
Name[nb]=Mauritansk ouguiya
Name[nds]=Mauretaansch Ouguiya
Name[nl]=Mauritaanse Ouguiya
Name[nn]=Mauritansk ouguiya
Name[pa]=ਮਾਉਰੀਟਨਿਆ ਉਗੁਆਨਾ
Name[pl]=Ouguiya mauretańska
Name[pt]=Ouguiya da Mauritânia
Name[pt_BR]=Ouguiya mauriano
Name[ru]=Мавританская угия
Name[sk]=Mauritánska ukija
Name[sl]=mavretanska ovgvija
Name[sr]=мауританијска угија
Name[sr@ijekavian]=мауританијска угија
Name[sr@ijekavianlatin]=mauritanijska ugija
Name[sr@latin]=mauritanijska ugija
Name[sv]=Mauritaniska ouguiya
Name[tg]=Угияи Мавритания
Name[tr]=Moritanya Ouguiyası
Name[uk]=Мавританська угія
Name[x-test]=xxMauritanian Ouguiyaxx
Name[zh_CN]=毛里塔尼亚乌吉亚
Name[zh_TW]=茅利塔尼亞─烏吉拉（Ouguiya）
CurrencyNameIso=Ouguiya
CurrencyUnitSymbols=UM,MRO
CurrencyUnitSymbolDefault=UM
CurrencyUnitSymbolUnambiguous=UM
CurrencyUnitSingular=ouguiya
CurrencyUnitPlural=ouguiya
CurrencySubunitSymbol=
CurrencySubunitSingular=khoums
CurrencySubunitPlural=khoums
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=5
CurrencyDecimalPlacesDisplay=1
CurrencyCountriesInUse=MR
