[Currency Code]
CurrencyCodeIsoAlpha3=MTL
CurrencyCodeIsoNumeric3=470
#Context for Name: Adjectival Country Name and Currency Name
Name=Maltese Lira
Name[ar]=الليرة المالطية
Name[ast]=Llira maltesa
Name[bs]=malteška lira
Name[ca]=Lira maltesa
Name[ca@valencia]=Lira maltesa
Name[cs]=Maltézská lira
Name[da]=Maltesisk lire
Name[de]=Maltesische Lira
Name[en_GB]=Maltese Lira
Name[es]=Lira maltesa
Name[et]=Malta liir
Name[eu]=Maltako lira
Name[fa]=لیره مالتزی
Name[fi]=Maltan liira
Name[fr]=Lire maltaise
Name[gd]=Lira Maltach
Name[gl]=Lira maltesa
Name[hu]=Máltai líra
Name[ia]=Libra Maltese
Name[id]=Lira Malta
Name[is]=Maltnesk líra
Name[it]=Lira maltese
Name[ko]=몰타 리라
Name[lt]=Malaizijos lira
Name[mr]=माल्टी लिरा
Name[nb]=Maltesisk lire
Name[nds]=Malteesch Lira
Name[nl]=Maltese Lire
Name[nn]=Maltesisk lire
Name[pa]=ਮਾਲਟੀ ਲੀਰਾ
Name[pl]=Lira maltańska
Name[pt]=Lira Maltesa
Name[pt_BR]=Lira maltesa
Name[ru]=Мальтийская лира
Name[sk]=Maltská líra
Name[sl]=malteška lira
Name[sr]=малтешка лира
Name[sr@ijekavian]=малтешка лира
Name[sr@ijekavianlatin]=malteška lira
Name[sr@latin]=malteška lira
Name[sv]=Maltesiska lira
Name[tg]=Лираи Малтесӣ
Name[tr]=Malta Lirası
Name[uk]=Мальтійська ліра
Name[x-test]=xxMaltese Liraxx
Name[zh_CN]=马尔他里拉
Name[zh_TW]=馬爾他─里拉（Lira）
CurrencyNameIso=Maltese lira
CurrencyUnitSymbols=Lm,£,MTL
CurrencyUnitSymbolDefault=Lm
CurrencyUnitSymbolUnambiguous=Lm
CurrencyUnitSingular=lira
CurrencyUnitPlural=liri
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1972,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,12,31
CurrencySubunits=2
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
