[Currency Code]
CurrencyCodeIsoAlpha3=MVR
CurrencyCodeIsoNumeric3=462
#Context for Name: Adjectival Country Name and Currency Name
Name=Maldivian Rufiyaa
Name[ar]=الروفيه المالديفي
Name[ast]=Rufiyaa maldiviana
Name[bg]=Малдивийска руфия
Name[bn]=মলডিভিয়ান রুফিয়া
Name[bs]=maldivska rufija
Name[ca]=Rupia de les Maldives
Name[ca@valencia]=Rupia de les Maldives
Name[cs]=Maledivská rufia
Name[csb]=Maldiwskô Rufiyaa
Name[da]=Maldivisk rufiyaa
Name[de]=Rufiyaa
Name[el]=Ρουφίγια Μαλδίβων
Name[en_GB]=Maldivian Rufiyaa
Name[eo]=Maldiva rufijao
Name[es]=Rupia de Maldivas
Name[et]=Maldiivi rufiyaa
Name[eu]=Maldivetako rufiyaa
Name[fa]=روفی‌یآی مالدیو
Name[fi]=Malediivien rufiyaa
Name[fr]=Roupie maldivienne
Name[fy]=Maldivyske rufiyaa
Name[ga]=Rufiyaa na nOileán Maildíve
Name[gd]=Rufiyaa Maladaibheach
Name[gl]=Fufiyaa das Maldivias
Name[gu]=માલ્દેવિઅન રુફિયા
Name[he]=רופיה מולדובית
Name[hi]=मादीवयाई रूफिया
Name[hr]=Maldivska rufija
Name[hu]=Maldív-szigeteki rúfia
Name[ia]=Maldivian Rufiyaa
Name[id]=Rufiyaa Maladewa
Name[is]=Maldivísk rufiyaa
Name[it]=Rupia maldiviana
Name[kk]=Мальдивия руфиясы
Name[km]=Maldivian Rufiyaa
Name[kn]=ಮಾಲ್ಡೀವಿಯನ್ ರುಫಿಯಾ
Name[ko]=몰디브 루피야
Name[lt]=Maldyvų rufija
Name[lv]=Maldīvijas rufija
Name[ml]=മാലി ദ്വീപുകളിലെ റുഫിയാ
Name[mr]=माल्डीवियन रुफिया
Name[nb]=Maldivisk rufiyaa
Name[nds]=Malediivsch Rufiyaa
Name[nl]=Maldiviaanse rufiyaa
Name[nn]=Maldivisk rufiyaa
Name[pl]=Rufiyaa maldiwiańska
Name[pt]=Rufia das Malivas
Name[pt_BR]=Rufiyaa maldiva
Name[ro]=Rufiyaa maldiveză
Name[ru]=Мальдивская руфия
Name[si]=මාල දිවයින් රුෆියා
Name[sk]=Maledivská rupia
Name[sl]=maldivska rupija
Name[sr]=малдивска руфија
Name[sr@ijekavian]=малдивска руфија
Name[sr@ijekavianlatin]=maldivska rufija
Name[sr@latin]=maldivska rufija
Name[sv]=Maldiviska rufiyaa
Name[tg]=Руфияи Ҷазираҳои Малдив
Name[tr]=Maldiv Rufiyaası
Name[ug]=مالدىۋې رۇپىيىسى
Name[uk]=Мальдівська руфія
Name[vi]=Rufiyaa Maldives
Name[wa]=Rufiyaa des Maldives
Name[x-test]=xxMaldivian Rufiyaaxx
Name[zh_CN]=马尔代夫拉菲亚
Name[zh_TW]=馬爾地夫─盧費亞（Rufiyaa）
CurrencyNameIso=Rufiyaa
CurrencyUnitSymbols=Rf,MRf,.ރ,MVR
CurrencyUnitSymbolDefault=Rf
CurrencyUnitSingular=rufiyaa
CurrencyUnitPlural=rufiyaa
CurrencySubunitSymbol=
CurrencySubunitSingular=laari
CurrencySubunitPlural=laari
CurrencyIntroducedDate=1947,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MV
