[Currency Code]
CurrencyCodeIsoAlpha3=MXN
CurrencyCodeIsoNumeric3=484
#Context for Name: Adjectival Country Name and Currency Name
Name=Mexican Peso
Name[ar]=البيزو المكسيكي
Name[ast]=Pesu mexicanu
Name[bs]=meksički pezos
Name[ca]=Peso mexicà
Name[ca@valencia]=Peso mexicà
Name[cs]=Mexické peso
Name[da]=Mexicansk peso
Name[de]=Mexikanischer Peso
Name[en_GB]=Mexican Peso
Name[es]=Peso mexicano
Name[et]=Mehhiko peeso
Name[eu]=Mexikoko peso
Name[fa]=پزو مکزیکی
Name[fi]=Meksikon peso
Name[fr]=Peso mexicain
Name[gd]=Peso Meagsagach
Name[gl]=Peso mexicano
Name[hu]=Mexikói peso
Name[ia]=Peso de Mexico
Name[id]=Peso Meksiko
Name[is]=Mexíkanskur pesó
Name[it]=Peso messicano
Name[ko]=멕시코 페소
Name[lt]=Meksikos pesas
Name[mr]=मेक्झिकन पेसो
Name[nb]=Mexicansk peso
Name[nds]=Mexikaansch Peso
Name[nl]=Mexicaanse Peso
Name[nn]=Meksikansk peso
Name[pa]=ਮੈਕਸਿਕੋ ਪੀਸੋ
Name[pl]=Peso meksykańskie
Name[pt]=Peso Mexicano
Name[pt_BR]=Peso mexicano
Name[ru]=Мексиканское песо
Name[sk]=Mexické peso
Name[sl]=mehiški peso
Name[sr]=мексички пезос
Name[sr@ijekavian]=мексички пезос
Name[sr@ijekavianlatin]=meksički pezos
Name[sr@latin]=meksički pezos
Name[sv]=Mexikanska peso
Name[tg]=Песои Мексика
Name[tr]=Meksika Pesosu
Name[uk]=Мексиканське песо
Name[x-test]=xxMexican Pesoxx
Name[zh_CN]=墨西哥比索
Name[zh_TW]=墨西哥─披索(Peso）
CurrencyNameIso=Mexican peso
CurrencyUnitSymbols=$,Mex$,MXN
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=Mex$
CurrencyUnitSingular=peso
CurrencyUnitPlural=pesos
CurrencySubunitSymbol=¢
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1993,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MX
