[Currency Code]
CurrencyCodeIsoAlpha3=MYR
CurrencyCodeIsoNumeric3=458
#Context for Name: Adjectival Country Name and Currency Name
Name=Malaysian Ringgit
Name[ar]=الرينغيت الماليزي
Name[ast]=Ringgit malasiu
Name[bs]=malezijski ringit
Name[ca]=Ringgit de Malàisia
Name[ca@valencia]=Ringgit de Malàisia
Name[cs]=Malajsijský ringgit
Name[da]=Malaysisk ringgit
Name[de]=Malaysischer Ringgit
Name[en_GB]=Malaysian Ringgit
Name[es]=Ringgit malasio
Name[et]=Malaisia ringgit
Name[eu]=Malaysiako ringgit
Name[fa]=رینگ‌گیت مالزی
Name[fi]=Malesian ringgit
Name[fr]=Ringgit malaisien
Name[gd]=Ringgit Malaidheach
Name[gl]=Ringgit malaio
Name[hu]=Maláj ringgit
Name[ia]=Ringgit de Malaysia
Name[id]=Ringgit Malaysia
Name[is]=Malasísk ringgit
Name[it]=Ringgit malese
Name[ko]=말레이시아 링깃
Name[lt]=Malaizijos ringitas
Name[mr]=मलय रिंगिट
Name[nb]=Malaysisk ringgit
Name[nds]=Malaiisch Ringgit
Name[nl]=Maleisische Ringgit
Name[nn]=Malaysisk ringgit
Name[pa]=ਮਲੇਸ਼ੀਆਈ ਰਿਨੱਗਿੱਟ
Name[pl]=Ringgit malezyjski
Name[pt]=Ringgit da Malásia
Name[pt_BR]=Ringgit malaio
Name[ru]=Малайзийский ринггит
Name[sk]=Malajzijský ringgit 
Name[sl]=malezijski ringit
Name[sr]=малезијски рингит
Name[sr@ijekavian]=малезијски рингит
Name[sr@ijekavianlatin]=malezijski ringit
Name[sr@latin]=malezijski ringit
Name[sv]=Malaysiska ringgit
Name[tg]=Рингити Малайӣ
Name[tr]=Malezya Ringgiti
Name[uk]=Малайзійський ринггіт
Name[x-test]=xxMalaysian Ringgitxx
Name[zh_CN]=马来西亚林吉特
Name[zh_TW]=馬來西亞─林吉特（Ringgit）
CurrencyNameIso=Malaysian ringgit
CurrencyUnitSymbols=RM,MYR
CurrencyUnitSymbolDefault=RM
CurrencyUnitSymbolUnambiguous=RM
CurrencyUnitSingular=ringgit
CurrencyUnitPlural=ringgit
CurrencySubunitSymbol=
CurrencySubunitSingular=sen
CurrencySubunitPlural=sen
CurrencyIntroducedDate=1967,06,12
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MY
