[Currency Code]
CurrencyCodeIsoAlpha3=MZM
CurrencyCodeIsoNumeric3=508
#Context for Name: Adjectival Country Name and Currency Name
Name=Mozambican Metical
Name[ar]=المتكال الموزمبيقي
Name[ast]=Metical mozambicanu
Name[bg]=Мозамбкски метикал
Name[bn]=মোজাম্বিক-এর মেটিকাল
Name[bs]=mozambijski metikal
Name[ca]=Metical de Moçambic
Name[ca@valencia]=Metical de Moçambic
Name[cs]=Mosambický metical
Name[csb]=Mòzambijsczi Metical
Name[da]=Mocambiquisk metical
Name[de]=Metical
Name[el]=Μετικάλ Μοζαμβίκης
Name[en_GB]=Mozambican Metical
Name[eo]=Mozambika metikalo
Name[es]=Metical mozambiqueño
Name[et]=Mosambiigi metical
Name[eu]=Mozambikeko metical
Name[fa]=متیکال موزامبیکی
Name[fi]=Mosambikin metical
Name[fr]=Metical mozambicain
Name[fy]=Mozambikaanske metical
Name[ga]=Metical Mhósaimbíc
Name[gd]=Metical Mòsaimbiceach
Name[gl]=Metical mozambiqueño
Name[gu]=મોઝામ્બિકન મેટિકલ
Name[he]=מטיקל מוזמביני
Name[hi]=मोजाम्बिक मेटिकल
Name[hr]=Mozambiski metical
Name[hu]=Mozambiki metical
Name[ia]=Mozambican Metical
Name[id]=Metical Mozambik
Name[is]=Mósambískt metical
Name[it]=Metical mozambicano
Name[kk]=Мозамбик метикалы
Name[km]=Mozambican Metical
Name[kn]=ಮೊಝಾಂಬಿನ್ ಮೆಟಿಕಲ್
Name[ko]=모잠비크 메티칼
Name[lt]=Mozambiko metikalis
Name[lv]=Mozambikas metikals
Name[ml]=മോസാമ്പിക്കന്‍ മെറ്റിക്കല്‍
Name[mr]=मोझाम्बीकन मेटिकल
Name[nb]=Mosambikisk metical
Name[nds]=Mosambikaansch Metical
Name[nl]=Mozambikaanse metical
Name[nn]=Mosambikisk metical
Name[pl]=Matical mozambikański
Name[pt]=Metical Moçambicano
Name[pt_BR]=Metical moçambicano
Name[ro]=Metical Mozambic
Name[ru]=Мозамбикский метикал
Name[si]=මොසැම්බියානු මෙටැලික්
Name[sk]=Mozambický metical
Name[sl]=mozambiški metikal
Name[sr]=мозамбијски метикал
Name[sr@ijekavian]=мозамбијски метикал
Name[sr@ijekavianlatin]=mozambijski metikal
Name[sr@latin]=mozambijski metikal
Name[sv]=Mozambique metical
Name[tg]=Метикали Мозамбик
Name[tr]=Mozambik Matikali
Name[ug]=موزامبىك مېتىكالى
Name[uk]=Мозамбікський метикал
Name[vi]=Metical Mozambic
Name[wa]=Metical mozambikyin
Name[x-test]=xxMozambican Meticalxx
Name[zh_CN]=莫桑比克梅蒂卡尔
Name[zh_TW]=莫三比克─梅蒂卡爾（Metical）
CurrencyNameIso=Mozambican metical
CurrencyUnitSymbols=MTn,MZM
CurrencyUnitSymbolDefault=MTn
CurrencyUnitSymbolUnambiguous=MZM
CurrencyUnitSingular=metical
CurrencyUnitPlural=meticals
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1980,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2006,06,30
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
