[Currency Code]
CurrencyCodeIsoAlpha3=NGN
CurrencyCodeIsoNumeric3=566
#Context for Name: Adjectival Country Name and Currency Name
Name=Nigerian Naira
Name[ar]=النيرة النيجيرية
Name[ast]=Naira nixerina
Name[bs]=nigerijska naira
Name[ca]=Naira de Nigèria
Name[ca@valencia]=Naira de Nigèria
Name[cs]=Nigerijská niara
Name[da]=Nigeriansk dollar
Name[de]=Naira
Name[en_GB]=Nigerian Naira
Name[es]=Naira nigeriana
Name[et]=Nigeeria naira
Name[eu]=Nigeriako naira
Name[fa]=نایرای نیجریه
Name[fi]=Nigerian naira
Name[fr]=Naira nigérian
Name[gd]=Naira Nigèiriach
Name[gl]=Naira nixeriana
Name[hu]=Nigériai naira
Name[ia]=Naira de Nigeria
Name[id]=Naira Nigeria
Name[is]=Nígerísk naira
Name[it]=Naira nigeriana
Name[ko]=나이지리아 나이라
Name[lt]=Nigerijos naira
Name[mr]=नाईजेरीया नाइरा
Name[nb]=Nigeriansk naira
Name[nds]=Nigeriaansch Naira
Name[nl]=Nigeriaanse Naira
Name[nn]=Nigeriansk naira
Name[pa]=ਨੀਜੀਰਿਆ ਨਾਇਰਾ
Name[pl]=Naira nigeryjska
Name[pt]=Naira da Nigéria
Name[pt_BR]=Naira nigeriano
Name[ru]=Нигерийская найра
Name[sk]=Nigérijská naira
Name[sl]=nigerijska naira
Name[sr]=нигеријска наира
Name[sr@ijekavian]=нигеријска наира
Name[sr@ijekavianlatin]=nigerijska naira
Name[sr@latin]=nigerijska naira
Name[sv]=Nigerianska naira
Name[tg]=Наираи Нигерия
Name[tr]=Nijerya Nayrası
Name[uk]=Нігерійська найра
Name[x-test]=xxNigerian Nairaxx
Name[zh_CN]=尼日利亚奈拉
Name[zh_TW]=奈及利亞─奈拉（Naira）
CurrencyNameIso=Naira
CurrencyUnitSymbols=₦,NGN
CurrencyUnitSymbolDefault=₦
CurrencyUnitSymbolUnambiguous=₦
CurrencyUnitSingular=naira
CurrencyUnitPlural=naira
CurrencySubunitSymbol=
CurrencySubunitSingular=kobo
CurrencySubunitPlural=kobo
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=NG
