[Currency Code]
CurrencyCodeIsoAlpha3=NIO
CurrencyCodeIsoNumeric3=566
#Context for Name: Adjectival Country Name and Currency Name
Name=Nicaraguan Cordoba Oro
Name[bg]=Никарагска златна кордоба
Name[bs]=nikaragvanski kordoba oro
Name[ca]=Córdoba Or de Nicaragua
Name[ca@valencia]=Córdoba Or de Nicaragua
Name[cs]=Nikaragujská córdoba oro
Name[csb]=Nikaragùańsczé Oro
Name[da]=Nicaraguansk cordoba
Name[de]=Córdoba Oro
Name[el]=Κόρντομπα Oρo Νικαράγουας
Name[en_GB]=Nicaraguan Cordoba Oro
Name[eo]=Nikaragva tria kordovo
Name[es]=Córdoba nicaragüense
Name[et]=Nicaragua Cordoba Oro
Name[eu]=Nicaraguako Urrezko cordoba
Name[fa]=کوردوبا اوروی نیکاراگوئه
Name[fi]=Nicaraguan cordoba
Name[fr]=Córdoba nicaraguayen d'or
Name[fy]=Nikaraguaanske cordoba oro
Name[ga]=Cordoba Oro Nicearagua
Name[gd]=Córdoba Niocaragach
Name[gl]=Córdoba oro nicaraguano
Name[gu]=નિકારાગુઆન કોર્ડોબા ઓરો
Name[he]=קורדובה ניקרגואית
Name[hi]=निकारागुआ कॉर्डोबा ओरो
Name[hr]=Nikaragvanska córdoba
Name[hu]=Nicaraguai córdoba
Name[ia]=Nicaraguan Cordoba Oro
Name[id]=Cordoba Oro Nikaragua
Name[is]=Níkaragvaskt Cordoba Oro
Name[it]=Córdoba nicaraguense
Name[kk]=Никарагуа кордоба оросы
Name[km]=Nicaraguan Cordoba Oro
Name[kn]=ನಿಕುರಾಗುವನ್ ಕೋರ್ಡೊಬ ಓರೊ
Name[ko]=니카라과 코르도바 오로
Name[lt]=Nikaragvos kordoba
Name[lv]=Nikaragvas kordova
Name[ml]=നിക്കരാഗ്വയിലെ കോര്‍ഡോബാ ഓറോ
Name[mr]=निकारागुअन कोर्डोबा ओरो
Name[nb]=Nicaraguansk cordoba oro
Name[nds]=Nicaraguaansch Cordoba Oro
Name[nl]=Nicaraguaanse Cordoba Oro
Name[nn]=Nicaraguansk cordoba oro
Name[pl]=Cordoba Oro nikaraguańska
Name[pt]=Ouro de Córdoba da Nicarágua
Name[pt_BR]=Cordoba Oro nicaraguense
Name[ro]=Cordoba Oro nicaraguan
Name[ru]=Никарагуанская кордоба
Name[si]=නිකාරාගුඅන් කෝර්ඩෝබා ඕරෝ
Name[sk]=Nikaragujská cordoba
Name[sl]=nikaragevska zlata kordova
Name[sr]=никарагвански кордоба оро
Name[sr@ijekavian]=никарагвански кордоба оро
Name[sr@ijekavianlatin]=nikaragvanski kordoba oro
Name[sr@latin]=nikaragvanski kordoba oro
Name[sv]=Nicaraguanska cordoba
Name[tg]=Орои Кордобаи Никарагуа
Name[tr]=Nikaragua Kordoba Orosu
Name[ug]=نىكاراگۇئا كوردوبا ئوروسى
Name[uk]=Нікарагуанська кордоба
Name[vi]=Cordoba Oro của Nicaragua
Name[wa]=Cordoba Oro nicaragwayin
Name[x-test]=xxNicaraguan Cordoba Oroxx
Name[zh_CN]=尼加拉瓜科罗巴
Name[zh_TW]=尼加拉瓜─科多巴（Cordoba Oro）
CurrencyNameIso=Cordoba oro
CurrencyUnitSymbols=
CurrencyUnitSymbolDefault=
CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=cordoba
CurrencyUnitPlural=cordoba
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1991,04,30
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=NI
