[Currency Code]
CurrencyCodeIsoAlpha3=NZD
CurrencyCodeIsoNumeric3=554
#Context for Name: Adjectival Country Name and Currency Name
Name=New Zealand Dollar
Name[ar]=الدولار النيوزلندي
Name[ast]=Dólar neozelandés
Name[bs]=novozelandski dolar
Name[ca]=Dòlar neozelandès
Name[ca@valencia]=Dòlar neozelandés
Name[cs]=Novozélandský dolar
Name[da]=Newzealandsk dollar
Name[de]=Neuseeland-Dollar
Name[en_GB]=New Zealand Dollar
Name[es]=Dólar neozelandés
Name[et]=Uus-Meremaa dollar
Name[eu]=Zeelanda Berriko dolar
Name[fa]=دلار زلاندنو
Name[fi]=Uuden-Seelannin dollari
Name[fr]=Dollar néo-zélandais
Name[gd]=Dolar Shealainn Nuaidh
Name[gl]=Dólar neozelandés
Name[hu]=Új-zélandi dollár
Name[ia]=Dollar de Nove Zelanda
Name[id]=Dollar Selandia Baru
Name[is]=Nýsjálenskur dollari
Name[it]=Dollaro neozelandese
Name[ko]=뉴질랜드 달러
Name[lt]=Naujosios Zelandijos doleris
Name[mr]=न्यूझीलँड  डॉलर
Name[nb]=Newzealandsk dollar
Name[nds]=Niegseeland-Dollar
Name[nl]=Nieuw-Zeelandse Dollar
Name[nn]=Newzealansk dollar
Name[pa]=ਨਿਊਜ਼ੀਲੈਂਡ ਡਾਲਰ
Name[pl]=Dolar nowozelandzki
Name[pt]=Dólar da Nova Zelândia
Name[pt_BR]=Dólar neozelandês
Name[ru]=Новозеландский доллар
Name[sk]=Novozélandský dolár
Name[sl]=novozelandski dolar
Name[sr]=новозеландски долар
Name[sr@ijekavian]=новозеландски долар
Name[sr@ijekavianlatin]=novozelandski dolar
Name[sr@latin]=novozelandski dolar
Name[sv]=Nyzeeländska dollar
Name[tg]=Доллари Зеландияи Нав
Name[tr]=Yeni Zellanda Doları
Name[uk]=Новозеландський долар
Name[x-test]=xxNew Zealand Dollarxx
Name[zh_CN]=新西兰元
Name[zh_TW]=紐西蘭─元（Dollar）
CurrencyNameIso=New Zealand Dollar
CurrencyUnitSymbols=$,NZ$,NZD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=NZ$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=c
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1967,07,10
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=NZ,CK,NU,PN,TK
