[Currency Code]
CurrencyCodeIsoAlpha3=OMR
CurrencyCodeIsoNumeric3=512
#Context for Name: Adjectival Country Name and Currency Name
Name=Omani Rial
Name[ar]=الريال العماني
Name[ast]=Rial omanianu
Name[bg]=Омански риал
Name[bn]=ওমানী রিয়াল
Name[bs]=omanski rijal
Name[ca]=Rial omanita
Name[ca@valencia]=Rial omanita
Name[cs]=Ománský rial
Name[csb]=Òmansczi Rial
Name[da]=Omansk rial
Name[de]=Omanischer Rial
Name[el]=Ριάλ Ομάν
Name[en_GB]=Omani Rial
Name[eo]=Omana rialo
Name[es]=Rial omaní
Name[et]=Omaani riaal
Name[eu]=Omango rial
Name[fa]=ریال عمانی
Name[fi]=Omanin rial
Name[fr]=Rial omanais
Name[fy]=Omaanske rial
Name[ga]=Rial Oman
Name[gd]=Rial Omànach
Name[gl]=Rial de omaní
Name[gu]=ઓમાની રીઅલ
Name[he]=ריאל עומני
Name[hi]=ओमानी रियाल
Name[hr]=Omanski rial
Name[hu]=Ománi riál
Name[ia]=Omani Rial
Name[id]=Rial Oman
Name[is]=Ómanskur ríal
Name[it]=Rial dell'Oman
Name[kk]=Оман риалы
Name[km]=Omani Rial
Name[kn]=ಒಮಾನಿ ರಿಯಾಲ್
Name[ko]=오만 리알
Name[lt]=Omano rialas
Name[lv]=Omānas riāls
Name[ml]=ഒമാനിലെ റിയാല്‍
Name[mr]=ओमानी रिआल
Name[nb]=Omansk rial
Name[nds]=Omaansch Rial
Name[nl]=Omaanse Rial
Name[nn]=Omansk rial
Name[pa]=ਓਮਾਨੀ ਰੀਆਲ
Name[pl]=Rial omański
Name[pt]=Rial do Omã
Name[pt_BR]=Rial omanense
Name[ro]=Rial Oman
Name[ru]=Оманский риал
Name[si]=ඕමාන රියා
Name[sk]=Ománsky rial
Name[sl]=omanski rial
Name[sr]=омански ријал
Name[sr@ijekavian]=омански ријал
Name[sr@ijekavianlatin]=omanski rijal
Name[sr@latin]=omanski rijal
Name[sv]=Omanska rial
Name[tg]=Риали Оман
Name[tr]=Umman Riyali
Name[ug]=ئومان رىيالى
Name[uk]=Оманський ріал
Name[vi]=Rial Omani
Name[wa]=Rial d' Oman
Name[x-test]=xxOmani Rialxx
Name[zh_CN]=阿曼里亚尔
Name[zh_TW]=阿曼─里亞爾（Rial）
CurrencyNameIso=Rial Omani
CurrencyUnitSymbols=ر.ع.,OMR
CurrencyUnitSymbolDefault=ر.ع.
CurrencyUnitSymbolUnambiguous=ر.ع.
CurrencyUnitSingular=rial
CurrencyUnitPlural=rials
CurrencySubunitSymbol=
CurrencySubunitSingular=baisa
CurrencySubunitPlural=baisa
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=
