[Currency Code]
CurrencyCodeIsoAlpha3=PEN
CurrencyCodeIsoNumeric3=604
#Context for Name: Adjectival Country Name and Currency Name
Name=Peruvian Nuevo Sol
Name[ar]=النيوفوسول البيروي
Name[ast]=Nuevu sol peruanu
Name[bg]=Нов перуански сол
Name[bn]=পেরুর নুয়েভো সোল
Name[bs]=peruanski novi sol
Name[ca]=Nuevo Sol del Perú
Name[ca@valencia]=Nuevo Sol del Perú
Name[cs]=Peruánské Nuevo Sol
Name[da]=Peruviansk nuevo sol
Name[de]=Peruanischer Sol
Name[el]=Νέο σολ Περουβιανό
Name[en_GB]=Peruvian Nuevo Sol
Name[eo]=Perua nova suno
Name[es]=Nuevo sol peruano
Name[et]=Peruu Nuevo Sol
Name[eu]=Peruko sol berri
Name[fa]=نئوو سول پرو
Name[fi]=Perun uusi sol
Name[fr]=Nouveau sol péruvien
Name[ga]=Nuevo Sol Pheiriú
Name[gd]=Sol ùr Pearùthach
Name[gl]=Novo sol peruano
Name[gu]=પેરુવિઅન નુએવો સોલ
Name[he]=נובאו סול של פרו
Name[hi]=पेरुवियन नेवो सोल
Name[hr]=Peruanski novi sol
Name[hu]=Perui új sol
Name[ia]=Peruvian Nuevo Sol
Name[id]=Sol Nuevo Peru
Name[is]=Perúvískur Nuevo Sol
Name[it]=Nuevo sol peruviano
Name[kk]=Перудың жаңа солі
Name[km]=Peruvian Nuevo Sol
Name[ko]=페루 누에보 솔
Name[lt]=Peru naujasis solis
Name[lv]=Peru sols
Name[ml]=പെറുവിലെ ന്യുവൊ സോള്‍
Name[mr]=पेरुवियन न्यूव्हो सोल
Name[nb]=Peruansk nuevo sol
Name[nds]=Peruaansch Nuevo Sol
Name[nl]=Peruviaanse Nuevo Sol
Name[nn]=Peruansk nuevo sol
Name[pa]=ਪੇਰੂਵੀਅਨ ਨੂਈਵੋ ਸੋਲ
Name[pl]=Nuevo Sol peruwiańskie
Name[pt]=Nuevo Sol Peruano
Name[pt_BR]=Novo Sol peruano
Name[ro]=Nuevo sol peruvian
Name[ru]=Перуанский новый соль
Name[si]=පෙරුවියන් නුයිවෝ සොල්
Name[sk]=Peruánsky nuevo sol
Name[sl]=perujski novi sol
Name[sr]=перуански нови сол
Name[sr@ijekavian]=перуански нови сол
Name[sr@ijekavianlatin]=peruanski novi sol
Name[sr@latin]=peruanski novi sol
Name[sv]=Peruanska nuevo sol
Name[tg]=Соли Нуевои Перу
Name[tr]=Peru Yeni Solu
Name[ug]=پېرۇ يېڭى سولى
Name[uk]=Перуанський новий соль
Name[vi]=Nuevo Sol Peru
Name[wa]=Nuevo Sol då Perou
Name[x-test]=xxPeruvian Nuevo Solxx
Name[zh_CN]=秘鲁新索尔
Name[zh_TW]=秘魯─新太陽幣（Nuevo Sol）
CurrencyNameIso=Nuevo sol
CurrencyUnitSymbols=S/.,PEN
CurrencyUnitSymbolDefault=S/.
CurrencyUnitSymbolUnambiguous=S/.
CurrencyUnitSingular=nuevo sol
CurrencyUnitPlural=nuevos soles
CurrencySubunitSymbol=
CurrencySubunitSingular=centimo
CurrencySubunitPlural=centimos
CurrencyIntroducedDate=1991,07,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PE
