[Currency Code]
CurrencyCodeIsoAlpha3=PGK
CurrencyCodeIsoNumeric3=598
#Context for Name: Adjectival Country Name and Currency Name
Name=Papua New Guinean Kina
Name[ast]=Kina papuana
Name[bs]=papuanovogvinejska kina
Name[ca]=Kina de Papua Nova Guinea
Name[ca@valencia]=Kina de Papua Nova Guinea
Name[cs]=Papujsko-guinejská kina
Name[da]=Papuansk kina
Name[de]=Kina
Name[en_GB]=Papua New Guinean Kina
Name[es]=Kina de Papúa Nueva Guinea
Name[et]=Paapua Uus-Guinea kina
Name[eu]=Papua-Ginea Berriko kina
Name[fa]=کینای پاپوا گینه نو
Name[fi]=Papua-Uuden-Guinean kina
Name[fr]=Kina de Papouasie-Nouvelle-Guinée
Name[gd]=Kina Ghini Nuaidh Paputhaiche
Name[gl]=Kina da Papúa Nova Guinea
Name[hu]=Pápua új-guineai kina
Name[ia]=Kina de Papua Nove Guinea
Name[id]=Kina Papua Nugini
Name[is]=Papúa Nýju-gíneskt kina
Name[it]=Kina papuana
Name[ko]=파푸아뉴기니 키나
Name[lt]=Papua Naujosios Gvinėjos kina
Name[mr]=पापुआ न्यु गिनिया किना
Name[nb]=Papuansk kina
Name[nds]=Papua-Niegguineesch Kina
Name[nl]=Papua-Nieuw-Guineese Kina
Name[nn]=Papuansk kina
Name[pa]=ਪਾਪੂਆ ਨਿਊ ਗੂਈਆ ਕੀਨਾ
Name[pl]=Kina nowogwinejska
Name[pt]=Kina da Papua Nova Guiné
Name[pt_BR]=Kina papuásio
Name[ru]=Кина Папуа — Новой Гвинеи
Name[sk]=Papua-Nová Guinea kina
Name[sl]=papuanska kina
Name[sr]=папуановогвинејска кина
Name[sr@ijekavian]=папуановогвинејска кина
Name[sr@ijekavianlatin]=papuanovogvinejska kina
Name[sr@latin]=papuanovogvinejska kina
Name[sv]=Papua Nya Guinea kina
Name[tg]=Кинаи Папуа Гвинеяи Нав
Name[tr]=Papua Yeni Gine Kinası
Name[uk]=Кіна Папуа-Нової Гвінеї
Name[x-test]=xxPapua New Guinean Kinaxx
Name[zh_CN]=巴布亚新几内亚基纳
Name[zh_TW]=巴布亞紐幾內亞─吉納（Kina）
CurrencyNameIso=Kina
CurrencyUnitSymbols=K,PGK
CurrencyUnitSymbolDefault=K
CurrencyUnitSymbolUnambiguous=PGK
CurrencyUnitSingular=kina
CurrencyUnitPlural=kina
CurrencySubunitSymbol=
CurrencySubunitSingular=toea
CurrencySubunitPlural=toea
CurrencyIntroducedDate=1975,04,19
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PGK
