[Currency Code]
CurrencyCodeIsoAlpha3=PHP
CurrencyCodeIsoNumeric3=608
#Context for Name: Adjectival Country Name and Currency Name
Name=Philippine Peso
Name[ar]=البيزو الفلبيني
Name[ast]=Pesu filipín
Name[bs]=filipinski pezos
Name[ca]=Peso filipí
Name[ca@valencia]=Peso filipí
Name[cs]=Filipínský peso
Name[da]=Filippinsk peso
Name[de]=Philippinischer Peso
Name[en_GB]=Philippine Peso
Name[es]=Peso filipino
Name[et]=Filipiinide peeso
Name[eu]=Filipinetako peso
Name[fa]=پزوی فیلیپین
Name[fi]=Filippiinien peso
Name[fr]=Peso des Philippines
Name[gd]=Peso Filipineach
Name[gl]=Peso filipino
Name[hu]=Fülöp-szigeteki peso
Name[ia]=Peso del Philippinas
Name[id]=Peso Filipina
Name[is]=Filippínskur pesó
Name[it]=Peso filippino
Name[ko]=필리핀 페소
Name[lt]=Filipinų pesas
Name[mr]=फिलिपाइन्स पेसो
Name[nb]=Filippinsk peso
Name[nds]=Philippiensch Peso
Name[nl]=Filipijnse Peso
Name[nn]=Filippinsk peso
Name[pa]=ਫਿਲੀਪੀਨਜ਼ ਪੀਸੋ
Name[pl]=Peso filipińskie
Name[pt]=Peso Filipino
Name[pt_BR]=Peso filipino
Name[ru]=Филиппинское песо
Name[sk]=Filipínske peso
Name[sl]=filipinski peso
Name[sr]=филипински пезос
Name[sr@ijekavian]=филипински пезос
Name[sr@ijekavianlatin]=filipinski pezos
Name[sr@latin]=filipinski pezos
Name[sv]=Filippinska peso
Name[tg]=Песои Филиппин
Name[tr]=Filipinler Pezosu
Name[uk]=Філіппінське песо
Name[x-test]=xxPhilippine Pesoxx
Name[zh_CN]=菲律宾比索
Name[zh_TW]=菲律賓─披索（Peso）
CurrencyNameIso=Philippine peso
CurrencyUnitSymbols=₱,PhP,P,PHP
CurrencyUnitSymbolDefault=₱
CurrencyUnitSymbolUnambiguous=₱
CurrencyUnitSingular=piso
CurrencyUnitPlural=pisos
CurrencySubunitSymbol=
CurrencySubunitSingular=sentimo
CurrencySubunitPlural=sentimos
CurrencyIntroducedDate=1949,01,03
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PH
