[Currency Code]
CurrencyCodeIsoAlpha3=PKR
CurrencyCodeIsoNumeric3=586
#Context for Name: Adjectival Country Name and Currency Name
Name=Pakistan Rupee
Name[ar]=الروبية الباكستانية
Name[ast]=Rupia paquistanina
Name[bs]=pakistanska rupija
Name[ca]=Rupia pakistanesa
Name[ca@valencia]=Rupia pakistanesa
Name[cs]=Pákistánská rupie
Name[da]=Pakistansk rupee
Name[de]=Pakistanische Rupie
Name[en_GB]=Pakistan Rupee
Name[es]=Rupia pakistaní
Name[et]=Pakistani ruupia
Name[eu]=Pakistango errupia
Name[fa]=روپیه پاکستان
Name[fi]=Pakistanin rupia
Name[fr]=Roupie pakistanaise
Name[gd]=Rupee Pagastànach
Name[gl]=Rupia paquistaní
Name[hu]=Pakisztáni rúpia
Name[ia]=Rupia de Pakistan
Name[id]=Rupee Pakistan
Name[is]=Pakistönsk rúpía
Name[it]=Rupia pakistana
Name[ko]=파키스탄 루피
Name[lt]=Pakistano rupija
Name[mr]=पाकिस्तान रुपी
Name[nb]=Pakistansk rupi
Name[nds]=Pakistaansch Rupje
Name[nl]=Pakistaanse Roepie
Name[nn]=Pakistansk rupi
Name[pa]=ਪਾਕਿਸਤਾਨ ਰੁਪਇਆ
Name[pl]=Rupia pakistańska
Name[pt]=Rupia do Paquistão
Name[pt_BR]=Rúpia paquistanesa
Name[ru]=Пакистанская рупия
Name[sk]=Pakistanská rupia
Name[sl]=pakistanska rupija
Name[sr]=пакистанска рупија
Name[sr@ijekavian]=пакистанска рупија
Name[sr@ijekavianlatin]=pakistanska rupija
Name[sr@latin]=pakistanska rupija
Name[sv]=Pakistanska rupie
Name[tg]=Рупии Покистон
Name[tr]=Pakistan Rupisi
Name[uk]=Пакистанська рупія
Name[x-test]=xxPakistan Rupeexx
Name[zh_CN]=巴基斯坦卢比
Name[zh_TW]=巴基斯坦─盧比（Rupee）
CurrencyNameIso=Pakistan rupee
CurrencyUnitSymbols=Rs,PKR
CurrencyUnitSymbolDefault=Rs
CurrencyUnitSymbolUnambiguous=PKR
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=paisa
CurrencySubunitPlural=paisas
CurrencyIntroducedDate=1948,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PK
