[Currency Code]
CurrencyCodeIsoAlpha3=PLN
CurrencyCodeIsoNumeric3=985
#Context for Name: Adjectival Country Name and Currency Name
Name=Polish Zloty
Name[ar]=الزلوتي البولندي
Name[ast]=Zloty polacu
Name[bs]=poljski zlot
Name[ca]=Zloty polonès
Name[ca@valencia]=Zloty polonés
Name[cs]=Polský zlotý
Name[da]=Polsk złoty
Name[de]=Złoty
Name[en_GB]=Polish Zloty
Name[es]=Zloty polaco
Name[et]=Poola zlott
Name[eu]=Poloniako zloty
Name[fa]=سلاتی لهستان
Name[fi]=Puolan zloty
Name[fr]=Zloty polonais
Name[gd]=Złoty Pòlainneach
Name[gl]=Zloty polaco
Name[hu]=Lengyel zloty
Name[ia]=Zloty Polonese 
Name[id]=Zloty Polandia
Name[is]=Pólskt zlotí
Name[it]=Złoty polacco
Name[ko]=폴란드 즈워티
Name[lt]=Lenkijos zlotas
Name[mr]=पोलिश झोल्टी
Name[nb]=Polsk zloty
Name[nds]=Poolsch Zloty
Name[nl]=Poolse Zloty
Name[nn]=Polsk zloty
Name[pa]=ਪੋਲੈਂਡੀ ਜ਼ਲੋਟੇ
Name[pl]=Złoty polski
Name[pt]=Zloty Polaco
Name[pt_BR]=Zloty polonês
Name[ru]=Польский злотый
Name[sk]=Poľský zlotý
Name[sl]=poljski zlot
Name[sr]=пољски злот
Name[sr@ijekavian]=пољски злот
Name[sr@ijekavianlatin]=poljski zlot
Name[sr@latin]=poljski zlot
Name[sv]=Polska zloty
Name[tg]=Злотаи Полякӣ
Name[tr]=Polonya Zlotisi
Name[uk]=Польський злотий
Name[x-test]=xxPolish Zlotyxx
Name[zh_CN]=波兰兹罗提
Name[zh_TW]=波蘭─茲羅提（Zloty）
CurrencyNameIso=Zloty
CurrencyUnitSymbols=zł,PLN
CurrencyUnitSymbolDefault=zł
CurrencyUnitSymbolUnambiguous=zł
CurrencyUnitSingular=zloty
CurrencyUnitPlural=
CurrencySubunitSymbol=gr
CurrencySubunitSingular=grosz
CurrencySubunitPlural=groszy
CurrencyIntroducedDate=1995,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PL
