[Currency Code]
CurrencyCodeIsoAlpha3=PTE
CurrencyCodeIsoNumeric3=620
#Context for Name: Adjectival Country Name and Currency Name
Name=Portuguese Escudo
Name[ar]=الاسكود البرتغالي
Name[ast]=Escudu portugués
Name[bs]=portugalski eskudo
Name[ca]=Escut portuguès
Name[ca@valencia]=Escut portugués
Name[cs]=Portugalské escudo
Name[da]=Portugisisk escudo
Name[de]=Portugiesischer Escudo
Name[en_GB]=Portuguese Escudo
Name[es]=Escudo portugués
Name[et]=Portugali eskuudo
Name[eu]=Portugaleko eskudo
Name[fa]=اسکودوی پرتغالی
Name[fi]=Portugalin escudo
Name[fr]=Escudo portugais
Name[gd]=Escudo Portagaileach
Name[gl]=Escudo portugués
Name[hu]=Portugál escudo
Name[ia]=Escudo Portugese
Name[id]=Escudo Portugal
Name[is]=Portúgalskur eskúdó
Name[it]=Escudo portoghese
Name[ko]=포르투갈 이스쿠두
Name[lt]=Portugalijos eskudas
Name[mr]=पोर्तुगीज एस्क्युदो
Name[nb]=Portugisisk escudo
Name[nds]=Portugeesch Escudo
Name[nl]=Portugese Escudo
Name[nn]=Portugisisk escudo
Name[pa]=ਪੁਰਤਗਾਲੀ ਇਸਕੁਡੋ
Name[pl]=Escudo portugalskie
Name[pt]=Escudo Português
Name[pt_BR]=Escudo português
Name[ru]=Португальский эскудо
Name[sk]=Portugalské escudo
Name[sl]=portugalski eskudo
Name[sr]=португалски ескудо
Name[sr@ijekavian]=португалски ескудо
Name[sr@ijekavianlatin]=portugalski eskudo
Name[sr@latin]=portugalski eskudo
Name[sv]=Portugisiska escudo
Name[tg]=Эскудои Португалӣ
Name[tr]=Portekiz Eskudosu
Name[uk]=Португальське ескудо
Name[x-test]=xxPortuguese Escudoxx
Name[zh_CN]=葡萄牙埃斯库多
Name[zh_TW]=葡萄牙─埃斯庫多（Escudo）
CurrencyNameIso=Portuguese escudo
CurrencyUnitSymbols=$,PTE
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=PTE
CurrencyUnitSingular=escudo
CurrencyUnitPlural=escudos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1911,05,22
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
