[Currency Code]
CurrencyCodeIsoAlpha3=PYG
CurrencyCodeIsoNumeric3=600
#Context for Name: Adjectival Country Name and Currency Name
Name=Paraguayan Guarani
Name[ar]=الغواراني الباراغواي
Name[ast]=Guaraní paraguayu
Name[bs]=paragvajski guarani
Name[ca]=Guaraní de Paraguai
Name[ca@valencia]=Guaraní de Paraguai
Name[cs]=Paraguayský guarani
Name[da]=Paraguayansk guarani
Name[de]=Paraguayischer Guaraní
Name[en_GB]=Paraguayan Guarani
Name[es]=Guaraní paraguayo
Name[et]=Paraguay guaranii
Name[eu]=Paraguaiko guarani
Name[fa]=گوارانی پاراگوئه
Name[fi]=Paraguayn guaraní
Name[fr]=Guarani paraguayen
Name[gd]=Guaraní Paraguaidheach
Name[gl]=Guaraní paraguaio
Name[hu]=Paraguayi guaraní
Name[ia]=Guarany de Paraguay
Name[id]=Guarani Paraguay
Name[is]=Paragvæskt gvaraní
Name[it]=Guaraní paraguaiano
Name[ko]=파라과이 과라니
Name[lt]=Paragvajaus gvaranis
Name[mr]=पराग्वे गुआरानी
Name[nb]=Paraguayansk guarani
Name[nds]=Paraguayaansch Guarani
Name[nl]=Paraguayaanse guarani
Name[nn]=Paraguayansk guarani
Name[pa]=ਪਾਰਾਗੁਆ ਗੁਆਰਨੀ
Name[pl]=Guarani peruwiańskie
Name[pt]=Guarani Paraguaio
Name[pt_BR]=Guarani paraguaio
Name[ru]=Парагвайский гуарани
Name[sk]=Paraguajské guarani
Name[sl]=paragvajski gvarani
Name[sr]=парагвајски гуарани
Name[sr@ijekavian]=парагвајски гуарани
Name[sr@ijekavianlatin]=paragvajski guarani
Name[sr@latin]=paragvajski guarani
Name[sv]=Paraguayanska guarani
Name[tg]=Гуарани Парагвай
Name[tr]=Paraguay Guaranisi
Name[uk]=Парагвайське гуарані
Name[x-test]=xxParaguayan Guaranixx
Name[zh_CN]=巴拉圭瓜拉尼
Name[zh_TW]=巴拉圭─瓜拉尼（Guarani）
CurrencyNameIso=Guarani
CurrencyUnitSymbols=₲,PYG
CurrencyUnitSymbolDefault=₲
CurrencyUnitSymbolUnambiguous=₲
CurrencyUnitSingular=guaraní
CurrencyUnitPlural=guaraníes
CurrencySubunitSymbol=
CurrencySubunitSingular=céntimo
CurrencySubunitPlural=céntimos
CurrencyIntroducedDate=1943,10,05
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PY
