[Currency Code]
CurrencyCodeIsoAlpha3=RON
CurrencyCodeIsoNumeric3=946
#Context for Name: Adjectival Country Name and Currency Name
Name=Romanian Leu
Name[ar]=الليو الروماني
Name[ast]=Leu rumanu
Name[bs]=rumunski lej
Name[ca]=Leu romanès
Name[ca@valencia]=Leu romanés
Name[cs]=Rumunské leva
Name[da]=Rumænsk leu
Name[de]=Rumänischer Leu
Name[en_GB]=Romanian Leu
Name[es]=Leu rumano
Name[et]=Rumeenia leu
Name[eu]=Errumaniako leu
Name[fa]=لئو رومانی
Name[fi]=Romanian leu
Name[fr]=Leu roumain
Name[gd]=Leu Romàineach
Name[gl]=Leu romeno
Name[hu]=Román lej
Name[ia]=Leu Romanian
Name[id]=Leu Rumania
Name[is]=Rúmenskt leu
Name[it]=Leu rumeno
Name[ko]=루마니아 레우
Name[lt]=Rumunijos lėja
Name[mr]=रोमानियन लिउ
Name[nb]=Rumensk Leu
Name[nds]=Rumäänsch Leu
Name[nl]=Roemeense Leu
Name[nn]=Rumensk leu
Name[pa]=ਰੋਮਾਨੀਆ ਲਿਉ
Name[pl]=Lej rumuński
Name[pt]=Leu Romeno
Name[pt_BR]=Leu romeno
Name[ru]=Румынский лей
Name[sk]=Rumunský lei
Name[sl]=romunski lev
Name[sr]=румунски леј
Name[sr@ijekavian]=румунски леј
Name[sr@ijekavianlatin]=rumunski lej
Name[sr@latin]=rumunski lej
Name[sv]=Rumänska leu
Name[tg]=Леи Романӣ
Name[tr]=Romanya Leyi
Name[uk]=Румунська лея
Name[x-test]=xxRomanian Leuxx
Name[zh_CN]=罗马尼亚列伊
Name[zh_TW]=羅馬尼亞─列伊（Leu）
CurrencyNameIso=Romanian new leu
CurrencyUnitSymbols=RON
CurrencyUnitSymbolDefault=RON
CurrencyUnitSymbolUnambiguous=RON
CurrencyUnitSingular=leu
CurrencyUnitPlural=lei
CurrencySubunitSymbol=
CurrencySubunitSingular=bani
CurrencySubunitPlural=bani
CurrencyIntroducedDate=2005,07,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=RO
