[Currency Code]
CurrencyCodeIsoAlpha3=RSD
CurrencyCodeIsoNumeric3=941
#Context for Name: Adjectival Country Name and Currency Name
Name=Serbian Dinar
Name[ar]=الدينار الصربي
Name[ast]=Dinar serbiu
Name[bs]=srpski dinar
Name[ca]=Dinar serbi
Name[ca@valencia]=Dinar serbi
Name[cs]=Srbský dinár
Name[da]=Serbisk dinar
Name[de]=Serbischer Dinar
Name[en_GB]=Serbian Dinar
Name[es]=Dinar serbio
Name[et]=Serbia dinaar
Name[eu]=Serbiako dinar
Name[fa]=دینار صربستانی
Name[fi]=Serbian dinaari
Name[fr]=Dinar serbe
Name[gd]=Dinar Sèirbeach
Name[gl]=Dinar serbio
Name[hu]=Szerb dinár
Name[ia]=Dinar Serbe
Name[id]=Dinar Serbia
Name[is]=Serbneskur dínar
Name[it]=Dinaro serbo
Name[ko]=세르비아 디나르
Name[lt]=Serbų dinaras
Name[mr]=सर्बीयन दिनार
Name[nb]=Serbisk dinar
Name[nds]=Serbsch Dinaar
Name[nl]=Servische Dinar
Name[nn]=Serbisk dinar
Name[pa]=ਸਰਬੀਆ ਦੀਨਾਰ
Name[pl]=Dinar serbski
Name[pt]=Dinar Sérvio
Name[pt_BR]=Dinar sérvio
Name[ru]=Сербский динар
Name[sk]=Srbský dinár
Name[sl]=srbski dinar
Name[sr]=српски динар
Name[sr@ijekavian]=српски динар
Name[sr@ijekavianlatin]=srpski dinar
Name[sr@latin]=srpski dinar
Name[sv]=Serbiska dinar
Name[tg]=Динори Сербиявӣ
Name[tr]=Sırbistan Dinarı
Name[uk]=Сербський динар
Name[x-test]=xxSerbian Dinarxx
Name[zh_CN]=塞尔维亚第纳尔
Name[zh_TW]=塞爾維亞─第納爾（Dinar）
CurrencyNameIso=Serbian dinar
CurrencyUnitSymbols=РСД,CSD
CurrencyUnitSymbolDefault=РСД
CurrencyUnitSymbolUnambiguous=РСД
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinara
CurrencySubunitSymbol=
CurrencySubunitSingular=para
CurrencySubunitPlural=para
CurrencyIntroducedDate=2006,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=RS
