[Currency Code]
CurrencyCodeIsoAlpha3=RUB
CurrencyCodeIsoNumeric3=643
#Context for Name: Adjectival Country Name and Currency Name
Name=Russian Ruble
Name[ar]=الروبل الروسي
Name[ast]=Rublu rusu
Name[bs]=ruska rublja
Name[ca]=Ruble rus
Name[ca@valencia]=Ruble rus
Name[cs]=Ruský rubl
Name[da]=Russisk rubel
Name[de]=Russischer Rubel
Name[en_GB]=Russian Ruble
Name[es]=Rublo ruso
Name[et]=Venemaa rubla
Name[eu]=Errusiako errublo
Name[fa]=روبل روسیه
Name[fi]=Venäjän rupla
Name[fr]=Rouble russe
Name[gd]=Rùbal Ruiseach
Name[gl]=Rublo ruso
Name[hu]=Orosz rubel
Name[ia]=Rublo Russe
Name[id]=Ruble Rusia
Name[is]=Rússnesk rúbla
Name[it]=Rublo russo
Name[ko]=러시아 루블
Name[lt]=Rusijos rublis
Name[mr]=रूसी रुबल
Name[nb]=Russisk rubel
Name[nds]=Russ'sch Ruvel
Name[nl]=Russische Roebel
Name[nn]=Russisk rubel
Name[pa]=ਰੂਸੀ ਰੂਬਲ
Name[pl]=Rubel rosyjski
Name[pt]=Rublo Russo
Name[pt_BR]=Rublo russo
Name[ru]=Российский рубль
Name[sk]=Ruský rubeľ
Name[sl]=ruski rubelj
Name[sr]=руска рубља
Name[sr@ijekavian]=руска рубља
Name[sr@ijekavianlatin]=ruska rublja
Name[sr@latin]=ruska rublja
Name[sv]=Ryska rubel
Name[tg]=Рубли Русӣ
Name[tr]=Rus Rublesi
Name[uk]=Російський рубль
Name[x-test]=xxRussian Rublexx
Name[zh_CN]=俄罗斯卢布
Name[zh_TW]=俄羅斯─盧布（Ruble）
CurrencyNameIso=Russian rouble
CurrencyUnitSymbols=руб.,Р.,р.,RUB
CurrencyUnitSymbolDefault=руб.
CurrencyUnitSymbolUnambiguous=руб.
CurrencyUnitSingular=ruble
CurrencyUnitPlural=rubles
CurrencySubunitSymbol=к.
CurrencySubunitSingular=kopek
CurrencySubunitPlural=kopeks
CurrencyIntroducedDate=1998,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=RU
