[Currency Code]
CurrencyCodeIsoAlpha3=RUR
CurrencyCodeIsoNumeric3=810
#Context for Name: Adjectival Country Name and Currency Name
Name=Russian Ruble A/97
Name[ar]=الروبل الروسي (حتّى 1997)
Name[ast]=Rublu A/97 rusu
Name[bg]=Руска рубла (до 97г.)
Name[bn]=রাশিয়ার রুবল A/97
Name[bs]=ruska rublja p.97
Name[ca]=Ruble rus A/97
Name[ca@valencia]=Ruble rus A/97
Name[cs]=Ruský rubl A/97
Name[csb]=Rusczi Rubel 
Name[da]=Russisk rubel A/97
Name[de]=Russischer Rubel A/97
Name[el]=Ρούβλι Ρωσίας Α/97
Name[en_GB]=Russian Ruble A/97
Name[eo]=Rusia rublo
Name[es]=Rublo ruso A/97
Name[et]=Venemaa rubla A/97
Name[eu]=Errusiako errublo A/97
Name[fa]=روبل A/97 روسیه
Name[fi]=Venäjän rupla A/97
Name[fr]=Rouble russe A/97
Name[fy]=Russyske ruble A/97
Name[ga]=Rúbal A/97 na Rúise
Name[gd]=Rùbal Ruiseach (1991–1998)
Name[gl]=Rublo Ruso A/97
Name[gu]=રશિઅન રુબલ A/૯૭
Name[he]=רובל רוסי (אחרי 1997)
Name[hi]=रुसी रुबल A/97
Name[hr]=Ruski rubalj A/97
Name[hu]=Orosz rubel A/97
Name[ia]=Rublo Russo A/97
Name[id]=Ruble A/97 Rusia
Name[is]=Rússnesk rúbla A/97
Name[it]=Rublo russo A/97
Name[kk]=Ресей рублі (97-ге дейінгі)
Name[km]=Russian Ruble A/97
Name[kn]=ರಶಿಯನ್ ರೂಬಲ್ A/97
Name[ko]=러시아 루블 A/97
Name[lt]=Rusijos rublis A/97
Name[lv]=Krievijas rublis A/97
Name[mk]=Руска рубља A/97
Name[ml]=റഷ്യയിലെ റൂബിള്‍ എ/97
Name[mr]=रशियन रुबल A/97
Name[nb]=Russisk rubel A/97
Name[nds]=Russ'sch Ruvel A/97
Name[nl]=Russische Roebel A/97
Name[nn]=Russisk rubel (A/97)
Name[pa]=ਰੂਸੀ ਰੂਬਲ A/97
Name[pl]=Rubel rosyjski A/97
Name[pt]=Rublo Russo A/97
Name[pt_BR]=Rublo russo A/97
Name[ro]=Rublă rusească A/97
Name[ru]=Российский рубль (до 1997 года)
Name[si]=රුසියානු රූබල් A/97
Name[sk]=Ruský rubeľ, do 1997
Name[sl]=ruski rubelj A/97
Name[sr]=руска рубља п.97
Name[sr@ijekavian]=руска рубља п.97
Name[sr@ijekavianlatin]=ruska rublja p.97
Name[sr@latin]=ruska rublja p.97
Name[sv]=Ryska rubel, före 1997
Name[tg]=Рубли Русӣ A/97
Name[tr]=Rus Rublesi A/97
Name[ug]=رۇسىيە رۇبلىسى A/97
Name[uk]=Російський рубль до 1997
Name[vi]=Rúp A/97 Nga
Name[wa]=Roûbe A/97 rûsse
Name[x-test]=xxRussian Ruble A/97xx
Name[zh_CN]=俄罗斯卢布 A/97
Name[zh_TW]=俄羅斯─盧布（Ruble）A/97
CurrencyNameIso=Russian rouble A/97
CurrencyUnitSymbols=руб.,Р.,р.,RUR
CurrencyUnitSymbolDefault=руб.
CurrencyUnitSymbolUnambiguous=RUR
CurrencyUnitSingular=ruble
CurrencyUnitPlural=rubles
CurrencySubunitSymbol=к.
CurrencySubunitSingular=kopek
CurrencySubunitPlural=kopeks
CurrencyIntroducedDate=1961,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=1997,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
