[Currency Code]
CurrencyCodeIsoAlpha3=SBD
CurrencyCodeIsoNumeric3=090
#Context for Name: Adjectival Country Name and Currency Name
Name=Solomon Islands Dollar
Name[ar]=دولار جزر السولومون
Name[ast]=Dólar salomonés
Name[bs]=solomonski dolar
Name[ca]=Dòlar de les Illes Salomó
Name[ca@valencia]=Dòlar de les Illes Salomó
Name[cs]=Dolar Šalamounových ostrovů
Name[da]=Salomonøerne-dollar
Name[de]=Salomonen-Dollar
Name[en_GB]=Solomon Islands Dollar
Name[es]=Dólar de las Islas Salomón
Name[et]=Saalomoni saarte dollar
Name[eu]=Salomon Uharteetako dolar
Name[fa]=دلار جزایر سولومون
Name[fi]=Salomonsaarten dollari
Name[fr]=Dollar des Îles Salomon
Name[gd]=Dolar Eileanan Sholaimh
Name[gl]=Dólar das Illas Salomón
Name[hu]=Salamon-szigeteki dollár
Name[ia]=Dollar del Insulas Solomon
Name[id]=Dollar Kepulauan Solomon
Name[is]=Salómonseyjadollari
Name[it]=Dollaro delle Isole Salomone
Name[ko]=솔로몬 제도 달러
Name[lt]=Saliamono salų doleris
Name[mr]=सोलोमन द्वीप डॉलर
Name[nb]=Salomonsk dollar
Name[nds]=Salomonen-Dollar
Name[nl]=Salomon-dollar
Name[nn]=Salomonsk dollar
Name[pa]=ਸੋਲੋਮੋਨ ਆਈਸਲੈਂਡ ਡਾਲਰ
Name[pl]=Dolar Wysp Salomona
Name[pt]=Dólar das Ilhas Salomão
Name[pt_BR]=Dólar salomônico
Name[ru]=Доллар Соломоновых Островов
Name[sk]=Dolár Šalamúnových ostrovov
Name[sl]=dolar Salomonovih otokov
Name[sr]=соломонски долар
Name[sr@ijekavian]=соломонски долар
Name[sr@ijekavianlatin]=solomonski dolar
Name[sr@latin]=solomonski dolar
Name[sv]=Salomondollar
Name[tg]=Доллари Ҷазираҳои Соломон
Name[tr]=Solomon Adaları Doları
Name[uk]=Долар Соломонових островів
Name[x-test]=xxSolomon Islands Dollarxx
Name[zh_CN]=所罗门元
Name[zh_TW]=索羅門群島─元（Dollar）
CurrencyNameIso=Solomon Islands dollar
CurrencyUnitSymbols=$,SI$,SBD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=SI$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1977,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SB
