[Currency Code]
CurrencyCodeIsoAlpha3=SHP
CurrencyCodeIsoNumeric3=654
#Context for Name: Adjectival Country Name and Currency Name
Name=Saint Helena Pound
Name[ast]=Llibra de de Santa Lena
Name[bs]=svetojelenska funta
Name[ca]=Lliura de Santa Helena
Name[ca@valencia]=Lliura de Santa Helena
Name[cs]=Svatohelenská libra
Name[da]=Skt. Helena pund
Name[de]=St. Helena-Pfund
Name[en_GB]=Saint Helena Pound
Name[es]=Libra de Santa Elena
Name[et]=Saint Helena nael
Name[eu]=Santa Helenako libra
Name[fa]=پوند سنت هلنا
Name[fi]=Saint Helenan punta
Name[fr]=Livre de Sainte-Hélène
Name[gd]=Punnd Eilean Naomh Eilidh
Name[gl]=Libra de Santa Helena
Name[hu]=Szent Helénai font
Name[ia]=Libra de Sancte Helena
Name[id]=Pound Saint Helena
Name[is]=Sankti Helenu pund
Name[it]=Sterlina di Sant'Elena
Name[ko]=세인트헬레나 파운드
Name[lt]=Šv. Elenos salos svaras
Name[mr]=संत हेलेना पाउंड
Name[nb]=Sankthelensk pund
Name[nds]=St.-Helena-Pund
Name[nl]=Sint-Heleens pond
Name[nn]=Sankthelensk pund
Name[pa]=ਸੇਂਟ ਹੀਲੀਨਆ ਪੌਂਡ
Name[pl]=Funt Świętej Heleny
Name[pt]=Libra de Santa Helena
Name[pt_BR]=Libra de Santa Helena
Name[ru]=Фунт Святой Елены
Name[sk]=Libra Ostrova Svätej Heleny
Name[sl]=funt Svete Helene
Name[sr]=светојеленска фунта
Name[sr@ijekavian]=светојеленска фунта
Name[sr@ijekavianlatin]=svetojelenska funta
Name[sr@latin]=svetojelenska funta
Name[sv]=Saint Helena-pund
Name[tg]=Фунти Ҷазираи Ҳазрати Елена
Name[tr]=Saint Helena Paundu
Name[uk]=Фунт острова Святої Єлени
Name[x-test]=xxSaint Helena Poundxx
Name[zh_CN]=圣赫勒拿镑
Name[zh_TW]=聖赫勒拿─鎊（Pound）
CurrencyNameIso=Saint Helena pound
CurrencyUnitSymbols=£,SH£,SHP
CurrencyUnitSymbolDefault=£
CurrencyUnitSymbolUnambiguous=SH£
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=p
CurrencySubunitSingular=penny
CurrencySubunitPlural=pence
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SH
