[Currency Code]
CurrencyCodeIsoAlpha3=SIT
CurrencyCodeIsoNumeric3=705
#Context for Name: Adjectival Country Name and Currency Name
Name=Slovenian Tolar
Name[ar]=التولار السلوفيني
Name[bs]=slovenački tolar
Name[ca]=Tolar eslovè
Name[ca@valencia]=Tolar eslovè
Name[cs]=Slovinský tolar
Name[da]=Slovensk tolar
Name[de]=Slowenischer Tolar
Name[en_GB]=Slovenian Tolar
Name[es]=Tólar esloveno
Name[et]=Sloveenia tolar
Name[eu]=Esloveniako tolar
Name[fa]=تولار اسلوونی
Name[fi]=Slovenian tolar
Name[fr]=Tolar slovène
Name[gd]=Tolar Slòbhaineach
Name[gl]=Tolar esloveno
Name[hu]=Szlovén tolár
Name[ia]=Tolar Sloven
Name[id]=Tolar Slovenia
Name[is]=Slóvenskur tolar
Name[it]=Tallero sloveno
Name[ko]=슬로베니아 톨라르
Name[lt]=Slovėnijos taleris
Name[mr]=स्लोवेनियन टोलर
Name[nb]=Slovensk tolar
Name[nds]=Sloweensch Taler
Name[nl]=Sloveense Tolar
Name[nn]=Slovensk tolar
Name[pa]=ਸਲੋਵੀਨੀਆ ਤੋਲਾਰ
Name[pl]=Tolar słoweński
Name[pt]=Tolar Esloveno
Name[pt_BR]=Tolar esloveno
Name[ru]=Словенский толар
Name[sk]=Slovinský toliar
Name[sl]=slovenski tolar
Name[sr]=словеначки толар
Name[sr@ijekavian]=словеначки толар
Name[sr@ijekavianlatin]=slovenački tolar
Name[sr@latin]=slovenački tolar
Name[sv]=Slovenska tolar
Name[tg]=Толари Словенӣ
Name[tr]=Slovenya Toları
Name[uk]=Словенський толар
Name[x-test]=xxSlovenian Tolarxx
Name[zh_CN]=斯洛文尼亚拖拉
Name[zh_TW]=斯洛伐尼亞─托拉（Tolar）
CurrencyNameIso=Slovenian tolar
CurrencyUnitSymbols=
CurrencyUnitSymbolDefault=
CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=tolar
CurrencyUnitPlural=tolarjev
CurrencySubunitSymbol=
CurrencySubunitSingular=stotin
CurrencySubunitPlural=stotinov
CurrencyIntroducedDate=1991,10,08
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
