[Currency Code]
CurrencyCodeIsoAlpha3=SLL
CurrencyCodeIsoNumeric3=694
#Context for Name: Adjectival Country Name and Currency Name
Name=Sierra Leonean Leone
Name[ar]=الليون السيراليوني
Name[ast]=Leone sierralleonés
Name[bs]=sijeraleonski leone
Name[ca]=Leone de Sierra Leone
Name[ca@valencia]=Leone de Sierra Leone
Name[cs]=Sierraleonský leon
Name[da]=Sierra Leonsk leone
Name[de]=Sierra-leonischer Leone
Name[en_GB]=Sierra Leonean Leone
Name[es]=Leone de Sierra Leona
Name[et]=Sierra Leone leone
Name[eu]=Sierra Leonako leone
Name[fa]=لئون سیرا لئون
Name[fi]=Sierra Leonen leone
Name[fr]=Leone sierra-léonais
Name[gd]=Leone Siarra Leòmhannach
Name[gl]=Leone serra-leonés
Name[hu]=Sierra Leone-i leone
Name[ia]=Leone de Sierra Leone
Name[id]=Leone Sierra Leone
Name[is]=Síerra Leóneskt león
Name[it]=Leone della Sierra Leone
Name[ko]=시에라리온 리온
Name[lt]=Siera Leonės leonė
Name[mr]=सीयारा लिओनियन लिओन
Name[nb]=Sierraleonsk leone
Name[nds]=Sierra-leoonsch Leone
Name[nl]=Sierra Leoonse Leone
Name[nn]=Sierraleonsk leone
Name[pa]=ਸਿਆਰਾ ਲਿਓਨ
Name[pl]=Leone Sierra Leone
Name[pt]=Leone da Serra Leoa
Name[pt_BR]=Leone serra-leonense
Name[ru]=Леоне Сьерра-Леоне
Name[sk]=Sierraleonské leone
Name[sl]=leone Sierre Leone
Name[sr]=сијералеонски леоне
Name[sr@ijekavian]=сијералеонски леоне
Name[sr@ijekavianlatin]=sijeraleonski leone
Name[sr@latin]=sijeraleonski leone
Name[sv]=Sierraleonska leone
Name[tg]=Леони Сиерра-Леоне
Name[tr]=Sierra Leone Leonesi
Name[uk]=Леоне Сьєрра-Леоне
Name[x-test]=xxSierra Leonean Leonexx
Name[zh_CN]=塞拉利昂利昂
Name[zh_TW]=獅子山─利昂（Leone）
CurrencyNameIso=Leone
CurrencyUnitSymbols=Le,SLL
CurrencyUnitSymbolDefault=Le
CurrencyUnitSymbolUnambiguous=Le
CurrencyUnitSingular=leone
CurrencyUnitPlural=leones
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SL
