[Currency Code]
CurrencyCodeIsoAlpha3=SRD
CurrencyCodeIsoNumeric3=968
#Context for Name: Adjectival Country Name and Currency Name
Name=Surinamese Dollar
Name[ar]=الدولار السورينامي
Name[ast]=Dólar surinamés
Name[bs]=surinamski dolar
Name[ca]=Dòlar de Surinam
Name[ca@valencia]=Dòlar de Surinam
Name[cs]=Surinamský dolar
Name[da]=Surinamsk dollar
Name[de]=Suriname-Dollar
Name[en_GB]=Surinamese Dollar
Name[es]=Dólar surinamés
Name[et]=Suriname dollar
Name[eu]=Surinameko dolar
Name[fa]=دلار سورینام
Name[fi]=Surinamin dollari
Name[fr]=Dollar surinamien
Name[gd]=Dolar Suranamach
Name[gl]=Dólar do Suriname
Name[hu]=Suriname-i dollár
Name[ia]=Dollar de Suriname
Name[id]=Dollar Suriname
Name[is]=Súrínamdollari
Name[it]=Dollaro surinamese
Name[ko]=수리남 달러
Name[lt]=Surinamo doleris
Name[mr]=सुरीनाम डॉलर
Name[nb]=Surinamsk dollar
Name[nds]=Surinameesch Dollar
Name[nl]=Surinaamse dollar
Name[nn]=Surinamsk dollar
Name[pa]=ਸੂਰੀਨਾਮੀ ਡਾਲਰ
Name[pl]=Dolar surinamski
Name[pt]=Dólar do Suriname
Name[pt_BR]=Dólar surinamês
Name[ru]=Суринамский доллар
Name[sk]=Surinamský dolár
Name[sl]=surinamski dolar
Name[sr]=суринамски долар
Name[sr@ijekavian]=суринамски долар
Name[sr@ijekavianlatin]=surinamski dolar
Name[sr@latin]=surinamski dolar
Name[sv]=Surinamesisk dollar
Name[tg]=Доллари Суринам
Name[tr]=Surinam Doları
Name[uk]=Суринамський долар
Name[x-test]=xxSurinamese Dollarxx
Name[zh_CN]=苏里南元
Name[zh_TW]=蘇利南─元（Dollar）
CurrencyNameIso=Surinam dollar
CurrencyUnitSymbols=$,SRD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=SRD
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=2004,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SR
