[Currency Code]
CurrencyCodeIsoAlpha3=SRG
CurrencyCodeIsoNumeric3=740
#Context for Name: Adjectival Country Name and Currency Name
Name=Surinamese Guilder
Name[ar]=الغويلدر السورينامي
Name[ast]=Florín surinamés
Name[bs]=surinamski gulden
Name[ca]=Florí de Surinam
Name[ca@valencia]=Florí de Surinam
Name[cs]=Surinamský gulden
Name[da]=Surinamsk gylden
Name[de]=Suriname-Gulden
Name[en_GB]=Surinamese Guilder
Name[es]=Florín surinamés
Name[et]=Suriname kulden
Name[eu]=Surinamgo florin
Name[fa]=گیلدر سورینام
Name[fi]=Surinamin guldeni
Name[fr]=Florin surinamien
Name[gd]=Gulden Suranamach
Name[gl]=Guilder do Suriname
Name[hu]=Suriname-i guilden
Name[ia]=Guilder de Suriname
Name[id]=Guilder Suriname
Name[is]=Súrínamgyllini
Name[it]=Fiorino surinamese
Name[ko]=수리남 휠던
Name[lt]=Surinamo guldenas
Name[mr]=सुरीनाम गिल्डर
Name[nb]=Surinamsk gylden
Name[nds]=Surinameesch Gulden
Name[nl]=Surinaamse gulden
Name[nn]=Surinamsk gylden
Name[pa]=ਸੂਰੀਨਾਮੀ ਗੁਈਲਡਰ
Name[pl]=Gulden surinamski
Name[pt]=Florim do Suriname
Name[pt_BR]=Florim surinamês
Name[ru]=Суринамский гульден
Name[sk]=Surinamský gulden
Name[sl]=surinamski gulden
Name[sr]=суринамски гулден
Name[sr@ijekavian]=суринамски гулден
Name[sr@ijekavianlatin]=surinamski gulden
Name[sr@latin]=surinamski gulden
Name[sv]=Surinamesisk guilder
Name[tg]=Гулдени Суринам
Name[tr]=Surinam Guldeni
Name[uk]=Суринамський гульден
Name[x-test]=xxSurinamese Guilderxx
Name[zh_CN]=苏里南盾
Name[zh_TW]=蘇利南─盾（Guilder）
CurrencyNameIso=Suriname guilder
CurrencyUnitSymbols=ƒ,fl,SRG
CurrencyUnitSymbolDefault=ƒ
CurrencyUnitSymbolUnambiguous=SRD
CurrencyUnitSingular=guilder
CurrencyUnitPlural=guilders
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2003,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
