[Currency Code]
CurrencyCodeIsoAlpha3=SVC
CurrencyCodeIsoNumeric3=222
#Context for Name: Adjectival Country Name and Currency Name
Name=Salvadoran Colon
Name[ar]=الكولون السلفادوري
Name[ast]=Colón salvadorianu
Name[bg]=Салвадорски колон
Name[bn]=সালভাডোরের কোলন
Name[bs]=salvadorski kolon
Name[ca]=Colón salvadorenc
Name[ca@valencia]=Colón salvadorenc
Name[cs]=Salvadorský colón
Name[csb]=Salwadorsczi Colon
Name[da]=Salvadoransk colon
Name[de]=El-Salvador-Colón
Name[el]=Κόλον Σαλβαδόρ
Name[en_GB]=Salvadoran Colon
Name[eo]=Salvadora kolumbo
Name[es]=Colón salvadoreño
Name[et]=Salvadori colon
Name[eu]=Salvadorreko kolon
Name[fa]=کولون السالوادور
Name[fi]=El Salvadorin colon
Name[fr]=Colon salvadorien
Name[fy]=Salvadoraaske colon
Name[ga]=Colon Salvadórach
Name[gd]=Colón Salbhadorach
Name[gl]=Colón salvadoreño
Name[gu]=સાલ્વોડોરાન કોલોન
Name[he]=קולון סלוואדורי
Name[hi]=सल्वादोरण कॉलन
Name[hr]=Salvadorski kolon
Name[hu]=Salvadori cólon
Name[ia]=Salvadoran Colon
Name[id]=Colon Salvador
Name[is]=Salvadorskur kólon
Name[it]=Colón salvadoregno
Name[kk]=Сальвадор колоны
Name[km]=Salvadoran Colon
Name[kn]=ಸಾಲ್ವೊಡೊರಾನ್ ಕೊಲೊನ್
Name[ko]=엘살바도르 콜론
Name[lt]=Salvadoro kolona
Name[lv]=Salvadoras kolons
Name[ml]=സല്‍വാദോരണ്‍ കോളണ്‍
Name[mr]=साल्वाडोरन कोलोन
Name[nb]=Salvadoransk colon
Name[nds]=El-salvadoriaansch Colón
Name[nl]=Salvadoraanse colon
Name[nn]=Salvadoransk colon
Name[pa]=ਸਾਲਵਾਡੋਰਨ ਕੋਲੋਨ
Name[pl]=Colon salwadorski
Name[pt]=Colombo Salvadorenho
Name[pt_BR]=Colon salvadorenho
Name[ro]=Colon salvadorian
Name[ru]=Сальвадорский колон
Name[si]=සැල්වඩෝර කොලොන්
Name[sk]=Salvádorský colón
Name[sl]=salvadorski kolon
Name[sr]=салвадорски колон
Name[sr@ijekavian]=салвадорски колон
Name[sr@ijekavianlatin]=salvadorski kolon
Name[sr@latin]=salvadorski kolon
Name[sv]=El Salvador-colon
Name[tg]=Колони Салвадор
Name[tr]=Salvador Kolonu
Name[ug]=سالۋادور كولونى
Name[uk]=Сальвадорський колон
Name[vi]=Colon Salvador
Name[wa]=Colon do Salvador
Name[x-test]=xxSalvadoran Colonxx
Name[zh_CN]=萨尔瓦多克朗
Name[zh_TW]=薩爾瓦多─科朗（Colon）
CurrencyNameIso=Salvadoran colon
CurrencyUnitSymbols=SVC
CurrencyUnitSymbolDefault=SVC
CurrencyUnitSymbolUnambiguous=SVC
CurrencyUnitSingular=colon
CurrencyUnitPlural=colonc
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1919,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
