[Currency Code]
CurrencyCodeIsoAlpha3=SYP
CurrencyCodeIsoNumeric3=760
#Context for Name: Adjectival Country Name and Currency Name
Name=Syrian Pound
Name[ar]=الليرة السورية
Name[ast]=Llibra siria
Name[bg]=Сирийска лира
Name[bn]=সিরিয়ার পাউন্ড
Name[bs]=sirijska funta
Name[ca]=Lliura siriana
Name[ca@valencia]=Lliura siriana
Name[cs]=Syrská libra
Name[csb]=Syrijsczi Fùnt
Name[da]=Syrisk pund
Name[de]=Syrisches Pfund
Name[el]=Λίρα Συρίας
Name[en_GB]=Syrian Pound
Name[eo]=Siria pundo
Name[es]=Libra siria
Name[et]=Süüria nael
Name[eu]=Siriako libra
Name[fa]=پوند سوریه
Name[fi]=Syyrian punta
Name[fr]=Livre syrienne
Name[fy]=Syryske pûn
Name[ga]=Punt na Siria
Name[gd]=Punnd Siridheach
Name[gl]=Libra siria
Name[gu]=સુરીઅન પાઉન્ડ
Name[he]=לירה סורית
Name[hi]=सिरियाई पोंड
Name[hr]=Sirijska funta
Name[hu]=Szír font
Name[ia]=Syrian Pound
Name[id]=Pound Suriah
Name[is]=Sýrlenskt pund
Name[it]=Lira siriana
Name[kk]=Сирия фунты
Name[km]=Syrian Pound
Name[kn]=ಸಿರಿಯನ್ ಪೌಂಡ್
Name[ko]=시리아 파운드
Name[lt]=Sirijos svaras
Name[lv]=Sīrijas mārciņa
Name[mk]=Сиријска фунта
Name[ml]=സിറിയയിലെ പൌണ്ട്
Name[mr]=सिरियन पाउंड
Name[nb]=Syrisk pund
Name[nds]=Syrsch Pund
Name[nl]=Syrisch pond
Name[nn]=Syrisk pund
Name[pa]=ਸੀਰੀਆਈ ਪੌਂਡ
Name[pl]=Funt syryjski
Name[pt]=Libra Síria
Name[pt_BR]=Libra síria
Name[ro]=Liră siriană
Name[ru]=Сирийский фунт
Name[si]=සිරියානු පවුම්
Name[sk]=Sýrska libra
Name[sl]=sirski funt
Name[sr]=сиријска фунта
Name[sr@ijekavian]=сиријска фунта
Name[sr@ijekavianlatin]=sirijska funta
Name[sr@latin]=sirijska funta
Name[sv]=Syriska pund
Name[tg]=Фунти Сурия
Name[th]=ปอนด์ซีเรีย
Name[tr]=Suriye Lirası
Name[ug]=سۈرىيە پوندى
Name[uk]=Сирійський фунт
Name[vi]=Bảng Syria
Name[wa]=Live siryinne
Name[x-test]=xxSyrian Poundxx
Name[zh_CN]=叙利亚镑
Name[zh_TW]=敘利亞─鎊（Pound）
CurrencyNameIso=Syrian pound
CurrencyUnitSymbols=SYP
CurrencyUnitSymbolDefault=SYP
CurrencyUnitSymbolUnambiguous=SYP
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=
CurrencySubunitSingular=piastre
CurrencySubunitPlural=piastres
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
