[Currency Code]
CurrencyCodeIsoAlpha3=SZL
CurrencyCodeIsoNumeric3=748
#Context for Name: Adjectival Country Name and Currency Name
Name=Swazi Lilangeni
Name[ar]=الليلانغيني السوازيلندي
Name[ast]=Lilangeni suazilandés
Name[bs]=svazilendski lilangeni
Name[ca]=Lilangeni de Swazilàndia
Name[ca@valencia]=Lilangeni de Swazilàndia
Name[cs]=Swazijský Lilangeni
Name[da]=Swazilandsk lilangeni
Name[de]=Lilangeni
Name[en_GB]=Swazi Lilangeni
Name[es]=Lilangeni de Suazilandia
Name[et]=Svaasimaa lilangeni
Name[eu]=Swazilandiako lilangeni
Name[fa]=لیلانگنی سوآزیلند
Name[fi]=Swazimaan lilangeli
Name[fr]=Lilangeni swazilandais
Name[gd]=Lilangeni Suasaidheach
Name[gl]=Lilangeni suazilandés
Name[hu]=Szváziföldi lilangeni
Name[ia]=Lilangeni de Swaziland
Name[id]=Lilangeni Swaziland
Name[is]=Svasílenskt lilagreni
Name[it]=Lilangeni dello Swaziland
Name[ko]=스와질란드 릴랑게니
Name[lt]=Svazilendo lilangenis
Name[mr]=स्वाझी लिलांजेनी
Name[nb]=Swazilandsk lilangeni
Name[nds]=Swasilannsch Lilangeni
Name[nl]=Swaziland lilangeni
Name[nn]=Swazilandsk lilangeni
Name[pa]=ਸਵਾਜ਼ੀਲੈਂਡ ਲੀਲਾਗਿਨਾ
Name[pl]=Lilangeni suazyjskie
Name[pt]=Lilangeni da Suazilândia
Name[pt_BR]=Lilangeni suazi
Name[ru]=Свазилендский лилангени
Name[sk]=Swazijský lilangeni
Name[sl]=svazijski lilangeni
Name[sr]=свазилендски лилангени
Name[sr@ijekavian]=свазилендски лилангени
Name[sr@ijekavianlatin]=svazilendski lilangeni
Name[sr@latin]=svazilendski lilangeni
Name[sv]=Swaziland lilangeni
Name[tg]=Лилангени Свазиленд
Name[tr]=Swazi Lilangeni
Name[uk]=Лілангені Свазіленду
Name[x-test]=xxSwazi Lilangenixx
Name[zh_CN]=斯威士兰里兰吉尼
Name[zh_TW]=史瓦濟蘭─里蘭吉尼（Lilangeni）
CurrencyNameIso=Lilangeni
CurrencyUnitSymbols=
CurrencyUnitSymbolDefault=
CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=lilangeni
CurrencyUnitPlural=emalangeni
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1974,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SZ
