[Currency Code]
CurrencyCodeIsoAlpha3=TJS
CurrencyCodeIsoNumeric3=972
#Context for Name: Adjectival Country Name and Currency Name
Name=Tajikistani Somoni
Name[ar]=الساماني الطاجيكي
Name[ast]=Somoni taxiquistanín
Name[bs]=tadžikistanski somoni
Name[ca]=Somoni de Tadjikistan
Name[ca@valencia]=Somoni de Tadjikistan
Name[cs]=Tadžikistánský somoni
Name[da]=Tadsjikisk somoni
Name[de]=Somoni
Name[en_GB]=Tajikistani Somoni
Name[es]=Somoni tayiko
Name[et]=Tadžikistani somoni
Name[eu]=Tadjikistango somoni
Name[fa]=سومونی تاجیکستان
Name[fi]=Tadžikistanin somoni
Name[fr]=Somoni tadjik
Name[gd]=Somoni Taidigeach
Name[gl]=Somoni do Taxiquistán
Name[hu]=Tádzsik szomoni
Name[ia]=Somoni de Tajikistan
Name[id]=Somoni Tajikistan
Name[is]=Tadsjikiskut somoni
Name[it]=Somoni tagico
Name[ko]=타지키스탄 소모니
Name[lt]=Tadžikijos somonis
Name[mr]=ताजिक सोमोनी
Name[nb]=Tadsjikisk somoni
Name[nds]=Tadschikisch Somoni
Name[nl]=Tadzjikistan somoni
Name[nn]=Tadsjikisk somoni
Name[pa]=ਤਜ਼ਾਕਸਤਾਨ ਸੋਮੋਨੀ
Name[pl]=Somoni tadżyckie
Name[pt]=Somoni do Tajiquistão
Name[pt_BR]=Somoni tajique
Name[ru]=Таджикский сомони
Name[sk]=Tadžické somoni
Name[sl]=tadžikistanski somoni
Name[sr]=таџикистански сомони
Name[sr@ijekavian]=таџикистански сомони
Name[sr@ijekavianlatin]=tadžikistanski somoni
Name[sr@latin]=tadžikistanski somoni
Name[sv]=Tadzjikiska somoni
Name[tg]=Сомонии Тоҷикистон
Name[tr]=Tacik Somonu
Name[uk]=Таджицький сомоні
Name[x-test]=xxTajikistani Somonixx
Name[zh_CN]=塔吉克斯坦索莫尼
Name[zh_TW]=塔吉克─索莫尼（Somoni）
CurrencyNameIso=Somoni
CurrencyUnitSymbols=TJS
CurrencyUnitSymbolDefault=TJS
CurrencyUnitSymbolUnambiguous=TJS
CurrencyUnitSingular=somoni
CurrencyUnitPlural=somoni
CurrencySubunitSymbol=
CurrencySubunitSingular=diram
CurrencySubunitPlural=diram
CurrencyIntroducedDate=2000,10,30
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TJ
