[Currency Code]
CurrencyCodeIsoAlpha3=TMM
CurrencyCodeIsoNumeric3=795
#Context for Name: Adjectival Country Name and Currency Name
Name=Turkmenistani Manat
Name[ar]=المنات التركمانستاني
Name[ast]=Manat turcomanu
Name[bs]=turkmenistanski manat
Name[ca]=Manat del Turkmenistan
Name[ca@valencia]=Manat del Turkmenistan
Name[cs]=Turkmenistánský manat
Name[da]=Turkmensk manat
Name[de]=Turkmenistan-Manat
Name[en_GB]=Turkmenistani Manat
Name[es]=Manat turkmeno
Name[et]=Türkmenistani manat
Name[eu]=Turkmenistango manat
Name[fa]=منات ترکمنستان
Name[fi]=Turkmenistanin manat
Name[fr]=Manat turkmène
Name[gd]=Manat Turcmanach
Name[gl]=Manat do Turkmenistán
Name[hu]=Türkmén manat
Name[ia]=Manat de Turkmenistan
Name[id]=Manat Turkmenistan
Name[is]=Túrkmenistanskt manat
Name[it]=Manat turkmeno
Name[ko]=투르크메니스탄 마나트
Name[lt]=Turkmenistano manatas
Name[mr]=तुर्कमेन मनत
Name[nb]=Turkmensk manat
Name[nds]=Turkmeensch Manat
Name[nl]=Turkmenistan manat
Name[nn]=Turkmensk manat
Name[pa]=ਤੁਰਕੇਮਸਤਾਨ ਮਨਤ
Name[pl]=Manat turkmenistański
Name[pt]=Manat Turquemeno
Name[pt_BR]=Manat turcomeno
Name[ru]=Туркменский манат
Name[sk]=Turkménsky manat
Name[sl]=turkmenski manat
Name[sr]=туркменистански манат
Name[sr@ijekavian]=туркменистански манат
Name[sr@ijekavianlatin]=turkmenistanski manat
Name[sr@latin]=turkmenistanski manat
Name[sv]=Turkmenistansk manat
Name[tg]=Манати Туркманистон
Name[tr]=Türkmen Manatı
Name[uk]=Туркменський манат
Name[x-test]=xxTurkmenistani Manatxx
Name[zh_CN]=土库曼斯坦马纳特
Name[zh_TW]=塔吉克─馬那特（Manat）
CurrencyNameIso=Manat
CurrencyUnitSymbols=m,TMM
CurrencyUnitSymbolDefault=m
CurrencyUnitSymbolUnambiguous=m
CurrencyUnitSingular=manat
CurrencyUnitPlural=manat
CurrencySubunitSymbol=
CurrencySubunitSingular=tennesi
CurrencySubunitPlural=tennesi
CurrencyIntroducedDate=2009,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TM
