[Currency Code]
CurrencyCodeIsoAlpha3=TND
CurrencyCodeIsoNumeric3=788
#Context for Name: Adjectival Country Name and Currency Name
Name=Tunisian Dinar
Name[ar]=الدينار التونسي
Name[ast]=Dinar tunecín
Name[bs]=tuniški dinar
Name[ca]=Dinar tunisià
Name[ca@valencia]=Dinar tunisià
Name[cs]=Tuniský dinár
Name[da]=Tunesisk dinar
Name[de]=Tunesischer Dinar
Name[en_GB]=Tunisian Dinar
Name[es]=Dinar tunecino
Name[et]=Tuneesia dinaar
Name[eu]=Tunisiako dinar
Name[fa]=دینار تونس
Name[fi]=Tunisian dinaari
Name[fr]=Dinar tunisien
Name[gd]=Dinar Tuiniseach
Name[gl]=Dinar tunisiano
Name[hu]=Tunéziai dinár
Name[ia]=Dinar de Tunisia
Name[id]=Dinar Tunisia
Name[is]=Túnískur dínar
Name[it]=Dinaro tunisino
Name[ko]=튀니지 디나르
Name[lt]=Tuniso dinaras
Name[mr]=ट्युनीसीया दिनार
Name[nb]=Tunisisk dinar
Name[nds]=Tuneesch Dinaar
Name[nl]=Tunesische Dinar
Name[nn]=Tunisisk dinar
Name[pa]=ਟੁਨੀਸ਼ੀਆ ਦੀਨਾਰ
Name[pl]=Dinar tunezyjski
Name[pt]=Dinar Tunisino
Name[pt_BR]=Dinar tunisiano
Name[ru]=Тунисский динар
Name[sk]=Tuniský dinár
Name[sl]=tunizijski dinar
Name[sr]=тунишки динар
Name[sr@ijekavian]=тунишки динар
Name[sr@ijekavianlatin]=tuniški dinar
Name[sr@latin]=tuniški dinar
Name[sv]=Tunisiska dinar
Name[tg]=Динори Тунис
Name[tr]=Tunus Dinarı
Name[uk]=Туніський динар
Name[x-test]=xxTunisian Dinarxx
Name[zh_CN]=突尼斯第纳尔
Name[zh_TW]=突尼西亞─第納爾（Dinar）
CurrencyNameIso=Tunisian dinar
CurrencyUnitSymbols=د.ت,DT,TND
CurrencyUnitSymbolDefault=د.ت
CurrencyUnitSymbolUnambiguous=د.ت
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=milim
CurrencySubunitPlural=milim
CurrencyIntroducedDate=1960,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=TN
