[Currency Code]
CurrencyCodeIsoAlpha3=TRL
CurrencyCodeIsoNumeric3=792
#Context for Name: Adjectival Country Name and Currency Name
Name=Turkish Lira A/05
Name[ar]=الليرة التركية (حتّى 2005)
Name[ast]=Llira A/05 turca
Name[bg]=Турска лира (до 05г.)
Name[bn]=তূর্কী লিরা A/05
Name[bs]=turska lira p.05
Name[ca]=Lira turca A/05
Name[ca@valencia]=Lira turca A/05
Name[cs]=Turecká lira A/05
Name[csb]=Tëreckô Lira A/05
Name[da]=Tyrkisk lire A/05
Name[de]=Türkische Lira A/05
Name[el]=Λίρα Τουρκίας Α/05
Name[en_GB]=Turkish Lira A/05
Name[eo]=Turka liro
Name[es]=Lira A/05 turca
Name[et]=Türgi liir A/05
Name[eu]=Turkiako lira A/05
Name[fa]=لیره A/05 ترکیه
Name[fi]=Turkin liira A/05
Name[fr]=Livre turque A/05
Name[fy]=Turkske Lira A/05
Name[ga]=Lira A/05 na Tuirce
Name[gd]=Lira Turcach (1922–2005)
Name[gl]=Lira turca A/05
Name[gu]=તુર્કિશ લિરા  A/05
Name[he]=לירה טורקית לאחר 2005
Name[hi]=तुर्की लीरा A/05
Name[hr]=Turska lira A/05
Name[hu]=Török líra A/05
Name[ia]=Turc Lira A/05
Name[id]=Lira A/05 Turki
Name[is]=Tyrknesk líra A/05
Name[it]=Lira turca A/05
Name[kk]=Түркия лирі (05-ке дейінгі)
Name[km]=Turkish Lira A/05
Name[kn]=ಟರ್ಕಿಶ್ ಲಿರಾ A/05
Name[ko]=터키 리라 A/05
Name[lt]=Turkų lyra A/05
Name[lv]=Turcijas lira A/05
Name[mk]=Турска лира A/05
Name[ml]=തുര്‍ക്കിയിലെ ലിറാ എ/05
Name[mr]=तुर्किश लिरा A/05
Name[nb]=Tyrkisk lire A/05
Name[nds]=Törksch Lira A/05
Name[nl]=Turkse lira A/05
Name[nn]=Tyrkisk lire (A/05)
Name[pa]=ਤੁਰਕ ਲੀਰਾ A/05
Name[pl]=Lira turecka A/05
Name[pt]=Lira Turca A/05
Name[pt_BR]=Lira turca A/05
Name[ro]=Liră turcească A/05
Name[ru]=Турецкая лира (до 2005 года)
Name[si]=තුර්කි ලීරා A/05
Name[sk]=Turecká líra, do 2005
Name[sl]=turška lira A/05
Name[sr]=турска лира п.05
Name[sr@ijekavian]=турска лира п.05
Name[sr@ijekavianlatin]=turska lira p.05
Name[sr@latin]=turska lira p.05
Name[sv]=Turkiska lira, före 2005
Name[tg]=Лираи Туркия A/05
Name[tr]=Türk Lirası A/05
Name[ug]=تۈركىيە لىراسى A/05
Name[uk]=Турецька ліра до 2005
Name[vi]=Lira A/05 Thổ Nhĩ Kỳ
Name[wa]=Lire A/05 trouke
Name[x-test]=xxTurkish Lira A/05xx
Name[zh_CN]=土耳其里拉 A/05
Name[zh_TW]=土耳其─里拉（Lira）A/05
CurrencyNameIso=Turkish lira A/05
CurrencyUnitSymbols=TL,£,TRL
CurrencyUnitSymbolDefault=TL
CurrencyUnitSymbolUnambiguous=TRL
CurrencyUnitSingular=lira
CurrencyUnitPlural=lira
CurrencySubunitSymbol=
CurrencySubunitSingular=kurush
CurrencySubunitPlural=kurush
CurrencyIntroducedDate=1844,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2005,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
