[Currency Code]
CurrencyCodeIsoAlpha3=TRY
CurrencyCodeIsoNumeric3=949
#Context for Name: Adjectival Country Name and Currency Name
Name=Turkish Lira
Name[ar]=الليرة التركية
Name[ast]=Llira turca
Name[bs]=turska lira
Name[ca]=Lira turca
Name[ca@valencia]=Lira turca
Name[cs]=Turecká lira
Name[da]=Tyrkisk lire
Name[de]=Türkische Lira
Name[en_GB]=Turkish Lira
Name[es]=Lira turca
Name[et]=Türgi liir
Name[eu]=Turkiako lira
Name[fa]=لیره ترکیه
Name[fi]=Turkin liira
Name[fr]=Livre turque
Name[gd]=Lira Turcach
Name[gl]=Lira turca
Name[hu]=Török líra
Name[ia]=Libra Turc
Name[id]=Lira Turki
Name[is]=Tyrknesk líra
Name[it]=Lira turca
Name[ko]=터키 리라
Name[lt]=Turkų lyra
Name[mr]=तुर्किश लिरा
Name[nb]=Tyrkisk lire
Name[nds]=Törksch Lira
Name[nl]=Turkse Lira
Name[nn]=Tyrkisk lire
Name[pa]=ਟੁਨੀਸ਼ੀਆ ਲੀਰਾ
Name[pl]=Lira turecka
Name[pt]=Lira Turca
Name[pt_BR]=Lira turca
Name[ru]=Турецкая лира
Name[sk]=Turecká líra
Name[sl]=turška lira
Name[sr]=турска лира
Name[sr@ijekavian]=турска лира
Name[sr@ijekavianlatin]=turska lira
Name[sr@latin]=turska lira
Name[sv]=Turkiska lira
Name[tg]=Лираи Туркия
Name[tr]=Türk Lirası
Name[uk]=Турецька ліра
Name[x-test]=xxTurkish Liraxx
Name[zh_CN]=土耳其里拉
Name[zh_TW]=土耳其─里拉（Lira）
CurrencyNameIso=Turkish lira
CurrencyUnitSymbols=TL,£,TRL
CurrencyUnitSymbolDefault=TL
CurrencyUnitSymbolUnambiguous=TL
CurrencyUnitSingular=lira
CurrencyUnitPlural=lira
CurrencySubunitSymbol=
CurrencySubunitSingular=kurush
CurrencySubunitPlural=kurush
CurrencyIntroducedDate=2005,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TR
