[Currency Code]
CurrencyCodeIsoAlpha3=TTD
CurrencyCodeIsoNumeric3=780
#Context for Name: Adjectival Country Name and Currency Name
Name=Trinidad and Tobago Dollar
Name[ar]=دولار تريناد وتوباجو
Name[ast]=Dólar de Trinidá y Tobagu
Name[bs]=trinidaditobagoski dolar
Name[ca]=Dòlar de Trinitat i Tobago
Name[ca@valencia]=Dòlar de Trinitat i Tobago
Name[cs]=Dolar Trinidadu a Tobaga
Name[da]=Trinidadisk dollar
Name[de]=Trinidad-und-Tobago-Dollar
Name[en_GB]=Trinidad and Tobago Dollar
Name[es]=Dólar de Trinidad y Tobago
Name[et]=Trinidadi ja Tobago dollar
Name[eu]=Trinidad eta Tobagoko dolar
Name[fa]=دلار ترینیداد و توباگو
Name[fi]=Trinidadin ja Tobagon dollari
Name[fr]=Dollar trinidadien
Name[gd]=Dolar Thrianaid agus Thobago
Name[gl]=Dólar de Trindade e Tobago
Name[hu]=Trinidad és Tobagoi dollár
Name[ia]=Dolar de Trinidad e Tobago
Name[id]=Dollar Trinidad dan Tobago
Name[is]=Trínidad og Tóbagódollar
Name[it]=Dollaro di Trinidad e Tobago
Name[ko]=트리니다드토바고 달러
Name[lt]=Trinidado ir Tobago doleris
Name[mr]=त्रिनिदाद व टोबेगो डॉलर
Name[nb]=Trinidadisk dollar
Name[nds]=Trinidad-un-Tobago-Dollar
Name[nl]=Trinidad en Tobago Dollar
Name[nn]=Trinidadisk dollar
Name[pa]=ਤਰੀਨੀਡਾਡ ਤੇ ਤੋਬਾਗੋ ਡਾਲਰ
Name[pl]=Dolar Trynidad i Tobago
Name[pt]=Dólar de Trindade e Tobago
Name[pt_BR]=Dólar trinitário
Name[ru]=Доллар Тринидада и Тобаго
Name[sk]=Dolár Trinidadu a Tobaga
Name[sl]=dolar Trinidada in Tabaga
Name[sr]=тринидадитобагоски долар
Name[sr@ijekavian]=тринидадитобагоски долар
Name[sr@ijekavianlatin]=trinidaditobagoski dolar
Name[sr@latin]=trinidaditobagoski dolar
Name[sv]=Trinidad och Tobago-dollar
Name[tg]=Доллари Тринадад ва Тобаго
Name[tr]=Trinidad ve Tobago Doları
Name[uk]=Долар Тринідаду та Тобаго
Name[x-test]=xxTrinidad and Tobago Dollarxx
Name[zh_CN]=特立尼达和多巴哥元
Name[zh_TW]=千里達及托巴哥─元（Dollar）
CurrencyNameIso=Trinidad and Tobago dollar
CurrencyUnitSymbols=$,TT$,TTD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=TT$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=¢
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TT
