[Currency Code]
CurrencyCodeIsoAlpha3=TWD
CurrencyCodeIsoNumeric3=901
#Context for Name: Adjectival Country Name and Currency Name
Name=New Taiwan Dollar
Name[ar]=الدولار التايواني الجديد
Name[ast]=Nuevu dólar taiwanés
Name[bg]=Нов тайвански долар
Name[bn]=নতুন তাইওয়ান ডলার
Name[bs]=tajvanski novi dolar
Name[ca]=Nou dòlar de Taiwan
Name[ca@valencia]=Nou dòlar de Taiwan
Name[cs]=Nový tchaj-wanský dolar
Name[csb]=Nowi Tajwańsczi Dolar
Name[da]=Ny taiwansk dollar
Name[de]=Neuer Taiwan-Dollar
Name[el]=Νέο δολάριο Ταϊβάν
Name[en_GB]=New Taiwan Dollar
Name[eo]=Nova tajvana dolaro
Name[es]=Nuevo dólar taiwanés
Name[et]=Uus Taiwani dollar
Name[eu]=Taiwaneko dolar berria
Name[fa]=دلار تایوان جدید
Name[fi]=Taiwanin uusi dollari
Name[fr]=Nouveau dollar taïwanais
Name[fy]=Nije Taiwaneeske dollar
Name[ga]=Dollar Nua na Téaváine
Name[gd]=Dolar ùr Taidh-Bhànach
Name[gl]=Novo Dólar de Taiwán
Name[gu]=નવો તાઈવાન ડોલર
Name[he]=דולר טיוואני חדש
Name[hi]=नया ताईवानी डॉलर
Name[hr]=Novozelandski dolar
Name[hu]=Új tajvani dollár
Name[ia]=Nove Dollar de Taiwan
Name[id]=Dollar Taiwan Baru
Name[is]=Nýr tævanskur dollari
Name[it]=Nuovo dollaro taiwanese
Name[kk]=Тайванның жаңа доллары
Name[km]=ដុល្លារ​តៃវ៉ាន់ថ្មី
Name[kn]=ನ್ಯೂ ತೈವಾನ್ ಡಾಲರ್
Name[ko]=신 대만 달러
Name[lt]=Naujasis Taivano doleris
Name[lv]=Jaunais Taivānas dolārs
Name[mk]=Новотајвански долар
Name[ml]=പുതിയ തായ്‌വാന്‍ ഡോളര്‍
Name[mr]=न्यु तैवान डॉलर
Name[nb]=Taiwansk ny dollar
Name[nds]=Nieg Taiwan-Dollar
Name[nl]=Nieuw Taiwanese Dollar
Name[nn]=Taiwansk ny dollar
Name[pa]=ਨਿਊ ਤਾਈਵਾਨ ਡਾਲਰ
Name[pl]=Nowy dolar tajwański
Name[pt]=Novo Dólar de Taiwan
Name[pt_BR]=Novo dólar taiwanês
Name[ro]=Dolar nou taiwanez
Name[ru]=Новый тайваньский доллар
Name[si]=නව තායිවාන ඩොලර්
Name[sk]=Nový taiwanský dolár
Name[sl]=novi tajvanski dolar
Name[sr]=тајвански нови долар
Name[sr@ijekavian]=тајвански нови долар
Name[sr@ijekavianlatin]=tajvanski novi dolar
Name[sr@latin]=tajvanski novi dolar
Name[sv]=Nya taiwanesiska dollar
Name[tg]=Доллари Нави Тайван
Name[th]=ดอลลาร์ใหม่ไต้หวัน
Name[tr]=Yeni Tayvan Doları
Name[ug]=يېڭى تەيۋەن دوللىرى
Name[uk]=Новий тайванський долар
Name[vi]=Đôla Đài Loan mới
Name[wa]=Novea dolår da Taiwan
Name[x-test]=xxNew Taiwan Dollarxx
Name[zh_CN]=新台币
Name[zh_TW]=臺灣─新臺幣（NT Dollar）
CurrencyNameIso=New Taiwan dollar
CurrencyUnitSymbols=$,NT$,TWD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=NT$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1949,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TW
