[Currency Code]
CurrencyCodeIsoAlpha3=UAH
CurrencyCodeIsoNumeric3=980
#Context for Name: Adjectival Country Name and Currency Name
Name=Ukrainian Hryvnia
Name[ar]=الهريفنيا الأوكراني
Name[ast]=Hrivnia ucraína
Name[bs]=ukrajinska grivna
Name[ca]=Hrívnia d'Ucraïna
Name[ca@valencia]=Hrívnia d'Ucraïna
Name[cs]=Ukrajinská hřivna
Name[da]=Ukrainsk grynia
Name[de]=Ukrainischer Hrywnja
Name[en_GB]=Ukrainian Hryvnia
Name[es]=Grivna ucraniana
Name[et]=Ukraina grivna
Name[eu]=Ukrainiako Hrivnia
Name[fa]=هریونیای اکراینی
Name[fi]=Ukrainan hryvnia
Name[fr]=Hryvnia ukrainienne
Name[gd]=Hryvnia Ucràineach
Name[gl]=Hrivna ucraína
Name[hu]=Ukrán hrivnya
Name[ia]=Hryvnia Ukrainian
Name[id]=Hryvnia Ukraina
Name[is]=Úkraínsk hryvnía
Name[it]=Grivnia ucraina
Name[ko]=우크라이나 흐리브나
Name[lt]=Ukrainos grivna
Name[mr]=यूक्रेनियन ह्रिव्निया
Name[nb]=Ukrainsk hryvnia
Name[nds]=Ukrainsch Griwnja
Name[nl]=Oekraïense grivna
Name[nn]=Ukrainsk hryvnia
Name[pa]=ਯੂਕਰੇਨੀ ਹਰਵਨੀਆ
Name[pl]=Hrywna ukraińska
Name[pt]=Hryvnia Ucraniano
Name[pt_BR]=Hryvnia ucraniano
Name[ru]=Украинская гривна
Name[sk]=Ukrajinská hryvna
Name[sl]=ukrajinska hrivnija
Name[sr]=украјинска гривна
Name[sr@ijekavian]=украјинска гривна
Name[sr@ijekavianlatin]=ukrajinska grivna
Name[sr@latin]=ukrajinska grivna
Name[sv]=Ukrainska hryvnja
Name[tg]=Гривнаи Украина
Name[tr]=Ukrayna Grivnası
Name[uk]=Українська гривня
Name[x-test]=xxUkrainian Hryvniaxx
Name[zh_CN]=乌克兰赫夫米
Name[zh_TW]=烏克蘭─格里夫納（Hryvnia）
CurrencyNameIso=Hryvnia
CurrencyUnitSymbols=₴,UAH
CurrencyUnitSymbolDefault=₴
CurrencyUnitSymbolUnambiguous=₴
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1996,09,02
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=UA
