[Currency Code]
CurrencyCodeIsoAlpha3=UYU
CurrencyCodeIsoNumeric3=858
#Context for Name: Adjectival Country Name and Currency Name
Name=Uruguayan Peso
Name[ar]=البيزو الأوروغواني
Name[ast]=Pesu uruguayu
Name[bs]=urugvajski pezos
Name[ca]=Peso d'Uruguai
Name[ca@valencia]=Peso d'Uruguai
Name[cs]=Uruguayské peso
Name[da]=Uruguaysk peso
Name[de]=Uruguayischer Peso
Name[en_GB]=Uruguayan Peso
Name[es]=Peso uruguayo
Name[et]=Uruguay peeso
Name[eu]=Uruguaiko peso
Name[fa]=پزوی اروگوئه
Name[fi]=Uruguayn peso
Name[fr]=Peso uruguayen
Name[gd]=Peso Uruguaidheach
Name[gl]=Peso uruguaio
Name[hu]=Uruguayi peso
Name[ia]=Peso de Uruguay
Name[id]=Peso Uruguay
Name[is]=Úrúgvæskur pesó
Name[it]=Peso uruguaiano
Name[ko]=우루과이 페소
Name[lt]=Urugvajaus pesas
Name[mr]=उरुग्वे पेसो
Name[nb]=Uruguayansk peso
Name[nds]=Uruguaysch Peso
Name[nl]=Uruguayaanse Peso
Name[nn]=Uruguayansk peso
Name[pa]=ਉਰੂਗਵੇ ਪਿਸੋ
Name[pl]=Peso urugwajskie
Name[pt]=Peso Uruguaio
Name[pt_BR]=Peso uruguaio
Name[ru]=Уругвайское песо
Name[sk]=Uruguajské peso
Name[sl]=urugvajski peso
Name[sr]=уругвајски пезос
Name[sr@ijekavian]=уругвајски пезос
Name[sr@ijekavianlatin]=urugvajski pezos
Name[sr@latin]=urugvajski pezos
Name[sv]=Uruguanska peso
Name[tg]=Песои Уругвай
Name[tr]=Uruguay Pesosu
Name[uk]=Уругвайське песо
Name[x-test]=xxUruguayan Pesoxx
Name[zh_CN]=乌拉圭比索
Name[zh_TW]=烏拉圭─披索（Peso）
CurrencyNameIso=Peso Uruguayo
CurrencyUnitSymbols=$,U$,UYU
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=U$
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1993,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=UY
