[Currency Code]
CurrencyCodeIsoAlpha3=UZS
CurrencyCodeIsoNumeric3=860
#Context for Name: Adjectival Country Name and Currency Name
Name=Uzbekistan Som
Name[ar]=السوم الأوزبكستاني
Name[ast]=Som uzbequistanín
Name[bs]=uzbekistanski som
Name[ca]=Som d'Uzbekistan
Name[ca@valencia]=Som d'Uzbekistan
Name[cs]=Uzbekistánský som
Name[da]=Usbekisk som
Name[de]=Soʻm
Name[en_GB]=Uzbekistan Som
Name[es]=Som uzbeko
Name[et]=Usbekistani som
Name[eu]=Uzbekistango sum
Name[fa]=سوم ازبکستان
Name[fi]=Uzbekistanin som
Name[fr]=Som ouzbèke
Name[gd]=Som Usbagach
Name[gl]=Som de Uzbequistán
Name[hu]=Üzbég som
Name[ia]=Som de Uzbekistan
Name[id]=Som Uzbekistan
Name[is]=Úsbekistanskt som
Name[it]=Som uzbeko
Name[ko]=우즈베키스탄 솜
Name[lt]=Uzbekistano sumas
Name[mr]=उज्बेक सोम
Name[nb]=Usbekisk som
Name[nds]=Usbeksch Som
Name[nl]=Oezbeekse Som
Name[nn]=Usbekisk som
Name[pa]=ਉਜ਼ੇਬਕਸਤਾਨ ਸੋਮ
Name[pl]=Som uzbecki
Name[pt]=Som do Uzbequistão
Name[pt_BR]=Som uzbeque
Name[ru]=Узбекский сум
Name[sk]=Uzbecký sum
Name[sl]=uzbekistanski sum
Name[sr]=узбекистански сом
Name[sr@ijekavian]=узбекистански сом
Name[sr@ijekavianlatin]=uzbekistanski som
Name[sr@latin]=uzbekistanski som
Name[sv]=Uzbekistanska som
Name[tg]=Песои Ӯзбекистон
Name[tr]=Özbekistan Sumu
Name[uk]=Узбецький сом
Name[x-test]=xxUzbekistan Somxx
Name[zh_CN]=乌兹别克斯坦索姆
Name[zh_TW]=烏茲別克─薩姆（Som）
CurrencyNameIso=Uzbekistan som
CurrencyUnitSymbols=UZS
CurrencyUnitSymbolDefault=UZS
CurrencyUnitSymbolUnambiguous=UZS
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1993,11,15
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=UZ
