[Currency Code]
CurrencyCodeIsoAlpha3=VND
CurrencyCodeIsoNumeric3=704
#Context for Name: Adjectival Country Name and Currency Name
Name=Vietnamese Dong
Name[ar]=الدونغ الفيتنامي
Name[ast]=Dong vietnamín
Name[bs]=vijetnamski dong
Name[ca]=Dong de Vietnam
Name[ca@valencia]=Dong de Vietnam
Name[cs]=Vietnamský dong
Name[da]=Vietnamesisk dong
Name[de]=Vietnamesischer Dong
Name[en_GB]=Vietnamese Dong
Name[es]=Dong vietnamita
Name[et]=Vietnami dong
Name[eu]=Vietnamgo dong
Name[fa]=دونگ ویتنام
Name[fi]=Vietnamin dong
Name[fr]=Dong vietnamien
Name[gd]=Dong Bhiet-Namach
Name[gl]=Dong vietnamita
Name[hu]=Vietnami dong
Name[ia]=Dong Vietnamese
Name[id]=Dong Vietnam
Name[is]=Víetnamskt dong
Name[it]=Dong vietnamita
Name[ko]=베트남 동
Name[lt]=Vietnamo dongas
Name[mr]=वियेतनामी डोंग
Name[nb]=Vietnamesisk dong
Name[nds]=Vietnameesch Dong
Name[nl]=Vietnamese dong
Name[nn]=Vietnamesisk dong
Name[pa]=ਵੀਅਤਨਾਮ ਡੌਂਗ
Name[pl]=Dong wietnamski
Name[pt]=Dong Vietnamita
Name[pt_BR]=Dong vietnamita
Name[ru]=Вьетнамский донг
Name[sk]=Vietnamský dong
Name[sl]=vietnamski dong
Name[sr]=вијетнамски донг
Name[sr@ijekavian]=вијетнамски донг
Name[sr@ijekavianlatin]=vijetnamski dong
Name[sr@latin]=vijetnamski dong
Name[sv]=Vietnamesiska dong
Name[tg]=Донги Ветнамӣ
Name[tr]=Vietnam Dongu
Name[uk]=В’єтнамський донг
Name[x-test]=xxVietnamese Dongxx
Name[zh_CN]=越南盾
Name[zh_TW]=越南─盾（Dong）
CurrencyNameIso=Vietnamese đồng
CurrencyUnitSymbols=₫,VND
CurrencyUnitSymbolDefault=₫
CurrencyUnitSymbolUnambiguous=₫
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1978,05,03
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=VN
