[Currency Code]
CurrencyCodeIsoAlpha3=VUV
CurrencyCodeIsoNumeric3=548
#Context for Name: Adjectival Country Name and Currency Name
Name=Vanuatu Vatu
Name[ar]=الفاتو الفانوتوي
Name[ast]=Vatu vanuatuanu
Name[bs]=Vanuatu
Name[ca]=Vatu de Vanuatu
Name[ca@valencia]=Vatu de Vanuatu
Name[cs]=Vanuatu Vatu
Name[da]=Vanuatisk vatu
Name[de]=Vatu
Name[en_GB]=Vanuatu Vatu
Name[es]=Vatu de Vanuatu
Name[et]=Vanuatu vatu
Name[eu]=Vanuatuko vatu
Name[fa]=واتوی وانواتو
Name[fi]=Vanuatun vatu
Name[fr]=Vatu vanuatais
Name[gd]=Vatu Vanuatuthach
Name[gl]=Vatu vanuatiano
Name[hu]=Vanuatui vatu
Name[ia]=Vatu de Vanuatu
Name[id]=Vatu Vanuatu
Name[is]=Vanúatúskt vatú
Name[it]=Vatu di Vanuatu
Name[ko]=바누아투 바투
Name[lt]=Vanuatu vatu
Name[mr]=वानुआटु वातु
Name[nb]=Vanuatisk vatu
Name[nds]=Vanuatuusch Vatu
Name[nl]=Vanuatuaanse Vatu
Name[nn]=Vanuatisk vatu
Name[pa]=ਵਾਨੁਆਟੂ ਵਾਟੂ
Name[pl]=Vanuatu Vatu
Name[pt]=Vatu do Vanuatu
Name[pt_BR]=Vatu vanuatuano
Name[ru]=Вануатский вату
Name[sk]=Vanuatský vatu
Name[sl]=vanuatujski vatu
Name[sr]=вануатски вату
Name[sr@ijekavian]=вануатски вату
Name[sr@ijekavianlatin]=vanuatski vatu
Name[sr@latin]=vanuatski vatu
Name[sv]=Vanuatu vatu
Name[tg]=Вату Вануату
Name[tr]=Vanuatu Vatusu
Name[uk]=Вату Вануату
Name[x-test]=xxVanuatu Vatuxx
Name[zh_CN]=瓦努阿图瓦图
Name[zh_TW]=萬那杜─瓦圖（Vatu）
CurrencyNameIso=Vatu
CurrencyUnitSymbols=Vt,VUV
CurrencyUnitSymbolDefault=Vt
CurrencyUnitSymbolUnambiguous=Vt
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1982,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
CurrencySubunits=0
CurrencySubunitsInCirculation=false
CurrencySubunitsPerUnit=0
CurrencyDecimalPlacesDisplay=0
CurrencyCountriesInUse=VU
