[Currency Code]
CurrencyCodeIsoAlpha3=WST
CurrencyCodeIsoNumeric3=882
#Context for Name: Adjectival Country Name and Currency Name
Name=Samoan Tala
Name[ar]=التالا الساموية
Name[ast]=Tala samoana
Name[bs]=samoanska tala
Name[ca]=Tala de Samoa
Name[ca@valencia]=Tala de Samoa
Name[cs]=Samojská Tala
Name[da]=Samoansk tala
Name[de]=Samoanischer Tala
Name[en_GB]=Samoan Tala
Name[es]=Tala samoano
Name[et]=Samoa tala
Name[eu]=Samoako tala
Name[fa]=تالا ساموآیی
Name[fi]=Samoan tala
Name[fr]=Tala samoan
Name[gd]=Tala Samothach
Name[gl]=Tala samoana
Name[hu]=Szamoai tala
Name[ia]=Tala Samoan
Name[id]=Tala Samoa
Name[is]=Samóskt tala
Name[it]=Tala samoano
Name[ko]=사모아 탈라
Name[lt]=Samoa tala
Name[mr]=सामोन ताला
Name[nb]=Samoansk tala
Name[nds]=Samoaansch Tala
Name[nl]=Samoaanse Tala
Name[nn]=Samoansk tala
Name[pa]=ਸਾਮੋਆਨ ਟਾਲਾ
Name[pl]=Tala samoańskie
Name[pt]=Tala Samoano
Name[pt_BR]=Tala samoano
Name[ru]=Самоанская тала
Name[sk]=Samojská tala
Name[sl]=samojska tala
Name[sr]=самоанска тала
Name[sr@ijekavian]=самоанска тала
Name[sr@ijekavianlatin]=samoanska tala
Name[sr@latin]=samoanska tala
Name[sv]=Samoaniska tala
Name[tg]=Талаи Самоа
Name[tr]=Samoa Talası
Name[uk]=Самоанська тала
Name[x-test]=xxSamoan Talaxx
Name[zh_CN]=萨摩亚塔拉
Name[zh_TW]=薩摩牙─˙塔拉（Tala）
CurrencyNameIso=Samoan tala
CurrencyUnitSymbols=WS$,SAT,ST,T,WST
CurrencyUnitSymbolDefault=WS$
CurrencyUnitSymbolUnambiguous=WS$
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1967,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=WS
