[Currency Code]
CurrencyCodeIsoAlpha3=XAG
CurrencyCodeIsoNumeric3=961
#Context for Name: Adjectival Country Name and Currency Name
Name=Silver
Name[ar]=الفضة
Name[ast]=Plata
Name[bg]=Сребро
Name[bn]=রৌপ্য
Name[bs]=srebro
Name[ca]=Argent
Name[ca@valencia]=Argent
Name[cs]=Stříbro
Name[csb]=Strzébro
Name[da]=Sølv
Name[de]=Silber
Name[el]=Ασήμι
Name[en_GB]=Silver
Name[eo]=Arĝento
Name[es]=Plata
Name[et]=Hõbe
Name[eu]=Zilarra
Name[fa]=نقره
Name[fi]=Hopea
Name[fr]=Argent
Name[fy]=Silver
Name[ga]=Airgead
Name[gd]=Airgead
Name[gl]=Prata
Name[gu]=ચાંદી
Name[he]=אונקיה של כסף
Name[hi]=चांदी
Name[hr]=Srebro
Name[hu]=Ezüst
Name[ia]=Argento
Name[id]=Perak
Name[is]=Silfur
Name[it]=Argento
Name[kk]=Күміс
Name[km]=ប្រាក់
Name[kn]=ಬೆಳ್ಳಿ
Name[ko]=은
Name[lt]=Sidabras
Name[lv]=Sudrabs
Name[mk]=Сребро
Name[ml]=വെള്ളി
Name[mr]=चांदी
Name[nb]=Sølv
Name[nds]=Sülver
Name[nl]=Zilver
Name[nn]=Sølv
Name[pa]=ਚਾਂਦੀ
Name[pl]=Srebro
Name[pt]=Prata
Name[pt_BR]=Prata
Name[ro]=Argint
Name[ru]=Серебро
Name[si]=රිදී
Name[sk]=Striebro
Name[sl]=srebro
Name[sr]=сребро
Name[sr@ijekavian]=сребро
Name[sr@ijekavianlatin]=srebro
Name[sr@latin]=srebro
Name[sv]=Silver
Name[tg]=Нуқра
Name[th]=เงิน
Name[tr]=Gümüş
Name[ug]=كۈمۈشرەڭ
Name[uk]=Срібло
Name[vi]=Bạc
Name[wa]=Årdjint
Name[x-test]=xxSilverxx
Name[zh_CN]=银币
Name[zh_TW]=銀幣
CurrencyNameIso=Silver
CurrencyUnitSymbols=XAG
CurrencyUnitSymbolDefault=XAG
CurrencyUnitSymbolUnambiguous=XAG
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
