[Currency Code]
CurrencyCodeIsoAlpha3=XOF
CurrencyCodeIsoNumeric3=952
#Context for Name: Adjectival Country Name and Currency Name
Name=West African CFA Franc
Name[ast]=Francu CFA d'África occidental
Name[bg]=Западноафрикански CFA франк
Name[bn]=পশ্চিম আফ্রিকান CFA ফ্রাঙ্ক
Name[bs]=zapadnoafrički CFA franak
Name[ca]=Franc CFA de l'Àfrica Occidental
Name[ca@valencia]=Franc CFA de l'Àfrica Occidental
Name[cs]=Západoafrický CFA frank
Name[csb]=Zôpadno Afrikańsczi Frank
Name[da]=Vestafrikansk CFA franc
Name[de]=CFA-Franc BCEAO
Name[el]=Φράγκο Δημοκρατίας Κεντρικής Αφρικής
Name[en_GB]=West African CFA Franc
Name[eo]=Okcidenta afrika CFA-franko
Name[es]=Franco CFA de África Occidental
Name[et]=Lääne-Aafrika CFA frank
Name[eu]=Mendebaldeko Afrikako franko CFA
Name[fa]=فرانک CFA آفریقای مرکزی
Name[fi]=CFA-frangi BCEAO
Name[fr]=Franc CFA ouest-africain
Name[fy]=West Afrikaanske CFA frank
Name[ga]=Franc na hAfraice Thiar
Name[gd]=Franc CFA Afraga an Iar
Name[gl]=Franco CFA do oeste de África
Name[gu]=પશ્ચિમ આફ્રિકન CFA ફ્રાન્ક
Name[he]=פרנק מערב אפריקאי (CFA)
Name[hi]=पश्चिम अफ्रीकन CFA फ्रांक
Name[hr]=Zapadno afrički CFA frank
Name[hu]=Nyugat-afrikai CFA frank
Name[ia]=CFA Franc de Africa Occidental
Name[id]=CFA Franc Afrika Barat
Name[is]=Vestur-afrískur CFA franki
Name[it]=Franco CFA dell'Africa occidentale
Name[kk]=Батыс Африка CFA франкі
Name[km]=West African CFA Franc
Name[kn]=ಪಶ್ಚಿಮ ಆಫ್ರಿಕನ್ CFA ಫ್ರಾಂಕ್
Name[ko]=서 아프리카 CFA 프랑
Name[lt]=Vakarų Afrikos CFA frankas
Name[lv]=Rietumāfrikas CFA franks
Name[ml]=പശ്ചിമ ആഫ്രിക്കന്‍ സിഎഫ്എ ഫ്രാങ്ക്
Name[mr]=पश्चिम आफ्रिकी CFA फ्रांक
Name[nb]=Vestafrikansk CFA-franc
Name[nds]=Westafrikaansch CFA-Franc
Name[nl]=West Afrikaanse CFA-frank
Name[nn]=Vestafrikansk CFA-franc
Name[pa]=ਪੱਛਮੀ ਅਫਰੀਕਾ CFA ਫਰੈਕ
Name[pl]=Frank zachodnioafrykański CFA
Name[pt]=Franco AFC da África Ocidental
Name[pt_BR]=Franco da CFA ocidental
Name[ro]=CFA Franc Africa de Vest
Name[ru]=Западноафриканский франк КФА
Name[si]=බටහිර අප්‍රිකානු CFA ෆ්‍රෑන්ක්
Name[sk]=Západoafrický frank CFA
Name[sl]=frank CFA (zahodnoafriški)
Name[sr]=западноафрички ЦФА франак
Name[sr@ijekavian]=западноафрички ЦФА франак
Name[sr@ijekavianlatin]=zapadnoafrički CFA franak
Name[sr@latin]=zapadnoafrički CFA franak
Name[sv]=Västafrikanska CFA-franc
Name[tg]=Франки Африкаи Ғарбӣ
Name[th]=ฟรังก์สาธารณรัฐแอฟริกาตะวันตก
Name[tr]=Batı Afrika Mali İşbirliği Frankı
Name[ug]=غەربىي ئافرىقا فرانكى
Name[uk]=Західно-африканський франк CFA
Name[vi]=Frăng CFA Tây Phi
Name[wa]=Franc CFA d' Afrike Coûtchantrece
Name[x-test]=xxWest African CFA Francxx
Name[zh_CN]=西非法郎
Name[zh_TW]=西非─CFA 法郎（CFA Franc）
CurrencyNameIso=CFA Franc BCEAO
CurrencyUnitSymbols=CFA,XOF
CurrencyUnitSymbolDefault=CFA
CurrencyUnitSymbolUnambiguous=CFA
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1945,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BJ,BF,CI,GW,ML,NE,SN,TG

