[Currency Code]
CurrencyCodeIsoAlpha3=XPD
CurrencyCodeIsoNumeric3=964
#Context for Name: Adjectival Country Name and Currency Name
Name=Palladium
Name[ast]=Paladiu
Name[bg]=Паладий
Name[bn]=প্যালেডিয়াম
Name[bs]=paladijum
Name[ca]=Pal·ladi
Name[ca@valencia]=Pal·ladi
Name[cs]=Paladium
Name[csb]=Pallad
Name[da]=Palladium
Name[de]=Palladium
Name[el]=Παλλάδιο
Name[en_GB]=Palladium
Name[eo]=Paladio
Name[es]=Paladio
Name[et]=Pallaadium
Name[eu]=Paladioa
Name[fa]=پالادیوم
Name[fi]=Palladium
Name[fr]=Palladium
Name[fy]=Palladium
Name[ga]=Pallaidiam
Name[gd]=Pallaideam
Name[gl]=Paladio
Name[gu]=પાલાડિયમ
Name[he]=אונקיה של פלדיום
Name[hi]=पेल्लेडियम
Name[hr]=Paladij
Name[hu]=Palládium
Name[ia]=Palladio
Name[id]=Palladium
Name[is]=Palladín
Name[it]=Palladio
Name[kk]=Палладий
Name[km]=Palladium
Name[kn]=ಪೆಲಾಡಿಯಮ್
Name[ko]=팔라듐
Name[lt]=Paladis
Name[lv]=Palādijs
Name[mk]=Паладиум
Name[ml]=പലാഡിയം
Name[mr]=पेलेडियम
Name[nb]=Palladium
Name[nds]=Palladium
Name[nl]=Palladium
Name[nn]=Palladium
Name[pa]=ਪੱਲੇਡੀਅਮ
Name[pl]=Pallad
Name[pt]=Paládio
Name[pt_BR]=Paládio
Name[ro]=Paladiu
Name[ru]=Палладий
Name[si]=පැලේඩියම්
Name[sk]=Paládium
Name[sl]=paladij
Name[sr]=паладијум
Name[sr@ijekavian]=паладијум
Name[sr@ijekavianlatin]=paladijum
Name[sr@latin]=paladijum
Name[sv]=Palladium
Name[tg]=Палладий
Name[th]=เพิลเลเดียมเกาะพาเล
Name[tr]=Palladyum
Name[ug]=پاللادىي
Name[uk]=Паладій
Name[vi]=Palađi
Name[wa]=Palladiom
Name[x-test]=xxPalladiumxx
Name[zh_CN]=钯金
Name[zh_TW]=鈀
CurrencyNameIso=Palladium
CurrencyUnitSymbols=XPD
CurrencyUnitSymbolDefault=XPD
CurrencyUnitSymbolUnambiguous=XPD
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
