[Currency Code]
CurrencyCodeIsoAlpha3=XPF
CurrencyCodeIsoNumeric3=953
#Context for Name: Adjectival Country Name and Currency Name
Name=CFP Franc
Name[ar]=الفرنك س‌ف‌ب
Name[ast]=Francu CFP
Name[bs]=CFP franak
Name[ca]=Franc CFP
Name[ca@valencia]=Franc CFP
Name[cs]=CFP frank
Name[da]=CFP-franc
Name[de]=CFP-Franc
Name[en_GB]=CFP Franc
Name[es]=Franco CFP
Name[et]=CFP frank
Name[eu]=franko CFP
Name[fa]=فرانک CFP
Name[fi]=CFP-frangi
Name[fr]=Franc pacifique
Name[gd]=Franc CFP
Name[gl]=Franco CFP
Name[hu]=CFP frank
Name[ia]=Franc CFP
Name[id]=Franc CFP
Name[is]=CFP franki
Name[it]=Franco CFP
Name[ko]=CFP 프랑
Name[lt]=CFP frankas
Name[mr]=CFP फ्रांक
Name[nb]=CFP Franc
Name[nds]=CFP-Franc
Name[nl]=CFP-Frank
Name[nn]=CFP-franc
Name[pa]=CFP ਫਰੈਂਕ
Name[pl]=Frank CFP
Name[pt]=Franco do CFP
Name[pt_BR]=Franco CFP
Name[ru]=Тихоокеанский франк
Name[sk]=Frank CFP
Name[sl]=Frank CFP
Name[sr]=ЦФП франак
Name[sr@ijekavian]=ЦФП франак
Name[sr@ijekavianlatin]=CFP franak
Name[sr@latin]=CFP franak
Name[sv]=CFP-franc
Name[tg]=Франки (ФАҒ)
Name[tr]=CFP Frankı
Name[uk]=Франк CFP
Name[x-test]=xxCFP Francxx
Name[zh_CN]=太平洋法郎
Name[zh_TW]=CFP─法朗（Franc）
CurrencyNameIso=CFP franc
CurrencyUnitSymbols=F,XPF
CurrencyUnitSymbolDefault=F
CurrencyUnitSymbolUnambiguous=XPF
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1945,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PF,NC,WF

