[Currency Code]
CurrencyCodeIsoAlpha3=XPT
CurrencyCodeIsoNumeric3=962
#Context for Name: Adjectival Country Name and Currency Name
Name=Platinum
Name[ar]=البلاتينوم
Name[ast]=Platín
Name[be]=Платына
Name[br]=Platinum
Name[bs]=Platina
Name[ca]=Platí
Name[ca@valencia]=Platí
Name[cs]=Platina
Name[cy]=Platinwm
Name[da]=Platinum
Name[de]=Platinum
Name[en_GB]=Platinum
Name[es]=Platino
Name[et]=Plaatina
Name[eu]=Platinoa
Name[fa]=پلاتین
Name[fi]=Platina
Name[fr]=Platine
Name[fy]=Platinum
Name[ga]=Platinum
Name[gd]=Platanam
Name[gl]=Platino
Name[hr]=Platinum
Name[hu]=Platinum
Name[ia]=Platino
Name[id]=Platinum
Name[is]=Platína
Name[it]=Platino
Name[ko]=백금
Name[lb]=Platinum
Name[lt]=Platina
Name[mr]=प्लॅटिनम
Name[nb]=Platina
Name[nds]=Platin
Name[nl]=Platina
Name[nn]=Platinum
Name[pa]=ਪਲਟੀਨਮ
Name[pl]=Platyna
Name[pt]=Platina
Name[pt_BR]=Platinum
Name[ro]=Platinum
Name[ru]=Платина
Name[se]=Platinum
Name[sk]=Platinum
Name[sl]=platina
Name[sr]=платина
Name[sr@ijekavian]=платина
Name[sr@ijekavianlatin]=platina
Name[sr@latin]=platina
Name[sv]=Platina
Name[tg]=Платина
Name[tr]=Platin
Name[uk]=Платина
Name[uz]=Platinum
Name[uz@cyrillic]=Platinum
Name[vi]=Bạch kim
Name[x-test]=xxPlatinumxx
Name[zh_CN]=Platinum
Name[zh_HK]=Platinum
Name[zh_TW]=白金
CurrencyNameIso=Platinum
CurrencyUnitSymbols=XPT
CurrencyUnitSymbolDefault=XPT
CurrencyUnitSymbolUnambiguous=XPT
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
