[Currency Code]
CurrencyCodeIsoAlpha3=YER
CurrencyCodeIsoNumeric3=886
#Context for Name: Adjectival Country Name and Currency Name
Name=Yemeni Rial
Name[ar]=الريال اليمني
Name[ast]=Rial yemenín
Name[bs]=jemenski rijal
Name[ca]=Rial iemenita
Name[ca@valencia]=Rial iemenita
Name[cs]=Jemenský rial
Name[da]=Yemenitisk rial
Name[de]=Jemen-Rial
Name[en_GB]=Yemeni Rial
Name[es]=Rial yemení
Name[et]=Jeemeni riaal
Name[eu]=Yemengo rial
Name[fa]=ریال یمنی
Name[fi]=Jemenin rial
Name[fr]=Rial yéménite
Name[gd]=Rial Eamanach
Name[gl]=Rial do Iemen
Name[hu]=Jemeni rial
Name[ia]=Rial de Yemen
Name[id]=Rial Yaman
Name[is]=Jemenskur ríal
Name[it]=Rial yemenita
Name[ko]=예멘 리알
Name[lt]=Jemeno rialas
Name[mr]=यमन रियाल
Name[nb]=Jemenittisk rial
Name[nds]=Jemeensch Rial
Name[nl]=Jemenitische Rial
Name[nn]=Jemenittisk rial
Name[pa]=ਯਮਨ ਰਿਆਲ
Name[pl]=Rial jemeński
Name[pt]=Rial do Iémen
Name[pt_BR]=Rial iemenita
Name[ru]=Йеменский риал
Name[sk]=Jemenský rial
Name[sl]=jemenski rial
Name[sr]=јеменски ријал
Name[sr@ijekavian]=јеменски ријал
Name[sr@ijekavianlatin]=jemenski rijal
Name[sr@latin]=jemenski rijal
Name[sv]=Yemenitiska rial
Name[tg]=Риали Яман
Name[tr]=Yemen Riyali
Name[uk]=Єменський ріал
Name[x-test]=xxYemeni Rialxx
Name[zh_CN]=也门里亚尔
Name[zh_TW]=葉門─里亞爾（Rial）
CurrencyNameIso=Yemeni rial
CurrencyUnitSymbols=YER
CurrencyUnitSymbolDefault=YER
CurrencyUnitSymbolUnambiguous=YER
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1990,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=YE
