[Currency Code]
CurrencyCodeIsoAlpha3=YUM
CurrencyCodeIsoNumeric3=891
#Context for Name: Adjectival Country Name and Currency Name
Name=Yugoslav Dinar
Name[ar]=الدينار اليوغوسلافي
Name[ast]=Dinar yugoslavu
Name[bg]=Югославски динар
Name[bn]=যুগোস্লাভ দিনার
Name[bs]=jugoslovenski dinar
Name[ca]=Dinar iugoslau
Name[ca@valencia]=Dinar iugoslau
Name[cs]=Jugoslávský dinár
Name[csb]=Jugòsłowiańsczi Dinar
Name[da]=Jugoslavisk Dinar
Name[de]=Jugoslawischer Dinar
Name[el]=Δηνάριο Γιουγκοσλαβίας
Name[en_GB]=Yugoslav Dinar
Name[eo]=Jugoslava dinaro
Name[es]=Dinar yugoslavo
Name[et]=Jugoslaavia dinaar
Name[eu]=Jugoslaviako dinar
Name[fa]=دینار یوگوسلاوی
Name[fi]=Jugoslavian dinaari
Name[fr]=Dinar yougoslave
Name[fy]=Jugoslavyske dinar
Name[ga]=Dinar na hIúgslaive
Name[gd]=Dinar Iùgoslabhach
Name[gl]=Dinar iugoslavo
Name[gu]=યુગોસ્લાવ દિનાર
Name[he]=דינר יגוסלבי
Name[hi]=युगोस्लाव दिनार
Name[hr]=Jugoslavenski dinar
Name[hu]=Jugoszláv dínár
Name[ia]=Yugoslav Dinar
Name[id]=Dinar Yugoslavia
Name[is]=Júgóslavneskur dínar
Name[it]=Dinaro jugoslavo
Name[kk]=Югославия динары
Name[km]=Yugoslav Dinar
Name[kn]=ಯುಗೋಸ್ಲಾವ್ ದಿನಾರ್
Name[ko]=유고슬라비아 디나르
Name[lt]=Jugoslavijos dinaras
Name[lv]=Dienvidslāvijas dinārs
Name[mk]=Југословенски динар
Name[ml]=യുഗോസ്ലാവ് ദിനാര്‍
Name[mr]=युगोस्लाव दिनार
Name[nb]=Jugoslavisk dinar
Name[nds]=Jugoslaawsch Dinaar
Name[nl]=Joegoslavische Dinar
Name[nn]=Jugoslavisk dinar
Name[pa]=ਯੂਗੋਸਲਾਵ ਦੀਨਾਰ
Name[pl]=Dinar jugosłowiański
Name[pt]=Dinar Jugoslavo
Name[pt_BR]=Dinar iugoslavo
Name[ro]=Dinar iugoslav
Name[ru]=Югославский динар
Name[si]=යුගොස්ලෝව් ඩිනාර්
Name[sk]=Juhoslávsky dinár
Name[sl]=jugoslovanski dinar
Name[sr]=југословенски динар
Name[sr@ijekavian]=југословенски динар
Name[sr@ijekavianlatin]=jugoslovenski dinar
Name[sr@latin]=jugoslovenski dinar
Name[sv]=Jugoslaviska dinar
Name[tg]=Динори Югославия
Name[th]=ดีนาร์ยูโกสลาเวีย
Name[tr]=Yugoslav Dinarı
Name[ug]=يۇگوسلاۋىيە دىنارى
Name[uk]=Югославський динар
Name[vi]=Dinar Yugoslav
Name[wa]=Dinar yougoslåve
Name[x-test]=xxYugoslav Dinarxx
Name[zh_CN]=南斯拉夫第纳尔
Name[zh_TW]=南斯拉夫─新第納爾（Yugoslav Dinar）
CurrencyNameIso=Yugoslav dinar
CurrencyUnitSymbols=дин.,din.,YUM
CurrencyUnitSymbolDefault=дин.
CurrencyUnitSymbolUnambiguous=дин.
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1994,01,24
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2003,07,02
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
