[Currency Code]
CurrencyCodeIsoAlpha3=ZMK
CurrencyCodeIsoNumeric3=894
#Context for Name: Adjectival Country Name and Currency Name
Name=Zambian Kwacha
Name[ar]=الكواشا الزامبي
Name[ast]=Kwacha zambianu
Name[bs]=zambijska kvača
Name[ca]=Kwacha zambià
Name[ca@valencia]=Kwacha zambià
Name[cs]=Zambijská kwacha
Name[da]=Zambisk kwacha
Name[de]=Sambischer Kwacha
Name[en_GB]=Zambian Kwacha
Name[es]=Kwacha zambiano
Name[et]=Sambia kwacha
Name[eu]=Zambiako kwacha
Name[fa]=ک‌واچنای زامبیا
Name[fi]=Sambian kwacha
Name[fr]=Kwacha zambien
Name[gd]=Kwacha Sàimbitheach
Name[gl]=Kwacha da Zambia
Name[hu]=Zambiai kwacha
Name[ia]=Kwacha de Zambia
Name[id]=Kwacha Zambia
Name[is]=Sambískt kwacha
Name[it]=Kwacha zambiano
Name[ko]=잠비아 콰차
Name[lt]=Zambijos kvača
Name[mr]=झाम्बिया क्वाचा
Name[nb]=Zambisk kwacha
Name[nds]=Sambiaansch Kwacha
Name[nl]=Zambiaanse Kwacha
Name[nn]=Zambisk kwacha
Name[pa]=ਜ਼ਾਂਬੀਅਨ ਕਵਾਚਾ
Name[pl]=Kwacha zambijska
Name[pt]=Kwacha da Zâmbia
Name[pt_BR]=Kwacha zambiano
Name[ru]=Замбийская квача
Name[sk]=Zambijská kwacha
Name[sl]=zambijska kvača
Name[sr]=замбијска квача
Name[sr@ijekavian]=замбијска квача
Name[sr@ijekavianlatin]=zambijska kvača
Name[sr@latin]=zambijska kvača
Name[sv]=Zambianska kwacha
Name[tg]=Квачаи Замбия
Name[tr]=Zambiya Kvaçası
Name[uk]=Замбійська квача
Name[x-test]=xxZambian Kwachaxx
Name[zh_CN]=赞比亚克瓦查
Name[zh_TW]=尚比亞─夸加（Kwacha）
CurrencyNameIso=Kwacha
CurrencyUnitSymbols=ZK,ZMK
CurrencyUnitSymbolDefault=ZK
CurrencyUnitSymbolUnambiguous=ZK
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1968,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ZM
