[Currency Code]
CurrencyCodeIsoAlpha3=ZWD
CurrencyCodeIsoNumeric3=716
#Context for Name: Adjectival Country Name and Currency Name
Name=Zimbabwean Dollar A/06
Name[ar]=الدولار الزمبابوي (حتّى 2006)
Name[ast]=Dólar A/06 zimbabuanu
Name[bg]=Зимбабвийски долар (до 06г.)
Name[bs]=zimbabveanski dolar p.06
Name[ca]=Dòlar de Zimbàbue A/06
Name[ca@valencia]=Dòlar de Zimbàbue A/06
Name[cs]=Zimbabwský dolar A/06
Name[csb]=Zimbawijsczi Dolar A/06
Name[da]=Zimbabwisk dollar A/06
Name[de]=Simbabwe-Dollar A/06
Name[el]=Δολάριο A/06 Ζιμπάμπουε
Name[en_GB]=Zimbabwean Dollar A/06
Name[eo]=Zimbabva dolaro A/06
Name[es]=Dólar A/06 zimbabuense
Name[et]=Zimbabwe dollar A/06
Name[eu]=zimbabweko dolar A/06
Name[fa]=دلار A/06 زیمبابوه
Name[fi]=Zimbabwen dollari A/06
Name[fr]=Dollar zimbabwéen A/06
Name[fy]=Zimbabwaanske dollar A/06
Name[ga]=Dollar A/06 na Siombáibe
Name[gd]=Dolar Sìombabuthach (1980–2008)
Name[gl]=Dólar cimbabués A/06
Name[gu]=ઝીમ્બાબવિઅન ડોલર A/૦૬
Name[he]=דולר זימבבואי לאחר 2006
Name[hi]=जिम्बाबवे डॉलर A/06
Name[hr]=Zimbabveanski dolar A/06
Name[hu]=Zimbabwei dollár A/06
Name[ia]=Zimbabwean Dollar A/06
Name[id]=Dollar A/06 Zimbabwe
Name[is]=Simbabve dollari A/06
Name[it]=Dollaro zimbabwiano A/06
Name[kk]=Зимбабве доллары (06-ға дейінгі)
Name[km]=Zimbabwean Dollar A/06
Name[kn]=ಝಿಂಬ್ವಾಬ್ವೆಯನ್ ಡಾಲರ್ A/06
Name[ko]=짐바브웨 달러 A/06
Name[lt]=Zimbabvės doleris A/06
Name[lv]=Zimbabves dolārs A/06
Name[mk]=Зимбабвешки долар A/06
Name[ml]=സിംബാബ്വേ ഡോളര്‍
Name[mr]=झिम्बाब्वेयन डॉलर A/06
Name[nb]=Zimbabwisk dollar A/06
Name[nds]=Simbabweesch Dollar A/06
Name[nl]=Zimbabwaanse dollar A/06
Name[nn]=Zimbabwisk dollar (A/06)
Name[pa]=ਜਿੰਬਾਬਵੇਂ ਡਾਲਰ A/06
Name[pl]=Dolar zimbabweński A/06
Name[pt]=Dólar do Zimbabwe A/06
Name[pt_BR]=Dólar zimbabuano A/06
Name[ro]=Dolar zimbabwez A/06
Name[ru]=Зимбабвийский доллар (до 2006 года)
Name[si]=සිම්බාවේ ඩිනාර් A/06
Name[sk]=Zimbabwiansky dolár, do 2006
Name[sl]=zimbabvejski dolar A/06
Name[sr]=зимбабвеански долар п.06
Name[sr@ijekavian]=зимбабвеански долар п.06
Name[sr@ijekavianlatin]=zimbabveanski dolar p.06
Name[sr@latin]=zimbabveanski dolar p.06
Name[sv]=Zimbabwiska dollar, före 2006
Name[tg]=Доллари Зимбабве A/06
Name[th]=ดอลลาร์ซิมบับเว A/06
Name[tr]=Zimbabve Doları A/06
Name[ug]=زىمبابۋې دوللىرى A/06
Name[uk]=Зімбабвійський долар до 2006
Name[vi]=Đôla A/06 Zimbabwe
Name[wa]=Dolår A/06 zimbabweyin
Name[x-test]=xxZimbabwean Dollar A/06xx
Name[zh_CN]=津巴布韦元 A/06
Name[zh_TW]=辛巴威─元（Dollar）A/06
CurrencyNameIso=Zimbabwean dollar A/06
CurrencyUnitSymbols=$,Z$,ZWD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=ZWD
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1980,04,18
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2006,07,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
