[KCM Locale]
Name=Chile
Name[af]=Chilië
Name[ar]=شيلي
Name[as]=চিলি
Name[ast]=Chile
Name[be]=Чылі
Name[be@latin]=Čyli
Name[bg]=Чили
Name[bn]=চিলি
Name[bn_IN]=চিলি
Name[bs]=Čile
Name[ca]=Xile
Name[ca@valencia]=Xile
Name[cs]=Chile
Name[csb]=Chile
Name[cy]=Tsile
Name[da]=Chile
Name[de]=Chile
Name[el]=Χιλή
Name[en_GB]=Chile
Name[eo]=Ĉilio
Name[es]=Chile
Name[et]=Tšiili
Name[eu]=Txile
Name[fa]=شیلی
Name[fi]=Chile
Name[fr]=Chili
Name[fy]=Chili
Name[ga]=An tSile
Name[gd]=An t-Sile
Name[gl]=Chile
Name[gu]=ચિલી
Name[he]=צ'ילה
Name[hi]=चिली
Name[hne]=चिली
Name[hr]=Čile
Name[hsb]=Chile
Name[hu]=Chile
Name[ia]=Chile
Name[id]=Chile
Name[is]=Síle
Name[it]=Cile
Name[ka]=ჩილე
Name[kk]=Чили
Name[km]=ឈីលី
Name[kn]=ಚಿಲಿ
Name[ko]=칠레
Name[ku]=Sîlî
Name[lt]=Čilė
Name[lv]=Čīle
Name[mai]=चिली
Name[mk]=Чиле
Name[ml]=ചിലി
Name[mr]=चिली
Name[ms]=Chile
Name[nb]=Chile
Name[nds]=Chile
Name[ne]=चिले
Name[nl]=Chili
Name[nn]=Chile
Name[oc]=Chile
Name[or]=ଚିଲି
Name[pa]=ਚਿੱਲੀ
Name[pl]=Chile
Name[pt]=Chile
Name[pt_BR]=Chile
Name[ro]=Chile
Name[ru]=Чили
Name[se]=Chile
Name[si]=චිලී
Name[sk]=Čile
Name[sl]=Čile
Name[sr]=Чиле
Name[sr@ijekavian]=Чиле
Name[sr@ijekavianlatin]=Čile
Name[sr@latin]=Čile
Name[sv]=Chile
Name[ta]=சிலி
Name[te]=చిలి
Name[tg]=Чили
Name[th]=ชิลี
Name[tr]=Şili
Name[ug]=چىلى
Name[uk]=Чилі
Name[uz]=Chili
Name[uz@cyrillic]=Чили
Name[vi]=Chi-lê
Name[wa]=Tchili
Name[x-test]=xxChilexx
Name[zh_CN]=智利
Name[zh_TW]=智利
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=CLP,CLF
CurrencyCode=CLP
