[KCM Locale]
Name=Irish
Name[af]=Ierse
Name[ar]=الإيرلنديّة
Name[as]=আইৰিশ্ব
Name[ast]=Irlandés
Name[be]=Ірландская
Name[be@latin]=Irlandzkaja
Name[bg]=Ирландски
Name[bn]=আইরিশ
Name[bn_IN]=আইরিশ
Name[br]=Iwerzhoneg
Name[bs]=irski
Name[ca]=Irlandès
Name[ca@valencia]=Irlandés
Name[cs]=Irský
Name[csb]=Irlandzczi
Name[cy]=Gwyddeleg
Name[da]=Irsk
Name[de]=Irisch (Gälisch)
Name[el]=Ιρλανδικά
Name[en_GB]=Irish
Name[eo]=Irlanda
Name[es]=Irlandés
Name[et]=Iiri
Name[eu]=Irlandera
Name[fa]=ایرلندی
Name[fi]=Iiri
Name[fr]=Irlandais
Name[fy]=Iersk
Name[ga]=Gaeilge
Name[gd]=Gaeilge
Name[gl]=Irlandés
Name[gu]=આઈરીશ
Name[he]=אירית
Name[hi]=आइरिश
Name[hne]=आइरिस
Name[hr]=Irski
Name[hsb]=Irsce
Name[hu]=Ír
Name[ia]=Irlandese 
Name[id]=Irlandia
Name[is]=Írska
Name[it]=Irlandese
Name[ja]=アイルランド語
Name[kk]=Ирландша
Name[km]=អៀរឡង់
Name[kn]=ಐರಿಷ್
Name[ko]=아일랜드어
Name[ku]=Irlandayî
Name[lb]=Iresch
Name[lt]=Airių
Name[lv]=Īru
Name[mai]=आइरिश
Name[mk]=Ирски
Name[ml]=ഐറിഷ്
Name[mr]=आइरिश
Name[ms]=Irish
Name[nb]=Irsk
Name[nds]=Irsch
Name[ne]=आइरिस
Name[nl]=Iers
Name[nn]=Irsk
Name[oc]=Irlandés
Name[or]=ଆଇରିସ
Name[pa]=ਆਈਰਸ਼ੀ
Name[pl]=Irlandzki
Name[ps]=اېرېش
Name[pt]=Irlandês
Name[pt_BR]=Irlandês
Name[ro]=Irlandeză
Name[ru]=Ирландский
Name[se]=Irlánddagiella
Name[si]=අයර්ලන්ත
Name[sk]=írčina
Name[sl]=Irščina
Name[sq]=Irlandisht
Name[sr]=ирски
Name[sr@ijekavian]=ирски
Name[sr@ijekavianlatin]=irski
Name[sr@latin]=irski
Name[sv]=Iriska
Name[ta]=ஐரிஷ்
Name[te]=ఐరిష్
Name[tg]=Ирландӣ
Name[th]=ภาษาไอริช
Name[tr]=İrlanda Dili
Name[tt]=Ирланд
Name[ug]=ئىرېلاندچە
Name[uk]=Ірландська
Name[uz]=Irlandcha
Name[uz@cyrillic]=Ирландча
Name[vi]=Ai-len
Name[wa]=Irlandès
Name[xh]=Irish
Name[x-test]=xxIrishxx
Name[zh_CN]=爱尔兰语
Name[zh_HK]=愛爾蘭語
Name[zh_TW]=愛爾蘭語
