[KCM Locale]
Name=Northern Sami
Name[af]=Noord Sami
Name[ar]=السّاميّة الشّمالية
Name[as]=ন'ৰ্দাৰ্ণ চামি
Name[ast]=Sami del norte
Name[be]=Самі (поўнач)
Name[be@latin]=Paŭnočnaje Sami
Name[bg]=Северен Сами
Name[bn]=উত্তর সামি
Name[bn_IN]=উত্তর সামি
Name[br]=Sami, Norzh
Name[bs]=sjeverni sami
Name[ca]=Sami septentrional
Name[ca@valencia]=Sami septentrional
Name[cs]=Severní Sami
Name[csb]=Nordowi Sami
Name[cy]=Sami Gogleddol
Name[da]=Nordsamisk
Name[de]=Nordsamisch
Name[el]=Βόρεια Σάμι
Name[en_GB]=Northern Sami
Name[eo]=Norda samea
Name[es]=Sami del norte
Name[et]=Põhjasaami
Name[eu]=Ipar samiera
Name[fa]=سامی شمالی
Name[fi]=Pohjoissaame
Name[fr]=Sami du nord
Name[fy]=Noard-Koreaansk
Name[ga]=Sáimis Thuaidh
Name[gd]=Sàmais Thuathach
Name[gl]=Sami do norte
Name[gu]=ઉત્તરી સામી
Name[he]=סאמית צפונית
Name[hi]=उत्तरी सामी
Name[hne]=उत्तरी सामी
Name[hr]=Sjeverni Sami
Name[hsb]=Sewjernosamisce
Name[hu]=Északi szami
Name[ia]=Sami Septentrional
Name[id]=Sami Utara
Name[is]=Norðursamíska
Name[it]=Sami settentrionale
Name[ja]=北サーミ語
Name[kk]=Солтүстік саами
Name[km]=សាមី ខាង​ជើង
Name[kn]=ಉತ್ತರ ಸಾಮೀ
Name[ko]=북부 사미어
Name[ku]=Samiya Bakûrî
Name[lb]=Nördlecht Sawi
Name[lt]=Šiaurės Sami
Name[lv]=Ziemeļu sāmu
Name[mai]=उत्तरी सामी
Name[mk]=Северен Сами
Name[ml]=നോര്‍‌ത്തേണ്‍ സാമി
Name[mr]=उत्तरी सामी
Name[ms]=Sami Utara
Name[nb]=Nordsamisk
Name[nds]=Noord-Saamsch
Name[ne]=उत्तरी सामी
Name[nl]=Noord-Sami
Name[nn]=Nordsamisk
Name[or]=ଉତ୍ତରି ସାମି
Name[pa]=ਉੱਤਰੀ ਸਾਮੀ
Name[pl]=Północny Sami
Name[ps]=شمالي سامي
Name[pt]=Sami do Norte
Name[pt_BR]=Sami setentrional
Name[ro]=Sami de Nord
Name[ru]=Северносаамский
Name[se]=Davvisámegiella
Name[si]=උතුරු සැමි
Name[sk]=Lapončina (severná)
Name[sl]=Severna samijščina
Name[sr]=северни сами
Name[sr@ijekavian]=сјеверни сами
Name[sr@ijekavianlatin]=sjeverni sami
Name[sr@latin]=severni sami
Name[sv]=Samiska
Name[ta]=நார்தன் சாமி
Name[te]=ఉత్తర సమి
Name[tg]=Ирландии Самӣ
Name[th]=ภาษาซามิตอนเหนือ
Name[tr]=Kuzey Sami
Name[tt]=Төньяк Саами
Name[ug]=شىمالىي سامىچە
Name[uk]=Північне Саамі
Name[uz]=Shimoliy Saamicha
Name[uz@cyrillic]=Шимолий Саамича
Name[vi]=Bắc Sami
Name[wa]=Bijhe såmi
Name[xh]=Northern Sami
Name[x-test]=xxNorthern Samixx
Name[zh_CN]=北萨米语
Name[zh_HK]=北薩米語
Name[zh_TW]=北拉普語
Region=northeurope
DateMonthNamePossessive=true
NounDeclension=true
