[KCM Locale]
Name=Namibia
Name[af]=Namibië
Name[ar]=ناميبيا
Name[as]=নামিবিয়া
Name[ast]=Namibia
Name[be]=Намібія
Name[be@latin]=Namibija
Name[bg]=Либерия
Name[bn]=নামিবিয়া
Name[bn_IN]=নামিবিয়া
Name[br]=Namibi
Name[bs]=Namibija
Name[ca]=Namíbia
Name[ca@valencia]=Namíbia
Name[cs]=Namibie
Name[csb]=Liberijô
Name[cy]=Namibia
Name[da]=Namibia
Name[de]=Namibia
Name[el]=Ναμίμπια
Name[en_GB]=Namibia
Name[eo]=Namibio
Name[es]=Namibia
Name[et]=Namiibia
Name[eu]=Namibia
Name[fa]=نامیبیا
Name[fi]=Namibia
Name[fr]=Namibie
Name[fy]=Namibië
Name[ga]=An Namaib
Name[gd]=An Namaib
Name[gl]=Namibia
Name[gu]=નામિબિઆ
Name[he]=נמיביה
Name[hi]=नामीबिया
Name[hne]=नामीबिया
Name[hr]=Namibija
Name[hsb]=Namibija
Name[hu]=Namíbia
Name[ia]=Namibia
Name[id]=Namibia
Name[is]=Namibía
Name[it]=Namibia
Name[ka]=ნამიბია
Name[kk]=Намибия
Name[km]=ណាមីប៊ី
Name[kn]=ನಮೀಬಿಯಾ
Name[ko]=나미비아
Name[ku]=Namîbiya
Name[lt]=Namibija
Name[lv]=Namībija
Name[mai]=नामीबिया
Name[mk]=Намибија
Name[ml]=നമീബിയ
Name[mr]=नामिबिया
Name[ms]=Namibia
Name[nb]=Namibia
Name[nds]=Namibia
Name[ne]=नामिबिया
Name[nl]=Namibië
Name[nn]=Namibia
Name[oc]=Namibia
Name[or]=ନାମିବିଆ
Name[pa]=ਨਾਮੀਬੀਆ
Name[pl]=Namibia
Name[pt]=Libéria
Name[pt_BR]=Namíbia
Name[ro]=Namibia
Name[ru]=Намибия
Name[se]=Namibia
Name[si]=Namibia
Name[sk]=Namíbia
Name[sl]=Namibija
Name[sr]=Намибија
Name[sr@ijekavian]=Намибија
Name[sr@ijekavianlatin]=Namibija
Name[sr@latin]=Namibija
Name[sv]=Namibia
Name[ta]=நாமிபியா
Name[te]=నమిబియా
Name[tg]=Намибия
Name[th]=นามิเบีย
Name[tr]=Namibya
Name[ug]=نامىبىيە
Name[uk]=Намібія
Name[uz]=Namibiya
Name[uz@cyrillic]=Намибия
Name[vi]=Namibia
Name[wa]=Namibeye
Name[x-test]=xxNamibiaxx
Name[zh_CN]=利比里亚
Name[zh_TW]=那米比亞
Region=southafrica
Languages=af,de,en_GB
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=0
DateFormat=%A %d %b %Y
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
WeekStartDay=7
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(P.O. Box %p\n)%l
AddressCountrzPosition=below
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NAD
CurrencyCode=NAD
