[KCM Locale]
Name=Virgin Islands, British
Name[af]=Virgin Eilande, Brits
Name[ar]=جزر فيرجن البريطانية
Name[as]=ব্ৰিটিশ্ব ভাৰ্জিন দ্বীপ
Name[ast]=Islles Vírxenes Britániques
Name[be]=Брытанскія Віргінскія астравы
Name[be@latin]=Virdžynskija vyspy, Brytanija
Name[bg]=Британски Вирджински острови
Name[bn]=ভার্জিন আইল্যাণ্ডস, ব্রিটিশ
Name[bn_IN]=ব্রিটিশ ভার্জিন দ্বীপ
Name[bs]=Djevičanska ostrva, Britanska
Name[ca]=Illes Verges Britàniques
Name[ca@valencia]=Illes Verges Britàniques
Name[cs]=Virgin Islands, British
Name[csb]=Dzéwczëce Òstrowë (Britijsczé)
Name[cy]=Ynysoedd yr Wyryf, Prydeinig
Name[da]=Britiske jomfruøer
Name[de]=Virgin-Inseln, britisch
Name[el]=Παρθένοι Νήσοι, Βρετανικές
Name[en_GB]=Virgin Islands, British
Name[eo]=Virgininsuloj, Britaj
Name[es]=Islas Vírgenes Británicas
Name[et]=Briti Neitsisaared
Name[eu]=Birjina uharteak (britainiarrak)
Name[fa]=جزایر ویرجین انگلیس
Name[fi]=Brittiläiset Neitsytsaaret
Name[fr]=Îles Vierges britanniques
Name[fy]=Virgin Eilannen, Britse
Name[ga]=Oileáin Bhriotanacha na Maighdean
Name[gd]=Eileanan Breatannach na Maighdinn
Name[gl]=Illas Virxes, Británicas
Name[gu]=વર્જીન ટાપુઓ, બ્રિટિશ
Name[he]=איי הבתולה, בריטים
Name[hi]=वर्जिन आइलैंड, ब्रिटिश
Name[hne]=वर्जऊन आइलैंड, ब्रिटिस
Name[hr]=Djevičansko otočje, Britanski
Name[hsb]=Knježnowe kupy, Britiske
Name[hu]=Virgin-szigetek (brit)
Name[ia]=Insulas Virgine Britannic, le
Name[id]=Kepulauan Virgin, Inggris
Name[is]=Bresku Jómfrúareyjar
Name[it]=Isole Vergini Britanniche
Name[ka]=ქალწულის კუნძულები, ბრიტანეთი
Name[kk]=Виргин ар-ы (Британия)
Name[km]=កោះ​ស្មោង អង់គ្លេស
Name[kn]=ವರ್ಜಿನ್ ಐಲ್ಯಾಂಡ್ (ಬ್ರಿಟಿಶ್)
Name[ko]=영국령 버진 제도
Name[ku]=Giravên Virjin, Brîtanî
Name[lt]=Virgin Islands, British
Name[lv]=Britu Virdžinu salas
Name[mai]=वर्जिन आइलैंड, ब्रिटिश
Name[mk]=Девствени Острови, Британски
Name[ml]=വിര്‍ജിന്‍ ഐലന്‍ഡ്സ്, ബ്രിട്ടീഷ്
Name[mr]=वर्जिन द्वीप, ब्रिटिश
Name[ms]=Kepulauan Virgin, British
Name[nb]=Jomfruøyene (Storbritannia)
Name[nds]=Britsche Jumferneilannen
Name[ne]=बेलायती भर्जिन द्विप
Name[nl]=Virgin Eilanden, Britse
Name[nn]=Jomfruøyene (Storbritannia)
Name[or]=ଭିରଜିନ ଆଇଲ୍ୟାଣ୍ଡ, ବ୍ରିଟିସ
Name[pa]=ਵੀਰਗੀਨ ਟਾਪੂ, ਬਰਤਾਨੀਆ
Name[pl]=Wyspy Dziewicze (Brytyjskie)
Name[pt]=Ilhas Virgens, Inglaterra
Name[pt_BR]=Ilhas Virgens, Inglaterra
Name[ro]=Insulele Virgine, Britanice
Name[ru]=Британские Виргинские острова
Name[se]=Virgin Islands, (Stuorra Brittánia)
Name[si]=වර්ජින් දූපත්, බ්‍රිතාන්‍ය
Name[sk]=Panenské Ostrovy, Britské
Name[sl]=Deviški otoki, Britanski
Name[sr]=Девичанска острва, Британска
Name[sr@ijekavian]=Дјевичанска острва, Британска
Name[sr@ijekavianlatin]=Djevičanska ostrva, Britanska
Name[sr@latin]=Devičanska ostrva, Britanska
Name[sv]=Brittiska jungfruöarna
Name[ta]=விர்ஜின் தீவுகள், பிரிட்டிஷ்
Name[te]=వర్జిన్ ద్వీపాలు, బ్రిటీష్
Name[tg]=Ҷазираҳои Виргин, Британия
Name[th]=หมู่เกาะเวอร์จิน, อังกฤษ
Name[tr]=Virgin Adaları (İngiltere)
Name[ug]=ۋىرجىن تاقىم ئاراللىرى، ئەنگلىيە
Name[uk]=Віргінські острови (Британія)
Name[uz]=Angliya Virjin Orollari
Name[uz@cyrillic]=Англия Виржин Ороллари
Name[vi]=Quần đảo Virgin, Vương quốc Anh
Name[wa]=Iyes Viedjes, britanikes
Name[x-test]=xxVirgin Islands, Britishxx
Name[zh_CN]=英属维京群岛
Name[zh_TW]=英屬維爾京群島
Region=caribbean
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
