[KCM Locale]
Name=Martinique
Name[af]=Martinique
Name[ar]=مارتينيك
Name[as]=মাৰ্টিনিক
Name[ast]=Martinica
Name[be]=Мартыніка
Name[be@latin]=Martinique
Name[bg]=Мартиника
Name[bn]=মার্টিনিক্
Name[bn_IN]=মার্টিনিক
Name[br]=Martinik
Name[bs]=Martinik
Name[ca]=Martinica
Name[ca@valencia]=Martinica
Name[cs]=Martinik
Name[csb]=Martinika
Name[cy]=Martin?c
Name[da]=Martinique
Name[de]=Martinique
Name[el]=Μαρτινίκα
Name[en_GB]=Martinique
Name[eo]=Martiniko
Name[es]=Martinica
Name[et]=Martinique
Name[eu]=Martinika
Name[fa]=مارتینیک
Name[fi]=Martinique
Name[fr]=Martinique
Name[fy]=Martinique
Name[ga]=Martainíc
Name[gd]=Mairtinic
Name[gl]=Martinica
Name[gu]=માર્ટિનિક
Name[he]=מרטיניק
Name[hi]=मार्टीनीक
Name[hne]=मार्टीनीक
Name[hr]=Martinique
Name[hsb]=Martinik
Name[hu]=Martinique
Name[ia]=Martinica
Name[id]=Martinique
Name[is]=Martiník
Name[it]=Martinica
Name[ka]=მარტინიკე
Name[kk]=Мартиника
Name[km]=ម៉ារទីនីគ
Name[kn]=ಮಾರ್ಟಿನಿಕ್
Name[ko]=마르티니크
Name[ku]=Martinîk
Name[lt]=Martinika
Name[lv]=Martinika
Name[mai]=मार्टीनीक
Name[mk]=Мартиник
Name[ml]=മാര്‍ട്ടിനിക്ക്
Name[mr]=मार्टीनीक
Name[ms]=Martinique
Name[nb]=Martinique
Name[nds]=Martinique
Name[ne]=मार्टिनिक
Name[nl]=Martinique
Name[nn]=Martinique
Name[oc]=Martinica
Name[or]=ମାର୍ଟିନିକ
Name[pa]=ਮਾਰਟੀਨਿਕਿਉ
Name[pl]=Martynika
Name[pt]=Martinica
Name[pt_BR]=Martinica
Name[ro]=Martinica
Name[ru]=Мартиника
Name[se]=Martinique
Name[si]=Martinique
Name[sk]=Martinik
Name[sl]=Martinik
Name[sr]=Мартиник
Name[sr@ijekavian]=Мартиник
Name[sr@ijekavianlatin]=Martinik
Name[sr@latin]=Martinik
Name[sv]=Martinique
Name[ta]=மார்தினிக்யு
Name[te]=మార్టినెక్
Name[tg]=Мартиника
Name[th]=มาร์ตินิก
Name[tr]=Martinik
Name[ug]=مارتىنىكا
Name[uk]=Мартиніка
Name[uz]=Martinika
Name[uz@cyrillic]=Мартиника
Name[vi]=Martinique
Name[wa]=Martinike
Name[x-test]=xxMartiniquexx
Name[zh_CN]=马提尼克
Name[zh_TW]=馬提尼克
Region=caribbean
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
