[KCM Locale]
Name=Poland
Name[af]=Poland
Name[ar]=بولندا
Name[as]=পোলেন্ড
Name[ast]=Polonia
Name[be]=Польшча
Name[be@latin]=Polšča
Name[bg]=Полша
Name[bn]=পোল্যাণ্ড
Name[bn_IN]=পোল্যান্ড
Name[bs]=Poljska
Name[ca]=Polònia
Name[ca@valencia]=Polònia
Name[cs]=Polsko
Name[csb]=Pòlskô
Name[cy]=Gwlad Pwyl
Name[da]=Polen
Name[de]=Polen
Name[el]=Πολωνία
Name[en_GB]=Poland
Name[eo]=Pollando
Name[es]=Polonia
Name[et]=Poola
Name[eu]=Polonia
Name[fa]=لهستان
Name[fi]=Puola
Name[fr]=Pologne
Name[fy]=Polen
Name[ga]=An Pholainn
Name[gd]=A' Phòlainn
Name[gl]=Polonia
Name[gu]=પોલેન્ડ
Name[he]=פולין
Name[hi]=पोलैंड
Name[hne]=पोलैंड
Name[hr]=Poljska
Name[hsb]=Pólska
Name[hu]=Lengyelország
Name[ia]=Polonia
Name[id]=Polandia
Name[is]=Pólland
Name[it]=Polonia
Name[ka]=პოლონეთი
Name[kk]=Польша
Name[km]=ប៉ូឡូញ
Name[kn]=ಪೋಲಾಂಡ್
Name[ko]=폴란드
Name[ku]=Polonya
Name[lt]=Lenkija
Name[lv]=Polija
Name[mai]=पोलेंड
Name[mk]=Полска
Name[ml]=പോളണ്ട്
Name[mr]=पोलंड
Name[ms]=Poland
Name[nb]=Polen
Name[nds]=Polen
Name[ne]=पोल्याण्ड
Name[nl]=Polen
Name[nn]=Polen
Name[oc]=Polonha
Name[or]=ପୋଲ୍ୟାଣ୍ଡ
Name[pa]=ਪੋਲੈਂਡ
Name[pl]=Polska
Name[pt]=Polónia
Name[pt_BR]=Polônia
Name[ro]=Polonia
Name[ru]=Польша
Name[se]=Polska
Name[si]=පෝලන්තය
Name[sk]=Poľsko
Name[sl]=Poljska
Name[sr]=Пољска
Name[sr@ijekavian]=Пољска
Name[sr@ijekavianlatin]=Poljska
Name[sr@latin]=Poljska
Name[sv]=Polen
Name[ta]=போலாந்து
Name[te]=పోలాండ్
Name[tg]=Полша
Name[th]=โปแลนด์
Name[tr]=Polonya
Name[ug]=پولشا
Name[uk]=Польща
Name[uz]=Polsha
Name[uz@cyrillic]=Полша
Name[vi]=Ba Lan
Name[wa]=Pologne
Name[x-test]=xxPolandxx
Name[zh_CN]=波兰
Name[zh_TW]=波蘭
Region=centraleurope
Languages=pl
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[pl]=%A, %e %B %Y
DateFormatShort=%d/%m/%Y
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
NounDeclension=true
DateMonthNamePossessive=true
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=PLN
CurrencyCode=PLN
