[KCM Locale]
Name=Bermuda
Name[af]=Bermuda
Name[ar]=برمودا
Name[as]=বাৰ্মুডা
Name[ast]=Les Bermudes
Name[be]=Бермуды
Name[be@latin]=Bermudy
Name[bg]=Бермуда
Name[bn]=বার্মুডা
Name[bn_IN]=বার্মুডা
Name[br]=Bermud
Name[bs]=Bermudi
Name[ca]=Bermuda
Name[ca@valencia]=Bermuda
Name[cs]=Bermudy
Name[csb]=Bermùdë
Name[cy]=Bermwda
Name[da]=Bermuda
Name[de]=Bermudas
Name[el]=Βερμούδες
Name[en_GB]=Bermuda
Name[eo]=Bermudoj
Name[es]=Bermudas
Name[et]=Bermuda
Name[eu]=Bermuda
Name[fa]=برمودا
Name[fi]=Bermuda
Name[fr]=Bermudes
Name[fy]=Bermuda
Name[ga]=Beirmiúda
Name[gd]=Bearmùda
Name[gl]=Bermuda
Name[gu]=બર્મુડા
Name[he]=ברמודה
Name[hi]=बरमूडा
Name[hne]=बरमूडा
Name[hr]=Bermuda
Name[hsb]=Bermuda
Name[hu]=Bermuda
Name[ia]=Bermuda
Name[id]=Bermuda
Name[is]=Bermúdaeyjar
Name[it]=Bermuda
Name[ka]=ბერმუდა
Name[kk]=Бермуд ар-ы
Name[km]=ប៊េរមូដា
Name[kn]=ಬರ್ಮುಡಾ
Name[ko]=버뮤다
Name[ku]=Bermûda
Name[lt]=Bermudų
Name[lv]=Bermudas
Name[mai]=बरमुडा
Name[mk]=Бермуди
Name[ml]=ബെര്‍മൂഡ
Name[mr]=बरमुडा
Name[ms]=Bermuda
Name[nb]=Bermuda
Name[nds]=Bermudas
Name[ne]=बर्मुडा
Name[nl]=Bermuda
Name[nn]=Bermuda
Name[oc]=Bermudas
Name[or]=ବରମୁଡ଼ା
Name[pa]=ਬੀਰਮੁਡਾ
Name[pl]=Bermudy
Name[pt]=Bermuda
Name[pt_BR]=Bermudas
Name[ro]=Bermude
Name[ru]=Бермудские острова
Name[se]=Bermuda
Name[si]=බර්මියුඩා
Name[sk]=Bermudy
Name[sl]=Bermudi
Name[sr]=Бермуди
Name[sr@ijekavian]=Бермуди
Name[sr@ijekavianlatin]=Bermudi
Name[sr@latin]=Bermudi
Name[sv]=Bermuda
Name[ta]=பெருமுடா
Name[te]=బెర్ముడా
Name[tg]=Бермуда
Name[th]=เบอร์มิวดา
Name[tr]=Bermuda
Name[ug]=بېرمۇدا تاقىم ئاراللىرى
Name[uk]=Бермуди
Name[uz]=Bermuda Orollari
Name[uz@cyrillic]=Бермуда Ороллари
Name[vi]=Bơ-mu-đa
Name[wa]=Bermudes
Name[x-test]=xxBermudaxx
Name[zh_CN]=百慕大
Name[zh_TW]=百慕達
Region=northamerica
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BMD
CurrencyCode=BMD
