#Configuration file for Canada
#the language [fr] refer to the Canadian French settings
#both [en_US] and [en_GB] settings refer to the Canadian English settings
[KCM Locale]
Name=Canada
Name[ar]=كندا
Name[ast]=Canadá
Name[bs]=Kanada
Name[ca]=Canadà
Name[ca@valencia]=Canadà
Name[cs]=Kanada
Name[da]=Canada
Name[de]=Kanada
Name[en_GB]=Canada
Name[es]=Canadá
Name[et]=Kanada
Name[eu]=Kanada
Name[fa]=کانادا
Name[fi]=Kanada
Name[fr]=Canada
Name[gd]=Canada
Name[gl]=Canadá
Name[hr]=Kanada
Name[hu]=Kanada
Name[ia]=Canada
Name[id]=Kanada
Name[is]=Kanada
Name[it]=Canada
Name[ka]=კანადა
Name[ko]=캐나다
Name[lt]=Kanada
Name[lv]=Kanāda
Name[mr]=केनेडा
Name[nb]=Canada
Name[nds]=Kanada
Name[nl]=Canada
Name[nn]=Canada
Name[pa]=ਕੈਨੇਡਾ
Name[pl]=Kanada
Name[pt]=Canadá
Name[pt_BR]=Canadá
Name[ru]=Канада
Name[se]=Kanada
Name[sk]=Kanada
Name[sl]=Kanada
Name[sr]=Канада
Name[sr@ijekavian]=Канада
Name[sr@ijekavianlatin]=Kanada
Name[sr@latin]=Kanada
Name[sv]=Kanada
Name[tg]=Канада
Name[tr]=Kanada
Name[uk]=Канада
Name[x-test]=xxCanadaxx
Name[zh_CN]=加拿大
Name[zh_TW]=加拿大
Region=northamerica
Languages=en_GB,fr,en_US
DecimalSymbol=.
ThousandsSeparator=,
ThousandsSeparator[fr]=$0 $0
MonetaryDecimalSymbol=.
MonetaryDecimalSymbol[fr]=,
MonetaryThousandsSeparator=,
MonetaryThousandsSeparator[fr]=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositivePrefixCurrencySymbol[fr]=false
NegativePrefixCurrencySymbol[fr]=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[en_GB]=%B %e, %Y
DateFormat[fr]=%e %B %Y
DateFormat[en_US]=%B %e, %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort[en_GB]=%d/%m/%y
DateFormatShort[fr]=%Y-%m-%d
DateFormatShort[en_US]=%d/%m/%y
TimeFormat[en_GB]=%I:%M:%S %p
TimeFormat[fr]=%H:%M:%S
TimeFormat[en_US]=%I:%M:%S %p
TimeFormat[eo]=%H:%M:%S
WeekStartDay=7
PageSize=2
MeasureSystem=0
AddressFormat=%0(%N\n)%0(%CM\n)%0(%S\n)%0(PO BOX %p\n)%0(%L%w%R)%,%z
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=CAD
CurrencyCode=CAD
