[Desktop Entry]
Exec=kcmshell5 bluedeviladapters
Icon=preferences-system-bluetooth
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedeviladapters
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=100

Name=Adapters
Name[ar]=المحوّلات
Name[bs]=Adapteri
Name[ca]=Adaptadors
Name[ca@valencia]=Adaptadors
Name[cs]=Adaptéry
Name[da]=Adaptere
Name[de]=Adapter
Name[el]=Προσαρμογείς
Name[en_GB]=Adapters
Name[es]=Adaptadores
Name[et]=Adapterid
Name[eu]=Moldagailuak
Name[fi]=Sovittimet
Name[fr]=Adaptateurs
Name[gl]=Adaptadores
Name[he]=מתאמים
Name[hu]=Adapterek
Name[ia]=Adaptatores
Name[id]=Adaptor
Name[it]=Adattatori
Name[ja]=アダプタ
Name[ko]=어댑터
Name[lt]=Adapteriai
Name[ml]=അഡാപ്റ്ററുകള്‍
Name[nb]=Adaptere
Name[nl]=Adapters
Name[nn]=Adapterar
Name[pa]=ਅਡੈਪਟਰ
Name[pl]=Adaptery
Name[pt]=Adaptadores
Name[pt_BR]=Adaptadores
Name[ro]=Adaptoare
Name[ru]=Адаптеры
Name[sk]=Adaptéry
Name[sl]=Vmesniki
Name[sr]=Адаптери
Name[sr@ijekavian]=Адаптери
Name[sr@ijekavianlatin]=Adapteri
Name[sr@latin]=Adapteri
Name[sv]=Anslutningar
Name[tr]=Bağdaştırıcılar
Name[uk]=Адаптери
Name[x-test]=xxAdaptersxx
Name[zh_CN]=适配器
Name[zh_TW]=轉接器

Comment=Bluetooth Adapters
Comment[ar]=محوّلات بلوتوث
Comment[ca]=Adaptadors Bluetooth
Comment[ca@valencia]=Adaptadors Bluetooth
Comment[cs]=Adaptéry Bluetooth
Comment[da]=Bluetooth-adaptere
Comment[de]=Bluetooth-Adapter
Comment[el]=Προσαρμογείς Bluetooth
Comment[en_GB]=Bluetooth Adapters
Comment[es]=Adaptadores Bluetooth
Comment[et]=Bluetoothi adapterid
Comment[eu]=Bluetooth moldagailuak
Comment[fi]=Bluetooth-sovittimet
Comment[fr]=Adaptateurs Bluetooth
Comment[gl]=Adaptadores de Bluetooth
Comment[he]=מתאמי בלוטוס
Comment[hu]=Bluetooth adapterek
Comment[ia]=Adaptatores de Bluetooth
Comment[id]=Adaptor Bluetooth
Comment[it]=Adattatori Bluetooth
Comment[ja]=Bluetooth アダプタ
Comment[ko]=블루투스 어댑터
Comment[lt]=Bluetooth adapteriai
Comment[nb]=Bluetooth-adaptere
Comment[nl]=Bluetooth-adapters
Comment[nn]=Bluetooth-adapterar
Comment[pa]=ਬਲੂਟੁੱਥ ਅਡੈਪਟਰ
Comment[pl]=Adaptery Bluetooth
Comment[pt]=Adaptadores Bluetooth
Comment[pt_BR]=Adaptadores Bluetooth
Comment[ru]=Адаптеры Bluetooth
Comment[sk]=Bluetooth adaptéry
Comment[sl]=Vmesniki Bluetooth
Comment[sr]=Блутут адаптери
Comment[sr@ijekavian]=Блутут адаптери
Comment[sr@ijekavianlatin]=Bluetooth adapteri
Comment[sr@latin]=Bluetooth adapteri
Comment[sv]=Blåtandanslutningar
Comment[tr]=Bluetooth Bağdaştırıcıları
Comment[uk]=Адаптери Bluetooth
Comment[x-test]=xxBluetooth Adaptersxx
Comment[zh_CN]=蓝牙适配器
Comment[zh_TW]=藍牙轉接器

X-KDE-Keywords=Network,Connectivity,Bluetooth
X-KDE-Keywords[ar]=شبكة,موصوليّة,بلوتوث,موصولية
X-KDE-Keywords[bs]=Network,Connectivity,Bluetooth
X-KDE-Keywords[ca]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[ca@valencia]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[cs]=Síť,Konektivita,Bluetooth
X-KDE-Keywords[da]=Netværk,forbindelser,Bluetooth
X-KDE-Keywords[de]=Netzwerk,Verbindungen,Bluetooth
X-KDE-Keywords[el]=Δίκτυο,Συνδεσιμότητα,Bluetooth
X-KDE-Keywords[en_GB]=Network,Connectivity,Bluetooth
X-KDE-Keywords[es]=Red,Conectividad,Bluetooth
X-KDE-Keywords[et]=Võrk,Ühenduvus,Bluetooth
X-KDE-Keywords[eu]=sarea,konektibitatea,Bluetooth
X-KDE-Keywords[fi]=Verkko,Yhteydet,Bluetooth
X-KDE-Keywords[fr]=Réseau, connectivité, Bluetooth
X-KDE-Keywords[gl]=Network,Connectivity,Bluetooth,Rede,Conectividade
X-KDE-Keywords[he]=Network,Connectivity,Bluetooth,רשת,חיבורים,בלוטוס
X-KDE-Keywords[hu]=Hálózat,Kapcsolódás,Bluetooth
X-KDE-Keywords[ia]=Rete, Connectivitate, Bluetooth
X-KDE-Keywords[id]=Jaringan,Perkoneksi,Bluetooth
X-KDE-Keywords[it]=Rete,Connettività,Bluetooth
X-KDE-Keywords[ko]=Network,Connectivity,Bluetooth,네트워크,연결,블루투스
X-KDE-Keywords[lt]=Tinklas,Junglumas,,Jungiamumas,Bluetooth
X-KDE-Keywords[nb]=Nettverk,sammenkobling,blåtann
X-KDE-Keywords[nl]=Netwerkverbinding,connectiviteit,bluetooth
X-KDE-Keywords[nn]=nettverk,tilkopling,samband,Bluetooth,blåtann
X-KDE-Keywords[pa]=ਨੈਟਵਰਕ,ਕਨੈਕਟਵਿਟੀ,ਬਲੂਟੁੱਥ
X-KDE-Keywords[pl]=Sieć,Łączność,Bluetooth
X-KDE-Keywords[pt]=Rede,Conectividade,Bluetooth
X-KDE-Keywords[pt_BR]=Rede,Conectividade,Bluetooth
X-KDE-Keywords[ro]=Rețea,Conectivitate,Bluetooth
X-KDE-Keywords[ru]=сеть,соединение,Bluetooth
X-KDE-Keywords[sk]=Sieť,Konektivita,Bluetooth
X-KDE-Keywords[sl]=Omrežje,Povezave,Bluetooth
X-KDE-Keywords[sr]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavian]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavianlatin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sr@latin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sv]=Nätverk,Anslutningar,Blåtand
X-KDE-Keywords[tr]=Ağ, Bağlanılabilirlik, Bluetooth
X-KDE-Keywords[uk]=Network,Connectivity,Bluetooth,мережа,з’єднання,з'єднання
X-KDE-Keywords[x-test]=xxNetworkxx,xxConnectivityxx,xxBluetoothxx
X-KDE-Keywords[zh_CN]=网络,连接,蓝牙
X-KDE-Keywords[zh_TW]=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
