[Desktop Entry]
Exec=kcmshell5 bluedevildevices
Icon=preferences-system-bluetooth
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedevildevices
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=60

Name=Devices
Name[ar]=الأجهزة
Name[bs]=uređaji
Name[ca]=Dispositius
Name[ca@valencia]=Dispositius
Name[cs]=Zařízení
Name[da]=Enheder
Name[de]=Geräte
Name[el]=Συσκευές
Name[en_GB]=Devices
Name[es]=Dispositivos
Name[et]=Seadmed
Name[eu]=Gailuak
Name[fi]=Laitteet
Name[fr]=Périphériques
Name[gl]=Dispositivos
Name[he]=התקנים
Name[hu]=Eszközök
Name[ia]=Dispositivos
Name[id]=Perangkat
Name[it]=Dispositivi
Name[ja]=デバイス
Name[ko]=장치
Name[lt]=Įrenginiai
Name[ml]=ഉപകരണങ്ങൾ 
Name[nb]=Enheter
Name[nl]=Apparaten
Name[nn]=Einingar
Name[pa]=ਜੰਤਰ
Name[pl]=Urządzenia
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[ro]=Dispozitive
Name[ru]=Устройства
Name[sk]=Zariadenia
Name[sl]=Naprave
Name[sr]=Уређаји
Name[sr@ijekavian]=Уређаји
Name[sr@ijekavianlatin]=Uređaji
Name[sr@latin]=Uređaji
Name[sv]=Enheter
Name[tr]=Aygıtlar
Name[uk]=Пристрої
Name[x-test]=xxDevicesxx
Name[zh_CN]=设备
Name[zh_TW]=裝置

Comment=Bluetooth Devices
Comment[ar]=أجهزة بلوتوث
Comment[ca]=Dispositius Bluetooth
Comment[ca@valencia]=Dispositius Bluetooth
Comment[cs]=Zařízení Bluetooth
Comment[da]=Bluetooth-enheder
Comment[de]=Bluetooth-Geräte
Comment[el]=Συσκευές Bluetooth
Comment[en_GB]=Bluetooth Devices
Comment[es]=Dispositivos Bluetooth
Comment[et]=Bluetoothi seadmed
Comment[eu]=Bluetooth gailuak
Comment[fi]=Bluetooth-laitteet
Comment[fr]=Périphériques Bluetooth
Comment[gl]=Dispositivos de Bluetooth
Comment[he]=התקני בלוטוס
Comment[hu]=Bluetooth eszközök
Comment[ia]=Dispositivos Bluetooth
Comment[id]=Perangkat Bluetooth
Comment[it]=Dispositivi Bluetooth
Comment[ja]=Bluetooth デバイス
Comment[ko]=블루투스 장치
Comment[lt]=Bluetooth įrenginiai
Comment[ml]=ബ്ലൂടൂത്ത് ഉപകരണങ്ങള്‍
Comment[nb]=Bluetooth-enheter
Comment[nl]=Bluetooth-apparaten
Comment[nn]=Bluetooth-einingar
Comment[pa]=ਬਲੂਟੁੱਥ ਜੰਤਰ
Comment[pl]=Urządzenia Bluetooth
Comment[pt]=Dispositivos Bluetooth
Comment[pt_BR]=Dispositivos Bluetooth
Comment[ru]=Устройства Bluetooth
Comment[sk]=Zariadenia Bluetooth
Comment[sl]=Naprave Bluetooth
Comment[sr]=Блутут уређаји
Comment[sr@ijekavian]=Блутут уређаји
Comment[sr@ijekavianlatin]=Bluetooth uređaji
Comment[sr@latin]=Bluetooth uređaji
Comment[sv]=Blåtandenheter
Comment[tr]=Bluetooth Aygıtları
Comment[uk]=Пристрої Bluetooth
Comment[x-test]=xxBluetooth Devicesxx
Comment[zh_CN]=蓝牙设备
Comment[zh_TW]=藍牙裝置

X-KDE-Keywords=Network,Connectivity,Bluetooth
X-KDE-Keywords[ar]=شبكة,موصوليّة,بلوتوث,موصولية
X-KDE-Keywords[bs]=Network,Connectivity,Bluetooth
X-KDE-Keywords[ca]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[ca@valencia]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[cs]=Síť,Konektivita,Bluetooth
X-KDE-Keywords[da]=Netværk,forbindelser,Bluetooth
X-KDE-Keywords[de]=Netzwerk,Verbindungen,Bluetooth
X-KDE-Keywords[el]=Δίκτυο,Συνδεσιμότητα,Bluetooth
X-KDE-Keywords[en_GB]=Network,Connectivity,Bluetooth
X-KDE-Keywords[es]=Red,Conectividad,Bluetooth
X-KDE-Keywords[et]=Võrk,Ühenduvus,Bluetooth
X-KDE-Keywords[eu]=sarea,konektibitatea,Bluetooth
X-KDE-Keywords[fi]=Verkko,Yhteydet,Bluetooth
X-KDE-Keywords[fr]=Réseau, connectivité, Bluetooth
X-KDE-Keywords[gl]=Network,Connectivity,Bluetooth,Rede,Conectividade
X-KDE-Keywords[he]=Network,Connectivity,Bluetooth,רשת,חיבורים,בלוטוס
X-KDE-Keywords[hu]=Hálózat,Kapcsolódás,Bluetooth
X-KDE-Keywords[ia]=Rete, Connectivitate, Bluetooth
X-KDE-Keywords[id]=Jaringan,Perkoneksi,Bluetooth
X-KDE-Keywords[it]=Rete,Connettività,Bluetooth
X-KDE-Keywords[ko]=Network,Connectivity,Bluetooth,네트워크,연결,블루투스
X-KDE-Keywords[lt]=Tinklas,Junglumas,,Jungiamumas,Bluetooth
X-KDE-Keywords[nb]=Nettverk,sammenkobling,blåtann
X-KDE-Keywords[nl]=Netwerkverbinding,connectiviteit,bluetooth
X-KDE-Keywords[nn]=nettverk,tilkopling,samband,Bluetooth,blåtann
X-KDE-Keywords[pa]=ਨੈਟਵਰਕ,ਕਨੈਕਟਵਿਟੀ,ਬਲੂਟੁੱਥ
X-KDE-Keywords[pl]=Sieć,Łączność,Bluetooth
X-KDE-Keywords[pt]=Rede,Conectividade,Bluetooth
X-KDE-Keywords[pt_BR]=Rede,Conectividade,Bluetooth
X-KDE-Keywords[ro]=Rețea,Conectivitate,Bluetooth
X-KDE-Keywords[ru]=сеть,соединение,Bluetooth
X-KDE-Keywords[sk]=Sieť,Konektivita,Bluetooth
X-KDE-Keywords[sl]=Omrežje,Povezave,Bluetooth
X-KDE-Keywords[sr]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavian]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavianlatin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sr@latin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sv]=Nätverk,Anslutningar,Blåtand
X-KDE-Keywords[tr]=Ağ, Bağlanılabilirlik, Bluetooth
X-KDE-Keywords[uk]=Network,Connectivity,Bluetooth,мережа,з’єднання,з'єднання
X-KDE-Keywords[x-test]=xxNetworkxx,xxConnectivityxx,xxBluetoothxx
X-KDE-Keywords[zh_CN]=网络,连接,蓝牙
X-KDE-Keywords[zh_TW]=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
