[Desktop Entry]
Type=Service
Name=Link Files to Activities
Name[ca]=Enllaçat de fitxers a activitats
Name[ca@valencia]=Enllaçat de fitxers a activitats
Name[cs]=Připojit soubory k aktivitám
Name[da]=Link filer til aktiviteter
Name[de]=Dateien mit Aktivitäten verknüpfen
Name[en_GB]=Link Files to Activities
Name[es]=Enlazar archivos a actividades
Name[eu]=Estekatu fitxategiak jardueretara
Name[fi]=Linkkitiedostot aktiviteetteihin
Name[fr]=Associer les fichiers à des activités
Name[gl]=Ligar ficheiros con actividades
Name[id]=File-file Tautan untuk Activities
Name[it]=Collegamento file alle attività
Name[ko]=파일과 활동 연결
Name[nl]=Bestanden koppelen aan activiteiten
Name[nn]=Lenkja filer til aktivitetar
Name[pl]=Dowiązuj pliki do aktywności
Name[pt]=Associação de Ficheiros a Actividades
Name[pt_BR]=Link de arquivos para atividades
Name[sk]=Prepojiť súbory s Aktivitami
Name[sv]=Länkar filer till aktiviteter
Name[uk]=Пов'язування файлів із просторами дій
Name[x-test]=xxLink Files to Activitiesxx
Name[zh_CN]=将文件关联到活动
Name[zh_TW]=將檔案連結至活動
Icon=preferences-activities
X-KDE-Library=kactivitymanagerd_fileitem_linking_plugin
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;
