[Desktop Entry]
Icon=preferences-desktop-thunderbolt
Exec=kcmshell5 kcm_bolt
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_bolt
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=120

Name=Thunderbolt
Name[ca]=Thunderbolt
Name[ca@valencia]=Thunderbolt
Name[cs]=Thunderbolt
Name[da]=Thunderbolt
Name[de]=Thunderbolt
Name[en_GB]=Thunderbolt
Name[es]=Thunderbolt
Name[eu]=Thunderbolt
Name[fi]=Thunderbolt
Name[fr]=Thunderbolt
Name[gl]=Thunderbolt
Name[id]=Thunderbolt
Name[it]=Thunderbolt
Name[ko]=Thunderbolt
Name[lt]=Thunderbolt
Name[nl]=Thunderbolt
Name[nn]=Thunderbolt
Name[pl]=Thunderbolt
Name[pt]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[ru]=Thunderbolt
Name[sk]=Thunderbolt
Name[sv]=Thunderbolt
Name[uk]=Thunderbolt
Name[x-test]=xxThunderboltxx
Name[zh_CN]=Thunderbolt
Name[zh_TW]=Thunderbolt
Comment=Thunderbolt Device Management
Comment[ca]=Gestió del dispositiu Thunderbolt
Comment[ca@valencia]=Gestió del dispositiu Thunderbolt
Comment[cs]=Správa zařízení Thunderbolt
Comment[de]=Thunderbolt-Geräteverwaltung
Comment[en_GB]=Thunderbolt Device Management
Comment[es]=Gestión de dispositivos Thunderbolt
Comment[eu]=Thunderbolt gailu kudeaketa
Comment[fi]=Thunderbolt-laitehallinta
Comment[fr]=Gestionnaire de périphériques Thunderbolt
Comment[gl]=Xestión de dispositivos de Thunderbolt
Comment[id]=Pengelolaan Perangkat Thunderbolt
Comment[it]=Gestione dei dispositivi Thunderbolt
Comment[ko]=Thunderbolt 장치 관리
Comment[lt]=Thunderbolt įrenginių tvarkymas
Comment[nl]=Thunderbolt apparaatbeheer
Comment[nn]=Handsaming av Thunderbolt-einingar
Comment[pl]=Zarządzanie urządzeniem Thunderbolt
Comment[pt]=Gestão de Dispositivos Thunderbolt
Comment[pt_BR]=Gerenciamento de dispositivos Thunderbolt
Comment[ru]=Управление устройствами Thunderbolt
Comment[sk]=Správa zariadenia Thunderbolt
Comment[sv]=Thunderbolt enhetshantering
Comment[uk]=Керування пристроями Thunderbolt
Comment[x-test]=xxThunderbolt Device Managementxx
Comment[zh_CN]=Thunderbolt 设备管理
Comment[zh_TW]=Thunderbolt 裝置管理
X-KDE-Keywords=thunderbolt,hardware,device
X-KDE-Keywords[ca]=thunderbolt,maquinari,dispositiu
X-KDE-Keywords[ca@valencia]=thunderbolt,maquinari,dispositiu
X-KDE-Keywords[cs]=thunderbolt,hardware,zařízení
X-KDE-Keywords[de]=thunderbolt,hardware,gerät
X-KDE-Keywords[en_GB]=thunderbolt,hardware,device
X-KDE-Keywords[es]=thunderbolt,hardware,dispositivo
X-KDE-Keywords[eu]=thunderbolt,hardwarea,gailua
X-KDE-Keywords[fi]=thunderbolt,laitteisto,laite
X-KDE-Keywords[fr]=thunderbolt,composant,périphérique
X-KDE-Keywords[gl]=thunderbolt,hardware,dispositivo
X-KDE-Keywords[id]=thunderbolt,hardware,perangkat
X-KDE-Keywords[it]=thunderbolt,hardware,dispositivo
X-KDE-Keywords[ko]=thunderbolt,hardware,device,썬더볼트,하드웨어,장치
X-KDE-Keywords[lt]=thunderbolt,aparatinė įranga,įrenginys
X-KDE-Keywords[nl]=thunderbolt,hardware,apparaat
X-KDE-Keywords[nn]=thunderbolt,maskinvare,eining
X-KDE-Keywords[pl]=thunderbolt,sprzęt,urządzenie
X-KDE-Keywords[pt]=thunderbolt,hardware,dispositivo
X-KDE-Keywords[pt_BR]=thunderbolt,hardware,dispositivo
X-KDE-Keywords[ru]=thunderbolt,аппаратура,устройство
X-KDE-Keywords[sk]=thunderbolt,hardvér,zariadenie
X-KDE-Keywords[sv]=thunderbolt,maskinvara,enhet
X-KDE-Keywords[uk]=thunderbolt,hardware,device,тандерболт,фандерболт,обладнання,пристрій
X-KDE-Keywords[x-test]=xxthunderboltxx,xxhardwarexx,xxdevicexx
X-KDE-Keywords[zh_CN]=thunderbolt,hardware,device,雷电,硬件,设备,装置,外设
X-KDE-Keywords[zh_TW]=thunderbolt,hardware,device,硬體,裝置,設備
Categories=Qt;KDE;X-KDE-settings-system
