[Desktop Entry]
Exec=kcmshell5 kde-gtk-config
Icon=kde-gtk-config
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kdegtkconfig
# X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=applicationstyle
X-KDE-Weight=20

Name=GNOME/GTK Application Style
Name[ca]=Estil de les aplicacions GNOME/GTK
Name[ca@valencia]=Estil de les aplicacions GNOME/GTK
Name[cs]=Styl aplikací GNOME/GTK
Name[da]=Programstil for GNOME-/GTK-programmer
Name[de]=GNOME/GTK Anwendungs-Stil
Name[en_GB]=GNOME/GTK Application Style
Name[es]=Estilo de las aplicaciones de GNOME/GTK
Name[eu]=GNOME/GTK aplikazioen estiloa
Name[fi]=Gnome/GTK-sovellusten tyyli
Name[fr]=Style des applications « GNOME / GTK »
Name[gl]=Estilo das aplicacións de GNOME ou GTK
Name[hu]=GNOME/GTK alkalmazásstílus
Name[id]=Gaya Aplikasi GNOME/GTK
Name[it]=Stile delle applicazioni GNOME/GTK
Name[ja]=GNOME/GTK アプリケーションスタイル
Name[ko]=그놈/GTK 프로그램 스타일
Name[lt]=GNOME/GTK programų stilius
Name[nl]=Stijl van GNOME/GTK-toepassingen
Name[nn]=GNOME/GTK-programstil
Name[pl]=Wygląd aplikacji GNOME/GTK
Name[pt]=Estilo de Aplicações do GNOME/GTK
Name[pt_BR]=Estilo dos aplicativos GNOME/GTK
Name[ru]=Стиль программ GNOME/GTK+
Name[sk]=Štýl aplikácií GNOME (GTK)
Name[sv]=GNOME/GTK-programstil
Name[uk]=Стиль програм GNOME/GTK
Name[x-test]=xxGNOME/GTK Application Stylexx
Name[zh_CN]=GNOME/GTK 应用程序风格
Name[zh_TW]=GNOME / GTK 應用程式樣式
Comment=Configure GNOME/GTK application style and behavior
Comment[ca]=Configuració de l'estil i comportament de les aplicacions GNOME/GTK
Comment[ca@valencia]=Configuració de l'estil i comportament de les aplicacions GNOME/GTK
Comment[cs]=Nastavte styl a chováni aplikací GNOME/GTK
Comment[da]=Indstil stil og opførsel GNOME-/GTK-programmer
Comment[de]=Einrichtung des Stils und Verhaltens von GNOME-/GTK-Anwendungen
Comment[en_GB]=Configure GNOME/GTK application style and behaviour
Comment[es]=Configurar el estilo y el comportamiento de las aplicaciones de GNOME/GTK
Comment[eu]=Konfiguratu GNOME/Gtk aplikazioen estiloa eta jokabidea
Comment[fi]=Gnome/GTK-sovellusten tyyli- ja toimintaasetukset
Comment[fr]=Configuration du style et du comportement des applications « GNOME / GTK »
Comment[gl]=Configurar o estilo e comportamento das aplicacións de GNOME ou GTK
Comment[id]=Konfigurasikan perilaku dan gaya aplikasi GTK/GNOME
Comment[it]=Configura lo stile ed il comportamento delle applicazioni GNOME/GTK
Comment[ko]=그놈/GTK 프로그램 스타일과 행동 설정
Comment[lt]=Konfigūruoti GNOME/GTK programų stilių ir elgseną
Comment[nl]=Stijl en gedrag van GNOME/GTK-toepassingen configureren
Comment[nn]=Set opp utsjånad og åtferd for GNOME/GTK-program
Comment[pl]=Ustawienia wyglądu i zachowania aplikacji GNOME/GTK
Comment[pt]=Configurar o estilo e comportamento das aplicações em GNOME/GTK
Comment[pt_BR]=Configure o estilo e comportamento dos aplicativos GNOME/GTK
Comment[ru]=Настройка стиля и поведения программ на основе GNOME/GTK+
Comment[sk]=Nastavte správanie a vzhľad GTK/GNOME aplikácií.
Comment[sv]=Anpassa GNOME/GTK-programstil och beteende
Comment[uk]=Налаштовування стилю і поведінки програм на основі GNOME/GTK
Comment[x-test]=xxConfigure GNOME/GTK application style and behaviorxx
Comment[zh_CN]=配置 GNOME/GTK 应用程序风格和行为
Comment[zh_TW]=設定 GNOME/GTK 應用程式的樣式與行為

X-KDE-Keywords=gnome,gtk,style,styles,look,widget,icons,toolbars,apps,theme,menu
X-KDE-Keywords[ca]=gnome,gtk,estil,estils,aspecte,estri,icones,barres d'eines,apps,aplicacions,tema,menú
X-KDE-Keywords[ca@valencia]=gnome,gtk,estil,estils,aspecte,giny(«widget»),icones,barres d'eines,apps,aplicacions,tema,menú
X-KDE-Keywords[cs]=gnome,gtk,styl,styly,vzhled,widget,ikony,nástrojové lišty,aplikace,motiv,nabídka
X-KDE-Keywords[da]=gnome,gtk,stil,udseende,widget,ikoner,værktøjslinjer,apps,programmer,tema,menu
X-KDE-Keywords[de]=gnome,gtk,style,styles,look,widget,icons,toolbars,apps,theme,menu,Stile,Stile,Design,Themes,Bedienelemente,Elemente,Bildschirmelemente,Werkzeugleisten,Symbole,Anwendungen,Menü
X-KDE-Keywords[en_GB]=gnome,gtk,style,styles,look,widget,icons,toolbars,apps,theme,menu
X-KDE-Keywords[es]=gnome,gtk,estilo,estilos,apariencia,widget,iconos,barras de herramientas,apps,tema,menú
X-KDE-Keywords[eu]=gnome,gtk,estiloa,estiloak,itxura,trepeta,ikonoak,tresna-barrak,aplikazioak,gaia,menua
X-KDE-Keywords[fi]=gnome,gtk,tyyli,tyylit,ulkoasu,alkio,kuvakkeet,työkalurivit,sovellukset,teema,valikko
X-KDE-Keywords[fr]=gnome,gtk,style,styles,apparence,widget,composant,icônes,barre d'outils,applis,thème,menu
X-KDE-Keywords[gl]=gnome,gtk,estilo,estilos,aparencia,trebello,iconas,barras de ferramentas,aplicativos,tema,menú
X-KDE-Keywords[id]=gnome,gtk,gaya,style,nuansa,widget,ikon,toolbar,bilah-alat,apl,tema,menu
X-KDE-Keywords[it]=gnome,gtk,stile,stili,aspetto,oggetto,icone,barre degli strumenti,app,tema,menu
X-KDE-Keywords[ko]=gnome,gtk,style,styles,look,widget,icons,toolbars,apps,theme,menu,그놈,스타일,위젯,아이콘,도구 모음,프로그램,테마,메뉴
X-KDE-Keywords[lt]=gnome,gtk,stilius,stiliai,išvaizda,valdiklis,piktogramos,įrankių juostos,programos,apipavidalinimas,meniu
X-KDE-Keywords[nl]=gnome,gtk,stijl,stijlen,uiterlijk,widget,pictogrammen,werkbalken,apps,thema,menu,toepassingen
X-KDE-Keywords[nn]=gnome,gtk,stil,stilar,utsjånad,skjermelement,skjermkontrollar,ikon,verktøylinjer,appar,program,tema,meny
X-KDE-Keywords[pl]=gnome,gtk,styl,style,wygląd,widżet,elementy interfejsu,ikony,paski narzędzi,aplikacje,programy,wygląd,menu
X-KDE-Keywords[pt]=gnome,gtk,estilo,estilos,aparência,elemento,ícones,barras de ferramentas,aplicações,tema,menu
X-KDE-Keywords[pt_BR]=gnome,gtk,estilo,estilos,visual,widget,ícones,barras de ferramentas,apps,aplicativos,tema,menu
X-KDE-Keywords[ru]=gnome,gtk,style,styles,look,widget,icons,toolbars,apps,theme,menu,стиль,гном,оформление,внешний вид,виджеты,графические элементы,значки,панели инструментов,тема,меню
X-KDE-Keywords[sk]=gnome,gtk,štýl,štýly,vzhľad,widget,ikony,panel nástrojov,applikácie,téma,ponuka
X-KDE-Keywords[sv]=gnome,gtk,stil,stilar,utseende,komponent,ikoner,verktygsrader,program,tema,meny
X-KDE-Keywords[uk]=gnome,gtk,style,styles,look,widget,icons,toolbars,apps,theme,menu,гном,гноме,жтк,стиль,стилі,вигляд,віджет,піктограми,панелі,програми,тема,меню
X-KDE-Keywords[x-test]=xxgnomexx,xxgtkxx,xxstylexx,xxstylesxx,xxlookxx,xxwidgetxx,xxiconsxx,xxtoolbarsxx,xxappsxx,xxthemexx,xxmenuxx
X-KDE-Keywords[zh_CN]=gnome,gtk,style,styles,look,widget,icons,toolbars,apps,theme,menu,样式,外观,小部件,图标,工具栏,应用程序,主题,菜单
X-KDE-Keywords[zh_TW]=gnome,gtk,style,styles,look,widget,icons,toolbars,apps,theme,menu,樣式,樣貌,元件,小工具,圖示,圖標,工具列,應用程式,App,應用,主題,選單,目錄

Categories=Qt;KDE;X-KDE-settings-looknfeel;
