[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=miloutextplugin
Name=Milou Text Preview Plugin
Name[bs]=Milou Tekst pregledni dodatak
Name[ca]=Connector de vista prèvia de texts del Milou
Name[ca@valencia]=Connector de vista prèvia de texts del Milou
Name[cs]=Modul náhledů textu pro Milou
Name[da]=Forhåndsvisning-plugin til tekst til Milou
Name[de]=Milou-Vorschaumodul für Text
Name[el]=Πρόσθετο προεπισκόπησης κειμένου Milou
Name[en_GB]=Milou Text Preview Plugin
Name[es]=Complemento de vista previa de texto para Milou
Name[et]=Milou teksti eelvaatluse plugin
Name[eu]=Milou Testu aurrebista plugina
Name[fi]=Miloun tekstin esikatseluliitännäinen
Name[fr]=Module externe d'aperçu de texte pour Milou
Name[gl]=Complemento de vista previa de texto Milou
Name[hu]=Milou szöveg előnézet bővítmény
Name[id]=Milou Text Preview Plugin
Name[it]=Estensione di Milou per l'anteprima dei file di testo
Name[ko]=Milou 텍스트 미리 보기 플러그인
Name[lt]=Milou teksto peržiūros priedas
Name[nb]=Milou-tillegg for tekst-forhåndsvisning
Name[nds]=Milou-Textvöransichtmoduul
Name[nl]=Milou voorbeeld-plug-in voor tekst
Name[nn]=Milou-tillegg for førehandsvising av tekst
Name[pl]=Wtyczka podglądu tekstu Milou
Name[pt]='Plugin' de Antevisão de Texto do Milou
Name[pt_BR]=Plugin de previsão de texto do Milou
Name[ru]=Модуль предварительного просмотра текстовых файлов Milou
Name[sk]=Plugin náhľadu textu Milou
Name[sl]=Vstavek Milou za predogled besedila
Name[sr]=Милуов прикључак прегледа текста
Name[sr@ijekavian]=Милуов прикључак прегледа текста
Name[sr@ijekavianlatin]=Milouov priključak pregleda teksta
Name[sr@latin]=Milouov priključak pregleda teksta
Name[sv]=Milou insticksprogram för förhandsgranskning av text
Name[tr]=Milou Metin Ön İzleme Eklentisi
Name[uk]=Додаток попереднього перегляду тексту Milou
Name[x-test]=xxMilou Text Preview Pluginxx
Name[zh_CN]=Milou 文本预览插件
Name[zh_TW]=Milou 文字預覽外掛程式
Comment=Preview generated for text files
Comment[bs]=Prikaz generiran za tekstualne datoteke
Comment[ca]=Vista prèvia generada pels fitxers de text
Comment[ca@valencia]=Vista prèvia generada pels fitxers de text
Comment[cs]=Náhled generovaný pro textové soubory
Comment[da]=Forhåndsvisning genereret for tekstfiler
Comment[de]=Vorschau für Textdateien generieren
Comment[el]=Παραγόμενη προεπισκόπηση για αρχεία κειμένου
Comment[en_GB]=Preview generated for text files
Comment[es]=Vista previa generada para archivos de texto
Comment[et]=Tekstifailidele genereeritud eelvaatlus
Comment[eu]=Testu-fitxategietarako sortutako aurrebista
Comment[fi]=Tekstitiedostoille generoitu esikatselu
Comment[fr]=Aperçu généré pour les fichiers texte
Comment[gl]=Vista previa xerada para os ficheiros de texto
Comment[hu]=Szövegfájlokhoz előállított előnézet
Comment[id]=Pratinjau yang dihasilkan terhadap file-file teks
Comment[it]=Anteprima generata per file di testo
Comment[ko]=텍스트 파일에서 생성된 미리 보기
Comment[lt]=Sugeneruota tekstinių failų peržiūra
Comment[nb]=Forhåndsvisning laget for tekstfiler
Comment[nds]=För Textdateien opstellt Vöransicht
Comment[nl]=Gegenereerd voorbeeld voor tekstbestanden
Comment[nn]=Førehandsvising laga for tekstfiler
Comment[pl]=Podgląd utworzony dla plików tekstowych
Comment[pt]=Antevisão gerada para os ficheiros de texto
Comment[pt_BR]=Previsão gerada para os arquivos de texto
Comment[ru]=Создание данных для предварительного просмотра текстовых файлов
Comment[sk]=Náhľad vygenerovaný pre textové súbory
Comment[sl]=Predogled besedilnih datotek je bil ustvarjen
Comment[sr]=Преглед за текстуалне фајлове
Comment[sr@ijekavian]=Преглед за текстуалне фајлове
Comment[sr@ijekavianlatin]=Pregled za tekstualne fajlove
Comment[sr@latin]=Pregled za tekstualne fajlove
Comment[sv]=Förhandsgranskning skapad för textfiler
Comment[tr]=Metin dosyaları için oluşturulan ön izleme
Comment[uk]=Створено дані попереднього перегляду для текстових файлів
Comment[x-test]=xxPreview generated for text filesxx
Comment[zh_CN]=文本文件预览
Comment[zh_TW]=文字檔預覽
