[Desktop Entry]
Exec=kcmshell5 powerdevilglobalconfig
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevil/index.html#advanced-settings

X-KDE-Library=kcm_powerdevilglobalconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=power-management
X-KDE-Weight=99

Name=Advanced Settings
Name[ar]=الإعدادات المتقدمة
Name[bs]=Napredne postavke
Name[ca]=Arranjament avançat
Name[ca@valencia]=Configuració avançada
Name[cs]=Pokročilá nastavení
Name[da]=Avancerede indstillinger
Name[de]=Erweiterte Einstellungen
Name[el]=Ρυθμίσεις για προχωρημένους
Name[en_GB]=Advanced Settings
Name[es]=Preferencias avanzadas
Name[et]=Muud seadistused
Name[eu]=Ezarpen aurreratuak
Name[fi]=Lisäasetukset
Name[fr]=Configuration avancée
Name[gl]=Configuración avanzada
Name[he]=הגדרות מתקדמות
Name[hu]=Speciális beállítások
Name[ia]=Preferentias Avantiate
Name[id]=Pengaturan Tingkat-lanjut
Name[it]=Impostazioni avanzate
Name[ja]=詳細設定
Name[ko]=고급 설정
Name[lt]=Sudėtingesnės nuostatos
Name[nb]=Avanserte innstillinger
Name[nds]=Verwiedert Instellen
Name[nl]=Geavanceerde instellingen
Name[nn]=Avanserte innstillingar
Name[pa]=ਤਕਨੀਕੀ ਸੈਟਿੰਗਾਂ
Name[pl]=Ustawienia zaawansowane
Name[pt]=Configuração Avançada
Name[pt_BR]=Configurações avançadas
Name[ro]=Configurări avansate
Name[ru]=Дополнительные параметры
Name[sk]=Pokročilé nastavenia
Name[sl]=Napredne nastavitve
Name[sr]=Напредне поставке
Name[sr@ijekavian]=Напредне поставке
Name[sr@ijekavianlatin]=Napredne postavke
Name[sr@latin]=Napredne postavke
Name[sv]=Avancerade inställningar
Name[tr]=Gelişmiş Ayarlar
Name[uk]=Додаткові параметри
Name[x-test]=xxAdvanced Settingsxx
Name[zh_CN]=高级设置
Name[zh_TW]=進階設定

Comment=Advanced Power Management Settings
Comment[ar]=إعدادات إدارة الطاقة المتقدمة
Comment[bs]=Postavke naprednog upravljanja napajanjem
Comment[ca]=Arranjament avançat de gestió d'energia
Comment[ca@valencia]=Configuració avançada de la gestió d'energia
Comment[cs]=Pokročilé nastavení správy napájení
Comment[da]=Indstil avanceret strømstyring
Comment[de]=Erweiterte Energieprofile einrichten
Comment[el]=Ρυθμίσεις διαχείρισης ενέργειας για προχωρημένους
Comment[en_GB]=Advanced Power Management Settings
Comment[es]=Preferencias avanzadas de la gestión de energía
Comment[et]=Toitehalduse muud seadistused
Comment[eu]=Energia-kudeaketaren ezarpen aurreratuak
Comment[fi]=Virranhallinnan lisäasetukset
Comment[fr]=Configuration avancée de la gestion de l'énergie 
Comment[gl]=Xestión avanzada da enerxía
Comment[he]=הגדרות ניהול חשמל מתקדמות
Comment[hu]=Speciális energiakezelési beállítások
Comment[ia]=Preferentias avantiate de gestion de energia
Comment[id]=Pengaturan Pengelolaan Daya Tingkat-lanjut
Comment[it]=Impostazioni avanzate della gestione energetica
Comment[ja]=高度な電源管理の設定
Comment[ko]=고급 전원 관리 설정
Comment[lt]=Sudėtingesnės energijos valdymo nuostatos
Comment[nb]=Avansert strømstyring
Comment[nds]=Verwiedert Stroompleeginstellen
Comment[nl]=Instellingen voor geavanceerd energiebeheer
Comment[nn]=Avansert straumstyring
Comment[pa]=ਤਕਨੀਕੀ ਪਾਵਰ ਪਰਬੰਧ ਸੈਟਿੰਗਾਂ
Comment[pl]=Zaawansowane ustawienia zarządzania energią
Comment[pt]=Configuração da Gestão Avançada de Energia
Comment[pt_BR]=Opções avançadas do gerenciamento de energia
Comment[ru]=Дополнительные параметры энергосбережения
Comment[sk]=Nastavenia pokročilej správy napájania
Comment[sl]=Napredno upravljanje z energijo
Comment[sr]=Напредне поставке за управљање напајањем
Comment[sr@ijekavian]=Напредне поставке за управљање напајањем
Comment[sr@ijekavianlatin]=Napredne postavke za upravljanje napajanjem
Comment[sr@latin]=Napredne postavke za upravljanje napajanjem
Comment[sv]=Avancerade inställningar av strömhantering
Comment[tr]=Gelişmiş Güç Yönetimi Ayarları
Comment[uk]=Налаштування додаткових параметрів керування живленням
Comment[x-test]=xxAdvanced Power Management Settingsxx
Comment[zh_CN]=高级电源管理设置
Comment[zh_TW]=進階電源管理設定

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[ar]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,activity,activities,نظام,النظام,طاقة,الطاقة,إدارة الطاقة,ادارة الطاقة, لابتوب,حاسوب محمول,محمول,سطوع,إضاءة,اضاءة,تعليق,علق,نم,نوم,أسبت,اسبت,اسبات,إسبات,أداء,اداء,الأداء,نشاط,جدث,أنشطة,أحداث,
X-KDE-Keywords[bs]=sistem, Napajanje, Upravljanje napajanjem, energija, laptop, baterija, suspenzija, AC, suspendiraj, hiberniranje, osvljetljenje, kapak
X-KDE-Keywords[ca]=sistema,energia,gestió d'energia,corrent,portàtil,bateria,suspensió,AC,suspèn,hiberna,lluminositat,rendiment,tapa
X-KDE-Keywords[ca@valencia]=sistema,corrent,gestió d'energia,energia,portàtil,bateria,suspensió,AC,suspèn,hiberna,lluminositat,rendiment,tapa
X-KDE-Keywords[da]=system,strøm,strømstyring,energi,laptop,bærbar,batteri,suspension,AC,strømforsyning,suspender,slumre,dvale,lysstyrke,ydelse,låg
X-KDE-Keywords[de]=system,energie,energieverwaltung,laptop,notebook,akku,batterie,ruhezustand,standby,tiefschlaf,helligkeit,leistung,deckel
X-KDE-Keywords[el]=σύστημα,ενέργεια,διαχείριση ενέργειας,ενέργεια,φορητός,μπαταρία,αναστολή,AC,κοίμηση,νάρκη,φωτεινότητα,επιδόσεις,καπάκι
X-KDE-Keywords[en_GB]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[es]=sistema,energía,gestión de energía,portátil,laptop,batería,suspensión,AC,suspender,hibernar,brillo,rendimiento,tapa
X-KDE-Keywords[et]=süsteem,energia,toide,toitehaldus,sülearvuti,aku,uneseisund,uni,talveuni, heledus,jõudlus,kaas
X-KDE-Keywords[eu]=sistema,energia,energia-kudeaketa,energia,eramangarria,magalekoa,bateria,egonean,AC,korronte alternoa,egonean uztea,hibernatu,distira,errendimendua,tapa
X-KDE-Keywords[fi]=järjestelmä,virta,virranhallinta,energia,kannettava,tietokone,läppäri,akku,lepotila,valmiustila,AC,virtalähde,keskeytä,kirkkaus,suorituskyky,kansi
X-KDE-Keywords[fr]=système, alimentation, gestion énergétique, énergie, portable, batterie, suspension, AC, suspendre, hiberner, luminosité, performance, capot
X-KDE-Keywords[gl]=sistema,enerxía,xestión da enerxía, xestión enerxética,carga,portátil,batería, suspender,corrente,hibernar,durmir,brillo,rendemento,tapa
X-KDE-Keywords[hu]=rendszer,energia,energiakezelés,energia,laptop,akkumulátor,AC,felfüggesztés,hibernálás,fényerő,teljesítmény,fedél
X-KDE-Keywords[ia]=systema,potentia,gestion de potentia,energia,laptop,batteria,suspension,CA,suspende,hiberna,brillantia,prestation,coperculo
X-KDE-Keywords[id]=sistem,daya,pengelolaan daya,energi,laptop,baterai,suspensi, AC,suspen,hibernasi,kecerahan,kinerja,penutup
X-KDE-Keywords[it]=sistema,energia,gestione energetica,energia,computer portatile,batteria,sospensione,alimentazione esterna,sospensione,ibernazione,luminosità,prestazioni,coperchio
X-KDE-Keywords[ko]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,시스템,전원,전원 관리,에너지,노트북,배터리,어댑터,절전,대기 모드,대기,최대 절전,최대 절전 모드,밝기,성능,덮개,상판
X-KDE-Keywords[lt]=sistema,energija,maitinimas,enerijos valdymas,maitinimo valdymas,nešiojamasis kompiuteris,baterija,akumuliatorius,užmigdymas,AC,kintamoji srovė,pristabdymas,sustabdymas,užmigdyti,pristabdyti,sustabdyti,ryškumas,šviesumas,našumas,dangtis
X-KDE-Keywords[nb]=system,strøm,strømstyring,energi,bærbar,batteri,hvilemodus,AC,hvile,dvale,lysstyrke,ytelse,lokk
X-KDE-Keywords[nds]=Systeem,Stroom,Stroompleeg,Energie,Klappreekner,Batterie,utsetten,AC,Wesselstroom,infreren,Helligkeit,Leisten
X-KDE-Keywords[nl]=systeem,energie,energiebeheer,laptop,batterij,accu,suspension,AC,onderbreken,slapen,helderheid,prestaties,deksel
X-KDE-Keywords[nn]=system,straum,straumstyring,energi,berbar,batteri,kvilemodus,AC,kvile,dvale,dvalemodus,lysstyrke,yting,lokk
X-KDE-Keywords[pl]=system,moc,zarządzanie energią,energia,laptop,bateria,wstrzymanie,AC,wstrzymaj,hibernuj,jasność,wydajność,pokrywka
X-KDE-Keywords[pt]=sistema,energia,gestão de energia,portátil,bateria,suspensão,AC,suspender,hibernar,hibernação,brilho,performance,tampa
X-KDE-Keywords[pt_BR]=sistema,energia,gerenciamento de energia,energia,notebook,laptop,portátil,bateria,suspensão,AC,suspender,hibernar,brilho,desempenho,tampa
X-KDE-Keywords[ro]=sistem,alimentare,gestiune alimentare,energie,laptop,acumulator,suspendare,CA,suspendă,hibernează,hibernare,luminozitate,iluminare,performanță,capac
X-KDE-Keywords[ru]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,системное,питание,управление питанием,энергопотребление,ноутбук,батарея,спящий режим,гибернация,ждущий режим,яркость,производительность,крышка
X-KDE-Keywords[sk]=systém,napájanie,správa napájanie,energia,laptop,batéria,uspanie,AC,uspať,hibernovať,jas,výkon,kryt
X-KDE-Keywords[sl]=sistem,energija,upravljanje z energijo,prenosnik,prenosni računalnik,baterija,akumulator,pripravljenost,mirovanje,električno omrežje,svetlost,zmogljivost,pokrov,napajanje
X-KDE-Keywords[sr]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,систем,напајање,струја,управљање напајањем,лаптоп,батерија,суспендовање,АЦ,хибернација,светлина,осветљај,перформансе,поклопац
X-KDE-Keywords[sr@ijekavian]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,систем,напајање,струја,управљање напајањем,лаптоп,батерија,суспендовање,АЦ,хибернација,светлина,осветљај,перформансе,поклопац
X-KDE-Keywords[sr@ijekavianlatin]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,sistem,napajanje,struja,upravljanje napajanjem,laptop,baterija,suspendovanje,AC,hibernacija,svetlina,osvetljaj,performanse,poklopac
X-KDE-Keywords[sr@latin]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,sistem,napajanje,struja,upravljanje napajanjem,laptop,baterija,suspendovanje,AC,hibernacija,svetlina,osvetljaj,performanse,poklopac
X-KDE-Keywords[sv]=system,kraft,krafthantering,energi,bärbar dator,batteri,viloläge,AC,gå till viloläge,dvala,ljusstyrka,prestanda,lock
X-KDE-Keywords[tr]=sistem,güç,güç yönetimi,enerji,dizüstü,laptop,pil,askıya alma,uyutma,AC,fişte,parlaklık,performans,ışık
X-KDE-Keywords[uk]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,система,живлення,мережа,струм,керування,енергія,ноутбук,акумулятор,батарея,батареї,присипляння,призупинення,призупинка,яскравість,швидкодія,кришка,кришки
X-KDE-Keywords[x-test]=xxsystemxx,xxpowerxx,xxpower managementxx,xxenergyxx,xxlaptopxx,xxbatteryxx,xxsuspensionxx,xxACxx,xxsuspendxx,xxhibernatexx,xxbrightnessxx,xxperformancexx,xxlidxx
X-KDE-Keywords[zh_CN]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,系统,电源,电源管理,能源,笔记本,电池,休眠,睡眠,交流,亮度,性能
X-KDE-Keywords[zh_TW]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
