[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevildimdisplayaction
Icon=preferences-desktop-display
Name=Dim screen
Name[ar]=أعتِم الشاشة
Name[bs]=Priguši ekran
Name[ca]=Enfosquiment de la pantalla
Name[ca@valencia]=Enfosquiment de la pantalla
Name[cs]=Ztmavit obrazovku
Name[da]=Dæmp skærmen
Name[de]=Bildschirm abdunkeln
Name[el]=Σκίαση οθόνης
Name[en_GB]=Dim screen
Name[es]=Oscurecer la pantalla
Name[et]=Ekraani tumendamine
Name[eu]=Ilundu pantaila
Name[fi]=Näytön himmennys
Name[fr]=Diminuer la luminosité de l'écran
Name[gl]=Atenuar a pantalla
Name[he]=החשך מסך
Name[hu]=Fényerő csökkentése
Name[ia]=Obscura Schermo
Name[id]=Layar redup
Name[it]=Oscuramento dello schermo
Name[ja]=スクリーンを暗く
Name[ko]=화면 어둡게 하기
Name[lt]=Pritemdyti ekraną
Name[nb]=Mørklegg skjerm
Name[nds]=Schirmafdüüstern
Name[nl]=Scherm dimmen
Name[nn]=Demp skjermen
Name[pa]=ਸਕਰੀਨ ਡਿਮ
Name[pl]=Przyciemnij ekran
Name[pt]=Escurecer o ecrã
Name[pt_BR]=Escurecer a tela
Name[ru]=Потухание экрана
Name[sk]=Stmaviť obrazovku
Name[sl]=Potemni zaslon
Name[sr]=Пригуши екран
Name[sr@ijekavian]=Пригуши екран
Name[sr@ijekavianlatin]=Priguši ekran
Name[sr@latin]=Priguši ekran
Name[sv]=Dämpa skärmen
Name[tr]=Ekranı karart
Name[uk]=Зменшення яскравості екрана
Name[x-test]=xxDim screenxx
Name[zh_CN]=暗淡屏幕
Name[zh_TW]=將螢幕變暗
Comment=Dims gradually the display on a time basis
Comment[ar]=يعتِم الشاشة تدريجياً بناء على توقيت
Comment[bs]=Postepeno prigušuje ekran na zadano vrijeme
Comment[ca]=Atenua gradualment la pantalla en funció del temps
Comment[ca@valencia]=Atenua gradualment la pantalla en funció del temps
Comment[cs]=Postupné ztmavení obrazovky
Comment[da]=Dæmper skærmen gradvist baseret på tid
Comment[de]=Dunkelt den Bildschirm zeitgesteuert ab
Comment[el]=Μειώνει σταδιακά τη φωτεινότητα της οθόνης
Comment[en_GB]=Dims gradually the display on a time basis
Comment[es]=Oscurece la pantalla gradualmente según pasa el tiempo
Comment[et]=Kuva järkjärguline tumendamine aega arvestades
Comment[eu]=Bistaratzea pixkanaka iluntzen du denboran oinarrituta
Comment[fi]=Himmentää näyttöä vaiheittain ajan perusteella
Comment[fr]=Assombrit graduellement l'affichage sur une base de temps
Comment[gl]=Escurece progresivamente a pantalla segundo o tempo
Comment[he]=החשך מסך על בסיס זמן
Comment[hu]=Arányosan csökkenti a fényerőt egy adott idő után
Comment[ia]=Obscura gradualmente le monstrator usante como base le tempore
Comment[id]=Meredupkan layar secara bertahap atas dasar waktu
Comment[it]=Attenua gradualmente lo schermo in base al tempo
Comment[ja]=ディスプレイを時間とともに徐々に暗くする
Comment[ko]=밝기를 단계적으로 어둡게 합니다
Comment[lt]=Laikui bėgant, palaipsniui pritemdo ekraną
Comment[nb]=Mørklegger skjermen gradvis over tid
Comment[nds]=Maakt de Schirm na en vörinstellt Tiet düüsterer
Comment[nl]=Dimt geleidelijk het beeldscherm op basis van tijd
Comment[nn]=Demp skjermen gradvis over tid
Comment[pa]=ਸਮੇਂ ਨਾਲ ਡਿਸਪਲੇਅ ਨੂੰ ਲਗਾਤਾਰ ਡਿਮ ਕਰੋ
Comment[pl]=Po podanym czasie, stopniowo przyciemnia wyświetlacz
Comment[pt]=Escurece gradualmente o ecrã ao longo de algum tempo
Comment[pt_BR]=Escurece gradualmente a tela durante um período
Comment[ro]=Întunecă gradual ecranul în dependență de timp
Comment[ru]=Экран медленно затухает со временем
Comment[sk]=Postupne stmavie obrazovku v závislosti na čase
Comment[sl]=Postopoma potemni zaslon
Comment[sr]=Постепено пригушује екран на задато време
Comment[sr@ijekavian]=Постепено пригушује екран на задато вријеме
Comment[sr@ijekavianlatin]=Postepeno prigušuje ekran na zadato vrijeme
Comment[sr@latin]=Postepeno prigušuje ekran na zadato vreme
Comment[sv]=Dämpa bildskärmen gradvis baserat på tid
Comment[tr]=Zamana bağlı olarak ekranı yavaşça karartır
Comment[uk]=Поступове зменшення яскравості дисплея з часом
Comment[x-test]=xxDims gradually the display on a time basisxx
Comment[zh_CN]=在一定时间逐步变暗屏幕
Comment[zh_TW]=依時間逐漸讓顯示變暗

X-KDE-PowerDevil-Action-ID=DimDisplay
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildimdisplayaction_config
X-KDE-PowerDevil-Action-ConfigPriority=99
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
