[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-desktop-user-password
Exec=kcmshell5 screenlocker
X-KDE-Library=screenlocker_kcm
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/screenlocker/index.html

X-KDE-System-Settings-Parent-Category=desktopbehavior
X-KDE-Weight=60

Name=Screen Locking
Name[ca]=Bloqueig de la pantalla
Name[ca@valencia]=Bloqueig de la pantalla
Name[cs]=Uzamykání obrazovky
Name[da]=Skærmlås
Name[de]=Bildschirmsperre
Name[el]=Κλείδωμα οθόνης
Name[en_GB]=Screen Locking
Name[es]=Bloqueo de pantalla
Name[et]=Ekraani lukustamine
Name[eu]=Pantaila giltzatzea
Name[fi]=Näytön lukitus
Name[fr]=Verrouillage de l'écran
Name[gl]=Trancar a pantalla
Name[he]=נעילת מסך
Name[hu]=Képernyőzárolás
Name[id]=Penguncian Layar
Name[it]=Blocco dello schermo
Name[ja]=スクリーンロック
Name[ko]=화면 잠금
Name[lt]=Ekrano užraktas
Name[nb]=Skjermlåsing
Name[nl]=Scherm vergrendelen
Name[nn]=Skjerm­låsing
Name[pa]=ਸਕਰੀਨ ਲਾਕ
Name[pl]=Blokada ekranu
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueio de tela
Name[ru]=Блокировка экрана
Name[sk]=Zamykanie obrazovky
Name[sl]=Zaklep zaslona
Name[sr]=Закључавање екрана
Name[sr@ijekavian]=Закључавање екрана
Name[sr@ijekavianlatin]=Zaključavanje ekrana
Name[sr@latin]=Zaključavanje ekrana
Name[sv]=Skärmlåsning
Name[tr]=Ekran Kilitleme
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Name[zh_CN]=锁屏
Name[zh_TW]=螢幕鎖定
Comment=Configure screen locking
Comment[ca]=Configura el bloqueig de la pantalla
Comment[cs]=Nastavit uzamykání obrazovky
Comment[da]=Indstil skærmlås
Comment[de]=Bildschirmsperre einrichten
Comment[en_GB]=Configure screen locking
Comment[es]=Configurar el bloqueo de pantalla
Comment[eu]=Konfiguratu pantaila giltzatzea
Comment[fi]=Näytön lukituksen asetukset
Comment[fr]=Configurer le verrouillage de l'écran
Comment[gl]=Configurar o trancamento da pantalla
Comment[id]=Konfigurasikan penguncian layar
Comment[it]=Configura il blocco dello schermo
Comment[ko]=화면 잠금 설정
Comment[lt]=Konfigūruoti ekrano užrakinimą
Comment[nl]=Schermvergrendeling configureren
Comment[nn]=Set opp skjermlåsing
Comment[pl]=Ustawienia blokady ekranu
Comment[pt]=Configurar o bloqueio do ecrã
Comment[pt_BR]=Configura o bloqueio de tela
Comment[ru]=Настройка блокировщика экрана
Comment[sk]=Nastaviť zamykanie obrazovky
Comment[sv]=Anpassa skärmlåsning
Comment[uk]=Налаштування блокування екрана
Comment[x-test]=xxConfigure screen lockingxx
Comment[zh_CN]=配置锁屏
Comment[zh_TW]=設定螢幕鎖定方式
X-KDE-Keywords=lock,resume, screensaver, screenlock
X-KDE-Keywords[ca]=bloqueig,reprendre,estalvi de pantalla,bloqueig de pantalla
X-KDE-Keywords[ca@valencia]=bloqueig,reprendre,estalvi de pantalla,bloqueig de pantalla
X-KDE-Keywords[cs]=zamknout,pokračovat, spořič, zámek
X-KDE-Keywords[da]=lås,genoptag,pauseskærm,skærmlås
X-KDE-Keywords[de]=Sperren,Sperre aufheben,Bildschirmschoner,Bildschirmsperre
X-KDE-Keywords[el]=κλείδωμα,συνέχιση,προφύλαξη οθόνης,κλείδωμα οθόνης
X-KDE-Keywords[en_GB]=lock,resume, screensaver, screenlock
X-KDE-Keywords[es]=bloquear, reanudar, salvapantallas, bloqueo de pantalla
X-KDE-Keywords[et]=lukustamine,taastamine,ekraanisäästja,ekraani lukustamine
X-KDE-Keywords[eu]=giltzatu,berrekin,pantaila-babesle,pantaila-giltzatu
X-KDE-Keywords[fi]=lock,resume, screensaver, screenlock, lukko, lukitseminen, herääminen, näytönsäästäjä, näyttölukko, lukitusnäyttö
X-KDE-Keywords[fr]=verrouiller, reprendre,écran de veille, verrouillage de l'écran
X-KDE-Keywords[gl]=bloquear,desbloquear,salvapantallas,bloqueo de pantalla
X-KDE-Keywords[he]=lock,resume, screensaver, screenlock,נעילה,שומר מסך,נעילת מסך
X-KDE-Keywords[hu]=zárolás,feloldás,képernyővédő,képernyőzár
X-KDE-Keywords[id]=lock,resume, screensaver, screenlock
X-KDE-Keywords[it]=blocca, riprendi, salvaschermo, blocco dello schermo
X-KDE-Keywords[ja]=ロック,再開,スクリーンセーバー,スクリーンロック
X-KDE-Keywords[ko]=lock,resume, screensaver, screenlock,잠금,다시 시작,화면 보호기,화면 잠금
X-KDE-Keywords[lt]=užraktas,pabudimas,pratęsimas,ekrano užsklanda,ekrano užraktas
X-KDE-Keywords[nl]=grendel,hervatten, schermbeveiliging, schermbeveiliging
X-KDE-Keywords[nn]=lås,låsing,framhald,skjermsparar,pauseskjerm,skjermlås
X-KDE-Keywords[pa]=ਲਾਕ, ਮੁੜ-ਪ੍ਰਾਪਤ, ਸਕਰੀਨ-ਸੇਵਰ, ਸਕਰੀਨ-ਲਾਕ
X-KDE-Keywords[pl]=blokada, wznowienie, wygaszacz ekranu, blokada ekranu
X-KDE-Keywords[pt]=bloquear,retomar,protector de ecrã,bloqueio do ecrã
X-KDE-Keywords[pt_BR]=bloquear,continuar,retornar,protetor de tela,bloqueio de tela
X-KDE-Keywords[ru]=блокировщик экрана,экранная заставка,заставка,возобновление работы
X-KDE-Keywords[sk]=zamknúť,obnoviť,šetrič obrazovky,zamknutie obrazovky
X-KDE-Keywords[sl]=zaklep,nadaljevanje,ohranjevalnik zaslona,zaklep zaslona
X-KDE-Keywords[sr]=lock,resume,screensaver,screenlock,закључавање,настављање,чувар екрана
X-KDE-Keywords[sr@ijekavian]=lock,resume,screensaver,screenlock,закључавање,настављање,чувар екрана
X-KDE-Keywords[sr@ijekavianlatin]=lock,resume,screensaver,screenlock,zaključavanje,nastavljanje,čuvar ekrana
X-KDE-Keywords[sr@latin]=lock,resume,screensaver,screenlock,zaključavanje,nastavljanje,čuvar ekrana
X-KDE-Keywords[sv]=lås,återuppta,skärmsläckare,skärmlåsning
X-KDE-Keywords[tr]=kilitle,devam et,ekran koruyucu,ekran kilidi
X-KDE-Keywords[uk]=lock,resume,screensaver,screenlock,блокування,замикання,відновлення,зберігач екрана,екран,блокування екрана
X-KDE-Keywords[x-test]=xxlockxx,xxresumexx,xx screensaverxx,xx screenlockxx
X-KDE-Keywords[zh_CN]=lock,resume, screensaver, screenlock,锁屏,恢复,屏幕保护,屏幕锁定
X-KDE-Keywords[zh_TW]=lock,resume, screensaver, screenlock
