[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=appearance
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=40
Icon=preferences-desktop-theme

Name=Appearance
Name[ar]=المظهر
Name[bg]=Изглед
Name[bs]=Izgled
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[es]=Aspecto
Name[et]=Välimus
Name[eu]=Itxura
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[gl]=Aparencia
Name[he]=מראה
Name[hu]=Megjelenés
Name[ia]=Apparentia
Name[id]=Penampilan
Name[it]=Aspetto
Name[ja]=外観
Name[ko]=모양
Name[lt]=Išvaizda
Name[nb]=Utseende
Name[nds]=Utsehn
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sr]=Изглед
Name[sr@ijekavian]=Изглед
Name[sr@ijekavianlatin]=Izgled
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[tg]=Намуди зоҳирӣ
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀
