[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=applicationstyle
X-KDE-System-Settings-Parent-Category=appearance
Icon=preferences-desktop-theme-applications
X-KDE-Weight=30

Name=Application Style
Name[ar]=نمط التّطبيقات
Name[bg]=Изглед на програмите
Name[bs]=Stil programa
Name[ca]=Estil de l'aplicació
Name[ca@valencia]=Estil de l'aplicació
Name[cs]=Styl aplikací
Name[da]=Programstil
Name[de]=Anwendungs-Stil
Name[el]=Στιλ εφαρμογών
Name[en_GB]=Application Style
Name[es]=Estilo de las aplicaciones
Name[et]=Rakenduste stiil
Name[eu]=Aplikazioen estiloa
Name[fi]=Sovellusten tyyli
Name[fr]=Apparence des applications
Name[gl]=Estilo das aplicacións
Name[he]=מראה יישומים
Name[hu]=Alkalmazások megjelenése
Name[id]=Gaya Aplikasi
Name[it]=Stile delle applicazioni
Name[ja]=アプリケーションスタイル
Name[ko]=프로그램 모양
Name[lt]=Programų stilius
Name[nb]=Programstil
Name[nds]=Programmstil
Name[nl]=Stijl van toepassing
Name[nn]=Program­stil
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਸਟਾਈਲ
Name[pl]=Wygląd programów
Name[pt]=Estilo das Aplicações
Name[pt_BR]=Estilo dos aplicativos
Name[ro]=Stil aplicații
Name[ru]=Оформление приложений
Name[sk]=Štýl aplikácií
Name[sl]=Slog programov
Name[sr]=Стил програма
Name[sr@ijekavian]=Стил програма
Name[sr@ijekavianlatin]=Stil programa
Name[sr@latin]=Stil programa
Name[sv]=Programstil
Name[tg]=Услуби барнома
Name[tr]=Uygulama Biçemi
Name[uk]=Стиль вікон програм
Name[x-test]=xxApplication Stylexx
Name[zh_CN]=应用程序风格
Name[zh_TW]=應用程式樣式
