[Desktop Entry]
Exec=kcmshell5 user_manager
Icon=preferences-system-users
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=user_manager
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=accountdetails

Name=User Manager
Name[ar]=إدارة المستخدمين
Name[ast]=Xestor d'usuarios
Name[bg]=Управление на потребители
Name[bs]=Menadžer korisnika
Name[ca]=Gestor d'usuaris
Name[ca@valencia]=Gestor d'usuaris
Name[cs]=Správce uživatelů
Name[da]=Brugerhåndtering
Name[de]=Benutzerverwaltung
Name[el]=Διαχειριστής χρηστών
Name[en_GB]=User Manager
Name[es]=Gestor de usuarios
Name[et]=Kasutajahaldus
Name[eu]=Erabiltzaile-kudeatzailea
Name[fi]=Käyttäjienhallinta
Name[fr]=Gestionnaire d'utilisateurs
Name[gl]=Xestor de usuarios
Name[he]=מנהל משתמשים
Name[hu]=Felhasználókezelő
Name[ia]=Gerente de usator
Name[id]=User Manager
Name[it]=Gestore utenti
Name[ja]=ユーザ マネージャ
Name[ko]=사용자 관리자
Name[lt]=Naudotojų tvarkytuvė
Name[mr]=वापरकर्ता व्यवस्थापक
Name[nb]=Brukerstyring
Name[nl]=Gebruikersbeheerder
Name[nn]=Brukar­handsaming
Name[pa]=ਵਰਤੋਂਕਾਰ ਮੈਨੇਜਰ
Name[pl]=Zarządzanie użytkownikami
Name[pt]=Gestor de Utilizadores
Name[pt_BR]=Gerenciador de Usuários
Name[ro]=Gestionar de utilizatori
Name[ru]=Управление пользователями
Name[sk]=Správca užívateľov
Name[sl]=Upravljalnik uporabnikov
Name[sr]=Менаџер корисника
Name[sr@ijekavian]=Менаџер корисника
Name[sr@ijekavianlatin]=Menadžer korisnika
Name[sr@latin]=Menadžer korisnika
Name[sv]=Användarhanterare
Name[tr]=Kullanıcı Yöneticisi
Name[ug]=ئىشلەتكۈچى باشقۇرۇش پروگراممىسى
Name[uk]=Керування користувачами
Name[x-test]=xxUser Managerxx
Name[zh_CN]=用户管理程序
Name[zh_TW]=使用者管理程式

Comment=Add, remove or edit system users
Comment[ar]=أضف مستخدمي نظام، أو أزلهم أو حرّرهم
Comment[ast]=Amiesta, desanicia o edita los usuarios del sistema
Comment[bg]=Добавяне, премахване или редакция на потребители в системата
Comment[bs]=Dodaj, ukloni ili izmijeni sistemske korisnike
Comment[ca]=Afegeix, elimina o edita els usuaris del sistema
Comment[ca@valencia]=Afig, elimina o edita els usuaris del sistema
Comment[cs]=Přidávejte, odebírejte a upravujte uživatele systému
Comment[da]=Tilføj, fjern eller redigér systembrugere
Comment[de]=Systembenutzer hinzufügen, entfernen oder bearbeiten
Comment[el]=Προσθήκη, αφαίρεση ή επεξεργασία των χρηστών του συστήματος
Comment[en_GB]=Add, remove or edit system users
Comment[es]=Añadir, eliminar o editar usuarios del sistema
Comment[et]=Süsteemi kasutajate lisamine, eemaldamine ja muutmine
Comment[eu]=Erantsi, kendu edo editatu sistemako erabiltzaileak
Comment[fi]=Järjestelmän käyttäjien lisääminen, poistaminen ja muokkaaminen
Comment[fr]=Ajoute, supprime ou modifie des utilisateurs système
Comment[gl]=Engadir, retirar e editar usuarios do sistema.
Comment[he]=הוסף, הסר וערוך משתמשי מערכת
Comment[hu]=A rendszerfelhasználók hozzáadása, eltávolítása vagy szerkesztése
Comment[ia]=Adde, remove o modifica usatores de systema
Comment[id]=Tambah, hapus atau edit pengguna sistem
Comment[it]=Aggiungi, rimuovi o modifica gli utenti di sistema
Comment[ja]=システムユーザを追加、削除、編集
Comment[ko]=시스템 사용자 추가, 편집, 삭제
Comment[lt]=Pridėti, šalinti ar taisyti sistemos naudotojus
Comment[mr]=प्रणाली वापरकर्ते जोडा, काढून टाका किंवा संयोजीत करा
Comment[nb]=Legg til, fjern elle rediger systembrukere
Comment[nl]=Systeemgebruikers toevoegen, verwijderen of bewerken
Comment[nn]=Legg til, fjern eller rediger systembrukarar
Comment[pa]=ਸਿਸਟਮ ਵਰਤੋਂਕਾਰ ਜੋੜੋ, ਹਟਾਓ ਜਾਂ ਸੋਧੋ
Comment[pl]=Dodawaj, usuwaj lub edytuj użytkowników
Comment[pt]=Adiciona, remove ou edita os utilizadores do sistema
Comment[pt_BR]=Adiciona, remove ou edita usuários do sistema
Comment[ro]=Adaugă, elimină sau modifică utilizatori de sistem
Comment[ru]=Добавление, удаление и изменение пользователей в системе
Comment[sk]=Pridať, odstrániť alebo upraviť systémových používateľov
Comment[sl]=Dodajte, odstranite ali uredite sistemske uporabnike
Comment[sr]=Додајте, уклањајте и уређујте кориснике система
Comment[sr@ijekavian]=Додајте, уклањајте и уређујте кориснике система
Comment[sr@ijekavianlatin]=Dodajte, uklanjajte i uređujte korisnike sistema
Comment[sr@latin]=Dodajte, uklanjajte i uređujte korisnike sistema
Comment[sv]=Lägg till, ta bort eller redigera systemanvändare
Comment[tr]=Sistem kullanıcıları ekle, kaldır veya düzenle
Comment[uk]=Додавання, вилучення або зміна записів користувачів системи
Comment[x-test]=xxAdd, remove or edit system usersxx
Comment[zh_CN]=添加，删除，修改系统用户
Comment[zh_TW]=新增、移除或編輯系統使用者

X-KDE-Keywords=users,system,administration
X-KDE-Keywords[ar]=مستخدم,مستخدمين,نظام,إدارة
X-KDE-Keywords[ast]=usuarios,sistema,alministración
X-KDE-Keywords[bg]=users,system,administration,потребители,система,администрация
X-KDE-Keywords[bs]=korisnici,sistem,administracija
X-KDE-Keywords[ca]=usuaris,sistema,administració
X-KDE-Keywords[ca@valencia]=usuaris,sistema,administració
X-KDE-Keywords[cs]=uživatelé,systém,správa
X-KDE-Keywords[da]=brugere,system,administration
X-KDE-Keywords[de]=Benutzer,System,Verwaltung
X-KDE-Keywords[el]=χρήστες,σύστημα,διαχείριση
X-KDE-Keywords[en_GB]=users,system,administration
X-KDE-Keywords[es]=usuarios,sistema,administración
X-KDE-Keywords[et]=kasutajad,süsteem,haldamine,haldus
X-KDE-Keywords[eu]=erabiltzaileak,sistema,administrazioa
X-KDE-Keywords[fi]=käyttäjät,järjestelmä,ylläpito,hallinnointi
X-KDE-Keywords[fr]=utilisateurs, système, administration
X-KDE-Keywords[gl]=users,system,administration,usuarios,sistema,administración,xestión
X-KDE-Keywords[he]=users,system,administration,משתמש,משתמשים,מנהל,מערכת
X-KDE-Keywords[hu]=felhasználók,rendszer,adminisztráció
X-KDE-Keywords[ia]=usatores,systema,administration
X-KDE-Keywords[id]=pengguna,sistem,administrasi
X-KDE-Keywords[it]=utenti,sistema,amministrazione
X-KDE-Keywords[ja]=ユーザ,システム,管理者
X-KDE-Keywords[ko]=users,system,administration,사용자,시스템,관리
X-KDE-Keywords[lt]=naudotojai,sistema,administravimas
X-KDE-Keywords[mr]=वापरकर्ते, प्रणाली, व्यवस्थापन
X-KDE-Keywords[nb]=brukere,system,administrasjon
X-KDE-Keywords[nl]=gebruikers,systeem,beheer
X-KDE-Keywords[nn]=brukarar,system,administrering
X-KDE-Keywords[pa]=ਵਰਤੋਂਕਾਰ,ਸਿਸਟਮ,ਪਰਸ਼ਾਸ਼ਨ
X-KDE-Keywords[pl]=użytkownicy,system,administracja
X-KDE-Keywords[pt]=utilizadores,sistema,administração
X-KDE-Keywords[pt_BR]=usuários,sistema,administração
X-KDE-Keywords[ro]=utilizatori,sistem,administrare
X-KDE-Keywords[ru]=users,system,administration,пользователи,система,администрирование
X-KDE-Keywords[sk]=používatelia,systém,správa
X-KDE-Keywords[sl]=uporabniki,sistem,skrbništvo
X-KDE-Keywords[sr]=users,system,administration,корисници,систем,администрација
X-KDE-Keywords[sr@ijekavian]=users,system,administration,корисници,систем,администрација
X-KDE-Keywords[sr@ijekavianlatin]=users,system,administration,korisnici,sistem,administracija
X-KDE-Keywords[sr@latin]=users,system,administration,korisnici,sistem,administracija
X-KDE-Keywords[sv]=användare,system,administration
X-KDE-Keywords[tr]=kullanıcılar,sistem,yönetim
X-KDE-Keywords[uk]=users,system,administration,користувачі,система,адміністрування
X-KDE-Keywords[x-test]=xxusersxx,xxsystemxx,xxadministrationxx
X-KDE-Keywords[zh_CN]=users,system,administration,用户,系统,管理
X-KDE-Keywords[zh_TW]=users,system,administration

Categories=Qt;KDE;X-KDE-settings-user_manager;
