[Unit]
Description=Mount unit for gnome-logs, revision 61
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-logs_61.snap
Where=/snap/gnome-logs/61
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
