[Unit]
Description=Mount unit for gnome-3-28-1804, revision 67
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-3-28-1804_67.snap
Where=/snap/gnome-3-28-1804/67
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
