[Unit]
Description=Mount unit for core18, revision 1066
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core18_1066.snap
Where=/snap/core18/1066
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
