[Unit]
Description=Mount unit for gnome-system-monitor, revision 100
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-system-monitor_100.snap
Where=/snap/gnome-system-monitor/100
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
