[Unit]
Description=Mount unit for gnome-calculator, revision 406
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-calculator_406.snap
Where=/snap/gnome-calculator/406
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
