[KCM Locale]
Name=Serbian Ijekavian Latin
Name[ar]=الصّربيّة الجيكافيانيّة اللاتينيّة
Name[ast]=Serbiu ijekavian llatín
Name[bg]=Сръбски йекавски (латиница)
Name[bs]=srpski ijekavski (latinica)
Name[ca]=Serbi ijekavski llatí
Name[ca@valencia]=Serbi ijekavski llatí
Name[cs]=Srbský (Ijekavská latinka)
Name[da]=Serbisk Ijekaviansk latin
Name[de]=Štokavisch (lat. Alphabet)
Name[el]=Σερβικά Ijekavian (Λατινικά)
Name[en_GB]=Serbian Ijekavian Latin
Name[eo]=Latina ijekava serba
Name[es]=Serbio latino ijekaviano
Name[et]=Serbia ijekavi (ladina)
Name[eu]=Serbiera ijekaviera latinoa
Name[fa]=صربی Ijekavian لاتین
Name[fi]=Serbia Ijekavian latinalainen
Name[fr]=Serbe Ijékavien Latin
Name[ga]=Seirbis Ijekavach (aibítir Laidineach)
Name[gd]=Sèirbis Ijekavianach (Laideann)
Name[gl]=Serbio ijekavián latino
Name[gu]=સર્બિયન ઇજેકાવિઅન લેટિન
Name[hi]=सर्बियाई जेकावियन लातिनी
Name[hr]=Srpska ijekavica, latinica
Name[hu]=Szerb (ijekavica, latin betűs)
Name[ia]=Serbo Latino Ljekavian
Name[id]=Latin Ijekavian Serbia
Name[is]=Serbneska Ijekavian latneskt
Name[it]=Serbo ijekavo latino
Name[ja]=セルビア語イェ方言 (ラテン文字)
Name[kk]=Латындагы лиекав сербше
Name[km]=ស៊ែប៊ីយេកាវៀន​ឡាតាំង
Name[ko]=세르비아어 (이예카비아, 라틴)
Name[ku]=Sirbiya Ijekavian ya Latînî
Name[lt]=Serbų Iekavų lotynų
Name[mk]=Српски јекавски латиничен
Name[mr]=सर्बीयन इजेकाव्हिआन लॅटिन
Name[nb]=Serbisk ljekavisk latinsk
Name[nds]=Štokavisch (latiensch Schrift)
Name[nl]=Servisch Ijekavian latijn
Name[nn]=Serbisk (ijekavisk – romanisert)
Name[pa]=ਸਰਬੀਆਈ ਲਜੀਕਾਵਿਅਨ ਲੈਟਿਨ
Name[pl]=Serbski ijekawski (skrypt łaciński)
Name[pt]=Sérvio Latino Ijekavian
Name[pt_BR]=Sérvio latino ijekavian
Name[ro]=Sârbă jekaviană latină
Name[ru]=Сербский (иекавский, латиница)
Name[se]=Serbialaš ljekávagiella (Latiinnalaš čállinvuohki)
Name[sk]=Srbčina (ijekavština - latinka)
Name[sl]=Srbščina (ijekavščina, latinica)
Name[sq]=Serbisht me J Latine
Name[sr]=српски ијекавски (латиница)
Name[sr@ijekavian]=српски ијекавски (латиница)
Name[sr@ijekavianlatin]=srpski ijekavski (latinica)
Name[sr@latin]=srpski ijekavski (latinica)
Name[sv]=Latinsk ijekavisk serbiska
Name[ta]=செர்பியன் ஜெகாவியன் லத்தீன்
Name[tg]=Сербии Лотинӣ
Name[th]=ภาษาละตินเซอร์เบียอิเจ็คคาเวีย
Name[tr]=Ijekavian Latin Sırpça
Name[tt]=Сербия (Штокав д., латин)
Name[ug]=سېربچە ئىجېكاۋىيان لاتىن
Name[uk]=Сербська (ієкавиця, латиниця)
Name[vi]=Serbian Ijekavian Latin
Name[wa]=Siebe Ijekavyin èn alfabet latén
Name[x-test]=xxSerbian Ijekavian Latinxx
Name[zh_CN]=塞尔维亚 Ijekavian 口音拉丁语
Name[zh_TW]=賽爾維亞耶卡拉丁語
