[KCM Locale]
Name=Dominican Republic
Name[af]=Dominikaanse Republiek
Name[ar]=جمهوريّة الدّومينيكان
Name[as]=ডোমিনিকান প্ৰজান্ত্ৰ
Name[ast]=República Dominicana
Name[be]=Дамініканская рэспубліка
Name[be@latin]=Daminikanskaja respublika
Name[bg]=Доминиканска република
Name[bn]=ডমিনিকান রিপাবলিক
Name[bn_IN]=ডোমিনিকান প্রজান্ত্র
Name[bs]=Dominikanska Republika
Name[ca]=República Dominicana
Name[ca@valencia]=República Dominicana
Name[cs]=Dominikánská republika
Name[csb]=Republika Dominikanë
Name[cy]=Gweriniaeth Dominica
Name[da]=Dominikanske Republik
Name[de]=Dominikanische Republik
Name[el]=Δομινικανή Δημοκρατία
Name[en_GB]=Dominican Republic
Name[eo]=Dominika Respubliko
Name[es]=República Dominicana
Name[et]=Dominikaani Vabariik
Name[eu]=Dominikar Errepublika
Name[fa]=جمهوری دومینیکن
Name[fi]=Dominikaaninen tasavalta
Name[fr]=République dominicaine
Name[fy]=Dominicaanse Republyk
Name[ga]=An Phoblacht Dhoiminiceach
Name[gd]=A' Phoblachd Dhoiminiceach
Name[gl]=República Dominicana
Name[gu]=ડોમિનિકન રીપબ્લિક
Name[he]=הרפובליקה הדומיניקנית
Name[hi]=डोमिनिकन रिपब्लिक
Name[hne]=डोमिनिकन रिपब्लिक
Name[hr]=Dominikanska Republika
Name[hsb]=Dominikanska republika
Name[hu]=Dominikai Köztársaság
Name[ia]=Republica Dominican
Name[id]=Republik Dominika
Name[is]=Dóminíska lýðveldið
Name[it]=Repubblica Dominicana
Name[ka]=დომინიკის რესპუბლიკა
Name[kk]=Доминикан Республикасы
Name[km]=សាធារណរដ្ឋ​ដូមីនីកែន
Name[kn]=ಡೊಮಿನಿಕನ್ ರಿಪಬ್ಲಿಕ್
Name[ko]=도미니카 공화국
Name[ku]=Komara Domînîk
Name[lt]=Dominikos Respublika
Name[lv]=Dominikas republika
Name[mai]=डोमिनिकन गणतंत्र
Name[mk]=Доминиканска Република
Name[ml]=ഡൊമിനിയ്ക്കന്‍ റിപബ്ളിക്ക്
Name[mr]=डोमिनिकन गणराज्य
Name[nb]=Den dominikanske republikk
Name[nds]=Dominikaansche Republiek
Name[ne]=डोमिनिकन गणराज्य
Name[nl]=Dominicaanse Republiek
Name[nn]=Den dominikanske republikken
Name[oc]=Republica Dominicana
Name[or]=ଡ଼ମିନିକା ଗଣତନ୍ତ୍ର
Name[pa]=ਡੋਮਾਨੀਕਾ ਗਣਰਾਜ
Name[pl]=Republika Dominikany
Name[pt]=República Dominicana
Name[pt_BR]=República Dominicana
Name[ro]=Republica Dominicană
Name[ru]=Доминиканская республика
Name[se]=Dominihkalaš republihkka
Name[si]=ඩොමිනික් රාජ්‍යය
Name[sk]=Dominikánska republika
Name[sl]=Dominikanska republika
Name[sr]=Доминиканска Република
Name[sr@ijekavian]=Доминиканска Република
Name[sr@ijekavianlatin]=Dominikanska Republika
Name[sr@latin]=Dominikanska Republika
Name[sv]=Dominikanska republiken
Name[ta]=டொமினிக்கன் குடியரசு
Name[te]=డామినికన్ రిపబ్లిక్
Name[tg]=Ҷумҳурии Доминика
Name[th]=สาธารณรัฐโดมินิกัน
Name[tr]=Dominik Cumhuriyeti
Name[ug]=دومىنىكا جۇمھۇرىيىتى
Name[uk]=Домініканська республіка
Name[uz]=Dominikana Respublikasi
Name[uz@cyrillic]=Доминикана Республикаси
Name[vi]=Cộng hoà Đô-mi-ni-ca
Name[wa]=Republike Dominikinne
Name[x-test]=xxDominican Republicxx
Name[zh_CN]=多米尼加共和国
Name[zh_TW]=多明尼加共和國
Region=caribbean
Languages=es
DecimalSymbol=.
ThousandsSeparator=
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=DOP
CurrencyCode=DOP
