[KCM Locale]
Name=Cyprus
Name[af]=Siprus
Name[ar]=قبرص
Name[as]=ছাইপ্ৰাছ
Name[ast]=Xipre
Name[be]=Кіпр
Name[be@latin]=Kipr
Name[bg]=Кипър
Name[bn]=সাইপ্রাস
Name[bn_IN]=সাইপ্রাস
Name[br]=Chipr
Name[bs]=Kipar
Name[ca]=Xipre
Name[ca@valencia]=Xipre
Name[cs]=Kypr
Name[csb]=Cyper
Name[cy]=Cyprus
Name[da]=Cypern
Name[de]=Zypern
Name[el]=Κύπρος
Name[en_GB]=Cyprus
Name[eo]=Cipro
Name[es]=Chipre
Name[et]=Küpros
Name[eu]=Zipre
Name[fa]=قبرس
Name[fi]=Kypros
Name[fr]=Chypre
Name[fy]=Cyprus
Name[ga]=An Chipir
Name[gd]=Cìopras
Name[gl]=Chipre
Name[gu]=સાયપ્રસ
Name[he]=קפריסין
Name[hi]=साइप्रस
Name[hne]=साइप्रस
Name[hr]=Cipar
Name[hsb]=Cypriska
Name[hu]=Ciprus
Name[ia]=Cypro
Name[id]=Siprus
Name[is]=Kýpur
Name[it]=Cipro
Name[ka]=კვიპროსი
Name[kk]=Кипр
Name[km]=ស៊ីពរ៍
Name[kn]=ಸೈಪ್ರಸ್
Name[ko]=키프로스
Name[ku]=Kibris
Name[lt]=Kipro
Name[lv]=Kipra
Name[mai]=साइप्रस
Name[mk]=Кипар
Name[ml]=സൈപ്രസ്
Name[mr]=साइप्रस
Name[ms]=Cyprus
Name[nb]=Kypros
Name[nds]=Zypern
Name[ne]=साइप्रस
Name[nl]=Cyprus
Name[nn]=Kypros
Name[oc]=Chipre
Name[or]=ସାଇପ୍ରାସ
Name[pa]=ਕਿਉਪਰਸ
Name[pl]=Cypr
Name[pt]=Chipre
Name[pt_BR]=Chipre
Name[ro]=Cipru
Name[ru]=Кипр
Name[se]=Kypros
Name[si]=සයිප්‍රසය
Name[sk]=Cyprus
Name[sl]=Ciper
Name[sr]=Кипар
Name[sr@ijekavian]=Кипар
Name[sr@ijekavianlatin]=Kipar
Name[sr@latin]=Kipar
Name[sv]=Cypern
Name[ta]=சிப்ரஸ்
Name[te]=సైప్రస్
Name[tg]=Кипр
Name[th]=ไซปรัส
Name[tr]=Kıbrıs
Name[ug]=سىپرۇس
Name[uk]=Кіпр
Name[uz]=Kipr
Name[uz@cyrillic]=Кипр
Name[vi]=Síp
Name[wa]=Chîpe
Name[x-test]=xxCyprusxx
Name[zh_CN]=塞浦路斯
Name[zh_TW]=賽普勒斯
Region=southeurope
Languages=el,tr,en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
