[KCM Locale]
Name=Dominica
Name[af]=Dominisië
Name[ar]=الدومنيكا
Name[as]=ডোমিনিকা
Name[ast]=Dominica
Name[be]=Дамініка
Name[be@latin]=Daminika
Name[bg]=Доминика
Name[bn]=ডমিনিকা
Name[bn_IN]=ডোমিনিকা
Name[br]=Dominik
Name[bs]=Dominika
Name[ca]=Dominica
Name[ca@valencia]=Dominica
Name[cs]=Dominika
Name[csb]=Dominika
Name[cy]=Dominica
Name[da]=Dominica
Name[de]=Dominica
Name[el]=Ντομίνικα
Name[en_GB]=Dominica
Name[eo]=Dominiko
Name[es]=Dominica
Name[et]=Dominica
Name[eu]=Dominika
Name[fa]=دومینیکا
Name[fi]=Dominica
Name[fr]=Dominique
Name[fy]=Dominica
Name[ga]=Doiminice
Name[gd]=Doiminicea
Name[gl]=Dominica
Name[gu]=ડોમિનિકા
Name[he]=דומיניקה
Name[hi]=डोमिनिका
Name[hne]=डोमिनिका
Name[hr]=Dominika
Name[hsb]=Dominika
Name[hu]=Dominika
Name[ia]=Dominica
Name[id]=Dominika
Name[is]=Dóminíka
Name[it]=Dominica
Name[ka]=დომინიკა
Name[kk]=Доминика
Name[km]=ដូមីនីកា
Name[kn]=ಡೊಮಿನಿಕಾ
Name[ko]=도미니카 연방
Name[ku]=Domînîka
Name[lt]=Dominika
Name[lv]=Dominika
Name[mai]=डोमिनिका
Name[mk]=Доминика
Name[ml]=‌ഡൊമിനിയ്ക്കാ
Name[mr]=डोमीनीका
Name[ms]=Dominica
Name[nb]=Dominica
Name[nds]=Dominika
Name[ne]=डोमिनिका
Name[nl]=Dominica
Name[nn]=Dominica
Name[oc]=Romania
Name[or]=ଡ଼ମିନିକା
Name[pa]=ਡੋਮਾਨੀਕਾ
Name[pl]=Dominika
Name[pt]=Dominica
Name[pt_BR]=Dominica
Name[ro]=Dominica
Name[ru]=Доминика
Name[se]=Dominica
Name[si]=ඩොමිනිකාව
Name[sk]=Dominika
Name[sl]=Dominika
Name[sr]=Доминика
Name[sr@ijekavian]=Доминика
Name[sr@ijekavianlatin]=Dominika
Name[sr@latin]=Dominika
Name[sv]=Dominica
Name[ta]=டொமினிகா
Name[te]=డొమినికా
Name[tg]=Доминика
Name[th]=โดมินิกา
Name[tr]=Dominik
Name[ug]=دومىنىكا
Name[uk]=Домініка
Name[uz]=Dominika
Name[uz@cyrillic]=Доминика
Name[vi]=Đô-mi-ni-ca
Name[wa]=Dominike
Name[x-test]=xxDominicaxx
Name[zh_CN]=多米尼加
Name[zh_TW]=多明尼加
Region=caribbean
Languages=en_GB,fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XCD
CurrencyCode=XCD
