[KCM Locale]
Name=Guam
Name[af]=Guam
Name[ar]=جوام
Name[as]=গুয়াম
Name[ast]=Guam
Name[be]=Гуам
Name[be@latin]=Guam
Name[bg]=Гуам
Name[bn]=গুয়াম
Name[bn_IN]=গুয়াম
Name[br]=Gwam
Name[bs]=Guam
Name[ca]=Guam
Name[ca@valencia]=Guam
Name[cs]=Guam
Name[csb]=Guam
Name[cy]=Gw?m
Name[da]=Guam
Name[de]=Guam
Name[el]=Γκουάμ
Name[en_GB]=Guam
Name[eo]=Gvamo
Name[es]=Guam
Name[et]=Guam
Name[eu]=Guama
Name[fa]=گوام
Name[fi]=Guam
Name[fr]=Guam
Name[fy]=Guam
Name[ga]=Guam
Name[gd]=Guam
Name[gl]=Guam
Name[gu]=ગુઆમ
Name[he]=גואם
Name[hi]=गुवाम
Name[hne]=गुवाम
Name[hr]=Guam
Name[hsb]=Guam
Name[hu]=Guam
Name[ia]=Guam
Name[id]=Guam
Name[is]=Gvam
Name[it]=Guam
Name[ka]=გუამი
Name[kk]=Гуам
Name[km]=ហ្គាំម
Name[kn]=ಗ್ವಾಮ್
Name[ko]=괌
Name[ku]=Guam
Name[lt]=Guam
Name[lv]=Guama
Name[mai]=गुआम
Name[mk]=Гвам
Name[ml]=ഗുവാം
Name[mr]=ग्युआम
Name[ms]=Guam
Name[nb]=Guam
Name[nds]=Guam
Name[ne]=गुयम
Name[nl]=Guam
Name[nn]=Guam
Name[oc]=Guam
Name[or]=ଗ୍ୱାମା
Name[pa]=ਗੁਆਮ
Name[pl]=Guam
Name[pt]=Guam
Name[pt_BR]=Guam
Name[ro]=Guam
Name[ru]=Гуам
Name[se]=Guam
Name[si]=Guam
Name[sk]=Guam
Name[sl]=Guam
Name[sr]=Гуам
Name[sr@ijekavian]=Гуам
Name[sr@ijekavianlatin]=Guam
Name[sr@latin]=Guam
Name[sv]=Guam
Name[ta]=காம்
Name[te]=గువామ్
Name[tg]=Гуам
Name[th]=กวม
Name[tr]=Guam
Name[ug]=گۇئام ئارىلى
Name[uk]=Гуам
Name[uz]=Guam
Name[uz@cyrillic]=Гуам
Name[vi]=Guam
Name[wa]=Gwam
Name[x-test]=xxGuamxx
Name[zh_CN]=关岛
Name[zh_TW]=關島
Region=oceania
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
