#!/bin/sh
#
# Config script for pnm2ppa
#
# Only ask the questions here.  Make the changes to the filesystem in the
# postinst script.
#
set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Let debconf manage the file?
db_input medium pnm2ppa/use_debconf || true
db_go

# Get the value
db_get pnm2ppa/use_debconf
if [ "$RET" = "true" ] ; then
	# Ask which printer
	db_input medium pnm2ppa/printer_model || true
	db_go

	# Create magicfilter for printer model?
	db_input low pnm2ppa/create_magicfilter || true
	db_go
fi

