#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if [ -e /etc/default/saned ]; then
    . /etc/default/saned

    if [ "$RUN" != "yes" ]; then
	db_set sane-utils/saned_run false
    else
	db_set sane-utils/saned_run true
    fi
fi

db_input medium sane-utils/saned_run || true
db_input medium sane-utils/saned_scanner_group || true
db_go || true
