[KCM Locale]
Name=Nigeria
Name[af]=Nigerië
Name[ar]=نيجيريا
Name[as]=নাইজেৰিয়া
Name[ast]=Nixeria
Name[be]=Нігерыя
Name[be@latin]=Nihieryja
Name[bg]=Нигерия
Name[bn]=নাইজেরিয়া
Name[bn_IN]=নাইজেরিয়া
Name[bs]=Nigerija
Name[ca]=Nigèria
Name[ca@valencia]=Nigèria
Name[cs]=Nigérie
Name[csb]=Nigerijô
Name[cy]=Nigeria
Name[da]=Nigeria
Name[de]=Nigeria
Name[el]=Νιγηρία
Name[en_GB]=Nigeria
Name[eo]=Niĝerio
Name[es]=Nigeria
Name[et]=Nigeeria
Name[eu]=Nigeria
Name[fa]=نیجریه
Name[fi]=Nigeria
Name[fr]=Nigeria
Name[fy]=Nigeria
Name[ga]=An Nigéir
Name[gd]=Nigèiria
Name[gl]=Nixeria
Name[gu]=નાઇજેરિઆ
Name[he]=ניגריה
Name[hi]=नाइजीरिया
Name[hne]=नाइजीरिया
Name[hr]=Nigerija
Name[hsb]=Nigerija
Name[hu]=Nigéria
Name[ia]=Nigeria
Name[id]=Nigeria
Name[is]=Nígería
Name[it]=Nigeria
Name[ka]=ნიგერია
Name[kk]=Нигерия
Name[km]=នីហ្សេរីយ៉ា
Name[kn]=ನೈಜೀರಿಯಾ
Name[ko]=나이지리아
Name[ku]=Nîjerya
Name[lt]=Nigerija
Name[lv]=Nigērija
Name[mai]=नाइजीरिया
Name[mk]=Нигерија
Name[ml]=നൈജീരിയ
Name[mr]=नाईजेरीया
Name[ms]=Nigeria
Name[nb]=Nigeria
Name[nds]=Nigeria
Name[ne]=नाइजेरिया
Name[nl]=Nigeria
Name[nn]=Nigeria
Name[oc]=Nigèria
Name[or]=ନାଇଜେରିଆ
Name[pa]=ਨੀਜੀਰਿਆ
Name[pl]=Nigeria
Name[pt]=Nigéria
Name[pt_BR]=Nigéria
Name[ro]=Nigeria
Name[ru]=Нигерия
Name[se]=Nigeria
Name[si]=නයිජීරියාව
Name[sk]=Nigéria
Name[sl]=Nigerija
Name[sr]=Нигерија
Name[sr@ijekavian]=Нигерија
Name[sr@ijekavianlatin]=Nigerija
Name[sr@latin]=Nigerija
Name[sv]=Nigeria
Name[ta]=நிஜேரியா
Name[te]=నైజీరియా
Name[tg]=Нигерия
Name[th]=ไนจีเรีย
Name[tr]=Nijerya
Name[ug]=نىگېرىيە
Name[uk]=Нігерія
Name[uz]=Nigeriya
Name[uz@cyrillic]=Нигерия
Name[vi]=Nigeria
Name[wa]=Nidjeria
Name[x-test]=xxNigeriaxx
Name[zh_CN]=尼日利亚
Name[zh_TW]=奈及利亞
Region=westafrica
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NGN
CurrencyCode=NGN
