
.outgoingItem .avatar {
	float:right;
}

.outgoingItem .myBubble {
	position:relative;
}

.outgoingItem .indicator {
	
	position:absolute;
	right:-11px;
	top:10px;
	left:auto;
}

.myBubble {
	margin-right:40px;
}

