[KCM Locale]
Name=Austria
Name[af]=Oostenryk
Name[ar]=النمسا
Name[as]=অস্ট্ৰিয়া
Name[ast]=Austria
Name[be]=Аўстрыя
Name[be@latin]=Aŭstryja
Name[bg]=Австрия
Name[bn]=অস্ট্রিয়া
Name[bn_IN]=অস্ট্রিয়া
Name[bs]=Austrija
Name[ca]=Àustria
Name[ca@valencia]=Àustria
Name[cs]=Rakousko
Name[csb]=Aùstrëjackô
Name[cy]=Awstria
Name[da]=Østrig
Name[de]=Österreich
Name[el]=Αυστρία
Name[en_GB]=Austria
Name[eo]=Aŭstrio
Name[es]=Austria
Name[et]=Austria
Name[eu]=Austria
Name[fa]=اتریش
Name[fi]=Itävalta
Name[fr]=Autriche
Name[fy]=Eastenryk
Name[ga]=An Ostair
Name[gd]=An Ostair
Name[gl]=Austria
Name[gu]=ઓસ્ટ્રિઆ
Name[he]=אוסטריה
Name[hi]=आस्ट्रिया
Name[hne]=आस्ट्रिया
Name[hr]=Austrija
Name[hsb]=Awstriska
Name[hu]=Ausztria
Name[ia]=Austria
Name[id]=Austria
Name[is]=Austurríki
Name[it]=Austria
Name[ka]=ავსტრია
Name[kk]=Австрия
Name[km]=អូទ្រីស
Name[kn]=ಆಸ್ಟ್ರಿಯಾ
Name[ko]=오스트리아
Name[ku]=Awusturya
Name[lt]=Austrija
Name[lv]=Austrija
Name[mai]=आस्ट्रिया
Name[mk]=Австрија
Name[ml]=ഓസ്ട്രിയാ
Name[mr]=ऑस्ट्रिया
Name[ms]=Austria
Name[nb]=Østerrike
Name[nds]=Öösterriek
Name[ne]=अस्ट्रिया
Name[nl]=Oostenrijk
Name[nn]=Austerrike
Name[oc]=Austria
Name[or]=ଓଷ୍ଟ୍ରିଆ
Name[pa]=ਆਸਟਰੀਆ
Name[pl]=Austria
Name[pt]=Áustria
Name[pt_BR]=Áustria
Name[ro]=Austria
Name[ru]=Австрия
Name[se]=Nuortariika
Name[si]=ඔස්ට්‍රියාව
Name[sk]=Rakúsko
Name[sl]=Avstrija
Name[sr]=Аустрија
Name[sr@ijekavian]=Аустрија
Name[sr@ijekavianlatin]=Austrija
Name[sr@latin]=Austrija
Name[sv]=Österrike
Name[ta]=ஆஸ்த்திரியா
Name[te]=ఆస్ట్రియా
Name[tg]=Австрия
Name[th]=ออสเตรีย
Name[tr]=Avusturya
Name[ug]=ئاۋسترىيە
Name[uk]=Австрія
Name[uz]=Avstriya
Name[uz@cyrillic]=Австрия
Name[vi]=Áo
Name[wa]=Otriche
Name[x-test]=xxAustriaxx
Name[zh_CN]=匈牙利
Name[zh_TW]=奧地利
Region=centraleurope
Languages=de
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[de]=%A, %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
#WeekStartDay=
PageSize=0
MeasureSystem=0
AddressFormat=%0(%n\n)%0(%cm\n)%0(Postfach %p\n)%0(%s\n)%0(%z)%w%l
BusinessAddressFormat=%0(%cm\n)%0(z.Hd. %n\n)%0(Postfach %p\n)%0(%s\n)%0(%z)%w%l
AddressCountryPosition=below
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
