body {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Arial, sans-serif;
}

#allTabs {
-webkit-transition: opacity 0.5s;
}

.hidden
{
    display: none;
}

.tabIcon
{
    height: 20px;
    /*margin-top: 4px;*/
}

button[disabled]
{
    opacity: 0.4;
}

.tabTextStyle
{
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-left: 5px;
    margin-top: 4px;
}

button,
input {
  outline: none;
}

#controls {
  padding: 3px;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
}

#controls button,
#controls input {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: solid 1px transparent;
  background: transparent;
}

button:hover,
input[type="submit"]:hover {
    /*border-color: rgba(255, 255, 255, 0.19);
    background-color: rgba(0, 0, 0, 0.1);*/
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

button:active,
input[type="submit"]:active {
  border-color: rgba(255, 255, 255,0.2);
  background: -webkit-linear-gradient(bottom, #e2e2e2 0%, #bbbbbb 99%);
}

/* These glyphs are on the small side, make them look more natural when
compared to the back/forward buttons */
#controls #home,
#controls #terminate {
  font-size: 24px;
}

#controls #reload {
  font-size: 20px;
}

#controls #zoom,
#controls #find {
  font-size: 18px;
}

#location {
  border: solid 1px #ccc;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}

#controls {
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#controls #location-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#controls #center-column {
  -webkit-flex: 1;
}

#zoom-box,
#find-box {
    /*background-color: rgba(0, 0, 0, 0.76);
    border: solid 1px #ccc;
    border-top: solid 1px #eee;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 2px;
    position: fixed;
    top: 76px;*/
    height: 30px;

  /*display: none;*/
}

#zoom-box #zoom-form,
#find-box #find-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: row;
}

#zoom-box input,
#zoom-box button,
#find-box button {
  border-radius: 2px;
}

#zoom-box #zoom-text,
#find-box #find-text {
    border: none;
    margin-right: 0px;
    padding: 2px;
    -webkit-box-sizing: border-box;
    /*-webkit-flex: 1;*/
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

#zoom-text {
    width: 80px;
    margin: 5px;
    text-align: center;
    border-radius: 10px !important;
}

#zoom-box {
  left: 5px;
  width: 125px;
  z-index: 1;
 margin-left: 50px;
}

#zoom-box input[type="submit"] {
  font-size: 14px;
  margin: 2px 0px;
  padding: 0 2px 3px 2px;
  width: 22px;
}

#zoom-box button {
    font-size: 20px;
    /* margin: 2px 0px; */
    padding: 0;
    margin: 0;
    /* padding: 0px 1px 0px 0px; */
    width: 20px;
}

#rightClickText {
    font-size: 20px;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* max-width: 400px; */
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.4em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

#find-box {
  right: 5px;
  width: 280px;
  z-index: 2;
}

#find-box #find-text {
    border-right-style: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    /* color: white; */
    width: 130px;
    /*background-color: rgba(0, 0, 0, 0);*/
}

#find-box #find-results {
        color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.26);
    /* text-shadow: 0 0 20px rgba(0, 0, 0, 0.81); */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: none 2px rgba(255, 255, 255, 0.2);
    border-left-style: solid;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0;
    padding: 3px 4px 2px 5px;
    text-align: center;
}

#find-box #match-case {
  margin: 2px 0px;
  font-size: 10px;
  width: 28px;
}

#find-box #find-backward,
#find-box #find-forward {
  font-size: 14px;
  width: 24px;
}

#sad-webview,
webview {
  position: absolute;
    width:100%; height:90%;
  top: 0;
  left: 0;
}

/* The reload button turns into a spinning trobber */
.loading #reload {
  -webkit-animation: spinner-animation .5s infinite linear;
  -webkit-transform-origin: 50% 55.5%;
}

@-webkit-keyframes spinner-animation {
  0% { -webkit-transform: rotate(0deg); }
  100% {-webkit-transform: rotate(360deg); }
}

/* Due to http://crbug.com/156219 we can't use display: none */
#sad-webview,
.exited webview {
  visibility: hidden;
  visibility: hidden;
}

.exited #sad-webview {
  visibility: visible;
  background: #343f51;
  text-align: center;
  color: #fff;
}

#sad-webview h2 {
  font-size: 14px;
}

#sad-webview p {
  font-size: 11px;
}

#sad-webview-icon {
  font-size: 96px;
  margin-bottom: 10px;
}

/* Variant of the crashed page when the process is intentionally killed (in that
case we use a different background color and label). */
.exited #sad-webview #killed-label {
  display: none;
}

.killed #sad-webview {
  background: #393058;
}

.killed #sad-webview #killed-label {
  display: block;
}

.killed #sad-webview #crashed-label {
  display: none;
}
