[KCM Locale]
Name=Iceland
Name[ar]=آيسلندا
Name[ast]=Islandia
Name[bs]=Island
Name[ca]=Islàndia
Name[ca@valencia]=Islàndia
Name[cs]=Island
Name[da]=Island
Name[de]=Island
Name[en_GB]=Iceland
Name[es]=Islandia
Name[et]=Island
Name[eu]=Islandia
Name[fa]=ایسلند
Name[fi]=Islanti
Name[fr]=Islande
Name[gd]=Innis Tìle
Name[gl]=Islandia
Name[hr]=Island
Name[hu]=Izland
Name[ia]=Islanda
Name[id]=Islandia
Name[is]=Ísland
Name[it]=Islanda
Name[ka]=ისლანდია
Name[ko]=아이슬란드
Name[lt]=Islandija
Name[lv]=Islandie
Name[mr]=आइसलॅंड
Name[nb]=Island
Name[nds]=Island
Name[nl]=IJsland
Name[nn]=Island
Name[pa]=ਆਈਸਲੈਂਡ
Name[pl]=Islandia
Name[pt]=Islândia
Name[pt_BR]=Islândia
Name[ru]=Исландия
Name[se]=Islánda
Name[sk]=Island
Name[sl]=Islandija
Name[sr]=Исланд
Name[sr@ijekavian]=Исланд
Name[sr@ijekavianlatin]=Island
Name[sr@latin]=Island
Name[sv]=Island
Name[tg]=Исландия
Name[tr]=Izlanda
Name[uk]=Ісландія
Name[x-test]=xxIcelandxx
Name[zh_CN]=冰岛
Name[zh_TW]=冰島
Region=northeurope
Languages=is
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[is]=%A %e. %B %Y
DateFormatShort=%d.%m.%y
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ISK
CurrencyCode=ISK
