[KCM Locale]
Name=Philippines
Name[af]=Fillipyne
Name[ar]=الفلبّين
Name[as]=ফিলিপাইনছ
Name[ast]=Filipines
Name[be]=Філіпіны
Name[be@latin]=Filipiny
Name[bg]=Филипини
Name[bn]=ফিলিপিনস
Name[bn_IN]=ফিলিপাইনস
Name[br]=Filipin
Name[bs]=Filipini
Name[ca]=Filipines
Name[ca@valencia]=Filipines
Name[cs]=Filipíny
Name[csb]=Filipinë
Name[cy]=Ynysoedd Y Philipinau
Name[da]=Filippinerne
Name[de]=Philippinen
Name[el]=Φιλιππίνες
Name[en_GB]=Philippines
Name[eo]=Filipinoj
Name[es]=Filipinas
Name[et]=Filipiinid
Name[eu]=Filipinak
Name[fa]=فیلیپین
Name[fi]=Filippiinit
Name[fr]=Philippines
Name[fy]=Filippijnen
Name[ga]=Na hOileáin Fhilipíneacha
Name[gd]=Na h-Eileanan Filipineach
Name[gl]=Filipinas
Name[gu]=ફિલિપાઇન્સ
Name[he]=פיליפינים
Name[hi]=फिलिप्पीन्स
Name[hne]=फिलिप्पीन्स
Name[hr]=Filipini
Name[hsb]=Filipiny
Name[hu]=Fülöp-szigetek
Name[ia]=Philippinas, le
Name[id]=Filipina
Name[is]=Filippseyjar
Name[it]=Filippine
Name[ka]=ფილიპინები
Name[kk]=Филиппин
Name[km]=ហ្វ៊ីលីពីន
Name[kn]=ಫಿಲಿಫೀನ್ಸ್
Name[ko]=필리핀
Name[ku]=Fîlîpîn
Name[lt]=Filipinai
Name[lv]=Filipīnas
Name[mai]=फिलीपीन
Name[mk]=Филипини
Name[ml]=ഫിലിപ്പൈന്‍സ്
Name[mr]=फिलिपाइन्स
Name[ms]=Philippines
Name[nb]=Filippinene
Name[nds]=Philippinen
Name[ne]=फिलिपिन्स
Name[nl]=Filipijnen
Name[nn]=Filippinane
Name[oc]=Filipinas
Name[or]=ଫିଲିପିନ୍ସ
Name[pa]=ਫਿਲੀਪੀਨਜ਼
Name[pl]=Filipiny
Name[pt]=Filipinas
Name[pt_BR]=Filipinas
Name[ro]=Filipine
Name[ru]=Филиппины
Name[se]=Filippiinat
Name[si]=පිලිපීනය
Name[sk]=Filipíny
Name[sl]=Filipini
Name[sr]=Филипини
Name[sr@ijekavian]=Филипини
Name[sr@ijekavianlatin]=Filipini
Name[sr@latin]=Filipini
Name[sv]=Filippinerna
Name[ta]=பிலிப்பைன்ஸ்
Name[te]=ఫిలిపీన్స్
Name[tg]=Филиппин
Name[th]=ฟิลิปปินส์
Name[tr]=Filipinler
Name[ug]=فىلىپپىن
Name[uk]=Філіппіни
Name[uz]=Filippin
Name[uz@cyrillic]=Филиппин
Name[vi]=Phi-líp-pin
Name[wa]=Filipenes
Name[x-test]=xxPhilippinesxx
Name[zh_CN]=菲律宾
Name[zh_TW]=菲律賓
Region=southeastasia
Languages=en_GB
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=0
DateFormat[en_GB]=%A, %B %e, %Y
DateFormatShort=%n/%e/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=PHP
CurrencyCode=PHP
