[KCM Locale]
Author=Eugene Onischenko <oneugene@ukr.net>
Name=Ukraine
Name[ar]=أوكرانيا
Name[ast]=Ucraína
Name[bs]=Ukrajina
Name[ca]=Ucraïna
Name[ca@valencia]=Ucraïna
Name[cs]=Ukrajina
Name[da]=Ukraine
Name[de]=Ukraine
Name[en_GB]=Ukraine
Name[es]=Ucrania
Name[et]=Ukraina
Name[eu]=Ukraina
Name[fa]=اوکراین
Name[fi]=Ukraina
Name[fr]=Ukraine
Name[gd]=An Ucràin
Name[gl]=Ucraína
Name[hr]=Ukrajina
Name[hu]=Ukrajna
Name[ia]=Ukraina
Name[id]=Ukraina
Name[is]=Úkraína
Name[it]=Ucraina
Name[ka]=უკრაინა
Name[ko]=우크라이나
Name[lt]=Ukraina
Name[lv]=Ukraina
Name[mr]=यूक्रेन
Name[nb]=Ukraina
Name[nds]=Ukraine
Name[nl]=Oekraïne
Name[nn]=Ukraina
Name[pa]=ਯੂਕਰੇਨ
Name[pl]=Ukraina
Name[pt]=Ucrânia
Name[pt_BR]=Ucrânia
Name[ru]=Украина
Name[se]=Ukraina
Name[sk]=Ukrajina
Name[sl]=Ukrajina
Name[sr]=Украјина
Name[sr@ijekavian]=Украјина
Name[sr@ijekavianlatin]=Ukrajina
Name[sr@latin]=Ukrajina
Name[sv]=Ukraina
Name[tg]=Украина
Name[tr]=Ukrayna
Name[uk]=Україна
Name[x-test]=xxUkrainexx
Name[zh_CN]=乌克兰
Name[zh_TW]=烏克蘭
Region=easteurope
Languages=uk
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[uk]=%A, %d-%b-%Y
DateFormat[ru]=%A, %d-%b-%Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=UAH
CurrencyCode=UAH
