[KCM Locale]
Name=Xhosa
Name[af]=Xhosa
Name[ar]=الزّوسا
Name[as]=জোছা
Name[ast]=Xhosa
Name[be]=Кшоса
Name[be@latin]=Xhosa
Name[bg]=Ксоса
Name[bn]=খোসা
Name[bn_IN]=জোসা
Name[br]=Xhosa
Name[bs]=khosa
Name[ca]=Xosa
Name[ca@valencia]=Xosa
Name[cs]=Xhosa
Name[csb]=Xhosa
Name[cy]=Xhosa
Name[da]=Xhosa
Name[de]=Xhosa
Name[el]=Χόζα
Name[en_GB]=Xhosa
Name[eo]=Kosa
Name[es]=Xhosa
Name[et]=Xhosa
Name[eu]=Xhosera
Name[fa]=زسایی
Name[fi]=Xhosa
Name[fr]=Xhosa
Name[fy]=Xhosa
Name[ga]=Cóisis
Name[gd]=Xhosa
Name[gl]=Xhosa
Name[gu]=હોસા
Name[he]=קוזה
Name[hi]=झ़ोसा
Name[hne]=झ़ोसा
Name[hr]=Xhosa
Name[hsb]=Xhosa
Name[hu]=Xhosa
Name[ia]=Xhosa
Name[id]=Xhosa
Name[is]=Xhosa
Name[it]=Xhosa
Name[ja]=コサ語
Name[kk]=Кхоса
Name[km]=ឃសា
Name[kn]=ಕ್ಸೋಸಾ
Name[ko]=코사어
Name[ku]=Xhosa
Name[lb]=Xhosa
Name[lt]=Kosų
Name[lv]=Khosu
Name[mai]=झ़ोसा
Name[mk]=Ксоса
Name[ml]=ഖോസ
Name[mr]=झ़ोसा
Name[ms]=Xhosa
Name[nb]=Xhosa
Name[nds]=Xhosa
Name[ne]=होसा
Name[nl]=Xhosa
Name[nn]=Xhosa
Name[oc]=Xhosa
Name[or]=ଯୋଜା
Name[pa]=ਐਓਸਾ
Name[pl]=Xhosa
Name[ps]=کوسا
Name[pt]=Xhosa
Name[pt_BR]=Xhosa
Name[ro]=Xhosa
Name[ru]=Кшоса
Name[se]=Xhosagiella
Name[si]=හොසා
Name[sk]=Xhoština
Name[sl]=Koščina
Name[sr]=кхоса
Name[sr@ijekavian]=кхоса
Name[sr@ijekavianlatin]=khosa
Name[sr@latin]=khosa
Name[sv]=Xhosa
Name[ta]=சோசா
Name[te]=క్జొసా
Name[tg]=Хоса
Name[th]=ภาษาโคซา
Name[tr]=Xhosa
Name[tt]=Коса
Name[ug]=خوساچە
Name[uk]=Хоза
Name[uz]=Xosa
Name[uz@cyrillic]=Хоса
Name[vi]=Xhosa
Name[wa]=Xhossa
Name[xh]=isixhosa
Name[x-test]=xxXhosaxx
Name[zh_CN]=科萨语
Name[zh_HK]=科薩語
Name[zh_TW]=荷撒語
