[KCM Locale]
Name=Zimbabwe
Name[af]=Zimbabwe
Name[ar]=زمبابوي
Name[as]=জিম্বাবুয়ে
Name[ast]=Zimbabue
Name[be]=Зімбабвэ
Name[be@latin]=Zimbabve
Name[bg]=Зимбабве
Name[bn]=জিম্বাবোয়ে
Name[bn_IN]=জিম্বাবুয়ে
Name[br]=Zimbabwe
Name[bs]=Zimbabve
Name[ca]=Zimbàbue
Name[ca@valencia]=Zimbàbue
Name[cs]=Zimbabwe
Name[csb]=Zimbabwe
Name[cy]=Simbabwe
Name[da]=Zimbabwe
Name[de]=Simbabwe
Name[el]=Ζιμπάμπουε
Name[en_GB]=Zimbabwe
Name[eo]=Zimbabvo
Name[es]=Zimbabue
Name[et]=Zimbabwe
Name[eu]=Zimbabwe
Name[fa]=زیمبابوه
Name[fi]=Zimbabwe
Name[fr]=Zimbabwe
Name[fy]=Zimbabwe
Name[ga]=An tSiombáib
Name[gd]=An t-Sìombab
Name[gl]=Cimbabue
Name[gu]=ઝીમ્બાબવે
Name[he]=זימבבואה
Name[hi]=जिम्बाबवे
Name[hne]=जिम्बाबवे
Name[hr]=Zimbabve
Name[hsb]=Zimbabwe
Name[hu]=Zimbabwe
Name[ia]=Zimbabwe
Name[id]=Zimbabwe
Name[is]=Simbabve
Name[it]=Zimbabwe
Name[ka]=ზიმბაბვე
Name[kk]=Зимбабве
Name[km]=ហ្ស៊ីមបាវ៉េ
Name[kn]=ಝಿಂಬಾಬ್ವೆ
Name[ko]=짐바브웨
Name[ku]=Zimbabwe
Name[lt]=Zimbabwe
Name[lv]=Zimbabve
Name[mai]=जिंबाब्वे
Name[mk]=Зимбабве
Name[ml]=സിംബാബ്വേ
Name[mr]=झिम्बाब्वे
Name[ms]=Zimbabwe
Name[nb]=Zimbabwe
Name[nds]=Simbabwe
Name[ne]=जिम्बावे
Name[nl]=Zimbabwe
Name[nn]=Zimbabwe
Name[oc]=Zimbabwe
Name[or]=ଜିମ୍ବାୱେ
Name[pa]=ਜਿੰਬਾਬਵੇਂ
Name[pl]=Zimbabwe
Name[pt]=Zimbabwe
Name[pt_BR]=Zimbábue
Name[ro]=Zimbabwe
Name[ru]=Зимбабве
Name[se]=Zimbabwe
Name[si]=සිම්බාබ්වේ
Name[sk]=Zimbabwe
Name[sl]=Zimbabve
Name[sr]=Зимбабве
Name[sr@ijekavian]=Зимбабве
Name[sr@ijekavianlatin]=Zimbabve
Name[sr@latin]=Zimbabve
Name[sv]=Zimbabwe
Name[ta]=ஜிம்பாபே
Name[te]=జింబాబ్వె
Name[tg]=Зимбабве
Name[th]=ซิมบับเว
Name[tr]=Zimbabwe
Name[ug]=زىمبابۋې
Name[uk]=Зімбабве
Name[uz]=Zimbabve
Name[uz@cyrillic]=Зимбабве
Name[vi]=Zimbabwe
Name[wa]=Zimbabwè
Name[x-test]=xxZimbabwexx
Name[zh_CN]=津巴布韦
Name[zh_TW]=辛巴威
Region=southafrica
Languages=en_GB
DecimalSymbol=.
ThousandsSeparator=.
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat[en_GB]=%A %d %B %Y
DateFormatShort=%e/%n/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD,ZAR,BWP,GBP,EUR,ZWL
CurrencyCode=USD
