[KCM Locale]
Name=Arabic
Name[af]=Arabiese
Name[ar]=العربيّة
Name[as]=আৰবীয়
Name[ast]=Árabe
Name[be]=Арабская
Name[be@latin]=Arabskaja
Name[bg]=Арабски
Name[bn]=আরবী
Name[bn_IN]=আরবি
Name[br]=Arabeg
Name[bs]=arapski
Name[ca]=Àrab
Name[ca@valencia]=Àrab
Name[cs]=Arabský
Name[csb]=Arabsczi
Name[cy]=Arabeg
Name[da]=Arabisk
Name[de]=Arabisch
Name[el]=Αραβικά
Name[en_GB]=Arabic
Name[eo]=Araba
Name[es]=Árabe
Name[et]=Araabia
Name[eu]=Arabiera
Name[fa]=عربی
Name[fi]=Arabia
Name[fr]=Arabe
Name[fy]=Arabysk
Name[ga]=Araibis
Name[gd]=Arabais
Name[gl]=Árabe
Name[gu]=અરેબીક
Name[he]=ערבית
Name[hi]=अरबी
Name[hne]=अरबी
Name[hr]=Arapski
Name[hsb]=Arabsce
Name[hu]=Arab
Name[ia]=Arabe 
Name[id]=Arab
Name[is]=Arabíska
Name[it]=Arabo
Name[ja]=アラビア語
Name[kk]=Арабша
Name[km]=អារ៉ាប់
Name[kn]=ಅರೇಬಿಕ್
Name[ko]=아라비아어
Name[ku]=Erebî
Name[lb]=Arabesch
Name[lt]=Arabų
Name[lv]=Arābu
Name[mai]=अरबी
Name[mk]=Арапски
Name[ml]=അറബി
Name[mr]=अरेबिक
Name[ms]=Arab
Name[nb]=Arabisk
Name[nds]=Araabsch
Name[ne]=अरबी
Name[nl]=Arabisch
Name[nn]=Arabisk
Name[oc]=Arab
Name[or]=ଆରାବିକ
Name[pa]=ਅਰਬੀ
Name[pl]=Arabski
Name[ps]=عربي
Name[pt]=Árabe
Name[pt_BR]=Árabe
Name[ro]=Arabă
Name[ru]=Арабский
Name[se]=Arábagiella
Name[si]=අරාබි
Name[sk]=Arabčina
Name[sl]=Arabščina
Name[sq]=Arabisht
Name[sr]=арапски
Name[sr@ijekavian]=арапски
Name[sr@ijekavianlatin]=arapski
Name[sr@latin]=arapski
Name[sv]=Arabiska
Name[ta]=அராபிக்
Name[te]=అరబిక్
Name[tg]=Арабӣ
Name[th]=ภาษาอารบิก
Name[tr]=Arapça
Name[tt]=Гарәп
Name[ug]=ئەرەبچە
Name[uk]=Арабська
Name[uz]=Arabcha
Name[uz@cyrillic]=Арабча
Name[vi]=Ả Rập
Name[wa]=Arabe
Name[xh]=Arabic
Name[x-test]=xxArabicxx
Name[zh_CN]=阿拉伯语
Name[zh_HK]=阿拉伯語
Name[zh_TW]=阿拉伯語
