[KCM Locale]
Name=Malayalam
Name[ar]=الماليالاميّة
Name[as]=মলয়ালম
Name[ast]=Malayalam
Name[be@latin]=Malayalam
Name[bg]=Малаялам
Name[bn]=মলয়লম
Name[bn_IN]=মালায়ালম
Name[bs]=malajalam
Name[ca]=Malaiàlam
Name[ca@valencia]=Malaiàlam
Name[cs]=Malayalam
Name[csb]=Malajalamsczi
Name[da]=Malayalisk
Name[de]=Malayalam
Name[el]=Malayalam
Name[en_GB]=Malayalam
Name[eo]=Malajala
Name[es]=Malabar
Name[et]=Malajalami
Name[eu]=Malabarera
Name[fa]=مالایالام
Name[fi]=Malajalam
Name[fr]=Malayalam
Name[fy]=Malayalam
Name[ga]=Mailéalaimis
Name[gd]=Malayalam
Name[gl]=Malaialam
Name[gu]=મલયાલમ
Name[he]=מלאיאלאם
Name[hi]=मलयालम
Name[hne]=मलयालम
Name[hr]=Malajalamski
Name[hsb]=Malayalam
Name[hu]=Malajálam
Name[ia]=Malayalam
Name[id]=Malayalam
Name[is]=Malayalam
Name[it]=Malayalam
Name[ja]=マラヤーラム語
Name[kk]=Малайам
Name[km]=ម៉ាឡាយ៉ាឡាម
Name[kn]=ಮಲಯಾಳಂ
Name[ko]=말라얄람어
Name[ku]=Malayalam
Name[lt]=Malayalam
Name[lv]=Malajaliešu
Name[mai]=मलयालम
Name[mk]=Малајам
Name[ml]=മലയാളം
Name[mr]=मल्यालम
Name[ms]=Malayalam
Name[nb]=Malayalam
Name[nds]=Malayalam
Name[nl]=Malayalam
Name[nn]=Malayalam
Name[oc]=Malayalam
Name[or]=ମାଲାୟାଲମ
Name[pa]=ਮਲਿਆਲਮ
Name[pl]=Malajalam
Name[ps]=ملايالم
Name[pt]=Malayalam
Name[pt_BR]=Malaiala
Name[ro]=Malayalam
Name[ru]=Малайялам
Name[se]=Malayalam
Name[si]=මලයාලම්
Name[sk]=Malajálamčina
Name[sl]=Malajalamščina
Name[sr]=малајалам
Name[sr@ijekavian]=малајалам
Name[sr@ijekavianlatin]=malajalam
Name[sr@latin]=malajalam
Name[sv]=Malayalam
Name[ta]=மலையாளம்
Name[te]=మలయాళం
Name[tg]=Малаямӣ
Name[th]=ภาษามะละยาลัม
Name[tr]=Malayalam
Name[tt]=Малаялам
Name[ug]=مالايامچە
Name[uk]=Малаялам
Name[uz]=Malayalam
Name[uz@cyrillic]=Малайалам
Name[vi]=Malayalam
Name[wa]=Malayalam
Name[x-test]=xxMalayalamxx
Name[zh_CN]=马拉雅拉姆语
Name[zh_TW]=馬來語
