[KCM Locale]
Name=Icelandic
Name[af]=Yslandiese
Name[ar]=الإيسلنديّة
Name[as]=আইচ্‌লেণ্ডিক
Name[ast]=Islandés
Name[be]=Ісландская
Name[be@latin]=Iślandzkaja
Name[bg]=Исландски
Name[bn]=আইসল্যান্ডিক
Name[bn_IN]=আইসল্যান্ডিক
Name[br]=Islandeg
Name[bs]=islandski
Name[ca]=Islandès
Name[ca@valencia]=Islandés
Name[cs]=Islandský
Name[csb]=Islandzczi
Name[cy]=Islandeg
Name[da]=Islandsk
Name[de]=Isländisch
Name[el]=Ισλανδικά
Name[en_GB]=Icelandic
Name[eo]=Islanda
Name[es]=Islandés
Name[et]=Islandi
Name[eu]=Islandiera
Name[fa]=ایسلندی
Name[fi]=Islanti
Name[fr]=Islandais
Name[fy]=Iislânsk
Name[ga]=Íoslainnis
Name[gd]=Innis Tìlis
Name[gl]=Islandés
Name[gu]=આઈલેન્ડિક
Name[he]=איסלנדית
Name[hi]=आइसलैंडिक
Name[hne]=आइसलैंडिक
Name[hr]=Islandski
Name[hsb]=Islandsce
Name[hu]=Izlandi
Name[ia]=Islandese 
Name[id]=Islandia
Name[is]=Íslenska
Name[it]=Islandese
Name[ja]=アイスランド語
Name[kk]=Исландша
Name[km]=អ៊ីស្លង់
Name[kn]=ಐಸ್ಲ್ಯಾಂಡಿಕ್
Name[ko]=아이슬란드어
Name[ku]=Îzlandî
Name[lb]=Islännesch
Name[lt]=Islandų
Name[lv]=Islandiešu
Name[mai]=आइसलैंडिक
Name[mk]=Исландски
Name[ml]=ഐസ്ലാന്‍ഡിക്
Name[mr]=आयलॅंडिक
Name[ms]=Icelandic
Name[nb]=Islandsk
Name[nds]=Islannsch
Name[ne]=आइसल्याण्डी
Name[nl]=IJslands
Name[nn]=Islandsk
Name[oc]=Islandés
Name[or]=ଆଇସଲେଣ୍ଡିକ
Name[pa]=ਆਇਸਲੈਂਡੀ
Name[pl]=Islandzki
Name[ps]=اېسلېنډي
Name[pt]=Islandês
Name[pt_BR]=Islandês
Name[ro]=Islandeză
Name[ru]=Исландский
Name[se]=Islánddagiella
Name[si]=අයිස්ලන්ත
Name[sk]=Islandčina
Name[sl]=Islandščina
Name[sq]=Islandisht
Name[sr]=исландски
Name[sr@ijekavian]=исландски
Name[sr@ijekavianlatin]=islandski
Name[sr@latin]=islandski
Name[sv]=Isländska
Name[ta]=ஐஸ்லாந்தியம்
Name[te]=ఐస్ లేండిక్
Name[tg]=Исландӣ
Name[th]=ภาษาไอซ์แลนด์
Name[tr]=İzlanda Dili
Name[tt]=Исланд
Name[ug]=ئىسلاندچە
Name[uk]=Ісландська
Name[uz]=Islandcha
Name[uz@cyrillic]=Исландча
Name[vi]=Iceland
Name[wa]=Izlandès
Name[xh]=Icelandic
Name[x-test]=xxIcelandicxx
Name[zh_CN]=冰岛语
Name[zh_HK]=冰島語
Name[zh_TW]=冰島語
