#! /bin/sh
# for printing black and white text (ascii) files.
FILTER="/usr/local/bin/bw.if"
#FILTER="/usr/local/bin/bweco.if"
#------enscript command line--------------------------
enscript -2rj -p- | $FILTER

