[KCM Locale]
Name=Eritrea
Name[af]=Eritrea
Name[ar]=أريتريا
Name[as]=এৰিট্ৰিয়া
Name[ast]=Eritrea
Name[be]=Эрытрэя
Name[be@latin]=Erytreja
Name[bg]=Еритрея
Name[bn]=এরিট্রিয়া
Name[bn_IN]=এরিট্রিয়া
Name[br]=Eritre
Name[bs]=Eritreja
Name[ca]=Eritrea
Name[ca@valencia]=Eritrea
Name[cs]=Eritrea
Name[csb]=Erytrea
Name[cy]=Eritrea
Name[da]=Eritrea
Name[de]=Eritrea
Name[el]=Ερυθραία
Name[en_GB]=Eritrea
Name[eo]=Eritreo
Name[es]=Eritrea
Name[et]=Eritrea
Name[eu]=Eritrea
Name[fa]=اریتره
Name[fi]=Eritrea
Name[fr]=Érythrée
Name[fy]=Eritrea
Name[ga]=Eiritré
Name[gd]=Eartra
Name[gl]=Eritrea
Name[gu]=ઇરિટ્રિયા
Name[he]=אריתריאה
Name[hi]=एरिट्रीया
Name[hne]=एरिट्रीया
Name[hr]=Eritreja
Name[hsb]=Eritreja
Name[hu]=Eritrea
Name[ia]=Eritrea
Name[id]=Eritrea
Name[is]=Erítrea
Name[it]=Eritrea
Name[ka]=ერითრეა
Name[kk]=Эритрея
Name[km]=អេរីទ្រា
Name[kn]=ಎರಿಟ್ರಿಯಾ
Name[ko]=에리트레아
Name[ku]=Erître
Name[lt]=Eritrėja
Name[lv]=Eritreja
Name[mai]=इरीट्रिया
Name[mk]=Еритреја
Name[ml]=എറിട്രിയാ
Name[mr]=एरिट्रिआ
Name[ms]=Eritrea
Name[nb]=Eritrea
Name[nds]=Eritrea
Name[ne]=इरिट्राया
Name[nl]=Eritrea
Name[nn]=Eritrea
Name[oc]=Eritrèa
Name[or]=ଇରିଟ୍ରି
Name[pa]=ਈਰੀਟਰੀਆ
Name[pl]=Erytrea
Name[pt]=Eritreia
Name[pt_BR]=Eritreia
Name[ro]=Eritreea
Name[ru]=Эритрея
Name[se]=Eritrea
Name[si]=එතිත්‍රියාව
Name[sk]=Eritrea
Name[sl]=Eritreja
Name[sr]=Еритреја
Name[sr@ijekavian]=Еритреја
Name[sr@ijekavianlatin]=Eritreja
Name[sr@latin]=Eritreja
Name[sv]=Eritrea
Name[ta]=ரிட்ரியா
Name[te]=ఎరిట్రియా
Name[tg]=Эритрея
Name[th]=เอริเทรีย
Name[tr]=Eritre
Name[ug]=ئېرىترېيە
Name[uk]=Еритрея
Name[uz]=Eritriya
Name[uz@cyrillic]=Эритрия
Name[vi]=Eritrea
Name[wa]=Eritrêye
Name[x-test]=xxEritreaxx
Name[zh_CN]=厄立特里亚
Name[zh_TW]=厄利垂亞
Region=northafrica
Languages=ti,ar
DecimalSymbol=.
ThousandsSeparator=.
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
#DateFormat[ti]=
DateFormatShort=%d/%m/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ERN
CurrencyCode=ERN
