[KCM Locale]
Name=Italy
Name[ar]=إيطاليا
Name[ast]=Italia
Name[bs]=Italija
Name[ca]=Itàlia
Name[ca@valencia]=Itàlia
Name[cs]=Itálie
Name[da]=Italien
Name[de]=Italien
Name[en_GB]=Italy
Name[es]=Italia
Name[et]=Itaalia
Name[eu]=Italia
Name[fa]=ایتالیا
Name[fi]=Italia
Name[fr]=Italie
Name[gd]=An Eadailt
Name[gl]=Italia
Name[hr]=Italija
Name[hu]=Olaszország
Name[ia]=Italia
Name[id]=Italia
Name[is]=Ítalía
Name[it]=Italia
Name[ka]=იტალია
Name[ko]=이탈리아
Name[lt]=Italija
Name[lv]=Itālija
Name[mr]=इटली
Name[nb]=Italia
Name[nds]=Italien
Name[nl]=Italië
Name[nn]=Italia
Name[pa]=ਇਟਲੀ
Name[pl]=Włochy
Name[pt]=Itália
Name[pt_BR]=Itália
Name[ru]=Италия
Name[se]=Itália
Name[sk]=Taliansko
Name[sl]=Italija
Name[sr]=Италија
Name[sr@ijekavian]=Италија
Name[sr@ijekavianlatin]=Italija
Name[sr@latin]=Italija
Name[sv]=Italien
Name[tg]=Италия
Name[tr]=İtalya
Name[uk]=Італія
Name[x-test]=xxItalyxx
Name[zh_CN]=意大利
Name[zh_TW]=義大利
Region=southeurope
Languages=it,de
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
NegativeMonetarySignPosition=1
DateFormat[it]=%A %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%n/%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
AddressFormat=%0(%cm\n)%0(%n\n)%0(%S\n)%0(CASELLA POSTALE %p\n)%0(%z%w%L)%w%R
AddressCountryPosition=BELOW
