[KCM Locale]
Name=Estonia
Name[ar]=إستونيا
Name[ast]=Estonia
Name[bs]=Estonija
Name[ca]=Estònia
Name[ca@valencia]=Estònia
Name[cs]=Estonsko
Name[da]=Estland
Name[de]=Estland
Name[en_GB]=Estonia
Name[es]=Estonia
Name[et]=Eesti
Name[eu]=Estonia
Name[fa]=استونی
Name[fi]=Viro
Name[fr]=Estonie
Name[gd]=An Eastoin
Name[gl]=Estonia
Name[hr]=Estonija
Name[hu]=Észtország
Name[ia]=Estonia
Name[id]=Estonia
Name[is]=Eistland
Name[it]=Estonia
Name[ka]=ესტონეთი
Name[ko]=에스토니아
Name[lt]=Estija
Name[lv]=Igaunija
Name[mr]=एस्तोनिया
Name[nb]=Estland
Name[nds]=Eestland
Name[nl]=Estland
Name[nn]=Estland
Name[pa]=ਈਸਟੋਨੀਆ
Name[pl]=Estonia
Name[pt]=Estónia
Name[pt_BR]=Estônia
Name[ru]=Эстония
Name[se]=Estteeana
Name[sk]=Estónsko
Name[sl]=Estonija
Name[sr]=Естонија
Name[sr@ijekavian]=Естонија
Name[sr@ijekavianlatin]=Estonija
Name[sr@latin]=Estonija
Name[sv]=Estland
Name[tg]=Эстония
Name[tr]=Estonya
Name[uk]=Естонія
Name[x-test]=xxEstoniaxx
Name[zh_CN]=爱沙尼亚
Name[zh_TW]=愛沙尼亞
Region=northeurope
Languages=et
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[et]=%A, %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
