[KCM Locale]
Name=Madagascar
Name[ar]=مدغشقر
Name[ast]=Madagascar
Name[bs]=Madagaskar
Name[ca]=Madagascar
Name[ca@valencia]=Madagascar
Name[cs]=Madagaskar
Name[da]=Madagascar
Name[de]=Madagaskar
Name[en_GB]=Madagascar
Name[es]=Madagascar
Name[et]=Madagaskar
Name[eu]=Madagaskar
Name[fa]=ماداگاسکار
Name[fi]=Madagaskar
Name[fr]=Madagascar
Name[gd]=Madagasgar
Name[gl]=Madagascar
Name[hr]=Madagaskar
Name[hu]=Madagaszkár
Name[ia]=Madagascar
Name[id]=Madagaskar
Name[is]=Madagaskar
Name[it]=Madagascar
Name[ka]=მადაგასკარი
Name[ko]=마다가스카르
Name[lt]=Madagaskaras
Name[lv]=Madagaskara
Name[mr]=मादागास्कर
Name[nb]=Madagaskar
Name[nds]=Madagaskar
Name[nl]=Madagascar
Name[nn]=Madagaskar
Name[oc]=Madagascar
Name[pa]=ਮੈਡਾਗਾਸਕਰ
Name[pl]=Madagaskar
Name[pt]=Madagáscar
Name[pt_BR]=Madagascar
Name[ru]=Мадагаскар
Name[se]=Madagaskar
Name[sk]=Madagaskar
Name[sl]=Madagaskar
Name[sr]=Мадагаскар
Name[sr@ijekavian]=Мадагаскар
Name[sr@ijekavianlatin]=Madagaskar
Name[sr@latin]=Madagaskar
Name[sv]=Madagaskar
Name[tg]=Мадагаcкаp
Name[tr]=Madagaskar
Name[uk]=Мадагаскар
Name[x-test]=xxMadagascarxx
Name[zh_CN]=马达加斯加
Name[zh_TW]=馬達加斯加
Region=southafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
MonetaryDecimalPlaces=1
CurrencyCodesInUse=MGA
CurrencyCode=MGA
