[KCM Locale]
Name=Gujarati
Name[ar]=الغوجاراتيّة
Name[as]=গুজৰাটী
Name[ast]=Guyaratín
Name[be@latin]=Gujarati
Name[bg]=Гуджарати
Name[bn]=গুজরাতি
Name[bn_IN]=গুজরাটি
Name[bs]=gudžarati
Name[ca]=Gujarati
Name[ca@valencia]=Gujarati
Name[cs]=Gujarati
Name[csb]=Gujarati
Name[da]=Gujarati
Name[de]=Gujarati
Name[el]=Gujarati
Name[en_GB]=Gujarati
Name[eo]=Guĝarata
Name[es]=Gujarati
Name[et]=Gudžarati
Name[eu]=Gujaratera
Name[fa]=گوجاراتی
Name[fi]=Gudžarati
Name[fr]=Goudjarati
Name[fy]=Gujarati
Name[ga]=Gúisearáitis
Name[gd]=Gujarati
Name[gl]=Gujarati
Name[gu]=ગુજરાતી
Name[he]=ג'וג'ראטית
Name[hi]=गुजराती
Name[hne]=गुजराती
Name[hr]=Gudžaratski
Name[hsb]=Gujarati
Name[hu]=Gudzsarati
Name[ia]=Gujarati 
Name[id]=Gujarati
Name[is]=Gujarati
Name[it]=Gujarati
Name[ja]=グジャラート語
Name[kk]=Гуджарати
Name[km]=ហ្កុយ៉ារាទី
Name[kn]=ಗುಜರಾತಿ
Name[ko]=구자라트어
Name[ku]=Gucaratî
Name[lt]=Gudžarati
Name[lv]=Gudžaratu
Name[mai]=गुजराती
Name[mk]=Гуџарати
Name[ml]=ഗുജറാത്തി
Name[mr]=गुजराती
Name[ms]=Gujarati
Name[nb]=Gujarati
Name[nds]=Gudscharati
Name[nl]=Gujarati
Name[nn]=Gujarati
Name[oc]=Gujarati
Name[or]=ଗୁଜରାତି
Name[pa]=ਗੁਜਰਾਤੀ
Name[pl]=Gudźarati
Name[ps]=ګجراتي
Name[pt]=Gujarati
Name[pt_BR]=Guzerate
Name[ro]=Gujarati
Name[ru]=Гуджарати
Name[se]=Gujaratigiella
Name[si]=ගුජරාති
Name[sk]=Gudžarátčina
Name[sl]=Gudžaratščina
Name[sq]=Guxharati
Name[sr]=гуџарати
Name[sr@ijekavian]=гуџарати
Name[sr@ijekavianlatin]=gudžarati
Name[sr@latin]=gudžarati
Name[sv]=Gujarati
Name[ta]=குஜராத்தி
Name[te]=గుజరాతి
Name[tg]=Гуҷаратӣ
Name[th]=ภาษาคุชราตี
Name[tr]=Gujarati
Name[tt]=Гөҗәрәти
Name[ug]=گۇجاراتچە
Name[uk]=Гуджараті
Name[uz]=Gujarati
Name[uz@cyrillic]=Гужарати
Name[vi]=Gujarati
Name[wa]=Goudjarati
Name[x-test]=xxGujaratixx
Name[zh_CN]=古吉拉特语
Name[zh_TW]=Gujarati
