[KCM Locale]
Name=Laos
Name[af]=Laos
Name[ar]=لاووس
Name[as]=লাও
Name[ast]=Laos
Name[be]=Лаос
Name[be@latin]=Laos
Name[bg]=Лаос
Name[bn]=লাওস
Name[bn_IN]=লাও
Name[br]=Laos
Name[bs]=Laos
Name[ca]=Laos
Name[ca@valencia]=Laos
Name[cs]=Laos
Name[csb]=Laòs
Name[cy]=Laos
Name[da]=Laos
Name[de]=Laos
Name[el]=Λάος
Name[en_GB]=Laos
Name[eo]=Laoso
Name[es]=Laos
Name[et]=Laos
Name[eu]=Laos
Name[fa]=لائوس
Name[fi]=Laos
Name[fr]=Laos
Name[fy]=Laos
Name[ga]=Laos
Name[gd]=Làthos
Name[gl]=Laos
Name[gu]=લાઓસ
Name[he]=לאוס
Name[hi]=लाओस
Name[hne]=लाओस
Name[hr]=Laos
Name[hsb]=Laos
Name[hu]=Laosz
Name[ia]=Laos
Name[id]=Laos
Name[is]=Laos
Name[it]=Laos
Name[ka]=ლაოსი
Name[kk]=Лаос
Name[km]=ឡាវ
Name[kn]=ಲಾವೋಸ್
Name[ko]=라오스
Name[ku]=Laos
Name[lt]=Laosas
Name[lv]=Laosa
Name[mai]=लाओस
Name[mk]=Лаос
Name[ml]=ലാവോസ്
Name[mr]=लाओस
Name[ms]=Laos
Name[nb]=Laos
Name[nds]=Laos
Name[ne]=लाओस
Name[nl]=Laos
Name[nn]=Laos
Name[or]=ଲାଓ
Name[pa]=ਲਿਉਸ
Name[pl]=Laos
Name[pt]=Laos
Name[pt_BR]=Laos
Name[ro]=Laos
Name[ru]=Лаос
Name[se]=Laos
Name[si]=ලාඔසය
Name[sk]=Laos
Name[sl]=Laos
Name[sr]=Лаос
Name[sr@ijekavian]=Лаос
Name[sr@ijekavianlatin]=Laos
Name[sr@latin]=Laos
Name[sv]=Laos
Name[ta]=லாஸ்
Name[te]=లావొస్
Name[tg]=Лаос
Name[th]=ลาว
Name[tr]=Laos
Name[ug]=لائوس
Name[uk]=Лаос
Name[uz]=Laos
Name[uz@cyrillic]=Лаос
Name[vi]=Lào
Name[wa]=Lawosse
Name[x-test]=xxLaosxx
Name[zh_CN]=老挝
Name[zh_TW]=寮國
Region=southeastasia
Languages=fr,en
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=0
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=LAK
CurrencyCode=LAK
