[KCM Locale]
Name=Sweden
Name[ar]=السّويد
Name[ast]=Suecia
Name[bs]=Švedska
Name[ca]=Suècia
Name[ca@valencia]=Suècia
Name[cs]=Švédsko
Name[da]=Sverige
Name[de]=Schweden
Name[en_GB]=Sweden
Name[es]=Suecia
Name[et]=Rootsi
Name[eu]=Suedia
Name[fa]=سوئد
Name[fi]=Ruotsi
Name[fr]=Suède
Name[gd]=An t-Suain
Name[gl]=Suecia
Name[hr]=Švedska
Name[hu]=Svédország
Name[ia]=Svedia
Name[id]=Swedia
Name[is]=Svíþjóð
Name[it]=Svezia
Name[ka]=შვედეთი
Name[ko]=스웨덴
Name[lt]=Švedija
Name[lv]=Zviedrija
Name[mr]=स्वीडन
Name[nb]=Sverige
Name[nds]=Sweden
Name[nl]=Zweden
Name[nn]=Sverige
Name[pa]=ਸਵੀਡਨ
Name[pl]=Szwecja
Name[pt]=Suécia
Name[pt_BR]=Suécia
Name[ru]=Швеция
Name[se]=Ruoŧŧa
Name[sk]=Švédsko
Name[sl]=Švedska
Name[sr]=Шведска
Name[sr@ijekavian]=Шведска
Name[sr@ijekavianlatin]=Švedska
Name[sr@latin]=Švedska
Name[sv]=Sverige
Name[tg]=Шветсия
Name[tr]=İsveç
Name[uk]=Швеція
Name[x-test]=xxSwedenxx
Name[zh_CN]=瑞典
Name[zh_TW]=瑞典
Region=northeurope
Languages=sv,se
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sv]=%Aen den %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormat[se]=%A, %B %e. b. %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H.%M.%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%n\n%0(%cm\n)%0(Box %p\n)%0(%s\n)%z%w%w%L
AddressCountryPosition=below
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SEK
CurrencyCode=SEK
